[2019-08-22 11:44] csells opened #2 "[CORS] No 'Access-Control-Allow-Origin' header is present on the requested resource"
**Describe the bug**
The following curl command works:

curl 'https://donjon.bin.sh/name/rpc.cgi?type=Party&n=10'

the equivalent command in postwoman doesn't work:

![image](https://user-images.githubusercontent.com/2568253/63511918-148f5b80-c4a8-11e9-9b4a-0384a3a2e106.png)

**Desktop (please complete the following information):**
 - OS: macOS
 - Browser chrome
 - Version 76

[2019-08-22 11:45] csells commented on #2
BTW, the curl command also works on plain http:// but postwoman doesn't work with a http:// URL either.

[2019-08-22 12:06] AndrewBastin commented on #2
Umm, well its a restriction due to the CORS (Cross Origin Request Policy), there isn't a client side work around to this unless the host your trying to access should respond with the appropriate CORS headers...

More info on CORS : [https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS)

If you really want to circumvent the CORS policies and

[2019-08-22 12:59] banezaklan opened #4 "Serialize a request into JSON?"
Hey there, have you already planned for serializing entire request into JSON? I'm looking for a simple way to document a REST API, and make it "interactable" in the same time.
Like postman has these "Collections" but simpler I think...

[2019-08-22 13:02] AndrewBastin commented on #4
Hey....

That seems dope, I will work on a PR for that...

[2019-08-22 13:13] jgroom33 opened #5 "Readable"
A test flow should be readable in a repository. It should not require a UI to run the tests. It should be succinct and compact.

Reference [ansible uri](https://docs.ansible.com/ansible/latest/modules/uri_module.html) and [strest](https://github.com/eykrehbein/strest) for examples.

Handling loops, if conditions, and wait should also be possible without requiring the tester to write JavaScript.

[2019-08-22 17:53] Spiker985 opened #8 "Simple Misspelling"
**Describe the bug**
Misspelling

**To Reproduce**
Parameter List Dropdown - (add atleast one parameter)

**Expected behavior**
"At least", are two words, not one - though English is a pain...

**Screenshots**
![image](https://user-images.githubusercontent.com/7829451/63537531-f5aeba80-c4e3-11e9-81a6-b8ca3c428ade.png)

**Desktop (please complete the following information):**
 - OS: W10
 - Browser:

[2019-08-22 18:04] liyasthomas commented on #5
I didn't get what you meant. Please elaborate what you tried to convey. I would like to hear what you've to share.

[2019-08-22 19:12] liyasthomas commented on #8
Fixed in #9

[2019-08-22 19:12] #8 closed

[2019-08-22 20:44] abraham commented on #2
With #15 there is now an error displayed when CORS blocks requests.

[2019-08-22 21:21] aashutoshrathi opened #16 "GET on my Glitch API doesn't work"
**Describe the bug**
A simple GET request on http://aashutoshrathi.glitch.me/api/self/gh gives the error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://liyasthomas.github.io/postwoman/
2. Select Method as "GET"
3. URL as `http://aashutoshrathi.glitch.me`
4. And Path as `/api/self/gh`
5. Then send a request.

**Expected behavior**

It should result in response same as http://a

[2019-08-22 21:23] aashutoshrathi opened #17 "Send request on Enter Key press"
**Is your feature request related to a problem? Please describe.**
It will be easy if on pressing enter I can send the request.

**Describe the solution you'd like**
A simple onClick event listener to top 3 inputs, which will validate and submit the form if `event.keyCode === 13`.

[2019-08-22 21:31] jgroom33 commented on #5
one of the challenges with Postman is that it requires a UI to run and update tests.  The json output of a postman collection is unreadable because it is too complex.  because of this complexity, when these json collections are committed to a git repository they are essentially binaries that require a UI.

A better solution is to use YAML that implements a DSL for executions.  This eliminates the

[2019-08-22 21:50] shmurf commented on #2
There are browser plugins that you can use to get around the CORS issue but beware, CORS is there for a reason, only use the plugin when debugging or using a site like this
Here is one such plugin
https://chrome.google.com/webstore/detail/moesif-orign-cors-changer/digfbfaphojjndkpccljibejjbppifbc?hl=en-US

[2019-08-22 21:52] striebwj commented on #16
Use https:// instead of http://.

Here is a screenshot from when I ran it using https://:
![Screen Shot 2019-08-22 at 5 51 22 PM](https://user-images.githubusercontent.com/14165147/63552392-877aef80-c505-11e9-8cbb-139cd32e75f9.png)

Here is a comment about http not working right now: [link to comment](https://github.com/liyasthomas/postwoman/issues/2#issuecomment-523870224)

[2019-08-22 22:13] NileshSP opened #19 "PWA not installable"
**Describe the bug**
"Install PWA" button doesn't work

**To Reproduce**
Steps to reproduce the behavior:
2. Click on 'Install PWA' button
4. Effect - Not installed

**Expected behavior**
Doesn't provide "Install App?" dialog to proceed

**Screenshots**
Lighthouse suggestions through 'Audit' tab in devtools for troubleshooting
![image](https://user-images.githubusercontent.com/13110493/63553172-a6

[2019-08-23 00:59] liyasthomas commented on #16
Possible duplicate of #2.
CORS is a server side security policy feature which blocks API calls from any non-HTTPS requests.

[2019-08-23 01:06] liyasthomas commented on #5
Thanks for you quick clarification. I'll look into it.

[2019-08-23 04:00] liyasthomas commented on #19
#22 fixed this.
Tested and approved.

[2019-08-23 04:00] #19 closed

[2019-08-23 05:03] AndrewBastin commented on #17
@liyasthomas please close the issue as the associated PR is merged.

[2019-08-23 05:09] liyasthomas commented on #17
#23 fixes this issue.

[2019-08-23 05:09] #17 closed

[2019-08-23 05:41] steviebeenz opened #26 "Add DB cache"
Add Firebase DB for storage of requests, and cache with Auth to access this log. Have workspace tabs, too maybe?

[2019-08-23 05:58] liyasthomas commented on #26
That sounds like a splendid idea :100:

[2019-08-23 07:19] curtchan opened #29 "Ability to store/share/create collections"
I like the idea of your project, but first thing that i noticed that it lacks comparing to postman - shareable/saveable collections

It would require:
* ability to group requests into collections (naming requests, naming collections, ordering them)
* ability to save collection/read collection (json export/import?, storing in browser storage?)

[2019-08-23 07:40] LeoVie opened #30 "Add copy response to clipboard button"
Add a button with a caption like "Copy to clipboard" or some fancy icon above the response text field to directly copy the response to the users clipboard.

[2019-08-23 09:42] diego81b opened #31 "Vue template"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Why don't move to a standard vue template using vue-cli and benefit of the base configuration ?

**Describe alternatives you've considered**
Maybe could be cool to move to v3 of vue and starting with Composition API

**Additional context**
No

[2019-08-23 10:00] liyasthomas commented on #31
Rewriting all of Postwoman to latest vue is also a prime concern for me-but I can't afford to break any features. Will surely consider your advice :open_hands:

[2019-08-23 10:20] Beelzenef opened #32 "Template selector"
**Is your feature request related to a problem? Please describe.**
No problem at all 😄

**Describe the solution you'd like**
I would we awesome to have a template selector, to choose a color palettes to display in the tool ✌️

**Describe alternatives you've considered**
I found these and they can be useful! [color palettes in Color Hunt](https://colorhunt.co/) 🎨

**Additional context**
No needed,

[2019-08-23 10:44] liyasthomas commented on #32
This is cool! We're working on core features right now, but I would love to see this implemented.

[2019-08-23 10:45] AndrewBastin commented on #31
Well, I don't think it will have that big of a deal on any of the features we have right now, just that it affects the current PRs....

I think we should work on a vue-cli build, build it in a separate branch perhaps...

I am not a Vue guy (React ftw :stuck_out_tongue: ) so anyone willing to take up the task feel free to make a PR...

[2019-08-23 11:05] liyasthomas opened #33 "Code highlight on response body"
**Is your feature request related to a problem? Please describe.**
Response body is displayed in plain textarea.

**Describe the solution you'd like**
Need code highlighting feature.

**Describe alternatives you've considered**
https://highlightjs.org

**Additional context**
Add code highlighting to not only the response body but also to parameter lists, POST request body etc.

[2019-08-23 11:07] liyasthomas commented on #33
@AndrewBastin can you take a look at this feature request and possibly make a PR?

[2019-08-23 11:19] AndrewBastin commented on #33
Sure sure, I was kinda thinking of working on it...

But not exactly right now, I am kinda working on something else right now....

Anyone else who wants to work on this feel free to do so and submit a PR....

[2019-08-23 12:08] beautifwhale opened #36 "Raw request body for POST requests and Authorization key/value in Header"
**Is your feature request related to a problem? Please describe.**
I use Postman and it allows raw JSON to be used for the request body. I'd like to be able to copy/paste this raw JSON to use in Postwoman :)

Also I'd like to add `Authorization` as a key/value to the Header.

**Describe the solution you'd like**
Add a dropdown to the content-type selector for `raw` and provide a text area for me t

[2019-08-23 12:20] edisonaugusthy opened #37 "Not Working in IE 11"
**Describe the bug**
App Crashes in  IE 11

**To Reproduce**
Steps to reproduce the behavior:
1. Open Site in IE11
2. See error

**Expected behavior**
the view should be the same as in chrome.

**Screenshots**
![image](https://user-images.githubusercontent.com/22213856/63592117-72b65e80-c5ce-11e9-9e6c-9ad0346a3713.png)

**Desktop (please complete the following information):**
 - OS: Windows 7
 - B

[2019-08-23 12:46] diego81b commented on #31
Well. i'm pretty comfortable with vue ecosystem; my doubt is only the merge because the project scaffold of vue template will change the project folder structure.

Anyway i'll be glad to contribute even if i don't have so much time, but if you consider this issue not a priority feel free to assign to me and i'll try to work on it

best regards
Diego

[2019-08-23 12:49] liyasthomas commented on #36
Surely consider this issue. Hopefully a PR will fix this in a day or two.

[2019-08-23 12:55] diego81b opened #38 "Styling with Tailwindcss"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Same opinionated question 😄: why didn't move to a css framework, for example Tailwindcss ? I think we could gain benefit on already done variation for screen size, theming, and an increasing community

**Describe alternatives you've considered**
No

**Additional context**
No

[2019-08-23 13:04] liyasthomas commented on #38
Wow, thats not a relavent feature.

[2019-08-23 13:12] AndrewBastin commented on #31
@diego81b Let it change the project structure, that's fine, please be free to work on your PR but we should assign it to a separate branch so existing PRs can still be worked on and integrated before we merge it to master...

[2019-08-23 13:16] liyasthomas commented on #37
I afraid IE 11 lackes ES6 support. And thus broke the app. I regret the convince caused. Let me do some more tests and will let you know

[2019-08-23 13:21] AndrewBastin commented on #37
Thanks for opening the issue...

I am pretty sure this can be resolved by resolving #31 .

Until then it's impractical to work on IE support while dropping all the niceties of modern JavaScript.

[2019-08-23 13:26] liyasthomas commented on #31
Keep seperate branches for development ✌️

[2019-08-23 14:17] diego81b commented on #37
Yeah, vue-cli comes with babel transpiling (more or less @AndrewBastin the same happens in create-react-app).

For working with IE11 we have to pay attention with modern CSS too (for example flex, but there are many others) so question is if we really want the project "IE11 compliant".

Personally i don't find any reason to make it 100% compatible with IE11 also due to the fact that Chrome, Brave

[2019-08-23 14:39] AndrewBastin commented on #37
@diego81b yeah, well the issue opened here is that the app doesn't work on IE11, lending some basic support doesn't hurt.

I don't think we need full IE11 compliance, because that will make it difficult or limit the stuff we can do with this app, but some graceful fallbacks will be nice.

Well, another kinda being a wrench to this is that I am kinda working on making Postwoman kinda run as a light

[2019-08-23 15:10] NBTX commented on #31
I love Vue - perhaps I could fork the project (and anyone else interested in helping to port this to Vue) could work on the fork. Then we can just PR into the main repo when it's done?

[2019-08-23 15:10] NBTX commented on #31
Also we should totally make a PWA from this!

[2019-08-23 15:13] liyasthomas commented on #31
I would love to migrate to Vue. Need some helping hands. Btw, PWA support has already been implemented. But Vue integration would enhance it. No offense.

[2019-08-23 15:23] adropofilm opened #40 "websocket support"
**Is your feature request related to a problem? Please describe.**
It'd be nice to get WSS support for the app! Postman unfortunately doesn't have this but that dont mean POSTWOMAN cant :smiling_imp:

[2019-08-23 15:41] liyasthomas commented on #40
I got my eyes on this feature 🔥✌️

[2019-08-23 16:18] LeoVie opened #41 "Add html preview to response section"
If you send an unexpected request to an api (e.g. POST to https://reqres.in/), you'll get a 404 or something back. In the response section you get a html response.
It would be nice if there would be a preview tab in which you could see this html response rendered.

[2019-08-23 17:06] AndrewBastin commented on #33
Well, I am kinda working on an implementation for this in [Prism](https://prismjs.com/)....
It is a bit hacky, but I am working on one....

If issue #31 is resolved, we can use [vue-highlight](https://www.npmjs.com/package/vue-highlightjs) to do the highlighting hopefully in a less hacky way.

PR coming hopefully tomorrow...

Meanwhile, @liyasthomas you can assign the issue to me

[2019-08-23 17:18] Ryanb58 commented on #38
Tailwindcss is a cool framework. I think we should mock up the existing design using it before pursuing this in the main project.

I'll volunteer to do the mockup if this comment gets enough interest.

[2019-08-23 18:06] liyasthomas commented on #41
That's a great suggestion. I'll work on it.

[2019-08-23 18:09] liyasthomas commented on #38
@Ryanb58 you'll have enough support from me.

[2019-08-23 18:17] diego81b commented on #31
@NBTX
my intention was to use this https://github.com/chrisvfritz/vue-enterprise-boilerplate
appropriately resized for our purpose

i have this issue assigned but feel free to work on your fork add maybe add me as collaborator

[2019-08-23 18:37] keithl8041 commented on #29
Being able to share collection is the killer feature for Postman and is why they can charge a premium for their team membership. Being able to export/import is a step down from that but still gets you most of the same functionality, without the advantages of being able to sync automatically between team members.

So I'd second the import/export functionality. JSON seems an obvious choice but need

[2019-08-23 18:42] liyasthomas commented on #29
Thumbs up! This feature would make Postwoman top of its class. Looking forward on collaborating with you.

[2019-08-23 18:43] NBTX commented on #31
@liyasthomas Just noticed the PWA support -- neat!
@diego81b Okay. I'll take a look at the boilerplate. I've created the fork and sent you and @liyasthomas collaborator invites: https://github.com/NBTX/postwoman-vue

[2019-08-23 19:31] keithl8041 commented on #29
The sync operation is possibly covered by #26 where using Firebase to sync data is mentioned, so potentially this ticket should just be about creating the collection organisation and management concept.

[2019-08-23 21:28] andrewyoung918 commented on #29
I like the idea of a work space tab filing the need of collections.

I think being able to import / export openAPI docs as a tab, and persisting tabs in browser storage would be great, not require auth or db server.

An alternative to having cross team synced connections would be a "Share tab on slack" that posted a link that includes a serialized export.

Would make sharing super straight forward

[2019-08-23 23:16] Ryanb58 commented on #38
You can follow along with the progress if you want:

https://jsfiddle.net/Ryanb58/jo4g6tpu/49/

[2019-08-24 01:38] liyasthomas commented on #38
Tailwind integration looks promising. So far so good ✌️🔥

[2019-08-24 02:09] liyasthomas commented on #29
This approach could be implemented straight away. Can you take the initiative and consider making a PR. All supporters will have your back.

[2019-08-24 04:59] liyasthomas opened #45 "Improve SEO"
**Is your feature request related to a problem? Please describe.**
I think Postwoman lacks SEO. Can somebody look Into it?
**Describe the solution you'd like**
Let the world know there exists Postwoman - an online open sourced API request builder.

**Describe alternatives you've considered**
If GitHub pages seems incompatible, we could think about going for a hosting service since postwoman.net an

[2019-08-24 07:15] aashutoshrathi commented on #17
Cool.
Thanks for considering.

[2019-08-24 07:15] aashutoshrathi commented on #16
I think I should close it then.

[2019-08-24 07:15] #16 closed

[2019-08-24 08:46] liyasthomas opened #46 "Colored response codes based on status code"
**Is your feature request related to a problem? Please describe.**
It would've been great to analyse request responses if they are colored based on their status codes. Ex: green for 200, yellow for 301, red for 404 etc.

**Describe the solution you'd like**
Show colored responses based on its status code to easily identify the response status. Add a class name based on status code to color the sta

[2019-08-24 09:37] NBTX commented on #45
I'm happy to host Postwoman for you for free. (I can use the web servers for ApolloTV).
If you have domains for postwoman, I think we should get those set up - I could host a proxy application to deal with CORS and HTTP-only requests.

[2019-08-24 09:40] NBTX commented on #40
Oh yes!! This feature would be *so* useful for me. I do a lot of work with websockets and I have nowhere to go to work with them.
@liyasthomas feel free to assign me and I'll get working on this immediately!

[2019-08-24 12:52] AndrewBastin commented on #33
Well, I have kinda almost finished implementing it, just some few small stuff with like CSS issues are left there to fix, but #44 will require a full rewrite of my current implementation so I am not submitting a PR....

But anyways I have pushed the [change in my fork](https://github.com/AndrewBastin/postwoman/commit/73b5c6a54eda51bdf63bee85d3bb2416ed2f6a33) for peeps willing to have a peek and ar

[2019-08-24 17:37] NBTX commented on #40
A preview of #48 is now live on my GitHub pages instance.
https://nbtx.github.io/postwoman-vue/

[2019-08-24 21:43] NBTX commented on #32
I'm working on a simplified version of this feature at the moment. I do plan to incorporate the PR #18 for an overall light/dark theme toggle too.

![image](https://user-images.githubusercontent.com/43181178/63643007-4da21880-c6c0-11e9-8a1b-bfea41f746b7.png)

![image](https://user-images.githubusercontent.com/43181178/63643022-84782e80-c6c0-11e9-8627-26572da72200.png)

[2019-08-25 00:36] profran opened #56 "Cannot use localhost as base url"
**Describe the bug**
Unable to use 'localhost' as base url.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://liyasthomas.github.io/postwoman/
2. Click on URL field
3. Type in: http://localhost:3002 (any port will do, I just happen to have a Node.js server running on that port)
4. Send button is disabled

**Expected behavior**
I expect the Send button to be enabled

**Desktop (pl

[2019-08-25 00:47] liyasthomas commented on #56
This might be a possibile duplicate of #2
Its a restriction due to the CORS (Cross Origin Request Policy), there isn't a client side work around to this unless the host your trying to access should respond with the appropriate CORS headers.
Please refer to docs here: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
Quick solution is to use a HTTPS API host, which supports CORS

[2019-08-25 00:50] liyasthomas commented on #31
Closing the issue since #51 solved it

[2019-08-25 00:50] #31 closed

[2019-08-25 00:52] liyasthomas commented on #37
Closing the issue since #51 solved it

[2019-08-25 00:52] #37 closed

[2019-08-25 00:54] liyasthomas commented on #46
Closing the issue since #52  solved it

[2019-08-25 00:54] #46 closed

[2019-08-25 00:55] liyasthomas commented on #40
Closing the issue since #51 solved it

[2019-08-25 00:55] #40 closed

[2019-08-25 00:57] profran commented on #56
I first thought of that, but my Node.js API is configured to support CORS requests. I'm sure it's just the URL validation's pattern which expects an URL with a domain at the end (any_url + .com .co .ar .jp ...). I'll see if I can open a PR to solve the problem tomorrow.

[2019-08-25 00:59] liyasthomas commented on #56
If that's the case, I'll surely look into it. You're welcomed to open a PR to fix it.

[2019-08-25 01:23] NBTX commented on #56
Ah yes, I know the issue, I had to mess with the regex to get websockets to work. I'll see if I can find some more permissive ones - and I'll add in IP addresses.

[2019-08-25 01:26] liyasthomas commented on #56
You could've opted to use two regex for URLValidation()  🤭

[2019-08-25 01:31] NBTX commented on #56
Yes, that was probably how I'd do it.

That said - is validation even necessary? Perhaps it would be ideal to just show an error if it fails to connect, like the websockets do, then to handle each edge case in regexes?

[2019-08-25 01:33] liyasthomas commented on #56
Sooner or later, URL validation will be necessary. Anyway let's discuss.

[2019-08-25 01:35] NBTX commented on #56
Okay. I'll update the url validation to include the two regex checks in the mean time.

[2019-08-25 02:16] liyasthomas commented on #56
@NBTX sendRequest() isn't firing. Can you check changes on URL validation

[2019-08-25 02:38] liyasthomas commented on #32
Closing issue since #55 fixed it

[2019-08-25 02:40] #32 closed

[2019-08-25 02:41] Ryanb58 commented on #38
I am feeling pretty confident in `tailwindcss` to replicate the existing design.

Do you want us to move forward with this switch @liyasthomas ? I don't see this as a critical task right now, so if there are more pressing matters, I am open to switching to them before putting significant time into this one.

[2019-08-25 02:51] liyasthomas commented on #38
At present, `tailwindcss` integration isn't that much relavent. I need you to test status of #55 and see what is wrong with Send button.

[2019-08-25 04:17] jgroom33 commented on #29
Related to #5
I'd like to see yaml used for the format.
Perhaps using fetch terminology would be good: https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch#Supplying_request_options
Another option is to use har (har is a format provided by browser exports)

[2019-08-25 05:38] JockDaRock opened #57 "Request Headers"
**Is your feature request related to a problem? Please describe.**
Would like to be able to add custom request headers to requests before sending and control headers that are sent.

**Describe the solution you'd like**
A section the has request headers where you can control and add headers to be sent with API request

[2019-08-25 05:40] liyasthomas commented on #57
That would be great. Lets discuss its scope here and will try to implement it.

[2019-08-25 05:41] Looper-01 opened #58 "500 this.isValidURL is not a function"
**Describe the bug**
internal error
500 this.isValidURL is not a function

**To Reproduce**
Steps to reproduce the behavior:
1. git clone the master branch
2. npm install and run dev
3. visist http://localhost:3000/  then mock a request

**Screenshots**
![image](https://user-images.githubusercontent.com/13216359/63646046-f0e54300-c73d-11e9-9842-9458a239591c.png)
![image](https://user-images.github

[2019-08-25 06:08] #58 closed

[2019-08-25 06:17] liyasthomas commented on #58
https://github.com/liyasthomas/postwoman/commit/5a8c9f5533df3fe153a82b88190334aff6c94ffa fixed this issue. Thanks @Looper-01 for quick issue ticket

[2019-08-25 08:57] izerozlu opened #60 "Editorconfig file"
**Is your feature request related to a problem? Please describe.**
Related to development process. In some files indentations are not synchronized.

**Describe the solution you'd like**
It'd be useful to have an `.editorconfig` file to synchronize formatting between files.

**Describe alternatives you've considered**
Manual formatting. It was painful.

**Additional context**
[code]

[2019-08-25 10:03] diego81b opened #61 "HTTP request with different library"
**Is your feature request related to a problem?**
No

**Describe the solution you'd like**
Why the need to use xhr instead, for example, Axios.
One factor should be the need to use interceptors before or after request

**Describe alternatives you've considered**
Any

**Additional context**
No

[2019-08-25 13:27] NBTX commented on #56
Solved by #52

[2019-08-25 13:40] #56 closed

[2019-08-25 14:19] brandonros commented on #57
One of my biggest gripes with Postman is how it tries to handle the `Cookie` header for you (based off of the Set-Cookie response)

It tries to blend its own internal cookie jar with a sometimes explicitly set Cookie header.

I'd say, make the cookie jar functionality an option, therefore allowing the user to "break out" and handle the Cookie header on their own, if needed.

[2019-08-25 14:21] brandonros commented on #57
Scope:

UI presents the same UI for "parameters" to manage key value pairs of string (headerName) -> string (header value). Pass them along as request header. Voila. 🎉

Where it gets tricky is.... do you want to support cases where the "key" is not unique? example:

`curl -H 'foo: 1' -H 'foo: 2'`

I don't know why people would ever do this, but I know for darn sure that TypeScript complains if I t

[2019-08-25 14:23] brandonros commented on #26
Couple this with UI to manage {{templateParameters}} and create environments/presets so you can toggle dropdowns for what environment you want to hit (dev/QA/CAT/UAT/prod), just like in Postman. :)

[2019-08-25 14:53] jgroom33 commented on #29
Example:
[code]

[2019-08-25 17:06] NBTX commented on #29
Could we not use JSON instead? Even if it's simply mapping the same structure from YAML to JSON?

[2019-08-25 17:34] fishnal commented on #29
I too am a bit lost on why yaml is preferred. Could we use JSON as the standard for passing the data around and maybe offer options to download/export (and potentially edit) in yaml?

[2019-08-25 18:47] NBTX opened #62 "Fast URL entry"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Similar to Postman's interface, I think we should make the URL entry a single bar at the top, with the method on the left. Then we should just parse the URL and fill in the relevant information.

We could keep the extra sections but this would make Postwoman a lot more intuitive and faster

[2019-08-25 18:48] NBTX commented on #62
I'm happy to implement this myself, but I wanted to open a discussion on the matter.

[2019-08-25 19:12] jgroom33 commented on #29
Yaml is easier to read.
Yaml also provides `include` functionality. This would assist with multi-file collections.
Postman does this with an overloaded json file that includes directories and subdirectories.
Yaml + `includes` would accomplish the same by using using the filesystem + directories for organization.

[2019-08-25 21:02] NBTX commented on #29
I'm not seeing any evidence that an `include` functionality does exist in YAML.
https://stackoverflow.com/a/15437697/2872279

Even so, it would be more than possible to implement this in JSON.
In any case, my two most favorable alternatives are:

1. Using JSON5, a superset of JSON that, amongst other things, allows marking up JSON with comments. https://json5.org/
2. Simply using JavaScript files

[2019-08-25 21:03] NBTX commented on #29
Another thing to note, is that you seem to be favoring writing these by hand?
I think the direction this issue is going in, is that these would be generated and read by the application only.

[2019-08-25 21:26] liyasthomas commented on #29
What I see is.. JSON stand as a solid option since it is faster and probably still interoperable with more systems. If i take readability concerns, YAML shines.

But I had to stick to JSON since we're doing it in JS.

[2019-08-25 21:34] liyasthomas commented on #62
This fact might surprise you: other than seeing some screenshots on internet, I haven't used Postman or seen its UI (this is just because, my 7 year old pc can't afford to run another Electron app). Afterall, I didn't intend to create an alternative to Postman, in my opinion this project should outperform any other such tools, since its lightweight, faster & opensource.

If there's any feature we'

[2019-08-25 21:41] liyasthomas commented on #62
@NBTX see #63 and share your thoughts. Me too think this is an essential feature somehow I forgot at the first place. My bad. Anyway thanks for pulling it up.

[2019-08-25 21:43] NBTX commented on #62
I'm actually only drawing the parallel to Postman's interface from experience, rather than because the names are similar, and this is the UI I'm used to - but this, as I said is something I would find useful.

I already very much prefer Postwoman because it's so much lighter. Even on my pretty decent systems Postman takes upwards of 7 seconds to start up, and then usually has several annoying pop

[2019-08-26 03:04] liyasthomas commented on #45
@NBTX few of my supporters said me the same thing. Among them, two guys brought postwoman.net and postwoman.io domains and hosted my GitHub deployment. They contacted me via email and promised they won't alter anything and will serve as it is in GitHub pages.

Basically I'm not good with domains, hosting and stuffs except I'd some side projects hosted on Firebase and on free hosting services such

[2019-08-26 03:18] NBTX commented on #45
Yeah I checked both and one seems to be directly mirroring the GitHub pages (the .io) and the other seems to be stagnant on the older HTML one.

I think it would be beneficial for you to take ownership of the domains, just because if there's anything that needs to be updated, you'd be the first to know.

An ideal solution might be to use CloudFlare DNS - they put in CloudFlare's nameservers and th

[2019-08-26 03:20] liyasthomas commented on #45
Lemme contact them and ask for transferring the domain ownership. And will let you know.

[2019-08-26 04:43] jgroom33 commented on #29
Thanks for the correction on yaml. It does not seem to include `include`. :) It is only a convention.

[2019-08-26 05:08] jgroom33 commented on #29
Do you have an example of what a stored collection would look like? What should the schema be? (har, fetch, something else)

[2019-08-26 06:00] #36 closed

[2019-08-26 10:49] NBTX commented on #45
Okay, I've sent a message on Twitter.

[2019-08-26 11:47] Amoroth opened #65 "Add Tests"
**Is your feature request related to a problem? Please describe.**
I just found the project and I think it's great, but suddenly it stopped working. I noticed that a few minuter ago a pull request was merged, so I think that, it may have something to do with it. It says in console: "TypeError: Cannot read property 'className' of undefined".

**Describe the solution you'd like**
I noticed that the

[2019-08-26 12:04] NBTX commented on #65
Agreed, we definitely need some proper unit tests. Nuxt seems to prefer Ava for testing.
https://nuxtjs.org/examples/testing

[2019-08-26 12:16] liyasthomas opened #66 "Last added history entry is removed automatically after refresh"
**Describe the bug**
Entries are added to history[] but after refresh, the last added entry were automatically removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a mock request
2. History entry will be added to history section
3. Refresh the page
4. Last added history entry automatically removed
5. Further refresh won't remove entries though

**Expected behavior**
History shouldn'

[2019-08-26 12:22] liyasthomas commented on #30
#64 fixes this issue and hence closing

[2019-08-26 12:22] #30 closed

[2019-08-26 12:42] Amoroth commented on #65
Makes sense, Ava seems to be fast with async tests but they use it only for e2e testing, I don't know if it can be used for unit tests. We could also use Jest which is officialy supported by vue but seems to be a bit harder to setup with Nuxt. But if we don't need unit tests, then Ava seems to me like a good choice.

[2019-08-26 12:53] liyasthomas commented on #65
We we need these badly. I think Jest can also be integrated with Nuxt with a catch (https://stackoverflow.com/questions/52493255/integration-testing-with-nuxt-and-jest) but AVA seems to have out of the box support to Nuxt for E2E and unit testing.

[2019-08-26 12:58] liyasthomas commented on #66
@izerozlu could you please double check #59 because I think this PR introduced this error.

[2019-08-26 13:09] izerozlu commented on #66
@liyasthomas Will check as soon as possible.

[2019-08-26 14:32] liyasthomas commented on #60
I personally use StandardJS on all my projects.

[2019-08-26 16:03] liyasthomas commented on #66
#67 fixes this hence closing

[2019-08-26 16:03] #66 closed

[2019-08-26 16:11] Amoroth commented on #65
So I've played around with testing in Ava and all the examples are made with e2e testing in mind, which involves setting up a server, and making requests to it. As it is all asynchrous, Ava seems to be doing a good job. I noticed aswell, that the project is set up as an spa, so a server should not be needed.

I also tried Jest, to see how it would work and integrating it into Nuxt is not that bad,

[2019-08-26 17:29] NBTX commented on #60
@sfrankian Remember to take .editorconfig out of .gitignore.
I edited this myself, so I'll just remove my copy of the file

[2019-08-27 04:56] liyasthomas commented on #57
#68 fixes this issue hence closing

[2019-08-27 04:56] #57 closed

[2019-08-27 13:23] nskazki opened #69 "Comparison with Postman is missing"
A comparison with the obvious competitor is must-have for this repository, especially taking into account that you're referencing to it in the name of your app :)

[2019-08-27 13:44] liyasthomas commented on #69
Let me make this clear once and for all.

The reason why Postwoman has born is because my 7 year old PC won't run Postman. I asked my friends who've used Postman and they made it clear that it had high CPU usage, high RAM consumption and had annoying popups. It used to take 7-30 seconds to initiate the app. It has even crashed some systems. I won't wonder because I've prior experience in developin

[2019-08-27 20:04] wle8300 opened #70 "Why da fuq is your name plastered all over the README?"
I get it. You're a special person but if you wanna seem like a normal person try to limit posting your name and "personal branding" all over the README.

[2019-08-27 20:12] izerozlu commented on #70
That's just toxic talking. Unrelated and not even creates a proper discussion.

Projects like these doesn't need this kind of behavior.

[2019-08-27 21:17] guastallaigor opened #71 "Not working on Brave Browser anymore"
**Describe the bug**
When the project was released, I was using it on [Brave](https://brave.com/) and everything was fine. The code right now is very different from before, but is not working anymore.
I know that this is a small project, but I'm just opening this issue because it was working before and now it isn't, maybe it's just a small fix that someone can do it :)

The error message that is s

[2019-08-27 21:21] izerozlu commented on #71
That problem is not about the brave browser.

It's a common bug right now. It'll be fixed soon.

Thanks for the heads up!

On Wed, Aug 28, 2019, 12:17 AM Igor Guastalla <notifications@github.com>
wrote:

[2019-08-27 21:22] izerozlu commented on #71
I'll try to create the required PR tomorrow.

[2019-08-27 21:42] NBTX commented on #70
Well I suppose now we know why you don't put your name on the front page of your projects...

[2019-08-27 21:45] NBTX commented on #69
@liyasthomas Perhaps it is worth adding that to the README?

[2019-08-27 21:49] #70 closed

[2019-08-27 21:51] liyasthomas commented on #71
@guastallaigor have you tried to clear the cache perhaps history data too and try again?

[2019-08-27 22:05] NBTX commented on #71
I cannot reproduce this issue.

- OS: Windows 10 (1709)
- Browser: Brave
- Version 0.68.131 Chromium: 76.0.3809.100 (Official Build) (64-bit)

![image](https://user-images.githubusercontent.com/43181178/63811277-eb931e80-c91e-11e9-9f32-b880cbf1a600.png)

Have you installed the PWA or got any cached copies?
Try going to Developer Tools -> (might need to click the double right chevron ») Application

[2019-08-27 22:58] #71 closed, assigned to nobody

[2019-08-27 23:01] NBTX commented on #65
@Amoroth Have you checked the code/scripts that `create-nuxt-app` runs for setting up either test libraries? The Nuxt team is pretty 'on it' and it's possible they've patched these kinds of issues in their setup process.

[2019-08-27 23:04] NBTX commented on #45
It might be an idea to encourage people to add a link to postwoman to their site.
The absolute best thing for SEO is backlinks from organic traffic.

[2019-08-28 00:37] nickpalenchar opened #74 "App is broken with old history in localStorage"
**Describe the bug**
Starting after [`271bd06`](https://github.com/liyasthomas/postwoman/commit/271bd061765f1d2d065aac8cf2b82a36d8e68117) (or perhaps around then), old localStorage from a user agent causes the app to break when navigating to the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the browser and open devTools
2. Go to the tab for storage, click on localstorage
3. Edit

[2019-08-28 00:41] #41 closed

[2019-08-28 00:46] liyasthomas commented on #74
I suspect this is the reason for few other issues that have reported and solved on flushing cache and local storage 🤔

Btw, these kinda people (@nickpalenchar) are 💎

[2019-08-28 01:27] #74 closed

[2019-08-28 07:19] edisonaugusthy opened #76 "Option to Copy request as Fetch or XHR Or CURL"
**Is your feature request related to a problem? Please describe.**
Please Provide a way to copy the request as Fetch/XHR/CURL
 this link may help [https://github.com/postmanlabs/postman-code-generators](postman-code-generators)

[2019-08-28 08:31] liyasthomas commented on #76
Some references for me to remember while considering this issue:
- NuxtJS HTTP Module https://http.nuxtjs.org
- Axios https://axios.nuxtjs.org

[2019-08-28 08:32] GrashVarrag opened #77 "Another postman or insomnia?"
After looking at the README I don't understand what is this for - an alternative to postman and insomnia?

Is this a library or application? You don't mention that

[2019-08-28 08:38] jamesscottbrown commented on #16
This is not a [CORS](https://developer.mozilla.org/en-US/docs/Glossary/CORS) issue, but rather a [Mixed Content](https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content) issue. An `XMLHttpRequest ` or `fetch()` request is considered "active content"; "mixed active content" such as a `XMLHttpRequest ` or `fetch()` to an `http://` URL from an `https://` URL has been blocked by default si

[2019-08-28 08:39] liyasthomas commented on #77
@GrashVarrag refer here: Story behind Postwoman: https://dev.to/liyasthomas/i-created-postwoman-an-online-open-source-api-request-builder-41md

[2019-08-28 08:39] #77 closed

[2019-08-28 09:47] izerozlu commented on #61
@diego81b I suppose the main reason for this decision is to keep the application as light as possible.
But in my opinion, it'd be easier to maintain the application with a proper library.

[2019-08-28 09:49] liyasthomas commented on #61
As I've mentioned in #76 we could possible use anyone from of these:
- NuxtJS HTTP Module https://http.nuxtjs.org
- Axios https://axios.nuxtjs.org

[2019-08-28 10:17] AndrewBastin commented on #33
Sorry for the delays in finishing this, I was kinda busy with travels and stuff... I have submitted a PR #78 resolving the issue with [Prism](https://prismjs.com/). Please look into it.

[2019-08-28 11:29] iruoy opened #81 "The history doesn't show a date with the timestamp."
**Describe the bug**
The history doesn't show a date with the timestamp.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request
2. Send another request a day later
3. Scroll down to History
4. There's no distinction between the 2 entries

**Expected behavior**
A clear representation of when exactly I executed the request.

**Screenshots**
![Screen Shot 2019-08-28 at 13 23 27](https:/

[2019-08-28 11:30] iruoy commented on #81
I'd like to suggest we show the time since execution.
For example: "23 minutes ago" , "6 hours ago", "2 days ago"

We lose some precision by this, but we can show the actual datetime on hover maybe

[2019-08-28 11:37] NBTX commented on #61
I vote axios.

[2019-08-28 11:48] NBTX commented on #81
We can use moment.js and I think showing the true date/time is a good idea but, to be honest, it's probably not very helpful after more than 5 minutes have passed.

[2019-08-28 11:52] izerozlu commented on #81
I'm with the @NBTX on this. Showing date might not be that useful.
Maybe we can show the date on a `hover`?

[2019-08-28 11:53] liyasthomas commented on #81
Confession: It's been 4 years since I've have been using JS, still I Goggle `"get local time in javascript"` :man_facepalming:

My current implementation is prolly a hacky one.

[2019-08-28 12:01] edisonaugusthy commented on #76
@liyasthomas  am not requesting for HTTP request with different library #61
am expecting a feature to Copy The current request code snippet as fetch or XHR and directly use in the application
EG:
![image](https://user-images.githubusercontent.com/22213856/63853984-b2f45300-c9b9-11e9-8976-e6af683436ea.png)

[2019-08-28 12:27] diego81b commented on #61
Another solution could be use Fetch Api but is not supported on IE11 ( damn IE 😄) and do not have interceptor.
On the same way intersting will be the abort Api (they works with xhr) but it is another matter 😅

[2019-08-28 12:28] liyasthomas commented on #76
Oh I get it! Option to generate code snippets of current request on fetch/XHR/CURL

[2019-08-28 16:42] Amoroth commented on #65
@NBTX I did, I think both work well but Ava has a bit more dependencies and a setup file to actually be able to parse vue files. Jest just seems a bit simpler for me, I wrote a few tests already to check how it works with nuxt and so far, it is really simple. From what I have found, Ava seems to excel at async tests while Jest is great with running tests in parallel, which is great for ui testing.

[2019-08-28 16:47] simoncas opened #87 "The query string is built incorrectly when the path contains a parameter"
**Describe the bug**
The URL is crafted incorrectly when the path already contains a query string and when additional parameters are added through the options.
Example: https://reqres.in/api/users?param1=value1?param2=value2

**To Reproduce**
Steps to reproduce the behavior:
url: http://whatever.com
path: /whatever?param1=value1
parameters: _param2_ as Key1 and _value2_ as Value1
Open the develope

[2019-08-28 17:01] AndrewBastin commented on #4
@brandonros I like this suggestion, can you open this as a separate issue ?

I will start working on this PR.

[2019-08-28 17:02] NBTX commented on #4
The problem with that though is that the state would, for some more advanced queries be massive.

[2019-08-28 17:07] AndrewBastin commented on #4
We can introduce support for basic queries only (ie method, url, path) for now.

I think that would still be pretty helpful.

We could flush it out as we go...

[2019-08-28 17:15] liyasthomas commented on #4
Appending on hash or query string of the URL is the easiest way to do this, but in a long run, this would be painful. But as @brandonros said, this could be the easiest way to sahe it to others with copy/paste.

Alternate option is export and import. Which solves the case of complex or large queries but need further dependencies I suppose.

[2019-08-28 18:44] #69 closed

[2019-08-28 20:42] davidyscott opened #88 "Add support for "application/hal+json" Content-Type"
**Is your feature request related to a problem? Please describe.**
Working with a HATEOAS service that uses HAL, I would like to be able to make requests with the "application/hal+json" media type.

**Describe the solution you'd like**
I would like an additional option from the content type dropdown.

**Additional context**
I believe I have made the necessary code changes, but as the CONTRIBUTING.

[2019-08-28 23:39] liyasthomas commented on #88
If you believe you've made necessary changes to solve this issue, go on and make a PR. The contributing guidelines for this repo are still a WIP

[2019-08-28 23:50] davidyscott commented on #88
@liyasthomas Done, #90, thanks!

[2019-08-29 01:48] Ryanb58 commented on #60
Looks like this issue has been solved:
https://github.com/liyasthomas/postwoman/pull/82

[2019-08-29 01:51] liyasthomas commented on #60
Closing fixed issues

[2019-08-29 01:51] #60 closed

[2019-08-29 03:22] liyasthomas commented on #87
While we're finding a fix to this issue, I suggest you to separate parameters from request `path` and use **Parameters** section to specify required parameters.

[2019-08-29 08:35] simoncas commented on #87
I'm okay to work on this.
They are 2 ways to solve this issue.
* Check with a regex if the query string already contains parameters. Then based on the result, craft correctly the query string. **(quick)**

_or_

* Extract the parameters from the `path` and automatically fill the **parameters** sections. (postman style).  Keep in sync the parameters list and the **path**. **Sounds more like a featu

[2019-08-29 08:45] simoncas commented on #87
Sorry, I close this issue by inadvertence.

[2019-08-29 08:46] liyasthomas commented on #87
Second option sounds great! I've assigned this to you. Looking forward on your PR :raised_hands:

[2019-08-29 11:01] liyasthomas commented on #38
Closing absolute issues

[2019-08-29 11:01] #38 closed

[2019-08-29 11:05] liyasthomas commented on #87
#62 can also be solved with this approach of binding key-value pairs to a fast URL entry input box. @NBTX

[2019-08-29 11:50] #81 closed

[2019-08-29 11:55] pawel-dubiel opened #91 "Dynamic Headers"
It would be great if we could create dynamic headers.

for example, some APIs may use a nonce and then based on the nonce we would need to create the hash and also update headers with that hash.

[2019-08-29 15:44] liyasthomas opened #92 "Search on History"
**Is your feature request related to a problem? Please describe.**
User must be able to search for queries such as method, URL, path etc on History entries.

**Describe the solution you'd like**
Search input is shown inside History section. On each input, filtered list appear below.

**Describe alternatives you've considered**
Filter the history entries based on parameters: method, URL, path etc.

[2019-08-29 17:28] tiagoa opened #93 "Import request from cURL"
**Is your feature request related to a problem? Please describe.**
I would like to import a request by providing a cURL command.

**Describe the solution you'd like**
Like in Postman we have the option to import: https://dev.to/stephencweiss/how-to-test-your-api-using-curl-postman-382c

[2019-08-29 19:24] tiagoa opened #94 "Show "Send" button all over the page or enable hotkeys"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when configuring the request and then having to scroll up the page just to hit the "Send" button.

**Describe the solution you'd like**
Set a fixed position for the button "Send" or/and enable hotkeys.

[2019-08-29 20:53] NBTX commented on #94
What if we made the request section sticky to the top of the window as you scroll?
Though, either way, hotkeys does seem like a good idea.

[2019-08-29 22:59] NBTX commented on #61
As I'm working on building a proxy to bypass the Same-Origin policy, I'm going to address this issue, as axios interceptors will make implementing the proxy much cleaner.

[2019-08-30 00:31] NBTX opened #97 "Add version number in footer"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Simply add the version number (with short commit hash) to the footer.
Perhaps display a 'Check for updates' or 'Install update' if there is an update available.

**Describe alternatives you've considered**
n/a

---

If this is implemented, should we use the [GitHub releases](https://github.c

[2019-08-30 00:59] jgroom33 commented on #76
Possible implementation option:
Convert to curl.
Then use this: https://github.com/NickCarneiro/curlconverter

[2019-08-30 01:20] #61 closed

[2019-08-30 01:32] AlphaWong opened #98 "Add linter semistandard"
Hi,

I would like to add the linter in this project with `semistandard`. What do u think?

Best,
Alpha

[2019-08-30 01:42] liyasthomas commented on #97
That's a good suggestion.

[2019-08-30 02:01] liyasthomas commented on #93
#76

[2019-08-30 02:28] nickpalenchar opened #99 "Content-Type revamping"
I wanted to start a discussion around the future of Content-Type and what direction everyone thinks we should go in. @NBTX mentioned a great idea in #63 which I'll requote:

I personally love this idea. In addition to the auto-complete, a user could chose their own custom type, so that new types would not have to be manually implemented (#88).

But a related issue I see is that Content-Type is a *

[2019-08-30 04:10] NileshSP opened #100 "default menu option - 'Http' is not highlighted when launched from installed pwa app (UI bug)"
**Describe the bug**
After launching pwa app from desktop, default 'Http' menu is not highlighted

![image](https://user-images.githubusercontent.com/13110493/63991977-ca196a80-cab7-11e9-9a2e-0d1e50533e39.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'postwoman.io'
2. Click on 'Install PWA'
3. Open Postwoman app from desktop
4. 'Http' is not highlighted

**Expected behavior**

!

[2019-08-30 04:17] liyasthomas commented on #100
Issue has been identified. Most probably its an issue with start URL of PWA. Will look into it ASAP.

[2019-08-30 06:10] reefqi037 opened #102 "Autoresize the textarea"
**Is your feature request related to a problem? Please describe.**
No (I think)

**Describe the solution you'd like**
Autoresize the textarea parts such as "Parameter List" and "Header List" so that the rows increase/decrease accordingly when Parameters or Headers are being added/remove instead of showing the scrollbar inside.

**Describe alternatives you've considered**
- Do not show the list at

[2019-08-30 06:13] liyasthomas commented on #102
Will consider this approach.

[2019-08-30 07:25] aprilalice-hash opened #103 "Coinbase Support +1-888-714-9777 Phone Number For Help"
Stunning thoughts....Dial <a href="http://coinabsesupport.com/">Coinbase support customer service phone number</a> +1-888-714-9777 For Instant help & Support The <a href=" http://coinabsesupport.com/binance-support/"> Binance support phone number</a>  +1-888-714-9777 is something from which you can get help at any hour of the day as we provide the support 24/7. <a href="http://coinabsesupport.com/

[2019-08-30 07:26] aprilalice-hash opened #104 "Binance Support +1-888-714-9777 Phone Number For Trading The Cryptocurrency"
Amazing Site....Dial <a href="http://coinabsesupport.com/">Coinbase support customer service phone number</a> +1-888-714-9777 For Instant help & Support The <a href=" http://coinabsesupport.com/binance-support/"> Binance support phone number</a>  +1-888-714-9777 is something from which you can get help at any hour of the day as we provide the support 24/7. <a href="http://coinabsesupport.com/binan

[2019-08-30 07:27] liyasthomas commented on #103
What is this? Spam? Ads on GitHub? :face_with_head_bandage:

[2019-08-30 07:28] aprilalice-hash opened #105 "Binance Customer Service +1-888-714-9777 Support Number To Preceding in 2019 For Cryptocurrency"
Wonderful Site...Dial <a href="http://coinabsesupport.com/">Coinbase support customer service phone number</a> +1-888-714-9777 For Instant help & Support The <a href=" http://coinabsesupport.com/binance-support/"> Binance support phone number</a>  +1-888-714-9777 is something from which you can get help at any hour of the day as we provide the support 24/7. <a href="http://coinabsesupport.com/bina

[2019-08-30 07:28] #104 closed

[2019-08-30 07:28] #103 closed

[2019-08-30 07:28] #105 closed

[2019-08-30 08:00] izerozlu commented on #103
Hahahaha. That's a first for me.

[2019-08-30 08:37] izerozlu commented on #92
Resolved with #106.

[2019-08-30 08:38] izerozlu commented on #92
@liyasthomas I haven't seen the additional context before. Will look into that as well.

[2019-08-30 08:39] liyasthomas commented on #92
Tha's okay! Thanks for the quick PR :ok_hand:

[2019-08-30 08:40] izerozlu commented on #94
I'm working on an implementation with the [IntersectionObserver](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API).
After that implementation i'll look into enabling some hotkeys as well.

[2019-08-30 08:43] liyasthomas commented on #94
I did a UI with sticky request section, but it broke responsiveness. Looking forward for suggestiongs.

[2019-08-30 09:48] AndrewBastin commented on #87
Yoo, I was kinda working on a PR myself for this... My idea to resolve this was on clicking the Send button, the path input is parsed and the values are appended to the params list.

[2019-08-30 10:54] #94 closed

[2019-08-30 14:48] jgroom33 commented on #4
postman uses the concept of environment to store state.  this works ok, but is limited because it is a string by default.
the cache should be a combination of responses, requests, and user defined vars
The UI should present each of these objects.
To reference any of these objects, a templating engine should be implemented. This would allow the following behavior:

1. define a var of: foo={"model":

[2019-08-30 14:56] yubathom commented on #65
I made a setup and created some e2e tests with cypress Im a personal [dev purpose branch](https://github.com/yubathom/postwoman/blob/object-queries/tests/e2e/integration/url_queries.js). If you're considering cypress I can do a PR with this setting.

[2019-08-30 15:02] izerozlu commented on #102
Resolved by #111. Closing.

[2019-08-30 15:02] #102 closed

[2019-08-30 15:04] liyasthomas commented on #65
@yubathom I personally haven't used Cypress before. But if it does the job we can consider using it. If anybody else is working on Ava or Jest they can continue that.

[2019-08-30 15:37] amxmln opened #112 "[UX] Provide Focus State for Buttons, etc."
Hi! This seemed like a very useful site/app from the moment I first saw it and now that I’ve had the chance to play around with it a little, that impression hase proven true. Thanks for making it!

Now the only thing that I think could use a little work is the user experience, most notably that it’s impossible to see which buttons / elements have focus when using tab to navigate the interface (for

[2019-08-30 15:51] liyasthomas commented on #112
Glad you liked it 💜
Improving UI/UX is a must. Keep suggesting your thoughts and we will consider them.

[2019-08-30 16:10] amxmln opened #113 "Request Body Is Not Sent"
**Describe the bug**
During a POST/CREATE/PUT/PATCH request the request body is not actually being sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to postwoman.io
2. Switch to POST
3. Enter: `https://jsonplaceholder.typicode.com` as URL and `/users` as path
4. Add a field "name" with value "foo"
5. Send the request
6. Check the response and see missing field "name" with value "foo"

[2019-08-30 16:20] amxmln commented on #112
Sure, here are some more thoughts:

- The `request` group is probably the most used group next to the `response` and `request body` groups, but the way the application is currently set up, it scrolls down after every request and then requires to scroll back up to change the request and send it again. How about putting the request options and the response field next to each other on displays of a s

[2019-08-30 16:34] NBTX commented on #65
I'm not particularly familiar with any testing libraries in particular, so I don't really mind which we use. I just took a look at a unit test you linked and it looks fine to me.

TL;DR: I'm happy with Cypress.

[2019-08-30 16:36] NBTX commented on #112
I'll get on these and submit a PR with a bunch of UI tweaks!

[2019-08-30 16:36] NBTX commented on #113
Looking into it now. I suspect this is after the axios migration.

[2019-08-30 17:19] #113 closed

[2019-08-30 17:36] NBTX opened #115 "Change .editorconfig"
Can we please change the editor config to

[code]

At the very least, I think `indent_style` should be tab, as the tabs can be visually changed in the editor to the developer's preference.
I think `indent_size` should be changed because when set to 1, it's actually hard to see where the lines are indented.

[2019-08-30 17:37] amxmln commented on #113
I can confirm it is working again on my end as well! :+1:  Thanks for the quick response & fix.

[2019-08-30 17:38] liyasthomas commented on #115
Proceed

[2019-08-30 17:46] izerozlu commented on #115
That would be great! And some formatting committed also.

When I try to format on my local, still changes a lot of lines.

On Fri, Aug 30, 2019, 8:38 PM Liyas Thomas <notifications@github.com> wrote:

[2019-08-30 18:23] Amoroth commented on #65
I don't know anything about Cypress but it looks like an e2e testing framework specifically. I don't think that is bad at all but doing unit tests in it may be harder as Vue Test Utils doesn't support it, it may work though, I don't know. Cypress, I think, works by spinning up whole local server and runs tests against it, while Jest works in isolated enviroments that just simulate real browsers. I

[2019-08-30 18:35] yubathom commented on #65
Right. I'll do a PR with cypress then.

[2019-08-30 18:50] NileshSP commented on #100
Have found the issue after a bit of troubleshooting and have a solution, let me know if I can contribute by submitting a PR

[2019-08-30 19:05] NBTX commented on #100
@NileshSP go for it!

[2019-08-30 22:38] #97 closed

[2019-08-30 22:38] #115 closed

[2019-08-30 23:16] nickpalenchar commented on #99
Looks like no discussion needed so I'll be running with this!

[2019-08-30 23:16] #99 closed

[2019-08-30 23:19] liyasthomas commented on #99
Revamping UI is under construction. Changes will reflect your suggestions ✌️

[2019-08-31 00:07] NBTX commented on #99
@nickpalenchar Just letting you know I'm working on autocomplete at the moment already.

[2019-08-31 01:32] NBTX opened #122 "Handling request failures when build number is obtained from GitHub"
Per discussion in #121, this issue is to determine what we should do if we can't get the latest build number from GitHub at build time. The options I can think of are as follows:

1. Hide the name section in the version information.
2. Use 'deep clone' on Travis and get the tag from the git history. (Could make builds slower over time but probably wouldn't have that big an impact)
3. Get it from `

[2019-08-31 01:36] liyasthomas commented on #122
I vote for updating version number from package.json
This seems the correct way to handle this, it also helps in tags as well.

[2019-08-31 01:37] NBTX commented on #122
Actually funny thing, I decided 2 was my favorite option but then I came up with 3 because I wanted to put 3 things instead of 2 lol.
So thinking about it, I also prefer 3.

[2019-08-31 01:38] larouxn commented on #122
We _should_ keep package.json version up to date anyway. So, if a solution for build numbers _also_ ensures that, then that's a double win. 🙌

[2019-08-31 01:39] NBTX commented on #122
Exactly! ^

[2019-08-31 01:54] NBTX opened #124 "Raw requests are not being sent"
For some reason we're running into a CORS issue when the request body is not set (it looks like axios is treating the request differently.)

[2019-08-31 02:34] NileshSP commented on #100
@liyasthomas , @NBTX  - submitted PR #125

[2019-08-31 04:26] nickpalenchar commented on #99
Very nice, thanks for letting me know 👍

On Fri, Aug 30, 2019, at 8:07 PM, John Harker wrote:

[2019-08-31 16:48] #88 closed

[2019-08-31 16:48] #124 closed

[2019-09-02 03:01] fqtyfz opened #128 "There are cross-domain problems"
'http://localhost:3000' has been blocked by CORS policy: No 'Access-Control-Allow-Origin'

[2019-09-02 04:11] liyasthomas commented on #128
Possibly a duplicate of #2

[2019-09-02 04:11] #128 closed

[2019-09-02 07:00] liyasthomas commented on #100
Fixed on #125

[2019-09-02 07:00] #100 closed

[2019-09-02 07:40] liyasthomas commented on #112
Added few of of @amxmln suggestions

[2019-09-02 12:11] liyasthomas opened #130 "Use 'icon buttons' instead of 'text buttons'"
**Is your feature request related to a problem? Please describe.**
Icons buttons with svg would be better than plain text buttons. Use line icons.

**Describe the solution you'd like**
Icons are self explanatory. Buttons like copy, delete etc can be replaced with icon buttons

**Describe alternatives you've considered**
Use text buttons :(

**Additional context**
Icons buttons should not stretch a

[2019-09-02 13:50] NBTX commented on #130
:+1: I recommend [iconmonstr](https://iconmonstr.com/) for the icons. I used it for the Settings icon and their license is extremely permissive (no attribution required and completely free to use)

[2019-09-02 13:54] liyasthomas commented on #130
I'll do it.

[2019-09-02 16:35] nityanandagohain commented on #93
@liyasthomas Can I work on this.

[2019-09-02 16:37] liyasthomas commented on #93
Yeah sure! Go ahead.

[2019-09-03 04:51] JacobAnavisca commented on #76
Created a pull for this https://github.com/liyasthomas/postwoman/pull/132 it may not be the best way to do this but I'd be glad to rework this.

[2019-09-03 05:14] liyasthomas commented on #130
aa1d3c6943b37d6699699f4119c8941c0eaf7bd8 fixed this hencing closing.

[2019-09-03 05:14] #130 closed

[2019-09-03 07:00] liyasthomas commented on #112
Fixed in #130

[2019-09-03 07:00] #112 closed

[2019-09-03 13:40] liyasthomas commented on #112
Hye guys.. @amxmln @NBTX @abraham @larouxn @izerozlu @yubathom @nickpalenchar @AndrewBastin @reefqi037
Check this out: Podcast about Postwoman: https://www.opensourcedevpod.com/episodes/postwoman-flying-through-the-network

[2019-09-04 00:33] liyasthomas commented on #76
#132 solved this hence closing

[2019-09-04 00:33] #76 closed

[2019-09-04 02:54] liyasthomas commented on #112
@amxmln Would you mind checking out the updated color schemes and give review?
Don't forgot to force refresh (Ctrl + Shift + R) and apply color schemes from Settings page.

[2019-09-04 08:51] liyasthomas commented on #45
Finally, ownership of postwoman.io is transferred. What's next?
Can't we just use custom URL for GitHub pages..?

[2019-09-04 09:52] amxmln commented on #112
Hi, @liyasthomas, I had a quick look and it’s already much better.👍 Great work! I’m also happy about the new focus state for buttons, however, I think that the input and select fields would also benefit from one.

[2019-09-04 10:32] MoonSmile1707 opened #133 "Please add a label for each request. It will be helpful."
When i post or get a request and then i want to use it again. But i don't know where it is... same issue on postman...
Please add a label for each request. :D

[2019-09-04 10:36] liyasthomas commented on #133
History section has entries with Status code, URL, Path, timestamp. Isn't that enough?

[2019-09-05 04:36] larouxn opened #134 "Add links to the footer version and commit sha"
**Is your feature request related to a problem? Please describe.**
The version number and commit sha in the footer don't link to the version and commit sha on GitHub, respectively.

**Describe the solution you'd like**
Add dynamic links to the release/commit sha.
`https://github.com/liyasthomas/postwoman/releases/tag/${release}

**Describe alternatives you've considered**
No real alternatives. Jus

[2019-09-05 09:28] liyasthomas commented on #45
:fire: Deployed to https://postwoman.io

[2019-09-05 09:28] #45 closed

[2019-09-05 09:36] #134 closed

[2019-09-05 13:34] liyasthomas commented on #133
This could be related to #29
A collection of requests with a common label/name would be :100: helpful. Make a collection of such requests and ability to share them.

[2019-09-06 01:01] liyasthomas commented on #93
@nityanandagohain any updates on the issue? I'm hoping to include this feature in the next version release ✨

[2019-09-06 01:03] liyasthomas commented on #33
@AndrewBastin any updates on the issue? I'm hoping to include this feature in the next version release ✨

[2019-09-06 01:12] liyasthomas commented on #62
#93 needs similar kinda approach

[2019-09-06 01:14] liyasthomas commented on #65
I think now its the time for next version release 🚀

Remaining v1.0 milestone tasks:
- #93 Import request from cURL
- #62 Fast URL entry
- #33 Code highlight on response body : PR #76
- #29 Ability to store/share/create collections : #72 Enable shareable requests with parameters in url queries
- #2 #128 CORS

[2019-09-06 01:20] liyasthomas commented on #31
@all-contributors please add NBTX for code

[2019-09-06 01:54] liyasthomas commented on #66
@all-contributors please add @izerozlu for code

[2019-09-06 01:58] liyasthomas commented on #74
@all-contributors please add @nickpalenchar for code

[2019-09-06 03:39] MoonSmile1707 commented on #133
when i work with GraphQL. It was enough to find a request quickly. thanks <3

[2019-09-06 07:31] nityanandagohain commented on #93
@liyasthomas I will send a PR today.

[2019-09-06 15:09] yrong opened #139 "introduce some script language to parse the response and pass environment variable as request parameter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-07 02:43] yrong commented on #139
with postman we can parse result with javascript and save data to somewhere
`
var jsonData = JSON.parse(responseBody);
tests["uuid found"] = jsonData.uuid;
postman.setEnvironmentVariable("production_id", jsonData.uuid);
`

then in the next request we can reference the saved data
`
http://{{api_host}}:{{api_port}}/api/knowledge_point/{{production_id}}
`

This feature is vital for the CI flow

[2019-09-07 20:34] NBTX commented on #112
@liyasthomas Sorry, I've been kinda swamped this week!
I checked out the new color scheme and it's 🔥! Though I think we're gonna need to put a bit more work into the light theme at some point.

...and I'm just listening to the podcast now.

[2019-09-08 14:37] larouxn opened #141 "Inconsistent version name"
**Describe the bug**
Sometimes our version name is prepending with  `v`, something it's not. This breaks the links added in https://github.com/liyasthomas/postwoman/pull/135.

In prod we _don't_ have a `v`:
<img width="1211" alt="Screen Shot 2019-09-08 at 23 33 50" src="https://user-images.githubusercontent.com/1557529/64489720-5898a380-d291-11e9-9a18-2fe5b3a3f4c0.png">

In dev we _do_ have a `v`:

[2019-09-08 15:22] liyasthomas commented on #141
* In `package.json`, version is specified without `v`
* In GitHub releases, tag is specified with `v`

In dev mode, version is picked from `package.json`
Whereas at prod build, version is taken from env tag, ie: Release Tag

This might be the reason why at dev mode, version link is broken and at production link is working. We need to unify source from which tag is selected.

[2019-09-10 04:35] JacobAnavisca commented on #33
Hey guys I just created a PR that uses highlight js, hope that's cool. Probably needs some updates to the CSS I added https://github.com/liyasthomas/postwoman/pull/142

[2019-09-15 06:06] Nachiappa commented on #139
Hi @liyasthomas ,
Do we have environment setup in current postwoman to implement this ?

[2019-09-15 07:12] liyasthomas commented on #139
@Nachiappa at present, there's no environment support.

[2019-09-15 07:14] Nachiappa commented on #139
Ok . Should we manage it in a separate ticket as an enhancement task?

[2019-09-15 07:19] liyasthomas commented on #139
That sounds okay.
I think it would be great to have this feature implemented. Environment setup along with import/export functionalities soothes things up.

[2019-09-15 07:36] Nachiappa opened #147 "Environment management and configuration"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Postwoman should have an environment setup so that we can manage the variables between multiple requests and also it should support import/export functionalities

**Describe alternatives you've considered**
N/A

**Additional context**
Add any other context or screenshots about the feature re

[2019-09-15 07:47] Nachiappa commented on #139
@liyasthomas Please review [https://github.com/liyasthomas/postwoman/issues/147](url)

[2019-09-15 07:57] liyasthomas commented on #147
While working with APIs, we often need different setups for local machine, the development server, or the production API. Environments let us customize requests using variables so we can easily switch between different setups without changing requests.

We don't need to remember all those values once they are in Postwoman. We can download environments, save them as JSON files, and upload them late

[2019-09-15 08:08] Nachiappa commented on #147
Can i assign this to me and start working ?

[2019-09-15 10:53] larouxn commented on #141
Everything seems to working as desired now.
<img width="1227" alt="Screen Shot 2019-09-15 at 19 52 55" src="https://user-images.githubusercontent.com/1557529/64920412-78c8e500-d7f2-11e9-8eec-4b30581317e1.png">
<img width="1243" alt="Screen Shot 2019-09-15 at 19 53 05" src="https://user-images.githubusercontent.com/1557529/64920413-78c8e500-d7f2-11e9-80da-ae4fbc20047e.png">

[2019-09-15 10:53] #141 closed

[2019-09-15 13:56] liyasthomas commented on #65
@Amoroth @yubathom is there any updates on this issue? I hope stable release v1.0 will be at the end of this week and it would be great to run some tests!!

[2019-09-15 13:58] liyasthomas commented on #122
@NBTX this issue seems to be absolute.  Would you mind closing it?

[2019-09-15 14:02] liyasthomas commented on #92
@izerozlu any updates on the sort feature for history entries?

[2019-09-15 14:05] izerozlu commented on #92
For now I couldn't have found the time for it. I'll try to get something g
up this week, if that's okay.

I've been quite busy with these past few weeks. I'll be marrying in a month
😊
Sorry about the delay!

On Sun, Sep 15, 2019, 5:02 PM Liyas Thomas <notifications@github.com> wrote:

[2019-09-15 14:09] liyasthomas commented on #92
Congratulations ✨💞🎉
Wish both of you a happy married life 💜

[2019-09-15 14:13] izerozlu commented on #92
Thanks! 💕
That and the load on the work have been holding me from the postwoman these
weeks.

I'll try to catch up to the project soon!

On Sun, Sep 15, 2019, 5:09 PM Liyas Thomas <notifications@github.com> wrote:

[2019-09-15 18:52] nityanandagohain commented on #92
I would love to work on the sort feature.

[2019-09-15 19:04] izerozlu commented on #92
@nityanandagohain be my guest, go for it!

[2019-09-15 19:46] yubathom commented on #65
@liyasthomas the setup is almost done. I will send a PR tomorrow.

[2019-09-16 22:57] hosseinnedaee commented on #87
Hi
I pushed my changes [sync-path-and-parameters](https://github.com/hosseinnedaee/postwoman/tree/sync-path-and-parameters)
Could you please check the functionality. (I didn't clean the code yet)

[2019-09-16 23:07] liyasthomas commented on #87
@hosseinnedaee I went through your approach. Seems to be working. Clean your code, optimize the logic. And send PR. I'll run few tests once again.

[2019-09-17 08:42] liyasthomas commented on #112
Major UI update is on the way 🔥
postwoman.io had a silly, non-professional UI.
It has been updated with better color schemes, icons and components.

Please review and give suggestions ✨

[2019-09-17 15:02] AndrewBastin opened #149 "A place to discuss"
Just wanted to put out a request for a place to discuss postwoman related stuff in a convenient way. GitHub doesn't exactly offer a way to discuss stuff in a freeform way (without opening issues and stuff, just a general flow of ideas).

Could we have a chat room in [gitter](https://gitter.im/) or something similar ? (Discord, Slack, Telegram ?)

Bonus : Would give users a space to get live help.

[2019-09-17 15:02] AndrewBastin commented on #149
Also a separate dev and help channels will be awesome

[2019-09-17 15:11] liyasthomas commented on #149
A telegram group would be enough

[2019-09-17 18:50] AndrewBastin commented on #149
@liyasthomas a mention of this in the README will be nice

[2019-09-17 18:54] liyasthomas commented on #149
Will do in next commit

[2019-09-17 22:00] hosseinnedaee commented on #87
@liyasthomas you're welcome
I have submitted a PR #152

[2019-09-18 03:59] #92 closed

[2019-09-18 09:01] liyasthomas commented on #87
#152 solves this issue hence closing

[2019-09-18 09:01] #87 closed

[2019-09-18 09:03] liyasthomas commented on #149
Added Telegram group link to README on 8dadec62209715ae7b6c0510d59045880fc22591 hence closing

[2019-09-18 09:03] #149 closed

[2019-09-19 20:17] hosseinnedaee commented on #149
I tried to join the channel, but Telegram isn't easily accessable in my region.

[2019-09-19 23:27] liyasthomas commented on #149
I could start a gitter or discord group if you prefer

[2019-09-20 19:32] hosseinnedaee commented on #149
I prefer discord.

[2019-09-21 02:01] liyasthomas commented on #149
@hosseinnedaee https://discord.gg/GAMWxmR

[2019-09-22 17:38] nityanandagohain opened #155 "Clear Input"
**Is your feature request related to a problem? Please describe.**
Let say you entered all the parameters and headers for an API request after sending it there is no way to clear them all in a single click without refreshing the page.

**Describe the solution you'd like**
A button to clear the current content.

I want to work on it.

[2019-09-23 02:25] jgroom33 commented on #147
What is the value of saving the environment as text?

[2019-09-23 02:39] liyasthomas commented on #147
JSON is prescribed as a standard format. For easy parsing key value pairs, filtering and iterating through arrays, etc.

[2019-09-23 02:40] liyasthomas commented on #147
@Nachiappa how's your progress on this?

[2019-09-23 03:10] jgroom33 commented on #147
Imo, one of the weaknesses of postman is that all variables are stored as strings... Even if they are objects or arrays or integers.
As an example. Let's assume an environment as:
[code]
By storing environments as native objects, they could be referenced as:

{{foo.qux}}{{foo.bar}}

[2019-09-23 03:33] Nachiappa commented on #147
I have started to store the environment variables as an value in indexeddb . Hopefully I'll able to complete by tomorrow and provide you a status. Is that fine?

[2019-09-23 13:33] QasimArif opened #157 "Send Again Button Constantly Flickering"
**Describe the bug**
When visiting the mobile site, the Send Again and Send button constanly flicker. This only occurs when you're at the top of the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://postwoman.io/'
2. Scroll to the very top. See buttons flicker.

**Expected behavior**
No flickering

**Screenshots**
If applicable, add screenshots to help explain your problem

[2019-09-23 14:38] liyasthomas commented on #157
Issue has been identified. Will get back to you ASAP.

[2019-09-23 14:41] liyasthomas commented on #157
It has been found that, this issue is caused by different viewport on mobile devices. And it is a device specific bug. Since it's not a universal bug, it somehow went unnoticed.
Working on a fix right now.

[2019-09-23 17:57] davidyscott opened #158 "Response with content-type "application/hal+json" shows as [Object object]"
**Describe the bug**
A picture says a thousand words here.  Also note that this is a recent regression; earlier versions worked as desired (I know this isn't super helpful since I don't know which exact commit broke it)
![Screenshot from 2019-09-23 10-49-48](https://user-images.githubusercontent.com/5116327/65449682-53d70200-ddf0-11e9-82ab-5377768be96e.png)

**To Reproduce**
Steps to reproduce the

[2019-09-23 18:44] AndrewBastin commented on #158
Thanks for opening up the issue.

I will look into this.

[2019-09-23 20:49] AndrewBastin commented on #158
@davidyscott I have submitted a PR.

Feel free to test my (fork)[https://github.com/AndrewBastin/postwoman] and please do report if the issue still persists.

[2019-09-23 23:08] #158 closed

[2019-09-24 10:22] liyasthomas opened #162 "Missing "Landing/start page""
**Is your feature request related to a problem? Please describe.**
Currently theres no landing page for this service. How about if there's a landing page, about page and a mail list subscribe page so that people will get notified when new release is shipped!

**Describe the solution you'd like**
I made a demo Landing page and published on launchaco here: https://postwoman.launchaco.com

**Describe

[2019-09-25 00:28] jgroom33 opened #164 "Add Docker"
it would be nice to have no install dependencies except docker.

expected behavior: `docker run -it -p 3000:3000 liyasthomas/postwoman:latest`

[2019-09-25 02:15] jgroom33 commented on #164
@liyasthomas
“Set up Automated Builds using GitHub and Docker Hub” by oleksii_y https://link.medium.com/AmD5s8x6f0

[2019-09-25 02:22] davidyscott commented on #158
@AndrewBastin Yayy thank you!  :)

[2019-09-25 02:36] davidyscott opened #166 "Headers turn into 0 : [Object object]"
**Describe the bug**
Headers specified in the "Headers" section do not get sent correctly on the request.  Instead, they are sent with the key as a zero-indexed integer and the value as "[Object object]".  That is, if I specify one header, let's say `abcd : efgh` the actual request will have `0 : [Object object]`.  If I specify two headers, the request will have `1 : [Object object]` as well.

**T

[2019-09-25 02:42] liyasthomas commented on #164
We're already making use of Travis CI for deployments. And I'm not experienced with docker. Would you care to explain docker CD advantages over other CIs?

[2019-09-25 02:45] liyasthomas commented on #166
Issue has been identified.

[2019-09-25 02:47] davidyscott commented on #166
@liyasthomas WOW SO FAST!!!

[2019-09-25 02:48] jgroom33 commented on #164
the requirement is:
Publish an image to docker hub liyasthomas/postwoman

This account needs to exist so the image can be published there.

Then the image needs to be pushed there.

It's probably possible to do this with Travis, but it would require that to be setup in Travis. (Ie add a token for docker hub in Travis)

If docker hub is used, the process is easier. Just link your GitHub account fro

[2019-09-25 02:49] liyasthomas commented on #164
Cool! Let me do a background check on it and will let you know.

[2019-09-25 02:50] liyasthomas commented on #164
Closed by accident

[2019-09-25 02:53] #155 closed

[2019-09-25 03:44] #166 closed

[2019-09-25 03:46] liyasthomas commented on #166
Please verify that issue has been solved

[2019-09-25 04:13] davidyscott commented on #166
@liyasthomas Verified!  Thanks so much!  :D

[2019-09-25 04:29] davidyscott opened #167 "Content-Type is always set to application/x-www-form-urlencoded"
**Describe the bug**
Regardless of what I select from the Content Type dropdown, requests are actually sent with the header "Content-Type: application/x-www-form-urlencoded".

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postwoman and your browser's Network Tools
1. Make a POST or PUT request with Content Type of "application/json" selected
1. Observe that the request was actually sen

[2019-09-25 04:53] liyasthomas commented on #167
I failed to reproduce this issue

[2019-09-25 19:19] AndrewBastin commented on #167
I tested the behavior both from the server and client side, the content-type header seems to be sent fine.

[2019-09-25 23:43] davidyscott commented on #167
:(  I can't repro it anymore either.  Probably some sort of user error!!

[2019-09-25 23:43] #167 closed

[2019-09-26 06:01] sharath2106 commented on #133
@liyasthomas I would like to work on this issue. Let me know if no one has claimed to work on this yet.

[2019-09-26 06:05] liyasthomas commented on #133
@sharath2106 You're welcome. Assigning to you.

[2019-09-26 11:58] liyasthomas commented on #164
@jgroom33 https://hub.docker.com/r/liyasthomas/postwoman

[2019-09-26 21:52] jgroom33 commented on #164
Works great. Now just need to update the readme with:
`docker run -p 3000:3000 liyasthomas/postwoman:latest`

[2019-09-26 21:56] liyasthomas commented on #164
Will do

[2019-09-26 23:10] nickpalenchar opened #168 "Docker-compose in development"
Since we recently Dockerized  in #164, I'm happy to add docker-compose.yml configuration for development with docker.

The main advantage would be that a developer could have a fully working dev environment by running `docker-compose up`, no need to install anything else. An added bonus is that the local environment would be much closer to production.

`docker-compose` is also a nice "layer", in t

[2019-09-27 01:06] liyasthomas commented on #168
@nickpalenchar you are good to go. Com'n.. this is our project, we make this better for everyone! 🚀

[2019-09-27 03:37] #164 closed

[2019-09-27 03:49] liyasthomas commented on #164
@jgroom33 can you tell me why docker taking ~12 mins to build? Any optimizations you wanna suggest to `dockerfile`?

[2019-09-27 07:33] jgroom33 commented on #164
Where are you seeing the 12 minutes?
One of the things that would be good is to use an alpine image. They are much smaller (50M compared to 300M)
But that would only impact time if the root image is being downloaded each build.
I tried to use an alpine image originally, but the build failed.

[2019-09-27 07:55] liyasthomas commented on #164
Build duration was 12 mins.
Let me see if I could build with alpine rather than buster.

[2019-09-27 09:23] liyasthomas commented on #112
## Reached 100/100 Lighthouse score 🎉 🎉

![Screen Shot 2019-09-27 at 2 48 40 PM](https://user-images.githubusercontent.com/10395817/65758232-5742f400-e136-11e9-9e26-54a2c59f4f27.png)

[2019-09-27 13:23] jgroom33 commented on #164
https://hub.docker.com/_/node/?tab=tags&page=1&name=alpine

[2019-09-27 13:37] liyasthomas commented on #168
#169 resolves this hence closing

[2019-09-27 13:37] #168 closed

[2019-09-28 04:03] liyasthomas commented on #162
Published https://postwoman.launchaco.com hence closing

[2019-09-28 04:03] #162 closed

[2019-09-28 14:15] TheHollidayInn commented on #29
Can I work on the issue of creating and storing the collections?

[2019-09-28 14:32] jgroom33 commented on #29
@NBTX
Yes, I'm in favor of providing the power of writing these tests by hand.
I see this project progressing as follows:
1. Store collections
2. Execute stored collections via CLI tool (for CI integration)

A critical weakness of postman is that a stored collection is basically a binary file. The UI is required for any modifications to be implemented.
This makes code review for any postman collec

[2019-09-28 14:55] liyasthomas commented on #29
@TheHollidayInn you are free to work on this :tada: Assigning to you

[2019-09-28 15:02] liyasthomas commented on #29
@jgroom33 it's only been ~a month since the first commit and this project has gained so much of traction within this short span of time! It's exciting to know that people/devs are really making use of this platform in their daily workflow. Now we've great community and I'm sure we could make this, the best tool for API resting.

[2019-09-28 16:47] liyasthomas commented on #26
Refer: https://github.com/davidroyer/nuxt-firebase-auth

[2019-09-28 18:50] terranblake commented on #62
@liyasthomas and @NBTX i'd like to take this one for hacktoberfest 😄

[2019-09-28 18:57] liyasthomas commented on #62
@terranblake you are free to contribute to this 🔥👌 assigning to you.

[2019-09-28 19:03] terranblake commented on #62
@liyasthomas for this feature to be implemented, i do have a couple questions about a proposed design.

1. can the `path` field be removed as a part of the solution?
2. can i move the `permalink` and `show code` buttons below the `url` field on the same plane as `import cURL`?

[2019-09-28 19:08] liyasthomas commented on #62
@terranblake yes you can. `permalink` & `show code` can be moved to bottom of the section.

currently `path` is appended to request, you must resolve that while making changes.

there are binding for `path` in various methods, you must resolve that too.

[2019-09-28 20:25] NBTX commented on #62
@terranblake I imagine you would just use the JavaScript URL object:
`const target = new URL("https://example.com/test");`

In which case you can just get `.path`, `.host`/`.hostname`, etc.
As @liyasthomas mentioned, `path` is in a separate variable so you will need to split the URL and handle them separately but part of the goal of this ticket is to have the entire URL (querystring and all) handl

[2019-09-28 23:01] NBTX commented on #157
@liyasthomas perhaps we should just hide the send again button until the first request has been sent? That kind of kills two birds with one stone for me, so to speak.

[2019-09-29 13:23] NBTX commented on #122
@liyasthomas absolute?

[2019-09-29 13:36] liyasthomas commented on #122
Sorry. Oftentimes, version number is still fetched from `package.json` causing version tag without "v" before the tag. This issue is persisting.

[2019-09-30 18:36] AndrewBastin commented on #2
Assigning the issue to myself as I intend to resolve it by introducing a proxy system.

[2019-09-30 22:22] liyasthomas commented on #2
Middleware implementation has out of the box support in Nuxt.

[2019-10-01 04:21] sharath2106 commented on #133
@liyasthomas You should be getting a PR by today or tomorrow. First timer here.

[2019-10-01 04:43] liyasthomas commented on #133
_There is always a first._

[2019-10-01 21:26] NBTX opened #175 "Allow HTTP (not HTTPS) on postwoman.io"
Currently postwoman.io redirects insecure requests to HTTPS.
Whilst this is often desirable, it prevents us from testing HTTP-only sites.

So essentially, we just need to disable this redirect.

[2019-10-02 00:47] nickpalenchar commented on #91
I like this idea, but I think it can be broken into a few features.

First step is adding a way to interpolate variables into the request (which would actually make them dynamic)

While there could be a few built-in variables, it would make sense to have a "pre-request" script that sets additional variables.

The example OP gives implies chaining requests, with subsequent ones having access to bin

[2019-10-02 03:58] liyasthomas commented on #175
Browser will block any resources (scripts , link , iframe , XMLHttpRequest, fetch) to download if original html page is in https and request resources are in http.

Browser throws an Mixed Content error.

Only work around I found is to tweak browser security policies and allow http requests.

[2019-10-02 12:53] biodrone opened #178 "Allow User to Choose Whether to Include Authentication in Permalink"
**Is your feature request related to a problem? Please describe.**
When sharing permalinks with others, it would be useful to have the option to not include API credentials in case users have different accounts.

**Describe the solution you'd like**
A toggle somewhere near the Permalink button which allows the user to enable/disable including credentials.

**Describe alternatives you've considered

[2019-10-02 12:58] liyasthomas commented on #178
Toggle component is already used before. Please make use of that.

[2019-10-02 14:25] yemkhaung commented on #157
Device: **Galaxy S5 (Chrome Dev Tools)**

Found that it flickers at a certain point of scrolling. Also saw a IntersectionObserver toggling "show" CSS class). Not sure that's the case.

[2019-10-02 17:35] obbap1 commented on #147
Are there screenshots of how this feature should be implemented? Should it be like Heroku's platform with key-value pairs or like postman where we'll have something like pw.setEnvironmentVariable("a", "b") ?

[2019-10-03 12:11] liyasthomas commented on #133
@sharath2106 just thought I should ping you for PR.

[2019-10-03 23:59] AndrewBastin opened #180 "POST request json bodies aren't sent"
**Describe the bug**
The POST request body (from the built-in JSON editor) does not seem to reach the recipient.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a test server (like [this](https://gist.github.com/AndrewBastin/a8806d4378f0aa8c51ccb3b2f846ef30) in express)
2. Send a request to the server in postwoman with some JSON
3. We get '{}' as the POST body printed on the server si

[2019-10-04 00:03] liyasthomas commented on #180
Can you submit a screenshot of console?

[2019-10-04 00:10] AndrewBastin commented on #180
![The image](https://i.imgur.com/3NmRy4b.jpg)

[2019-10-04 00:11] liyasthomas commented on #180
chuckle i'm in danger

[2019-10-04 00:20] SimplyComplexable commented on #180
@liyasthomas I can take a look into this.

[2019-10-04 00:39] AndrewBastin commented on #180
@SimplyComplexable feel free to do so 😊

[2019-10-04 02:26] sharath2106 commented on #133
Done with setting up data and the text box for the request name. Rendering the same in the history section is not happening even after introducing the fields in history.vue component and index.vue.
<img width="1226" alt="Screenshot 2019-10-04 at 7 51 03 AM" src="https://user-images.githubusercontent.com/25933070/66176609-08d4ae80-e67c-11e9-8d75-3f7c2d88bd6b.png">
<img width="1220" alt="Screenshot

[2019-10-04 04:10] liyasthomas commented on #133
History data is fetched from localStorage. And also binded to it. After sanding the request, check `Dev tools > Application tab > Local storage > http://localhost:300 > history` to see entries.

[2019-10-04 04:57] #157 closed

[2019-10-04 05:15] sharath2106 commented on #133
Have tried to print the history entry in the console

<img width="1680" alt="Screenshot 2019-10-04 at 10 43 29 AM" src="https://user-images.githubusercontent.com/25933070/66182765-fbc3b980-e693-11e9-8b2e-bb6f6d124883.png">

This is the local storage -
<img width="1680" alt="Screenshot 2019-10-04 at 10 42 44 AM" src="https://user-images.githubusercontent.com/25933070/66182766-fbc3b980-e693-11e9-8d0

[2019-10-04 05:23] liyasthomas commented on #133
@sharath2106 everything seems okay to me.

`<input aria-label="Label" type="text" readonly :value="entry.label">`

Add 👆 this to history.vue

[code]

And repost.

[2019-10-04 05:45] sharath2106 commented on #133
@liyasthomas Have already added those lines and then docker-compose up.

<img width="1171" alt="Screenshot 2019-10-04 at 11 11 24 AM" src="https://user-images.githubusercontent.com/25933070/66183799-b99c7700-e697-11e9-81d4-a9f1843e54d9.png">

[2019-10-04 06:21] liyasthomas commented on #133
@sharath2106 could make a PR for all changes till now, I'll look into it.

[2019-10-04 17:19] AndrewBastin commented on #180
Oops, sorry, it was a thing with body-parser and Content-Type definitions :sweat:

Closing the issue, sorry guys :sweat_smile:

[2019-10-04 17:19] #180 closed

[2019-10-05 09:48] saphal1998 commented on #91
@nickpalenchar Really new to contributing. Can you rope me in while working on this issue? I'd really like to learn.

[2019-10-06 00:27] liyasthomas commented on #65
#181 resolves this hence closing.

[2019-10-06 00:27] #65 closed

[2019-10-06 20:21] nickpalenchar commented on #91
Hi @saphal1998 I just emailed you, happy to work with you on this!

[2019-10-07 13:48] jgroom33 commented on #29
It would be great if the collection storage could also leverage the server directory structure. This would allow the execution ordering to be controlled by alphanumeric file naming.

[2019-10-07 15:52] #133 closed

[2019-10-08 00:34] jgroom33 commented on #139
If possible, all responses should automatically be parsed. No code should be required to parse a response. All responses should be available for reference via {{ foo.response.bar }} in a subsequent call.

[2019-10-08 00:47] jgroom33 commented on #29
I think the default behavior should be filesystem storage.
The config should allow an array of directories to be specified for loading. I'm this scenario, a directory is equivalent to a postman collection.

This will allow a future feature: git tracking each collection directly from postwoman UI

[2019-10-08 01:10] jgroom33 opened #188 "Cache view"
No pre or post scripts should be necessary to handle json parsing a response and using a value from that response in a subsequent call.

When a labeled request is executed, the response of that request should be parsed as json by default and stored in the local cache (along with the request object)

The cache should be viewable in the UI and be editable.

Example cache:

[code]

A subsequent reque

[2019-10-08 01:14] terranblake commented on #62
Hopping on this one tonight. Will keep this issue updated.

[2019-10-08 01:51] OGProgrammer commented on #29
openAPI support would be huge, looking for that as I see no way of saving/exporting a config

[2019-10-08 02:02] liyasthomas commented on #29
Export/import request collections with OpenAPI support would tremendously elevate this project to the next level.

[2019-10-08 03:07] terranblake commented on #62
<img width="1254" alt="Image 2019-10-07 at 8 06 36 PM" src="https://user-images.githubusercontent.com/8795767/66364295-0bfec180-e93e-11e9-93ed-e8e7640f8175.png">
This is what I have so far. Nothing too crazy.

[2019-10-08 03:11] liyasthomas commented on #62
@terranblake you tested? Any bugs?

[2019-10-08 03:11] terranblake commented on #62
Query params are imported directly into the parameters section. I am having an issue with the `Referer` field of the request getting blown up...

[2019-10-08 03:11] jgroom33 commented on #29
OpenAPI is a spec to define an API. It is not a model or schema for a singular execution or collection of executions.

For example, assume a collection stores 2 requests that call the same API uri. OAI is not designed to define an API twice.  Additionally, OAI works by defining a schema for request and response. Postwoman and postman only deal with the data. There is no spec in OAI to define the a

[2019-10-08 03:13] liyasthomas commented on #62
Lemme take a look at it and possibly help you 🙂

[2019-10-08 03:15] liyasthomas commented on #29
We'll go with seperate issue then.

[2019-10-08 03:17] terranblake commented on #62
Alrighty. I'll fork. One sec

[2019-10-08 03:19] terranblake commented on #62
Should be available on [this branch](https://github.com/terranblake/postwoman/tree/terranblake/fast-url-entry)

[2019-10-08 14:12] terranblake commented on #147
@liyasthomas this issue looks to be somewhat stale. mind if i take over on this one?

[2019-10-08 14:14] jgroom33 commented on #147
I think this should be combined with #188

[2019-10-08 23:57] jgroom33 commented on #147
This issue is overloaded anyway. It should probably be closed.
The import/export should be a separate issue.
If there is agreement that #188 will satisfy the original intent of this issue, it should be closed.

[2019-10-09 01:49] terranblake commented on #147
Is what I would like to approach with the following plan.

I think the import/export functionality can be addressed separately, or as needed once I make progress on the basics for the environment.

The plan would be the following (Steps delineate a planned PR):
1. New section e.g. `Environment`, with a stripped-down version of [object-editor-react](https://www.npmjs.com/package/object-editor-react

[2019-10-09 01:56] terranblake commented on #147
@jgroom33 I think this issue and #188 are different in that #188 sounds more like a feature for chaining requests/response together to make a workflow.

I interpreted this issue as a discussion for an implementation of a "global" environment that could be used between requests, but not dependent on a previous/next request existing. e.g. I want to specify the same token across all requests, or some

[2019-10-09 02:40] jgroom33 commented on #147
I was thinking that an editable cache could be used to set vars. With that implementation, there would be a json with responses and anything the user wants to specify. But that wouldn't address the requirement of loading a set of vars from a file.

[2019-10-09 14:28] terranblake commented on #147
@jgroom33 i think loading a set of variables from a file should be moved to a separate issue entirely. A simple environment can be implemented without the need for import/export functionality and should reduce the scope of this issue.

[2019-10-09 14:34] liyasthomas commented on #147
I second @terranblake 's opinion 👍

[2019-10-09 14:47] terranblake opened #190 "Import and export environments from JSON"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I would like the ability to import/export an environment, with a specified environment name (at time of upload), to enable the ability to share environments.

**Describe alternatives you've considered**

[2019-10-09 14:50] terranblake commented on #190
Creating this to minimize scope for #147. Will require this issue to be resolve in some way for this issue to be started

[2019-10-09 14:59] jgroom33 commented on #147
I agree that loading the vars from a file is a good separate issue. Where does that file get loaded to? Loading it into a UI space that only handles env vars is not as flexible as loading it into a general cache.
What I would like you to consider is that a cache and an environment are roughly the same thing. Except that an environment is only expected to be used for environment variables. IMO, tar

[2019-10-11 08:29] hosseinnedaee commented on #175
Maybe we should use a proxy server. send the request to proxy server fetch HTTP request on the server and then return back the response to Postwoman client.

[2019-10-11 08:58] liyasthomas commented on #175
Proxy implementation with Nuxt middleware is planned. @hosseinnedaee would you like to work on this feature?

[2019-10-11 10:31] hosseinnedaee commented on #175
yeah sure @liyasthomas
do you have any idea about implementation or I just start to work on it?

[2019-10-11 10:46] liyasthomas commented on #175
@hosseinnedaee #2 had an active discussion around implementing middleware for proxy. This not only allow us to request for http but also solves CORS issues. NBTX is busy and couldn't follow this.

Later our team took it to telegram group chat for further discussions. Follow from thia chat for discussion https://t.me/postwoman_app/72

[2019-10-11 12:03] liyasthomas commented on #178
@biodrone thought I should ping you to know the update on this issue.

[2019-10-11 16:01] AndrewBastin commented on #2
Umm, I am working on this, but I have some personal stuff coming up, so I will be focusing on that for a while (a week or so).

I am unassigning myself from this meanwhile, feel free to tackle this issue if you want.

[2019-10-12 17:44] hosseinnedaee commented on #175
@liyasthomas Assign me to this issue.

[2019-10-15 02:12] terranblake commented on #147
Taking a stab at this one tonight. Probably going to skip the stripped down version of `object-editor-react`, but will have a basic proof-of-concept by tomorrow

[2019-10-15 02:50] liyasthomas commented on #147
@terranblake this milestone feature will make you a collaborator ✨

[2019-10-15 02:52] terranblake commented on #147
Oh my gosh, that's like the most exciting thing I've heard all month 😱

[2019-10-15 02:56] liyasthomas commented on #147
Then you should hold your breath while I plan on giving out donations 💰 / swags 🌈 / badges 🏷️for contributors 🎉🎉

[2019-10-15 16:15] terranblake commented on #147
@liyasthomas would you mind changing the name of this issue to `Environment management and configuration`?

To get an MVP out, I'd also like to use the same functionality used in the raw payload section

[2019-10-15 16:58] terranblake commented on #147
Section completed. Now for the 💪 by adding templating to everything
<img width="1234" alt="Image 2019-10-15 at 9 56 54 AM" src="https://user-images.githubusercontent.com/8795767/66852621-32ba8a80-ef32-11e9-9176-bfc4d96162c5.png">

[2019-10-15 17:01] terranblake commented on #147
Do we have a plan for what we want to use for the template language? I'm familiar with liquid, but would like to try something new if other have experience with another solution. @liyasthomas @jgroom33

[2019-10-15 18:32] jgroom33 commented on #147
this is powerful: https://mozilla.github.io/nunjucks/

[2019-10-15 18:41] jgroom33 commented on #147
Some storage reference options:
{{ environment.foo }}
vs.
{{ variables.foo }} <-- just a nomenclature change
vs.
{{ foo }}  <-- store all vars specified in 'environment' as global vars

[2019-10-15 18:45] jgroom33 commented on #147
using nunjucks also allows things like this:
https://github.com/eykrehbein/strest#using-random-values-with-faker

A common set of libraries can be implemented to handle:
* random number gen
* uuid generation
* timestamps
* jsonpath lookup of a result

[2019-10-15 18:49] liyasthomas commented on #147
@jgroom33 awesome suggestion on nunjucks 🔥

@terranblake get around nunjucks and see if it meets our requirements. async support is there 🙌🏼

[2019-10-15 19:17] terranblake commented on #147
@jgroom33 I like the suggestion for nunjucks. It looks like it has a lot of the same features as the language that I'm suggesting [Liquid](https://shopify.github.io/liquid/basics/introduction/).

I don't see a downside to using either, other than that the liquid language is still actively maintained, whereas nunjucks looks to be not as actively maintained.

[2019-10-16 00:06] jgroom33 commented on #147
Looks like liquid is written in Ruby. So if you want to write any custom filters or methods, you'll need to use that language.

[2019-10-16 01:42] terranblake commented on #147
liquid allows you to [define custom templates](https://github.com/harttle/liquidjs/wiki/Register-Filters-Tags) using the JS lib that I normally use

[2019-10-16 21:30] mdt2 commented on #98
I'll work on this!

[2019-10-18 16:20] liyasthomas opened #196 "Chain requests. Execute a bunch of requests one by one and produce results"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**
1. Under request section an "add new request" button.

2. This will create another request section with defaults or inherits last request's setup.

3. "Send" button on each request section as well as there's a "send all" button.

4. Sending requests will executes requests top to botton (0

[2019-10-20 01:13] #2 closed

[2019-10-20 01:13] #175 closed

[2019-10-20 21:08] sblasa commented on #91
Hi @nickpalenchar and @saphal1998 ! Just wondering if I could assist with this issue? I wasn't sure if @saphal1998 was working on it based on the status. Thanks!

[2019-10-20 23:22] liyasthomas commented on #91
@sblasa you wat to work on this feature? Shall I assign this to you.

[2019-10-20 23:30] sblasa commented on #91
@liyasthomas , yes, I would like to work on this feature, but I'd like to work with @nickpalenchar 's implementation of the features he mentioned to help me get started.

[2019-10-20 23:33] liyasthomas commented on #91
Great! Please collaborate and discuss! 🎉

[2019-10-20 23:35] sblasa commented on #91
Thanks, @liyasthomas -- oh forgot to ask if you could also assign this to me.

[2019-10-20 23:56] nickpalenchar commented on #91
Awesome @sblasa! I’ll be emailing you in a few hours 🙏

[2019-10-21 02:24] nickpalenchar commented on #91
oops, @sblasa, I see you don't have a public email; go ahead and send me one instead (email address on my github profile). Talk soon!

[2019-10-21 02:27] liyasthomas commented on #91
Environment variable feature branch is in WIP here: https://github.com/terranblake/postwoman/tree/terranblake/basic-environment

[2019-10-21 11:22] nickpalenchar commented on #91
uh oh.. this is also being worked on here: https://github.com/liyasthomas/postwoman/tree/feature/dynamic-headers

Not sure how to proceed.

[2019-10-21 11:28] liyasthomas commented on #91
You can go on as in your previous plans. Only one might be able to merge.

[2019-10-21 17:37] hosseinnedaee opened #203 "All changes in input fields lost when you switch to another page"
**Describe the bug**
Any inserted data or change that you made in Method, URL and .. will be lost  when you switch to another page

**To Reproduce**
Steps to reproduce the behavior:
1. Change URL input value to something like `https://jsonplaceholder.typicode.com`
2. Go to another page, for example, Click on 'Settings' (gear icon on the top-right corner)
3. Go back to the HTTP page again
4. see th

[2019-10-21 21:45] liyasthomas commented on #203
Yeah this bugs me out too.
A save as you type (to localStorage) feature might fix this.

[2019-10-21 23:31] breno-pereira commented on #203
Can I get this one?

[2019-10-22 01:02] liyasthomas commented on #203
@breno-pereira yeah sure! every contribution helps 🙂
Assigning this to you!

[2019-10-22 09:19] #29 closed

[2019-10-22 12:33] sheecegardezi opened #204 "On Save Update existing API"
**Is your feature request related to a problem? Please describe.**
As I am developing my API is evolving. When I make a change in api I have to save the API again and delete the old saved version.

**Describe the solution you'd like**
When I press ctrl+s (or some other shortcut) save action is triggered.
A background logic checks if I had saved this API before or not.

If its already saved:

[2019-10-22 14:43] TheHollidayInn commented on #4
I think that with my new collections PR, I could solve this issue since the requests are stored in vuex now. I could add a copy button to the requests that are saved and allow the user to get the json

[2019-10-22 16:54] liyasthomas commented on #204
Collections feature has just been shipped! Thanks for the first set of suggestions. Will surely consider adding these feature requests in near future.

In the meantime, you can make use of 'Edit request' feature within collection/folder/ to update API changes. Expecting new feature requests and suggestions as well as bug reports 🙌🏼

[2019-10-22 17:06] liyasthomas commented on #204
Btw, if the request is already saved, saving again it will ask you to update the existing API. This is already implemented.
Alternatively, if you want to save the API as a new one, please choose another collection or folder to save it as a new entry. This is also available right now.

Let me know if you're facing any bugs.

[2019-10-22 19:07] ianfabs commented on #203
@breno-pereira Need any help on this fix?

[2019-10-23 01:21] nickpalenchar opened #206 "Display sendRequest runtime errors in the console"
Currently only a specific type of error caught in sendRequest is displayed. All others are swallowed, but the message displayed to the users instructs to check the console for errors. Let's show those errors appropriately so that the resolve makes sense.

[2019-10-23 01:28] liyasthomas commented on #206
Thats better! Perhaps show a toast? Than console.log().

[code]

[2019-10-23 01:37] liyasthomas commented on #203
He could use some help!🙌🏼

[2019-10-23 01:44] nickpalenchar commented on #206
Toast would be good. Looking at a why-not-have both approach. Toast would display the error message but having the full error in the console is also good to easily refer to, as well as getting more verbose details like the error stack (this is being implemented as a console.error rather than console log)

[2019-10-23 01:46] liyasthomas commented on #206
Yeah! That's correct. Just saw the branch. Make the PR. Will merge right away!

[2019-10-23 01:55] #206 closed

[2019-10-23 17:34] anthonkendel commented on #196
Hey, 😄 I would be interested in helping out. Is this anything that you looked into @liyasthomas ?

I checked out the source code but it seems like the current implementation only keeps track of one request at a time. Correct me if I am wrong.

[2019-10-23 19:04] liyasthomas commented on #196
@anthonkendel currently one one request can be sent at a time. This feature is a very helpful o e and it would be great if you could help us pull this off!

[2019-10-24 06:19] turbobin opened #210 "I can't send POST method"
hi,
I meet a strange problem,  when I choose POST method to send, it always turn on OPTIONS, why ? look at the image:

![image](https://user-images.githubusercontent.com/35211343/67458328-7fa40c80-f668-11e9-888a-8ca6ee17e296.png)

[2019-10-24 07:02] liyasthomas commented on #210
@turbobin Thanks for reporting the bug. Sorry for the inconveniences caused. Could you please share the API endpoints so that we could run some manual tests.

[2019-10-24 13:57] liyasthomas commented on #4
#176 #209 fixes this. Hence closing.

[2019-10-24 13:57] #4 closed

[2019-10-24 13:59] liyasthomas commented on #204
#209 fixes this, hence closing.

[2019-10-24 14:03] liyasthomas commented on #5
#209 fixes this, hence closing.

[2019-10-24 14:03] #5 closed

[2019-10-24 18:28] peoray commented on #203
What's the status of this?

[2019-10-24 18:31] breno-pereira commented on #203
It's almost done

[2019-10-25 02:22] reefqi037 opened #212 "Bearer Token value still left even after being cleared"
**Describe the bug**
Clear all button and Clear button in Authentication section won't clear the value of Bearer Token. Selecting Bearer Token Authentication Type after clicking clear button will show the old value.

**To Reproduce**
Steps to reproduce the behavior:
1. Select ```Bearer Token``` for ```Authentication Type```
2. Add ```token``` value
3. Click ```Clear``` button or ```Clear all```
4.

[2019-10-25 02:23] reefqi037 commented on #212
Working on this. Just a simple fix.

[2019-10-25 06:38] #212 closed

[2019-10-25 12:16] NBTX commented on #210
The `OPTIONS` request being sent first is a CORS preflight request that gets made automatically when `POST`ing data to a server. The `POST` request doesn't get sent as the `OPTIONS` preflight request is failing.

This is a 'feature' of the browser that we have no control over, so this issue will require use of the Postwoman proxy.

[2019-10-25 12:19] NBTX commented on #210
Also @liyasthomas we could perhaps try and detect this (for the purposes of prompting the user to turn on the proxy) by sending our own preflight request *first* if the proxy is turned off (i.e. just making a request to `OPTIONS`) - we'd get an 'opaque' response but it would be enough to know it's going to fail and therefore know that we need to prompt the user with a message.

[2019-10-25 12:22] liyasthomas commented on #210
Thats doable. Now we detect allow Access-Control-Allow-Origin: * to detect whether CORS occur or not. Think we could op for this method instead.

[2019-10-25 12:24] NBTX commented on #147
I'm not quite sure I follow the discussion here - I'm coming to this issue from #139 and #196 so I'm under the impression that we'd be discussing a *scripting* language for chaining and inspecting requests rather than a templating language?

[2019-10-25 12:27] NBTX commented on #196
I'd like to propose extending #139 to include this.
We could make some sort of 'timeline' or 'step by step' view, where requests can be executed one by one and optionally some script could be inserted between requests to set data for the next request.

[2019-10-25 12:36] NBTX commented on #91
This could also be merged with #139 potentially #196 and this use case of #147 was specifically mentioned here: https://github.com/liyasthomas/postwoman/issues/147#issuecomment-542351724

[2019-10-25 12:40] liyasthomas commented on #91
#147 (introducing environment variables) will most probably solve all these. @terranblake is working on it, and will make PR within few days.

[2019-10-25 12:42] NBTX commented on #91
Okay in that case, I'll open a new issue in place of #139 and #196 about some kind of scripting language and we can close this PR in favor of working on #147 collectively (it doesn't really make sense to have two sets of people working on the exact same feature).

[2019-10-25 12:47] liyasthomas commented on #91
Okay. Thats fine. Lets hear from @nickpalenchar about latest updates.

[2019-10-25 12:58] nickpalenchar commented on #91
The work I've been doing with [feature/dynamic-headers](https://github.com/liyasthomas/postwoman/tree/feature/dynamic-headers) probably satisfies #139 more accurately, since its incorporating something similar to Postman's [Pre-Request Scripts](https://learning.getpostman.com/docs/postman/scripts/pre_request_scripts). This work could be moved to the new issue @NBTX plans to open in place of #139 a

[2019-10-25 18:40] #178 closed

[2019-10-25 18:42] NBTX commented on #98
Addressed in a09d7d7

[2019-10-25 18:42] #98 closed

[2019-10-25 21:38] NBTX opened #218 "Implement pre-request and post-request scripts (and request chaining)"
Support for pre-request and post-request scripts should be added.

- [x] pre-request #231
- [x] post-request

Essentially this means a user should be able to enter some JavaScript code they want executed before a request to generate values - e.g. a random UUID for a request header.

Additionally, a user should be able to enter some JavaScript code they want executed *after* a request *either* for

[2019-10-25 21:39] NBTX commented on #218
This issue has been created to supersede #139 and #196. Ideally it should work in conjunction with #91 and #147.

[2019-10-25 21:39] #139 closed

[2019-10-25 21:40] NBTX commented on #139
Please refer to #218

[2019-10-25 21:40] #196 closed

[2019-10-25 21:40] NBTX commented on #196
Please refer to #218.

[2019-10-25 21:59] jgroom33 commented on #218
I don't think a scripting language should be implemented. The scripting language is a crutch that ends up as garbage collection.
In place of a scripting language, a templating engine and some key handling should be implemented.
Each request in a collection would have a `when` key. This should be evaluated as a truthy. And when it evaluated to true, that request will execute.

[2019-10-25 22:41] NBTX commented on #218
Can you provide some justification as to why you think that?
Also, we don't just want boolean checks, in some cases we want to use data from other fields - or the response payload in the next request. Or we want to rearrange and view data in the response payload.

[2019-10-25 23:01] jgroom33 commented on #218
There should be a default behavior where all responses are stored automatically. No scripting should be required for this. The values from all previous calls should be available as {{ foo.response.id }}

[This library is a good example](https://github.com/eykrehbein/strest#chaining-example)

Ansible uses the same concept and the result is a much cleaner implementation.

Postman should not be used

[2019-10-26 17:10] nickpalenchar commented on #218
Various data should be available from the previous request, yes. But in the case of the first request there is not much data to use. A user might want to set non request related data, or may want to format data from a previous request differently, or conditionally. I don't quite follow the point on postman's json collection. Json representation for requests are more used for imports/exports, not f

[2019-10-26 17:12] #203 closed

[2019-10-27 07:59] pavi2410 opened #225 "Store the time spent on fetching a response"
**Is your feature request related to a problem? Please describe.**
It would be cool and productive to know how much time does it take to fetch a response while testing.

**Describe the solution you'd like**
Display the time difference from the start of making a request to the end of geting the response. The unit should be in milliseconds (ms)

[2019-10-27 08:41] liyasthomas commented on #225
TTimeine required to finish current request is already visible in the toast
![Screenshot_20191027-140936](https://user-images.githubusercontent.com/10395817/67632001-a1e59680-f8c3-11e9-93c2-69d3a630751b.png)

[2019-10-27 11:26] pavi2410 commented on #225
Oh! I am sorry that I overlooked its presence! Thanks :)

[2019-10-27 11:41] pavi2410 commented on #225
Can you (or I) please make the snackbar bigger and visible for a longer time?

[2019-10-27 11:58] jgroom33 commented on #218
For the initial call, an execution parameter should be available to load a set of variables. These should be loaded as json, not as key value pairs with only strings.

I do not presume that this project will attempt to make available a global repository for sharing collections. That would require operational costs. As such, the collections would need to be committed to a revision control platform

[2019-10-27 13:54] NBTX commented on #225
I'll add a setting for it - though perhaps we should store the request duration for the log and as it could be quite useful.

[2019-10-27 15:33] nickpalenchar commented on #218
I agree that jsonpath is often faster and cleaner and can be used for most situations. Storing a pre-request script in places like json for history, etc, does look a bit cumbersome, as storing a long string of text always does. Still, I'm tempted to go with a "why not have both" approach here? I'm absolutely biased on this opinion, considering I've already put in some time and found an exciting im

[2019-10-27 16:47] liyasthomas commented on #218
Processing env variables with scripting language and a template engine together seems like an exclusive feature. While ansible and other projects making use of template engines do have few limitations over manipulating and enforcing customs rules on env vars that could only be satisfied with the support of a scripting language.
It might be an overkill, but that's exactly what I'd expect in an API

[2019-10-27 18:45] jgroom33 commented on #218
I think that if a scripting language is implemented before a more structured approach, then the scripting language will become the default usage. Since most people are coming from postman, they would naturally try to find the same behavior instead of attempting the more desired approach.

Template engines provide plugin support for custom methods. So when there are requirements to perform advanced

[2019-10-27 19:09] jgroom33 commented on #218
Regarding the topic of request chaining: `set next request` is terrible IMO.

Something similar to the following features in ansible should be implemented:

* import_tasks
* when

This allows a multilevel file directory (instead of a massive json collection object like postman) to organize the requests or groups of requests.

As an example:

login/request.json
[code]

action/users.json
[code]

The

[2019-10-28 23:02] nickpalenchar commented on #218
We won't know what the default usage would be until we've released something, but users tend to choose what works for them. If templating followed scripting, anyone who was struggling with scripting would explore the new alternative. Even if scripting becomes the default usage, what's the harm exactly? That suggests it satisfies their use cases enough not to switch.

If advanced users could script

[2019-10-29 07:36] reefqi037 opened #227 "Credentials are still being included in Permalink even when "Include in URL" is turned off"
**Describe the bug**
```Include in URL``` toggle only include/exclude ```auth``` parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. Set ```Authentication Type``` to ```Basic``` or ```Bearer Token```
2. Set the ```Username``` and ```Password``` or ```Token```
3. Toggle ```Include in URL``` button on and off
4. See the ```httpUser``` and ```httpPassword``` or ```bearerToken``` left in

[2019-10-29 13:13] NBTX commented on #227
Ah! I know the cause, I'll submit a PR as soon as I get home.

[2019-10-29 13:23] NBTX commented on #218
Personally I still haven't seen an objective downside to including scripting.

To me scripting ie a less cumbersome way of implementing https://github.com/liyasthomas/postwoman/issues/218#issuecomment-546724014 (by using simple JavaScript statements rather than JSON.)

Plus, the idea of using scripting is fully compatible with both the idea of having 'includes' (as shown in that comment) and with

[2019-10-29 13:47] reefqi037 commented on #227
Yeah, thought you will figured it out since you wrote that part. I have submit a PR too but feel free to make another. I'm new to vue and still learning  😬

[2019-10-29 13:54] jgroom33 commented on #218
There may not be a harm in implementing scripting. I think I was most concerned about how postman does not allow a DRY approach. This would lead to duplicated code across requests which became difficult to update.

These features would make the scripting more focused:
* `include` execution of single file or directory
* Auto storage of responses for future templating use

[2019-10-29 14:37] NBTX commented on #227
Nope your PR works fine!

[2019-10-29 14:37] #227 closed

[2019-10-29 16:45] seyuf opened #229 "Unsupported URLs [BUG]?"
The send button is deactivated when url is:
[https:user:password-@api.domain.fr](https:user:password-@api.domain.fr)
when  password is ending with special character (i.e " *-* "), the url is considered invalid, one can't make a request.

Everything is working fine when entering:
[https:user:password@api.domain.fr](https:user:password@api.domain.fr)
or
[https:user:password-pwd@api.domain.fr](https:

[2019-10-30 00:45] NBTX commented on #122
Webhook test.

[2019-10-30 04:01] liyasthomas opened #232 "Lacking documentation and wiki"
**Is your feature request related to a problem? Please describe.**
Accept the fact that postwoman.io have zero docs and wiki 😞

**Describe the solution you'd like**
Make the wiki, write the docs: https://github.com/liyasthomas/postwoman/wiki

**Describe alternatives you've considered**
Host docs on postwoman.io itself.

**Additional context**
Wiki is essential while adding new features, making any

[2019-10-30 04:09] liyasthomas commented on #229
I couldn't reproduce the bug. By the way, I don't think the `URL` you mentioned seems to a valid url at all.

[2019-10-30 05:19] reefqi037 commented on #229
I think @seyuf meant to send username and password together with the URL in this form:
```http://username:password@example.com```

If there's ```-``` at the end of the ```password```, for example ```http://username:password-@example.com```, Postwoman will consider the URL invalid, thus disabling the ```send``` button.

You can achieve the same thing by using ```Basic Type Authentication``` functio

[2019-10-30 07:56] seyuf commented on #229
Hi @liyasthomas , what @reefqi037 said, let me know if you need more info?

Hi @reefqi037, thanks for the workaround.

I still think this is an issue tough,  feel free to close this if you think otherwise.

Great project by the way, many thanks 👍

[2019-10-30 08:53] #229 closed

[2019-10-30 22:07] nickpalenchar commented on #232
I was just thinking about this. Don't want to add complexity too quickly, but [gitbooks](https://www.npmjs.com/package/gitbook) seem to produce great documentation. I need to do some research but I believe they can be hosted from a `docs/` directory in github, and would be a part of VCS along the rest of the codebase (not to mention documentation edits would be a green square for a contributors gi

[2019-10-30 22:09] NBTX commented on #232
You can use GitHub pages and that will work from a specific branch or a docs/ directory. But to add, another perk of GitHub pages would be that we could theme it as we please.

I definitely think we should use the GitHub Wiki as a draft for the docs.

[2019-10-30 22:13] NBTX commented on #218
Re-opening as PR #231 is more of an MVP rather than the full solution to this script.

[2019-10-30 23:53] nickpalenchar opened #233 "Store pre-request scripts in history"
relates to #218

**Is your feature request related to a problem? Please describe.**
Histories of requests with pre-request script does not retain pre-request script

**Describe the solution you'd like**
script use in the original request should be preserved and loaded when clicked

**Describe alternatives you've considered**
Clicking the history, praying the app gains consciousness and remembers t

[2019-10-30 23:57] nickpalenchar opened #234 "remove prerequest << >> bindings when pre-request script is toggled off"
Related to #218

**Is your feature request related to a problem? Please describe.**
Turning off pre-request script mode would leave the now static request info with invalid characters in most situations

**Describe the solution you'd like**
Bindings (denoted with << >>) should be automatically removed.

**Describe alternatives you've considered**
Keeping them. The user can remove them themselves.

[2019-10-31 00:00] liyasthomas commented on #232
Will wirte Github Wiki first.

GitBook for build ✔️
GitHub pages for hosting ✔️

[2019-10-31 00:15] nickpalenchar opened #235 "Extend syntax highlighting with ACE for pre-request script textarea"
Related to #218

**Is your feature request related to a problem? Please describe.**
No syntax highlighting might confuse users in pre-request scritps. It could look like they're writing in plaintext, and common typos won't be as apparent.

**Describe the solution you'd like**
Simple syntax highlighting. Things like basic javascript types should be highlighted. Nothing too fancy needed.

**Describe

[2019-10-31 00:15] nickpalenchar commented on #235
@sblasa are you still interested in taking this?

[2019-10-31 00:20] liyasthomas commented on #235
HighlightJS is already implemented in the PW.
Introduced in #142
https://highlightjs.org/

[2019-10-31 03:28] yubathom commented on #232
This would be nice!

Maybe a vue based doc builder should be considered. I use vuepress for documentation and I think it is awesome. A helpful feature is the capability of it to [load vue components in docs markdown](https://vuepress.vuejs.org/guide/using-vue.html#using-components). But agree that wiki is certainly a good start.

[2019-10-31 11:37] liyasthomas commented on #232
How about we add a help **[?]** button on sections with link to its corresponding wiki pages as I finish docs.

[2019-10-31 12:13] sheecegardezi opened #236 "[UI] [UX] Allow app to take width of browser"
**Is your feature request related to a problem? Please describe.**

I want to see the complete strings for Path and URL under the Response section. Even if I increase the size of the browser the app keeps a fixed width.

**Describe the solution you'd like**

In file default.vue
.......
  header,
  #main,
  footer {
    margin: 0 auto;
    max-width: 1200px;
  }
.....
I want an option to unset max-

[2019-10-31 12:28] sheecegardezi commented on #204
![step1-run a request](https://user-images.githubusercontent.com/7543039/67946664-eb244600-fc35-11e9-800b-35f8c6d63e02.png)
![step2-create collection and folder](https://user-images.githubusercontent.com/7543039/67946663-ea8baf80-fc35-11e9-98e2-fae0bb37069c.png)
![step3-save the request as test 1](https://user-images.githubusercontent.com/7543039/67946662-ea8baf80-fc35-11e9-904a-d49aa1da6642.png)

[2019-10-31 12:31] liyasthomas commented on #204
Work around:
step 6:select test request (already saved from step 5) and save

[2019-10-31 12:33] sheecegardezi commented on #204
Thank you, I was selecting the collection the folder but not the request :D
Cheers,

[2019-10-31 12:42] liyasthomas commented on #236
Yeah! That's okay to consider. Anyway I'm redesigning the whole UI with a 3 column design.

[History & Collections] on left
[Request, Auth, Headers, Params] on middle
Sticky [Response] on right

[2019-10-31 13:30] NBTX opened #237 "Section labels don't display properly in Firefox"
**Describe the bug**
The `<legend>` elements used as category headers (styled with `flex`) don't seem to render properly in Firefox. (Tested on version 70.)

**To Reproduce**
Steps to reproduce the behavior:
1. Open postwoman on Firefox

**Screenshots**
<img width="1494" alt="image" src="https://user-images.githubusercontent.com/43181178/67950977-91466080-fbe2-11e9-839d-f493f5d5cce3.png">

[2019-10-31 13:35] liyasthomas commented on #237
Ohh! Will look into it asap

[2019-10-31 16:44] #237 closed

[2019-11-01 01:21] sblasa commented on #235
@liyasthomas and @nickpalenchar  yes, I'm still interested in this.  So, I'm using hiighlight.js instead, since highlight is already there; therefore use that. to extend  syntax highlighting for pre-request script.

[2019-11-01 10:51] sheecegardezi commented on #236
Can I be assigned to implement this feature?

[2019-11-01 10:53] liyasthomas commented on #236
I will ping you @sheecegardezi after deploying the initial UI update today itself. Only proceed after that.

[2019-11-01 11:24] liyasthomas commented on #236
@sheecegardezi Initial update is deployed to production. Now we can work on it! For more communications, join our public Telegram group: https://t.me/postwoman_app or Discord Server: https://discord.gg/GAMWxmR

[2019-11-01 13:15] AtomicNicos commented on #236
UI is scrunched and overlaps on mobile devices (Android).

Steps to reproduce :
- Get a phone
- Load up postwoman.web.app on a browser
- Scroll

![photo_2019-11-01_14-12-09](https://user-images.githubusercontent.com/18284503/68027186-fb7a0680-fcb1-11e9-8b9c-bba184cbd1b4.jpg)
![photo_2019-11-01_14-12-23](https://user-images.githubusercontent.com/18284503/68027187-fb7a0680-fcb1-11e9-9571-fb08d9e6ddd

[2019-11-01 13:37] liyasthomas commented on #236
Will look into it ASAP

[2019-11-01 14:17] liyasthomas commented on #236
@AtomicNicos do a hard refresh and check whether the issue persist.

[2019-11-02 07:56] liyasthomas commented on #236
@sheecegardezi any suggestions for the UI?

[2019-11-02 11:57] NBTX commented on #236
@liyasthomas for the nav bar - perhaps some more padding at the top and a massive z-index so the other elements don't go on to of it.

Otherwise, it's just a case of looking through on mobile and seeing which components need refining I guess.

[2019-11-02 12:05] liyasthomas commented on #236
I can't reproduce any bugs on my mobile 😕
Everything seems to be perfect here!

[2019-11-03 01:36] sheecegardezi commented on #236
I will test it out today and update.

[2019-11-03 13:30] sheecegardezi commented on #236
- App does take the width of browsers in desktop
- For me postwoman.web.app did not load on Chrome iPhone 6s, I mimicked the change in behaviors  on the desktop by rooming-in:
<img width="531" alt="postwoman-ui" src="https://user-images.githubusercontent.com/7543039/68085817-122e8200-fe99-11e9-8c1f-ec95ce427a92.png">
- The boxed icons break into rows as zoom was increased, One solution could be co

[2019-11-03 13:45] liyasthomas commented on #236
Thanks for the quick response! Will look into it ASAP.

[2019-11-04 08:56] liyasthomas commented on #236
@all-contributors please add @liyasthomas for code

[2019-11-04 09:14] liyasthomas commented on #236
@all-contributors please add @NBTX for code

[2019-11-04 09:21] liyasthomas commented on #236
@all-contributors please add @larouxn for code

[2019-11-04 09:30] liyasthomas commented on #236
@all-contributors please add @yubathom @nickpalenchar @terranblake @AndrewBastin @vlad0337187 @izerozlu @JacobAnavisca @nityanandagohain @hosseinnedaee for code

[2019-11-04 09:32] liyasthomas commented on #236
@all-contributors please add @nickpalenchar for code

[2019-11-04 09:41] liyasthomas commented on #236
@all-contributors please add @terranblake for code

[2019-11-04 09:44] liyasthomas commented on #236
@all-contributors please add @AndrewBastin for code

[2019-11-04 09:45] liyasthomas commented on #236
@all-contributors please add @vlad0337187 for code

[2019-11-04 09:47] liyasthomas commented on #236
@all-contributors please add @izerozlu for code

[2019-11-04 09:48] liyasthomas commented on #236
@all-contributors please add @JacobAnavisca for code

[2019-11-04 09:49] liyasthomas commented on #236
@all-contributors please add @nityanandagohain for code

[2019-11-04 09:50] liyasthomas commented on #236
@all-contributors please add @hosseinnedaee for code

[2019-11-04 10:40] liyasthomas commented on #236
@all-contributors please add @liyasthomas for design

[2019-11-04 12:57] AtomicNicos opened #265 "POSTing large raw JSON packets"
**Describe the bug**
Given huge packets, PW throws a URI too long HTTP error, and won't finish the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an endpoint that can receive a request (node + JS, other).
2. On PW send POST with RAW input, with excess of 4000 characters or so.
3. Send.

**Expected behavior**
Should POST without error.

**Suggested fixes**
- Send content as raw

[2019-11-05 09:57] AtomicNicos opened #266 "[BUG] [UI] [Mobile] Get results not scrollable."
**Describe the bug**
When GETting a larger quantity of data, the _Results_ area does not allow scrolling (the page gets scrolled instead).

**To Reproduce**
Steps to reproduce the behavior:
1. On Mobile, go to PW
2. Make a GET request, where the received data exceeds the number of lines in the text area (tried with 2749, because I like breaking things).
3. Scroll down to the _Results_ area
4. Try

[2019-11-05 11:54] liyasthomas opened #267 "[request] Offline cross-platform native build"
**Is your feature request related to a problem? Please describe.**
Apart from the postwoman.io online web client, make an offline build.

**Describe the solution you'd like**
We can create an installable proxy server so users can install it on their OS.
It should be lightweight and easy to install. A proxy just like that we have now but install on the user locally.

**Describe alternatives you've

[2019-11-05 13:46] hosseinnedaee commented on #267
Wow, such a good idea!

[2019-11-05 14:31] #236 closed

[2019-11-05 14:33] liyasthomas commented on #235
@sblasa thought I should ping you to get the latest updates on this issue...! If you need any help, ping me.

[2019-11-05 14:35] liyasthomas commented on #122
Now the version number is correctly fetching from package.json and release tag, so I think I should this issue.

[2019-11-05 14:35] #122 closed

[2019-11-06 01:37] reefqi037 opened #268 "Code generation for Fetch request type of some methods (POST, PUT, PATCH) won't be shown"
**Describe the bug**
When you try to generate fetch request type code for POST or PUT or PATCH method, the code won't be generated and TypeError log can be seen in the console log. Once the error happened, you won't be able to generate code for other methods too.

**To Reproduce**
Steps to reproduce the behavior:
1. Set ```Request Method``` to ```POST```
2. Click on ```Show Code``` button
3. Selec

[2019-11-06 01:43] liyasthomas commented on #268
Wow! That's a critical bug.. not sure how this happened. Will investigate it ASAP. Thanks for pointing it out.

[2019-11-06 01:46] reefqi037 commented on #268
Yeah I've realized it from last week. Just haven't got time to verify and post it.

[2019-11-06 01:46] liyasthomas commented on #268
Any idea what went wrong?

[2019-11-06 01:49] reefqi037 commented on #268
Sorry haven't look into the details yet.

[2019-11-06 01:49] liyasthomas commented on #268
Okay

[2019-11-06 02:14] nickpalenchar commented on #234
Taking myself off for the time being--need to re-acquaint myself with the way the store is binding to different form fields.

Will come back to this after completing #233, but if someone wants a shot they are welcome to take up this issue!

[2019-11-06 03:12] liyasthomas commented on #268
https://github.com/liyasthomas/postwoman/commit/d290b25f8a0ed65b021b4686315c55614dd77584 solves this. Please verify bug fix. Actually this might break some users who already faced this issue causing the store to save the wrong state into vuex.
For them, clearing cookies will fix the issue. Please let me know if there's any trouble.

[2019-11-06 03:31] reefqi037 commented on #268
Nope. I've cleared site data and perform hard reset but the issue still persist.

[2019-11-06 03:31] liyasthomas commented on #268
Yeah! Working on it.

[2019-11-06 04:01] liyasthomas commented on #268
5e424bb64d3af2dc15a050171438af57b6fbe24e mind giving a try once more to check if the issue persist?

[2019-11-06 04:13] reefqi037 commented on #268
Yup. This should fix the issue. Wondered if it's okay to remove the ```$this.store.commit``` part.

[2019-11-06 04:14] liyasthomas commented on #268
Good.
Committing request Code to vuex was a foolish thing to do.

[2019-11-06 04:14] #268 closed

[2019-11-06 04:57] sblasa commented on #235
@liyasthomas Hi! I pull down the latest changes--and running on my local. I'll ping you shortly for some help. Thanks!

[2019-11-06 07:13] reefqi037 opened #269 "Generated code is incorrect"
**Describe the bug**
There are a few bugs in the generated code for each request type (JavaScript XHR, Fetch, cURL):

XHR
- Value of username, password, and headers are not being enclosed in quotes
- Bearer token header is set incorrectly; ```'Bearer ' + <token>```

Fetch
- Value of final header is not properly closed with quotes; ```"headerKey": "headerValue```
- Authorization token header is not

[2019-11-06 07:15] liyasthomas commented on #269
Thanks for noticing those issues! We're on it.

[2019-11-06 07:16] reefqi037 commented on #269
I've made the fixes btw. Making the PR now.

[2019-11-06 07:50] #269 closed

[2019-11-06 08:54] chaos0815 opened #271 "Query parameters are duplicated"
Query paramters are seemingly duplicated.
When adding a parameter in the Parameters section, the parameter is added twice to the url in the Generated Code section.
See screenshot:
![image](https://user-images.githubusercontent.com/915071/68283129-4d88a680-007b-11ea-8406-231e3e0e4e04.png)

[2019-11-06 09:02] reefqi037 opened #272 "Duplicated query string in generated code"
**Describe the bug**
The URL of generated code for each request type (JavaScript XHR, Fetch, cURL) contains duplicated value of query strings.

**To Reproduce**
Steps to reproduce the behavior:
1. Add some ```Parameters```
2. Click on ```Show Code``` button
3. See duplicated values of query string in the generated URL

**Expected behavior**
Query strings should be included only once

**Screenshots

[2019-11-06 09:03] reefqi037 commented on #271
Working on it!

[2019-11-06 09:04] reefqi037 commented on #272
Related with #271

[2019-11-06 09:04] #272 closed

[2019-11-06 09:13] #271 closed

[2019-11-06 11:09] jitendra3109 opened #274 "[request] localhost support"
**Describe the bug**
I was trying to check on my local machine process API call

**To Reproduce**
Steps to reproduce the behavior:
Check on localhost api call

**Expected behavior**
It should work as in post**man**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [MAC]
 - Browser [chrome]
 - Version [e.g. 22]

**Additional context**
'http://0.0.0.0:3001/v1/path'. T

[2019-11-06 11:15] liyasthomas commented on #274
For non-https (`http`) endpoints: make use of Proxy mode.
**Settings > Turn on Proxy**

Regarding API on local server:
**We're investigating what went wrong. Will update you ASAP.**

[2019-11-06 16:36] sabatesduran commented on #232
Have you tried Netlify? Now with every commit you can build multiple sites :smile:

[2019-11-07 01:40] genk1 opened #275 "Allow url request with `/` at eol"
**Is your feature request related to a problem? Please describe.**
When we request api URL with `slush - /` at the end, it returns Error
``` Error in event handler: TypeError: Failed to construct 'URL': Invalid URL ```

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It can work both with or without `slush - /` at the end of API URL.

**Describe alt

[2019-11-07 01:41] liyasthomas commented on #275
Thanks

[2019-11-07 01:45] liyasthomas commented on #275
Closed by accident. Sorry.

Regarding "/" at rhe end:
We have seperate fields for `URL` and `Path`. The "/" part usually goes with the `Path` field. Anyway this is still an issue. We have a PR (WIP) redy to be deployed #189 . When it lands, this issue will be solved.

Thanks for bring this issue upfront. We'll investigate the quickest solution for this, meanwhile use slash on Path field or if ther

[2019-11-07 01:52] tomjn opened #277 "Improve UI Contrast"
**Describe the bug**

Currently the interface has very low contrast on form inputs, this needs to be increased

**To Reproduce**
Steps to reproduce the behavior:
1. Open the interface
2. Squint

**Expected behavior**

Clear form inputs that don't require non-corrective vision, and comply with WCAG

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser Firefox
 - Version

[2019-11-07 01:54] Daniellunsc opened #278 "Download the request result into a file."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
I would like to download in a JSON file the response of the request.

**Describe alternatives you've considered**
I considered adding another button on the side of 'COPY' on response, to just download t

[2019-11-07 01:55] liyasthomas commented on #277
We seriously think, we need to update the color schemes. Me being not much of a great frontend developer, I seek help on choosing color schemes that comply with WCAG. Anyway, next commit will include more web safe colors.

[2019-11-07 01:55] tomjn opened #279 "Missing Focus on Inputs"
**Describe the bug**
When clicking on a text input or a dropdown, there is no focus state. By default browsers add an outline for accessibility purposes, but this seems to have been removed ( regression? )

**To Reproduce**
Steps to reproduce the behavior:
1. Click on any input field

**Expected behavior**

When you click on a form input, it should be clear which input has gained focus

**Desktop

[2019-11-07 01:56] liyasthomas commented on #278
Thats doable. Considering its complexity, we colud ship ship this feature today itself 👍

[2019-11-07 01:56] Daniellunsc commented on #278
I would like to do it. Can I?
In fact, I've already done it. Just need some finish.

[2019-11-07 01:57] liyasthomas commented on #278
Yeah sure! I was going to open my PC. You're free to send a PR ♥️

[2019-11-07 01:58] Daniellunsc commented on #278
Thanks! I used as base the copy function. Preparing the PR!

[2019-11-07 01:58] tomjn commented on #279
The only indication at the moment is the flashing text caret. I've clicked on one of these fields in the screenshot, and used the trackpad to scroll, see if you can guess which one is focused:

<img width="871" alt="Screenshot 2019-11-07 at 01 57 43" src="https://user-images.githubusercontent.com/58855/68353599-01347980-0102-11ea-8952-ebe6951f4163.png">

[2019-11-07 01:59] liyasthomas commented on #279
Will consider adding a focus state indication ASAP 👍

[2019-11-07 02:03] tomjn commented on #277
I think a thin but darker border around the inputs might do the job, here's a quick `border: 1px solid var(--fg-color);` on all `input` elements:

<img width="486" alt="Screenshot 2019-11-07 at 02 02 15" src="https://user-images.githubusercontent.com/58855/68353850-abac9c80-0102-11ea-98ee-208c4334824a.png">

[2019-11-07 02:05] liyasthomas commented on #277
Thanks for the quick suggestion. Will update 🎉👍

[2019-11-07 02:05] tomjn commented on #277
Thanks for the ultra fast reply :)

[2019-11-07 02:25] Daniellunsc commented on #278
Here we go @liyasthomas
https://github.com/liyasthomas/postwoman/pull/280

[2019-11-07 02:54] #278 closed

[2019-11-07 03:49] #279 closed

[2019-11-07 03:59] #277 closed

[2019-11-07 04:49] philBrown commented on #2
Given the number of questions on StackOverflow that are some form of duplicate of [Why does my JavaScript code get a “No 'Access-Control-Allow-Origin' header is present on the requested resource” error when Postman does not?](https://stackoverflow.com/questions/20035101/why-does-my-javascript-code-get-a-no-access-control-allow-origin-header-is-pr), I don't see this as a bad thing.

[2019-11-07 07:18] liyasthomas commented on #210
Closing this issues since it's a possible duplicate of #274

[2019-11-07 07:18] #210 closed

[2019-11-07 09:41] TuraMarco opened #281 "Unable to edit or delete row in history table"
Unable to click `edit_button#n` or `use_button#n` on history table

chrome  78.0.3904.87

[2019-11-07 09:51] liyasthomas commented on #281
The very first entry on history section seems to have this issue. If you send a second request, it seems to be fixed as well. That's a tricky bug bu the way. While we're investigating what cause this, I suggest you to send a one more dummy request and try to use the inaccessible buttons.

[2019-11-07 12:59] NBTX commented on #274
The proxy won't work for requests to localhost. You  need to self-host the proxy or turn it off and use a self-signed certificate.

[2019-11-07 15:26] WalshyDev opened #283 "Mobile can't see console for request errors"
**Describe the bug**
I did a POST request and got a "Network Error" status, the response body said `See JavaScript console (F12) for details.`. This isn't possible on mobile. It would be nice to send that error right to the body text area instead.

**To Reproduce**
Steps to reproduce the behavior:
1. Create request for invalid URL (Such as https://fail.walshy.dev)
2. Send
3. See the response body

[2019-11-07 15:30] liyasthomas commented on #283
Ohh! That prompt was a generic one made for letting the users know some error from either server or API side has been occurred.
Originally it was intended for desktop, but anyway thanks for bringing this up. It somehow reduce user experience. Will update with a more accurate prompt on such cases

[2019-11-07 16:37] tomjn opened #284 "Focus Styles on Buttons"
**Describe the bug**

Focus styles on buttons could be improved, I tabbed on to this button from the URL on the API request builder, not  sure where I am if I press  tab again:

<img width="670" alt="Screenshot 2019-11-07 at 16 35 20" src="https://user-images.githubusercontent.com/58855/68408086-a2601600-017c-11ea-9f85-99d62db63e9b.png">

Similar on the main page, assuming the same style is respon

[2019-11-07 16:39] tomjn opened #285 "Hover Styling on Inputs"
**Describe the bug**

Buttons, dropdowns and textboxes don't have hover styling, this would make the UI feel a lot snappier/nicer/responsive

**Desktop (please complete the following information):**
 - OS: MacOS Catlina
 - Browser Firefox
 - Version 70

[2019-11-07 16:39] liyasthomas commented on #284
Fix is on the way!

[2019-11-07 16:41] liyasthomas commented on #285
Thanks for all your suggestions! Next commit is a fix⚡

[2019-11-07 16:51] tomjn commented on #285
The tabs could do with hover styles too

[2019-11-07 16:54] tomjn opened #286 "Change cursor to disabled on disabled inputs"
**Describe the bug**

Hovering over a read only/disabled input gives a standard mouse cursor, but it looks like a clickable input.

Instead, using `cursor: not-allowed;` should change the cursor making it clear this input can't be accessed

**Desktop (please complete the following information):**
 - OS: MacOS Catlina
 - Browser Firefox
 - Version 70

[2019-11-07 16:58] tomjn opened #287 "It's possible to tab into read only and non-form elements"
**Describe the bug**

I added the following CSS rule:

[code]

I found that I could tab into some non-interactive elements such as `div` containers, and read only inputs

<img width="509" alt="Screenshot 2019-11-07 at 16 54 35" src="https://user-images.githubusercontent.com/58855/68409745-8c078980-017f-11ea-9e4c-f50461b620ef.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Click in the

[2019-11-07 17:48] liyasthomas commented on #285
Solved on https://github.com/liyasthomas/postwoman/commit/7a60cc25e9f0086d4e95e883a0f87ef087a5c13a

[2019-11-07 17:48] #285 closed

[2019-11-07 17:49] liyasthomas commented on #284
Solved on https://github.com/liyasthomas/postwoman/commit/7a60cc25e9f0086d4e95e883a0f87ef087a5c13a

[2019-11-07 17:49] #284 closed

[2019-11-07 18:33] liyasthomas commented on #287
I think this should be left as it is since the user might want to copy contents from a history entry.

[2019-11-07 18:33] #287 closed

[2019-11-07 18:34] liyasthomas commented on #286
Solved in https://github.com/liyasthomas/postwoman/commit/2a9adfd180da661bb5414ce9d3fa0d380ea3f0ed

[2019-11-07 18:34] #286 closed

[2019-11-07 18:59] #283 closed

[2019-11-07 19:01] tomjn commented on #287
You can still do that, it's not that the div is selected, it's that it's active/focused, it needs fixing for non-input elements at least

[2019-11-07 19:03] liyasthomas commented on #287
Oh! Will fix that.

[2019-11-07 21:30] NBTX commented on #283
9 times out of 10 it's not possible to get the details of the error on the website because if it's to do with a request failure, the browser has strict requirements on what errors and what properties of those errors can be viewed.

As there is no developer tools on mobile, I resorted to simply displaying a generic error message.

[2019-11-08 03:04] liyasthomas commented on #147
@terranblake ping!

[2019-11-08 03:38] #281 closed

[2019-11-08 04:50] hosseinnedaee commented on #266
I checked it on the same device and it works fine (Chrome & Opera).

[2019-11-08 04:59] liyasthomas commented on #266
Normal responses with LOC < 100 works fine.
Huge payload breaks HighlightJS render. Issue will persist until syntax highlighting is migrated to ace.

[2019-11-08 09:03] hosseinnedaee commented on #266
I will work on it.

[2019-11-08 09:07] liyasthomas commented on #266
Currently, response is syntax highlighted in <pre><code> tags for highlightJS implementation. Remove hljs and implement alternative (such as ace) that supports textarea highlighting

[2019-11-08 09:16] hosseinnedaee commented on #266
Okay

[2019-11-08 17:32] Lz-Gustavo opened #289 "Allow reserved characters on websocket URI"
I've tried to utilize the Websocket client to request some data to [Binance Exchange API](https://github.com/binance-exchange/binance-official-api-docs), using the URI shown below:
[code]
The problem is that the presence of '@' disables the connect button, interpreting as a non-valid character for WSS URIs. As mentioned in [RFC 6455](https://tools.ietf.org/html/rfc6455#page-14) and [3986](https://

[2019-11-08 17:34] liyasthomas commented on #289
Will fix it ASAP

[2019-11-08 17:53] #233 closed

[2019-11-08 17:58] liyasthomas commented on #225
Solved in https://github.com/liyasthomas/postwoman/commit/f71b940197fc2cc251cabd3798df9523971ccd68

[2019-11-08 17:58] #225 closed

[2019-11-08 18:11] #289 closed

[2019-11-08 18:12] liyasthomas commented on #289
Just pushed a quick fix for this issue. Please verify and let me know whether there's any issues persist

[2019-11-08 18:25] Lz-Gustavo commented on #289
Thanks very much! Just updated, tested, and it's all good. Glad to see you're implementing a regex parser yourself, and not importing it from an "obscure" dependency.

[2019-11-08 18:29] liyasthomas commented on #289
Glad it worked out!
btw, there was an text overflowing issues with large single ling responses such as the one you mentioned. You bug report helped me find and fix that too. It's now fixed. Enjoy PW. Star the project, share among your friends/teams!

[2019-11-08 23:30] jgroom33 commented on #5
This project has implemented all the things I was suggesting:
Yaml, cache, var storage, test assertion
https://testmace.com/

[2019-11-09 01:50] #275 closed

[2019-11-09 10:02] lolcoolkat opened #291 "Label doesn't change when switching between collection requests"
Using **https://postwoman.io**:

1) Create a request, and enter in a label for your request. Then; save it in a collection
2) Create another request with a different label, and save it to a collection as well.
3) Switch between the 2 requests you made from the collections box, and the label won't change/get updated!

[2019-11-09 10:22] liyasthomas commented on #291
@lolcoolkati
There are two labels for a request.
1. In request section. This is used for History entery.
2. In Save request. This is used for naming requests in Collection.

This allows us to create and identify same labels within a Collection or across History entries.

Both labels are binded to the current state of the request. And won't change even if use another History entry or request from a

[2019-11-09 10:56] lolcoolkat commented on #291
@liyasthomas it's just kinda weird that for example.. when I want to run my `Register` request from a collection.. the label says `Login`.

![img](https://i.imgur.com/avDj3Dy.png)

Again.. it's showing `Login` after I clicked the `Register` request I saved in my collection :/

[2019-11-09 11:07] liyasthomas commented on #291
😅 lol. That's terrific.
What I had in mind while implementing labels is something like GitHub issue/PR labels works.

1. I created an issue
2. I add labels
3. I edit my issue
4. Labels doesn't change unless I do that manually 💁
5. I could find/sort/group issues based on labels

I'll reconsider the labels workflow.

[2019-11-11 05:55] sblasa commented on #235
@liyasthomas Hi, noticed that the reference for highlight.js will be removed from pages/index.vue with Replace highlight.js with ace editor #292  . So we probably won't use highlight.js to create the feature since it has been removed? Use Ace Editor instead? Thanks!

[2019-11-11 06:02] liyasthomas commented on #235
@sblasa sorry for the delayed response!
HighlightJS is being replaced with ace. Its implementation is much simpler and have out of the box support for textarea. Please use ace for pre-request scripts.

[2019-11-11 12:32] michalsisak opened #294 "Make response body area expandable"
Hello, would be very nice to have an option to make response body taller by dragging the text area. Same functionality as already implemented in a header list.

Header list implementation:
![2019-11-11 at 13 29](https://user-images.githubusercontent.com/55797176/68587434-68965480-0487-11ea-950b-fe1fba9d23d9.png)

Currently, the response body has a small box in the right bottom corner but it doesn'

[2019-11-11 12:34] michalsisak commented on #99
Is this implemented? I can see some PR was merged, then reverted and merged again but I can't see any autosuggestions or completions in a header tab.

[2019-11-11 12:37] liyasthomas commented on #99
Content-Type for `POST` requests have been revamped with autosuggestions. Not for Headers. Headers can be added manually.

[2019-11-11 12:41] liyasthomas commented on #294
Response area is being updated to new aec editor (#292) with line number, custom theming and many more features and bug fixes. Expect production deployment in couple of days.

[2019-11-11 12:51] michalsisak commented on #294
Thank you for the update. Looking forward to it.

[2019-11-11 12:51] #294 closed

[2019-11-12 06:10] sblasa commented on #235
@liyasthomas Okay, thanks for confirming. 👍

[2019-11-12 06:22] liyasthomas commented on #235
@sblasa ace is in production (master branch) now! Refer the code snippets from there.

[2019-11-12 10:55] AtomicNicos commented on #266
Yup, This was fixed !

[2019-11-12 10:55] #266 closed

[2019-11-13 08:27] yntelectual opened #298 "File/binary request body support"
First of all - thanks for the work on this cool project.

**Describe the solution you'd like**
In order to post file content as request body, it would be comfortable to add a simple button(next to 'raw request data', or maybe as another tab) to load file from disk to sent as request body

**Describe alternatives you've considered**
Its possible to specify request body by pasting in file contents,

[2019-11-13 08:36] liyasthomas commented on #298
That's a cool suggestion! Will consider it.

[2019-11-13 15:46] #298 closed

[2019-11-13 16:05] liyasthomas commented on #298
@yntelectual Upload payload feature is now live 🎉
On `POST` request method, there'll be an "attach file" button. Click that to upload files (JSON, XML etc..) from PC. And just "Send"! payload will posted.

[2019-11-14 09:22] liyasthomas opened #302 "Keyboard shortcuts"
**Is your feature request related to a problem? Please describe.**
It would be great to have handful of keyboard shortcuts. Especially for:
Action | Key (just suggestions)
- Send request (Enter/Return)
- Save request (Ctrl + S)
- Copy sharable URL (Ctrl + C)
- Close modal (Esc)
- Response section (R)
- Collections section (C)
- History section (H)

**Describe the solution you'd like**
Shortcuts ma

[2019-11-14 11:08] yntelectual commented on #298
Awesome! :1st_place_medal: That might have been the fastest feature request completion I have ever seen.

One remark though:  When posting binary data, it is usually not practical to show the actual payload byte content in the raw input field. At least if the file is not textual( `.json|yamletc...`) otherwise you get massive bloat in the UI, without much benefit to the user(try uploading a jpeg fo

[2019-11-14 11:43] liyasthomas commented on #298
Yeah, i too had this issue. I'm working on it. Will probably fix it today itself.

[2019-11-14 13:39] #302 closed

[2019-11-15 04:09] liyasthomas commented on #298
These changes were introduced last night 🎉

- Payload textarea will be collapsed by default (can be expanded as we want by dragging at the corner). This solves the long textarea for hoge payload.
- Regarding not showing the payload at all: Well, what if the user want to make a tiny change before sending, user would've to go and edit the raw file to do that, which sucks. So payload should (and will

[2019-11-19 10:13] arangates opened #312 "Graphql support"
with GraphQL support , this can be future proof

[2019-11-19 10:14] arangates opened #313 "[request] VS code extension"
shipping as Vscode extension might be the best place to start getting initial traction

[2019-11-19 10:16] arangates commented on #267
also it would be awesome if we start as vscode extension directly
https://github.com/liyasthomas/postwoman/issues/313

[2019-11-19 10:57] liyasthomas commented on #313
@arangates would you like to contribute to making a VS code extension..?

[2019-11-19 10:59] liyasthomas commented on #312
#311 fixes this.

[2019-11-19 13:58] frankli0324 commented on #175
websocket support on this?

[2019-11-19 13:59] liyasthomas commented on #175
@NBTX is working on proxy mode for WebSocket.

[2019-11-19 14:08] tudor07 opened #314 "Make the UI more compact"
While the UI is nice, meaning that colors/elements look good, I feel like it is badly organized. I have to do too much scrolling. I think you should make everything smaller and more compact. I'm on a 13'' Macbook. Almost half of the screen is occupied just by the Request section. On Insomnia I can see so much more without any scrolling. Please consider making the UI smaller.

[2019-11-19 14:36] liyasthomas commented on #314
Thanks for reporting the issue. We're on it. A screenshot would've been great so that we could act fast on it.

[2019-11-19 16:11] Nepoxx opened #315 "Configure BaseUrl using Environment variables"
**Is your feature request related to a problem? Please describe.**
Deploying Postwoman elsewhere than the root url results in multiple 404s since postwoman is not aware of where it is.

**Describe the solution you'd like**
Being able to set the root/base url would allow deploying postwoman on any subpath of a website, for instance `tools.example.com/postwoman`. This would be particularly useful fo

[2019-11-19 16:12] liyasthomas commented on #315
Let us discuss over this feature request.

[2019-11-19 16:14] athul commented on #314
![Screen Shot 2019-11-19 at 9 39 49 PM](https://user-images.githubusercontent.com/40897573/69164041-42228a00-0b15-11ea-9d7a-176250f6b151.png)
ScreenShot taken on Macbook Air on Chrome Version 78.0.3904.108
![Screen Shot 2019-11-19 at 9 43 06 PM](https://user-images.githubusercontent.com/40897573/69164272-b2c9a680-0b15-11ea-913f-61216838b0d7.png)
Same Mac but on Safari

[2019-11-20 01:49] orthros commented on #267
I started with Postwoman today and have been very impressed!

I recognize this might be out of scope for this Issue, but for further thinking and context:

I'm currently running the application in a container on my host, and accessing it through the browser; it would be great if the proxy could be bundled into the application itself (possibly a different Docker image that contains both it and the

[2019-11-20 01:53] liyasthomas commented on #267
@orthros We could certainly do that. Would you like to contribute to this Proxy setup along with @NBTX .

[2019-11-20 06:34] #312 closed

[2019-11-20 06:34] #314 closed

[2019-11-20 14:16] liyasthomas commented on #274
closing in favor of #267

[2019-11-20 14:16] #274 closed

[2019-11-21 06:41] JJLao opened #320 "Set response panel to fullscreen"
Current response panel is too narrow to read long JSON data. so if you add this feature, I will so appreciate it!

[2019-11-21 07:57] liyasthomas commented on #320
Yeah. This is a good feature. Will implement today itself.

[2019-11-21 08:08] jensgram opened #321 "Auth info on WebSocket connections"
**Is your feature request related to a problem? Please describe.**
I'm not able to pass auth info on WebSocket connections.

**Describe the solution you'd like**
It would be nice to port the `Authentication` component (and possibly the `Headers` component too) from `Request` to `WebSocket`.

**Describe alternatives you've considered**
I may simply not be aware of how to use the UI. Perhaps it's al

[2019-11-21 08:13] liyasthomas commented on #321
Currently, WebSocket doesn't have `auth` or `headers` support. Will add these ASAP. Would you like to contribute to this particular feature..?

[2019-11-21 14:58] #320 closed

[2019-11-21 15:00] liyasthomas commented on #320
@JJLao You you can expand/collapse response by clicking the (↕) expand/collapse response button.

[2019-11-21 15:08] JJLao commented on #320
thanks! that is what i want.

[2019-11-22 08:32] MrScripter85 opened #324 "[Request] Use responses for next request?"
Hello community,

would it be possible to define variables in a request that would be filled by a previous response?
For example I am having a SMS sending endpoint. The returned login code should be taken and being used for the next script/request as "$smscode" for example.

Is that possible to implement? I think Insomnia has something like this already, too.

[2019-11-22 09:34] liyasthomas commented on #324
Currently only pre request scripts and variable definitions are available. But we're working on chaining requests. Please follow its active thread: https://github.com/liyasthomas/postwoman/issues/218

Closing this issue in favour of #218

[2019-11-22 09:34] #324 closed

[2019-11-22 18:49] guilt opened #325 "Enable running proxy as a backend for Request Capture"
**Often, while writing new clients, or debugging existing API's, it is often useful to use a tool such as Charles Proxy. It allows one to save traces (request + response) and reload them again for reviewing as well.**

Would be useful if Postwoman came up with a way to act as such a proxy, and one could connect existing apps / browsers on them, and look through the requests / responses. Would also

[2019-11-22 19:01] threeaccents opened #326 "Generate API documentation"
**Is your feature request related to a problem? Please describe.**
The only reason I always stick around with Postman is that they generate api docs based on the request in a collection. I had used Insomnia for a while but always went back to Postman for that reason. Even though the docs they generate aren't the best looking or very UX friendly as a developer it is the easiest solution to generate

[2019-11-22 21:36] pierol opened #327 "Build failed"
**Describe the bug**
Trying to build the package on Windows 10 machine with

`npm run build`

[code]
**To Reproduce**

Steps to reproduce the behavior (npm version 6.12.0, node version 12.13.0, SO Windows 10 1909):
1. Download the ZIP and unzip it
2. from inside the project folder run `npm install`
3. `npm run build`
4. See error

[2019-11-22 23:20] liyasthomas commented on #327
Oh! That seems critical then. Let us investigate what went wrong and get back to you ASAP.
Thanks for reporting.

[2019-11-22 23:21] liyasthomas commented on #326
Will work on it. We're just started and make sire to include this awesome feature in our pipeline.

[2019-11-22 23:25] liyasthomas commented on #325
Hi there!
Postwoman have proxy support!.It allows you to request response from restricted endpoints, hide your IPs, avoid CORS issues and other functionalities.

Proxy mode is global so it'll be also enabled for GraphQL testing too.

To turn on Proxy; Settings > Proxy

[2019-11-23 01:00] ImVexed opened #329 "Server Sent Events"
Are there any plans to support SSE / has there been any discussion around this previously?

[2019-11-23 01:16] liyasthomas commented on #329
This seems to be an interesting feature. Where can I read more on implementing them? Or would you like to make a contribution to it :)

[2019-11-23 01:20] ImVexed commented on #329
SSE is used in [EventSource](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) And is effectively just an HTTP request that is held open with content type of `text/event-stream`. At that point it's just a uni-directional pipe that allows the server to send JSON events to a client.

[2019-11-23 01:22] ImVexed commented on #329
Implementation wise, I think this may actually be incredibly technically easy. Just setup an EventSource on the provided URL and then any time an event occurs, map it onto the UI.

[2019-11-23 01:35] liyasthomas commented on #329
Done deal. I'll look forward on implementing this.

[2019-11-23 02:55] liyasthomas commented on #327
I just built the project on Windows platform and everything seems to be working 😕
![Capture](https://user-images.githubusercontent.com/10395817/69471940-a4f07b80-0dca-11ea-83f6-48b37f3547aa.PNG)

[2019-11-23 03:31] liyasthomas commented on #326
Our Export collection feature could be used to make such a similar feature.

[2019-11-23 03:44] liyasthomas commented on #218
@nickpalenchar would you mind looking into post-request scripts implementation like pre-request scripts..? I know you're busy, but I hope it would be a peace of cake for you since you introduced pre-request scripts.

[2019-11-23 04:22] guilt commented on #325
Okay, maybe I wasn't talking about using a proxy, but being one, so that other apps could connect to Postwoman, and we can see the requests on it, and capture them for future use

[2019-11-23 05:04] liyasthomas commented on #325
Oh! my mistake while interpreting that. Let's discuss over it.
Do you have any use cases or existing projects that does this?

[2019-11-23 07:24] liyasthomas commented on #329
@ImVexed hi there. I made a MVP of SSE debug page. But i dont have an endpoint to test it. All server scripts I found online had CORS restrictions which why I couldn't test them in development. Can you suggest one to make sure it works?

[2019-11-23 09:41] pierol commented on #327
I tried with a fresh install but the problem persist
![Untitled](https://user-images.githubusercontent.com/433875/69476721-d757a400-0ddd-11ea-8a7c-a4ec023343cb.jpg)

[2019-11-23 09:44] liyasthomas commented on #327
Can you do a `npm run dev` and let me know.

[2019-11-23 09:47] pierol commented on #327
![Untitled](https://user-images.githubusercontent.com/433875/69476782-af1c7500-0dde-11ea-811e-872bb54fca86.jpg)
![Untitled-02](https://user-images.githubusercontent.com/433875/69476783-afb50b80-0dde-11ea-82fd-6ce0bf433a80.jpg)

[2019-11-23 09:52] liyasthomas commented on #327
Check the root directory and if there exists a folder named `.postwoman` delete it. And again run `npm run dev`

[2019-11-23 09:55] pierol commented on #327
![Untitled](https://user-images.githubusercontent.com/433875/69476891-cc9e0e80-0ddf-11ea-848a-640c6bd865ff.jpg)

[2019-11-23 09:57] liyasthomas commented on #327
I'll run some more tests and get back to you.

[2019-11-23 16:41] guilt commented on #325
Yes. I routinely use app packet captures to identify request patterns, time between requests and would like to save some of them for later.

[2019-11-23 17:37] nickpalenchar commented on #218
Sure can.. yes my schedule's really filled up the past couple months, but I’ll have some free time tomorrow 🙌

On Fri, Nov 22, 2019, at 10:44 PM, Liyas Thomas wrote:

[2019-11-23 17:38] liyasthomas commented on #218
That's great!

[2019-11-23 20:42] sneakycrow commented on #313
@arangates How are you imagining this looking and working? Just trying to wrap my head around the UI/UX.

[2019-11-24 13:23] liyasthomas commented on #329
@ImVexed hi there! I've made a quick MVP for SSE would you like to have a look at it, perhaps test any of your endpoints on it and let me know. https://deploy-preview-330--postwoman.netlify.com/websocket

#330

[2019-11-24 21:44] ImVexed commented on #329
Looks like it'd work! But I'm afraid I don't have any CORS compliant + HTTPS SSE servers to test against.

Maybe using https://github.com/kljensen/golang-html5-sse-example with a few extra CORS headers [here](https://github.com/kljensen/golang-html5-sse-example/blob/master/server.go#L124) and a https reverse proxy would be a good test?

[2019-11-24 22:42] liyasthomas commented on #329
Oh! Do you know why there's not even a sample/mock serve sent events endpoints available for testing?

[2019-11-24 22:54] ImVexed commented on #329
I'm not sure, I tried searching but it's got terrible SEO since "Server Sent Events" and "SSE" aren't very unique. Alongside that most people don't even know about them and just end up using websockets so there isn't as much of a community around it as one would think.

I'm sure there's some finance API that provides data over SSE but I have yet to find one.

[2019-11-24 22:58] liyasthomas commented on #329
Okay. Let me know if find one. I'll also look for it. I can't push to production without running some tests.

[2019-11-25 01:01] liyasthomas commented on #329
#330

[2019-11-25 01:01] #329 closed

[2019-11-25 01:23] FMGordillo opened #333 "⏬ Import a Postman's Collection"
**Is your feature request related to a problem? Please describe.**
[Auth0.com](https://auth0.com) offers a "Try with Postman" button that gives you a Collection of different APIs, but the schema of the output JSON is different from the one that Postwoman needs.

**Describe the solution you'd like**
An embedded transformer from Postman's Collection to Postwoman's Collection

Current Postman's schem

[2019-11-25 01:26] FMGordillo commented on #333
And when I try to insert my collection, the console error is: `Uncaught TypeError: Invalid attempt to spread non-iterable instance`

[2019-11-25 01:36] liyasthomas commented on #333
I haven't look deep into it. But it seems like Postwoman does follow the same export format. Except the sample collection file. PW have provision for multiple Collections export as JSON array.

Try a sample collection export with multiple connection on Postwoman. It would be similar to this:
[code]

The above export contains 2 Collections and is in array. Try multiple Collections export in PM and

[2019-11-25 02:38] nickpalenchar commented on #218
So the post-request step is plausible but not a piece of cake for a few reasons:

The post-request script feature is really only useful when it has data from a previous request. So really, there is no post-request script, only chained requests, each with a pre-request script that has access to data from the request that came before it.

So I think it's important that the request chaining gets impl

[2019-11-25 02:45] liyasthomas commented on #218
I understand the difficulties, and I'll surely contribute into it. I guess request section component is a great idea so there could be provision for tabbed requests too. I know we've come a long way from initial commit. We can pull this off too.

[2019-11-25 02:56] fibric commented on #313
@sneakycrow I can imagine making it a tab similar to markdown preview https://github.com/shd101wyy/vscode-markdown-preview-enhanced

[2019-11-25 03:36] nickpalenchar commented on #218
Awesome! Yes do feel free to add to it. I'll also try to look at it a bit more in another 24 hours, but any other contributions will surely be helpful.

[2019-11-25 05:37] FatDoge commented on #327
I meet the same problem, delete the ```.postwoman``` directory seems useless.
System infomation: ```Linux VM_202_150_centos 3.10.0-514.21.1.el7.x86_64```
I use the  cloud server offered by Tencent Cloud.

[2019-11-25 05:42] liyasthomas commented on #327
Issue has been identified. Will patch soon with a fix.

[2019-11-25 06:08] FatDoge commented on #327
```.postwoman/version.json``` file is not normally generated in ```build.js```. if you need to use it urgently, you can delete the corresponding import statement and the related code in ```layout/default.vue``` file first.(**Unrecommended**)

[2019-11-25 07:44] FatDoge opened #336 "Internal server environment usage requirements"
**Is your feature request related to a problem? Please describe.**
When I deploy on an internal server，I noticed that the postwoman request ```css``` and ```icon``` from ```fonts.googleapis.com```, but the internal server can not request the resources,so the layout become confusing.

**Describe the solution you'd like**
Wish the all resources can be used offline.

**Describe alternatives you've co

[2019-11-25 07:46] FatDoge commented on #336
BTW, awesome project!

[2019-11-25 07:48] liyasthomas commented on #336
Actually this request was implemented quite ago, but I had to revert that on an critical error. Since you've mentioned this again, I'll fix it today itself.

[2019-11-25 08:41] FatDoge commented on #336
Of course~

[2019-11-25 10:18] FatDoge commented on #313
Yep, it should has a GUI like the web version, people may choose it rather than a command line version postwoman.

[2019-11-25 11:18] x2764tech opened #337 "Feature Request: Support OAuth2/OIDC"
**Is your feature request related to a problem? Please describe.**
Currently, Postwoman supports Bearer Token authentication, but [the process of obtaining a token for OAuth2 is non-trivial for any real-life APIs](https://www.oauth.com/oauth2-servers/access-tokens/authorization-code-request/).

**Describe the solution you'd like**
In an ideal world, Postwoman would support OIDC for endpoint discov

[2019-11-25 13:24] SickoOrange commented on #327
ths, please fix it cause i met also some issue like this.
or give me s solution to avoid this

[2019-11-25 13:55] liyasthomas commented on #327
We couldn't reproduce the issue at our end.

[2019-11-25 14:04] liyasthomas commented on #337
Will discuss about it's implementations and let you know.

[2019-11-25 16:21] hosseinnedaee commented on #327
`npm run generate` and `npm run build` woks for me on Ubuntu 18.04

[2019-11-25 16:24] liyasthomas commented on #327
Our CI build is on Linux and it's working fine.
I can also confirm `npm run generate` works on Windows build 1803.

[2019-11-25 16:46] orthros commented on #267
I would be glad to contribute! I'll swing by the Discord 👍

[2019-11-25 21:50] liyasthomas commented on #315
Do a `npm run generate` to build the project and try hosting the `/dist` directory on server.

[2019-11-25 21:52] #315 closed

[2019-11-25 23:38] threeaccents commented on #326
Awesome I haven't read the code base fully yet but once I get aquatinted to it maybe I can help out some with PRs for this feature.

[2019-11-25 23:41] liyasthomas commented on #326
Great!

[2019-11-26 00:44] FatDoge commented on #327
I just clone the code to my pc again.
[code]
And everything is okay now...
Below is some information of my local enviroment:
[code]
My PC OS is Windows10 Home Chinese Edition 1903.

---
That's weird, I can't repoduce the problem and I want to know why, I even change the local PC date to yestoday.
**I will try again on my linux server and let us see if there is something strange.**

[2019-11-26 00:48] liyasthomas commented on #327
Usually these kinda errors happen when npm cache exists with lower version of dependencies. Delete node_modules, clean the cache, npm install again will solve most of it.

[2019-11-26 01:29] liyasthomas commented on #327
Some workarounds:

0. Delete node_modules
1. `npm cache clean`
2. `npm i`
3. `npm run dev` or `npm run generate`

If the above steps fails, try:
0. `npm rebuild node-sass`
1. `npm run generate`

[2019-11-26 01:43] FatDoge commented on #336
If it is convenient, can you tell me where is the external network resource reference involved in packaging?
I mean the ```https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto+Mono:400&display=swap``` and ```https://fonts.googleapis.com/icon?family=Material+Icons&display=swap```
🤣 :

[2019-11-26 01:49] liyasthomas commented on #336
I went quite busy, will make them available for offline ASAP.

[2019-11-26 02:00] FatDoge commented on #336
Thanks a lot.
👍

[2019-11-26 02:26] vitorcx opened #339 "Separate layers in dockerfile to improve image build"
**Is your feature request related to a problem? Please describe.**
The problem is related to the efficiency in the nodejs image building process when we choose to develop/contribute using docker-compose.
I realized that in the current dockerfile there is only one layer responsible for copying all code from the current directory into the container. This results in the need to rebuild the image from

[2019-11-26 02:34] liyasthomas commented on #339
Because I'm a Docker noob. I'm new to Docker and all. It would be great if you could shoot up a PR! I'm still learning Docker, I'll review and merge to master 👍

[2019-11-26 02:52] vitorcx commented on #339
Thanks for replying, i will do it then! It will be a pleasure to help.

[2019-11-26 03:27] liyasthomas commented on #339
#340 solves this hence closing

[2019-11-26 03:27] #339 closed

[2019-11-26 07:43] debjeetsarkar opened #342 "Ability to connect to a MQTT broker"
**Is your feature request related to a problem? Please describe.**
There is no comprehensive tooling while working with MQTT brokers.

**Describe the solution you'd like**
A simple interface to connect to an MQTT broker.
Subscribe to topics
Publish to topics

**Describe alternatives you've considered**
MQTT Lens

[2019-11-26 07:53] liyasthomas commented on #342
Will consider implementing this 👍

[2019-11-26 08:09] liyasthomas commented on #342
@debjeetsarkar can you provide a test MQTT server address for testing?

[2019-11-26 08:21] debjeetsarkar commented on #342
@liyasthomas , for testing we can use the following:
server: mqtt.eclipse.org
port: 1883

[2019-11-26 15:01] NBTX commented on #267
Perhaps if this is a discussion about making the proxy, rather than the interface a native application (which I believe is ideal), we should transfer the issue to the [postwoman-proxy](https://github.com/NBTX/postwoman-proxy/) repository?

[2019-11-26 15:03] NBTX commented on #327
@liyasthomas I think this can be closed?

[2019-11-26 15:03] liyasthomas commented on #267
This issue is intended to track offline build progress. Better take concerns regarding Proxy to https://github.com/NBTX/postwoman-proxy/

[2019-11-26 15:06] liyasthomas commented on #327
This issue is stale and hence closing

[2019-11-26 15:30] NBTX commented on #342
It is impossible to work with raw TCP sockets in the browser (this would require a standalone application - though could be implemented with the proxy), however you can use a websocket implementation in postwoman: https://postwoman.io/realtime

[2019-11-26 16:08] debjeetsarkar commented on #342
MQTT can communicate over WebSockets and the current implementation of PW works fine to connect to a broker (Example: wss://test.mosquitto.org:8081). However, the only thing missing is the UI ability to publish/subscribe to topics. Since these actions require sending Mqtt messages itself, it will be very useful to allow doing the same via UI.

Something similar to MQTTLens in chrome store.

[2019-11-26 16:10] liyasthomas commented on #342
I think this could be implemented.

[2019-11-26 16:16] NBTX commented on #342
![image](https://user-images.githubusercontent.com/43181178/69651424-ac678d00-1035-11ea-9d2a-5957795a4a17.png)
I see, I was looking at this page and pointing out that the raw TCP (1883 and 8883) could not be implemented.

If all you need is a better interface / UX for working with Mqtt, that's easy enough to implement.

[2019-11-26 18:38] guilt commented on #325
I was looking around for libraries, a starting point may be to look at: https://github.com/alibaba/anyproxy and see if we can integrate their code / libraries into the application!

More importantly, the point of proxying may not be to allow TCP connect / tunnel, but more about per-request capturing. So HTTP CONNECT / TCP passthru method isn't what the solution will do.

[2019-11-26 18:43] fibric commented on #313
maybe build a desktop version too.
https://github.com/mimecorg/vuido

[2019-11-26 22:51] sneakycrow commented on #313
This sounds rad. Could you create a second issue for it so we can track it?

[2019-11-26 22:54] sneakycrow commented on #313
@liyasthomas I'll take a shot at this. I haven't ever built a VSCode plugin before though. So if there's someone with more experience with then they can take it. Otherwise I'll try to flex my learning muscles 💪

[2019-11-27 03:02] FatDoge opened #348 "i18n support"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Support multiple languages is user-friendly.
Maybe we can create serveral language profiles and everyone can take a part in the translation plan.

[2019-11-27 03:04] liyasthomas commented on #348
This is gold. I was waiting for someone to ask about it. Internationalization should be the next best thing that could happen to PW.

[2019-11-27 03:20] FatDoge opened #349 "fix:SSE onclose handle"
**Describe the bug**
If u click the stop button in SSE test page, the log info doesn't appear.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'realtime -> sse'
2. Click on 'start'
3. Waiting for the connection start
4. Click on 'stop'
5. the connection closed but the UI did not change.

**Expected behavior**
Log the info, change the button.

**Screenshots**
I have clicked the stop but

[2019-11-27 03:28] FatDoge commented on #348
Thanks again for this awesome project, I think everyone would be pleasure to help with supporting i18n.

[2019-11-27 09:33] liyasthomas commented on #348
#351 fixes this. Which is just an initial model. And we're gonna need contributors for finishing it.

[2019-11-27 10:00] joanbono opened #352 "Static builds on releases"
**Is your feature request related to a problem? Please describe.**
Is there any plan to release a static build?
Since it's a node package, maybe is a good idea to release a build which can be downloaded/executed automatically, without NPM installed or need to install all the dependencies.

**Describe the solution you'd like**
Use npm's static-build to release static builds under Releases

[2019-11-27 10:18] liyasthomas commented on #352
We've already planned quite a lot of implementations:

- Offline build #267
- VS code plugin #313

[2019-11-27 10:49] joanbono commented on #352
Good! In this case I think we can close this one!

Looking forward to it :)

[2019-11-27 10:49] #352 closed

[2019-11-27 12:04] mhusar opened #353 "Bearer token doesn’t work with CORS when only authorization header is allowed"
Version: commit 37c41086d20ef89a009e58cca9235360161a731b

When I use the "Authentication" tab and choose "Bearer Token" as authentication type and define a token, the "Access-Control-Request-Headers" header is faulty.

current:
Access-Control-Request-Headers: authorization,undefined
should be:
Access-Control-Request-Headers: authorization

But on the server-side I defined, that only the authorizat

[2019-11-27 12:07] liyasthomas commented on #353
Issue has been identified. Let us investigate what went wrong and get back to you in a jiffy.

[2019-11-27 12:10] #349 closed

[2019-11-27 12:13] liyasthomas commented on #348
This was solved in #351 hence closing

[2019-11-27 14:22] #353 closed

[2019-11-27 15:48] liyasthomas commented on #348
For those who are interested in localisation, can contribute to i18n branch. i18n is on a seperate branch: https://github.com/liyasthomas/postwoman/tree/i18n and will merge to master once or twice in a week for easy convenience. Please make PRs to i18n branch only so that we could track it's progress easily.

[2019-11-27 18:48] benjaminhowarth1 opened #358 "Feature request: OAuth header support/integration"
**Is your feature request related to a problem? Please describe.**
A number of APIs and services are protected using OAuth these days, and it would be great to integrate an OAuth-specific header builder (similar to Postman) to enable easy testing of OAuth-protected resources.

**Describe the solution you'd like**
A header "builder" to construct an OAuth Authorization header.

**Describe alternativ

[2019-11-27 18:52] AndrewBastin commented on #358
Hi there,

Thanks for opening the issue. OAuth is something really important to many workloads and is indeed a high priority thing to be implemented.

@liyasthomas @jamesgeorge007 @NBTX @athul @izerozlu
Anyone willing to pick this issue up ? I am a bit in a handful with getting native wrapper going.

[2019-11-27 18:57] liyasthomas commented on #358
@benjaminhowarth1 isn't this how OAuth is sent in a request?

```Authorization: Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx```

[2019-11-27 21:19] sneakycrow commented on #313
@liyasthomas Feel free to assign the issue to me. I'm going to get started on some tutorials for making a VS Code plugin today and get started on this specific plugin sometime after Thanksgiving.

[2019-11-27 23:36] AndrewBastin commented on #358
OAuth does use some standard URL parameters though....

We can look into those ?

[2019-11-27 23:37] liyasthomas commented on #358
I can do that.

[2019-11-28 01:11] penguindustin commented on #265
Just tried a POST to an endpoint with 6000+ and 12K+ chars and couldn't reproduce. Are you still having this issue?

[2019-11-28 01:14] liyasthomas commented on #265
@AtomicNicos have you tried reproducing the issue after #292 ? If issue is is fixed, feel free to this.

[2019-11-28 04:46] jamesgeorge007 opened #363 "[request]: CLI possibilities"
Having a CLI utility for postwoman is likely to ease the workflow.
(NB: Even postman has got a CLI utility, [newman](https://github.com/postmanlabs/newman))

[2019-11-28 13:23] AtomicNicos opened #365 "Proxy CORS issue"
**Describe the bug**
Cannot use proxy

**To Reproduce**
Steps to reproduce the behavior:
Activate default proxy, launch request.

**Expected behavior**
Request should work.

**Result**
`Blocage d’une requête multiorigines (Cross-Origin Request) : la politique « Same Origin » ne permet pas de consulter la ressource distante située sur https://postwoman.apollotv.xyz/. Raison : l’en-tête CORS « Acces

[2019-11-28 13:41] liyasthomas commented on #365
There's no problem here. I can't reproduce the bug.

[2019-11-28 16:20] adlpaf opened #367 "Intent to translate"
#Intent to translate to Spanish

I want to translate the lang/es-ES.js

[2019-11-28 16:37] liyasthomas commented on #367
Checklist:

- [ ] **Pull the latest changes from `i18n` branch**
- [ ] Find `lang/<<your_file>>.js`
- [ ] **Replace existing dummy translations** with actual translated lacale (no need to update `nuxt.config.js` since language is already added once)
- [ ] Save changes, Commit changes, **Push to `i18n` branch only**

Refer English translation file https://github.com/liyasthomas/postwoman/blob/i18n/

[2019-11-28 16:37] #367 closed

[2019-11-28 18:17] NBTX commented on #325
What if we added the functionality to the proxy server to act as a packet capture and then pass this to the postwoman interface?

So a workflow would be:
1. setup a copy of the [Postwoman proxy server](https://github.com/NBTX/postwoman-proxy/) and enable some packet capture option.
2. connect the Postwoman app to the proxy server as usual.
3. connect to the proxy server on the intended device.
4.

[2019-11-28 18:21] NBTX commented on #365
Whilst I do know French, errors and error reports in English would be appreciated!

I have not been able to reproduce the error myself, however I'm noticing that this bug was reported 5 hours ago, almost precisely the time that I briefly took down the Apollo server for some brief maintenance.

Could you please test again now and let us know if the situation is resolved?

[2019-11-28 18:25] NBTX commented on #336
@FatDoge I'm not sure if @liyasthomas has gotten around to making the resources offline, but for your own edification, the references to the resources are here:
https://github.com/liyasthomas/postwoman/blob/master/assets/css/fonts.scss

[2019-11-28 18:32] NBTX commented on #267
@liyasthomas Indeed but is the plan to make the application or the proxy a native standalone application?
As Postwoman is a PWA the interface itself can already run offline - I thought the discussion was about making the proxy native.

[2019-11-28 18:38] NBTX commented on #363
Perhaps we should make this a separate package like the repository?

[2019-11-28 22:16] liyasthomas commented on #267
@NBTX  even though being a PWA make it runs offline, we're missing out the possibilities of testing APIs in `localhost` which could only be fixed by a local server setup. So, a native wrapper for the very PWA seems essential while considering `localhost` support.

[2019-11-28 23:15] #336 closed

[2019-11-29 00:39] NBTX commented on #267
@liyasthomas If the proxy is running locally and you enter that proxy into the Postwoman PWA, you will be able to make local requests because the requests will be executed by the proxy - which is running locally - meaning a native wrapper for the entire PWA is not actually necessary.

[2019-11-29 01:46] liyasthomas commented on #267
Wow, that is correct.  Let's take tje discuss over to the group.

[2019-11-29 02:43] FatDoge opened #373 "Proxy server default configuration"
**Is your feature request related to a problem? Please describe.**
I use the postwoman-proxy to create a private proxy server, and I want to use the server url become the default configutarion. There are many files that need to be changed, may be create a common config.json to export the DEFAULT_PROXY_URL?

[2019-11-29 03:04] liyasthomas commented on #373
@NBTX

[2019-11-29 03:08] FatDoge commented on #373
Also met the CORS problem.I have changed the ```config.json``` to fit my private postwoman.
#365

[2019-11-29 03:11] liyasthomas commented on #373
I think `Access-Control-Allow-Origin` is only set to allow requests from `https://postwoman.io`.

[2019-11-29 03:14] FatDoge commented on #373
yep, the default config is that,but I have changed it to my server address.

[2019-11-29 09:07] sergonius opened #374 "Clearing shortcut overrides browser default"
**Describe the bug**
When pressing `CMD + L`, I expect to select the address bar. Instead, clearing is done and default browser behaviour is ignored. Doesn't seem to be an issue with Safari.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'postwoman.io'
2. Press `CMD + L`
4. Address bar not selected

**Desktop (please complete the following information):**
 - OS: macOS
 - Browser: Chro

[2019-11-29 09:08] liyasthomas commented on #374
Okay will map to another key then.

[2019-11-29 09:20] andreujuanc commented on #313
I can help you out @sneakycrow  :)

[2019-11-29 09:26] #374 closed

[2019-11-29 09:41] andreujuanc commented on #365
Issue is that if your API must allow request with this header: `Origin: https://postwoman.io`
Or, you can just get repo and run it locally. :)

[2019-11-30 00:53] #232 closed

[2019-11-30 02:22] AndrewBastin commented on #235
Yeah, I tried implementing two-way binding (v-model) onto the Ace Editor component ([components/ace-editor.vue](https://github.com/liyasthomas/postwoman/blob/master/components/ace-editor.vue)) but it had some issues with the re-render (cursor keeps staying in the first col of first line), so I dropped it...

Can somebody go into fixing that ? Or can we move Ace Editor stuff to a library (like a Ac

[2019-11-30 02:24] liyasthomas commented on #235
I think v-model doesn't work on Ace. I too tried and failed doing it.

[2019-11-30 02:25] AndrewBastin commented on #267
Is this issue thread for a native proxy or for native Postwoman ?

@liyasthomas the title seems a bit ambiguous.

[2019-11-30 02:28] liyasthomas commented on #267
Proxy wrapper discuss could be done on @NBTX  repo https://github.com/NBTX/postwoman-proxy/

This thread is for offline native build.

[2019-11-30 02:31] #365 closed

[2019-11-30 02:33] AndrewBastin commented on #267
Okay then,

Can I get assigned for this as I am already working on it.

[2019-11-30 02:43] AndrewBastin commented on #235
Can we look into libraries providing Vue wrappers from Ace ?

[2019-11-30 02:50] liyasthomas commented on #235
@AndrewBastin https://stackoverflow.com/questions/57645961/vue-apply-v-model-on-user-defined-component-which-use-ace-editor there's a sollution.

[2019-11-30 03:00] AndrewBastin commented on #235
Ooooh, if nobody is working on it, I will try implementing it and migrate the necessary views.

If nobody is working on it, can I get an assign ?

[2019-11-30 08:26] #235 closed

[2019-11-30 18:00] andreujuanc commented on #267
Hey @liyasthomas few days ago I found this on my twitter feed.
https://github.com/SteveSandersonMS/WebWindow

It's like cordova, but for desktop apps. So, instead of embeding chrome+node, it uses the local web engine of the OS, which reduces the size considerably.

It's super pre-alpha stuff, BUT, it might be worth a try.

Vscode extension is also cool, but not everyone is using it, some people pr

[2019-11-30 20:06] AndrewBastin commented on #267
@andreujuanc Thanks for the info on WebWindow.

I already have some stuff going around which I will release once it gets more stable, we are kinda waiting for more enhanced support for IE before releasing the native builds.

Also, the strikeout on vim, dude, I am a vim user, working on Postwoman with Vim 😂

[2019-11-30 22:51] yubathom opened #384 "npm modules of postwoman's vue components"
**Is your feature request related to a problem? Please describe.**
Yes. After deploying and testing an API it is a common task to create documentation websites. Postwoman is great for testing but it can't be used to create theese sites yet.

**Describe the solution you'd like**
Publish in **NPM** postwoman modules as vue components. So, in a documentation website you could use it like this:
[code]

[2019-11-30 22:55] liyasthomas commented on #384
This is awesome.

[2019-11-30 22:59] liyasthomas commented on #384
I gonna invest more time to this. Because this seems like a top priority. @yubathom can't we make the current implementation wrapped into a wrapper for npm module?

[2019-12-01 00:54] yubathom commented on #384
I am not sure.. I will give a try and investigate a solution :mag: If you find a nuxt project sharing components at npm please share it to me :octocat:

[2019-12-01 00:58] liyasthomas commented on #384
I'm on it 🤝

[2019-12-01 02:02] KJohn2q opened #385 "request on website"
I pull request on website (https://postwoman.io/),but always  get response failed.It runs on postman client.I don't know if I dp some wrong thing.I wish get some help.Thank  you.
![图片](https://user-images.githubusercontent.com/20499046/69908301-6473ac00-1421-11ea-8c83-7ec782ad183e.png)
![图片](https://user-images.githubusercontent.com/20499046/69908306-75242200-1421-11ea-9151-4feb8e2d5761.png)

[2019-12-01 02:21] AndrewBastin commented on #385
Hi there,

Thanks for using Postwoman ❤️

Your issue can be resolved by either changing the URL field from `http://httpbin.org` to `https://httpbin.org` or you can activate the Proxy from the Settings tab.

Have a nice day! 😄

[2019-12-01 02:39] KJohn2q commented on #385
Hi there,

I'm glad for your anser.I have other question I confused.

* Why I use http on postwoman website not work, but it works on postman?
* What about local domain?
* What about other public domain that only maintain http?

I'm sorry to bother you,and I don't some  explain on other place.The project don't have complete docs.

[2019-12-01 02:47] liyasthomas commented on #385
1. The very website `postwoman.io` is hosted on a HTTPS protocol. This means all requests are allowed for only HTTPS site by default. This ia a security feature implemented in browsers.

We've Proxy mode. This allows you to access HTTP endpoints from postwoman.io. Toggle Proxy mode from https://postwoman.io/settings

HTTP is non-secured and allows vulnerabilities.

In Postman they automatically ro

[2019-12-01 03:04] KJohn2q commented on #385
I'm glad for your anser.I don't have other question temporally,so you can close this issue.

If I have other question during use postwoman,I will back.

Thank you!

[2019-12-01 03:05] #385 closed

[2019-12-01 05:23] liyasthomas commented on #265
https://stackoverflow.com/questions/55631057/axios-post-data-as-form-data-instead-of-as-json-in-payload

[2019-12-01 06:08] AndrewBastin opened #386 "IE Support"
**Is your feature request related to a problem? Please describe.**
Postwoman is broken in Internet Explorer (tested in IE11)

**Describe the solution you'd like**
Postwoman should work properly in IE

**Describe alternatives you've considered**
Not Applicable

**Additional context**
This feature is crucial for the implementation of the native wrapper ( #267 )

[2019-12-01 06:09] liyasthomas commented on #386
I'll work on it.

[2019-12-01 07:32] liyasthomas commented on #386
Babel transpiled build throws `syntax error`.
But at least I was able to get Nuxt error page! I've hope.

[2019-12-01 14:44] NBTX commented on #373
You only need to make sure that the page you're accessing postwoman from is included in the `allowedOrigins` list. If you use the Postwoman app from postwoman.io with your proxy no additional configuration is required.