[2022-05-27 11:23] Tarrowren commented on #2369
Does the cache require workbox.js to work properly? I currently can't access cdn.jsdelivr.net

[2022-05-27 13:47] GuilhermeViterboGalvao commented on #1834
Same problem as @tripol !

[2022-05-29 02:12] berlinsaint commented on #1915
Hope to support it

[2022-05-30 14:44] adrinerandrade commented on #882
There's a lot of scenarios that the development environment uses self-signed certificates. We make available http endpoints too in dev environments, to workaround, but will be really interesting this feature.

[2022-05-31 11:00] AndrewBastin commented on #2293
@nvnputta are you working on this ? please update your status.

[2022-05-31 11:34] #2344 closed

[2022-05-31 12:09] AndrewBastin commented on #2369
@Tarrowren Yes, we use workbox for it and that needs to be accessible, I will keep the issue open for potential solutions and ways to get around that.

[2022-05-31 13:32] aswinsegwitz opened #2384 "[bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

currenyly new version doent provide the emit data on live for socket io test..older version provide the emit data as live

### Steps to reproduce

please find a solution for it

### Environment

Production

### Version

Self-hosted

[2022-06-01 06:53] dKenez opened #2387 "[bug]: Could not send request to locally host server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I tried to send a POST request through hoppscotch to a server hosted on 127.0.0.1:8000 Hoppscotch responded with: ¨unable to send request¨. The cURL code generated with the same request executes flawlessly though.

![image](https://user-images.githubusercontent.com/47757462/171344441-100

[2022-06-01 07:21] #2387 closed

[2022-06-01 11:26] TeamPIDU commented on #2220
Yes Folder and Request reordering are very important in terms of managing - Also please add the functionality to import/move folders into other folders - this will be very helpful when many people are working on api of different modules and finally one can provide the exported file and all of then can be imported into a single folder at one place making a central project sort (just a usecase)

[2022-06-01 11:34] liyasthomas commented on #2220
Hi @TeamPIDU, we’ve prioritised collections and folders reordering feature for next major release.

Fyi, you can move folders or collections by drag and dropping them to desired collection.

[2022-06-02 02:29] JacekAndrzejewski opened #2390 "[bug]: Trying to delete parameter hangs the application or doesn't work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

I know this is two issues, but those are definitely connected. If it's required then we could divide this into two.

### Current behavior

Issue 1
When I try to delete non last parameter from request body list the application hangs.
I expect parameter to be deleted from the list.

Issue 2
When I delete last one an

[2022-06-02 02:33] JacekAndrzejewski commented on #2293
Seems multipart is a bit buggy right now, this might be connected to #2390

[2022-06-02 15:51] TeamPIDU opened #2393 "[feature]: Move Folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Functionality to import folders into other folders and move folder into other folder by drag and drop

### Why should this be worked on?

this will be very helpful when many people are working on api of different modules and everyone can provide the exported folder file , the relevant folder can be sh

[2022-06-03 20:22] evbo commented on #433
Update: See instructions for proxying requests to localhost here: https://github.com/hoppscotch/hoppscotch/discussions/2051#discussioncomment-1887545

[2022-06-05 11:34] #2314 closed

[2022-06-08 09:21] phate89 opened #2405 "[feature]: parameters in url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

https://github.com/hoppscotch/hoppscotch/pull/840
I found this feature merged but it doesn't exist in current version. It was reverted?
Thanks

### Why should this be worked on?

Today rest api use a lot of stuff passed not as parameters but as part of the url.

[2022-06-08 10:09] liyasthomas commented on #2405
Possible duplicate of #2227, hence closing.

[2022-06-08 10:43] phate89 commented on #2405
@liyasthomas that's not what the request was about.
The pr implemwnts a way to use parameters in url but like this:
Https://myapi.com/myresource/<<resourceid>>
Instead of the usual Https://myapi.com/myresource?resourceid=something that is rarely used nowadays with rest API.
The pr was reverted or something? Because it was merged

[2022-06-08 11:35] liyasthomas commented on #2405
Hi @phate89, sorry for the delay. It was a typo from my end. I've mentioned the correct issue ticket number in my original comment.

Support for inline path variables has been dropped on a refactor, as of now, we're tracking its priority in #2086. Please share your thoughts on the same issue ticket.

[2022-06-09 12:24] ctrlaltdan commented on #1915
Agreed. Any sort of filesystem support would be great so we can host internally and share collections among the team.

[2022-06-09 15:17] Explosion-Scratch opened #2407 "[feature]: Add auto generated docs + schemas to graphql APIs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add autocomplete for fields after connecting, and show schemas. Like apollo studio does.

### Why should this be worked on?

Very helpful for contructing queries

[2022-06-09 17:17] mcorbelli opened #2408 "[feature]: Dynamic variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be interesting to include the ability to generate sample data, including random names, addresses, email addresses and more ... like the postman

### Why should this be worked on?

https://learning.postman.com/docs/writing-scripts/script-references/variables-list/

[2022-06-10 12:42] #2334 closed

[2022-06-11 04:39] loveqianool opened #2409 "[feature]: Import and export har files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

HTTP Archives (HAR) capture records the requests and responses that the browser makes with the web application

### Why should this be worked on?

analyzing web requests

[2022-06-11 11:25] moritzmock commented on #2124
@igor-betin and @AndrewBastin

To my understanding, this issue raises from the export file itself!
I have created a new collection and added some requests:

![image](https://user-images.githubusercontent.com/23076328/173185674-1206658c-a959-4e00-a7cc-a31a42354923.png)

However, nothing of that was exported:

![image](https://user-images.githubusercontent.com/23076328/173185514-25a551e1-a61f-4bfb-b

[2022-06-11 15:22] donatelloraphael opened #2411 "[feature]: Add scroll bars to API response panels"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Adding vertical scrollbars to REST API and GraphQL response panels in the app could help in the cases of having responses with a lot of lines.

### Why should this be worked on?

The main problem I found with Hoppscotch is that I can't scroll through the responses with a scroll bar. It makes developme

[2022-06-11 15:23] donatelloraphael commented on #2411
I can add the scroll bar myself.

[2022-06-11 17:37] Abjcodes opened #2413 "[feature]: Add horizontal scrollbar for authorization"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Similar to #2411, I noticed no horizontal scroll bar for the authorization section.
![WhatsApp Image 2022-06-11 at 11 02 03 PM](https://user-images.githubusercontent.com/42151354/173198733-b051070c-343c-4331-a0f9-bcafacf77c79.jpeg)

### Why should this be worked on?

I found it difficult to edit the t

[2022-06-13 03:42] renmu123 opened #2424 "[bug]: cURl paser body error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

when I import cURL, the bosy parse error.

### Steps to reproduce

Click to 'import cURL'
input: curl
[code]

Body was translate to "name: 11&logistics_id" instead of
"name: 11
logistics_id: 4
port_id: 3'"

### Environment

Release

### Version

Local

[2022-06-13 06:15] AndrewBastin commented on #2424
cc: @kyteinsky

[2022-06-13 17:38] AndrewBastin commented on #2293
Unassigning @nvnputta due to inactivity.

[2022-06-14 12:00] whichdew commented on #1817
keep watching

[2022-06-14 12:19] TeamPIDU commented on #2393
Hi any update with this as, without basic features of Folder Management and Response Grouping - the whole tool of Hoppscotch is becoming non-usable. Its a beautiful tool and is helping thousands of developers worldwide, but without basic management of the Folder and limited Export and Import Functionality, it becomes very hard to use this tool even if somebody wants to. We understand this is an op

[2022-06-14 15:46] AndrewBastin commented on #2384
Can you explain what is the issue exactly?

[2022-06-15 06:06] John-Weak commented on #2424
Can you please assign this to me?

Also I was looking into tests of curl parser and found out that only one test contains  **--data-raw** ,
which is of type --data-raw '{"id":4,"crm_company_id":4,"industry_primary_id":2,"contacts":[]}',

Should I open a pull request to include the problematic type format:
 --data-raw 'name=11&logistics_id=4&port_id=3'

[2022-06-15 06:17] kyteinsky commented on #2424
@John-Weak I am afraid that's not the issue here. The curl parser replaces all `--data-raw` tags with `-d` tags. But yeah one test sure is missing.

Last I looked into it there were issues with [this function](https://github.com/hoppscotch/hoppscotch/blob/main/packages/hoppscotch-app/helpers/curl/curlparser.ts#L75) and [this block](https://github.com/hoppscotch/hoppscotch/blob/main/packages/hoppsc

[2022-06-15 07:12] John-Weak commented on #2424
As per my view I think this [pair function](https://github.com/hoppscotch/hoppscotch/blob/2d0bd48e0007009f7a2e945e606f25b8f8f59bb2/packages/hoppscotch-app/helpers/curl/curlparser.ts#L75-L87) is the issue,

After console logging the return value of this function for the [first test](https://github.com/hoppscotch/hoppscotch/blob/2d0bd48e0007009f7a2e945e606f25b8f8f59bb2/packages/hoppscotch-app/helper

[2022-06-15 08:29] kyteinsky commented on #2424
Yup totally! My guess is that the `Array.isArray` condition is not working properly. See if you can get part to work.

And bonus if you can find what that `else if` block does and place a small comment there.

[2022-06-15 09:08] AndrewBastin commented on #2424
@John-Weak I am assigning this issue to you.

[2022-06-15 18:23] #2333 closed

[2022-06-16 04:53] John-Weak commented on #2424
Upon further inspection I think I will need to fix this [preprocess function](https://github.com/hoppscotch/hoppscotch/blob/2d0bd48e0007009f7a2e945e606f25b8f8f59bb2/packages/hoppscotch-app/helpers/curl/curlparser.ts#L30) so that It handles the case where **&** is presesnt
(example name=11&logistics_id=4&port_id=3).

Since the [rawData](https://github.com/hoppscotch/hoppscotch/blob/2d0bd48e0007009f

[2022-06-16 06:20] kiriti-iselect opened #2429 "[feature]: Team specific environment variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Please provide team specific environment variables for team collections. Currently, the collections are synced between teams but not the environment variables so basically collection is broken if environment variables doesn't sync.

Currently, environment variables are only for local collection.

![im

[2022-06-16 06:25] AndrewBastin commented on #2429
We are actually working on this and hope to ship this in the coming weeks!

For the Hoppscotch team:
Internally tracked by hoppscotch/internal-issues#1

[2022-06-16 08:49] AndrewBastin commented on #2176
Should have been solved with #2332

Please let me know if you still have issues.

[2022-06-16 11:44] clouedoc opened #2430 "[feature]: remove short codes that were published prior to the update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I wish to remove a shortcode that I created a while ago, before the feature to remove shortcodes existed.

I wish to remove it.

### Why should this be worked on?

Data privacy

[2022-06-16 14:17] #2390 closed

[2022-06-16 19:39] vaugenwake opened #2431 "[bug]: Selecting a request twice from collection removes save context"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When a user switches from one http request to another the save context is kept up to date and is switched correctly. When you select the same request again and there are no changes to the request, the save context is cleared, and selected state is removed from the request in the collection vi

[2022-06-17 08:12] kyteinsky commented on #2424
umm, the pre-processor is innocent here. Once you comment out the pairs function or make it return null or something falsy, and remove the else if block, you'll see this command would work flawlessly.

[2022-06-17 20:16] bricker opened #2435 "[bug]: Generate Documentation does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

On the "Docs" tab, when I import a collection that I previously exported from Hoppscotch, and click "Generate Documentation", I see a few folders called "None" with no information. I have tried this with a few collections. Here's an example with the default "Echo" request:

I expect the docum

[2022-06-18 05:20] AndrewBastin commented on #2435
@liyasthomas I think we have to consider removing the page if we are not intent on maintaining it :/

[2022-06-18 05:29] AndrewBastin commented on #2430
Closing this issue.

[2022-06-18 05:29] #2430 closed

[2022-06-18 06:23] liyasthomas commented on #2435
@bricker we’ll be removing this feature and entirely the /docs page as we’re planing on introducing a completely revamped API documentation generation feature in the next quarter.

sorry for the inconvenience, keeping this issue open until the Documentation page is removed in production.

[2022-06-18 08:52] AndrewBastin commented on #2431
This is an intended behaviour.

Clicking on the request when it is already selected dissociates the current editor save context from the request.
Clicking again brings it back to the context. We keep this for now to allow people to opt out of save contexts, in case they are playing around and don't want to accidentally modify a saved request.

I think changing the behaviour and moving the dissocia

[2022-06-18 08:52] #2431 closed

[2022-06-18 08:58] vaugenwake commented on #2431
@AndrewBastin was not aware it was intended behavior, but thank you for clarifying.

I would support a change to this to have a more understandable user experience as many in my team & company have noted an inconsistency with saving their requests which promted the PR.

Thanks for taking the time to concider it!

[2022-06-18 09:01] AndrewBastin commented on #2431
@vaugenwake thanks to you for putting in the effort to fix it! <3

As I said, we do acknowledge the issue, we are working towards implementing a Tab System which will encapsulate the "save context"-ness of open editor requests.

I can't exactly give a timeline for it, but once it is implemented, we will be able to get rid of this weird quirk once and for all.

[2022-06-18 10:52] devmor-j opened #2436 "[bug]: environment variables are eager to save without pressing 'save' button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I edit environment variables and don't hit 'save' button it will save without any warning.

I expect when I edit environment variables, I MUST hit 'save' button to keep editing changes.

Also why these important and sensitive data is editable by default? They must be editable only when u

[2022-06-18 10:58] devmor-j opened #2437 "[feature] Scrollbar"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I would like to have a scrollbar inside application.

### Why should this be worked on?

With scrollbars I can scroll using any mouse and also scrollbars are an indicator of lists length. This is an accessibility feature request, thanks.

[2022-06-18 12:43] #2413 closed

[2022-06-18 12:44] #2437 closed

[2022-06-18 12:44] #2411 closed

[2022-06-19 09:49] chaukhoa97 opened #2438 "[feature]: Ctrl-click at a field to navigate to its section in the documentation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I have used another GraphQL client called [Altair](https://chrome.google.com/webstore/detail/altair-graphql-client/flnheeellpciglgpaodhkhmapeljopja) before using Hoppscotch. Overall a better experience but what I miss most is Altair let me use Ctrl-click to navigate to its section in the documentation

[2022-06-19 21:30] #2435 closed

[2022-06-20 06:46] khusroohayat opened #2449 "[bug]: Scroll Freeze"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When i scroll on request and response tabs i.e (body, JSON) the scroll up and down should work fine

### Steps to reproduce

1. Create a GET/POST Request
2. Click on Send Button
3. After Getting Response When you Scroll down the JSON tab it works
4. After Scroll up the JSON tab it freezes

##

[2022-06-20 16:06] liyasthomas commented on #2449
I can't reproduce this issue on my end. @khusroohayat can you send me a screenrecord of the issue?

[2022-06-21 04:15] kyteinsky commented on #2424
@John-Weak Still working on this one?

[2022-06-21 04:17] John-Weak commented on #2424
Yes,was busy the past few days.
Would look into this today

[2022-06-21 17:49] AndrewBastin commented on #2384
Closing due to no response.

[2022-06-21 17:49] #2384 closed

[2022-06-22 09:51] #2368 closed

[2022-06-22 17:03] AndrewBastin commented on #2336
Since there is no further communication happening here, closing the issue.

[2022-06-23 00:31] ezracelli opened #2451 "[feature]: support multiple graphql operations"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In GraphiQL, I can specify multiple queries/mutations, like so:

[code]

Then, when I click "Run", GraphiQL prompts me for which operation I'd like to select. Additionally, pressing the keyboard shortcut for "Run" will automatically select the operation under the cursor.

The name of the selected oper

[2022-06-23 03:07] karoldem opened #2452 "[bug]: Incorrect parsing Python code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

messes up quotations:

`  "sec-ch-ua-platform": ""Windows"",`

should be:

`  "sec-ch-ua-platform": '"Windows"',`

[code]
should be:
[code]

### Steps to reproduce

Generate Python code

### Environment

Production

### Version

Cloud

[2022-06-23 07:15] ngocthua830 opened #2453 "[bug]: Can't save a request with multipart/form-data body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I save a request with body have binary file I got error:
Uncaught (in promise) FirebaseError: Function setDoc() called with invalid data. Unsupported field value: a custom File object (found in document users/lgddOcyz50hVaH7MjbOq1MgXOvH3/collections/sync)

After reload page and select th

[2022-06-24 11:09] umesh27kukreti opened #2455 "[bug]: Multiple request created"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

when I'm trying to create a new request it will make multiple requests with the same name.

### Steps to reproduce

1. Go to team collection.
2. create a new collection.
3. create a new request.

### Environment

Release

### Version

Cloud

[2022-06-24 11:28] liyasthomas commented on #2455
Can you explain a bit more about the issue you’ve faced? Do produce a screen record of the bug.

[2022-06-24 15:06] guidospadavecchia opened #2456 "[feature]: Remember pane sizes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Nowadays, when you launch Hoppscotch, you need to resize the different panes to your liking every time.
It would be a nice feature to save the different pane sizes (for instance, in local storage) in order to restore the visual configuration the next time the app is opened:

![hoppscotch](https://user

[2022-06-25 08:22] binaryfire opened #2457 "[feature]: CI/CD integration for tests (like Postman)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi guys

We're using Postman and would love to move to Hoppscotch.

We rely heavily on Postman's ability to integrate with our  CI/CD pipeline: https://www.postman.com/use-cases/api-testing-automation/

Is there any way to do this with Hoppscotch? I.e. write all our tests in Hoppscotch and run them vi

[2022-06-25 15:38] johnbabu021 commented on #473
i also faced this problem but it's perfect when i switched the browser

[2022-06-26 07:13] aitorllj93 opened #2458 "[feature]: increase project discoverability"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi, I found myself searching for postwoman every single time I need to use this app. The new name is kinda hard to find on Google. As an example, this is my average navigation every single time I want to open this app:

![image](https://user-images.githubusercontent.com/5903438/175803592-f1e63c57-70c4

[2022-06-26 13:06] cas-- opened #2459 "[bug]: Search panel is being covered by JSON outline paths"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

There seems to be a UI issue when trying to use the built-in search functionality. Using CRTL+F will start a search but the panel is hidden. It seems that outline paths is covering up the search panel when clicking in the JSON response body.

![image](https://user-images.githubusercontent.com

[2022-06-27 01:11] liyasthomas commented on #2457
[Hoppscotch CLI](https://www.npmjs.com/package/@hoppscotch/cli) allows you to integrate automated tests of Hoppscotch Collections in CI/CD pipelines.

[Read Documentatiion](https://docs.hoppscotch.io/cli)

[2022-06-27 05:51] AndrewBastin commented on #2457
Closing.

[2022-06-27 05:51] #2457 closed

[2022-06-27 08:50] nirnejak opened #2472 "[bug]: Test Results Environment variables overflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

If we set environment variables in Test, The Test Results section shows the environment variable change,
But if the value of the variable is too long it breaks the UI

<img width="1041" alt="Screen Shot 2022-06-27 at 1 24 53 PM" src="https://user-images.githubusercontent.com/14347543/17589919

[2022-06-27 10:22] #2472 closed

[2022-06-28 03:37] JVillator0 opened #2475 "[feature]: Duplicate folder"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Duplicate folder... with all requests inside

### Why should this be worked on?

To make the most of time, be more productive and improve the user experience

[2022-06-28 06:30] iamajar commented on #2095
I need the feature too.
Just like the setting of Postman - "Automatically follow redirects : off".

[2022-06-28 10:57] anwarulislam commented on #2456
Thanks for your suggestion. We will consider this feature.

[2022-06-29 08:50] AndrewBastin commented on #2456
You can take it on @sagar290! Assigning.

[2022-07-02 03:43] ngocthua830 opened #2478 "[bug]: Failed fetching teams list"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

![image](https://user-images.githubusercontent.com/21144351/176985278-52c59682-72a8-4aca-90f2-b0b5bc17899e.png)

I got this error after deploy source code and load page

### Steps to reproduce

Clone git repo
docker-compose build
docker-compose up
Load website

### Environment

Deploy preview

[2022-07-02 03:51] liyasthomas commented on #2478
Authentication, Cloud Sync and Team collaboration features are restricted on URLs other than official `hoppscotch.io`.

While we’re planing to release self-hostable Hoppscotch instance support by end of this year, kindly be patient and follow the project on GitHub for future product updates.

Meanwhile, feel free to use Hoppscotch.io for team collaborative features.

[2022-07-02 03:51] #2478 closed

[2022-07-02 08:40] mcorbelli opened #2480 "[feature]: application that can be installed on the pc (maybe with ElectronJS?)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

https://www.electronjs.org/

### Why should this be worked on?

it would be useful to implement hoppscotch in a desktop application via ElectronJS so that it can be independent of chrome, even in terms of occupied resources.

[2022-07-04 02:59] ngocthua830 commented on #2453
I added error screen
![image](https://user-images.githubusercontent.com/21144351/177073900-7abf911a-66ed-4036-8bdc-be0a3710c90f.png)

[2022-07-04 03:14] ngocthua830 opened #2491 "[feature]: Import environment from Postman"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When import collection that using variables from Postman to Hoppscotch, all request are imported but not variables. I have to create environment manually.

### Why should this be worked on?

That would be great if Hoppscotch have feature import environment's variable from Postman.

[2022-07-04 12:20] liyasthomas commented on #2491
Possibly a duplicate of #2124. Hence closing.

[2022-07-04 12:20] #2491 closed

[2022-07-05 03:52] theabhayprajapati commented on #2480
actually, it's PWA, you can install it as a browser app.

[2022-07-05 11:33] #2480 closed

[2022-07-06 08:27] agent-ly opened #2493 "[feature]: Allow websockets as socket.io transport option"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I use websockets exclusively for my socket.io app and I'd love to use hoppscotch to test it with but its impossible because there are simply not enough features/options to configure the client, most importantly the ability to choose the transports that it will use.

### Why should this be worked on?

[2022-07-06 09:50] ngocthua830 commented on #2097
I got the same problem, any update on this?

[2022-07-07 15:37] KartikSoneji commented on #1376
@AndrewBastin

Hmm? How is this any different from running similar network requests (google analytics, feature tracking)?
If the request is being run through a proxy, it is because the user (or someone on their behalf) explicitly enabled it.

I think adding a route like `/connectivity-check/?cors=true` to proxyscotch should allow checking both for network connectivity and if CORS is blocked.
As fo

[2022-07-07 16:26] KartikSoneji commented on #2491
Hi @ngocthua830
Can you please provide a sample postman collection to demonstrate the issue?

[2022-07-08 02:19] ngocthua830 commented on #2491
Hi @KartikSoneji I used this sample json file for import to hoppscotch, all item are imported but variables.
`{
	"info": {
		"_postman_id": "cf08d0bd-8b31-4748-bf7e-f059de976e6c",
		"name": "sample_collection",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "sample_post",
			"request": {
				"method": "POST",
				"header": [],
				"

[2022-07-08 02:27] ngocthua830 commented on #2124
I got same problem.
I used this sample json file for import to hoppscotch, all item are imported but variables.
[code]

[2022-07-08 05:14] abhaychaware commented on #1817
Watching.....

[2022-07-08 14:07] KartikSoneji commented on #2227
Allowing parameters to be defined in two places (url and the parameters tab) is both inconsistent and can lead to unexpected and hard to find bugs, _especially_ in urls with many parameters.

Maybe there can be a button to toggle between the expanded and unexpanded url?

Case in point:
![image](https://user-images.githubusercontent.com/25801283/178004155-4b068d7c-dbd2-44ec-8c0e-ad537e8c17b2.png)

[2022-07-09 10:00] hckhanh opened #2495 "[bug]: I think there is a problem with saving state"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

You can watch my recorded footage to get an idea about this bug.

[e36f6add-238e-4156-8bf1-00f28dd0d149.webm](https://user-images.githubusercontent.com/6380436/178101035-d9996048-a647-48a3-bb03-ea074a9c13f7.webm)

The saving state did not reset after rejecting the unsaved changes

### Steps t

[2022-07-10 02:11] DarkCWK commented on #2095
I need the feature too.
Sometimes we just need to see `302 Found`

[2022-07-13 01:45] leomp12 opened #2507 "[feature]: `--delay` option to `hopp test`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Option to set ms delay between requests on CLI:
[code]

### Why should this be worked on?

For large APIs (and therefore large collections) `hopp test` may fail with rate limit errors. With a delay option would be possible to respect rate limit and test entire collection as expected :smi

[2022-07-13 18:29] KartikSoneji opened #2509 "[feature]: Better debugging support on hoppscotch.io: sourcemaps and vue-devtools"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Make hoppscotch.io easier to debug by enabling CSS and JS sourcemaps and vude-devtools support.

For example:
[code]

I'll be happy to open an PR.

### Why should this be worked on?

Sometimes it's faster to add a breakpoint or analyse hoppscotch.io than spinning up a full debug server.
It will also p

[2022-07-13 19:03] AndrewBastin commented on #2509
We are migrating out of Nuxt to Vue 3 (+ Vite). It is long ways off from stable, but that will be our priority for a while.

I will keep the issue open for reconsideration once #2508 gets eventually merged.

But even then, I am fine with code source maps. But I am against allowing devtools for production, as devtools code has performance impacts and presence in the bundle.

[2022-07-13 19:09] AndrewBastin commented on #2095
That is exactly the problem, since we are backed by the browser APIs at the end of the day, due to the Atomic HTTP Redirect Handling policy in the `fetch` implementation, we will not be able to get access to the redirect information. If we ask the browser to disable redirect, it will just send us out a generic network error where we can't guarantee whether it was a connectivity issue, invalid cont

[2022-07-13 19:21] KaKi87 commented on #2095
Exactly, please.

By native, do you mean non-Electron ?

[2022-07-13 19:24] AndrewBastin commented on #2227
A button to move things back and forth of the variable from URLs is something we can consider as a compromise.
But we are still going to keep this behaviour of having parameters in both the places independently to keep the URL area more cleaner.

Not all framworks support repeated query parameters, some only read the first or last value while others require the name be suffixed by [] (eg: a[]=0&a[

[2022-07-13 19:26] AndrewBastin commented on #2095
Please create an issue in github.com/hoppscotch/proxyscotch so that can be tracked.

Absolutely not, we are planning to go with Tauri, but this is still long ways off, I don't expect it to even be in an Alpha stage till 2023.

[2022-07-13 19:58] khusroohayat commented on #2449
Here is a screen record
https://user-images.githubusercontent.com/5275996/178822855-2740995e-c2e2-4c43-aa12-7d85f3c565c8.mp4

[2022-07-13 20:42] KartikSoneji commented on #2227
Sorry I didn't get this.
Adding url parameters in both places is confusing.
How is that better than having a toggle?

We can add an indicator with a tooltip to warn users, just so they know the potential issues.
It won't prevent users from making the request.

[2022-07-13 20:49] cloudomatic commented on #1817
I would echo the need for a feature toggle for the teams capability (i..e to turn it off) on a self-hosted instance.  I believe many self-hosters would like to use a Git back-end for storage in place of a database, and right now turning off the teams capability means removing various code blocks with a scalpel, although creating a mocker of api.hoppscotch.io with no actual implementation seems lik

[2022-07-14 06:07] AndrewBastin commented on #2227
How is that better than having a toggle?

As I said, I am looking to a compromise where we will be adding a separate section to the Parameters list that shows the things inferred from the URL (Similar to how we have inferred headers in the Headers section), along with that we can add an option to move the parameter to and from the URL or the parameter list.

The main idea behind that isolation of

[2022-07-14 06:27] KaKi87 commented on #2095
Oh I'm sorry, I thought that was the extension.

Could the extension handle this ?

Nice !

What would take that long ?
Tauri's HTTP methods are easy enough to use so that I made an [`axios` adapter](https://git.kaki87.net/KaKi87/axios-tauri-adapter) for it.
Would you like a `fetch` adapter ?

[2022-07-14 06:51] AndrewBastin commented on #2095
AFAIK, I don't think so. Extension still uses the browser APIs for the most part.

Tauri's HTTP methods are easy enough to use so that I made an [axios adapter](https://git.kaki87.net/KaKi87/axios-tauri-adapter) for it.
Would you like a fetch adapter ?

Thank you for your suggestion (your code looks awesome! :heart:).

We are still a small team and we want to keep the web app as the main priority

[2022-07-14 16:09] WaylonOKC commented on #2495
I think this may be leading to the random issue that I'm seeing where saving a change to an API overwrites the previous API effectively deleting one (the previous api) and making a duplicate of the other (the one currently being saved).

[2022-07-17 13:57] unredundant commented on #1831
Hi, is there any progress / timeline on this feature?

My use case is that I would like to embed a collection as part of a service catalog entry inside of a [Backstage](https://backstage.io/) instance.  To do so, I would need to build a Backstage plugin that features an embedded collection :)

[2022-07-18 14:11] gabrielmdu commented on #2495
Isn't this the same problem addressed in #2324?

[2022-07-20 03:40] Sun-FreePort commented on #2144
i try it, and the bug fixed.

[2022-07-20 03:40] #2144 closed

[2022-07-21 07:29] kunduarnab opened #2524 "[feature]: ARM based docker image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Current version is supported for linux/amd64 only.  Arm based version will be helpful for those with arm based systems. Currently i'm using M1 mac for development and Arm based server for production.

### Why should this be worked on?

ARM based systems are increasing rapidly, whether for self hosting

[2022-07-25 08:58] #2459 closed

[2022-07-25 19:32] AndyDonits commented on #1741
@Shylajhaa It would be great to have this feature, currently I need to edit 150 requests manually because when I imported the collection from postman it didn't take into account the authorization from the postman collection

[2022-07-26 01:20] liyasthomas commented on #2495
cc: @AndrewBastin, @nivedin

[2022-07-26 01:21] #2449 closed

[2022-07-26 01:28] huozhenzhen commented on #1817
Watching.....

[2022-07-28 11:10] M1CK431 opened #2540 "[feature]: [pre|post]-script for GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I can see [pre|post]-script tab for REST request:
![image](https://user-images.githubusercontent.com/31622263/181491306-645fb79b-3410-46b4-906b-f12dcbafd8ad.png)

but not for GraphQL:
![image](https://user-images.githubusercontent.com/31622263/181491525-b20ef738-9be9-4c5e-9e3d-2a9217578e6c.png)

Is th

[2022-07-28 12:14] AndrewBastin commented on #2495
As of e9576dd33962d675978be6e5461f9303b811abae....

I have implemented the fix for when there is no save context (no green dot) and you select a request which has no difference between the contents in the editor.

For other cases, it is still marked as an intended behavior. Closing the issue, but welcoming for conversations.

[2022-07-28 12:14] #2495 closed

[2022-07-28 14:38] lapo-luchini opened #2541 "[bug]: Whatever environment is chosen, request is sent with the same URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I make a request it seems to be sending it with a different env that is not currently selected (incidentally, the first).

### Steps to reproduce

This is the preview of the variable as resolved on my request:
<img width="307" alt="image" src="https://user-images.githubusercontent.com/42

[2022-07-28 14:51] lapo-luchini commented on #2541
Sorry about the noise, I had a long forgotten pre-request script.

[2022-07-28 14:51] #2541 closed

[2022-07-28 15:54] #2424 closed

[2022-07-29 15:32] FranMaric opened #2542 "[feature]: Better error handling"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I use environment variables in Hoppscotch. When using an environment variable in your path without previously choosing your environment the user interface doesn't give an obvious error that environment is missing or that environment variable is missing it just says "Could not send request". It took me

[2022-07-30 13:55] theabhayprajapati opened #2543 "`Same command for different work. Alt + 'k'`[bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

## Alt + k has two different works. 😔
<img width="243" alt="image" src="https://user-images.githubusercontent.com/88815641/181916096-8068d343-6ee5-44bc-9500-8cde6122c31e.png">

- Alt works properly for **selecting post method**.
- but not for navigating to the **profile page**.

## How can be

[2022-08-01 20:47] guidospadavecchia commented on #2393
+1

This is a basic feature that would be really useful to have. I have a folder with +20 subfolders and countless requests inside and I'm waiting for this feature to be able to move the folder where I want to, so that my team can manage and find the collection easily.

[2022-08-02 12:29] semiherdogan commented on #1817
Hi,
any update on this?

[2022-08-02 12:58] anwarulislam commented on #2453
Thanks for raising the issue. But, unfortunately, there is a technical limitation in remembering the file we've chosen as it is a web application. We can't implement the feature as of now.

[2022-08-02 14:19] khusroohayat commented on #2543
@anwarulislam can i work on this?

[2022-08-02 14:23] anwarulislam commented on #2543
@khusroohayat yeah, sure. you can work on this. Just let us know which command you're defining.

[2022-08-02 15:53] theabhayprajapati commented on #2543
should we update commands for navigation so that it wouldn't cause any confusion in future too?
I mean like for all commands that are used to navigate between pages like _/settings_, _/profile_ should use the same initial commands something like  **h+ s** for going to **settings** and **h+ p** for navigating for **profile** page as one.
In this way, there will be consistency in design.

## Suggest

[2022-08-02 20:43] JulienPerrin commented on #2124
@igor-betin not part of the hoppscotch team, but when I imported my collections from Postman, I had to import the environments séparately.
Maybe you did not import the environments ?

[2022-08-02 20:55] JulienPerrin opened #2554 "[bug] when having a environment variable whith a dash '-' in its name, the variable is not colorized in the url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I have a request with a url like :
`<<url-with-dash>>/tatata`

`<<url-with-dash>>` is not colorized even if the environment variable exists.

This makes it seems like like I mispelled the variable, which is a bit irritating.

### Steps to reproduce

1. create a collection
2. create a req

[2022-08-03 06:15] ravi-sankarp opened #2555 "[feature]: Built a VS code extension for hoppscotch."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I personally think VS code is the most used IDE for web development by both newcomers and other senior developers.So it would be nice to have a VS code extension for testing web API . Currently there is an extension called Thunder Client.But the UI is not so good.So It would be good if Hoppscotch was

[2022-08-03 06:16] liyasthomas commented on #2555
https://github.com/hoppscotch/hoppscotch/issues/313#issuecomment-607557925

[2022-08-03 06:16] #2555 closed

[2022-08-03 09:05] ravi-sankarp commented on #2555
I see that you are not planning on implementing such a feature.It would have been more easier for developers if they are able to sent requests and see the console output in the same application.The reason I opened this is because I felt so.Anyways good luck ahead.Wishing you guys all the best

[2022-08-05 06:33] 987Nabil commented on #2205
@AndrewBastin Any news on this?

[2022-08-05 12:22] anwarulislam commented on #2543
@AndrewBastin I have checked that commands with the `alt` key aren't working in our app currently. What do you think about his suggestions?

[2022-08-08 03:50] ngocthua830 opened #2570 "[bug]: lost team after long time not login"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I was been kick out of my team by no one, after 7 days not use hoppscotch.

### Steps to reproduce

Not use hoppscotch after long time (about 7 days)

### Environment

Production

### Version

Cloud

[2022-08-08 05:20] AndrewBastin commented on #2570
This is not possible generally and I can't triage it with just the given info. Make sure you signed in using the correct auth system again (sometimes, signing in with Google and then signing in with Github later may create separate accounts).

I will still keep this issue open to see if anybody else got the same issue.

[2022-08-08 11:53] #2554 closed

[2022-08-08 12:20] anwarulislam commented on #2570
@AndrewBastin I faced the same issue once when I used hoppscotch team. I think your assumption is right. signing in with a different method creates the problem even if we have the same email connected to Github and Google. If this is the case we can merge the account from the backend.

[2022-08-08 14:34] ngocthua830 commented on #2570
I only lost one of three team I joined, so I think that's not a problem with login method.

[2022-08-09 11:10] DarkCWK opened #2571 "[bug]: Multiple form data with the same name only send the last one"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When using `application/x-www-from-urlencoded` to send form data, if you fill in duplicate key names, only the last key will be sent.

|key|value|
|---|---|
|id|1|
|id|2|

Should be encoded as `id=1&id=2`,
but is actually encoded as `id=2`.

### Steps to reproduce

1. Enter test url
2. Choose

[2022-08-09 23:41] #2456 closed

[2022-08-10 10:27] ravi-sankarp opened #2572 "[feature]: Tabs on top"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Include tabs for easy switching between saved requests.Currently we have to select each saved request from the right sidebar.
If tabs are included on top of the send request section it would be more convenient.

It would help in easy navigation and increase productivity of the users.

### Why should t

[2022-08-10 10:34] AndrewBastin commented on #2572
Closing as this is a duplicate of #690

[2022-08-10 10:34] #2572 closed

[2022-08-10 11:51] #2543 closed

[2022-08-10 12:04] ravi-sankarp commented on #2572
Sorry for the inconvenience.I should have searched existing issues before opening a new one.

[2022-08-10 16:59] mbombonato opened #2574 "[feature]: UI and usability improvements"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

First, thanks for your work on this nice app. My team is migrating from other similar tools and we have a few suggestions to improve our usability:
- Keep a local cached version of Team Collections (sometimes is very slow to load everything)
- Save the last state when close the app (keep the last requ

[2022-08-11 10:56] AndrewBastin commented on #2574
Thank you for your enthusiasm @mbombonato for Hoppscotch! <3

But, please do note that one issue is meant for one issue/feature request/bug etc. Please split this issue off for each of the concerns mentioned.

[2022-08-11 15:09] tzvc opened #2576 "[feature]: Document build request from url params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I figured that building a request from url params is possible (ex. `hoppscotch.io?url=<url>&method=<method>`) but I couldn't find name for other url parameters in the documentation. For ex., what is the param name to say the req. will have a body encoded in `application/json`?

### Why should this be

[2022-08-11 15:14] liyasthomas commented on #2576
Building requests from URL parameters were deprecated. Instead, now you can create shortcodes for any request setup and share them with your team or friends.

Here's the announcement post: https://twitter.com/liyasthomas/status/1462732159274217475
Here's a demo of shortcodes: https://twitter.com/liyasthomas/status/1462732175757828097

[2022-08-11 15:14] #2576 closed

[2022-08-11 15:49] tzvc commented on #2576
Thanks for the prompt reply @liyasthomas
Shortcodes look great, but can they be built programmatically (for ex. to build a hopp.sh link with the user's info prefilled)?

[2022-08-11 18:26] reenphygeorge opened #2577 "[bug]: Can't hit space in the request body input fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I try to add spaces in the 'Parameter' and 'Value' fields of 'Parameters' tab or 'Body' tab, the cursor just disappears and I've to click on it again to enter anything.

https://user-images.githubusercontent.com/79626816/184210481-a2b49136-9c57-4a98-bafe-09a31816fd9d.mp4

### Steps to re

[2022-08-12 05:08] liucent commented on #2203
Hi all, I checked proxyscotch code and I think it may be 'AccessToken' parameter in source code(proxyscotch/libproxy/proxy.go).
But there is no token or accesstoken parameter in .env. So is there any way to specify proxyscotch token on hoppscotch side, in settings page or other config file? Wish hoppscotch readme documents can add how to set proxyscotch token part.

[2022-08-12 07:59] SamroodAli opened #2579 "[bug]: 'Save as' feature not working - No permissions to save a request to an existing one even as an owner"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I cannot save or overwrite a request by using the "save as" feature even as an owner of the project.
or

https://user-images.githubusercontent.com/63902576/184311069-8fc7f4f8-2403-4775-bf17-a6ba3b4dad4d.mov

### Steps to reproduce

1. Create a request
2. Click on the save button
3. Choose you

[2022-08-12 08:23] #2577 closed

[2022-08-12 08:31] #2579 closed

[2022-08-12 14:37] UsiTheStorm opened #2580 "[bug]: Hopscotch Chrome Extension DevTool error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Chrome DevTools permanently gives this error.
`DevTools failed to load source map: Could not load content for chrome-extension://amknoiejhlmhancpahfcfcfhllgkpbld/contentScript.js.map: System error: net::ERR_BLOCKED_BY_CLIENT`
It related to Hopscotch Extension.
When I turn extension off - erro

[2022-08-13 01:01] wwg2017 opened #2581 "As long as the server is running, the CPU is full. Why and how to deploy it"
As long as the server is running, the CPU is full. Why and how to deploy it？？？？？
着急
worry
着急
worry
着急
worry
着急
worry

[2022-08-17 00:46] hiroingk commented on #2172
Are there any updates to this feature? It would be so cool if this feature was added.

[2022-08-17 12:49] dhruvitp-nimblechapps opened #2590 "How to host this on heroku or github pages?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Have hosted this on github pages but it is not working https://nimblechapps.github.io/nimble-postie/

### Steps to reproduce

https://nimblechapps.github.io/nimble-postie/

### Environment

Production

### Version

Self-hosted

[2022-08-18 02:27] liyasthomas commented on #2590
Possibly a duplicate of #1817.

[2022-08-18 02:27] #2590 closed

[2022-08-18 21:46] metehus opened #2594 "[feature]: Send binary file as body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I would like to send a binary file as the body. There are some issues regarding this (#298), but this resolves to send a file using form-data. I would like to send the file as the entire body

### Why should this be worked on?

It is something that can happen, so it should be possible to do. Also, [am

[2022-08-22 04:09] khiemledev commented on #2570
![image](https://user-images.githubusercontent.com/28501389/185837728-52a6434f-2488-4f8f-a34d-01159268c805.png)

I faced the same issue. After a while (about 5 days) not using hoppscotch, all teams that I have joined are gone. Further more, my teammates (still in the team) cannot invite me because I already in that team.

![image](https://user-images.githubusercontent.com/28501389/185837690-494f9f

[2022-08-22 07:40] FirstDev0ps opened #2605 "[bug]: Fatal error with install Local development environment (Deploy with main Branch)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior
**_Deployed with main Branch_**
**_I'm trying run command pnpm -r do-dev, pnpm run generate_**
**_The situation is the same when I try to deploy Releasing version_**

root@hoppscotch:/home/hoppscotch# **pnpm install**
Scope: all 6 workspace projects
Lockfile is up to date, resolution step is s

[2022-08-22 07:42] FirstDev0ps commented on #2605
The situation is the same when I try to deploy Releasing version

[2022-08-22 09:03] AndrewBastin commented on #2605
Can I have your node version ?

[2022-08-22 09:06] FirstDev0ps commented on #2605
node v14.20.0

[2022-08-22 14:44] AndrewBastin commented on #2570
@hoppscotch/backend take a look at this ?

[2022-08-22 14:53] AndrewBastin commented on #2570
@ngocthua830 @khiemledev

We would love to work with you to fix this weird issue.

Can you reach out to me via email on andrew [at] hoppscotch [dot] io ?

[2022-08-22 17:32] #2571 closed

[2022-08-23 05:04] AndrewBastin commented on #2605
Can you update to Node v16 (the current LTS version) and see ?

Also, from the logs you have posted, it seems there is an error code of 137, this usually happens when the Node runtime ran out of memory to allocate to the program. Do you have enough memory to allocate ?

[2022-08-23 06:33] FirstDev0ps commented on #2605
Ok thanks I have already updated the nodе version. What are the requirements for the machine to normal works?

[2022-08-23 06:37] AndrewBastin commented on #2605
Well usually we recommend around 1-3GB of free memory remaining to run the dev server with our current codebase.
That requirement should drastically go down once #2553 gets merged.

[2022-08-23 07:52] FirstDev0ps commented on #2605
Thanks, problem solved.

[2022-08-23 09:38] suyar commented on #1817
Waiting...

[2022-08-23 09:56] #2605 closed

[2022-08-23 12:03] vichle commented on #1817
To anyone just commenting with "watching..." or similar: just hit the 👍 button unless you have anything constructive to add to the discussion. You are triggering useless notifications to everyone who is watching this thread, including myself. PLEASE!

[2022-08-23 12:03] huozhenzhen commented on #1817
有一个不钳充钱就能玩的游戏，http://www.0vslu5.cn ，听说信用很好的，我们去玩两把吧，反正没有风险。<狄/p>

[2022-08-23 12:05] suyar commented on #1817
I'm sorry I didn't realise this, I'll take care of it next time.

[2022-08-23 19:04] anwarulislam opened #2607 "[feature]: ability to inline edit environment variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we hover over the variable we see the value. It would be great if we can show an edit button to edit the value inline or at least prompt the user to edit that specific variable in the current modal implementation.

### Why should this be worked on?

It will be a cool feature that will increase de

[2022-08-23 19:09] anwarulislam opened #2608 "[feature]: prompt for a selected text to set as variable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

If someone selects text we can show a tooltip with a button set as a variable. So, that they can easily set that string/text as the value of a variable.

### Why should this be worked on?

A nice feature to have.

[2022-08-24 09:27] aitchnyu commented on #2452
Looks like this was fixed in [upcoming version](https://github.com/Kong/httpsnippet/commit/bf019b3c891e14c4b8437ed67322252a2c995ac3) of upstream package httpsnippet. @AndrewBastin shall we wait till they release new version?

[2022-08-24 09:51] aitchnyu opened #2609 "[bug]: echo.hoppscotch.io doesn't respond with POST requests with custom headers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Doing a POST https://echo.hoppscotch.io/ with a header of name `A` and value `1` throws a "Could not send request..." instead of showing response.

Doing the same with https://mockbin.com/request works since it returns a header that matches request headers `access-control-allow-headers: a`.

[2022-08-24 10:09] aitchnyu commented on #2542
Few other contexts where better error message will help.

Doing `POST https://mockbin.com` just shows "Could not send request". It should inform the user it was a CORS error.

Console shows:

[code]

Doing `https://fakefakefdasfsafa.com` (non existing site)  just shows "Could not send request". It should inform the user it was a DNS failure.

Console shows:
[code]

[2022-08-24 11:55] AndrewBastin commented on #2452
@aitchnyu yup. we will wait for that update to be live and then close this.

[2022-08-24 13:59] kyteinsky commented on #2475
@AndrewBastin Green flag to work on this one?

[2022-08-24 16:55] thomasbnt opened #2610 "[bug]: Can't migrate my GitHub account with my Google account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I already have the account on Hoppscotch, one with my Google account (my main) and another one with my GitHub account.

I would like to migrate my GitHub account into my Google settings. But can't.

![image](https://user-images.githubusercontent.com/14293805/186477189-ace4df77-7e9e-4fb4-ac38-

[2022-08-25 11:40] aitchnyu commented on #2610
Confirmed that login with Github returns a `Account exists with different credential - Login to link both accounts` every time. We are looking into it.

[2022-08-26 09:11] AndrewBastin commented on #2475
@kyteinsky yeah. sure!

[2022-08-26 20:01] fumblehool commented on #2293
@AndrewBastin Hi, I would love to work on this bug.
If nobody is currently working on this, please assign this to me. 😄

[2022-08-26 20:44] AndrewBastin commented on #2293
@fumblehool sure! Assigning!

[2022-08-30 12:48] tanathap commented on #2610
is this problem fix? or is there a solution that allows me to login immediately?

[2022-08-30 12:55] rofe-dl opened #2625 "[bug]: Reclicking on the request currently selected/in use creates an entirely new unsaved instance of it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I have a request selected and in use, if I click on it again, the green dot goes away from it. Then, if I try to click on any other request or even the same request again, it prompts the save/discard box even though I made no changes to this request.

### Steps to reproduce

1. Select a

[2022-08-30 15:02] liyasthomas commented on #2625
This is an expected behaviour.

[2022-08-30 15:47] rofe-dl commented on #2625
Oh, okay. Is there a reason it's designed like that? Like, usually in programs when I click on an already selected item, it does nothing.

[2022-08-30 22:29] thomasbnt commented on #2610
Still an issue, you can maybe connect with your account.

[2022-08-31 12:23] DarkKnight1992 commented on #2480
that is not a good solution, since this approach requires https://hoppscotch.io to be whitelisted.

[2022-09-02 10:13] subins2000 opened #2629 "[feature]: Select collection in "Save As" if I'm already in it"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

If I'm editing an existing item in collections and click "Save As", the collection that I'm working on is not selected by default. This is a handy feature to have, if I'm creating multiple REST items (create, show, update, destroy) I have to keep selecting the same collection everytime I choose "Save

[2022-09-02 10:37] islamzeki opened #2630 "[bug]: typo: Turk|Turkish"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

https://hoppscotch.io/settings

https://ibb.co/yS6CZP4
Must be: "Türkçe"

### Steps to reproduce

https://hoppscotch.io/settings

### Environment

Production

### Version

Cloud

[2022-09-04 03:14] #2630 closed

[2022-09-05 09:00] rizdaprasetya opened #2632 "[bug]: Unexpected request header modification when using Proxy (Proxyscotch)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

On https://hoppscotch.io/ , using this feature `Use the proxy middleware to send requests`, when I create the following request:
<img width="1098" alt="Screen Shot 2022-09-05 at 15 46 39" src="https://user-images.githubusercontent.com/13027142/188408863-5ae7c075-9f76-4113-8bd5-f4a441898411.pn

[2022-09-05 09:01] AndrewBastin commented on #2629
Keeping this open for a while to poll any counter/alternative opinions.

[2022-09-05 09:02] AndrewBastin commented on #2632
Moving this issue to the Proxyscotch repo.

[2022-09-05 09:07] AndrewBastin commented on #2625
Umm, it is because we wanted to provide a way for the user to detach the editing request in the session from the save location. This is a temporary hacky fix until we implement the tabs system.

See: https://github.com/hoppscotch/hoppscotch/issues/2431#issuecomment-1159400418

Closing as duplicate.

[2022-09-05 09:07] #2625 closed

[2022-09-05 09:08] rizdaprasetya opened #2633 "[bug]: Unexpected request header modification when using browser extension as proxy"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

On https://hoppscotch.io/ , using this feature `Use the browser extension to send requests (if present)`, when I create the following request:
<img width="1098" alt="Screen Shot 2022-09-05 at 15 46 39" src="https://user-images.githubusercontent.com/13027142/188408863-5ae7c075-9f76-4113-8bd5-f

[2022-09-05 09:09] rizdaprasetya commented on #2633
Tried to use proxy as workaround but did not help, Proxy also has its own issue:
- https://github.com/hoppscotch/hoppscotch/issues/2632#issue-1361623565

[2022-09-05 16:26] mateo-m commented on #2455
I still have this issue when creating requests in a Team I created a few months back.
https://user-images.githubusercontent.com/23667794/188489149-b259e887-ebb7-448b-bc17-59e71ba9efd8.mp4

I can't reproduce the issue in a newly-created Team.

[2022-09-06 09:28] #2610 closed

[2022-09-06 13:49] mateo-m commented on #2455
Would you mind re-opening this issue please @nivedin ?

[2022-09-06 13:49] mateo-m commented on #2455
I still have this issue when creating requests in a Team I created a few months back.
[user-images.githubusercontent.com/23667794/188489149-b259e887-ebb7-448b-bc17-59e71ba9efd8.mp4](https://user-images.githubusercontent.com/23667794/188489149-b259e887-ebb7-448b-bc17-59e71ba9efd8.mp4)

I can't reproduce the issue in a newly-created Team.

Would you mind re-opening this issue please @nivedin ?

[2022-09-06 14:51] nivedin commented on #2455
@mateo-m is this happening when saving a request from the 'save as' popup ?

[2022-09-06 15:12] mateo-m commented on #2455
Yes @nivedin, it happens when using the "Save as" popup, but it also happens when clicking the "New request" icon (which opens a popup) and saving said new request.

Strangely enough, it doesn't seem to happen when duplicating an existing request, **and refreshing the website/PWA** makes the _non-existant_ duplicates disappear.

[2022-09-06 19:12] #2455 closed

[2022-09-06 19:13] AndrewBastin commented on #2455
@mateo-m I have implemented an intermittent patch for it, which should hopefully stop this from happening.
Please do confirm and feel free to reopen the issue if this still persists.

[2022-09-07 03:22] darwinsubramaniam opened #2647 "[feature]: console.log in the Pre-Script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

`console.log("HI")`

added console.log into the pre-request script , was expecting it work as it is simple javascript but it returns error

- > ReferenceError: 'console' is not defined

### Steps to reproduce

1. Open https://hoppscotch.io/
2. Open Pre-request Script Tab.
3. Type in console.l

[2022-09-07 09:00] muraterzioglu commented on #2320
I also agree with that request, on Next.js if you want the send request with body content your body must be RAW.

DTO;
[code]

Controller;
[code]

Postman supports that feature, but postwoman don't :)

[2022-09-07 14:23] CHCoffman commented on #2647
I have been working on this but for the post-request test runner where the response body of the request (or whatever else) can be logged to the console. Ex: pw.log(pw.response.body) to see the response's body. My code in test-runner.ts is

[code]

pw-test.json:
`"log" : "fn(value: ?)"`

Looks like console.log from the test runner to browser is blocked via `pure_funcs: ["console.log", "console.debu

[2022-09-07 16:01] AndrewBastin commented on #2647
Umm. We are working on this actually and are working towards implementing this and the other features mentioned in this RFC (#2292). This will take some time, but we are making steady progress which can be tracked over here (#2389)

[2022-09-07 20:42] Elghazal commented on #1875
+1 for this feature

[2022-09-08 11:30] boardtc commented on #1601
I am using the windows app. In environments, I select Import / Export and choose "Import from Hoppscotch" (should this not be Import JSON? ) and select my Postman environment JSON file, which is the format as shown by the OP and contains 48 keys. Hoppscotch reports back that the file is imported and the environment shows in the list under global. However, clicking on it does not expand any keys at

[2022-09-10 04:36] binaryfire commented on #580
Hi. Just wondering if this has changed? It’s been almost 12 months since the closed beta ended and it’s still not available for self-hosted instances

[2022-09-10 09:16] binaryfire opened #2649 "[feature]: Ability to disable "Save my workspace" and "Login""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hello

Companies often have security policies which prohibit devs from connecting to or logging in to external services. Would it be possible to provide a way to disable the "Save my workspace" and "Login" buttons?

Please note that this isn't related to: https://github.com/hoppscotch/hoppscotch/issue

[2022-09-10 23:02] SamJakob opened #2650 "[feature]: set user agent if not specified (add setting)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ideally, an option to set the user agent string (if one wasn't specified in 'Headers') to some default value for Hoppscotch could be added (and this functionality could be toggled with a setting in Hoppscotch with it being **on** by default).

### Why should this be worked on?

This would be useful as

[2022-09-10 23:02] SamJakob commented on #2650
I've been looking at implementing this from the proxy side, but rather than double-implementing it on the proxy, this could probably just be made a feature of Hoppscotch directly as it benefits all users rather than just those of the proxy.

(See also: https://github.com/hoppscotch/proxyscotch/issues/46)

[2022-09-11 03:09] kayinleong opened #2651 "[feature]: Show raw body request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Functionality to show raw body request after the request is sent.

### Why should this be worked on?

This will be very helpful in debugging APIs, especially in multipart form.

[2022-09-13 19:59] apocalipsys commented on #2335
same error here

[2022-09-13 19:59] jotadepicas commented on #2335
+1
Same happens in ubuntu +  chrome and other combinations.

[2022-09-14 15:22] aitchnyu opened #2663 "[bug]: Custom headers cause silent failures with echo.hoppscotch.io"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I made a GET request to echo.hoppscotch.io with a custom header and got `Could not send request`. The console shows:

![Screenshot from 2022-09-14 20-25-48](https://user-images.githubusercontent.com/5927706/190189819-2ba3170e-c733-435f-a876-5c351d7b1649.png)

[code]

Making a GET request to h

[2022-09-14 22:23] kyteinsky commented on #2475
@AndrewBastin

For team collections, where can I add the body for new mutations, declarations were in `helpers/backend/gql/mutations`?
Running a mutation for every request is not ideal :)

[2022-09-15 07:20] aaronz-vipaso opened #2665 "[bug]: Env variable with dash in its name doesn't work in JSON body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I use an env variable with a **dash in its name** in a JSON body, the variable does not become substituted with the actual value. Even though the variable is correctly highlighted green.
![2022-09-15_09-08](https://user-images.githubusercontent.com/104493365/190339042-d7c79a60-cca1-48e2-

[2022-09-15 13:02] liyasthomas commented on #2665
@anwarulislam can you take a look into this behaviour?

[2022-09-15 13:03] anwarulislam commented on #2665
Yeah, looking into it

[2022-09-16 07:04] devanghingu commented on #2393
i waiting for this feature :hand:

[2022-09-17 11:10] rivermanbw opened #2667 "[feature]: German language update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Replace remaining English passges in /hoppscotch-app/locales/de.json with German translation
- Unify usage of more personal "Du" instead of mixture of formal "Sie" and "Du" (in english, both is you)

### Why should this be worked on?

Consistent usage of German language

[2022-09-17 11:12] wisinfun commented on #2594
This feature is very needed

[2022-09-20 09:43] jeefs opened #2680 "[bug]: delete request in the collection is invalid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The prompt delete was successful, but it actually exists

### Steps to reproduce

1. click collection button
2. Prompts for deletion
3. click "ok"
4.Check the request and find that it has not been deleted

### Environment

Release

### Version

Local

[2022-09-20 13:22] nezam05 opened #2681 "[feature]: Keyboard shortcut for "Save" & "Don't Save""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When navigating to a different saved request, if existing request is modified, a popup appears asking to Save or Don't Save the changed request. two keyboard shortcut attached to Save and Don't save button would help reduce mouse usage.

### Why should this be worked on?

Since its an webapp, mouse us

[2022-09-22 08:46] GwendalBroudin-Emoko commented on #2020
Hi is there any documentation about this feature? I can't find how to achieve it.

[2022-09-23 15:24] vaugenwake opened #2682 "[feature]: Add key binding to toggle preview on response"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It is quite common during development cycles to want to print some text to the browser for debugging purpose. When this response comes through to hoppscotch currently it renders all the HTML of the page as raw text, there is a button to preview this HTML however currently you have to take your hands o

[2022-09-25 06:22] mojerro commented on #1875
I think this feature is connected with  #1598. If we have the mock ability, then this feature is very convenient and can be a part of mock feature

[2022-09-27 04:08] anantgupta129 opened #2693 "[feature]: Export Collection in Postman v2.1 format"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently if we export any collection it is exported in v1 format only which is now not compatible with postman. If will be good to have export collections ax v2.1 also which will allow easily sharing

### Why should this be worked on?

v2.1 format is used widely

[2022-09-29 07:39] c3stream opened #2704 "[bug]: Docker Hoppscotch v3.0.0 do not start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

## Operation
[code]

## Result ( https://labs.play-with-docker.com )
[code]

### Steps to reproduce

1. https://labs.play-with-docker.com
2. docker run --rm --name hoppscotch -p 3000:3000 hoppscotch/hoppscotch:latest
3.  Result
[code]

### Environment

Release

### Version

Local

[2022-09-29 07:51] liyasthomas commented on #2704
Looking into this.

[2022-09-29 09:23] #2704 closed

[2022-09-29 10:21] sujin-lifology commented on #2693
I would like to work on this feature, who is assigning the tasks?

[2022-09-29 17:23] liyasthomas commented on #2682
#2705 supersedes this PR, hence closing.

[2022-09-29 18:02] RenanDore commented on #1741
Hey devs, anyone have updates to this issue? Thanks!

[2022-09-29 21:27] vaugenwake commented on #2682
@liyasthomas nice thanks 🤟

[2022-09-30 08:14] promarcel commented on #2704
It seems like there is still a problem here. The container starts, but port 3000 cannot be connected to. Its opened (inspect by netstat) but without any service connection (ERR_CONNECTION_RESET).

I have used the following command:
[code]

The old version works, with no problems:
[code]

[2022-09-30 12:14] islamzeki opened #2707 "[bug]: Syntax Error L7"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

https://ibb.co/W2KPrXf

### Steps to reproduce

Go Mainpage

### Environment

Production

### Version

Cloud

[2022-09-30 13:14] liyasthomas commented on #2707
Looking into this.

[2022-09-30 13:37] #2707 closed

[2022-09-30 14:02] #2682 closed

[2022-09-30 18:06] stratosgear commented on #2259
Just wanted to add that conceptually, since all API calls in a collection refer to a single API server (otherwise they would not be in that collection) the Authorization method should be common to all of them. No need to duplicate it in all API calls of the collection.

This is one of the most critical missing features that prevents us from adoption of Hoppscotch... :)

[2022-09-30 19:16] sam-lucas opened #2713 "[bug]: Profile/teams settings unreachable"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Can no longer access profile/team settings from the settings page, as [documented here](https://docs.hoppscotch.io/features/collaboration), and can't fine a link anywhere else. The keyboard shortcut to open the profile page is not working for me, checked on both Chrome and Firefox. I can stil

[2022-09-30 20:58] piraces commented on #2524
Hi! I can work on this. I have been analizyng the actual docker image and it can be built for other platforms, will try modifying the action in my fork and then open the PR 👍

[2022-10-01 05:32] SerpentBytes commented on #2713
I would like to work on this issue. Could one of the maintainers assign it to me? Thank you.

[2022-10-01 06:56] liyasthomas commented on #2713
Team section has been moved from [Settings page](https://hoppscotch.io/settings) to its dedicated Tab under [Profile page](url). I'll update the documentation to reflect this changes, hence closing this issue.

[2022-10-01 06:56] #2713 closed

[2022-10-01 14:09] liudonghua123 opened #2717 "[bug]: windows build failed."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I tried to run `pnpm run generate` on windows 11, use node 18.4.0, npm 8.5.1, pnpm 7.12.2, however, I got `[vite-plugin-pwa] Could not load /@vite-plugin-pages/generated-pages?id=virtual:generated-pages  │ error during build` errors.

[code]

### Steps to reproduce

1. git clone git@github.co

[2022-10-01 14:48] iDschepe commented on #1601
I was searching for a tool to convert postman exported environment zip file to a hoppscotch importable json file.
Unfortunately, I couldn't find, so I decided to share my results:

https://github.com/iDschepe/hoppscotch-transformer

Feel free to contribute or give any feedback!

[2022-10-01 14:53] alinpisica opened #2718 "[feature]: Romanian language update"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- There are [Romanian translations](https://github.com/hoppscotch/hoppscotch/blob/main/packages/hoppscotch-app/locales/ro.json) that are not / have not been updated.
- There are Romanian translations that are missing diacritics (e.g. "Curata tot" should be "Curăță tot").

### Why should this be worked

[2022-10-01 15:01] liyasthomas commented on #2718
If you'd like to write translations for Romanian language, kindly [consider helping us to improve translations](https://github.com/hoppscotch/hoppscotch/blob/main/TRANSLATIONS.md).

Since this is not a critical issue, I'm closing this issue ticket.

[2022-10-01 15:01] #2718 closed

[2022-10-01 15:32] #2667 closed

[2022-10-01 15:43] #2524 closed

[2022-10-01 16:06] piraces commented on #2717
Can confirm the problem in a Windows environment with the following versions:
[code]

Error when running `pnpm run generate`:
[code]

[2022-10-01 16:22] piraces commented on #2717
Probably related: https://github.com/jbaubree/vite-plugin-pages-sitemap/issues/154

[2022-10-01 16:36] piraces commented on #2192
Now available for ARM64 and ARMv7: https://hub.docker.com/r/hoppscotch/hoppscotch/tags?page=1&name=latest
Feature added in PR #2719, closing the issue #2524.

I think this issue can be closed.

[2022-10-02 00:46] #2192 closed

[2022-10-02 05:37] liyasthomas commented on #2248
- [Privacy policy](https://docs.hoppscotch.io/privacy) for hoppscotch.io
- [Privacy policy](https://github.com/hoppscotch/proxyscotch/wiki/Privacy-policy) for proxy.hoppscotch.io

[2022-10-02 05:37] #2248 closed

[2022-10-02 05:43] liyasthomas commented on #1740
We've [Hoppscotch CLI <sub>ALPHA</sub>](https://github.com/hoppscotch/hoppscotch/tree/main/packages/hoppscotch-cli)

[2022-10-02 05:43] #1740 closed

[2022-10-02 05:50] #2173 closed

[2022-10-02 05:50] #2181 closed

[2022-10-02 05:52] #2680 closed

[2022-10-02 05:55] #2206 closed

[2022-10-02 08:29] imskr commented on #1376
Can I work on this?

[2022-10-02 10:57] liyasthomas commented on #2542
When using an environment variable where no environment is selected; will gives you a red background color on it. The same happens when the selected environment doesn’t have a the specified variables.

[2022-10-02 10:57] #2542 closed

[2022-10-02 12:02] liyasthomas commented on #1376
Hi @imskr, feel free to pick up this feature. Do let us know if you need any help.

[2022-10-02 14:45] UltraWelfare commented on #2335
I tested this with a flask rest server:

As long as it's a temporary redirect (302, 303 or 307) nothing get cached, so the requests are being done in the correct flow.

Upon issuing a permanent redirection, the browser caches the request (for an infinite amount of time?) if any `Cache-Control` headers are missing therefore changing the flow of the requests being done. But, in the server-side of th

[2022-10-02 23:10] Anuran12 commented on #2681
Hey @nezam05 I would like to work on this. Can you please give me some more details. Like after which button press the popup will appear etc.

[2022-10-03 03:33] liyasthomas commented on #2681
Hi @nezam05,
Fyi, whenever the "Save request" modal opens up, you can `Dismiss` the modal by pressing escape key [ <kbd>ESC</kbd> ] and confirm `Save` by pressing return key [ <kbd>⏎</kbd> ].

Hi @Anuran12,
We appreciate your interest in contributing to Hoppscotch. Since this feature already exists in the app, you may pick any other issue that suits your interest. Thank you.

Feature exists, hence

[2022-10-03 03:33] #2681 closed

[2022-10-03 07:55] AndrewBastin commented on #2717
Sorry for the delay with the response.

This is a known issue if you are migrating the codebase from Nuxt to Vue 3 (basically pulling code from before 8b300fab5d8a7fa3dd5a73e5e44d71018d0defec to after it).

To fix this issue, just update your `.env` file to be comply with the updated `.env.example` file.

[2022-10-03 07:55] #2717 closed

[2022-10-03 09:24] #2665 closed

[2022-10-03 09:33] liyasthomas commented on #2452
Closed by mistake, reopening.

[2022-10-03 10:57] anantgupta129 commented on #2693
dont know, maybe you can clone and do it then send a merge request to the main repo

[2022-10-03 13:12] Dhravya opened #2733 "[feature]: Add hindi language locale"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There is no hindi language (`hi`) language support in https://github.com/hoppscotch/hoppscotch/tree/main/packages/hoppscotch-app/locales

### Why should this be worked on?

It would be good to support more international languages. Hindi is one of the biggest languages spoken in India.

I would love to

[2022-10-03 13:22] liyasthomas commented on #2693
Hi @sujin-lifology, feel free to pick up this issue. Do let us know if you have any doubts.

[2022-10-03 13:29] liyasthomas commented on #2733
Appreciate your interest in contributing to Hoppscotch project ❤️

Kindly open a PR for your desired translation language, and we'll consider adding it to the locales.

Since this isn't a critical feature, I'm closing this issue.

[2022-10-03 13:29] #2733 closed, assigned to nobody

[2022-10-04 02:25] fletchowns commented on #2704
Any chance we can get a v3.0.1 that includes this fix?

[2022-10-04 06:49] yashrs-zomato opened #2736 "[bug]: 'Cannot GET /' error on latest docker image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I run the latest docker image, I am unable to open the UI, I get an error: `Cannot GET /`

### Steps to reproduce

1. Run `docker run --rm --name hoppscotch -p 3000:3000 hoppscotch/hoppscotch:latest`
2. Open localhost:3000 in the browser.
3. You will get this error:

<img width="394" alt

[2022-10-04 08:15] #2736 closed

[2022-10-05 03:24] phallabot opened #2737 "[feature]: Export collection as URL public"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

can export collection as url public download so we can past url to download in server or automate testing

### Why should this be worked on?

It will be easy for automate testing if it can export collection as url public download so we can automate download it everyday to check new change

[2022-10-05 03:43] liyasthomas commented on #2737
Scope of this feature should comes under #680, hence closing this one. Kindly track progress of public account data, collections and workspaces on #680.

[2022-10-05 03:43] #2737 closed

[2022-10-05 11:04] Pranav-yadav opened #2738 "[bug]: UI: Real-time Log Entries `<div>`'s height decreases as the # of logs logged increases"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When the # of logs logged under realtime tab increases the height of the Log Entries container `div` **decreases**<sup>1</sup> in **Vertical Layout**, and becomes **Invisible** after sometime as the height becomes near 0.
Though, one can see all of the logs just by changing the **Layout** to

[2022-10-05 15:17] Pranav-yadav opened #2740 "[bug]: UI: Cookie Notice Toast is rendered multiple times when toggling Zen Mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When you visit the webapp for the first time the **Cookie Notice Toast** is shown. Which is good :) but, at the same time if the user toggles the **Zen Mode** *at least twice*, the same toast is rendered multiple times. See the attached ss:

Obviously if the user dismisses the notice (toast),

[2022-10-05 15:54] #2740 closed

[2022-10-05 16:11] Pranav-yadav commented on #2740
@liyasthomas whoaa that was quick.. _hotfix_ mode ON haha.
PS: I was hoping to fix it as part of Hacktoberfest once confirmed :) I understand the priority in prod.... No worries.

PPS: Let me know if any less priority bug need to be fixed.. #hacktoberfest

[2022-10-05 17:53] Pranav-yadav opened #2741 "[bug]: Identical (Non-Unique) collection names are allowed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When you create a new collection in under the API tabs (REST/GraphQL/Realtime), app's current logic **doesn't** checks if the same collection already exists.
As devs/testers/humans usually tend to use the similar names often, which could cause lot of confusions later, when they need to find t

[2022-10-06 03:58] devblin opened #2743 "[bug]: search functionality in REST and GraphQL history tab are broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I input characters such as `* ( ) ?` (there might be more such characters), the history tab contents disappears (in REST and GraphQL). This happens when history is NOT empty.
![image](https://user-images.githubusercontent.com/55559527/194210346-ca892143-34dc-4601-bf3a-1d380c991008.png)

[2022-10-06 10:26] jerbob92 opened #2745 "[bug]: unable to go to profile page when registering through email"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When logging in through email, you can't go to the profile page because the `ProfilePicture` component can't be rendered.

### Steps to reproduce

1. Login in through email
2. The `ProfilePicture` won't be rendered because there is no `photoURL` and no `displayName`

### Environment

Producti

[2022-10-06 10:34] AndrewBastin commented on #2745
@jerbob92 is this causing issues in `hoppscotch.io`/built instances or on dev server only ? I wasn't able to catch it from my end, but we did see this issue popup in our telemetry.

#2742 should fix this.

[2022-10-06 10:48] jerbob92 commented on #2745
@AndrewBastin Wouldn't it be better to use the email as display name? Not `Hoppscotch User`?

[2022-10-06 12:26] #2745 closed

[2022-10-07 17:31] #2743 closed

[2022-10-07 17:51] #2429 closed

[2022-10-07 17:51] #2219 closed

[2022-10-07 19:41] bfgod-rocketplays opened #2751 "[bug]: Unnecessary confirmation to discard current request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

If I click on a request in team collection green dot appears next to it.
If I click again - the green dot disappears.
If I click again on the same or other request - Confirmation is shown asking do I want to Save or not despite I did not done any changes at all. I can't move to another reques

[2022-10-07 20:00] rakeshkr22 commented on #2206
@liyasthomas @Gautam-Arora24 Still the issue persists.

<img width="358" alt="image" src="https://user-images.githubusercontent.com/10681753/194643617-00f845cb-f348-42da-8b03-a50f07f0893a.png">

[2022-10-07 23:35] mnosov622 commented on #2751
Hello @bfgod-rocketplays !

Can you assign this issue to me, please ? I'm willing to work on it :)

[2022-10-07 23:37] mnosov622 commented on #2738
Hello @Pranav-yadav !

Can you assign this issue to me, please? I would love to fix this bug :)

[2022-10-07 23:44] mnosov622 commented on #2649
Hello @binaryfire !

I would love to work on this feature. Could you provide more details, please ? In what situation buttons should be disabled ?

Thank you.

[2022-10-08 02:08] liyasthomas commented on #2649
Closing this issue since this is not in our current scope and roadmap.

[2022-10-08 02:08] #2649 closed

[2022-10-08 02:09] liyasthomas commented on #2738
Hi @mnosov622, feel free to pick up this issue, assigning it to you.

[2022-10-08 02:33] mnosov622 commented on #2738
Thank you @liyasthomas :)

[2022-10-08 13:28] AlexHRodrii commented on #2741
Can I work on this issue?

Thanks in advance

[2022-10-09 09:01] AlexHRodrii commented on #2608
Can I work on that?

[2022-10-09 10:41] liyasthomas commented on #2608
Hi @AlexHRodrii, feel free to pick up this feature request. Assigning this to you.

[2022-10-09 10:49] Tineshnehete commented on #2633
Hi I looked into this

[2022-10-09 12:19] AbderrahmaneGuermat commented on #2261
I'll do something like that

[2022-10-09 14:11] Tineshnehete commented on #2633
Note : This issue is related to hoppscotch-extension
And the issue is opend at https://github.com/hoppscotch/hoppscotch-extension/issues/166

[2022-10-09 16:50] ty-kerr commented on #2629
can you assign me this issue? would like to try and handle this feature. Thanks

[2022-10-09 20:28] bfgod-rocketplays commented on #2751
@mnosov622 would love to, but I think it's up to @liyasthomas

[2022-10-09 23:58] fehbari opened #2758 "[bug]: PWA starts to a 404 page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When starting the PWA, a 404 page is presented by default. User has to manually click an option on the side menu to show a proper screen.

<img width="1303" alt="pwa" src="https://user-images.githubusercontent.com/3378355/194785203-c3a8e74e-6c5b-4e1a-a29b-3f5089fb6a12.png">

The same doesn't

[2022-10-10 00:17] fehbari commented on #2751
Would like to confirm I'm having the same issue. It can be quite frustrating. I have to keep dismissing the dialog just navigating normally between requests.

[2022-10-10 07:53] nickwph opened #2769 "[bug]: team environment importing function is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

in "team environment" setting, when i am trying to import a json-based (exported from hoppscotch). it shows import successfully. however the environments are not showing up. no errors are shown in the developer console.

### Steps to reproduce

Go to "Rest"
Go to "Environments"
Select  "Teams

[2022-10-10 08:53] liyasthomas commented on #2769
@nivedin, can you look into this.

[2022-10-10 09:21] #2758 closed

[2022-10-10 14:45] #2769 closed

[2022-10-10 20:38] AndrewBastin commented on #2751
@mnosov622 @bfgod-rocketplays

This issue is a duplicate of #2431. Please follow the comment there for clarifications.

[2022-10-10 20:38] #2751 closed

[2022-10-10 20:40] AndrewBastin commented on #2629
@ty-kerr sorry for the delays. But yeah sure!

[2022-10-10 20:58] jared-duo opened #2771 "[bug]: Global environment is gone from UI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The Global environment still exists (with its contained variables) but no longer appears in the UI.  This appears to happen on `main` but not `v3.0.1`.  I haven't bisected the commits between those though.
## Main
<img width="362" alt="main" src="https://user-images.githubusercontent.com/4464

[2022-10-10 22:07] anwarulislam opened #2773 "[bug]: can't disconnect on realtime while it's loading"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Can't disconnect the connection that contains a wrong URL without refreshing while on any real-time page. eg: Web Socket

### Steps to reproduce

1. Go to any pages in realtime. eg: Web Socket
2. Put a wrong URL so that it doesn't connect
3. Click on connect button
4. It keeps loading and can

[2022-10-11 05:05] #2771 closed

[2022-10-11 05:13] liyasthomas commented on #2741
Restricting users from creating collections with the same name is not a feature addition.

Since our current users might've created collections with similar names before, introducing this restriction for new users will be an anti-pattern. For those who think having duplicated collection names is an issue, they can always rename the duplicated collections to something unique. And for those who'd li

[2022-10-11 05:13] #2741 closed

[2022-10-11 12:38] whinc commented on #1714
add this line

[2022-10-11 18:39] Akshay448 opened #2776 "Local env not working"
I am trying to develop hoppscotch in my local , i am using docker-compose
The issue is that docker-compose.yml file has this command **_ command: "pnpm run dev"_**

The dockerfile is successfully build and container runs fine, but when i go to localhost:3000, the error is
<img width="789" alt="Screenshot 2022-10-12 at 12 06 36 AM" src="https://user-images.githubusercontent.com/30473155/195172429-7

[2022-10-12 02:37] mnosov622 commented on #2738
Hi @liyasthomas !

When I'm setting the project and trying to open it, I get white screen, do you know why it might happen ?
![image](https://user-images.githubusercontent.com/73063742/195236479-14c7dbdb-fbd5-4f87-b934-9cd776130021.png)

[2022-10-12 14:16] aitchnyu commented on #2242
@liyasthomas Seems `.toHaveProperty` is not implemented in codebase and confirmed by @AndrewBastin . There are defunct tests in `postwomanTesting.sample` and there is [a section](https://docs.hoppscotch.io/quickstart/tests#tohavepropertyattribute) about this in docs. Seems we should delete that section from docs to reflect existing scripting api and plan imlementing `.toHaveProperty` ins the (sand

[2022-10-13 04:17] liyasthomas commented on #2738
Hi @mnosov622, have you followed the [local development environment](../#local-development-environment) setup guide as described in our [README](../#developing)?

[2022-10-13 12:03] #2773 closed

[2022-10-13 20:46] mnosov622 commented on #2738
Hi @liyasthomas !

I did, but I will do it one more time. Thank you!

[2022-10-14 04:08] kromate commented on #2651
Hi, I would like to work on this.
Can this be assigned to me

[2022-10-14 04:10] anwarulislam commented on #2651
Hi @kromate!
Yeah, sure. I'm assigning you on this.

[2022-10-14 04:31] mnosov622 commented on #2738
Hi @liyasthomas !

When setting up the project, I have this issue when running `pnpm install`.

![image](https://user-images.githubusercontent.com/73063742/195762899-0b08e066-8914-43ac-92b4-70633a49226b.png)
![image](https://user-images.githubusercontent.com/73063742/195762935-71e67f29-7603-43bf-93b5-84b3c71ad297.png)

What might be an issue ?

[2022-10-14 05:58] shreeraj4595 commented on #2776
The issue is still there, I am using the latest commit which was pulled today and I am facing exactly the same issue.

[2022-10-14 09:59] wwg2017 opened #2783 "无法执行预请求脚本啊 总是报错"
无法执行预请求脚本啊 总是报错
![image](https://user-images.githubusercontent.com/27998578/195819806-c18f9dd4-8831-48f3-91f1-e94dc688abfb.png)

[2022-10-14 10:47] liyasthomas commented on #2783
Please choose any of the provided [issue templates](https://github.com/hoppscotch/hoppscotch/issues/new/choose) to report bugs, feature requests etc with detailed description and steps to reproduce.

[2022-10-14 10:47] #2783 closed

[2022-10-14 10:59] wwg2017 commented on #2783
就https://hoppscotch.io/ 这个站点，，随便输入一个js脚本    console.log("str→"); 然后点击发送

[2022-10-14 11:08] liyasthomas commented on #2783
Pre-request scripts doesn't support `console.log()` at the moment. We're working towards an improved scripting sandbox API via [Scripting revamp RFC](https://github.com/hoppscotch/hoppscotch/discussions/2292). Kindly share your thoughts on that discussion.

For more details on supported pre-request script API, [refer documentation](https://docs.hoppscotch.io/features/pre-request-script).

[2022-10-14 11:09] wwg2017 commented on #2783
ok,多谢，还有一个问题就是，，如果文件夹下面的请求多了情况下，打开文件夹会很慢很卡

[2022-10-14 11:21] kromate commented on #2651
Hi @youknowwhoiamky for your feature request, can you explain better because it seem to me that showing raw body request is available already

[2022-10-14 11:23] wwg2017 commented on #2783
CryptoJS.MD5(str).toString();  这个函数支持吗

[2022-10-15 03:19] jxwdsb opened #2785 "[bug]: Websocket cannot be linked using a custom port"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Websocket cannot be linked using a custom port
ws://121.40.165.18:8800
show Some errors have occurred

I hope it can use the websocket of the custom port

### Steps to reproduce

click WebSocket
enter ws://121.40.165.18:8800
click connect
show Some errors have occurred

### Environment

Relea

[2022-10-15 03:25] #2785 closed

[2022-10-15 04:28] #2738 closed

[2022-10-15 08:49] yashram96 opened #2787 "[bug]: Failed to load schema for "src/helpers/backend/backend-schema.json""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When i ran pnpm install
i got below errors

packages/hoppscotch-app postinstall$ pnpm run gql-codegen
│ > hoppscotch-app@3.0.1 gql-codegen /home/yashram/apiclient/hoppscotch/packages/hoppscotch-app
│ > graphql-codegen --require dotenv/config --config gql-codegen.yml
│ [STARTED] Parse Configur

[2022-10-15 09:04] AndrewBastin commented on #2787
Copy `.env.example` in `packages/hoppscotch-app` and paste and rename it as `.env`

@liyasthomas update README ?

[2022-10-15 09:44] #2787 closed

[2022-10-15 14:06] youknowwhoiamky commented on #2651
Hi @kromate, for the raw body request, which will be show after the request is sent. I didn't find this feature in Hoppscotch.

Example:
![StructureOfAHTTPResponse-660x374](https://user-images.githubusercontent.com/34983642/195990799-0c3f119e-37c6-45f8-991f-139e2b3b2a4c.png)

[2022-10-16 01:05] TheHollidayInn commented on #2607
Has this already been implemented now?
<img width="518" alt="Screen Shot 2022-10-15 at 7 04 37 PM" src="https://user-images.githubusercontent.com/1253400/196013121-2cc49b7a-1d49-46a3-a91d-b2958e27070e.png">

[2022-10-16 01:23] biondizzle commented on #2203
@liucent
If you're selfhosting, the easiest way I found was to add
`accessToken` the payload object in `packages/hoppscotch-app/src/helpers/strategies/AxiosStrategy.ts` here:

https://github.com/hoppscotch/hoppscotch/blob/6e7d28db7b8f9ce3fe5735bcb59e2c32195111c0/packages/hoppscotch-app/src/helpers/strategies/AxiosStrategy.ts#L31

so it will look like this:
`let payload: ProxyPayloadType = {
    ..

[2022-10-17 01:56] anwarulislam commented on #2607
@TheHollidayInn no it's not implemented. If you're interested to work on this feature you can take it.

[2022-10-17 08:49] kirstyannepollock opened #2804 "[bug]: Team Collections vanished"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

At 10:35 today I used queries from my Team Collections.
One minute later, they were not there, the Collections were empty.
My teammates did not delete them.
Team is still there.
Team Environments are still there.
History is also there and the queries work.
I logged out and in again, but the s

[2022-10-17 09:06] kirstyannepollock commented on #2804
Ok, even stranger, the Team Collections appeared in the list when saving a query, and after saving a query to a Team Collection, the Team Collections were once more visible in the list.

[2022-10-19 09:20] AndrewBastin commented on #2804
Hi @kirstyannepollock!

Sorry about the issues you are facing, we will look into this incident and will try to resolve this issue.

We will need some additional info to help us track this down though, can you email me at 'andrew [at] hoppscotch [dot] io'.

[2022-10-19 11:02] kirstyannepollock commented on #2804
Hi Andrew,The issue with the collections not being listed seemed to be a one off- fixed as soon as I saved a query to a collection (which I could still do)More annoying is we found I could not import the collections after a team mate exported them -should I raise a separate issue for that?On 19 Oct 2022 11:20, Andrew Bastin ***@***.***> wrote:
Hi @kirstyannepollock!
Sorry about the issues you are

[2022-10-19 18:45] AndrewBastin commented on #2804
@kirstyannepollock you can close this issue then, we are tracking intermittent issues like this internally separately.

But if that import issue is consistent, please do feel free to open a new issue.

[2022-10-19 18:45] #2804 closed

[2022-10-19 20:19] lslavuj commented on #2205
Any news?

[2022-10-20 00:24] denes16 commented on #2013
Any news on this?

[2022-10-20 14:19] kr-tukimi commented on #2220
Very excited for this feature! Any update?

[2022-10-21 13:35] Sand33pSrinivasan commented on #2068
@liyasthomas Is the collection feature available for self-hosted hopscotch instances?

[2022-10-21 13:36] Sand33pSrinivasan opened #2807 "[feature]: Is the collection feature available for self-hosted hopscotch instances?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

@liyasthomas Is the collection feature available for self-hosted hopscotch instances?

### Why should this be worked on?

Is the collection feature available for self-hosted hopscotch instances?

[2022-10-21 13:46] Sand33pSrinivasan opened #2808 "[feature]: Team collections is not available in self hosted hoppscotch"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I tried to self host hoppscotch but the team collection is not working. @liyasthomas Please help on the same .

@AndrewBastin Can you please help me if this available for the same.

<img width="512" alt="image" src="https://user-images.githubusercontent.com/95906762/197210553-62f89291-43e6-4a73-913e-b

[2022-10-21 14:58] AndrewBastin commented on #2807
This is not a valid issue, questions like these should be opened as Discussions please.

And as for your answer, at the moment, personal collections work on self hosted, teams features do not. We are working on porting it though and hope to release it early next year.

[2022-10-21 14:58] #2807 closed

[2022-10-21 15:42] #2808 closed

[2022-10-21 16:18] oliverzy opened #2809 "[bug]: Socket.io Tab cannot receive any incomming message except connected/disconnected"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The Socket.io Tab cannot log any incoming message except connected/disconnected.

After looking into the source code, I found the bug is at line 83, SIOCOnnection.ts.

I can see for V2, we have used `socketio-wildcard` package.

But for V3/V4, The wildcard mode is also not supported, instead,

[2022-10-21 23:43] AndrewBastin commented on #2809
@anwarulislam

[2022-10-22 03:45] oliverzy commented on #2809
I'm sorry it seems we have use `socketio-wildcard` to handle V2 case. Therefore, we only need a fix for V3/V4 by using `onAny` method

[2022-10-22 07:01] #2809 closed

[2022-10-22 14:01] AndrewBastin commented on #2220
We are testing the implementation internally for Teams to support reorders, once that is done, we will be implementing be including this in #2406.

[2022-10-22 14:02] AndrewBastin commented on #2013
Team Collections on GraphQL is currently deferred as a low priority and won't most probably happen until next year.

We will be updating this thread once we are ready to work on this.

[2022-10-22 14:05] AndrewBastin commented on #2205
Please discuss about this in the RFC discussion #2292 for the scripting API revamp.

We are working on a scripting API revamp to support for more complex use cases.

[2022-10-22 14:05] #2205 closed

[2022-10-22 14:11] AndrewBastin commented on #2651
Oh interesting, I am curious, why you require this feature to exist, the whole idea behind a tool like Hoppscotch is to parse and present this sort of information to use in a more clean manner.

[2022-10-22 14:14] AndrewBastin commented on #2242
@liyasthomas reminder to update the docs.

[2022-10-22 23:32] lockieluke opened #2812 "[feature]: Delete account"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It's currently impossible to delete an account on Hoppscotch, it should be added to the profile section.

### Why should this be worked on?

Making it possible to remove duplicated accounts

[2022-10-23 05:03] youknowwhoiamky commented on #2651
I was playing around in Hoppscotch and comparing Hoppscotch with other software like Postman, Hoppscotch do not have an interface to show what is the raw request body after the request is sent. This is one of the examples show in Postman.

![image](https://user-images.githubusercontent.com/34983642/197374719-36db82da-d71b-4bdc-aae4-f89191e38190.png)

It's not really a must feature but it will be b

[2022-10-23 16:48] franciscoemanuel commented on #2607
@anwarulislam Working on a PR for this and planning to submit it today.

[2022-10-24 07:02] wwg2017 opened #2821 "为什么页面的文字没法复制"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

为什么页面的文字没法复制

### Why should this be worked on?

为什么页面的文字没法复制

[2022-10-25 13:24] CodexLink opened #2823 "[bug]: Overflowed fields doesn't wrap and pushes the UI elements away"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I do type more than what the fields can cover, the fields overflow, however, the overflowed fields keeps displaying previous words thus pushing away some of the elements of the browser away.

What I expect is to not make these fields not push away the UI and should the fields respect the

[2022-10-26 09:24] linpan commented on #92
hope can search body keywords

[2022-10-27 00:30] MatheusGrilo opened #2828 "[bug]: GET Request not using Content-Type application/json Header"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current behavior

My JSON on Body do not send when I use GET method (with and without Header modification):
![image](https://user-images.githubusercontent.com/7491570/198163433-49bd2487-1c1b-46ae-8be8-1cdcdc3e354b.png)
![image](https://user-images.githubusercontent.com/7491570/198162743-e2b4c215-8771-4d96-a32a

[2022-10-27 02:42] #2823 closed

[2022-10-27 06:43] liudonghua123 opened #2829 "[bug]: query parameters are escaped implicitly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I send a `Get` request with the following parameters(in bulk edit).

[code]

The actual request sent is `url?token=token_part1+token_part2&attrs=password%253Dabc` which is wrong for my server.

If I send the same `Get` request using postman, the actual request sent is `url?token=token_pa

[2022-10-27 19:38] AndrewBastin commented on #2829
Since the current implementation is correct according to the spec, we are prioritizing this as a low priority issue.

PR contributions for implementing the toggle for considering both ways are welcome in the meantime :)

[2022-10-27 20:41] AndrewBastin opened #2831 "[feature]: disable syncs when hosted locally"
### Discussed in https://github.com/hoppscotch/hoppscotch/discussions/2822

<div type='discussions-op-text'>

<sup>Originally posted by **davew94** October 24, 2022</sup>
Hi,

In my organisation we only want members of staff to sync with hoppscotch using one method (microsoft). Is it possible to disable syncs (github/google) if hoppscoth is hosted within our company network?</div>

[2022-10-28 03:25] Dagwbl opened #2832 "[bug]: hoppscotch PWA fail to start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

## Current
The hoppscotch fial to start up, whatever PWA or normal page.
like this
![image](https://user-images.githubusercontent.com/39078825/198494903-7ea4cd16-ea0e-4fe3-bc41-ed368af0770a.png)

## Expect
Start up and work normally.

### Steps to reproduce

1. Click PWA shortcuts or open the

[2022-10-28 05:23] wwg2017 opened #2833 "[feature]: There is a problem with the git uploaded to our company"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

There is a problem with the git uploaded to our company

### Why should this be worked on?

There is a problem with the git uploaded to our company

[2022-10-28 05:28] #2833 closed

[2022-10-28 05:29] liyasthomas commented on #2833
Provide relevant context and use appropriate issue template to create issue tickets.

[2022-10-28 05:48] wwg2017 opened #2834 "There is a problem with the git uploaded to our company"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

There is a problem with the git uploaded to our company

### Steps to reproduce

There is a problem with the git uploaded to our company

### Environment

Production

### Version

Local

[2022-10-28 05:49] liyasthomas commented on #2834
Provide relevant context and use appropriate issue template to create issue tickets.

[2022-10-28 05:49] #2834 closed

[2022-10-29 04:30] liyasthomas commented on #2821
For Hoppscotch, we try to get the behaviour of a native application, instead of the usual internet behaviour of being able to select everything on screen.

For instance, for text that is part of the own application’s UI (like a toolbar, or a side menu), I think it’s ok to not allow the text to be selectable.

But for other areas like the input boxes, response section for example, we allow users to

[2022-10-29 04:30] #2821 closed

[2022-10-29 22:16] #2203 closed

[2022-10-30 11:08] ntimo opened #2838 "[feature]: allow to disable telemetry / analytics"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When self hosting I would like to disable all telemetry / analytics data that is send by hoppscotch.

### Why should this be worked on?

In certain environments this is simply a requirement. Also not everyone want to send analytics data.

[2022-10-30 11:09] #2838 closed

[2022-10-30 11:09] ntimo commented on #1786
@liyasthomas do you have any news for this? If its possible to disable analytics when self hosting.

[2022-11-01 16:22] Tejasvp25 commented on #2831
Well i think we can use env variable to disable sync if we want to disable sync altogether, If we want to disable specific auth provider we can go with same idea. Let me know what you guys think :)

[2022-11-02 02:04] AndrewBastin commented on #2831
@Tejasvp25 that is an idea we are going for. We will look into introducing this when we release a self-hosting specific full stack build of Hoppscotch which we are working on.

[2022-11-02 12:25] #2607 closed

[2022-11-04 06:39] Sun-FreePort commented on #2570
@khiemledev Hi, Are you not found team by the "Select a team" choice?

When I more time not login, the defaut choice is loss, but can rechoice in the "Select a team" and go in.

[2022-11-05 00:25] MatheusGrilo commented on #2828
Okay, I will accept that as an answer since I won't use this in production, and was only using in development. Was just an idea since it's possible for tests, but not a real thing.

[2022-11-05 00:25] #2828 closed

[2022-11-07 03:45] khiemledev commented on #2570
No, I click on "Select a team" but there's no team on the list

[2022-11-07 12:41] njk18 commented on #1426
I'm having the same issue, only the request is being sent 4 times.

**Desktop (please complete the following information):**

- OS: Windows 10 Version (22H2) 10.0.19045 Build 19045
- Browser: Chrome 103.0.5060.66
- Hoppscotch Browser Extension Version: 0.25

[2022-11-07 21:47] AndrewBastin commented on #1426
@njk18 can I have more details about the request ? like the HTTP method used, content type (if any), body data (just a summary of what it is enough) and stuff like that.

If you can get this from the endpoint, some details around what requests were you getting on the endpoint (like the method, data (if any) etc.) would be useful as well.

[2022-11-08 02:45] AndrewBastin commented on #2570
@khiemledev I tried to reach out to you on Discord about updates and didn't get any updates.

We had patched this issue a while back. Please do report if this is still an issue.

[2022-11-08 12:43] khiemledev commented on #2570
@AndrewBastin I'm so sorry for the late response. So far so good, I'm not facing with the problem anymore

[2022-11-08 12:50] njk18 commented on #1426
@AndrewBastin I did a page refresh which seems to have resolved the problem.
The request used the POST HTTP method with an application/json body which consisted of only string and integer values.
The endpoint was localhost:8084.
At the time, I went back and forth resetting the database and switching between Hoppscotch and Postman to validate that the problem originated from Hoppscotch.

I'm not su

[2022-11-08 14:10] AndrewBastin commented on #2570
Okay, I am closing this issue assuming we have fixed this.

[2022-11-08 14:10] #2570 closed

[2022-11-10 00:16] AndrewBastin commented on #2831
@Brainpitcher we are currently working on it, but we are aiming for the initial release to be around early 2023.

[2022-11-10 06:13] Brainpitcher commented on #2831
thanks for your answer... now we just have to wait

[2022-11-11 15:30] BirnadinErick commented on #2242
is toHaveProperty still unimplemented?

[2022-11-11 17:27] BirnadinErick opened #2852 "[feature]: Ability to test response headers' presence and value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I had to test headers from an API and responded values against a pre-deterministic value set. I searched the doc and found `toHaveProperty`, but unfortunately the docs aren't up-to-date adn this particular function is not yet implemented, as for my knowledge. This has been discussed in this #2242. So,

[2022-11-16 14:11] Blackhart opened #2855 "[bug]: Hoppscotch cli doesn't load environment variables"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current behavior

Given an exported environment with a "baseUrl" variable in
When I run:
`hopp test -e environment.json tests.json`
The variable "baseUrl" is not substitued in my tests.

I expect the variable "baseUrl" to be substitued

### Steps to reproduce

1. Open hopscotch
2. Open the environment panel
3.

[2022-11-16 14:33] Blackhart commented on #2855
[env_and_test_export.zip](https://github.com/hoppscotch/hoppscotch/files/10022669/env_and_test_export.zip)
![output](https://user-images.githubusercontent.com/4446461/202208353-1be3af02-b5ce-4380-9957-67fffa037c54.PNG)

[2022-11-17 21:01] ecke78 commented on #2068
Is there any progress on this issue. Just deployed my own instance but it was really the team feature that made this a compelling solution.

[2022-11-21 02:11] SamuelJansen commented on #1426
so am I

[2022-11-21 22:48] mfusigh opened #2859 "[bug]: Deleted form parameters are still sent."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Submitting a request after deleting form data variables still submits the deleted variables.

### Steps to reproduce

1. Create and send POST request with several multipart/form-data variables.
2. Delete a variable using the trash icon next to it.
3. Send the request again and the deleted var

[2022-11-24 02:38] LukeFranky commented on #1426
Same thing happens to me. I was getting 4 requests each time, but restarting the Chrome app brought this down to 2.

I am using the Chrome app and extension because I am testing requests to a localhost server.

I have attached a screenshot from Telerik Fiddler showing two identical requests from the same 'Send' click.

![2022-11-24 12_52_44-Hoppscotch • Open source API development ecosystem • Hopp

[2022-11-24 05:56] baek-sang opened #2860 "[feature]: Save specific response data to example(not file download)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

## Like a Postman
![Postman_YFEl17HFwA](https://user-images.githubusercontent.com/69100154/203704588-1e6ab2e8-9424-46f3-b97a-84bde265aeea.png)
![Postman_LOQMsjb0eA](https://user-images.githubusercontent.com/69100154/203704600-5b00eee8-7329-4543-a3de-d1721f7714d0.png)

### Why should this be worked on?

[2022-11-25 03:01] AndrewBastin commented on #2859
Fixed in #2861

[2022-11-25 03:02] #2860 closed

[2022-11-28 07:50] juandl commented on #2173
@liyasthomas this should not be closed, at this point, there's no wait to use a custom env if you use "docker-compose" example.

version: "3"

services:
  hoppscotch:
    image: hoppscotch/hoppscotch:latest
    container_name: hoppscotch
    pull_policy: always
    ports:
      - "4000:3000"
    restart: on-failure
    volumes:
      - ./app/.env:/app/packages/hoppscotch-app/.env