[2021-01-30 16:45] MassiveBox opened #1454 "All data is sent via OPTIONS when I use simple authentication on localhost"
**Describe the bug**
When using Basic Auth on localhost, instead of using POST, GET, PUT, or any request type I set on Hoppscotch, my server receives a OPTIONS call.

**To Reproduce**
Steps to reproduce the behavior:
1. Set as target URL a server running on LocalHost (idk if it's the same with external sites)
2. Turn off proxy
3. Open a server on localhost that listens for all requests
4. Set auth

[2021-01-30 16:50] #1451 closed

[2021-01-30 16:54] #1452 closed

[2021-01-30 17:07] liyasthomas commented on #1454
This looks like a pre-flight request scenario.

Refer:
- [Dev.to - Why is my browser sending an OPTIONS HTTP request instead of POST?](https://dev.to/p0oker/why-is-my-browser-sending-an-options-http-request-instead-of-post-5621)
- [stack overflow - Why does the browser send an OPTIONS request even though my frontend code is just making a POST request?](https://stackoverflow.com/questions/46904400/

[2021-01-30 22:14] LeanKhan commented on #1449
Hello, @liyasthomas thanks, after turning off proxy the requests work. But for one of my APIs (https://flw-rule-validation.herokuapp.com/) it was throwing a CORS error. I'm not sure if it is on my end or not. Nice work anyway 👍

[2021-01-30 22:14] LeanKhan commented on #1449
Sorry I'm not sure if I should close the issue...

[2021-01-30 23:38] AndrewBastin commented on #1449
Umm, you don't need to close the issue because the proxy not working is an ongoing bug that both of us are looking into fixing.

The CORS issue is a problem when you are running without the proxy. You can use the browser extension instead to override the CORS and work with your APIs. You can find the links to get to the extension from the README.

Sorry for the inconveniences caused @LeanKhan

[2021-01-31 02:49] #1449 closed

[2021-01-31 02:51] liyasthomas commented on #1454
Feel free to re-open this issue if it's not a pre-flight request.

[2021-01-31 02:51] #1454 closed

[2021-01-31 02:52] liyasthomas commented on #1442
Resolved in #1441

[2021-01-31 02:52] #1442 closed

[2021-01-31 06:32] IshaGupta18 opened #1455 "Deleting history UI bug"
**Describe the bug**
History is deleted on clicking on clear all, but change appears only after refreshing the page ie doesn't happen asynchronously and the page has to be updated to see the cleared history.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hoppscotch.io/
2. Make a request
3. Click on "Clear All" in the history tab
4. Notification comes that "History Deleted", bu

[2021-01-31 06:57] liyasthomas commented on #1455
Ahh, this looks like a _minor_ UX delay. I mean, yes UI should be updated instantaneously.

As of now, what we're doing is - when you click "Clear All", we loop every entry in history and delete it. This is the [recommended way on deleting all collection entries in  Firestore](https://stackoverflow.com/questions/53089517/how-to-delete-all-documents-in-collection-in-firestore-with-flutter). We can

[2021-02-01 14:46] semkeijsper commented on #298
Hello, I can only find the upload files button and that seems to use --data-binary.
How do you reference a file (or multiple files) with form-data?
![image](https://user-images.githubusercontent.com/78076164/106473868-96a8ef80-64a4-11eb-96e6-fe156bdcd6fb.png)
Similar to this feature in Postman.

Thank you in advance

[2021-02-01 15:13] liyasthomas commented on #298
Referencing multiple files with a name is not implemented. We're working on this feature in current sprint. Hopefully it'll be out in couple of days.

[2021-02-03 17:44] Earl-Brown commented on #1068
As a developer looking to integrate Hoppscotch/Postwoman into our Agile cycle, **I'd** like to be able to open/save collections/environments/workspaces to our development folder so that changes are automatically included in our source control system.  (Kind of an easier/more flexible github integration).

What would work best for me is to have the workspace include collections and environments.  T

[2021-02-04 16:40] rschristian opened #1465 "Response section stays hidden on FireFox"
**Describe the bug**

The entire "Response" section stays hidden right now on Firefox.

Opening up dev tools, it seems to be because the only element within the Response section ('#response') has a "hidden" class. Removing the class displays the Response section once again, though this does involve opening up the dev tools and manually editing the content. Not sure why that class is there to begin

[2021-02-04 23:58] liyasthomas commented on #1465
Noted. I'm inspecting this use case. Thanks for reporting the issue.

Can you reproduce this issue after doing a force refresh?

[2021-02-05 00:01] rschristian commented on #1465
Yes, I can still reproduce after a force refresh.

Was just able to test standard Firefox on Windows, and that's unaffected. That might narrow it down to the Arch build or the developer edition.

[2021-02-05 00:03] liyasthomas commented on #1465
Thanks for the detailed information. Hoping to fix this ASAP.

[2021-02-05 00:04] rschristian commented on #1465
After manually clearing cookies, storage, etc. it seems to have been corrected. Seems resolved, as I can't reproduce.

[2021-02-05 00:12] liyasthomas commented on #1465
About 3 weeks ago, we did a overhaul on UI - with more modern components and migrated to TailwindCSS.

I'm guessing - before this update you might've collapsed Response section. And came after UI overhaul. Anyways, feel free to open issue if this happens again.

[2021-02-05 00:12] #1465 closed

[2021-02-05 00:23] rschristian commented on #1465
That sounds likely to have been the issue. Thanks for the quick response! Love the tool.

[2021-02-05 10:16] Leodau commented on #1383
You should close this issue, browsers would hopefully never be able to check _HttpOnly_ cookies. :pray:

[2021-02-05 10:54] pikausp opened #1468 "Dynamic environment variables"
Hello,

is it possible to dynamically set environment variables e.g. within tests, similar to Postman? Our use-case is to automatically set authentication token after calling sign-in/refresh endpoints and not having to manually copy and set the token.

Thank you for any tips

[2021-02-05 14:07] liyasthomas commented on #1468
Possibly a duplicate of #1425 and #984

As of now, environment variables can't be changed from Tests script.

Refer: https://github.com/hoppscotch/hoppscotch/issues/1425#issuecomment-758806073

[2021-02-05 14:07] #1468 closed

[2021-02-08 09:45] AllanOricil opened #1472 "Improve layouts for mobile"
**Describe the bug**
The  top and bottom menus are bigger than the view port width.

![Screenshot_20210208-094048_Chrome](https://user-images.githubusercontent.com/55927613/107202212-d5cdc800-69f1-11eb-84f6-3cbc79e5fead.jpg)

![Screenshot_20210208-094118_Chrome](https://user-images.githubusercontent.com/55927613/107202215-d9614f00-69f1-11eb-8244-d859d40b41e7.jpg)

**To Reproduce**
Just open the ap

[2021-02-08 09:46] liyasthomas commented on #1472
Noted. Will fix this ASAP.

[2021-02-08 09:47] AllanOricil commented on #1472
Man you are so fast hahaha. I was still writing the issue haha

[2021-02-10 14:25] #1472 closed

[2021-02-10 15:00] AllanOricil commented on #1472
Now it looks great!

[2021-02-12 20:59] saki-osive opened #1483 "Do we support APIs hitting from localhost?"
**Is your feature request related to a problem? Please describe.**

Do we support RPC calls that would enable hitting APIs from the local network as well?

**Describe the solution you'd like**

An RPC implementation can be used for this.

I found a similar thing in the [Polkadot Explorer](https://polkadot.js.org/apps/#/explorer) by choosing Development network.

[2021-02-13 01:23] liyasthomas commented on #1483
Hi @saki-osive, thanks for posting your question. We're using Axios HTTP client for Hoppscotch. I am afraid Axios does not offer any rpc support.

Refer: https://github.com/axios/axios/issues/1069

[2021-02-13 01:23] #1483 closed

[2021-02-14 02:27] raschmitt commented on #1449
Has any fix on the proxy issue been released so far?

[2021-02-14 03:00] liyasthomas commented on #1449
Yes, it's been fixed.

[2021-02-15 01:04] nelsontky commented on #1273
Any updates regarding this issue. If no I don't mind having a go at this feature!

[2021-02-15 01:33] liyasthomas commented on #1273
@nelsontky we would love to work with you on this. Feel free to ping me on [Discord](https://t.me/hoppscotch) or [Telegram](https://discord.gg/GAMWxmR) `@liyasthomas`.

[2021-02-15 10:09] programster commented on #1068
+1 for just having a docker volume store the collections/environments/workspaces in files in a "state"/"storage" volume. I would like to be able to share collections with others by sending them file(s), and be able to persist my collection across container wipes without relying on browser storage, Github, or Google.

[2021-02-15 21:49] joaoeudes7 opened #1489 "Extension and Webapp makes requests when enabled option of settings"
**Describe the bug**
The web app and the extension app makes the request

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Setting
2. Enable option to use extension to request on Browser
3. Install the extension on Browser
4. Make any request

**Expected behavior**
Only the extension makes the request

**Screenshots**
![image](https://user-images.githubusercontent.com/16367752/107995985-

[2021-02-16 00:23] liyasthomas commented on #1489
@AndrewBastin take a look at this.

[2021-02-16 01:17] AndrewBastin commented on #1489
So did you enable the extension and then install the extension for the multiple request fire to be caused ?

Because I can't seem to reproduce it from my end.

[2021-02-16 01:23] liyasthomas commented on #1489
Neither I can reproduce this behaviour.

[2021-02-16 02:04] joaoeudes7 commented on #1489
When disabled the option with use of extension, the api receive only one request, when enabled receive two.

Do you need any more information that can help?

[2021-02-16 02:24] #1489 closed

[2021-02-17 13:24] lostpebble commented on #1454
I'm getting the same, just want to make a simple GET request to my localhost server- but Hoppscotch always sends an OPTIONS request instead. Is there no way to prevent the OPTIONS request?

[2021-02-17 13:28] liyasthomas commented on #1454
Yeah, that's a pre-flight request.
https://github.com/hoppscotch/hoppscotch/issues/1454#issuecomment-770245079

[2021-02-19 17:01] #1273 closed

[2021-02-19 18:00] nelsontky opened #1497 "Address bar URL params do not update as expected"
**Describe the bug**
`POST` parameters do not update the URL params in the address bar as expected

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new `POST` request.
2. Add a new parameter to the request body. (Non raw request body)
3. Set the key to some text.
4. Click on the value input field.
5. The address bar URL parameter does not update.
6. Type something in the param value

[2021-02-21 13:21] rw3iss opened #1498 "Should be an easy/quick way to update/save a Request ?"
**Is your feature request related to a problem? Please describe.**
Not particularly.

**Describe the solution you'd like**
When changing a request's parameters or anything, there isn't currently any clear way to "Save" or update the request (if it's already saved in a Collection). There is only the option to save it, which makes an entirely new request, and then we must delete the old request in t

[2021-02-21 14:19] liyasthomas commented on #1498
You can actually select your "old request" while saving the updated one. This will overwrite the previous one.

**Screenshot:**

![IMG-20210221-WA0000](https://user-images.githubusercontent.com/10395817/108627886-c2a10a80-747d-11eb-8642-0102890f1e76.jpg)

[2021-02-21 14:19] #1498 closed

[2021-02-21 14:26] rw3iss commented on #1498
Cool, thanks ;-p

[2021-02-23 11:53] GuoxinL opened #1506 "auth/internal-error"
**Describe the bug**
You can't log in to GitHub or Google after installation

Chrome Console error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git clone git@github.com:hoppscotch/hoppscotch.git
2. docker-compose up
3. start http://localhost:3000

**Expected behavior**
Log on to GitHub as normal

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Deskto

[2021-02-23 12:19] liyasthomas commented on #1506
Authenticated features are disabled for URL origins other than `https://hoppscotch.io` due to security concerns. If you want to setup a self-hosted version, follow instructions on [Hosting Wiki page](https://github.com/hoppscotch/hoppscotch/wiki/Hosting).

[2021-02-23 12:19] #1506 closed

[2021-02-23 13:29] GauthierPLM opened #1507 "Apply syntax highlighting on generated code"
**Is your feature request related to a problem? Please describe.**
When generating code (for example a cURL command) from a request, the code does not uses syntax highlighting.
Having code well highlighted helps to understand what has been generated before copy-pasting it or using it as an example.

**Describe the solution you'd like**
I'd like the generated code to have syntax highlighting.

**De

[2021-02-23 14:24] AndrewBastin commented on #1507
Yeah. This seems like a no-brainer. I will get into it!

[2021-02-23 14:57] rohanrajpal opened #1509 "Show folder path instead of folder name when saving a request"
**Describe the bug**
If two folders have the same name, then the user is confused about which folder belongs where
**To Reproduce**
Steps to reproduce the behavior:
1. Go to hoppscotch.io
2. Create two folders with the same name in collections tab
2. Click on `save request as`
3. Scroll down to 'folder'
4. See error

**Expected behavior**
A clear and concise description of what you expected to hap

[2021-02-23 15:05] liyasthomas commented on #1509
This looks handy 👍
Assigning this to you.

[2021-02-25 01:26] #1509 closed

[2021-02-26 19:49] ABeltramo opened #1513 "More than 1GB of memory used in idle"
**Describe the bug**
Incredibly high memory usage just by running it, is 1GB+ considered normal?

**Additional context**

Running over Docker using hoppscotch/hoppscotch:latest

On startup this is logged:
[code]

This is the result of top after leaving the image up and running (without even using it):
[code]

I wasn't expecting such a high memory usage for a PWA.

[2021-02-27 00:54] liyasthomas commented on #1513
This doesn't seem to be an issue directly connected with Hoppscotch app, rather it seems like a performance issue with Nuxt.js dev env or Docker container tooling. While I'm investigating whether this much memory consumption for dev env is normal can you go through the instructions in this StackOverflow thread: [Nuxt js high CPU usage in dev environment](https://stackoverflow.com/questions/6191066

[2021-02-27 02:59] liyasthomas commented on #1513
I can confirm this is an expected behavior in dev env. Hence closing this issue.

[2021-02-27 02:59] #1513 closed

[2021-02-27 03:03] Xiphin opened #1514 "Failed to execute 'observe' on 'IntersectionObserver': parameter 1 is not of type 'Element'."
Based on the latest version( https://github.com/hoppscotch/hoppscotch/tree/37bdd525ea318dd7a1da29324620d233d581f0c8 )：

Online test app: https://reqres.cn/

`TypeError: Failed to execute 'observe' on 'IntersectionObserver': parameter 1 is not of type 'Element'.`

[2021-02-27 03:09] Xiphin commented on #1514
![image](https://user-images.githubusercontent.com/3348428/109373842-4af33580-78ec-11eb-8cfb-2639ea69640d.png)

[2021-02-27 03:54] liyasthomas commented on #1514
`reqres.cn` is not affiliated with Hoppscotch, so we can't ensure it's health. Hoppscotch's official deployment at https://github.com/hoppscotch/hoppscotch/tree/37bdd525ea318dd7a1da29324620d233d581f0c8 can be found here: https://hoppscotch.io

[2021-02-27 03:54] #1514 closed

[2021-02-27 04:08] Xiphin commented on #1514
reqres.cn  is affiliated with me for test. But it is not working now. https://hoppscotch.io is very slow in china.

[2021-02-27 06:12] liyasthomas commented on #1514
Oh, that's cool. But as I mentioned, deployment at 37bdd52 can be found here: hoppscotch.io without any issues. So there's probably some alteration that you've done which caused this issue.

[2021-02-27 06:34] Xiphin commented on #1514
Pull down directly, without any modification.
node -v：v14.16.0
OS: win10

Then

`npm i && npm run build && npm run generate`

[2021-02-27 06:38] Xiphin commented on #1514
![image](https://user-images.githubusercontent.com/3348428/109377917-57d25200-7909-11eb-8bba-92c6b3ad6158.png)

[2021-02-27 06:46] Xiphin commented on #1514
[code]

[2021-02-27 06:56] Xiphin commented on #1514
Download: [dist.zip](https://github.com/hoppscotch/hoppscotch/files/6053850/dist.zip)

[2021-02-27 09:21] ABeltramo commented on #1513
I see your point but not everyone wants a dev environment, especially over docker which is also used for production and deployment.
I'm not familiar with NuxtJS but I tried running your docker image with `npm run start`
[code]

This gives me an environment which takes 40MB instead of 1GB+ and I can reach localhost:3000 just fine but I'm wondering:
Is the stuff in `dist/` everything that is needed?

[2021-02-27 09:36] liyasthomas commented on #1513
So Nuxt has mainly 3 commands for running the app
1. `nuxt dev` - Launch the development server.
2. `nuxt build` - Build and optimize your application with webpack for production.
3. `nuxt start` - Start the production server (after running nuxt build). Use it for Node.js hosting like Heroku, Digital Ocean, etc.

So `npm run start` works but not for dev env. You can build the app with `npm run bui

[2021-02-27 09:55] ABeltramo commented on #1513
Thanks for the detailed reply, yes changing the Dockerfile will solve the issue (for my use case) but I can easily override the starting command, and I wonder if this will break other people usage.

Bare in mind that the [docker-compose.yml](https://github.com/hoppscotch/hoppscotch/blob/37bdd525ea318dd7a1da29324620d233d581f0c8/docker-compose.yml#L23) mounts the local files inside the container and

[2021-02-27 09:57] liyasthomas commented on #1513
Sounds good to me. Will update readme with instruction on running both dev and prod server. 👍

[2021-03-01 04:08] liyasthomas commented on #1514
Thanks for the detailed info. I bumped some dependencies which might've caused this issue. Please checkout latest commit and it should work. @Xiphin

[2021-03-02 10:51] LeoMartinDev commented on #1196
What about this issue ? Shouldnt it be closed as the PR has been merged ?

[2021-03-02 12:13] LeoMartinDev commented on #1497
I'll take a look

[2021-03-02 14:40] Xiphin commented on #1514
It's OK! Thank you!

[2021-03-02 17:48] LeoMartinDev commented on #1497
Ok well, this code is super hard to read and there is too many entry points to the `setRouteQueryState` function (and a watcher) so I'm having a hard time fixing this issue. Maybe someone with more experience on this code will be able to find what's wrong 💪

[2021-03-02 18:01] nelsontky commented on #1497
Ok I can probably can have a go at it tomorrow!

[2021-03-03 04:28] Sun-FreePort opened #1525 "Improve save request flow"
1. create two api - "Edit user info" and "Delete user";
2. refesh page;
3. choice "Delete user" api and change something;
4. save use Ctrl + S, show me a **default panel**;
5. I'm trance and choice "Edit user info" and save.
6. congratulation! now, I has two "Delete user".... 😂

I think the tool has good, but in there, the feature puzzled me, and I want to work something, I think:

1. like Postman

[2021-03-03 10:53] LuisMayo commented on #1196
I'd say not since it's not in master yet

[2021-03-05 12:02] kitter960324 opened #1529 "单点登录"
希望可以增加其他单点登录，例如qq，微信等

[2021-03-05 12:19] liyasthomas commented on #1529
_Translated:_

我们使用Firebase进行身份验证。而且Firebase没有微信或QQ作为身份验证提供程序。因此它将不会实现。但是，如果您有兴趣，可以选择使用自定义OAuth方法。让我知道您想设置自定义Auth，我们将在另一个分支中添加有关如何实现它的说明。

[2021-03-05 12:19] #1529 closed

[2021-03-05 12:26] liyasthomas commented on #1525
When saving a request if you want to replace / overwrite an existing one, you can choose the previous request in save modal. Let me which workflow works best for you. I didn't quite get what you meant by which operation that need to be corrected.

[2021-03-05 17:20] Sun-FreePort commented on #1525
I try to refresh page, the request hold in page, but not has "previous request" in save panel.
Now, I must choice collection、choice folder、choice request.....so hard, don't you think?

So, I suggest autoload previous request, When user need "Save as...", he/she manually choice "/"

In my work, "update request" is frequent, and "new request" is less.

Or add config? user can choice any mode.

[2021-03-05 23:01] liyasthomas commented on #1525
Thanks for your explanation. Now it makes sense. Flow of overwriting a request is somewhat confusing righ now. We're actually working on a parallel flow where you'll have a UI similar to sidebar Collections. And it'll be easy to choose a previous request in a glance.

Kindly be patient, hoping to get a working prototype by end of next week. I'll let you know when it's up.

[2021-03-09 17:11] fr3fou commented on #1383
But how would one test an API that uses cookies?

[2021-03-10 12:09] Sun-FreePort opened #1530 "Paginate / lazy load History entries"
**Describe the bug**
I has hundreds request histroy, in open the hoppscotch.io, I will wating 20 ~ 40s (i7-10510U + 16G RAM -- I think not slow in my coding time).

When my clear all request history and reopen the page, only 1.5 sec consume...

**To Reproduce**
Steps to reproduce the behavior:
1. request more and more
2. press F5
3. chrome tell me: the page is locking!
4. wating....OK!
5. clear hi

[2021-03-10 12:38] liyasthomas commented on #1530
Issue is acknowledged. So when the history has more than say 100 entries, page loading time is effectively higher than ~20s.

[2021-03-11 06:54] #1455 closed

[2021-03-12 12:10] #1530 closed

[2021-03-12 16:51] jerry4rahul opened #1537 "Getting warn after npm run dev"
WARN

` WARN  warn - You have enabled experimental features: uniformColorPalette, extendedSpacingScale, extendedFontSizeScale, applyComplexClasses, darkModeVariant, additionalBreakpoint`

` WARN  warn - Experimental features are not covered by semver, may introduce breaking changes, and can change at any time.`

[https://prnt.sc/10jtdgz)]

[2021-03-12 16:55] liyasthomas commented on #1537
You can completely ignore this `WARN` message since it is coming from TailwindCSS library. We're making use of some experimental stylings in TailwindCSS 1.x which will be absolute in TailwindCSS 2.x release. So don't worry 🙂

[2021-03-12 16:55] #1537 closed

[2021-03-12 16:57] jerry4rahul commented on #1537
@liyasthomas Its not even working in http://192.168.0.6:3000/
What to do?

[2021-03-12 16:59] liyasthomas commented on #1537
Do you have any logs in dev console?

[2021-03-12 17:01] jerry4rahul commented on #1537
[code]

[2021-03-12 17:02] liyasthomas commented on #1537
Not this one. In browser console. Goto `localhost:8000` and click F12 on Chrome to open console.

[2021-03-12 17:07] jerry4rahul commented on #1537
It's working well now. I just want to know if any team functionality there.

[2021-03-12 17:10] liyasthomas commented on #1537
Team collaboration is a work in progress. Latest updates are in `teams-new-ui` branch. Follow the project here and hopefully Teams collaboration will be out for beta in couple of weeks.

[2021-03-12 17:16] jerry4rahul commented on #1537
Yeah ok... Thanks

[2021-03-16 11:57] JDevx97 commented on #1497
After reviewing the existing description, discussion and having a brief inspection, I do not believe there is an issue here as there may have been a slight misunderstanding with expectations that `body parameters` operate the same as `query parameters` in a HTTP request.

`Request body parameters` do **not** get appended to a URL in a HTTP request and are instead transmitted immediately after requ

[2021-03-16 12:35] JDevx97 opened #1541 "Query Parameters Incorrectly Appended to URL."
**Describe the bug**
Query parameters when added to a request are appended without trimming white space and are not URL encoded.

**To Reproduce**
Steps to reproduce the behaviour:
1. Start a new `GET` request.
2. Click on the parameters tab.
3. Add a parameter key and value of type `Query` with white space or a space between two words.

e.g:

Parameter: `Lorem Ipsum`
Value: `Dolor Amet`

4. Revie

[2021-03-16 21:14] dalexanco commented on #580
Hi :)
I really love hoppscotch, the approach is modern and agile.
But hoppscotch is a different product than postman and it should stay different.
With postman, they are trying to make money and their team feature is the best way to do it.
They designed it with this goal in mind.

But I don't think it's the best opportunity for hoppscotch...
I found many references to draw.io in other comments and

[2021-03-17 01:55] lanphan commented on #870
@liyasthomas
I just download and try Hoppscotch, already created 2 collections + 3 environment set, found this and tried Github sync as your comment said (already login Github, authorized and enabled 3 sync: history, collection and environment), but I found some issues below:
1. I don't see any new Gist in my github acc
2. All my history, collection and environment are empty now

[2021-03-17 02:24] liyasthomas commented on #870
Creating gist is not an automatic process. We respect your privacy and you should manually create secret gist of collections.

1. Open Import / Export in Collections sidebar
2. Click options menu
3. Click create secret gist

![Screenshot_20210317-074825__01__01](https://user-images.githubusercontent.com/10395817/111404839-78661e80-86f5-11eb-86b7-70560324a8f4.jpg)

This is exactly not the way this

[2021-03-17 03:33] gclm opened #1543 "建议字体内置"
**Is your feature request related to a problem? Please describe.**
目前国内部分地区访问谷歌字体网络不稳定，目前经常出现css加载字体错误，希望可以内置字体

[2021-03-17 03:40] liyasthomas commented on #1543
Thanks for reporting the issue. I'll look into bundle fonts and host from same origin.

[2021-03-17 03:48] gclm commented on #1543
相关字体链接: https://fonts.googleapis.com/css2?family=Material+Icons&family=Poppins:wght@400;500;600;700;800&family=Roboto+Mono&display=swap

[2021-03-17 03:56] liyasthomas commented on #1543
@gclm I've made a hot fix (https://github.com/hoppscotch/hoppscotch/commit/61396cbb158e95aa6016ef8bdc03990100b0d6a6) just now. Please clear cookies and data and try again. Let me know if issues with fonts are fixed.

[2021-03-17 03:58] liyasthomas commented on #1543
Feel free to reopen if issue is persisting.

[2021-03-17 03:58] #1543 closed

[2021-03-17 04:18] #1541 closed

[2021-03-17 10:50] JayceDugan opened #1544 "Refactoring Suggestion - Codegen generators"
## Overview

After reviewing the existing implementation of codegen generators present in `/helpers/codegen/generators/*.js`, I'd like to gather thoughts on refactoring the existing implementations to provide the following benefits:

- Improved readability.
- Reduced complexity.
- Simpler and more expressive architecture.
- Improve separation of concerns.
- Improved extensibility / re-use dependin

[2021-03-17 11:22] liyasthomas commented on #1544
@JDevx97 I would totally appreciate this refactoring approach.

We have a snapshot test for all code generators: https://github.com/hoppscotch/hoppscotch/blob/main/helpers/codegen/__tests__/codegen.spec.js

cc: @AndrewBastin

[2021-03-17 11:45] JDevx97 commented on #1544
@liyasthomas Ah brilliant, thank you for those.

That looks promising, without having looked at all generators to confirm if there's any differences on an individual level, if that spec efficiently covers existing functionality for all generators coverage and confirmation should be quite good.

As i'm sure you guys will have better insights than me,

- Would there be any potential concerns or cons

[2021-03-17 12:13] liyasthomas commented on #1544
Sticking to modular approach will be exceptionally helpful. Extracting instances of codegen out of main tread is appreciated.

So the code generation part is almost independent of other part of the application. And probably shouldn't interfere with any other functionalities.

Well, these are the places codegen is being used:

1. CodegenModal.vue : https://github.com/hoppscotch/hoppscotch/blob/dc5c

[2021-03-17 14:36] AndrewBastin commented on #580
Hi @dalexanco,

Thank you for sharing your thoughts. We have already thought about many of the points you brought forward.

We are already almost done with Teams and we are introducing our own backend architecture to support it.

We have a couple of reasons for choosing a self-hosted backend architecture over the other options.

We wanted to keep the Teams features easy to use and adopt. As per ou

[2021-03-18 02:18] A-Chainsmokers opened #1546 "Cookie missing in response"
The response has three set-cookies,But it only gets one(Please forgive me for my poor English)
![20210318101539](https://user-images.githubusercontent.com/35914432/111563611-3b705980-87d3-11eb-8399-d819354565d9.png)
![20210318101633](https://user-images.githubusercontent.com/35914432/111563614-3d3a1d00-87d3-11eb-9ce7-c2e95548385a.png)

[2021-03-18 02:25] liyasthomas commented on #1546
Thanks for reporting the issue. This shouldn't happen in normal scenarios. We're investigating if there's any internal blockers on displaying multiple headers with same keys. Please be patient.

[2021-03-18 05:14] A-Chainsmokers commented on #1546
The same key will reset the value,You can try to make him present in the form of an array

[2021-03-18 05:14] A-Chainsmokers commented on #1546
@liyasthomas The same key will reset the value,You can try to make him present in the form of an array

[2021-03-18 10:42] JayceDugan commented on #1544
Hey @liyasthomas thanks for the detailed brief, much appreciated. I'll be starting tomorrow night most likely. You're welcome to mark me as the assignee if you like.

Would you at all be able to expand on this in more specifics?

[2021-03-18 10:47] liyasthomas commented on #1544
Awesome. I was mentioning about keeping everything related to codegen inside `/helpers/codegen`.

[2021-03-18 11:12] JayceDugan commented on #1544
Aah gotcha, thank you. Sounds good, I'll be taking a look at the generators as a whole and planning different structures so you can expect the first PR to come through in a few days.

In the meantime thanks again and if you have anything else you'd like me to look across feel free to tag me, more than happy to get involved even if it's just to review suggestions or provide alternative ideas.

[2021-03-20 06:31] JayceDugan opened #1548 "Refactor: CLibcurl Generator"
This issue has been created to provide an isolated pull request for the refactoring of the `CLibcurl` Codegen generator found in `/helpers/codegen/generators/c-libcurl.js`.

To review the original issue with full descriptions related to the refactoring, [please click here.](https://github.com/hoppscotch/hoppscotch/issues/1544)

[2021-03-20 09:55] JayceDugan opened #1550 "Refactor: CURL Generator"
This issue has been created to provide an isolated pull request for the refactoring of the `cURL` Codegen generator found in `/helpers/codegen/generators/curl.js`

To review the original issue with full descriptions related to the refactoring, [please click here.](https://github.com/hoppscotch/hoppscotch/issues/1544)

[2021-03-20 15:26] liyasthomas commented on #1550
Hi @JayceDugan,
you don't have to create separate issues for every codegen languages. Please mention #1544 for further PRs regarding codegen refactor.

[2021-03-20 15:26] #1550 closed

[2021-03-20 15:26] liyasthomas commented on #1548
Hi @JayceDugan,
you don't have to create separate issues for every codegen languages. Please mention #1544 for further PRs regarding codegen refactor.

[2021-03-20 15:26] #1548 closed

[2021-03-20 22:14] culunvb opened #1552 "Error When install on centos 7"
npm ERR! code 1
npm ERR! path /home/hoppscotch/node_modules/deasync
npm ERR! command failed
npm ERR! command sh -c node ./build.js
npm ERR! `linux-x64-node-15` exists; testing
npm ERR! Problem with the binary; manual build incoming
npm ERR! stdout=
npm ERR! err=Error: Command failed: /usr/bin/node quick-test.js
npm ERR! /home/hoppscotch/node_modules/bindings/bindings.js:135
npm ERR!   throw err;
n

[2021-03-21 12:40] liyasthomas commented on #1552
@culunvb can you use the Bug report issue template to report an issue

---

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2021-03-21 14:32] culunvb commented on #1552
Ooo, i'm sorry not given information error details. here's for detail Information.
1. OS ( Centos 7 x_64 bit )
2. NodeJs  version v15.12.0,
3. NPm  version 7.6.3

**Additional Context**
I found error when I  execute the command "npm install" in hoppscotch folder

**ScreenShot**
![image](https://user-images.githubusercontent.com/13093552/111908586-5e796280-8a8c-11eb-949f-466f2cc35ff0.png)

[2021-03-21 15:50] liyasthomas commented on #1552
Thanks for the detailed info. This doesn't look like an issue with Hoppscotch alone. Can you clean your npm cache `npm cache clean` and try installing dependencies again `npm i `

[2021-03-21 22:23] Xairoo opened #1555 "Response block should be expanded by default"
`expandResponse` @ response results block should be `true` by default because it's more intuitive.

Scrolling over the full viewport is better than scrolling in a inline scroll block.

Clicking on "expand response" again and again after every request isn't cool ;-)

[2021-03-22 00:34] liyasthomas commented on #1555
@Xairoo thanks for the suggestion. We're planning on revamping the entire UI with less viewport scroll and more inline block scroll. That should resolve this issue, we're open to ideas on what all can be improved apart from scrolling. Let me know which part, components need improvements. I'm letting this issue stay untill we finalize e new UI proposal which fix some existing clutter.

[2021-03-22 12:40] KoHcoJlb opened #1559 "Orange theme"
Hello
Why did you remove orange theme? It was my favorite:smiley:
Could it be restored?

[2021-03-22 13:39] liyasthomas commented on #1559
Oh, sorry for that. Our UI framework TailwindCSS updated to v2.x and introduced some minor UI change in color codes. I'll add orange theme today.

[2021-03-22 13:42] KoHcoJlb commented on #1559
Thanks:thumbsup:

[2021-03-22 16:37] #1559 closed

[2021-03-22 16:40] liyasthomas commented on #1559
![screely-1616431134673](https://user-images.githubusercontent.com/10395817/112025565-87344300-8af2-11eb-9459-fddb843881af.png)

_here you go :)_

[2021-03-22 16:55] Xairoo commented on #1555
Depends on how you handle this. The important part for me is the response and mainly the response body.

The `Parameters`, `Header`, ... block fits the content size, which is great.
To toggle the view of this block, we could just click again on the active tab title to hide the content (but keeps the tab titles of course).
And instead of the content like the parameters, ..., `+ Add new` button ther

[2021-03-22 19:15] Reflex-Gravity commented on #1435
Can I take this issue?

[2021-03-23 00:34] liyasthomas commented on #1435
@Reflex-Gravity so, when you choose request method as `POST`, `PUT`, or `DELETE` you can add request body from request section. And it can be done in two ways. Key-value pairs and Raw input.

This feature enable syncing both of them. Whenever you add a key-value pair - it should reflect in Raw input and when you add a Raw input (JSON object) it should reflect in key-value pair.

1. Choose `POST` r

[2021-03-23 09:39] #1110 closed

[2021-03-23 09:40] #1002 closed

[2021-03-23 09:40] #1166 closed

[2021-03-23 09:43] liyasthomas commented on #1552
Try deleting the `package-lock.json` file before `npm i`.
Feel free to re-open this issue if the issue still persists.

[2021-03-23 09:43] #1552 closed

[2021-03-24 12:11] gabrielenosso commented on #1148
I had the same experience, logging in from 2 different instances of Chrome.
Lost all my data... Luckily I had a very recent backup.

[2021-03-24 12:11] dob99 opened #1561 "Address Bar Updated Incorrectly"
**Description**
When the application is served from a directory other than root and a change is made to the URL or inputs, the path is removed from the URL.

**To Reproduce**
1. Edit the file nuxt.config.js
2. Add the following block inside _export default_:
`router: {
    base: '/hoppscotch/'
  },`
3. Run the application and go to http://localhost:3000/hoppscotch
4. Enter any URL (or change the i

[2021-03-24 12:26] liyasthomas commented on #1148
Sorry for the incident. We're working on a fully refactored state system along with better synchronisation on cloud. We'll keep an eye out on this bery particular edge case and make sure it'll be resolved in upcoming days.

[2021-03-24 12:51] Reflex-Gravity commented on #1435
In the key:value view, what if its a nested JSON, should I set the 2nd level JSON as a value to the key?

[2021-03-24 12:55] liyasthomas commented on #1435
That won't be a desired behaviour. I guess we can only sync key-value pairs with simple JSON object and vice versa. If the raw JSON has nested arrays - I would not recommend using it in key value pairs.

Would like to know what @kotx think about this. Anyways @Reflex-Gravity you can just omit nested JSON for now.

[2021-03-24 13:17] liyasthomas commented on #1561
Thanks for reporting this issue. We're working on a fix.

[2021-03-24 13:18] #1561 closed

[2021-03-24 13:21] liyasthomas commented on #1561
@dob99 you should now be able to define a custom `router.base` property in in `nuxt.config.js` file and Hoppscotch will respect that while setting query parameters.

[Read more about Nuxt router property ->](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-router/)

[2021-03-24 15:03] kotx commented on #1435
This sounds good! It would be ideal for the JSON to be preserved when converted to key-value pairs, but seeing as they are just key-value pairs I think it is fine. There should probably be a warning before conversion though.

[2021-03-25 06:20] liyasthomas commented on #1435
@kotx does this deploy preview fits your use case: https://deploy-preview-1562--hoppscotch.netlify.app/

[2021-03-25 13:39] christopheblin commented on #470
Just to add my 2 cents here : i am a postman user but postman is becoming more and more (too much) oriented for the usage of postman paid platform and more and more RAM consuming.
I've tried hoppscotch and it does a decent jobs for my needs except it does not support OpenApi

[2021-03-25 13:46] liyasthomas commented on #470
We're able to finish Team collaboration feature and or next focus is on OpenAPI support. Keep an eye out on project board: https://github.com/hoppscotch/hoppscotch/projects/6#card-53163283 for latest updates.

[2021-03-25 14:40] kotx commented on #1435
Yes, that is excellent.

[2021-03-26 05:51] akhilarjun commented on #1507
Hey, Is anyone looking into this issue? As, is it being worked upon?
Or else I can take a dab at it and push a PR for you guys.

[2021-03-26 06:11] liyasthomas commented on #1507
That's cool. Thanks for showing interest in contributing to Hoppscotch. We use Ace editor under the hood for syntax highlighting all editor components. You can find a working example of ace component here: https://github.com/hoppscotch/hoppscotch/blob/main/components/lenses/renderers/JSONLensRenderer.vue#L43-L57

Feel free to [contact us](https://github.com/hoppscotch/hoppscotch#contact) for any h

[2021-03-30 00:03] kaname-png opened #1570 "Access to XMLHttpRequest at 'https://main-daxrc78qyb411dls-gtw.qovery.io/socket.io/?EIO=4&transport=polling&t=NY0QrvZ' from origin 'https://hoppscotch.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource."
**Describe the bug**
I am unable to test socket.io to the tool's default server (wss://main-daxrc78qyb411dls-gtw.qovery.io).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Realtime'
2. Click on 'Socket.IO tab'
3. Scroll down to 'To the button called connect and click'
4. See error

**Expected behavior**
A message telling me that the connection was successful and to be able to test.

[2021-03-30 00:35] liyasthomas commented on #1570
This seems like an issue with `CORS` restrictions.

[`Read more →`](https://socket.io/docs/v3/handling-cors/)

**Troubleshooting**

Run the following command:

[code]

should return something like:

[code]

If that’s not the case, please check that your server is listening and is actually reachable on the given port.

[2021-03-30 03:37] jmcdo29 commented on #1570
I was just debugging this as well. Make sure your socket.io version is at least v3 (as [socket.io v2 and v3 are not fully compatible](https://socket.io/docs/v4/migrating-from-2-x-to-3-0/), but [socket.io v3 and v4 are](https://socket.io/docs/v4/migrating-from-3-x-to-4-0/))

[2021-03-30 19:35] liyasthomas commented on #1570
Feel free to re-open if issue is persisting even after updating `Socket.io` to latest version.

[2021-03-30 23:44] AndrewBastin commented on #1544
@JayceDugan thanks for the implementation. In a recent commit, we added drop-in support for TypeScript in the project.  I think the Codegen system is a good candidate to support TypeScript.

It would be awesome if you could port and continue the work on TypeScript. If not, that is fine too ^_^

[2021-03-31 00:08] JayceDugan commented on #1544
Hey @AndrewBastin,

Thanks and that's a brilliant idea, more than happy too.

Also @liyasthomas I've been meaning to get back to you, sorry work has been hectic lately. Released multiple large feature sets in the last two weeks so I've been MIA. I read your comments, including the feedback in the merges & the new branch and definitely agree.

I'll be out of everything by the end of this week and l

[2021-03-31 15:54] lmm-git opened #1573 "Missing docs for using environment variables"
When we started using Hoppscotch today, we were not able to find documentation on how to use the environment variables correctly. In the end, we found https://github.com/hoppscotch/hoppscotch/issues/1029#issuecomment-731157816 which solved the issue for us, but we lost certainly about 1 hour until we found that comment.

**Describe the solution you'd like**
It would be nice to have some kind of do

[2021-03-31 16:30] liyasthomas commented on #1573
An application wide support for environment variables is coming soon. What we've right now is much more like a proof of concept. Anyways thanks for raising the concern. We'll keep an eye out to work on this feature.

And regarding the documentation, well as of now Hoppscotch don't have a definite documention page apart from our [Wiki](https://github.com/hoppscotch/hoppscotch/wiki). We're looking f

[2021-03-31 18:21] TheSalarKhan commented on #413
I think there should be an optional build script for people who want to use this in electron. I'm interested in hoppscotch not because its a web app, but because its open source. <3

There are a few problems with running it in the browser because we can't make calls to localhost for example. And for api-servers that don't set cors headers it also is not usable.

I have used electron to build a per

[2021-03-31 20:43] liyasthomas commented on #413
Yes you can. Install our official browser extension to access localhost endpoints. Links are in readme.

Turn on proxy mode from settings.

Let me know if there's any other issues.

[2021-04-01 13:12] liyasthomas commented on #1573
A minor update: We now have a documentation site up and running on [Hoppscotch Documentation]( https://docs.hoppscotch.io).

Website: https://docs.hoppscotch.io
Repository: https://github.com/hoppscotch/docs

We'll be updating documentation and move Wiki page completely to new website in couple of days. Let us know your feedbacks, suggestions and topics that need to be covered in documentation. Mo

[2021-04-01 21:32] andrestone commented on #870
Isn't the original issue about having some sort of format to store collections and their state, so these can be subject to version control?

I think that having a standard / portable format would enable a lot of great things. It would be amazing to iterate using the GUI, then consume the requests defined in the collections programmatically on CI.

Maybe this is already supported and I can't find i

[2021-04-02 02:16] liyasthomas commented on #870
We're working on a totally new state system (which is already implemented on some pages - #1560) and revamped collections protocol that would eventually solve this issue. Which allow us to version control collections and most importantly "Teams collaboration" with version control. And sync with gist or a JSON file was part of a proof of concept. Down the line as we work on https://github.com/hopps

[2021-04-02 07:51] andrestone commented on #870
Thank you for the info.

It still feels like having a file protocol for collections is a separate issue. IMHO, synchronizing workspaces is a feature that might make use of the file protocol, but not necessarily.

[2021-04-03 11:24] TheSalarKhan commented on #413
Hey @liyasthomas thanks a ton. I really did not know about the extension. Also if I install the browser extension and turn on the proxy will I be able to interface with IPs in my local network or is the localhost the only possible endpoint?

[2021-04-03 12:13] liyasthomas commented on #413
Proxy and extension can't work at once. To access local server = use browser extension. To access CORS restricted endpoints = turn on proxy mode. Proxy mode will mask your IP with that of the Proxy. Browser extension triggers the request from local server.

[2021-04-03 13:57] TheSalarKhan commented on #413
Okay. Well in my usecase I have to interact with multiple services that are in development, usually they are on my localhost but sometimes they are on endpoints that are not publically accessible so can't use a proxy for that case. And turning off cors on them before accessing

So there are use cases where running in the browser doesn't cut the mustard. But I'm really happy with this tool, and I'm

[2021-04-06 07:53] JayceDugan commented on #1544
Hey guys I'm out of things now,

@AndrewBastin Would you by any chance be able to propose a sample structure you might use for the codegens?

I've played around with typescript, played around being the accurate term and wouldn't be able to say I have extensive knowledge, so if you're able to provide any direction around how you may like things or similar structures it'd be much appreciated.

[2021-04-06 08:54] snapeur82 commented on #1544
Yesss love

Le mar. 6 avr. 2021 04 h 53, Jayce Dugan ***@***.***> a
écrit :

[2021-04-08 08:02] chakrihacker opened #1582 "Importing curl doesn't add query parameters"
**Describe the bug**
Importing curl doesn't add query params to the URL

**To Reproduce**
Steps to reproduce the behavior:
1. From any chromium browser network inspect select any api request and choose copy as curl
2. Click on import curl
3. After importing query params are not available either on url or on params list

**Expected behavior**
Query params should get added to parameters list

**Scre

[2021-04-08 10:41] jatin33 opened #1583 "Send multiple requests to single url in batch while testing"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to send request to same url endpoint multiple times

**Describe the solution you'd like**
It would be great if we can build something where you can provide how many times a request should be triggered and then it automatically sends request at that mentioned url endpoint and show the api response o

[2021-04-08 10:49] liyasthomas commented on #1583
Thanks for the feature suggestion. You're referring to "chain multiple requests" and "show responses in batch" right? We'll consider this feature request ASAP.

[2021-04-08 11:18] liyasthomas commented on #1582
Issues has been identified. We're working on a hot fix.

[2021-04-08 11:31] #1582 closed

[2021-04-08 11:36] liyasthomas commented on #1582
I've made a quick fix. It might take few mins to reflect the changes on production. Let me know if this resolved your issue.

[2021-04-08 12:24] snapeur82 commented on #1582
Yesss good

Le jeu. 8 avr. 2021 08 h 37, Liyas Thomas ***@***.***> a
écrit :

[2021-04-08 16:04] jatin33 commented on #1583
Yes exactly

[2021-04-08 16:06] liyasthomas commented on #1583
@jatin33 yes you can give it a try. Let me know if you need any help from our end. Assigning this issue to you.

[2021-04-08 16:08] jatin33 commented on #1583
That sounds great, thanks @liyasthomas

[2021-04-08 18:03] snapeur82 commented on #1583
Marci lov Bot Spike frech for me plaise

[2021-04-08 18:05] snapeur82 commented on #1583
Love wour programme

Le jeu. 8 avr. 2021 13 h 09, Jatin Panjwani ***@***.***> a
écrit :

[2021-04-10 08:03] #1435 closed

[2021-04-10 14:32] jainal09 opened #1587 "Getting Uncaught TypeError when importing postman json"
**Describe the bug**
A clear and concise description of what the bug is.
I was import a postman collection and got
the following error
`Uncaught TypeError: Cannot read property 'raw' of null
    at f.parsePostmanRequest (3a861b0.modern.js:formatted:5573)
    at f.parsePostmanCollection (3a861b0.modern.js:formatted:5548)
    at FileReader.e.onload (3a861b0.modern.js:formatted:5486)
`
[hoppscotch.io

[2021-04-10 14:34] liyasthomas commented on #1587
What was the Postman collection version?

[2021-04-10 16:38] jatin33 commented on #1583
@liyasthomas needed to discuss its design,

For starters, I think we can add a kebab menu on top of send button where we can provide options to configure request being sent
something like this
<img width="1064" alt="Screenshot 2021-04-10 at 10 03 05 PM" src="https://user-images.githubusercontent.com/13780467/114277380-8a16b980-9a48-11eb-83b2-6f1c12f834c6.png">

and when one of the options selected

[2021-04-10 16:40] liyasthomas commented on #1583
@jatin33 this looks simple and very straightforward. I liked it. You can proceed with this design.

[2021-04-10 16:40] jatin33 commented on #1583
great thanks, will try implementing this

[2021-04-10 19:14] snapeur82 commented on #1583
Yessss

Le sam. 10 avr. 2021 13 h 41, Jatin Panjwani ***@***.***> a
écrit :

[2021-04-10 19:33] jainal09 commented on #1587
V 2.1

[2021-04-10 19:35] jainal09 commented on #1587
Okay so when I imported the v2 collection this time there was nothing on console but there was a notification in the web app in red "Import Failed"

[2021-04-10 19:41] jainal09 commented on #1587
This is a test collection (v2)
[test_collection.postman_collection.zip](https://github.com/hoppscotch/hoppscotch/files/6290623/test_collection.postman_collection.zip)
So, v2 fails to import of the above collection however 2.1 of this test collection is imported. But sadly my original collection fails to import.

[2021-04-10 19:52] jainal09 commented on #1587
Okay, so upon further testing I have came to the root cause of the issue!

[test.postman_collection.zip](https://github.com/hoppscotch/hoppscotch/files/6290644/test.postman_collection.zip)
This above collection of V2.1 Fails too. The reason is because it has empty request inside it.
When I mean empty request I mean nothing inside the requests.
![image](https://user-images.githubusercontent.com/341

[2021-04-10 19:58] jainal09 commented on #1587
So, this line https://github.com/hoppscotch/hoppscotch/blob/b9deec1487aadc4b7f14d69e7e70568c40c016e0/components/collections/ImportExport.vue#L337
Should first check if `url.raw` is not null.
Hence to prevent `Cannot read property 'raw' of null`.

[2021-04-10 22:26] snapeur82 commented on #1587
Yesss

Le sam. 10 avr. 2021 16 h 58, Jainal Gosaliya ***@***.***> a
écrit :

[2021-04-10 22:27] snapeur82 commented on #1587
Le sam. 10 avr. 2021 19 h 26, Pierre-Luc Levesque <
***@***.***> a écrit :

[2021-04-11 15:07] jainal09 commented on #1587
@snapeur82 didnt get you man?

[2021-04-11 15:12] liyasthomas commented on #1587
Looks like a spam account.

[2021-04-11 15:15] liyasthomas commented on #1587
@jainal09 can you verify and raise a PR with this fix.

[2021-04-11 15:24] jainal09 commented on #1587
will try!

[2021-04-13 15:19] liyasthomas commented on #1497
@nelsontky  I can't reproduce this issue in [hoppscotch.io](https://hoppscotch.io) anymore. Can you verify this error exists?

[2021-04-14 04:09] jainal09 commented on #1587
https://github.com/hoppscotch/hoppscotch/pull/1593

Done

[2021-04-14 04:44] #1587 closed

[2021-04-14 07:45] baaart opened #1598 "[feature]: Mock Server"
Is there a plan to have mock server option in similar way as it is done in Postman?

It would be nice to have all in one testing tool (API testing + mocking APIs), I was looking for this option in hoppscotch, but i don't see it anywhere.

[2021-04-14 07:54] liyasthomas commented on #1598
As of now, there's no such feature to create mock APIs from Hoppscotch. But would definitely consider this if there's a major request for this feature.

[2021-04-14 18:28] kiriti999 opened #1601 "Support importing Postman Environments"
**Describe the bug**
Unable to import or delete environment json variables properly from postman

The imported env variables has blank labels and not able to delete them

**To Reproduce**
Steps to reproduce the behavior:
1. Go to environments
2. Click on imports and import a json
3. Imported variables doesn't have labels
4. Try to delete them. The model pop up "Yes" button doesn't work
5. Also una

[2021-04-15 01:48] liyasthomas commented on #1601
Hi @kiriti999
As of now, Hoppscotch Environment importer doesn't support Postman Environments completely. It's actually possible and I'll look into this implementation ASAP.

[2021-04-15 04:51] haupv1m opened #1603 "Environment variables do not bind into request parameters"
**Describe the bug**
I'm using hoppscotch and want to binding environment variable value into request query parameters. However, when using environment variable witth double angular brackets, it's not binded

**To Reproduce**
- Setup as ![image](https://i.imgur.com/sCUAvDF.png)
- Check request on server side

**Expected behavior**
- apiToken environment variable value is binded into `t` request pa

[2021-04-15 07:12] liyasthomas commented on #1603
You've to change `Parameter type` from `Query` to `Path`.

<img width="895" alt="Screenshot 2021-04-15 at 12 41 01 PM" src="https://user-images.githubusercontent.com/10395817/114828736-1a256d80-9d7f-11eb-9938-bb88d6eb7551.png">

[2021-04-15 08:51] haupv1m commented on #1603
@liyasthomas Sorry for missing context, I want to binding environment variable into request **query params** not **path params** (parameter type must be `Query`) (as you can see in picture)

[2021-04-15 09:01] liyasthomas commented on #1603
Did you add environments from sidebar?

[2021-04-15 09:20] haupv1m commented on #1603
@liyasthomas Yes, from my pre request-script
[code]

[2021-04-15 10:05] #1603 closed

[2021-04-15 10:05] liyasthomas commented on #1603
<img width="538" alt="Screenshot 2021-04-15 at 3 33 15 PM" src="https://user-images.githubusercontent.com/10395817/114851892-23223900-9d97-11eb-9171-d15ec9eaa277.png">

[2021-04-15 15:25] jatin33 commented on #1598
this will be a great feature, if we try something like this https://mockend.com/
@liyasthomas any thoughts

[2021-04-18 06:02] #1497 closed

[2021-04-19 12:28] tygalive opened #1606 "Installing as a PWA, Requests fail untill you install chrome extension"
**Describe the bug**
All requests fail until you install the chrome extension and it doesn't tell you why the requests are failing, instead says:

Setup a proxy and press f12 to view the log

And the log doesn't have any useful information. This might give the impression to first time users that it does not work and might be better to first test for the chrome extension and show an appropriate mes

[2021-04-19 12:38] liyasthomas commented on #1606
By default, browser extension is not required to make API requests to hosted API endpoints. I guess you're requesting locally (`localhost`) served API endpoints which why request failed without browser extension.

We already have a similar issue ticket on #1376 where we're discussing better approaches to let the user know what went wrong and how to fix it. Please continue discussion on that thread

[2021-04-19 12:38] #1606 closed

[2021-04-19 14:28] tygalive commented on #1606
![Screenshot from 2021-04-19 16 24 10](https://user-images.githubusercontent.com/19529979/115252759-0c2f6e00-a12c-11eb-840d-59fa82e3fc35.png)
Here is a screenshot to help clarify. no extension and that's the message i get plus the url to a remote server.

[2021-04-19 14:30] liyasthomas commented on #1606
You've to use `https://` (HTTPS) protocol. Oru else, try enabling Proxy mode from Settings > Proxy which allows you to request `http://` endpoints.

[2021-04-19 14:40] tygalive commented on #1606
Ok have noticed the other issue. the error messages are actually the same. Would have loved to test my api's through a mobile device when not near a pc, (guess won't be possible if extension is required).

Have attached a screenshot after clearing the console and hitting send with https
![Screenshot from 2021-04-19 16 30 44](https://user-images.githubusercontent.com/19529979/115254017-3e8d9b00-a12

[2021-04-19 14:46] liyasthomas commented on #1606
Extension is only required to access APIs hosted in local server. Everything else can be fix by turning on Proxy Mode from https://hoppscotch.io/settings

[2021-04-19 15:17] tygalive commented on #1606
Had tried with https.

Though looking at the bigger picture here, a user installs tries a url and gets above message. the first thing that comes to their mind is this extension does not work. The end result is most likely high downloads but low user retention. After going through [#1376](https://github.com/hoppscotch/hoppscotch/issues/1376) i realised there are a few things we can do to go around

[2021-04-19 15:31] liyasthomas commented on #1606
As per the error message you got (https://github.com/hoppscotch/hoppscotch/issues/1606#issuecomment-822510787), the toast clearly shows to turn on Proxy mode for non https requests. Clicking on "Yes" will take you to Settings page from where you can turn on Proxy mode.

And turning on the Proxy would fix this instantaneous. As simple as that.

Also, you don't need to setup your own proxy for Proxy

[2021-04-19 15:45] tygalive commented on #1606
Ok. guessing this issue will never be solved.

Just tried the proxy with extension disabled and another error message. Was just expressing my first impressions. Not sure how proxies work but i use a mobile connection and incoming requests are automatically blocked by my service provider.

Have a good a day. thanks for your time.

[2021-04-20 03:40] thazsobral opened #1609 "HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL: localhost:3000/
2. Click on Send
4. See error

**Expected behavior**
expected the return of a GET request.

**Screenshots**
![image](https://user-images.githubusercontent.com/30708148/115333907-7239e680-a168-11eb-834d-963083144325.png)
![image](https://user-imag

[2021-04-20 03:49] liyasthomas commented on #1609
To access `localhost`, you need to install [Hoppscotch Browser extension](https://github.com/hoppscotch/hoppscotch-extension). Let me know if it solves your issue.

[2021-04-21 23:22] takos22 opened #1611 "PATCH request method support"
**Is your feature request related to a problem? Please describe.**
I usually use PATCH requests in my APIs when I don't want to edit a whole resource but just part of it, but I can't test it with hoppscotch.

**Describe the solution you'd like**
Add PATCH method to methods list.

**Describe alternatives you've considered**
A way to add custom methods: at the bottom of the method list, add a choice

[2021-04-21 23:24] takos22 commented on #1611
Never mind, I was on mobile and didn't see the drop down was scrollable. 🤦‍♂️

[2021-04-21 23:25] #1611 closed

[2021-04-22 01:43] illeagalName opened #1612 "How do I use the environment variables? Is there a demo?"

[2021-04-22 01:49] illeagalName commented on #1612
aha,I know how to use it, I use this notation  {{}}   all the time, so I'm going to use this notation <<>>

[2021-04-22 02:35] liyasthomas commented on #1612
Glad you figured it out. Here's the Wiki page for pre-request scripts and hiw to set environments: https://github.com/hoppscotch/hoppscotch/wiki/Pre-Request-Scripts

Closing this issue.

[2021-04-22 02:35] #1612 closed

[2021-04-22 02:44] liyasthomas commented on #1609
Feel free to re-open this issue if installing extension doesn't resolve tje above mentioned issue.

[2021-04-22 02:44] #1609 closed

[2021-04-22 07:36] cddehsy opened #1613 "有mac软件吗，好像没看到啊"

[2021-04-22 07:57] liyasthomas commented on #1613
抱歉，只有一个Web应用程序：https://hoppscotch.io，但我们将在未来几周内发布本机版本。

[2021-04-22 07:57] #1613 closed

[2021-04-22 12:12] liyasthomas commented on #1598
@jatin33 thanks for your suggestion. I'll look into this asap.

[2021-04-22 18:46] AllanOricil opened #1614 "Websocket (socket.io) not connecting"
**Describe the bug**
I have a websocket running alongside an express app and when I click "connect" in hoppscotch it displays an error message, but in the express side I can see a "connected" log displayed. So it means hoppscotch is hitting the websocket but it fails to retain the connection

![image](https://user-images.githubusercontent.com/55927613/115769089-0ee7c880-a3a3-11eb-99ae-9bfada26f2e4

[2021-04-22 19:03] AllanOricil commented on #1614
This other tool connects without a problem. Maybe it is because you are using socket.io 3? If so, there should be an option to choose socket.io version

![image](https://user-images.githubusercontent.com/55927613/115771416-cda4e800-a3a5-11eb-9e02-e0a79be2ad90.png)

[2021-04-22 19:36] liyasthomas commented on #1614
Thanks for reporting the issue. We'll take a look at it and get back to you.

[2021-04-23 18:46] AllanOricil commented on #1614
I think you will have three builds one for each socketio client version (2,3 4)  and then give the option for the user to switch between them. You can have routes like

../socketio/3
../socketio/2
../socketio/4

Then on your dns you configure a CNAME for each build when the user reaches that particular route. The downside I see is that it will require a page reload :/

[2021-04-23 18:52] AllanOricil commented on #1614
Oh I just found that we can have multiple versions of the same dependency using aliases. I just don't know if the imports will use the aliases or the lib.

[2021-04-26 17:17] kiriti999 commented on #1601
Hi @liyasthomas Any update?

[2021-04-27 05:06] liyasthomas commented on #1601
I suppose this will require some more time since the way Postman uses the environment variable notaions is different than that of Hoppscotch. In Hoppscotch we prefer `<<variable_name>>` whereas in Postman it's `{{variable_name}}` notation. We'll look into this on a later period. Thanks for the patience.

[2021-04-27 15:53] iwaduarte opened #1619 "Add websocket headers on initial connection"
**Is your feature request related to a problem? Please describe.**

The Web Socket implementation is very simple. Would be nice if I could configure the **headers** on the initial request (Upgrade) so I could use with cookies or tokens for authentication/authorization.

[2021-04-27 16:05] liyasthomas commented on #1619
Let me know if these discussion threads helps you:
- https://github.com/hoppscotch/hoppscotch/issues/321#issuecomment-562377333
- https://github.com/hoppscotch/hoppscotch/issues/321#issuecomment-570662532
- https://github.com/hoppscotch/hoppscotch/issues/933#issuecomment-722711714

[2021-04-27 17:14] iwaduarte commented on #1619
Unfortunately it does not. And also another user pointed that using the tricky with (username/password) does not work anymore.

For my case I work with the battle tested cookies with check on the Origin (to prevent CRSF-Cookies). Custom headers are also good. The initial connection it is HTTP so would be interesting to have.

[2021-04-27 19:56] oshoham opened #1620 "Support setting the Sec-WebSocket-Protocol header on WebSocket connections"
**Is your feature request related to a problem? Please describe.**
I sometimes use the `Sec-WebSocket-Protocol` header to authenticate WebSocket endpoints, and I think it'd be great if Hoppscotch supported setting that particular header on WebSocket connections.

I'm aware of the existing discussions around setting headers on WebSocket connections and that that's not likely to happen, but `Sec-Web

[2021-04-28 01:16] liyasthomas commented on #1620
Will look into this.

[2021-05-02 20:05] iamtabrezkhan commented on #1507
Hi guys, any update on this? Has this been addressed? I would like to help and contribute to this.

[2021-05-02 23:17] liyasthomas commented on #1507
Hi @iamtabrezkhan feel free to give it a try. Contributions are welcome 🙌.

[2021-05-05 02:57] #1507 closed

[2021-05-06 02:09] Tarrowren opened #1628 "html lang="en""
![image](https://user-images.githubusercontent.com/35626141/117232050-02f41000-ae53-11eb-903b-c9ae95c4ef1c.png)

There are annoying popup when using other languages

![image](https://user-images.githubusercontent.com/35626141/117231690-4bf79480-ae52-11eb-97f8-729cb5e2b7ed.png)

[2021-05-06 03:30] liyasthomas commented on #1628
This is not an Hoppscotch service, instead a service by Chrome browser. You can turn this off from Browser Settings. Please refer these threads on how to turn it off:

- [Chrome Disable “Translate This Page?” pop-up, but keep translation feature](https://superuser.com/questions/1418065/chrome-disable-translate-this-page-pop-up-but-keep-translation-feature)
- [How to disable the popup of Google tra

[2021-05-06 03:30] #1628 closed

[2021-05-06 08:20] bhavukkalra opened #1629 "Helper Module Request- .env environment variable check"
Is there a possibility to add Helper Module to the [Helper's Directory](https://github.com/hoppscotch/hoppscotch/tree/main/helpers) which checks the current environment upon which the work is being done.

The env file could have a variable **APP_ENV** , which could take values "production", "development", "undefined"(If Nothing is provided)

The code for the test and configuring the .env path coul

[2021-05-06 09:02] liyasthomas commented on #1629
@AndrewBastin what do you think? I can't find any implications with this flexibility in Hoppscotch as of now.

[2021-05-06 13:19] AndrewBastin commented on #1629
Umm, we already have `process.env.CONTEXT` exposed to the app which allows you to check whether the app is running on dev mode or production.

If that is not what you meant ? Can you elaborate more ?

[2021-05-07 06:13] bhavukkalra commented on #1629
I actually was trying to reproduce the development environment on my local machine and was following the `.env.example` for entering my own firebase credentials, which I did and got the app running but I seem to be having difficulties finding this `CONTEXT` variable in the `.env.example` [file](https://github.com/hoppscotch/hoppscotch/blob/main/.env.example) in the root directory as it didn't spec

[2021-05-07 06:28] #1629 closed

[2021-05-09 01:32] liyasthomas commented on #1598
Hi @bhavukkalra I'd love to see your mvp. Also, we're still refining the feature and it's architecture. We'll think about this and let you know.

[2021-05-10 15:29] bhavukkalra commented on #1598
Sorry for the late reply @liyasthomas, about the MVP(for what will be designed for Hoppscotch to incorporate MockServer).
Could you please go through the workflow(Tentative) and suggest If there are any ambiguities or corrections that can be made to allow code Reusability and Stability.
[Tentative Architecture for MockServer](https://drive.google.com/file/d/1S7FjqB7gGN0WtFRAT63cnFclia7aoWAG/view?u

[2021-05-13 08:23] mahajan1217 opened #1637 "Feature [GitHub Externship]:"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when I am not able to link third-party tools or SAAS applications using API because there is no backend in that application to do that. Suppose I am working on WordPress and I want to include a third-party website but the company is too new that they

[2021-05-13 10:19] liyasthomas commented on #1637
@mahajan1217

I'm not sure if "Issues" is the right place for you to add this suggestion. The "Issues" section is strictly reserved for bugs and feature requests directly related to Hoppscotch web client.

If you'd like to propose a GitHub externship proposal, please submit them in "[GitHub Externship](https://github.com/hoppscotch/hoppscotch/discussions/categories/github-externship)" discussions

[2021-05-13 10:19] #1637 closed

[2021-05-13 15:55] shadiramadan commented on #580
@AndrewBastin is there a status update or ETA on teams?

[2021-05-13 15:57] AndrewBastin commented on #580
Hopefully in the coming days!

Maybe even coming tomorrow 😙

[2021-05-14 17:09] bhavukkalra opened #1639 "The Build Not accepting the custom Environment Variables but building on defaults"
**Describe the bug**
The `fb.js` file in [Helpers Directory](https://github.com/hoppscotch/hoppscotch/blob/main/helpers/fb.js) can be seen importing variables from `.env` file. But the command `process.env.GENERAL_VARIABLE_NAME` seems to not be working and The app when cloned and custom environment variables(APP_ID, API_KEY etc) are inserted into the .env file. The file doesn't recognises the inpu

[2021-05-15 00:07] liyasthomas commented on #1639
Hi @bhavukkalra, thanks for reporting this issue.
We're using [NuxtJS RuntimeConfig properties](https://nuxtjs.org/docs/2.x/configuration-glossary/configuration-runtime-config) to fetch environment variables from `.env` file in runtime.

Reference in `nuxt.congif.js`
https://github.com/hoppscotch/hoppscotch/blob/main/nuxt.config.js#L382-L399

[Runtime congif](https://nuxtjs.org/docs/2.x/directory-

[2021-05-15 07:30] satyam-52 commented on #1376
This error can be solved altogether by using a CORS proxy which you can create by yourself. It's quite easy actually. You can use the code <a href="https://github.com/Rob--W/cors-anywhere/">here</a>. Simply use these commands:
[code]

After you've done this just append the URL you want to fetch from to your proxy URL. For example:

[code]

I hope this helps.

[2021-05-15 08:53] liyasthomas commented on #580
Hi everyone,

### **Today we're excited to announce that the most awaited "Teams collaboration" feature is now out for [Beta users](https://forms.gle/XPYDMp8m6JHNWcYp9).**

# **[Join Hoppscotch Teams β waiting list now →](https://forms.gle/XPYDMp8m6JHNWcYp9)**

We'll be accepting 100 users per week ❤️

Closing this PR on behalf of #1641

[2021-05-15 08:53] #580 closed

[2021-05-15 09:40] ziaulrehman40 commented on #580
This is cool @liyasthomas , the most awaited feature, finally made it in! You guys are awesome 🎉

Any timeline/plan (even tentative) for its final release out of beta?

[2021-05-15 09:55] liyasthomas commented on #580
If everything goes alright - probably within a week.

[2021-05-15 14:05] AndrewBastin commented on #580
I would like to use this opportunity to thank, @oshhh @IshaGupta18, @rohanrajpal and @raghav0307 for their amazing work on helping make Teams a reality! They worked on the implementation of Teams in the Hoppscotch web app.

Thank you so much guys! 🥰

[2021-05-15 17:03] rohanrajpal commented on #580
It was a great learning experience. Loved working on it.

[2021-05-15 21:39] AndrewBastin commented on #1376
@satyam-52 I don't know how this fits into the conversation here exactly.

Hoppscotch already has a built in proxy that circumvents this issue. You can enable it in the Settings page.

[2021-05-15 22:00] satyam-52 commented on #1376
@AndrewBastin Just re-read the problem, I just misinterpreted. Will delete my comment :)

[2021-05-16 06:53] #1639 closed

[2021-05-16 06:59] liyasthomas commented on #1639
Hi @bhavukkalra, we've pushed a fix along with a rollback to the `@nuxt/dotenv` package. `.env` file from the root directory should work now.
You can find a sample `.env.example` file in the root directory with our default environment keys. Rename this file to `.env` and replace its values with your Firebase config, GTM, and GA keys.

Let me know if you run into any other issues.

[2021-05-18 04:48] sourabhmandal opened #1645 "Add benchmarking to url routes"
While developing and testing I would also like to know various performance metrics response time, CPU Usage, Memory Usage, Request Per Minute (RPM), Average and Max Latency, etc

**Describe the solution you'd like**
Get benchmark metrics of various endpoints and visualize them in the graphs.

**Additional context**
A reference solution that i came accross - [bench-routes](https://github.com/bench-

[2021-05-18 05:47] liyasthomas commented on #1645
Can you explain a little more about the features?
Like monitoring and analyzing performance etc need to be done at the server end right? How Hoppscotch can be of any help here?

[2021-05-18 08:56] officalshubhamrawal opened #1649 "Feature [GitHub Externship]: Synthetically Generate Data"
**Is your feature request related to a problem? Please describe.**
It's difficult to test out API speed on a large data set or with real-time data with n rows and different types.

**Describe the solution you'd like**
We can boost data-driven testing by creating synthetic data like addresses, security numbers and more or we can import the data from a CSV file. Users can create the fields for the n

[2021-05-18 09:31] liyasthomas commented on #1649
Hi @officalshubhamrawal,
Kindly add your GitHub Externship proposal in [Discussions](https://github.com/hoppscotch/hoppscotch/discussions) > [GitHub Externship](https://github.com/hoppscotch/hoppscotch/discussions/categories/github-externship) category.

Refer our [proposal template](https://github.com/hoppscotch/hoppscotch/discussions/1616) for format.

[2021-05-18 09:31] #1649 closed

[2021-05-18 13:47] sourabhmandal commented on #1645
since hopscotch is web-based we can add benchmarking on the server by calling server hosted routes

[2021-05-18 13:59] sourabhmandal commented on #1645
if API URL is hosted locally (localhost:8000) then the app shows limited stats like CPU usage, memory usage which we can get locally. but if hosted in server and a hosted API is called we app would give full-blown metrics.

[2021-05-18 14:30] gautamtiwari007 opened #1652 "Feature [GitHub Externship]:"
EACH AND EVERY APPLICATION SHOULD HAVE IT'S NEWSLETTER.

I would like to add a newsletter feature to the website so that the subscribers get an idea of the achievements and works of the company. The newsletter can be a montly, quaterly or as the people like.

If not the newsletter then there should be portion of website which shows the information to be shared in the newsletter.

[2021-05-18 14:34] gautamtiwari007 opened #1653 "Feature [GitHub Externship]:"
SENDING THE KEY VALUE PAIRS DIRECTLY TO THE BODY.

There should be a feature in the site that would send the key value pairs directly to the body while testing APIs.

No alternative to that feature.

[2021-05-18 14:37] gautamtiwari007 opened #1654 "Feature [GitHub Externship]:"
DARK-MODE & LETTER SIZE

There are many features such as dark-mode which should be in the home tab directly and not in the settings. It took me a while searching the dark mode feature. Also the size of letters look very large there should also be a feature which could adjust the letter size according to the user' s eyesight.

No alternative to this feature.

[2021-05-18 14:39] gautamtiwari007 opened #1655 "Feature [GitHub Externship]:"
ADs

I think a few ads or google ads won't hurt anyone rather than helping the site via finance.

If the developer community doesn't like the idea then the fund raisers are ok.

[2021-05-18 15:44] gautamtiwari007 commented on #1655
Done.

[2021-05-18 15:44] #1655 closed

[2021-05-18 15:45] #1654 closed

[2021-05-18 15:45] #1653 closed

[2021-05-18 15:45] #1652 closed

[2021-05-19 07:08] liyasthomas commented on #1645
How? I mean Hoppscotch is a 100% client side application and makes requests to an API endpoint. I'm having trouble understanding how we get metrics like CPU Usage, Memory Usage, Request Per Minute (RPM), Average and Max Latency, etc without having access to server which is obviously not going to happen for an API client.

[2021-05-19 07:08] #1645 closed

[2021-05-20 05:41] rohit-raje-786 opened #1661 "Project not running on local machine."
Even after installing all the dependencies and following all the procedure for the running the project on local environment the project is not running on my local machine. Attaching the image of the same below.
![image](https://user-images.githubusercontent.com/61861303/118925242-03fd6500-b95c-11eb-8ff4-53f88dc159e0.png)
![image](https://user-images.githubusercontent.com/61861303/118925273-0eb7fa0

[2021-05-20 06:19] liyasthomas commented on #1661
Is there any logs in browser console?

I guess you missed the [first step](https://github.com/hoppscotch/hoppscotch#developing) which is to set-up environment variables for local development.

Rename `.env.sample` to `.env` and restart your local development server. Also feel free ro replace environment variables if you'd like to your own Firebase instance.

[2021-05-20 06:19] #1661 closed

[2021-05-20 08:01] GauthierPLM opened #1662 "Environment name is not cleaned in "New environment" popup"
**Describe the bug**
When two environments are created one after the other, the "name" field is not reset between creation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Environment page.
2. Create a new environment named "Test" and validate.
3. Click on the "new" button to create an environment: "Test" is already set as name.

**Expected behavior**
The field should be cleaned when t

[2021-05-20 08:21] liyasthomas commented on #1662
Thanks for this suggestion. I'm working on a fix.

[2021-05-20 08:50] #1662 closed

[2021-05-20 08:59] liyasthomas commented on #1662
The fix should be live - please refresh to update the change.

[2021-05-20 09:19] GauthierPLM commented on #1662
I confirm it now works as expected. Thank you! 👍

[2021-05-20 12:15] soumallyadev07 opened #1663 "Feature [GitHub Externship]: Graphical Interface for API Response Visualization"
**Is your feature request related to a problem? Please describe.**
When the response data is large and consists of multiple dictionaries and sub-dictionaries, it is very difficult to understand and use the data. Due to this, the subsequent development gets delayed or the code gets complicated to match the complexity of the response object.

**Describe the solution you'd like**
Since we can't chang

[2021-05-20 12:26] liyasthomas commented on #1663
Please submit your proposal under Discussions > [GitHub category](https://github.com/hoppscotch/hoppscotch/discussions/categories/github-externship)

[2021-05-20 12:26] #1663 closed

[2021-05-20 13:23] codati opened #1667 "Can not run docker image"
hi, thx for read

**Describe the bug**
infini loader

**To Reproduce**
run:
[code]
and go to `http://localhost:3000`

**Expected behavior**
i can use app ^^

**Screenshots**
![image](https://user-images.githubusercontent.com/2631966/118985193-c6093c80-b96d-11eb-993d-dfd9fa2479cf.png)

[code]
**Desktop (please complete the following information):**
 - OS: debian 11.0
 - Browser: Chromium
 - Version

[2021-05-20 14:05] liyasthomas commented on #1667
Looks like a duplicate of #1661
Please look at this comment: https://github.com/hoppscotch/hoppscotch/issues/1661#issuecomment-844741363

[2021-05-20 15:19] codati commented on #1661
ok thx i'm testing

[2021-05-20 15:24] liyasthomas commented on #1661
I'm checking whether is it possible to pack a `.env` in the docker image. I'll update once I get a successful result.

[2021-05-20 15:26] codati commented on #1661
thank you

[2021-05-26 17:53] UdattaChowdhury commented on #902
Hey!! What exactly needs to be done?

[2021-05-26 22:01] TranquilMarmot opened #1671 "Docker container doesn't work ("Your API key is invalid, please check you have copied it correctly")"
**Describe the bug**
Running hoppscotch in a docker container doesn't work.

**To Reproduce**
Following the steps here: https://github.com/hoppscotch/hoppscotch#docker
- `docker pull hoppscotch/hoppscotch`
- `docker build -t hoppscotch/hoppscotch:latest .`
- `docker run -p 3000:3000 hoppscotch/hoppscotch:latest`
- Visit `http://localhost:3000/`

**Expected behavior**
- See hoppscotch

**Actual beh

[2021-05-27 01:14] liyasthomas commented on #1671
Hi @TranquilMarmot sorry this happened.
In readme there's ba Step 0: Settings up environment variables for local development set-up which you can [find here](https://github.com/hoppscotch/hoppscotch#developing)

Please follow how you can do it with Docker image in this issue comment: https://github.com/hoppscotch/hoppscotch/issues/1667#issuecomment-845238480

Let me know if you still have any issu

[2021-05-27 14:08] #1671 closed

[2021-05-27 16:16] GerardPaligot opened #1672 "Self hosting hoppscotch"
Hello!

I would like to create a self host instance of hoppscotch on a Firebase project (I see this [wiki page](https://github.com/hoppscotch/hoppscotch/wiki/Hosting)) but I was surprised to see no backup of data in the serverless configuration.

After some search on the codebase, I can see a lot of GraphQL request to https://api.hoppscotch.io/graphql. Does it means that we can only self host the

[2021-05-27 16:35] liyasthomas commented on #1672
Hoppscotch's backend GraphQL APIs hosted on `api.hoppscotch.io/graphql` is a part of the unreleased Teams Collaboration feature. This API does not effect any other services of Hoppscotch web client.

Currently, Teams collaboration feature is only released to [Beta users](https://github.com/hoppscotch/hoppscotch/wiki/Teams) for testing purposes. And once we complete enough testing with beta users -

[2021-05-27 16:35] #1672 closed

[2021-05-27 20:00] GerardPaligot commented on #1672
Thanks @liyasthomas for all these information! I'll deploy the project on my Firebase and will deploy a new version when teams feature will be merged too.

[2021-05-29 04:33] isiit opened #1676 "run error "npm run dev""
ERROR  [BABEL] Note: The code generator has deoptimised the styling of D:\postwoman\hoppscotch-main\node_modules\ace-builds\src-noconflict\ace.js as it exceeds the max of 500KB.

 ERROR  [BABEL] Note: The code generator has deoptimised the styling of D:\postwoman\hoppscotch-main\node_modules\ace-builds\src-noconflict\worker-javascript.js as it exceeds the max of 500KB.

 ERROR  [BABEL] Note: The c

[2021-05-29 07:18] liyasthomas commented on #1676
Can you provide a full steps to reproduce the error and a screenshot of error?

Please use the issue template for reporting issues.

[2021-05-29 17:12] kaname-png opened #1679 "Upload files in request"
**Is your feature request related to a problem? Please describe.**
Solve the problem of making requests that require a file to be uploaded

**Describe the solution you'd like**
Enable file upload in the body of the POST request.

**Describe alternatives you've considered**
None.

**Additional context**
This is something that should be there since many api developers have endpoints where it is nece

[2021-05-29 17:20] liyasthomas commented on #1679
This feature has been implemented.
Instructions to upload file in `POST`, `PUT`, etc methods: https://github.com/liyasthomas/postwoman/issues/298#issuecomment-553470110

Possible duplicate of #298 - closing this issue.

[2021-05-29 17:20] #1679 closed

[2021-05-29 21:49] markblessing7 commented on #1679
Enable file to upload.

[2021-05-30 01:32] tharani247 opened #1680 "Feature [GitHub Externship]:"
**Creating a Welcome page for Hoppscotch**
There is no welcome page and it is unable to find the what the website is about if a welcome page with brief of hooppscotch website and its features and what it is used for then the end users will be easily able to know about our hoppscotch website

**Creating a Demo Tour for the website**
Even it is difficult to find the how the features work and what ar

[2021-05-30 01:32] tharani247 commented on #1680
These are features that I found which are not present in the website

[2021-05-30 01:52] sourabhmandal opened #1681 "runing in dev mode shows app always in loading state"
**Describe the bug**
while running the `npm run dev` and then launching `localhost:3000` in chrome. The loader keeps blipping infinitely.
**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/hoppscotch/hoppscotch.git
2. npm install
3. npm run dev

**Expected behavior**
The app should launch and show a landing page.

**Screenshots**
![image](https://user-images.githubus

[2021-05-30 03:01] liyasthomas commented on #1680
Can you submit the proposal in [GitHub Externship category](https://github.com/hoppscotch/hoppscotch/discussions/categories/github-externship) under Discussions section.

Feel free to use [this proposal template](https://github.com/hoppscotch/hoppscotch/discussions/1616).

[2021-05-30 03:01] #1680 closed

[2021-05-30 03:04] liyasthomas commented on #1681
Possible duplicate of #1661.
Please refer to https://github.com/hoppscotch/hoppscotch/issues/1661#issuecomment-844741363.

[2021-05-30 03:04] #1681 closed

[2021-05-30 03:05] #1676 closed

[2021-05-31 14:02] Harshita65 opened #1689 "Feature [GitHub Externship]:"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-05-31 14:02] #1689 closed

[2021-05-31 15:19] kaname-png opened #1691 "Error when saving requests with multipart/form-data content type"
**Describe the bug**
When creating a `multipart/form-data` content type request it works correctly, but saving the request and selecting again this saved request changes the content type to `application/json`, it is very annoying to be changing the content type all the time.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Create a request'
2. Click on 'Change content type to `multipar

[2021-05-31 15:22] liyasthomas commented on #1691
Sorry you faced such behavior. We'll look into this and get back to you as soon as possible.
Thank you for your patience.

[2021-06-01 09:11] davew94 commented on #580
Have been eagerly waiting for this feature for a while and great work for delivering. Any news on how beta has went and when this will be moved into production?

[2021-06-01 09:45] liyasthomas commented on #580
@davew94 we're working on delivering the best experience for our users. Please join the [beta program](https://hoppscotch.io/beta) and give us your feedbacks.

You can expect the Teams feature release in couple of weeks.

[2021-06-02 02:05] kaname-png opened #1699 "Error when creating a note with long text"
**Describe the bug**
When a note containing a long text string is created, the page layout is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Notes.'
2. Click on 'Create note and click on save.'
3. See error

**Expected behavior**
That the note is displayed correctly with its respective scrollbar.

**Screenshots**
![SKDi2TP1pQ](https://user-images.githubusercontent.com/5608497

[2021-06-02 02:50] #1699 closed

[2021-06-05 03:01] nelsontky commented on #1691
I was the guy who did the `multipart/form-data` feature. Maybe I could look into it!

[2021-06-06 10:12] #1691 closed

[2021-06-06 14:49] kaname-png opened #1704 ""multipart/form-data" in the list of content types"
**Is your feature request related to a problem? Please describe.**
No problem, but it would make it easier to choose the types of content in the requests.

**Describe the solution you'd like**
Show the content type "multipart/form-data" in the "Content types" list.

**Describe alternatives you've considered**
None.

**Additional context**
![image](https://user-images.githubusercontent.com/56084970

[2021-06-06 14:57] liyasthomas commented on #1704
Hi @kaname-png, `multipart/form-data` is already in the drop-down list. Since the list is sorted in alphabetical order -  `multipart/form-data` got hidden from the first fold.

Please try typing in the first few characters of your desired `content-type` in the input box and you'll get suggestions according to it. Here's a screenshot of how you can choose  `multipart/form-data` from the list (I typ

[2021-06-06 14:57] #1704 closed

[2021-06-06 15:02] kaname-png commented on #1704
Yes, that's why I was saying that it would be more accessible if that type of content always appeared in the list and not just by typing its name.

[2021-06-06 15:26] liyasthomas commented on #1704
Oh I see - thank you for the suggestion. I'll fix it ASAP.

[2021-06-06 15:28] liyasthomas commented on #1704
I've replaced the auto-complete input with a drop-down input. Now you just have to click and choose your desired `content-type`. Hope it helps. Let me know if this solves you issues.

[2021-06-06 22:28] bububibibmvjh opened #1705 "Pull bug report"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-06-07 00:06] #1705 closed

[2021-06-07 03:41] kaname-png commented on #1704
Yes, this solves my suggestion.

[2021-06-11 03:35] superFarmer opened #1713 "Why didn't I see the options in my hoppscotch? How to display the all functions like https://hoppscotch.io?"
![图片](https://user-images.githubusercontent.com/24667795/121626944-ffceee00-caa8-11eb-8759-84d82feadb2e.png)
![图片](https://user-images.githubusercontent.com/24667795/121626989-16754500-caa9-11eb-9a95-4560eac8eea3.png)

[2021-06-11 03:40] liyasthomas commented on #1713
Are there any errors in the browser console logs?

[2021-06-11 03:45] superFarmer commented on #1713
emm... Yeah，I see some error messages from the logs
![图片](https://user-images.githubusercontent.com/24667795/121627617-47a24500-caaa-11eb-9f1b-9cc29bd0823b.png)

[2021-06-11 03:48] liyasthomas commented on #1713
Can you do a force refresh <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd> and see if it solved this component caching issue?

[2021-06-11 03:55] superFarmer commented on #1713
ok,I'll try. Thank you very much

[2021-06-11 04:18] liyasthomas commented on #1713
Let me know if it solved your issue?

[2021-06-11 06:10] superFarmer commented on #1713
I've solved this issue by your method.It worked fine. Thanks!

[2021-06-11 06:28] superFarmer commented on #1713
I've solved this issue by your method.It worked fine. Thanks!

[2021-06-11 06:28] #1713 closed

[2021-06-11 09:06] tanay-pingalkar opened #1714 "how to set credential true"
i am testing a graphql server that sets a cookie, but the server responded with 400 because my credentials are not set to true , how can i do that

[2021-06-12 01:30] AndrewBastin commented on #1714
Hi Tanay!

We don't offer cookie support right now due to technical limitations of what is available to us via the browser.

Please refer to this: #1383

Thank you for using Hoppscotch!

Happy hacking!

[2021-06-12 01:30] #1714 closed

[2021-06-12 09:52] sourabhmandal opened #1716 "Make right sidebar collapseble"
**Is your feature request related to a problem? Please describe.**
Right Side navbar is somewhat distracting.
**Describe the solution you'd like**
we can add a toggle button which will minimise the right sidenavbar to an Icon Navbar for (History, Collection, environments and notes).

**Additional context**
Add any other context or screenshots about the feature request here.

![Screenshot from 2021

[2021-06-12 11:00] sourabhmandal opened #1717 "Auto scroll to Response Object"
**Is your feature request related to a problem? Please describe.**
I often use hoppscotch but since responses are at bottom of page its frustrating that i have to scroll down to the bottom of page, especially when using a mouse.

**Describe the solution you'd like**
Would love to have an auto-scroll feature that points to the Response object after request completes.

**Additional context**
I would

[2021-06-12 11:10] #1716 closed

[2021-06-12 11:11] liyasthomas commented on #1716
Thanks for the feature request. You can now show/hide the sidebar.

![screely-1623495525106](https://user-images.githubusercontent.com/10395817/121773956-fe7eed80-cb9c-11eb-9915-17351ee7d1a1.png)

[2021-06-12 11:21] liyasthomas commented on #1717
We already have an auto-scroll to response feature on [Settings](https://hoppscotch.io/settings) page.

<img width="1440" alt="Screenshot 2021-06-12 at 4 43 49 PM" src="https://user-images.githubusercontent.com/10395817/121774024-8107ad00-cb9d-11eb-9f89-14885882965b.png">

Make sure you've turned on the feature toggle button. And of course, you're free to introduce any improvements to the current

[2021-06-12 11:21] #1717 closed

[2021-06-15 09:55] s-r-x opened #1722 "Broken gql collection request editor"
**Describe the bug**
Gql collection request editor is broken.
The error raises here: https://github.com/hoppscotch/hoppscotch/blob/5246284e3299bff77c7304406cd727961d698d2f/newstore/collections.ts#L192

**To Reproduce**
https://user-images.githubusercontent.com/41614937/122032514-2498cd80-cde9-11eb-8509-2355d9574aad.mp4

**Expected behavior**
Expected not to be broken :)

[2021-06-15 11:17] AndrewBastin commented on #1722
Lol, the popup menu is not supposed to be enabled on the Save Request Modal. But since you already implemented it, I will figure out the remaining small stuff to make the integration work properly.

[2021-06-15 12:54] #1722 closed

[2021-06-15 13:45] liyasthomas commented on #1619
Closing this issue on behalf of a possible duplicate of #1620.

[2021-06-15 13:45] #1619 closed

[2021-06-15 14:34] #1620 closed

[2021-06-15 14:38] liyasthomas commented on #1620
Hoppscotch now supports Sec-WebSocket-Protocol headers on WebSocket connections.

[2021-06-18 00:35] 1265578519 opened #1725 "CORS"
https://mail.qq.com/cgi-bin/foldermgr from origin 'https://hoppscotch.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2021-06-18 00:48] 1265578519 commented on #1725
https://chrome.google.com/webstore/detail/hoppscotch-browser-extens/amknoiejhlmhancpahfcfcfhllgkpbld

[2021-06-18 00:48] #1725 closed

[2021-06-21 08:19] WLun001 opened #1731 "adjust font size"
**Is your feature request related to a problem? Please describe.**
The default font size is a bit large to scroll through JSON responses

**Describe the solution you'd like**
Able to adjust font size in setting

**Describe alternatives you've considered**
Use browser zoom

**Additional context**
- Good to have feature, but feel free to reject if not necessary .

[2021-06-21 08:25] WLun001 opened #1732 "Shortcut buttons are missing when switch to other language than English"
**Describe the bug**
The following buttons are missing on the side bar (request, options, response)
![image](https://user-images.githubusercontent.com/23547929/122730544-ea2da580-d2ac-11eb-89c5-22cc0dfb6b21.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Switch to other language than English

**Desktop (please complete the following information):**
 - Device: macOS 11.4
 - Browser: Chro

[2021-06-21 10:03] liyasthomas commented on #1732
Thanks for reporting this issue - we're working on a fix.

[2021-06-21 10:04] #1732 closed

[2021-06-21 10:47] #1731 closed

[2021-06-21 10:47] liyasthomas commented on #1731
I've decreased the font size from 16px to 15px on ace editors. Hope it helps.

[2021-06-21 12:04] darkl0rd opened #1733 "FireBase API key is required to run the application?"
My intent is to self-host the application, previously (when it was still postwoman) this worked without too much hassle. After having recently upgraded to the latest version of Hoppscotch, I'm now finding out that I need an API key at FireBase to -run- the application, is this intended? If so, why?

[2021-06-21 13:02] liyasthomas commented on #1733
We've gradually add more features like cloud sync, teams collaboration etc which requires a backed provider ie: a Firebase instance.

You can use your own Firebase config keys or use the default one in .env.example file in the root.

[2021-06-21 13:02] #1733 closed

[2021-06-21 16:59] darkl0rd commented on #1733
The follow up question I was going to raise, is that starting the application using the provided API keys in the example prevents the app from starting up (spinning ball on screen, console reports invalid api key).

[2021-06-21 20:57] liyasthomas commented on #1733
Possible duplicate of #1661.
Please refer to https://github.com/hoppscotch/hoppscotch/issues/1661#issuecomment-844741363.

[2021-06-22 03:24] darkl0rd commented on #1733
Yes, I have done that already. As per my previous post, the provided default API key (that is defined in .env.example) does not work and gives this error.

[2021-06-22 03:29] liyasthomas commented on #1733
I can confirm the default env keys are working.

- For development environment: rename `.env.example` to `.env`.
- For production/self-host environment: add environment variables from `.env.example` to build environment variables like Netlify, Vercel etc.

[2021-06-28 01:40] NickNish09 opened #1735 "New environment not being saved"
**Describe the bug**
Environments not saving when I try to create a new one, either logged in or not.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to home page https://hoppscotch.io/
2. Click on Environments tab
3. Create a new environment and save it
4. Refresh the page

**Expected behavior**
When I refresh the page I should still see the created environment.

**Screenshots**
Created

[2021-06-28 01:48] liyasthomas commented on #1735
Thank you for reporting the issue, we're working on a quick fix.

[2021-06-28 03:18] #1735 closed

[2021-06-29 09:59] jdelibas commented on #1425
@liyasthomas This is a very useful feature when sharing collections to setup flows that other users can easily run through steps. Without manually having to set all the little bits up.

I get that the tests tab is for asserting tests but one of the main use cases ive seen this is for exactly what the OP is asking for.
Its very much a blocker for me as an example wanting to migrate away from postma

[2021-06-29 10:18] liyasthomas commented on #1425
This is one of our planned features. The already existing Hoppscotch APIs comes little short for all this features and some security concerns. We're working on an isolated JavaScript compiler along with a set of revamped Hoppscotch APIs that allows users to add/edot/delete environment variables from both pre-request and post-request scripts.

This first iteration of the MVP is expected to arrive i

[2021-06-29 20:33] iamgabrielsoft opened #1736 "Enabling Cors"
By default cors should not be enabled.

Browser: chrome

[2021-06-30 00:12] liyasthomas commented on #1736
Let us know the exact issue you're having so we can track and fix it.

[2021-06-30 10:07] mhmda-83 commented on #1612
i have and Environment called "sample"
and this environment has one variable ("name")
how can i use name enviroment variable?
@liyasthomas

[2021-06-30 10:09] liyasthomas commented on #1612
You can use `<<sample>>` in the request section after selecting the created environment from right sidebar. [Demo](https://github.com/hoppscotch/hoppscotch/wiki/Pre-Request-Scripts)

[2021-07-05 13:31] mono2048 opened #1739 "environment variables"
**Is your feature request related to a problem? Please describe.**
I don't know how to use environment variables in PWA.

**Describe the solution you'd like**
After I read the document, I don't know how to use the environment variable syntax, I hope to see the detailed usage in the README file.

[2021-07-05 13:54] liyasthomas commented on #1739
You can use the environment variables in the request section by mentioning them enclosed in double angular brackets (`<<>>`).

Please read the [Environments Wiki page](https://github.com/hoppscotch/hoppscotch/wiki/Environments) on how to use environments. Let me know if this solves your issue.

[2021-07-05 13:54] liyasthomas commented on #1736
Closing due to inactivity.

[2021-07-05 13:54] #1736 closed

[2021-07-09 01:10] #1739 closed

[2021-07-09 06:41] mihastele opened #1740 "[feature]: Collection runner (GUI, CLI or Both)"
I was using this application a few times as an alternative to Postman. But I am not sure, is it possible to run all tests at once? It would be a really good feature, Postman supports it (also from CLI called Newman), but I had many issues with it.

It would be nice to run all the tests from the CLI using a simple command.

Another alternative could be a GUI runner, which would be more user friendl

[2021-07-09 07:12] liyasthomas commented on #1740
We're working on a similar implementation that allows you to run tests from the web app, CI, CLI, etc. Keep an eye on its public repository: https://github.com/hoppscotch/hopp-js-sandbox.

I will update here once it's production-ready.

[2021-07-09 16:54] sawa-ko opened #1741 "[feature]: Collection-wide headers and authorization"
**Is your feature request related to a problem? Please describe.**
Yes, it is very annoying to be putting for example, the header of a Bearer Token in all requests and keep that header updated one by one.

**Describe the solution you'd like**
An option to assign to folders or collections of requests a set of global headers for the requests.

**Describe alternatives you've considered**
The current

[2021-07-10 01:39] liyasthomas commented on #1741
This is a good feature request. Will look into implementing it.

[2021-07-10 18:29] KillDozerX2 commented on #470
@liyasthomas I'm new around here, have quite some experience with open api(mostly codegen), I'd love to help out, is there a way you can guide me?

[2021-07-10 18:44] liyasthomas commented on #470
Hi @KillDozerX2 , feel free to [join our public community channels](https://github.com/hoppscotch/hoppscotch#contact) too get started with contribution.

[2021-07-16 08:43] Hernandiaz035 commented on #1383
Is this the reasson why my API responses:
[code]

[2021-07-19 09:30] MeBetterMan opened #1744 "npm install => npm run dev ，problems occurred。 npm 7.20.0 ,help me!!!"
`` ERROR  [BABEL] Note: The code generator has deoptimised the styling of D:\github-projects\hoppscotch\node_modules\ace-builds\src-noconflict\ace.js as it exceeds the max of 500KB.

 ERROR  [BABEL] Note: The code generator has deoptimised the styling of D:\github-projects\hoppscotch\node_modules\ace-builds\src-noconflict\worker-javascript.js as it exceeds the max of 500KB.

 ERROR  [BABEL] Note:

[2021-07-19 09:40] liyasthomas commented on #1744
Can you delete the node cache along with `node_modules` folder and then run `npm i` again.

1. `rm -rf node_modules`
2. `npm i`
3. `npm run dev`

Let me know if this solved your issue.

[2021-07-19 12:43] MeBetterMan commented on #1744
i delete all folders,and regit Hoppscotch . useless . i tried two days . hopeless.

[2021-07-19 13:05] MeBetterMan commented on #1744
![Snipaste_2021-07-19_17-28-46](https://user-images.githubusercontent.com/13814832/126164039-95bb8f47-6f22-4296-ba5c-5dbe1c485356.jpg)
happens always on Win7. how to solve it？

[2021-07-19 13:07] liyasthomas commented on #1744
Please share the screenshot of the browser console log (press F12 for Chrome browser).

Also, let me know the system's memory, processor, and RAM specifications.

[2021-07-19 13:12] MeBetterMan commented on #1744
![Snipaste_2021-07-19_21-11-13](https://user-images.githubusercontent.com/13814832/126165053-2e5b59ae-a85d-454a-9da9-aca84e7f87d4.jpg)
![Snipaste_2021-07-19_17-28-46](https://user-images.githubusercontent.com/13814832/126165058-54c2bf73-8dbb-46f8-a396-a43579b941a6.jpg)
other users encountered the problems before

[2021-07-19 13:14] liyasthomas commented on #1744
Thanks for sharing the screenshot, we're looking into this issue.

Thanks for your patience.

[2021-07-19 13:22] MeBetterMan commented on #1744
max os ，the same problem

<img width="1439" alt="微信图片_20210719212103" src="https://user-images.githubusercontent.com/13814832/126166293-31db56cc-eb2b-4dcd-94f3-c6ac36547191.png">
<img width="1437" alt="微信图片_20210719211955" src="https://user-images.githubusercontent.com/13814832/126166314-560042a6-9cbc-4c71-9b23-a4e66032d810.png">

[2021-07-19 13:23] MeBetterMan commented on #1744
Mac OS，same problem.
<img width="1437" alt="1" src="https://user-images.githubusercontent.com/13814832/126166572-ddfd4744-c910-4164-a76b-222ce1b78208.png">
<img width="1439" alt="2" src="https://user-images.githubusercontent.com/13814832/126166590-7bb85995-f2fb-4902-8479-c614c8e73468.png">

[2021-07-19 15:30] stellarpower opened #1745 "Support "Doing something" with the responses from web requests in tests."
**Is your feature request related to a problem? Please describe.**
I'm not a web-stack developer, so, I spend a lot of my time trying to avoid anything to do with it like the plague. I therefore may simply be googling the wrong things because it's not the sort of development I spend my time on. But, for a project I'm working on, I have had to expose a computationally expensive process via an HTTP

[2021-07-19 15:40] liyasthomas commented on #1744
Hi @MeBetterMan, thank you for your patience.

I was able to reproduce your issue. It has been due to the incorrect setup of environment variables for the local development server.

In the [developing instructions](https://github.com/hoppscotch/hoppscotch#developing) section, there's a step 0: Update `.env.example` file found in repository's root directory with your own keys and rename it to `.env

[2021-07-19 15:40] #1744 closed

[2021-07-19 15:48] liyasthomas commented on #1745
@stellarpower thank you for the detailed explanation - we'll get back to you with an appropriate answer as fast as possible.

[2021-07-19 15:54] stellarpower commented on #1745
Sure, thanks very much! Sorry it's a bit vague - it's not really my area and this is just one of those situations where I need something to work and I don't really care how if it doesn't come back to bite me later down the line. Your tool looks nice and simple as I can play with it online and if it's growing quickly wanted to contribute in some way.

[2021-07-19 18:45] AndrewBastin commented on #1745
Well, we are toying around with an idea called "artifacts" for the test scripts which let people define a function that returns a value that can be saved as a JSON file. This is sorta the API we have in mind

[code]

Once you do this, it will run your tests alongside it and emit a file which will contain all the artifact values in JSON format.
Something like this:
[code]

We have test revamps as p

[2021-07-19 19:53] stellarpower commented on #1745
That's perfect, that's precisely all I ever needed! I couldn't understand why Postman didn't support something just like that. If it's also possible to save each response to a sepeate file inside a folder (in some relevant way - i.e., this makes obvious sense for the CLI but not sure how would bemanaged from the web UI)  that would be exactly what I was looking for. I was also looking to be able t

[2021-07-20 05:54] MeBetterMan commented on #1744
ok ，solve the problem although the  ‘’it exceeds the max of 500KB.‘’Error still exists

[2021-07-20 05:55] MeBetterMan commented on #1744
ok ，solve the browser ‘’logEvent‘’ problem ，although the ‘’it exceeds the max of 500KB.‘’Error still exists

[2021-07-20 06:31] MeBetterMan opened #1746 "npm run generate，error"
**Describe the bug**
npm install => npm run generate => put dist folders into tomcat webapps =>error happens
![Snipaste_2021-07-19_17-28-46](https://user-images.githubusercontent.com/13814832/126272712-efe66dd6-a831-4be9-95f3-f29e5e29f0c2.jpg)

[2021-07-20 16:05] pizu opened #1747 "Centos 7 Installation Issue"
[root@tst01nettools01 hoppscotch]# npm i
npm WARN deprecated core-js@2.6.12: core-js@<3.3 is no longer maintained and not recommended for usage due to the number of issues. Because of the V8 engine whims, feature detection in old core-js versions could cause a slowdown up to 100x even if nothing is polyfilled. Please, upgrade your dependencies to the actual version of core-js.
npm WARN deprecated

[2021-07-20 16:12] liyasthomas commented on #1747
Can you provide a screenshot?

[2021-07-20 16:15] pizu commented on #1747
![image](https://user-images.githubusercontent.com/7047326/126359197-c4ee3450-2cd9-4cea-83e8-4351131228c5.png)

[2021-07-20 16:20] liyasthomas commented on #1747
Thank you, we'll look into it.

[2021-07-20 16:26] pizu commented on #1747
Thanks

[2021-07-20 23:02] AndrewBastin commented on #1747
I have seen this happen in some old Node versions, can you try running this command before running `npm i` ?
[code]
If this fixes your issue, then you might want to consider updating your installed Node.js version to something a bit more recent.

[2021-07-20 23:32] AndrewBastin commented on #1744
That error won't cause any issues if you run it actually. It is just an error from the optimizer and ace-editor code just messing up. You should still be able to access the site successfully.

[2021-07-20 23:45] AndrewBastin commented on #1746
I cannot reproduce this in my end. Make sure your folder structures are all good and you copied the contents of the dist folder correctly over.

[2021-07-21 12:38] KaKi87 commented on #413
How about [Tauri](https://tauri.studio) ? 😊

[2021-07-25 21:49] Jawmo commented on #994
Came here with same error but different problem.

Django users, make sure you have this in your settings middleware:

`"corsheaders.middleware.CorsMiddleware"`

[2021-07-27 06:16] woodliu opened #1749 "Cannot read property 'content-type' of undefined"
**Describe the bug**
When i send a Post request through hoppscotch ,it return 500.

**To Reproduce**
Just send a Post request to my local server.
I have checked the network inside the hoppscotch docker,  the connection is ok.
And the proxy of hoppscotch has beed turn off.

**Expected behavior**
Return the right response

**Screenshots**
This is the error
![image](https://user-images.githubusercont

[2021-07-27 06:19] liyasthomas commented on #1749
Can you see any errors in the browser's console log? Please share a screenshot of the console log.

[2021-07-27 06:25] woodliu commented on #1749
Hi, it's just a request ,nothing else
![image](https://user-images.githubusercontent.com/9976943/127106026-f18ddc19-e971-4ccb-8e11-75da4fd10b6e.png)

[2021-07-27 06:43] liyasthomas commented on #1749
Please provide the screenshot of the "console" tab. Not the network tab.

[2021-07-27 06:53] woodliu commented on #1749
Sorry, this is the screenshot
![image](https://user-images.githubusercontent.com/9976943/127109259-a37fe559-d44b-42fe-9070-64967c73a3ac.png)

[2021-07-27 07:10] liyasthomas commented on #1749
Turn on "**Proxy mode**" from settings to fix `CORS` issue. Let me know it if solved your issue.

[2021-07-27 07:14] woodliu commented on #1749
Hi, there has no CORS issue, but the `content-type` still undefined...
![image](https://user-images.githubusercontent.com/9976943/127111854-8b038716-2f3c-43e6-b18a-23698381fa57.png)

[2021-07-27 15:17] HEI-cloud commented on #1749
have same error, just come from postwoman.  few days ago, it has privacy problem, so turn to this hoppscotch.

[2021-07-27 16:57] #1747 closed

[2021-07-27 16:57] #1746 closed

[2021-07-28 04:48] #1749 closed

[2021-07-28 04:50] AndrewBastin commented on #1749
@woodliu  @HEI-cloud  This error should only appear when the app is running on dev mode (`npm run dev`). But anyways, I have patched it up in commit d5cb9f1. If you still experience this issue, feel free to reopen the issue. The current solution is temporary as a revamped is taking place with the core architecture of the app.

[2021-07-29 09:51] mhsiddiqui opened #1751 "Feature as Duplicate a Request, Multiple Tabs"
I have been using Postman for many years and following are the features which I would love in hoppscotch.

1. Duplicate a request as many times there are many settings which we have configured with one endpoint and we do not want to configure again with new endpoint. So we usually duplicate previous one and change url, name and data. I could not found duplicate request option here.
2. Multiple tab

[2021-07-29 12:22] liyasthomas commented on #1751
Hi @mhsiddiqui, thank you for your feature requests. All of them are in our roadmap. Stay tuned for the upcoming updates.

[2021-08-01 05:14] Hernandiaz035 opened #1752 "Send double request [bug]"
**Describe the bug**
Every request I make from Hoppscotch is sent twice, 10ms apart.

**To Reproduce**
Steps to reproduce the behavior:
1. Send a Request to a service in localhost
2. Two requests are received instead of one

**Expected behavior**
Get one request.

**Desktop (please complete the following information):**
 - OS: MacOs
 - Browser: Brave Browser
 - Version 1.27.108 Chromium: 92.0.4515

[2021-08-01 05:20] liyasthomas commented on #1752
Deu to [`CORS`](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) policy in browsers, every request has a [Preflight request](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request).

Please make sure if the first request was a pre-flight request. [Read more about this behavior on StackOverflow](https://stackoverflow.com/questions/15381105/what-is-the-motivation-behind-the-intro

[2021-08-01 13:41] LuisMayo opened #1753 "Environment variables do not expand into request parameters"
**Describe the bug**
Variables are not getting properly expanded in query parameters. They do get properly expanded in the url itself

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hoppscotch.io/
2. Click on "Environments"
3. Create a new environment.
4. Add a variable to said environment:
![image](https://user-images.githubusercontent.com/20229636/127772820-3d33be3c-60a2-4299

[2021-08-02 05:45] Hernandiaz035 commented on #1752
I appreciate your answer, I checked the documentation and it doesn't seem to be this, given that both requests are exactly the same method of my request (GET or POST), and Preflight should be a OPTIONS method request.

[code]

[2021-08-02 06:30] liyasthomas commented on #1752
Thanks for the detailed explanation. May I know whether if you've enabled any Hoppscotch interceptors in [Settings](https://hoppscotch.io/settings)? "Proxy mode" or "Extensions" ?

[2021-08-02 08:04] Hernandiaz035 commented on #1752
Since I'm testing something locally, I'm using the extension. But not any proxy.

![Screenshot](https://user-images.githubusercontent.com/6667132/127825732-e1e2c1bf-e81b-4161-8cb3-81855d213eb6.png)

[2021-08-02 08:05] liyasthomas commented on #1752
Thank you, we'll look into it.

[2021-08-02 08:34] Hernandiaz035 commented on #1752
I just fixed it. I reckon that i had the PWA installed and both (PWA and website) were executing the request once I pressed Send.

I checked from a private window and realising that it worked fine, tried deleting all PWA installed. The only remaining problem is that i can't replicate the error.

Apologies for the concerns and thanks for your time.

[2021-08-02 08:47] liyasthomas commented on #1752
Glad it worked out. Will track this behaviour and fix it as soon as possible.

[2021-08-03 15:42] idling-mind commented on #175
I'm trying to access an internal http host. Couldnt get it working in anyway. Any suggestions?

[2021-08-03 16:52] liyasthomas commented on #175
@idling-mind turn on Proxy Mode from [Settings](https://hoppscotch.io/settings).

[2021-08-04 03:15] liyasthomas commented on #1753
This issue has been fixed and will be out in the next release.

[2021-08-04 11:51] ndom91 opened #1759 "First env var in URL gets loaded incorrectly as lowercase"
First of all, great project! Been using it since the 'Postwoman' days. Keep up the great work! I have run into a small issue, however:

**Describe the bug:**

My setup looks like this:

1. Saved Environment with 2 Variables:
  a. `BASE_URL`: `localhost:3000`
  b. `API_VERSION`: `next`

2. Collection of many requests, organised in subdirectories, etc.

3. Load a request from Collection A -> 'Projec

[2021-08-05 02:22] q546948719 opened #1760 "how to use hoppscotch to download excel"
I written an interface to export excel, how do i use hoppscotch to test it ?

[2021-08-05 05:06] liyasthomas commented on #1760
If it's available in an API endpoint, you can send a `GET` request to that endpoint from Hoppscotch request section to fetch its data.

But at the moment you can't view the interactive Excel data since there's no support to display excel files in Hoppscotch. Instead, you can view the `RAW` data in Hoppscotch response section.

[2021-08-05 05:08] liyasthomas commented on #1759
Thank you for reporting this behavior. We'll look into this and get back to you.

[2021-08-05 06:13] #1760 closed

[2021-08-05 15:33] juzhiyuan commented on #1598
Hi, do we have a plan to support mocking POST request? e.g

1. POST /users
2. GET /users
3. We could find the resource which is created in Step 1.

[2021-08-05 15:37] liyasthomas commented on #1598
"Mock requests" feature has the highest priority in our roadmap. Thanks for your patience, please bear with us and expect a beta release of Mock server soon.

[2021-08-05 16:40] juzhiyuan commented on #1598
ya, and what should I do if I want to contribute to this feature?

[2021-08-05 18:16] bhavukkalra commented on #1598
It's Still a Work in Progress, The MVP Presented above was made from a different Tech Stack and Had lot of Flaws(Reasonable, as it was just for a Proof of Concept). So, We are trying to do things the right way by making use of the appropriate tech stack(Which sometimes takes time, but is best for the long run). We know that there are a lot of requests for this feature to got out, but give us a lit

[2021-08-06 15:45] brageryz opened #1761 "Contributors cannot translate text in some places"
Hello,
I have found places where **contributors cannot translate text**.

## Problem description
When a user changes current language to another, many places are translated, but we can find places where **text is not possible to translate**. It does not look good in my opinion. Users want to have translated everything in the specific language.

---

## Preferred solution
I prefer to add keys with

[2021-08-06 15:49] liyasthomas commented on #1761
Thanks for pointing out these untranslated strings in the app. We'll cover these strings for translations in the next release.

[2021-08-08 02:37] juzhiyuan commented on #1761
@liyasthomas Could I help to translate them?

[2021-08-08 02:40] liyasthomas commented on #1761
@juzhiyuan please follow our [translation guide](https://github.com/hoppscotch/hoppscotch/blob/main/TRANSLATIONS.md) for contributing.

[2021-08-08 02:41] juzhiyuan commented on #1761
got it

[2021-08-08 02:49] juzhiyuan commented on #1761
![image](https://user-images.githubusercontent.com/2106987/128619121-edf17808-3d83-4d1c-9ed7-da92f518fa6f.png)

After using `yarn && yarn dev`, it shows this error from `analytics` 🤔

[2021-08-08 02:51] juzhiyuan commented on #1761
![image](https://user-images.githubusercontent.com/2106987/128619145-d57b88e8-ef91-4b86-ba18-def1526c1bcc.png)

Just adding this patch to check if `analytics` exist

[2021-08-08 02:58] liyasthomas commented on #1761
In the [developing instructions](https://github.com/hoppscotch/hoppscotch#developing) section, there's a step 0: Update `.env.example` file found in repository's root directory with your own keys and rename it to `.env`.

Please rename `.env.example` file found in root director to `.env` and restart the local server to fix this issue.

[2021-08-08 03:20] juzhiyuan commented on #1761
![image](https://user-images.githubusercontent.com/2106987/128619625-ec0fccec-1326-4944-80cf-c5c1c04babe7.png)

After setting up the Firebase App & GitHub OAuth App, I have no idea how to get the correct configuration data for local development, would better have a Guide on this.

[2021-08-08 03:21] liyasthomas commented on #1761
For local development you just need to rename .env.example file found in root director to .env and restart the local server to fix this issue.

[2021-08-08 16:22] bdsmlovingmarriedcouple commented on #1751
how do we record and send our footage?

[2021-08-08 16:25] bdsmlovingmarriedcouple commented on #1745
hey there!! so my husband and I are New at this website.. can anyone tell us how we are supposed to record and then submit our (materials) to this site? were SO LOST    ty

[2021-08-12 22:15] ccravens opened #1772 "MQTT Authentication with Username and Password"
**Is your feature request related to a problem? Please describe.**
I need to add username / password authentication when connecting with MQTT

**Describe the solution you'd like**
I'd like to be able to supply an optional username / password combination in the MQTT testing screen

**Describe alternatives you've considered**
N/A

**Additional context**
I saw this feature request already submitted,

[2021-08-12 23:49] ccravens commented on #1772
Submitted PR for this request: https://github.com/hoppscotch/hoppscotch/pull/1773

[2021-08-15 00:05] stellarpower commented on #1745
I was thinking about my testing again today; perhaps I'm just going over what I already said again, but I think what I need right now is less of a tool that can test my API, and more of a tool that can test what my API is doing.

I do the former in other ways to check my deployment, and it seems that competitors to Hoppscotch or any googling I do for automated testing of web APIs, focusses on the

[2021-08-18 04:27] varadp2000 opened #1782 "Auto translate as per browser locale"
I was wondering if the page could open in the website the web browser of the user uses.
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
If I open the site with Hindi as my web browser's language, the default language on the hoppscotch.io should be Hi

[2021-08-18 04:27] varadp2000 commented on #1782
If contributors don't mind, I would love to take this issue

[2021-08-18 05:20] liyasthomas commented on #1782
Hi @varadp2000, thanks for the feature request. FYI: we have this feature already implemented.

We use [`nuxtjs/i18n`](https://i18n.nuxtjs.org) for localization and in `nuxt.config.js`, there's a flag that detects and browser language by default: https://github.com/hoppscotch/hoppscotch/blob/main/nuxt.config.js#L345.

So, this must've been a minor error - would appreciate it if you can take a look

[2021-08-18 05:21] varadp2000 commented on #1782
Sure, I'll try it

[2021-08-24 08:40] GAS85 opened #1786 "[feature]: Ability to disable Google Analytics"
**Is your feature request related to a problem? Please describe.**
Currently if I would like to deploy Hoppscotch to my customers, google Analytics could not be disable completely, only reconfigured. This is not always in sync with Customers TOS.

**Describe the solution you'd like**
A configuration only way to disable google analytics completely.

**Describe alternatives you've considered**
Cut o

[2021-08-24 08:45] liyasthomas commented on #1786
Self-hostable Hoppscotch instances are in our roadmap. At the moment you cannot disable Google Analytics. Thanks for your patience - will let you know once self-host capabilities are live.

[2021-08-24 08:48] GAS85 opened #1787 "Ability to disable Gitlab login"
**Is your feature request related to a problem? Please describe.**
Currently Gitlab Login enabled per default. This is not suitable for some customers. Could be the way to simply disable this feature to align with local security requirements?

**Describe the solution you'd like**
I would like to have a simple configuration only way to disable Gitlab login in hoppscotch to be align with customers l

[2021-08-29 14:35] joe223 opened #1791 "Bulk edit for HTTP Headers"
**Is your feature request related to a problem? Please describe.**
We edit several headers usually when testing APIs, it's would be more convenient to support bulk edit if we copy the whole http request header from browser.

**Describe the solution you'd like**
Add a new mode for headers modification, we can call it 'bulk edit'. In this mode, we can paste string to input field, it'll be convert to

[2021-08-29 14:48] liyasthomas commented on #1791
Bulk editing is a planned feature. Watch this space for updates. Thank you for the feature request.

[2021-08-30 08:36] liyasthomas commented on #1525
With the release of v2 - we've introduced "Save" and "Save as" features.

- You can now restore and save [ <kbd>Ctrl</kbd><kbd>S</kbd> ] updates to a request in collection.

- Click on the "save drop-down" to save as [ <kbd>Ctrl</kbd><kbd>Shift</kbd><kbd>S</kbd> ] another new request in collections.

[2021-08-30 08:36] #1525 closed

[2021-08-30 08:39] liyasthomas commented on #1555
With the release of v2 - we made the response section to be expanded to full length by default.

[2021-08-30 08:39] #1555 closed

[2021-08-30 08:43] liyasthomas commented on #1753
With the release of v2 - we've introduced a new feature-rich, and more robust environments engine with support for "Global environments".

- You can now sync environment variables with all sections in the request
- Hover an environment variable within the request section to view its value
- Environments are updated in real time so that you don't have to manually switch environments to take effect

[2021-08-30 08:43] #1753 closed

[2021-08-30 08:47] liyasthomas commented on #1761
With the release of v2 - we've introduced a community-driven translations system with the help of [Git Localize](https://gitlocalize.com).

Read our [TRANSLATIONS](https://github.com/hoppscotch/hoppscotch/blob/main/TRANSLATIONS.md) guide for more info on how to make contribution to translations.

[2021-08-30 08:47] #1761 closed

[2021-08-30 08:50] liyasthomas commented on #1782
With the release of v2 - you can change your default locale from [Settings](https://hoppscotch.io/settings) and Hoppscotch will remember the chosen locale in local storage and use it as default.

[2021-08-30 08:50] #1782 closed

[2021-08-30 08:57] liyasthomas commented on #1759
With the release of v2 - we've introduced a new feature-rich, and more robust environments engine with support for "Global environments".

- You can now sync environment variables with all sections in the request
- Hover an environment variable within the request section to view its value
- Environments are updated in real-time so that you don't have to manually switch environments to take effect

[2021-08-30 08:57] #1759 closed

[2021-08-30 09:19] liyasthomas commented on #1791
Hi @joe223,

I've deployed an MVP of bulk edit feature for Headers and Parameters sections on [beta.hoppscotch.io](https://beta.hoppscotch.io).

**Step 1: Switch to "Bulk edit" mode**

![screely-1630314552201](https://user-images.githubusercontent.com/10395817/131315763-a2ade9ad-c687-4274-9486-f7b69acab9c3.png)

**Step 2: Paste bulk content - entries are separated by newlines, key and value are se

[2021-08-30 10:35] ndom91 commented on #1759
@liyasthomas fixed! Thanks! v2 looks awesome, can't wait to use it more!

[2021-08-31 02:22] 1tang2bang92 opened #1793 "languege changing error"
**Describe the bug**
i changed languege korean to english.
but, not change nav bar's lang

**To Reproduce**
1. change languege to korean
2. send few request
3. change languege to english

**Screenshots**
![image](https://user-images.githubusercontent.com/20069720/131430398-a877bce1-621b-4c62-ba49-b65ae2949e12.png)

**Desktop (please complete the following information):**
 - OS: win10 19043.1165
 -

[2021-08-31 02:37] liyasthomas commented on #1793
Please refresh the browser to take effect the changes to layouts.

[2021-08-31 02:37] #1793 closed

[2021-08-31 11:29] kolbma opened #1795 "Translation for REST"
Why do you translate REST with stuff like "make a rest"/"Sich ausruhen" (de)?
Should this be a joke? Do you really want to translate this technical term?

[2021-08-31 11:36] liyasthomas commented on #1795
Sorry about that. Technical terms doesn't have to be translated. `REST` should've been kept as it is.

All translations except English are community contributed - and probably will have some inconsistencies. Please feel free to open a fix pull request. Thank you.

[2021-08-31 12:12] #1795 closed

[2021-08-31 14:42] joe223 commented on #1791
Amazing work! Really appreciate! @liyasthomas

[2021-08-31 16:33] #1791 closed

[2021-09-01 16:59] siroccal opened #1798 "Authorization parameters are doubled when showing/generating code"
**Describe the bug**
Two authorization parameters appear if you click on `Show code` (next to `Send`). They are doubled for any language and any type of authorization.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `Authorization` and select any option besides `None`
2. Click on `Show code` (next to `Send`)

**Expected behavior**
One authorization parameter in the code.

**Screenshots

[2021-09-01 17:09] liyasthomas commented on #1798
We're looking into get this fixed ASAP.

[2021-09-01 17:34] JorgeFerrer opened #1799 ""REST" should not be translated (Spanish translation)"
**Describe the bug**
With the new UI, I've noticed some terms that are not properly translated. The most visible of all is "REST" which is translated as "Descanso" which "appropriately" means "rest" XD

**To Reproduce**
1. Go to the app with a Browser set up to use Spanish as the language
2. See how the first icon in the left menu says "Descanso"

**Expected behavior**
"REST" is an acronym for "RE

[2021-09-01 17:45] liyasthomas commented on #1799
Thanks for your quick PR - really appreciate it.

Sorry about the existing translations. `REST` should've been kept as it is. All translations except English are community contributed - and probably will have some inconsistencies. Thank you for understanding.

[2021-09-01 17:48] JorgeFerrer commented on #1799
Happy to help :)
Thanks for the quick review!

[2021-09-02 09:50] #1799 closed

[2021-09-02 10:14] Xairoo opened #1801 "Docker release outdated"
Hey,

nice big update, I love it!
Can you guys please update your docker release to 2.0.0? Currently it's still 1.12.0.

Thanks for your amazing work! This release is really great, so the move from Postman to Hoppscotch is a good choice.

Cheers

[2021-09-02 10:27] liyasthomas commented on #1801
Hi @Xairoo, outdated Docker images are a known issue. Due to the latest updates with the Docker Hub container registry, our free plan account doesn't have an automated build feature. Which essentially resulted in an outdated Docker image.

We're looking into alternatives like setting up GitHub Package Registry for our Docker image in the upcoming weeks. Please watch this space for its release. Tha

[2021-09-02 14:49] #1798 closed

[2021-09-05 06:59] AndrewBastin opened #1806 "Migrate to Codemirror"
Currently, Hoppscotch uses [Ace Editor](https://ace.c9.io/) as our code editor engine. Although the editor works well for now, the support for the editor seems antiquated with no active development seen on it. Hence, we are switching over to [CodeMirror](https://codemirror.net/) as it is seeming to be more stable and in active development by its development team. Along with this, for future improv

[2021-09-05 07:00] AndrewBastin opened #1807 "Implement base CodeMirror support"

[2021-09-05 07:01] AndrewBastin opened #1808 "Implement basic Codemirror support"

[2021-09-05 07:16] AndrewBastin opened #1809 "Transform to Monorepo"
As the Hoppscotch Web App has seen a lot of growth over time, the codebase has become complex and vast in its capabilities. Certain sections of code can be split of into independent packages so as to reduce the complexity of the web app codebase and to allow for sharing of common code between other concerned projects (e.g CLI). Hence, we will be restructuring the main Hoppscotch repo into a monore

[2021-09-05 07:33] AndrewBastin opened #1810 "JavaScript Sandbox"
Hoppscotch has Pre-Request Script and Test Script Features that accept and can execute arbitrary JavaScript code. Currently, these scripts run in the app context allowing for these scripts to inject things into the main app runtime. On a security standpoint, this is not exactly ideal. Hence, we are revamping those infrastructure into a isolated sandbox via the homegrown [JS sandbox](https://github

[2021-09-05 07:47] #1808 closed

[2021-09-05 07:49] AndrewBastin opened #1811 "Implement linting support"

[2021-09-05 07:50] AndrewBastin opened #1812 "Implement Autocomplete support in CodeMirror"

[2021-09-07 02:06] liyasthomas opened #1816 "Port GraphQL Editor Linters"

[2021-09-07 09:23] benjaminlaib commented on #1383
Bump, since there is a Hoppscotch browser extension, shouldn't it be possible to let it solve our cookie issue?

[2021-09-08 13:08] dansjackson opened #1817 "[feature]: Private self hosted Hoppscotch instances"
**Is your feature request related to a problem? Please describe.**
I can imagine a use case for organisations who want to self host Hoppscotch on their own infrastructure but want to limit their instance to their employees.

Reasons for this might be that the Hoppscotch instance might contain a default token for a private proxy server that would be required to access restricted API endpoints.

**D

[2021-09-09 09:44] gjorgic opened #1818 "Unable to start npm run dev"
**Describe the bug**
Hi, I try run this project, but I have problem with runing `npm run dev`

Branch: `main` (`c3e881ed77c3829894326e03becae67a6307356d`)
node version: `v12.19.0`
npm version: `6.14.8`

Error
[code]
Any idea? Thx

[2021-09-09 10:09] liyasthomas commented on #1818
Did you install the dependencies using `npm i`?

Follow the complete [local dev setup steps](https://github.com/hoppscotch/hoppscotch#local-development-environment).

[2021-09-09 12:04] gjorgic commented on #1818
Upgrading NodeJS and npm to latest version fix issue; Thanks @liyasthomas

[2021-09-09 12:04] #1818 closed

[2021-09-10 23:44] 1-bytes commented on #1667
hey, @liyasthomas
I think this needs to be written into the wiki or document, I suspect there are a lot of people who need this...
I spent two hours trying to find it :(

[2021-09-11 01:28] liyasthomas commented on #1667
Hi @1-bytes, this step is now absolute since we added the command to Dicker file (https://github.com/hoppscotch/hoppscotch/commit/790b743e422fcb0ed3181c0ea4375149b04f1f8d#diff-dd2c0eb6ea5cfc6c4bd4eac30934e2d5746747af48fef6da689e85b752f39557).

You just need to run:
[code]

[2021-09-11 10:26] 1-bytes commented on #1667
Some small teams or individuals prefer to deploy on their own servers. So they had to go and try to modify the .env file.
I think we should record how to modify the .env file inside docker and how to configure Firebase :)
For example, I don't know how to configure Firebase right now, and I'm going through various ways to understand it :(

[2021-09-11 10:39] liyasthomas commented on #1667
Wait until the next milestone, we're planning on having a detailed guideline on how to self-host Hoppscotch instance along with a monorepo support. Thank you.

[2021-09-11 14:31] 1-bytes commented on #1667
nice :)

[2021-09-12 17:38] 1-bytes opened #1823 "npm run generate error"
**Describe the bug**
I'm trying to compile hoppscotch, but it reports an error, see the Screenshots below for details.

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/hoppscotch/hoppscotch.git
2. cd hoppscotch
3. npm install
4. npm run generate

**Expected behavior**
npm build done. 0 error.

**Screenshots**
![image](https://user-images.githubusercontent.com/1756

[2021-09-12 17:41] 1-bytes commented on #1823
root@Cloud:/home/wwwroot/hoppscotch# nodejs -v
v10.19.0
root@Cloud:/home/wwwroot/hoppscotch# npm -v
6.14.4

[2021-09-12 18:51] AndrewBastin commented on #1823
Hi there, Hoppscotch needs Node version >= 14 to build.
Also make sure you run `npm install` before running the generate command.

Please close this issue, if the above steps fix your issue.

[2021-09-12 19:20] 1-bytes commented on #1823
I upgraded NodeJS and npm, the problem is solved
thanks :)

[2021-09-12 19:21] #1823 closed

[2021-09-12 23:36] 1-bytes opened #1824 "Invalid database causes data not to be synchronized"
**Describe the bug**
Accounts are not synchronizing data with each other and there are errors in the console...
error:
`recent error: FirebaseError: [code=failed-precondition]: The Cloud Firestore API is not available for Datastore Mode projects.
This typically indicates that your device does not have a healthy Internet connection at the moment. The client will operate in offline mode until it is

[2021-09-12 23:50] 1-bytes commented on #1824
url: api.github.xin

[2021-09-13 00:58] #1824 closed

[2021-09-13 01:07] 1-bytes commented on #1824
Resolved
Unable to write data due to missing Firestore firewall rules

https://console.firebase.google.com/project/<your_project_name>/firestore/rules

Change the rule:
`rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if request.auth.uid != null;
    }
    // Make sure the uid of the requesting user matche

[2021-09-13 05:19] kaname-png opened #1827 "Graphql Playground-like autocompletion"
**Is your feature request related to a problem? Please describe.**
One of the great features of graphql is having a model, and it would be nice to be able to have autocomplete through that model.

**Describe the solution you'd like**
Have an autocomplete in the graphql query editor, as well as graphql playground.

**Describe alternatives you've considered**
To be looking at the documentation sever

[2021-09-13 05:25] kaname-png opened #1828 "Better error messages for Graphql"
**Is your feature request related to a problem? Please describe.**
Currently the application only says to press F12 to see the error, but the error is not readable.

# hoppscotch
![image](https://user-images.githubusercontent.com/56084970/133028055-f17bf29b-b641-4e60-a758-7e4fc49f849d.png)

# Graphql Playground
![image](https://user-images.githubusercontent.com/56084970/133028177-e6093d7e-18ef-45e

[2021-09-13 05:26] liyasthomas commented on #1827
Hi @kaname-png thanks for raising the feature request. We've been working hard on removing the current editor package and replacing it with a n=more robots one (codemirror) which supports auto-complete, linting, and other generic features. Please check out our beta deployment with autocomplete, lint and many more features.

1. Visit Hoppscotch beta: https://beta.hoppscotch.io/graphql
2. Connect Gr

[2021-09-13 05:48] kaname-png commented on #1827
Hi @liyasthomas ,
I wonder if there is a way to make autocomplete available when typing and not just doing the key combination.

[2021-09-13 05:50] liyasthomas commented on #1827
That's a relevant feature. Thank you.

[2021-09-13 05:51] kaname-png commented on #1827
Cool, I hope you can implement it, it would be very useful.

[2021-09-13 17:56] kaname-png opened #1829 "Error saving / loading request in graphql (Beta)"
**Describe the bug**
When I want to make a request for graphql the headers do not work, so I get the error "Not authorized" because the authorization header I have set was not sent.

Also I can't save any request, it is saved incorrectly, it always gives error. As well as trying to load the saved request again.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Graphql'
2. Create petitio

[2021-09-13 23:13] liyasthomas commented on #1829
This was a known bug and has been patched in #1822 and #1820 respectively. So it's most probably a offline cache issue. Please force reload (<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>R</kbd>) the Hoppscotch app to take effect the changes.

Let me know if this doesn't resolve this bug at your end.

[2021-09-13 23:14] kaname-png commented on #1829
@liyasthomas It did not work, the problem persists.

[2021-09-13 23:16] liyasthomas commented on #1829
Please reproduce the issue and see if there's any errors in browser's console log / send a screenshot of console log.

[2021-09-13 23:17] kaname-png commented on #1829
But I already did it in the attached video.

[2021-09-13 23:20] liyasthomas commented on #1829
I'll try to reproduce this same here at my end and let you know the updates. Thanks for reporting the issue.

[2021-09-14 01:18] liyasthomas commented on #1829
[beta.hoppscotch.io](http://beta.hoppscotch.io) is not the production build and may be behind the `main` branch. Please navigate to production deployment on [https://hoppscotch.io](https://hoppscotch.io). Thank you.

[2021-09-14 01:18] #1829 closed

[2021-09-18 03:28] gclm opened #1830 "pnpm run generate error"
**Describe the bug**
I'm trying to compile hoppscotch, but it reports an error, see the Screenshots below for details.

**To Reproduce**
Steps to reproduce the behavior:
1.  git clone https://github.com/hoppscotch/hoppscotch.git
2. cd hoppscotch
3. pnpm install
4. npm run generate

**Expected behavior**
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/27618687/133871129-f3

[2021-09-18 03:35] liyasthomas commented on #1830
This seems like an issue of not having a `.env` file in `packages/hoppscotch-app` directory.

Rename the default `.env.example` file found in `packages/hoppscotch-app` to `.env` and run the generate command again.

For self-hosting, you can provide your own environment keys in `.env`.

Let me know if this doesn't fix your issue.

[2021-09-18 03:35] #1830 closed

[2021-09-18 03:59] LordNoteworthy commented on #1601
Would be lovely to have this one working. Got the same issue, blank urls.

[2021-09-18 15:16] abishekram opened #1831 "[feature] embeddable Hoppscotch Instances"
Is it possible to consume as standalone Vue Component ?

Is there any idea on releasing as NPM package ?. If that's possible, we could use hoppscotch like Swagger-UI which could be used all in servers. So the API contributors could expose their API usage through hoppscotch.

Hoppscotch could fill up that space and can help in API development.

[2021-09-18 18:49] liyasthomas commented on #1831
Embeddable Hoppscotch instances are in our roadmap. Watch this space for updates. Thank you.

[2021-09-19 11:28] GorvGoyl commented on #1752
@liyasthomas  I'm facing the same issue i.e. every call I make from hoppscotch web client (using chrome extension) hits my local api server twice! Both the requests are of type `POST`. Issue doesn't happen if I use some desktop client like Postman. let me know if you need further details.
Also, should I post a new bug since you closed this issue?

[2021-09-19 11:30] liyasthomas commented on #1752
@GorvGoyl please provide more details on the issue you're having.

[2021-09-19 11:34] GorvGoyl commented on #1752
OS: Win 10
Browser: Microsoft Edge Browser
Version 93.0.961.47 (Official build) (64-bit)

@liyasthomas let me know if I missed something

[2021-09-19 11:40] liyasthomas commented on #1752
@GorvGoyl let me know how to reproduce the issue. Also have you enabled any interceptor like browser extension / proxy?

[2021-09-19 11:48] GorvGoyl commented on #1752
Yes, I'm using browser extension.

![image](https://user-images.githubusercontent.com/7106086/133926207-4992a3dd-1bdd-4227-8640-b71ffaeb8c22.png)

To reproduce this issue, You could create a local nodejs server in VSCode (I'm using [Firebase cloud functions](https://firebase.google.com/docs/functions)) and make the rest api call (`POST`) to it from Microsoft Edge browser using https://hoppscotch.i

[2021-09-19 11:51] liyasthomas commented on #1752
Thanks for the detailed information. Will let you know once it's fixed. Thank you.

[2021-09-19 12:20] H-thompson commented on #1828
I would like to take this feature on if it's not already being worked on. As part of the process of pulling through the error data I will ensure that it fits with the current localisation structure.

[2021-09-19 12:55] liyasthomas commented on #1828
Hi @H-thompson thank for showing the interest to work on this.

[2021-09-20 00:43] kaname-png opened #1833 "The fields of a request with body type multipart/form-data do not follow the order configured in the request"
**Describe the bug**
I have noticed that when sending a request, the order of the fields set in the request body configuration is not followed, and this can cause failures in applications where a specific order must be followed in the body fields.

I noticed that because with hoppscotch when I try to send this request to my graphql server with graphql-upload, I get this error, and that error is be

[2021-09-20 02:46] liyasthomas commented on #1833
Thanks for reporting this issue. We're working on a fix. Will update here once it lands on production.

[2021-09-23 09:36] zecrazytux opened #1834 "can't use an environment variable in request body"
**Describe the bug**
environment <<variable>> should be useable within a raw request body, but it isn't

**To Reproduce**
create an env variable, eg "user"
use it (<<user>>) into url: it works
use it (<<user>>) into the raw request body textarea: it is not replaced with var content

**Expected behavior**
<<user>> should be replaced with env var content

**Screenshots**
![image](https://user-images

[2021-09-23 09:39] liyasthomas commented on #1834
@zecrazytux thank you reporting this behaviour. We'll be taking a look into this as soon as possible.

[2021-09-23 15:18] fedemengo commented on #882
Any hacks to workaround this?

[2021-09-23 18:42] anubhav217 opened #1835 "Browser extension is not work with socket.io"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-09-24 01:01] liyasthomas commented on #1835
Duplicate if #1059

[2021-09-24 01:01] #1835 closed

[2021-09-27 04:12] mandaputtra opened #1840 "Control arrow right and left still bind to change history"
**Describe the bug**
Mostly when I navigate the text, I use `CTRL + <-` or `CTRL + ->` to navigate per word, but when I use it on the body editor it navigate through my browser history not per word.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Hoppsctoot
2. Go to body
3. Change content type to application/json,
4. Write stuff,
5. Navigate using CTRL + Right  or CTRL + Left

**Expecte

[2021-09-27 04:27] liyasthomas commented on #1840
hi @mandaputtra, thanks for reporting this behavior. We'd be happy if you can figure out a fix to this.

I'd like to mention our universal action handler and resolver logic which is probably the root cause of this behavior.

`actions.ts` defines the key bindings and it's corresponding action keywords.
Here it's `navigation.jump.back` and `navigation.jump.forward`
https://github.com/hoppscotch/hopp

[2021-09-29 05:08] dhivyasreedhar commented on #1834
Hi, can I work on this issue?

[2021-09-29 05:10] liyasthomas commented on #1834
Hi @dhivyasreedhar, thanks for showing interest in working on this issue. You're free to take up this. I'm assigning it to you, [contact us](https://github.com/hoppscotch/hoppscotch#support) if you need any help.

[2021-09-29 15:14] manuman94 opened #1842 "Body is not stored at query vars when using "Copy link" feature"
**Describe the bug**
I would like to use the Hoppscotch query string API to build Hoppscotch links in my application so we can debug REST calls from our HTTP test reports.

The idea behind is to make a "Play" button in our reports that link to a pre-filled Hoppscotch API tester. We already can do this but we can only fill "parameters" (query string), "headers", "method", and "endpoint". There is n

[2021-09-29 15:16] liyasthomas commented on #1842
Hi @manuman94, thanks for reporting this issue. We'll be looking into fixing this as soon as possible.

[2021-09-30 05:36] deepto98 commented on #1840
@liyasthomas Hi, I'd like to work on this issue. If it isn't assigned already, can you please assign this to me?

[2021-09-30 05:41] deepto98 commented on #1601
@liyasthomas Hi, this feature seems interesting to me. I have used Vue in the past, and use postman too. If this isn't assigned already, can I work on this?

[2021-09-30 05:42] mandaputtra commented on #1840
Go ahead if you want. I actually want to work on this weekend. Got so much to do on weekday :((

[2021-09-30 05:47] deepto98 commented on #1840
@mandaputtra Okay, sure. I also have some work during the week . Will try to work on this once I'm free and keep you updated.

[2021-09-30 06:09] liyasthomas commented on #1601
Hi @deepto98, thanks for showing interest in contributing to Hoppscotch. You're free to work on this. Let us know if you've any doubts. Assigning this to you.

[2021-09-30 12:10] Kaushal-Dhungel commented on #1751
Hello. is this issue beginner-friendly? If yes then I would like to work on it.

[2021-09-30 13:43] liyasthomas commented on #1751
Hi @Kaushal-Dhungel, this is quite easily possible yo implement. So let us know uf you got stuck. You're free to take up this issue

[2021-09-30 14:01] Shylajhaa commented on #1741
@liyasthomas Is this issue available to work on?

[2021-09-30 14:04] liyasthomas commented on #1741
Hi @Shylajhaa, yes this issue is available for you to pick up. Thanks for showing interest in contributing to Hoppscotch, feel free to ping us if you got stuck.

[2021-09-30 18:06] Shylajhaa commented on #1741
Thanks, @liyasthomas Can you assign it to me?

[2021-10-01 01:59] mandaputtra commented on #1752
I can confirm that for now, this bug is resolved. I don't see any double request when I test. Using Brave Browser (with latest Chromium). It should behave the same for Microsoft Edge/Chrome since it is just chromium based browser.

![Screenshot from 2021-10-01 08-57-10](https://user-images.githubusercontent.com/23342943/135553825-4c90a4ef-033d-485f-a8e1-ef8e4a384a22.png)

![Screenshot from 2021-10

[2021-10-01 02:03] JeremyJaydan commented on #1840
Was about to make an issue on this, I'm keen for a solution! :)

[2021-10-01 02:07] #1752 closed

[2021-10-01 02:11] mandaputtra commented on #1833
Hi, @kaname-png could you recall the wrong order? I test the step and I got same order as the request. Or maybe I was wrong on testing it?

![Screenshot from 2021-10-01 09-09-48](https://user-images.githubusercontent.com/23342943/135554918-02ac745f-b4af-4063-ac36-941319647fb5.png)

[2021-10-01 02:50] kani opened #1843 "pnpm run generate - failing on Ubuntu"
Thank you for this wonderful project, wanted to try this while we wait for the teams feature. We are planning to host our own version for our team.

Following the steps on this section: https://github.com/hoppscotch/hoppscotch#releasing

Getting this error, please help. Tried this using sudo and non root user on Ubuntu 16.04

node: v16.10.0
npm: 7.24.0

ubuntu@host:~/hoppscotch$ sudo pnpm run gene

[2021-10-01 03:01] liyasthomas commented on #1843
Hi @kani, I can't reproduce this issue at my end. Make sure you have the latest version of NodeJS (>=v14) installed and proper environment variables defined while building the project for release.

You can find the default list of environment variables in `.env.sample` under `packages/hoppscotch/`.

[2021-10-01 03:33] kaname-png commented on #1833
As you can see I execute the same request in both applications and I get that error in hoppscotch and in postman I don't get the error I mention.

For what it's worth, I'm using nestjs with graphql and the graphql-upload plugin.

[2021-10-01 03:53] mandaputtra commented on #1833
If you could make some simple repo nestjs + graphql + graphql-upload demonstrating this error. I could work on this issue. I'm just not fond with graphql.

[2021-10-01 04:09] mandaputtra commented on #1842
I can take this issue if no one already work on this.

[2021-10-01 04:10] liyasthomas commented on #1842
Hi @mandaputtra, you're free to take this issue. I'm assigning it to you, do let us know if you need any help.

[2021-10-01 04:19] blenderskool commented on #1614
@liyasthomas Can I experiment and try working on this?

[2021-10-01 04:22] liyasthomas commented on #1614
Hi @blenderskool, you're free to take a shot at this. Am assigning this issue to you, do let us know if you need any help understanding the codebase.

[2021-10-01 06:49] mandaputtra commented on #1842
Can you point me where you parse and set the query param on url bar?, I've lost track of it in [here](https://github.com/hoppscotch/hoppscotch/blob/main/packages/hoppscotch-app/components/http/Parameters.vue) I can't find the code who responsible for updating the url bar.

[2021-10-01 07:05] liyasthomas commented on #1842
Hi @mandaputtra, check out the below file on setting the request object to query parameters.
https://github.com/hoppscotch/hoppscotch/blob/0f39d54c3c669089e6639dd91904fb62b911945e/packages/hoppscotch-app/helpers/types/HoppRESTRequest.ts#L83

[2021-10-01 09:29] mandaputtra commented on #1842
Sorry to bother you again @liyasthomas  :smile: I'm still confuse how do you change the query params on url bar here.

![Screenshot from 2021-10-01 16-21-34](https://user-images.githubusercontent.com/23342943/135597008-8fb59a92-e6bb-4cc3-803e-aad514fb89ab.png)

I see it binds on `params$` but I dont see why It change the query parameters on the bar.

[2021-10-01 11:11] liyasthomas commented on #1842
Hi @mandaputtra, the code block you're looking for is this:

https://github.com/hoppscotch/hoppscotch/blob/8f0538c886e5fe00e4db2cf24c842a4d8d9f744c/packages/hoppscotch-app/pages/index.vue#L165-L171

[2021-10-01 23:10] bblumenwiese commented on #1817
Hi, I would love to see this become a reality. Because I know how easy it is to screw up keys and other secrets in Postman when working in a corporate environment and this seems to be the perfect solution I was looking for :) I have a strong interest in the intersection of security and usability, as in: Make it easy for the user to do the right thing in the right moment, and hard to do the wrong t

[2021-10-02 02:08] liyasthomas commented on #1817
A selfhost ready Hoppscotch instance is in our future roadmap. This will surely have configurable auth, backend, even toggles of feature set. We're planning to introduce a `hopp.config` file in root for any in-app settings and providers. This is at ALPHA stage at the moment, but would love to hear more thoughts on this.

[2021-10-02 04:18] kani commented on #1843
@liyasthomas  Thank you!!!

It is working now!

Is there any way to disable the Login using Github option on the site?
Looking forward to see the team feature in action! Thank you for actively supporting this project.

I did the following to get this working.

1. Switched to Ubuntu 20, earlier I was trying to run the release commands on Ubuntu 16.
2. Installed the latest node, nodejs, npm
3. Creat

[2021-10-02 04:32] liyasthomas commented on #1843
@kani, glad it worked out for you.
We're working on an in-built self-hostable instance of Hoppscotch for next major product release milestone. This will allow users to configure auth, database and backend providers as per their choice and is configurable. Thanks for your patience, watch the project on GitHub for upcoming updates.

Closing this issue.

[2021-10-02 04:32] #1843 closed

[2021-10-02 06:21] badsketch commented on #902
would be interested in tackling this. Is this still up for grabs?

[2021-10-02 06:22] liyasthomas commented on #902
Yes, @badsketch feel free to pick this up if it excites you. Assigning this to you.

[2021-10-02 09:01] bineethkumar opened #1846 "Update README.md"
In HTTP Methods Section, few statements were not completely closed with a  full stop.

[2021-10-02 09:05] #1846 closed

[2021-10-02 19:04] StephaneBischoff opened #1847 "Enable copy/duplicate menu option for environments"
**Is your feature request related to a problem? Please describe.**
Its a bit of a pain to manage environments usually. You sometime start off writing a few variables for an environment and then need to do the same for the PROD, QA and other environments.

Why require users to rewrite the same variable name all over again?

**Describe the solution you'd like**
I would like to see an option that cop

[2021-10-02 19:04] StephaneBischoff commented on #1847
Hi. I would like to add this feature if its ok?

[2021-10-02 19:21] liyasthomas commented on #1847
Hi @StephaneBischoff, you're free to pick up this feature. Do let us know if you got stuck.

[2021-10-02 20:26] deepto98 commented on #1601
@liyasthomas I just set up project locally and am trying to reproduce the issue, strangely though, for me the import environment seems to be working properly, I tried with a new json export from postman as well as the json that you had provided here. Label, delete and save, all seem to be working. Am I missing something?

[2021-10-03 00:13] kaname-png opened #1849 "Uncaught FirebaseError: Firebase: No Firebase App '[DEFAULT]' has been created - call Firebase App.initializeApp()"
**Describe the bug**
Apparently it is an error with the firebase configuration, I don't know if this has anything to do with it but I think it is the reason why the request history is not always complete, there are always missing entries.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://hoppscotch.io'
2. Click on 'F12'
3. See error

**Expected behavior**
No console errors on fi

[2021-10-03 02:06] liyasthomas commented on #1849
Hi @kaname-png, thanks for reporting this issue. We're aware of this error - but it doesn't seems to have any effect on the app's functionalities. If you think "History entries" aren't working properly - please mention how to reproduce that particular behaviour and we'll take a look into it.

Regarding this error - it seems like a race condition caused while initiating Firebase App configuration.

[2021-10-03 06:58] #1842 closed

[2021-10-03 13:08] #1847 closed

[2021-10-03 15:35] StephaneBischoff commented on #1828
Hi @H-thompson @liyasthomas proposed a very simple fix. Let me know if you want some more improvements.

[2021-10-03 17:29] bblumenwiese commented on #1827
@AndrewBastin Are you actively working on this? If not, I would like to pick this up as my first ticket :)

[2021-10-03 17:55] liyasthomas commented on #1827
Hi @bblumenwiese, you can give this a try - assigning this to you. Do let us know if you got stuck.

[2021-10-03 18:18] bblumenwiese opened #1853 "Fix broken link to .env.example in README"
**Describe the bug**
The README says in section called `Developing`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [hoppscotch Github page -> Developing](https://github.com/hoppscotch/hoppscotch#developing)
2. Click on the link `.env.example`
3. See 404 error

**Expected behavior**
When I click on the `.env.example` link, I should see the contents of that file.

**Screenshots*

[2021-10-03 18:21] liyasthomas commented on #1853
Thanks for reporting this error, feel free to send a PR.

[2021-10-03 19:42] AndrewBastin commented on #1827
Wait, we do have this already 🤣 We had this for a while now 🤣

Just press "Connect" and the GraphQL Query Editor will lint (check for errors against the schema) as well as provide autocompletion (it is not proactive, you have to press Ctrl+Space to trigger it).

This issue totally slipped my radar, @kaname-png if this is what you were expecting, please do close this issue, else please elaborate.

[2021-10-03 20:39] bblumenwiese commented on #1827
Hi @AndrewBastin , there was a conversation above by @kaname-png and @liyasthomas about making the autocomplete work while typing and not just when pressing the keyboard shortcut. So I wanted to implement this change :)

Especially as I normally have other stuff on cmd/ctrl+space shortcut on my mac (spotlight/language switching), I have an interest in implementing this part ;)

[2021-10-04 02:07] Sayan-dev commented on #1840
I can finish this up on weekdays I hope and if you don't mind @deepto98

[2021-10-04 02:57] kaname-png commented on #1849
Hi @liyasthomas
Reply to the topic about the missing items from the request history, I do nothing, they just disappear, but there is something that does appear, the message appears that if I want to confirm that I want to synchronize the history of repetitions, after that items disappear from the history, to ask me the same thing again some time later and the same thing happens. Taking into accoun

[2021-10-04 03:04] kaname-png commented on #1828
No, that's fine, thanks!

[2021-10-04 03:04] #1828 closed

[2021-10-04 03:10] liyasthomas commented on #1849
I am afraid I didn't fully understand what you mean by "I want to synchronize the history of repetitions". Please provide steps to reproduce this issue or a screenshot would be helpful.

Btw, if you turn off Syncing History from the Settings page, deleting History entries won't affect the cloud sync, also no new entries will be added to the cloud, instead, all entries will be only available in loc

[2021-10-04 03:12] kaname-png commented on #1849
I mean I get a notification saying that message. "Do you want to synchronize the request history?"

[2021-10-04 03:15] liyasthomas commented on #1849
This happens when your local storage has entries that don't match with that of the last synced cloud history.

Choose yes to upload the latest (un-synced) local changes to cloud, once it complete sync - you wont be asked again to sync history.

[2021-10-04 03:20] kaname-png commented on #1849
That's the problem, when I hit "yes" everything seems to be fine, but then hours later the message reappears and then some history items disappear.

[2021-10-04 03:22] liyasthomas commented on #1849
Have your History entries set to be synced in the [Settings page](https://hoppscotch.io/settings)?

[2021-10-04 05:00] rishabhkalra96 commented on #1834
Hi @liyasthomas, Is this issue still been looked into?
I'd like to take this up if @dhivyasreedhar is no longer working on it.

[2021-10-04 05:02] liyasthomas commented on #1834
Hi @rishabhkalra96, I guess you can pick up this, thanks for showing interest on contributing to Hoppscotch.

[2021-10-04 05:17] kaname-png commented on #1849
Yes, I always have it that way, that's why I wonder why hoppscotch asks me that question again if I supposedly already have it activated.

[2021-10-04 05:29] liyasthomas commented on #1849
Noted. We'll look into this.

[2021-10-04 06:39] sims-keshri commented on #1751
Can I sign up for this?

[2021-10-04 07:08] liyasthomas commented on #1751
Hi @sims-keshri , thanks for showing interest to contribute to Hoppscotch. You can surely take a look into this. @Kaushal-Dhungel, you can share any progress regarding this feature.

[2021-10-04 08:07] manuman94 commented on #1842
Thank you guys! This is awesome. Working pretty well and so fast!

Greetings.

[2021-10-04 10:38] manuman94 commented on #882
Hi! We are waiting for this too. Self-signed certificates will throw an error.

Thanks!

[2021-10-04 16:14] nelsontky commented on #1383
This is interesting! May I try implementing this? I will open a PR in the extension repository if this functionality is possible.

[2021-10-04 17:05] liyasthomas commented on #1383
Hi @nelsontky, you're free to pick up this one. And yes - this is a trick one to implement.

[2021-10-04 18:45] nelsontky commented on #1383
Ok @liyasthomas I have opened a PR!

[2021-10-05 08:11] Bowrna commented on #1068
hi, @liyasthomas could I take up this issue?  I will need help before starting my work on this. what is the best way to get help?

[2021-10-05 08:19] liyasthomas commented on #1068
Hi @Bowrna, feel free to pick up this feature request. [Contact us](https://github.com/hoppscotch/hoppscotch#support) for any help.

[2021-10-05 08:32] mandaputtra commented on #1752
This actually somewhat reproducible somewhat not. Could you open this one again @liyasthomas ? I can reproduce it on my windows machine but not on my linux one. Same browser ~ in the meantime I'll figure it out why it happen.

[2021-10-05 08:40] liyasthomas commented on #1752
Feel free to reopen if you can provide steps to reproduce the issue.

[2021-10-05 10:06] bokub opened #1859 "Navigation shortcuts remove the language part of the URL"
**Describe the bug**
Navigation shortcuts remove the language part of the URL

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://hoppscotch.io/fr' (french version)
2. Press ALT+Q to go to the GraphQL tab
3. Language is **changed to english** in all app **except the left sidebar** (the `/fr` part of the URL isremoved).

Note: Pressing `/` then clicking on any navigation link has t

[2021-10-05 10:21] liyasthomas commented on #1859
Hi, @bokub thanks for reporting this behavior - we'll look into it as soon as possible.

[2021-10-05 10:28] himanshu007-creator commented on #1859
Hi! would like to work on this issue. Can you help me get started ^_^ ?!

[2021-10-05 10:30] liyasthomas commented on #1859
Hi @himanshu007-creator, you're free to pick up this. Feel free to cont us here on any doubt.

[2021-10-06 05:37] sixpeteunder opened #1861 "Support SignalR connections on Realtime page"
**Is your feature request related to a problem? Please describe.**
[SignalR](https://signalr.net) is an open-source library for ASP.NET that allows real-time server-client communication. Hoppscotch does not support SignalR at the moment.

**Describe the solution you'd like**
A SignalR tab on the Realtime page with minimal configuration from which I can test SignalR services.

**Describe alternativ

[2021-10-06 05:42] liyasthomas commented on #1861
Hi @sixpeteunder, thanks for reporting this feature request. As of now, support for SignalR connections are not in our roadmap and don't have an adequate number of requests to implement this in realtime page. We'll watch this space for further requests and discussion from the community and think over it on a later period. Thank you.

[2021-10-06 07:09] #1859 closed

[2021-10-06 07:10] liyasthomas commented on #1859
Hi @himanshu007-creator, I've patched this issue since it's a critical bug in production. Feel free to pick up another issue/feature.

[2021-10-08 17:36] rishabhkalra96 commented on #1840
thanks for the reply. I looked into the changes and found out that the below conditions on line 99 are letting the meta + event  reach default jumpActions. Removing the **not conditions** fixed the issue.

https://github.com/rishabhkalra96/hoppscotch/blob/d2b39976ba270ed3fb4c729f4782ae591260b741/packages/hoppscotch-app/helpers/keybindings.ts#L93-L111

https://github.com/rishabhkalra96/hoppscotch/b

[2021-10-08 21:08] edgariscoding opened #1863 "Is there currently any way to set up Hopscotch with an alternative service to Firebase?"
My team would like to use Hopscotch but we would prefer to set it up with the Auth/Sync features on our self hosted servers or possibly on Azure.

[2021-10-09 01:16] #1840 closed

[2021-10-09 14:09] mandaputtra commented on #1833
ifyou can reproduce go ahead i never work with graphql

[2021-10-09 14:19] sims-keshri commented on #1751
Can you help me get started on this issue @liyasthomas ? Can you share some ACs and details about how I can get started?

[2021-10-09 20:56] vibhuti019 commented on #1740
Can I work on this section? I would like to add a "automate" option where all the requests can be stored in the same way as we do in .rest vscode. Then once started it will request all the endpoints and return a JSON document.
Waiting for your reply..

[2021-10-10 01:23] liyasthomas commented on #1740
Hi @vibhuti019, you can pick up this feature if you're interested.

[2021-10-11 06:29] bblumenwiese commented on #1827
Hey folks, I do have some problems trying to implement the autocompletion while typing, in combination with the library we are using ("CodeMirror). It seems to me like CodeMirror is supposed to react only to certain keys being pressed, not "any key". If anyone has an idea how to implement this, though, please speak up! :) (adding `default` in the switch statement did not work ...)

In the meantime

[2021-10-12 05:52] #1614 closed

[2021-10-12 08:56] blenderskool opened #1869 "Disable inputs in realtime requests when connection is active"
**Is your feature request related to a problem? Please describe.**
In the realtime and graphql requests, once the initial connection is made, the inputs for request URLs should be disabled till the connection is closed. I think this is a small improvement to the UX as changing these inputs after the connection is made has no effect on the connection(they only apply to the next connection).

**Desc

[2021-10-12 18:55] kenahoo opened #1871 "Access to private APIs?"
**Describe the bug**
When I try to access APIs that are available on my private network, I can't seem to reach them, I get the error "Could not send request.  Unable to reach the API endpoint.  Check your network and try again."

I think my question is about fundamentally how Hoppscotch works - does it initiate a connection directly from the browser to the API I'm querying, or does it initiate a c

[2021-10-12 21:54] kenahoo commented on #1871
Aha, I see - so it sounds like the extension is what I need, I'll give that a try.  Thanks for your quick answer!

[2021-10-13 10:48] Gunni opened #1873 "[bug]: Connecting to a very high traffic websocket server stalls"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to realtime
2. Paste url `wss://ris-live.ripe.net/v1/ws/?client=hoppscotch.io`
3. Observe connect is disabled
4. Remove parameter, quickly undo it and click connect (also a bug)
5. Send `{ "type": "ris_subscribe" }` to the remote server
6. Observe you receive routes
7.

[2021-10-13 17:53] #1871 closed, assigned to nobody

[2021-10-14 02:07] Sun-FreePort opened #1874 "When can use Teams feature?"
**Is your feature request related to a problem? Please describe.**

I write a text online game in web site, and open source the site, Now i use postman to share API file, I want to replace it to Hoppscotch teams feature.

So can we has a roadmap and show me the progress?

[2021-10-14 03:30] liyasthomas commented on #1874
Teams feature is in closed beta - [sign up for beta](https://hoppscotch.io/beta).

Checkout the [Teams wiki page](https://github.com/hoppscotch/hoppscotch/wiki/Teams) for usage and screenshots.

You can expect the public beta release of Teams by end of this month.

[2021-10-14 03:30] #1874 closed

[2021-10-14 08:56] bhav15h opened #1875 "[feature]: Ability to save API response"
**Is your feature request related to a problem? Please describe.**
I would like to be able to save an API response similar to the feature in postman.
1. This will then allow us to preview the API instead of having to do a request to get the response.
2. Also this is helpful whereby if you use a token to authenticate and the token has expired, instead of reauthenticate to view a response you get to

[2021-10-14 20:08] edgariscoding opened #1877 "Question regarding the Teams/Collaboration Beta, will this functionality be supported in the self-hosted option when beta testing is finished?"
I'm definitely liking the Teams functionality in the Hoppscotch beta, our team prefers to keep our own data in our Firebase account so we'd like to be able to use Teams in our self hosted Hoppscotch.

Will it be rolling out once beta testing is finished?

[2021-10-15 01:47] #1877 closed

[2021-10-17 06:18] liyasthomas opened #1879 "Keyboard navigation on power search"
I'm always frustrated when the keyboard navigation doesn't work on lists. Power search has an auto-complete / search suggestions list that doesn't support keyboard navigation.

To reproduce:
1. Press <kbd>/</kbd> from any page in [Hoppscotch](https://hoppscotch.io) to bring up power search
2. Try navigating through search suggestions or auto-complete if you type in a query through the keyboard: <k

[2021-10-17 19:11] franciscoemanuel commented on #1879
Working on it!

[2021-10-17 21:48] sguzmanm commented on #1875
Hi, this seems interesting, mind if I look into it?

[2021-10-18 01:26] liyasthomas commented on #1875
@sguzmanm yes, feel free to pick this up.

[2021-10-18 14:50] stuzer05 commented on #1817
Swapping firebase alone would be a major step into self hosted direction

[2021-10-19 08:14] #1879 closed, assigned to franciscoemanuel

[2021-10-19 16:21] fabricio7p opened #1890 "UI Hangs when fetching "big" response"
Big responses hangs the UI. It doesn't completely freeze but it turns out to be unusable.
This happens either as PWA or in the browser

Steps to reproduce the behavior:
1. Open the webapp
2. Make a request with a big JSON response, (my case it shows 200kb but not sure this is accurate)
3. It hangs

**Expected behavior**
UI should warn that the payload is too big to display and not hang

**Screensh

[2021-10-19 20:32] kaname-png commented on #1741
But will that work only for the Authorization field of the Header or for everything in the Header?

[2021-10-20 00:16] fabricio7p commented on #1890
Yea it is about right. it's ~200kb

[2021-10-21 11:28] iagormoraes opened #1891 "Html preview view area is not full height"
**Describe the bug**
By getting a HTML response from any endpoint call, the preview is not getting the full height of available space as shown in the screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Make request to `https://github.com/hoppscotch/hoppscotch/issues`
2. Click on `Show Preview`
3. You should see the height of the preview not fitting the available space

**Expected beh

[2021-10-22 11:05] amraappvolution opened #1892 "How I install ssl certficate?"
I have to access website through https
How I set ssl certificate path on code?

[2021-10-24 21:47] sguzmanm opened #1895 "Review spanish translations"
**Describe the bug**
The translations used for spanish texts are either too old or incorrect. For example:
- Save should be "guardar" not "salvar" (too old)
- Copy should be "copiar" not "copias" (wrong translation: this means "copies")

**To Reproduce**
Just look at the translations in the project

**Expected behavior**
Receive the expected translation

**Screenshots**
The aforementioned translat

[2021-10-24 21:53] sguzmanm opened #1896 "Generalize changes to lenses renderers"
**Is your feature request related to a problem? Please describe.**
Mostly maintainability and code readability. When you make a change to any of these renderers you are forced to copy the same code more than three times

**Describe the solution you'd like**
A global component for rendering the response that receives as inputs:
- The response
- List of actions and a callback for each of these actio

[2021-10-25 15:40] siamahnaf opened #1902 "[feature]: File support in GraphQL"
Here is I am very happy to see the hoppscotch. It is very nice designed. But it is very sad that there is no option to add file in graphql. When we build graphql it need different file upload. Then if i not find a option for uploading or adding file it is very angryful. That's why I am requesting to the developers as soon as possible please add option to add file in graphql api.

[2021-10-25 21:05] rmchale opened #1903 "A way to run shell commands in pre-request script"
I am building services in cloud-run that require tokens to invoke.  The recommended way to fetch a token is via a cli command.  https://cloud.google.com/sdk/gcloud/reference/auth/application-default/print-access-token

[code]

[code]

How would I accomplish this in hoppscotch?  It doesn't appear I can kick off a sub-process in the pre-request script.

[2021-10-26 01:17] #1895 closed, assigned to nobody

[2021-10-26 03:00] ZvonimirSun opened #1905 "Persist the environment selection"
**Is your feature request related to a problem? Please describe.**

I need to select the environment every time I refresh the website. And I have several environments, I cannot set all the variables in the global environment.

**Describe the solution you'd like**

I do wish the environment selection to be persisted somewhere, and do not need to select it everytime.

[2021-10-26 03:05] ZvonimirSun opened #1906 "Allow duplicate the global environment"
**Is your feature request related to a problem? Please describe.**

Only environments that I added myself can be duplicated, if the global environment can be duplicate, that would be nice.

[2021-10-27 07:42] louisyuCN opened #1908 "If I use pinyin, an input error will occur"
If I use pinyin, an input error will occur

1.Enter some Chinese words
![image](https://user-images.githubusercontent.com/36834305/139021356-9c9e902e-785d-459e-9949-7cda6bb08304.png)

2.the result confuse me
![image](https://user-images.githubusercontent.com/36834305/139021527-d9510429-f7c3-4864-943d-9a202bf750e6.png)

i think it should support Chinese input method

[2021-10-27 08:01] #1908 closed, assigned to nobody

[2021-10-27 13:49] cperthel opened #1909 "Add config for VSCode dev containers"
**Describe the solution you'd like**
In VSCode you can use a container as a pre-defined, full-featured development environment.
To quickstart developing for Hoppscotch, a matching configuration should be provided.

 see: https://code.visualstudio.com/docs/remote/containers

**Additional context**
I'll submit a PR to add this feature.

[2021-10-28 06:01] #1909 closed, assigned to nobody

[2021-10-28 09:20] DeveloperKamlesh opened #1911 "Firebase CORS issue"
**Describe the bug**
I have integrated firebase now when i login with gmail I get following error in console
`Access to fetch at 'https://firestore.googleapis.com/google.firestore.v1.Firestore/Write...' from origin 'https://domain-name:3000' has been blocked by CORS policy: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credent

[2021-10-28 09:22] #1892 closed, assigned to nobody

[2021-10-28 21:55] SidneyAllen opened #1913 "websocket.org service is no longer available"
**Describe the bug**
Sometime in 2021 Kazzing the company which owns websocket.org and was previously acquired shut down websocket.org rendering echo.websocket.org no longer available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the Realtime area -> websocket in Hoppscotch.io
2. Click to connect button
4. See failure to connect

**Expected behavior**
A clear and concise description

[2021-10-29 03:22] #1913 closed, assigned to nobody

[2021-10-29 09:35] #1911 closed, assigned to nobody

[2021-10-29 14:50] amraappvolution opened #1915 "Can we save local database instead of browser cookie?"
I have to store collection on local server.
Currently when we save collection it will sync in firebase database or browser cookie.
If I can store data on local database or mysql server, Tools will really help for me.

[2021-10-30 07:44] long2ice commented on #1752
Same issue here, use chrome PWA, but everything is fine after reinstall PWA

[2021-10-30 10:13] bblumenwiese commented on #1827
Hey, unfortunately I am still stuck on this one. I have tried a bunch of things and have been trying to implement your idea @AndrewBastin but there are so many levels of keypress listeners: CodeMirror, Vue, "emit", keybindings.ts ... I don't really know where to hook in so that it will trigger the autocomplete being shown on a "normal" keypress - especially as the autocomplete should only be opene

[2021-10-30 11:34] AndrewBastin commented on #1827
Sure, if you want my hands on help then you can ping me directly using the Hoppscotch Discord Server.

Also, as for codemirror keybindings, the other keybinding systems adjust to the Codemirror code. So for adding keybindings to codemirror, you only need to worry about the Codemirror composable, other keybinding systems won't be applicable.

About the errors, due to the current situation with us m

[2021-10-31 14:10] #1915 closed

[2021-10-31 14:10] #1903 closed

[2021-11-01 06:53] michaelwittwer opened #1921 "Hoppscotch can't be launched"
**Describe the bug**
Just tried to open the PWA and website https://hoppscotch.io with no luck.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://hoppscotch.io/'
2. Open up Console and check on error

**Expected behavior**
Opens without exception.

**Screenshots**
<img width="1326" alt="Screenshot 2021-11-01 at 07 50 33" src="https://user-images.githubusercontent.com/8394182/139

[2021-11-01 06:59] liyasthomas commented on #1921
Please refresh the application to take the latest changes.

We've rollbacked the last deployment. Hoppscotch.io should be online now. Will fix the latest build and re-deploy again. Thanks for reporting the downtime.

Do let me know if anyone is facing any issues with opening the application.

[2021-11-01 06:59] #1921 closed

[2021-11-01 14:58] 0xc0Der commented on #1905
would like to work on this issue.

[2021-11-01 14:59] 0xc0Der commented on #1906
may I pick it up ?

[2021-11-01 15:11] liyasthomas commented on #1906
Hi @0xc0Der, you give this a try. Do let me know if you need any help.

[2021-11-01 15:12] liyasthomas commented on #1905
Hi @0xc0Der, feel free to give this a try. Do let us know if you get stuck with anything in the codebase.

[2021-11-01 15:33] 0xc0Der commented on #1905
ok I will. :+1:

[2021-11-01 18:28] c0dehunter opened #1926 "Could not send request (Unable to reach API endpoint)"
I am not able to make any request to any host using Hoppscotch, unless I enable the proxy. I don't want to use the proxy, because I also need to know my API response times.

I tried GET request with various URLs (`https://google.com, https://data.thecrypto.app, ...`) and always I get error:

[code]

I tried this via https://hoppscotch.io (using Chrome) as well as the PWA. I also tried installing [

[2021-11-01 18:45] c0dehunter commented on #1926
It started working after I put the origin in the Browser Extension without subdomain, e.g. https://google.com

[2021-11-01 18:45] #1926 closed

[2021-11-02 00:26] exussum12 commented on #1817
We self host hoppscotch currently, our build process is as follows
[code]

 then copy the generated files to the hosting platform. You lose features like being able to edit and auto save, as you need a PR for them, but all of the collections and environments work.

Basically stop the persistence, and the files copied in are mostly the collections and environments separated for ease of PR and viewi

[2021-11-02 07:22] elaoshi opened #1927 "500 Error invalid URL issue shows while environment variable contained 'http://' used in REST API"
**Describe the bug**
Can't just using like `<<baseUrl>>/api/login` while using environment in Rest API.
It will show `invalid URL` when refresh home page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Rest' tab
2. Click on url address bar and just type '<<baseUrl>>/api/login'
3. Scroll down to 'create environment and create a demo group , create a  baseUrl variable with 'https://loca

[2021-11-02 11:52] renmu123 opened #1928 "When l click "Bulk edit", the params l input in "key-value edit" will not be showed."
**Describe the bug**
When l click "Bulk edit", the params l input in "key-value edit" will be not showed.

**Expected behavior**
Params l inputed in "key-value edit" can be edited in "Bulk edit" just like postman

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/26896790/139840409-7021a782-16b7-43c1-af5d-a63252a17b2b.pn

[2021-11-02 11:56] liyasthomas commented on #1928
Hi @renmu123, thanks for requesting this feature.

We're aware of this behaviour and will try to improve Bulk Editor with two-way binded data support in near future.

[2021-11-02 13:43] YOEL311 opened #1929 "How i share my workspace with my team members"
i opend workspace but I  can not share my team members

[2021-11-02 16:02] liyasthomas commented on #1929
Hi @YOEL311, we've released Hoppscotch for Teams for public beta.
[Read more about this](https://liyasthomas.hashnode.dev/create-teams-for-collaboration-in-hoppscotch).

[2021-11-02 16:02] #1929 closed

[2021-11-02 16:04] liyasthomas commented on #580
### Teams are now out of closed beta.

✅   Unlimited teams

✅   Unlimited shared collections

✅   Unlimited team members

✅   Role-based access control

✅   Cloud sync

✅   Multiple devices

[Read more](https://liyasthomas.hashnode.dev/create-teams-for-collaboration-in-hoppscotch)

[2021-11-02 16:05] liyasthomas commented on #1874
### Hoppscotch for Teams is now out of closed beta.

✅   Unlimited teams

✅   Unlimited shared collections

✅   Unlimited team members

✅   Role-based access control

✅   Cloud sync

✅   Multiple devices

[Read more](https://liyasthomas.hashnode.dev/create-teams-for-collaboration-in-hoppscotch)

[2021-11-02 16:05] liyasthomas commented on #408
### Hoppscotch for Teams is now out of closed beta.

✅   Unlimited teams

✅   Unlimited shared collections

✅   Unlimited team members

✅   Role-based access control

✅   Cloud sync

✅   Multiple devices

[Read more](https://liyasthomas.hashnode.dev/create-teams-for-collaboration-in-hoppscotch)

[2021-11-02 16:07] Sun-FreePort commented on #1874
@liyasthomas Hurry!!! very thank you and your team work!

[2021-11-03 04:49] #1906 closed

[2021-11-03 04:50] liyasthomas commented on #1891
Hi @rishabhkalra96, let me know if you've any trouble with this issue. Would love to help you out.

[2021-11-03 04:57] #1383 closed

[2021-11-03 16:55] teofilosalgado opened #1931 "Can't Install hoppscotch on Edge"
**Describe the bug**
I am not able to install hoppscotch through the install button. Its giving the following error in Microsoft's Edge console:
![image](https://user-images.githubusercontent.com/7178504/140105670-e01afd72-03ca-405e-9da4-b0dc745a63f1.png)
Transcript:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hoppscotch.io/
2. Click on Install

**Expected behavior**

[2021-11-03 17:01] iagormoraes commented on #1891
I can help also in this issue, just let me know 🙂

[2021-11-03 17:44] AndrewBastin commented on #1931
Thank you for reporting @teofilosalgado!

Will look into this ASAP

[2021-11-03 18:14] #1931 closed

[2021-11-03 18:14] AndrewBastin commented on #1931
Fixed this in #1932 !

Should be live in a couple of minutes, please report if it still persists after that @teofilosalgado

[2021-11-03 18:22] AndrewBastin commented on #1905
fixed in #1925

[2021-11-03 18:22] #1905 closed

[2021-11-03 18:23] AndrewBastin commented on #1891
@iagormoraes sure you can work on this!

[2021-11-03 18:49] teofilosalgado commented on #1931
It's working like a charm! Thank you very much @AndrewBastin! _Fastest fix in the west!_ 🤠
![image](https://user-images.githubusercontent.com/7178504/140173483-2988e4cb-8fa2-47f5-8c6c-4a30f964e811.png)

[2021-11-03 20:46] iagormoraes commented on #1891
I can't run dev due to some error of package, I saw we use workspaces for it but it seems to be not recognizing it:

[code]

It happens both local and in cloud with Gitpod, someone knows that?

[2021-11-03 21:07] edgariscoding opened #1933 "Is it possible to relocate the collections sidebar to the left side? And is it possible to have the collections sidebar not get reset any time the page reloads?"
I feel like having the collections sidebar on the left is more natural, that's where the folder tree is located in File Explorer, thats where I have my Solution Explorer set in VS, same for VSCode, and basically any app with a navigation menu tree.

It feels unnatural accessing it on the right side of the page. Is there an option to move it to the left?

Also, any time I'm working in a teams colle

[2021-11-03 23:48] liyasthomas commented on #1933
Will look into implementing these.

[2021-11-04 04:28] #1933 closed

[2021-11-04 04:34] liyasthomas commented on #1933
Introduced a toggle button in the [Settings page](https://hoppscotch.io/settings) > Experiments to move the sidebar to the left.

![screely-1636000252651](https://user-images.githubusercontent.com/10395817/140258272-a2d6807d-5739-4697-ab6c-7a3e109fdb5d.png)

<img width="1440" alt="Screenshot 2021-11-04 at 10 03 15 AM" src="https://user-images.githubusercontent.com/10395817/140258449-6c00383b-76ee-

[2021-11-04 04:42] edgariscoding commented on #1933
Whoa that was fast! Thank you!

[2021-11-04 04:47] liyasthomas commented on #1891
This seems like an issue with the Node environment. To set up Hoppscotch development you might need to upgrade the Node version to v14.x or above. Let me know if this doesn't help - try cleaning the `node_modules` directory and reinstalling dependencies.

[2021-11-04 07:31] #1928 closed

[2021-11-04 16:40] iagormoraes commented on #1891
Hey @liyasthomas I've just tried that and still complains the missing package, is interesting because in `node_modules` I can see the folder there but it seems to not being recognized, even in Webstorm IDE, any tips?

[2021-11-04 16:47] liyasthomas commented on #1891
There was an issue in Windows OS which might've caused this behavior. This has been patched - pull the latest `main` branch or reclone the repository and try again. Let us know if the issue persists.

[2021-11-04 16:59] iagormoraes commented on #1891
I pulled and is working now.

[2021-11-04 17:53] kani opened #1937 "Self hosted version, not seeing the teams feature"
I closed the main branch and the latest commit shows this. I followed the steps here https://github.com/hoppscotch/hoppscotch#releasing and uploaded the files to my webserver and I do not see the teams feature. Please help!

[code]

[2021-11-04 17:56] liyasthomas commented on #1937
Teams are not available for self-hosted Hoppscotch instances.
Use the [Hoppscotch.io](https://hoppscotch.io) to enjoy Teams.

We'll be providing a self-hostable community edition in near future, meanwhile it's advice to use public build.

[2021-11-04 17:56] #1937 closed

[2021-11-04 18:10] kani commented on #1937
ok thanks!

[2021-11-05 00:55] #1891 closed

[2021-11-06 12:19] 0xc0Der commented on #1751
is it ok if i work on this. the duplication part?

[2021-11-06 12:26] liyasthomas commented on #1751
Hi @0xc0Der, we're glad if you can pick this up. Do let us know if you need any help.

[2021-11-11 22:41] cloudomatic opened #1945 "Cannot install from behind proxy"
**Describe the bug**
Attempted to build and run Hoppscotch, but build failed, possibly due to gql-codegen not being able to navigate outbound proxy

**To Reproduce**
  git clone https://github.com/hoppscotch/hoppscotch
   cd hoppscotch
   git checkout -b test_build
   sudo docker run -it --rm  -v $(pwd):/app:Z registry.acme.com/node:lts-alpine sh
   ### Inside the container's shell, set the proxy

[2021-11-12 14:56] 0xc0Der commented on #1834
shouldn't this be closed?

[2021-11-12 14:58] 0xc0Der commented on #1196
what about this. can i work on it?

[2021-11-12 14:59] #1834 closed

[2021-11-14 01:17] liyasthomas commented on #1945
`https://api.hoppscotch.io/graphql` is restricted to Hoppscotch production instance only due to security reasons. Use the public cloud instance to enjoy Teams and upcoming features.

[2021-11-14 01:17] #1945 closed

[2021-11-14 01:20] liyasthomas commented on #1196
Hi @0xc0Der, feel free to pick this up.

NOTE: implementation in #1298 is stale and now we uses localPersistence and dispatching store instances instead of Vuex store.

[2021-11-14 20:47] Shohzod97 opened #1949 "login issue"
Steps to reproduce the behavior:
1. Go to 'app.cors.bridged.cc/settings/' by Google Chrome.
2. Click on 'Login with Google' - browser showed pop-window for a second and closed it.
3. Click on 'Login with Github' - browser showed pop-window for a second and closed it.
4. I tried to login from other browsers.

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser chrome,

[2021-11-15 01:23] liyasthomas commented on #1949
`https://app.cors.bridged.cc` is not affiliated with Hoppscotch.

Use [Hoppscotch.io](https://hoppscotch.io) for latest features.

[2021-11-15 01:23] #1949 closed

[2021-11-15 04:23] liyasthomas commented on #1751
"Duplicating requests" have been implemented in #1941 and the "multiple tabs" feature is tracked in #690, hence closing this issue.

[2021-11-15 04:23] #1751 closed

[2021-11-15 08:35] liyasthomas opened #1951 "feature request: undo delete action"
If the user mistakenly deletes an entry from parameters/headers or any key-value list, the action is irreversible.

It would be nice to have an option to "Undo" the delete operation.

User delete an entry > Show success toast with "Undo" button > Clicking "Undo" restores the deleted entry.

[2021-11-15 11:17] liyasthomas commented on #1827
This has been implemented in https://github.com/hoppscotch/hoppscotch/commit/76a3b35e9e024143c2da50d7701f09d317d36103, hence closing.

[2021-11-15 11:17] #1827 closed

[2021-11-15 11:20] liyasthomas commented on #1890
We've updated the [CodeMirror](https://codemirror.net/6) editor (the library which we use in Hoppscotch) to v6. This has bought several performances boost to the render engine and now handles responses with more than 200kb. Hence closing.

[2021-11-15 11:20] #1890 closed

[2021-11-15 20:34] PortStone opened #1953 "Socket.io auth"
It would be awesome to set a bearer token on a socket.io request just like you can do it on a rest request.

[2021-11-16 02:23] #1772 closed

[2021-11-16 03:57] #1927 closed

[2021-11-16 06:22] #1861 closed

[2021-11-16 06:28] elaoshi opened #1954 "Body content issue , it should support same api request used in different projects with different body content"
**Describe the bug**
Body content in same api address issue , it should support same api request with different body content used in different projects / folders

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'folder A'
2. Create a request and add some body content
3. Save api request "R1" to folder A
4. Created folder B
5. duplicate "R1" to folder B , names "B1"
6. update the body co

[2021-11-16 06:33] liyasthomas commented on #1954
Thanks for reporting the issue, we're able to reproduce this behaviour - looking into fixing this as soon as possible.

[2021-11-16 10:08] #1954 closed

[2021-11-16 11:04] #1951 closed

[2021-11-16 13:31] wouthoekstra commented on #870
The solution that is being worked on (https://github.com/hoppscotch/hoppscotch/projects/6) suggests a single folder where all workspaces have to be stored in. Would it still allow for multiple projects to be stored in several places? For me the biggest advantage of having the collection be stored wherever I want would be that it would be possible to store the collection within the projects reposit

[2021-11-16 14:30] WqyJh opened #1956 "Failed to set header User-Agent"
**Describe the bug**
I've specified an User-Agent header in my request, but the server got User-Agent of Chrome browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Run an simple http server: save the following content as `3serv.py`, run with `python3 3serv.py`, you'll get an http server listening on port 8000 which print header when received requests.
[code]
2. Make an request with hopp

[2021-11-16 17:18] liyasthomas commented on #1956
`User-Agent` is one among the other [Forbidden header names](https://developer.mozilla.org/en-US/docs/Glossary/Forbidden_header_name). Though Firefox 43 and above supports setting the `User-Agent` header from the client-side, and Chrome will silently drop the header from fetch requests.

Since this is a browser-defined security policy and is not directly connected with Hoppscotch - I'm choosing th

[2021-11-16 17:18] #1956 closed

[2021-11-16 20:46] AndrewBastin commented on #870
@wouthoekstra The Github Project boards we are using are really outdated and we have backtracked on the implementation plans discussed on that. We want to focus on a more robust implementation in which you can actually write your Hoppscotch collections as a file (kinda like an export, but not exactly) and work off on that so we don't exactly worry about the Git aspect of the things.

But before ge

[2021-11-16 21:18] liyasthomas commented on #870
I've deleted the existing project board, it has been stale for a very long time, and our roadmap has been changed quite a lot.

Once we have a proper UX of the way users switch collections context from personal to team/organization, syncing with multiple providers like git/file can be taken into consideration. Watch this space for updates.

[2021-11-17 11:38] xadh00m opened #1959 "MQTT pathname is stripped from URL"
**Describe the bug**
We have an MQTT broker reachable via Websocket at e.g. `wss://foo.bar.com:8883/broker/ws`. If I use this URL the pathname `/broker/ws` is stripped/ignored and Paho tries to connect to `foo.bar.com:8883`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Realtime/MQTT'
2. Type `wss://foo.bar.com:8883/broker/ws` as URL
3. Check error message in console which shows the

[2021-11-17 12:13] #1959 closed

[2021-11-17 12:25] xadh00m commented on #1959
Thank you very much! :-)

[2021-11-17 14:08] jorgetovar commented on #1601
@deepto98 could you please link the pull request? I want to contribute without duplicating the work

[2021-11-18 04:44] t1 opened #1960 "Can't type GraphQL query in Safari"
**Describe the bug**
The GraphQL query field doesn't accept any input. Only the backspace key seems to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://hoppscotch.io/graphql'
2. Click inside the 'query' field
3. Start to type

**Expected behavior**
Characters should appear

**Desktop (please complete the following information):**
 - OS: MacOS (M1)
 - Browser: safari
 - Ve

[2021-11-18 04:45] t1 commented on #1960
The console shows `[Error] WebSocket connection to 'wss://api.hoppscotch.io/graphql' failed: WebSocket is closed before the connection is established.`, but nothing else.

[2021-11-18 04:53] liyasthomas commented on #1960
We're looking into fixing this issue as soon as possible.

[2021-11-18 04:58] liyasthomas commented on #1960
I've temporarily rolled back to our latest stable release - the editor should work as expected now. Will investigate what went wrong and update here.