[2019-12-01 14:51] NBTX commented on #386
@liyasthomas have you tried transpiling to an older destination in babel?

[2019-12-01 14:53] liyasthomas commented on #386
Nope. I went with the latest version. But i dont think babel os the reason, I think it's an issue with template literals etc.

[2019-12-01 15:02] NBTX commented on #386
@liyasthomas yeah You actually want to select an older destination version - if you make it target internet explorer and other older browsers, Babel will polyfill missing features such as template literals (which IE doesn't support)

[2019-12-01 15:03] liyasthomas commented on #386
Okay, will try with a lower version and let you know.

[2019-12-01 15:17] andreujuanc opened #387 "[UX] Hide history/collections"
**Is your feature request related to a problem? Please describe.**
I don't use history/collections. So I would love to hide them since it takes 1/3 of my screen. I normally have 66% of the screen on code and the rest with either a UI or API client to develop faster.

**Describe the solution you'd like**
A drawer-hide button to hide and show the right panel.

**Additional context**
We'll get FREE R

[2019-12-01 15:20] andreujuanc opened #388 "[UX] Improve responsive breaking points"
**Is your feature request related to a problem? Please describe.**
When having a small window there is a point in which the boxes for method, host, path and label should break, but they dont. And make's it not usable.

**Describe the solution you'd like**
Improve the breaking points of the styles

**Describe alternatives you've considered**
Change the font size, but then I cant read :stuck_out_ton

[2019-12-01 15:20] NBTX commented on #387
![giphy](https://user-images.githubusercontent.com/43181178/69916056-fabdc700-144d-11ea-88d3-4a5dfe8221bc.gif)
On it!

[2019-12-01 15:21] liyasthomas commented on #387
I opened my laptop 😄

[2019-12-01 15:21] andreujuanc opened #389 "[UX] Setting to make sidebar buttons small"
**Is your feature request related to a problem? Please describe.**
In small screens, the bar takes a lot of space.

**Describe the solution you'd like**
A setting that sets those buttons smaller

**Additional context**

![image](https://user-images.githubusercontent.com/360052/69916076-9ce1ad00-1456-11ea-8431-65a972a456bc.png)

[2019-12-01 15:22] liyasthomas commented on #389
Resizable icons? This is the first time i heard of it. 😕

[2019-12-01 15:24] liyasthomas commented on #387
@NBTX can you make the page transitions work? It's partly working. I can do this. 😌

[2019-12-01 15:34] NBTX commented on #387
@liyasthomas okay

[2019-12-01 19:18] andreujuanc commented on #389
Not resizable icons, just the buttons. Sorry, fixed title. :)

I would take it even further, but I don't have much time now: something like this for comparison:

![image](https://user-images.githubusercontent.com/360052/69918918-944d9e80-1477-11ea-9df6-63eb5b936d6b.png)

![image](https://user-images.githubusercontent.com/360052/69918923-99aae900-1477-11ea-8169-9a46facc7459.png)

[2019-12-02 00:17] FatDoge commented on #373
I will test it today and paste the result below.

[2019-12-02 00:48] aksappy commented on #388
@andreujuanc What size is this screenshot from?

[2019-12-02 01:13] aksappy opened #390 "Save to collections after deleting all the collections causes an error page"
**Describe the bug**
When trying to save to collection, after deleting all the existing collection throws

**To Reproduce**
Steps to reproduce the behavior:
1. Save a request to an existing collection.
2. Delete all the existing collections
3. Click on Save to Collections
4. Error is seen, in addition to that neither "Go Home" or "Reload" does not work.

**Expected behavior**
Either say that there

[2019-12-02 08:30] andreujuanc commented on #388
Some more info:
There is a break at 768px
Anything smaller than 1500px will require to break in a different way than "mobile".

So, to answer your question, the size of the screenshot is from 768 to aprox 1500.

This is what I get on 1500:
![image](https://user-images.githubusercontent.com/360052/69943924-4f148580-14e6-11ea-84df-5013d843d25e.png)
As you can see, you can barely see the contents of

[2019-12-02 09:13] andreujuanc commented on #388
Just setting flow wrap on that `ul` and some `flex-grow`.

![image](https://user-images.githubusercontent.com/360052/69946619-41fa9500-14ec-11ea-93ee-f06db91947aa.png)
![image](https://user-images.githubusercontent.com/360052/69946646-56d72880-14ec-11ea-8a23-92abf9d63dce.png)

[2019-12-02 09:48] jls-tschanzc commented on #164
Another improvement might be to use [tini](https://github.com/krallin/tini) and switching from "npm run start" to directly executing the nuxt command. Just add "tini" to the `apk add` command and then switch the CMD line with:
[code]

Another nice to have feature might be a [healthcheck](https://docs.docker.com/engine/reference/builder/#healthcheck), something like this:
[code]

I am not entirely

[2019-12-02 10:32] #387 closed

[2019-12-02 10:33] #389 closed

[2019-12-02 16:40] #388 closed

[2019-12-03 01:21] HobaiRiku opened #392 "[feature]: Configuration client certificates for SSL"
**Is your feature request related to a problem? Please describe.**
Can PW set a `Client Certificates`  for SSL requests? in some case, we want to test request for some PaaS service which need special client certificates.

**Describe the solution you'd like**
I'm not sure this can be done relying on the browser only.

**Describe alternatives you've considered**

**Additional context**

[2019-12-03 01:25] liyasthomas commented on #392
That's possible. I think axios do have support for importing `.pem` certs.

[2019-12-03 10:36] xwmyth8023 opened #393 "Input area is not clearly to identify for users because the dark mode"

[2019-12-03 10:39] liyasthomas commented on #393
Which input area are you referring to?

[2019-12-03 13:54] elangovanshanthi opened #394 "Raw input disabled is not working properly"
**Describe the bug**
Raw input disabled is not working properly

**To Reproduce**
Steps to reproduce the behavior:
1. To make the api request by using POST methods via RAW INPUT.
2. Checking the POST api results, it should works as expected.
3. Now disable the RAW INPUT and will make the GET Request.
4. Still RAW INPUTS are passing in GET methods and even if RAW INPUTS disabled also.
Please fix th

[2019-12-03 14:27] liyasthomas commented on #394
Please fix this issue.

I couldn't reproduce this issue. GET doesn't pass raw payload in request.

[2019-12-03 14:31] #393 closed

[2019-12-03 15:11] elangovanshanthi commented on #394
@liyasthomas can you tried the above reproduce steps.

It is simple ,
you add some raw data in POST method and just on/off the raw input after that you will change method as GET method, now you will check above request parmas.

[2019-12-03 23:04] AndrewBastin commented on #386
Sooo, any updates ?

[2019-12-04 00:50] GustavoBezerra opened #395 "Improve translate for pt-BR (i18n)"
I think the file for pt-BR translate wasn't modified, right?

Can I help with this?

Regards

[2019-12-04 02:53] liyasthomas commented on #394
That's a feature. Actually when you disable the raw input or changed to any other `method`, payload is stored to the app's state so it could be used next time.

Think of this as: You send a POST request with some payload and have to check it's GET response. So you switched to GET and send another request. Now, if we clear the POST payload, you've to again type in all payload again since it's not i

[2019-12-04 02:53] #394 closed

[2019-12-04 02:57] liyasthomas commented on #395
#396 solves this, hence closing.

[2019-12-04 02:57] #395 closed

[2019-12-04 03:03] #373 closed

[2019-12-04 13:28] JanoschDeurer opened #398 "Custom request method"
**Is your feature request related to a problem? Please describe.**
Some APIs use custom request methods. For example the API of vault uses `LIST` do deliver secrets:
https://www.vaultproject.io/api/secret/kv/kv-v2.html#list-secrets

**Describe the solution you'd like**
It would be great to have a custom option that opens a text field where one can put in strings that describe the method.

Another

[2019-12-04 13:54] liyasthomas commented on #398
Will try to implement them.

[2019-12-04 14:35] abhijithvijayan opened #399 "[Bug] fix header icons overlap"
Maybe adding horizontal scroll might help if icons overlap on mobile screens

![](https://i.imgur.com/RC9YL9d.png)

Also, what's wrong with the text, it says Send Again even when no request is submitted previously !?

It says Send on the primary button and on the header button, Send Again

[2019-12-04 14:47] liyasthomas commented on #398
`method` list have been adapted from https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods and since `LIST` is not an officially safe method, we can't list that in our default set of methods. But we've implemented an `<input>` box instead of `<select>` options, this allows user to type in any custom `method` they want. These custom methods could be used in endpoints that support those methods.

[2019-12-04 14:52] liyasthomas commented on #399
Good suggestion

[2019-12-04 15:15] liyasthomas commented on #398
@JanoschDeurer can you do a quick verification of custom method feature?

Check out https://deploy-preview-400--postwoman.netlify.com and try out few custom methods you're family of.

Don't forget to use the endpoints that do support those methods. The default one doesn't seems to have support for custom methods.

[2019-12-04 16:22] #398 closed

[2019-12-04 16:22] #399 closed

[2019-12-05 04:25] guilt commented on #325
That's a very useful start :) Would love to see this in action.

[2019-12-05 09:31] JanoschDeurer commented on #398
Wow, that was fast 🤩, thank you so much. I tested it with a few of the custom methods that vault uses and it works.

[2019-12-05 09:32] Kurt-Shiwz opened #401 "Post can't send request"
**Describe the bug**
Post Mode can't send request.

Error: Network Error. Check console for details.
![image](https://user-images.githubusercontent.com/7554917/70222407-03cbd280-1785-11ea-8e1e-32900fb33256.png)

**Additional context**
I start go server listen localhost:8080

[2019-12-05 09:33] liyasthomas commented on #398
Shoor suggestions and along with PRs 😌👍

[2019-12-05 09:37] liyasthomas commented on #401
`localhost` support is not implemented yet. This is a security feature imposed browsers. Please track of it's progress on #274 and hopefully will be solved on #267

[2019-12-05 09:37] #401 closed

[2019-12-05 10:18] hoomanist commented on #267
i will create its repository

[2019-12-05 10:24] liyasthomas commented on #267
**Important announcement:**
@AndrewBastin will be leading this issue.
Please contact him for latest updates.

[2019-12-05 16:36] mattbailey opened #402 "Feature request: gRPC-Web support"
**Describe the solution you'd like**

Would like to see gRPC-Web support in a tool like this.

**Additional context**

https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md

[2019-12-05 16:38] liyasthomas commented on #402
Is there any implementation available?

[2019-12-05 19:07] mattbailey commented on #402
Full gRPC would also be cool, but I don't think it's possible in a browser context (I haven't looked too much into how postwoman functions).

In any case, here are some GUI examples that mostly claim to be "postman, but for gRPC":

https://github.com/grpc-ecosystem/awesome-grpc#gui

[2019-12-05 20:08] AndrewBastin commented on #267
My status as of today:

I have a native wrapper solution in the works, but in order for it to be stable on Windows, we need to iron out the issues we are facing with IE Support (see #386). Once that issue is closed, I will iron out the native code, integrate it with the postwoman mono-repo and open a draft PR so the community can help me around with testing and ironing out bugs until we hit produc

[2019-12-05 20:12] AndrewBastin commented on #147
I am just unpinning this issue for now, due to inactivity and so I can pin the IE support issue as its more critical and help is needed.

[2019-12-05 22:54] liyasthomas commented on #267
Status on IE support:
Transpiled build throws out errors on vendor.js and is quite difficult to track down which part is misbehaving. Currently trying out with older versions of IE.

[2019-12-05 22:56] liyasthomas commented on #402
Will look into it

[2019-12-06 00:21] liyasthomas commented on #321
HTTP Authorization header problem can be addressed with the following:

```ws://username:password@example.com/service```

Then, a proper Basic Authorization HTTP header will be set with the provided `username` and `password`. If you need `Basic Authorization`, then you're all set.

If you want to use `Bearer` however, and I resorted to the following trick: I connect to the server as follows:

```w

[2019-12-06 00:21] #321 closed

[2019-12-06 00:25] liyasthomas commented on #188
Export Collection feature addreses this issue,hence closing.

An example of a typical Collection Export:

[code]

[2019-12-06 00:25] #188 closed

[2019-12-06 03:00] Jiexiansen opened #403 "Does it not support the post method?"
<img width="1529" alt="WX20191206-110014@2x" src="https://user-images.githubusercontent.com/26481272/70291931-a2a10f00-1817-11ea-8cda-af3ebc539345.png">

[2019-12-06 03:01] liyasthomas commented on #403
It supports all methods. Just clear the input. Type in.

[2019-12-06 03:01] #403 closed

[2019-12-06 03:04] Jiexiansen commented on #403
Thanks

[2019-12-06 13:27] andreujuanc commented on #267
It'd be nice if in this native xplat build we can have the httpclient being build outside of the browser, so this way we can remove the "origin" header, and this way get rid of any CORS config issues :)

[2019-12-06 14:03] liyasthomas commented on #267
Temporarily, you can make use of Proxy mode to resolve CORS issues.

[2019-12-06 14:34] sneakycrow commented on #313
@andreujuanc That sounds awesome! I'm actually unsure I can contribute the time right now or for the foreseeable next few months. @liyasthomas can you go ahead and un-assign me from the task! Sorry, I just had a bunch of personal stuff come up recently!

[2019-12-06 14:36] liyasthomas commented on #313
Okay. I can understand.

[2019-12-07 04:29] anarckk opened #408 "可以给团队成员分享接口信息吗？(Can share to my team?)"
Can share to my team?

[2019-12-07 04:36] liyasthomas commented on #408
Sharing requests can be done in two ways.

a)
1. Share a single request
2. Click the "Copy request" icon under "Send" button.
3. Public share URL of current request will be shared copied to clipboard.
 Share that URL to your yeam to reuse the exact request.

_For security purposes, Authentication sections are excluded from Share URL by default. But can be turned on manually from Authentication sec

[2019-12-07 04:36] #408 closed

[2019-12-07 04:39] anarckk commented on #408
OK, thank you

[2019-12-07 20:43] Kradirhamik commented on #313
Looking forward for this! I'm not so good at coding, but I'm alright at testing if useful ;)

[2019-12-08 09:04] GglServe opened #409 "UI improvement suggestion for request method drop down"
**Describe the bug**
- With current UI of main page, the method selection offers an editable text field along with drop down to list the request methods.
- But just clicking on the drop down does not show all methods, you have to manually delete the method text (like 'GET') to be actually able to see all methods.
- This is somewhat confusing behavior, since expected behavior is to get a list of av

[2019-12-08 09:05] liyasthomas commented on #409
Issue has been identified. Will patch it ASAP.

[2019-12-08 10:35] #409 closed

[2019-12-08 18:40] GglServe commented on #409
I see that now request method options are no longer editable. It fixes the UI issue. However, in the Readme documentation under Features -> Methods, a feature is listed as

Is this feature now available through any other option now?

[2019-12-08 18:41] liyasthomas commented on #409
Just went into a UI bug, that's why I had to remove it temporarily. Will update tomorrow 👍

[2019-12-08 22:04] adevr commented on #390
I'm checking out this bug, and I detected that some array validation was missing.

Maybe this should be fixed with the recreation of a default collection "My Collection", in background or with a modal showing on the page, with the collection creation form.

What do you guys think is the best solution?

[2019-12-08 22:59] adevr commented on #390
@liyasthomas Implemented this validation, to prevent this bug from happenning..
Launching PR.

![imagem](https://user-images.githubusercontent.com/36900578/70397949-684d9280-1a0e-11ea-81ac-b232ed61fb9b.png)

[2019-12-09 00:41] guiguan commented on #402
gRPC is widely used within microservices nowadays. It will be super cool if you can add support for it

[2019-12-09 06:23] sheldon-markk commented on #333
How to we import a postman collection? is there a way to do this?

[2019-12-09 06:26] sccassiel opened #412 "URL input text is so stutters"
eg:"https://www.baidu.com/sugrec?prod=pc_his&from=pc_web&json=1&sid=1446_21095_30211_22160&hisdata=&req=2&csor=0"
If I input this string in URL input text then will be happend.

[2019-12-09 06:41] liyasthomas commented on #412
Issue have been identified. Will fix it asap. Meanwhile you can just divide the URL and PATH and use them in their respective fields.

[2019-12-09 07:08] sccassiel commented on #412
ok,tks

[2019-12-09 08:16] suny-yangke opened #413 "Oh my dear god why don't we just wrap it in electron"
https://electronjs.org/

[2019-12-09 08:17] liyasthomas commented on #413
No need.

[2019-12-09 08:17] #413 closed

[2019-12-09 17:07] NBTX commented on #413
![image](https://user-images.githubusercontent.com/43181178/70456621-0fb0e080-1a74-11ea-9136-fa982fc71831.png)
@suny-yangke

[2019-12-09 17:11] AndrewBastin commented on #267
@andreujuanc Yeah, the native wrapper will offer an interface to the Postwoman app to run requests natively rather than through the browser

[2019-12-10 16:26] asnimansari opened #415 "Ability to send Binary data using Postwoman"
It will provide a useful feature if you can add the ability to send and receive binary data either as hex values or by importing a binary file. Most of the clients don't offer this feature

[2019-12-10 17:04] williamsp opened #417 "Toggling options will reset the UI to English"
**Describe the bug**
Toggling options will reset the UI to English.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://postwoman.io/'
1. Click on 'Choose Language' on lower right corner
1. Click on 'Bahasa Indonesia'
1. Switch on the 'Sertakan di URL' toggle on Authentication tab
1. The UI resets to English

**Expected behavior**
The UI still in Bahasa Indonesia.

**Screenshots**

[2019-12-10 17:13] liyasthomas commented on #417
Issue has been identified. Will fix it ASAP

[2019-12-10 18:10] runyasak commented on #417
I have fixed by set `detectBrowserLanguage` to false.
It will disable cookie and enable for redirect.
Ref: https://nuxt-community.github.io/nuxt-i18n/browser-language-detection.html

You can review on my PR #418.
If you have any feedback or suggestion, you can tell me. 😁

[2019-12-10 21:52] shlomisas opened #419 "When uninstall the PWA the "install PWA" link in postwoman.io isn't appear anymore"
**Describe the bug**
First of all, great initiative! thank you for that!

I installed the PWA via https://postwoman.io and then the download link doesn't appear anymore, i wanted to have it back (to take a screenshot and share it with my team) but after i uninstalled the app via chrome://apps the link doesn't appear there anymore, i tried to delete the web-worker, disabled the cache, use incognito

[2019-12-10 23:18] liyasthomas commented on #417
#418 doesn't seem to fix this issue. Preview build for #418 : https://deploy-preview-418--postwoman.netlify.com/
On `pages/index.vue` @line `1850`, `this.$router.replace` cause this bug.

[2019-12-11 00:27] liyasthomas commented on #419
Once you install the PWA, "Install PWA" button will be hidden.
To restore the button:

1. Unintall the current PWA
2. Clear brower cookie and site data
3. Navigate to http://postwoman.io

[2019-12-11 00:27] #419 closed

[2019-12-11 00:40] shlomisas commented on #419
I did that (as mentioned I tried Incognito mode as well) but it still not appears.

The app is uninstalled, cookies/localStorage is clean (or Incognito) but it's not there.

[2019-12-11 00:52] liyasthomas commented on #419
I jut repeated the above steps and I was able to restore the PWA button.

[2019-12-11 00:58] shlomisas commented on #419
Here you can see a video of it: https://www.screencast.com/t/AA2JmU69y (sorry for the SWF :( )

Cookies are cleared, and as you can see in the video, Incognito was in use as well.

[2019-12-11 01:20] liyasthomas commented on #419
Incognito mode won't allow u to use `localStorage` which is essential to PW. Consider clearing cookies and site cache/data and reefresh.

[2019-12-11 01:37] #417 closed

[2019-12-11 02:53] williamsp commented on #417
It seems that e2d7c02 only fix the toggle on the Home page.
But other toggles (like Multicolor and Proxy in Settings page) still have this issue.

[2019-12-11 02:56] liyasthomas commented on #417
Will fix it ASAP.

[2019-12-11 03:09] liyasthomas commented on #417
Fixed in https://github.com/liyasthomas/postwoman/commit/945a83625d6e902d61955b58cd17f322a9b0159a

[2019-12-11 03:37] #390 closed

[2019-12-11 08:05] Breee opened #420 "Feature Request: Consumer Driven Contract Testing"
**Is your feature request related to a problem? Please describe.**
APIs need to be tested, postman allows me to execute contract testing using newman.
Contract testing is imo the most effective way to test APIs.

**Describe the solution you'd like**
I'd love a tab "contract testing" where you can (1) define contracts between Consumers and Providers and (2) execute it to validate the contracts.
In

[2019-12-12 12:28] shlomisas commented on #419
Oh, now it's working. thank you!

[2019-12-13 03:33] DavidSmith2018 opened #426 "No 'Access-Control-Allow-Origin'"
use docker
#run
docker run -p 3000:3000 liyasthomas/postwoman:latest

' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2019-12-13 03:47] AndrewBastin commented on #426
Hi there,

Could you clarify the issue a bit more ?

CORS issues can be cleared (unless your target URL is local) by enabling the proxy.

Thank you!

[2019-12-14 16:41] liyasthomas commented on #412
Request from PW has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

since, all other endpoint doesn't have this issue, this could a

[2019-12-14 16:41] #412 closed

[2019-12-14 16:48] liyasthomas commented on #265
From https://stackoverflow.com/questions/2891574/how-do-i-resolve-a-http-414-request-uri-too-long-error it is clearly evident that this error is a  limitation from the server side and got nothing to do with PW - hence closing the issue.

[2019-12-14 16:48] #265 closed

[2019-12-15 10:17] eladcandroid commented on #267
Maybe Homebrew Formulae?
https://formulae.brew.sh/

[2019-12-16 02:16] yinzhenkun opened #433 "Can I test localhost?"

[2019-12-16 02:36] AndrewBastin commented on #433
@yinzhenkun due to CORS restrictions in the browser, we can't do it in a straight forward way.

We have [Postwoman Proxy](https://github.com/postwoman-io/postwoman-proxy) which isn't really quite stable yet, but if it works, you can just set it as the proxy and get requests to localhost working.

[2019-12-16 02:41] namtruong95 opened #434 "multipart/form-data support"
**Is your feature request related to a problem? Please describe.**
Nothing

**Describe the solution you'd like**
Support upload file from request.

thanks.

[2019-12-16 02:46] liyasthomas commented on #434
For RAW payload, you can use "upload file from request section".

And regarding file/formData payload support: will be implemented in upcoming weeks.

[2019-12-16 02:46] #433 closed

[2019-12-16 09:13] asnimansari opened #435 "Sharing Requests via link is not working"
I have copied a sample Postwoman link and shared to someone
[code]
This is a GET request to https://asnimansari.com

But if I open the same link in a different browser window, say an incognito window it loads postwoman without initialising the respective fields

![image](https://user-images.githubusercontent.com/10102690/70894127-69844e00-2012-11ea-8478-1f1d111b80db.png)

Also another issue with U

[2019-12-17 01:16] #435 closed

[2019-12-17 06:08] yinzhenkun commented on #433
Thanks for your prompt reply

[2019-12-18 23:36] mabushey opened #441 "graphql and websocket work, but http and https do not"
**Describe the bug**
Doesn't work for http and https requests. I tried enabling the proxy but the same result. It gets cookies and headers from the site, but appears to throw away the content.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to postwoman URL (in k8s cluster)
2. get https://www.google.com
Error: Network Error. Check console for details. Same result with proxy enabled.

Netw

[2019-12-19 00:27] liyasthomas commented on #441
Did you tried any other endpoints? I think https://www.google.com have tight Cross-Origin Resource Sharing policies. Try out with the default endpoint and see if the issue persist.

Read more about CORS: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
Possible duplicate of #2

[2019-12-19 04:07] ccenjie opened #442 "npm run dev module was not found: ../.postwoman/version.json"
i sure that i do npm install && npm run dev

but it does not work

throw a err :

 WARN  Compiled with 1 warnings                       friendly-errors 12:00:18

 WARN  in ./node_modules/yargs-parser/index.js        friendly-errors 12:00:18

Critical dependency: the request of a dependency is an expression
                                                      friendly-errors 12:00:18

 ERROR  Fail

[2019-12-19 04:08] liyasthomas commented on #442
Duplicate of #327

[2019-12-19 04:08] #442 closed

[2019-12-19 06:36] ccenjie commented on #327
so , how to let it work, i do not see any solution,

Delete node_modules
npm cache clean
npm i
npm run dev or npm run generate
If the above steps fails, try:

npm rebuild node-sass
npm run generate

i do that, but no work

[2019-12-19 06:37] liyasthomas commented on #327
Is the error log as same as mentioned in this issue?

[2019-12-19 07:26] BruceWayneVsSuperMan opened #443 "cookie not found support"
Our server responsed cookie not found error.
But actually,with the same param postman worked.
I wonder know if I need to add some extra param when I use postwoman.

[2019-12-19 07:32] liyasthomas commented on #443
Under normal conditions, params are sent as (async/await XHR) HTTP requests. If there's any  specific criteria for your server, you've to append that information either in params or headers as server needs.

[2019-12-19 07:50] BruceWayneVsSuperMan commented on #443
Thanks for your reply.
I understand your meaning. But the thing I do want to know is how to make it work like postman.
Means that I don't need to add cookie or login info.
I want to use postwoman replace postman.Because I think it looks beautiful and I can use it in explore.

[2019-12-19 07:57] liyasthomas commented on #443
Let me look into the issue and get back to you after a while. I think there's an option to use cookies with `withCredentials: true`

[2019-12-19 08:45] BruceWayneVsSuperMan commented on #443
All right, waiting for your good news.

[2019-12-19 10:38] hylun opened #444 "can not build"
I found such an error when run 'nuxt build'

ERROR in ./layouts/default.vue?vue&type=script&lang=js& (./node_modules/_babel-loader@8.0.6@babel-loader/lib??ref--2-0!./node_modules/_vue-loader@15.8.3@vue-loader/lib??vue-loader-options!./layouts/default.vue?vue&type=script&lang=js&)
Module not found: Error: Can't resolve '../.postwoman/version.json' in '/home/wwwroot/postwoman-1.0.0/layouts'
 @ ./lay

[2019-12-19 10:44] liyasthomas commented on #444
Possible duplicate of #327
Try this fixes: https://github.com/liyasthomas/postwoman/issues/327#issuecomment-558417184

[2019-12-19 11:01] liyasthomas commented on #444
I just did a clean `git clone` and everything seems to be working fine.

[2019-12-19 11:03] NBTX commented on #327
Just noticed in this case it may be because they downloaded a zip of the project rather than using git clone.

I believe the build script relies on the directory being a git repository in order to obtain certain information, so the project needs to be cloned rather than a ZIP file simply downloaded.

If I'm right though, I can just update the build script to accommodate this.

[2019-12-19 11:11] liyasthomas commented on #327
@NBTX `build.js` is tailored for CI, remove git dependencies  / online version fetch and if possible, get version from `package.json`. Or else, completely comment out version section from footer. 👍

[2019-12-19 11:13] liyasthomas commented on #444
Closing this issue in favor of #327 . Track issue there.

[2019-12-19 11:13] #444 closed

[2019-12-19 21:09] mabushey commented on #441
Probably Coors. My personal Grav blog doesn't even load in Postwoman. I have found one site other than reqres.in that does load: an instance of httpbin running in my k8s cluster. I think that the proper fix is to have the "server" make the requests instead of the browser. Until then I don't think I have any choice but to use the tool that works, Postman... :/  You project is great, I wish you the

[2019-12-19 21:09] #441 closed

[2019-12-19 21:11] mabushey commented on #386
Who runs IE? What a joke. I hope the Postwoman codebase is not cluttered with hacks to "fix" this.

[2019-12-19 23:03] liyasthomas commented on #386
IE support is mainly required for offline build which is a WIP.

[2019-12-19 23:40] AndrewBastin commented on #386
@mabushey Thank you for voicing your concerns, and yes no one practically uses IE, especially in our target audience. But we do need IE support to implement a lightweight native client solution for Postwoman.

I am trying my best to not pollute the codebase for IE support, most of the work needed for IE support is just optionally loading separate scripts for implementing the missing behaviors in I

[2019-12-20 01:44] LeeJianbo opened #446 "Raw Request Body should be supported to format the JSON string"

[2019-12-20 01:45] liyasthomas commented on #446
You mean syntax highlighting for raw request body?

[2019-12-20 01:54] LeeJianbo commented on #446
Yes！When I fill in the JSON data of request body, I hope to prompt my syntax error as in postman. I think it's very practical。Just my point。

[2019-12-20 01:55] liyasthomas commented on #446
I'm on it.

[2019-12-20 02:31] badandboy commented on #426
I have the same question，
CORS be cleared by enabling the proxy on https://postwoman.io
but on my own site, it doesn`t work

[2019-12-20 02:49] #446 closed

[2019-12-20 02:53] liyasthomas commented on #426
Please consider reporting issues in given https://github.com/liyasthomas/postwoman/blob/master/.github/ISSUE_TEMPLATE/bug_report.md or at least tell how to reproduce the issue so we could track it and fix it ASAP.

[2019-12-20 02:56] ouer1994 opened #447 "UI Display Problems"
![image](https://user-images.githubusercontent.com/23118182/71226583-4c53c600-2317-11ea-85c7-066d6dd0a4e2.png)

左上角 显示重叠

[2019-12-20 02:57] ouer1994 commented on #447
PWA

[2019-12-20 02:59] liyasthomas commented on #447
Which device, operating system, browser and its version?

[2019-12-20 03:13] 13619633937lw opened #448 "* ../.postwoman/version.json in ./node_modules/babel-loader/lib??ref--2-0!./node_modules/vue-loader/lib??vue-loader-options!./layouts/default.vue?vue&type=script&lang=js& friendly-errors 11:12:37"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-12-20 03:15] liyasthomas commented on #448
Duplicate of #327

[2019-12-20 03:15] #448 closed

[2019-12-20 04:32] liudonghua123 commented on #267
I think it maybe more experience friendly via wrap it with `pwa` or `electron` to provide smooth and quickly usage.

[2019-12-20 07:34] badandboy commented on #426
all the methods can work well On the window system， on the linux system, they don`t works, including docker, npm run dev and npm run build

[2019-12-20 12:11] NBTX commented on #267
We can't use `electron`; it's too bulky - and Postwoman is already a PWA - PWAs don't let you get around CORS restrictions which is why we were considering a native build.

The solution we're working on at the moment is to build a proxy server that you can install on your local machine and then use with the postwoman PWA or website.
https://github.com/liyasthomas/postwoman/pull/445

[2019-12-20 12:22] NBTX commented on #386
@mabushey I can confirm - on account of IE support not even being present - that nobody who uses postwoman does so with IE.

The reason we're even considering IE support is that we need some way to get around CORS restrictions. Postman got around this with electron, though we've found it to be bulky and slow - plus it's got all of Chromium's notorious memory issues.

Thus, in order to avoid using

[2019-12-21 00:44] liyasthomas commented on #447
Looks like there's some theming extension making window action align to left instead of right 😕

[2019-12-22 01:03] #447 closed

[2019-12-22 01:11] liyasthomas commented on #426
Our CI runs, tests and builds the project in [Linux](https://travis-ci.com/liyasthomas/postwoman), and have successful [Docker builds](https://hub.docker.com/r/liyasthomas/postwoman) too. Please tell how to reproduce your issue.

[2019-12-22 01:16] liyasthomas commented on #443
Nuxt Axios module currently support credentials option only work when axios request to `baseURL` or relative path.

This is in the specification, not a bug.

https://github.com/nuxt-community/axios-module/issues/168#issuecomment-471670927

[2019-12-22 08:05] badandboy commented on #426
1.
1）Clone this repo with git.
2）Install dependencies by running npm install within the directory that you cloned (probably postwoman).
3）Start the development server with npm run dev.
site : http://postwoman.badandboy.cn

2,
1）Clone this repo with git.
2）Install dependencies by running npm install within the directory that you cloned (probably postwoman)
3) npm run build
4) config postwoman2.bada

[2019-12-22 16:34] NBTX commented on #443
I'm reading that we can just set `withCredentials: true` to the `.$post` options...

[2019-12-22 16:35] liyasthomas commented on #443
But isn't that only supposed to be working on requests sent to same origin?

[2019-12-23 01:15] BruceWayneVsSuperMan commented on #443
I just found something that may help us.
Please see this pic.
I am wondering if the secret is the postman-token param.

[2019-12-23 01:18] BruceWayneVsSuperMan commented on #443
If you can't see this pic, leave me a message.Cause I was limited on internet,and I can't see if it's uploaded.

[2019-12-23 01:25] liyasthomas commented on #443
Can't see the image.

[2019-12-23 01:33] BruceWayneVsSuperMan commented on #443
Very appreciate for your patience and help.
I sent it to your email.Please check it out.

[2019-12-23 01:53] liyasthomas commented on #443
Got the mail. It seems like, a cookie is sent as a custom header along with the request.

In PW, you can add custom Headers too. In **Options** section, navigate to **Headers** tab to add custom headers.

![1223_1](https://user-images.githubusercontent.com/10395817/71330525-8c9f8800-2553-11ea-88ad-1d785edd71c1.jpg)

But I wonder how you generated this custom header `postman-token`'s value? I suppo

[2019-12-23 01:57] BruceWayneVsSuperMan commented on #443
Let me try.

[2019-12-23 02:28] BruceWayneVsSuperMan commented on #443
Emmm…… actually,I didn't add the postman-token. Everytime when I try to request, postman will generate a new postman-token.
I read an article about it, this is the answer.

This is primarily used to bypass a bug in Chrome. If an XMLHttpRequest is pending and another request is sent with the same parameters then Chrome returns the same response for both of them. Sending a random token avoids this i

[2019-12-23 02:29] liyasthomas commented on #443
Thanks! Will look into it

[2019-12-23 02:54] BruceWayneVsSuperMan commented on #443
I think so.It will be better with your development.
Actually I received a lot of email last weekend cause I followed and watched this project, you were solving problems anytime,anywhere...

[2019-12-23 02:54] #326 closed

[2019-12-23 02:56] liyasthomas commented on #443
Just shipped API documentation feature.

[2019-12-23 05:45] reefqi037 opened #456 "API Documentation won't be generated"
**Describe the bug**
API Documentation won't be generated if the Request is not saved inside folder.

**To Reproduce**
Steps to reproduce the behavior:
1. Save a Request directly under Collections
2. Export the Collections
3. Import it in Documentations page
4. Only Collection name will be displayed.

**Expected behavior**
API Documentation should be displayed even if the Request is not stored und

[2019-12-23 05:49] liyasthomas commented on #456
Issue has been identified. Thanks for the quick bug report.

[2019-12-23 07:46] #456 closed

[2019-12-24 08:20] chnzhang opened #457 "Module not found: Error: Can't resolve '../.postwoman/version.json'"
npm install
npm run dev
error
in ./layouts/default.vue?vue&type=script&lang=js& (./node_modules/babel-loader/lib??ref--2-0!./node_modules/vue-loader/lib??vue-loader-options!./layouts/default.vue?vue&type=script&lang=js&)
Module not found: Error: Can't resolve '../.postwoman/version.json' in 'D:\GitHub\postwoman\layouts'

![image](https://user-images.githubusercontent.com/3386915/71402988-518f7880-

[2019-12-24 08:37] liyasthomas commented on #457
Possible duplicate of #327

[2019-12-24 08:37] #457 closed

[2019-12-25 01:14] liyasthomas commented on #325
@NBTX whats the status of this issue?

[2019-12-25 08:42] gaoljhy commented on #426
u just try send <https://www.baidu.com> on <https://postwoman.io>
why this can't happen in postman

[2019-12-25 09:42] liyasthomas commented on #426
Hope this answers might help.

https://stackoverflow.com/a/10636765
https://stackoverflow.com/a/13400954

[2019-12-26 02:12] pengerArray commented on #298
which version will support it

[2019-12-26 02:18] liyasthomas commented on #298
On v2

There will be form data support too✨

[2019-12-26 20:35] NBTX commented on #325
For sure.

[2019-12-27 00:24] liyasthomas commented on #325
Issues can only be transferred in between repos under same profile. Can't transfer to an organization.

[2019-12-27 11:22] gaoljhy commented on #426
Okay,I get it,Thanks

[2019-12-27 12:25] liyasthomas commented on #426
Unless the server doesn't imply any restrictions or we have a offline build. #267

[2019-12-28 04:24] gaoljhy commented on #426
So cool !

[2019-12-30 05:52] myucxy opened #461 "Can WSDL be implemented, similar to SoapUI?"
如题;

[2019-12-30 09:04] liyasthomas commented on #461
I just tried with a sample WSDL url (http://wsf.cdyne.com/weatherws/weather.asmx?wsdl) and it worked.

Try it out by going to this public share URL: https://postwoman.io/?method=GET&url=http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx?wsdl

Play around `POST` and any other methods and report back with feedback!

[2019-12-30 15:19] abhijithvijayan opened #462 "[Bug] Reduce font size for alt text of icons"
This snap is captured on postman load. And it seems to reload the icons as well.

Isnt there someway to cache this icons or even use svg components.

Also, the text shown looks ugly.

![](https://i.imgur.com/1qn0iEH.png)

[2019-12-30 16:29] liyasthomas commented on #462
Well, this looks ugly. We use Google Material Icon font. Let me see how it could be solved.

[2019-12-31 02:03] liyasthomas commented on #462
I afraid `alt` text size cannot be decreased. Since it's an attribute to the icon.

Currently we do have pre-caching for icon fonts import, anyway will look into make experience much more faster.

[2019-12-31 02:03] #462 closed

[2019-12-31 13:38] liyasthomas commented on #461
Closing since WSDL can be implemented.

[2019-12-31 13:38] #461 closed

[2019-12-31 16:45] #348 closed

[2019-12-31 16:48] #426 closed

[2019-12-31 16:49] liyasthomas commented on #415
Closing this issue in favour of #434

[2019-12-31 16:49] #415 closed

[2020-01-01 07:28] liyasthomas commented on #363
Cloing thi iue

[2020-01-01 07:28] #363 closed

[2020-01-01 08:07] #358 closed

[2020-01-01 09:22] Olyno opened #465 "[suggestion] - Tests tab"
**Is your feature request related to a problem? Please describe.**

I really love postwoman, and I'm using it to test my rest api. Problem: I currently can't make a serie of tests. I'm searching a way to automate requests and check if everything is fine or not, like if x request returns me correctly y response.

Of course maybe it's already implemented, and in this case I didn't find the way to do

[2020-01-01 09:25] liyasthomas commented on #465
Will surely look into the possibilities of implementing them.

[2020-01-01 14:27] PDanielY opened #466 "Question: Why is this popular?"
For some reason, this repo is really popular but what's the purpose? You could use [reqbin](https://reqbin.com) instead. What makes postwoman different than other websites for this?

[2020-01-01 14:29] liyasthomas commented on #466
Good question! Actually I don't have a clear answer, but I think devs love an open source alternative. That's why.

[2020-01-01 14:29] #466 closed

[2020-01-01 14:51] liyasthomas commented on #465
Do you really want to mention the exact predicted response or is it okay with the response code/state like 200 or 403 (success or forbidden)..?

[2020-01-02 01:07] Olyno commented on #465
I think status could be enough

[2020-01-02 13:27] ac2epsilon opened #467 "What about additional loaders: + Pug, TypeScript, SASS, material-vue ?"
**Is your feature request related to a problem? Please describe.**
It may be good add some productivity tools to tool chain

**Describe the solution you'd like**
What about additional loaders: + Pug, TypeScript, SASS, material-vue ? All of these are proven good with both, Vue and Nuxt. I see no point to make branch on this. It is question of one npm -D.

**Describe alternatives you've considered**

[2020-01-02 14:43] ac2epsilon opened #468 "Friendly minded GraphQL"
GraphQL can be friendly minded

 It's hard for decent coder and impossible for novice to input right GraphQL query or mutator from the first take. And even from third. So: clicking on query have to fill request textarea with fully working template and click on type have to produce all-in-line repr like

query {
    characters(page:${_page}) {
        info {count...}
        results {id name status

[2020-01-02 14:56] ac2epsilon opened #469 "ULR parsing and var auto creation"
As I see this people work like this: a) try url in browser actually b) copy to our input c) modify PUT params and rerun. So it have to be lending input where ppl paste/drag ready made url from browser. And then we parse url to parts like
Protocol: HTTPS
      Host: github.com
      Path: /liyasthomas/postwoman/issues/new
      Params:
              assignees=${_assignees}
              labels=${_l

[2020-01-02 15:06] ac2epsilon opened #470 "Swagger aka OpenAPI support"
Swagger aka OpenAPI support are more then possible. However I suggest not to act in a rush, and formulate some Request SChema to all WSDL alike services to use common repo and data format as possible.  AND I suggest to work thru detailed Request format and UI, which will then easily map on REST methods or visa versative. Same is true for gRPC/ ALSO all UI considerations should be suspended to fina

[2020-01-02 17:44] vieiramanoel commented on #313
I have no experience in vscode extensions, but I don't believe it's that hard, platformio starts a whole ide over vscode, for example.
I think it's a good reference for this

[2020-01-03 01:37] liyasthomas commented on #467
All our components are custom elemnts we built from time to time on request. This kept us to keep the dependency list to the minimum. But seriously, PW do lack a UI library. Vuetify seems like a solid option for that.

It's amazing what bare Vue/Nuxt app can do with only SCSS and JS (HTML + CSS + JS). A transpiled TS branch or any other language is good. But nobody requested it so far. I'll wait f

[2020-01-03 01:41] liyasthomas commented on #468
GraphQL testing is very _alpha_ and do need major polishing. Aoto-suggestions on query section and Tree model etc are few of them. Let's track GQL UX improvements on this thread 👍

[2020-01-03 01:51] liyasthomas commented on #469
We currently have such a similar implementation. URL is parsed and populated to diff categories including parameters, payload, headers etc.

Users can make a request and we append it's attributes to URL as parameters making it a universally sharable link. Anybody with that link can replicate the same request from the other side by just visiting it.

Ex: https://postwoman.io/?method=GET&url=https%3

[2020-01-03 01:59] liyasthomas commented on #470
This will be an awesome enhancement. Let me look up on this.

https://inspector.swagger.io/builder does the job pretty neatly. Let see how we could implement them side by side to REST requests.

[2020-01-03 13:33] sevket-yilmaz commented on #466
Good question, good answer. 😄

[2020-01-03 14:36] igorrocha opened #471 "WebSocket page freezes when pasting long URL"
**Describe the bug**
When trying to paste a very long URL on the websockets page (https://postwoman.io/realtime/), the page freezes without any error message on the browser console.

**To Reproduce**
1. Go to https://postwoman.io/realtime/
2. Click on the URL field
3. Paste a long URL, such as wss://eyJraWQiOiJBMjhyeTdtRWhzTktWQTFDTms4YXlIcVBDVjdXVmxuWFwveFFZQWJLdU1qQT0iLCJhbGciOiJSUzI1NiJ9.eyJhdF

[2020-01-03 14:37] igorrocha commented on #471
Another bit of additional context: the reason for using such a long URL is that I'm trying to pass an Authorization header with the request. I'm trying to use the workaround suggested by @liyasthomas on #321

[2020-01-03 14:45] liyasthomas commented on #471
Issue has been identified. I think there might be three reasons for this behaviour:

1. App's current state is save to localStorage via Vuex. Long URL string might've crashed Vuex binding. Anyway, I'm not sure of whether this is the reason yet.

2. Browser specific bug: Chrome used to crash while pasting large strings into input boxes. Since behaviour is repeated on Firefox, this possibility can b

[2020-01-03 15:38] #471 closed

[2020-01-03 15:44] igorrocha commented on #471
That was super fast, @liyasthomas , thank you very much!

[2020-01-03 17:12] ac2epsilon commented on #313
AFAI .. -IAC? -AIC? never remembered them, damn, anyway. What is the main obstacle to vsce? You're right and it's not as difficult (as nothing too heavy on earth), but here are three rocks on the way: 1. Limitations. Because vsc is a hosted environment, you have some rules and restrictions. For example, no SVG in the project except blah blah. But you love your SVG, don't you? 2. Integration. As Ec

[2020-01-03 17:40] liyasthomas commented on #313
Wow! That's a neat clarification. I guess I know how this will end.

[2020-01-03 18:49] igorrocha commented on #321
For anyone finding this issue now, it seems that the trick for passing an Authorization or Bearer header in the URL doesn't work anymore. It has been deprecated, as stated [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/Authentication#Access_using_credentials_in_the_URL).

The easiest way to pass auth information is through a querystring parameter, which doesn't pose a security issue if y

[2020-01-03 20:26] allquixotic commented on #465
I use the "tests" feature of Postman to store variables into the collection, then refer to them in later API requests. This is very useful for things like unique tokens, generated access keys, etc. that are used from one request to the next. Without this feature in Postwoman, I have to manually copy values out of the response from earlier requests and paste it into the next.

[2020-01-04 00:22] liyasthomas commented on #321
Thanks for sharing the information 🙌🏼

[2020-01-04 00:25] liyasthomas commented on #465
#218

[2020-01-04 02:37] Kurt-Shiwz opened #473 "Post request body is empty"
I send post request to localhost,the body is empty

in postwoman:
![image](https://user-images.githubusercontent.com/7554917/71758730-6b895080-2ede-11ea-9c15-9f12fab5ba60.png)

![image](https://user-images.githubusercontent.com/7554917/71758659-c53d4b00-2edd-11ea-9a56-d47829f53f11.png)

in curl:
![image](https://user-images.githubusercontent.com/7554917/71758672-dab27500-2edd-11ea-9bc4-7ae36726dab

[2020-01-04 02:44] liyasthomas commented on #473
Is there any errors on console?

[2020-01-04 02:55] Kurt-Shiwz commented on #473
![image](https://user-images.githubusercontent.com/7554917/71758929-a68c8380-2ee0-11ea-979c-55650eceb7c8.png)

[2020-01-04 02:58] liyasthomas commented on #473
I afraid being a PWA, Postwoman can't access `localhost` via browser without a proxy. Please use our official [Postwoman Proxy](https://github.com/postwoman-io/postwoman-proxy) to access `localhost`.

[2020-01-04 03:12] axelburks commented on #267
What about on iOS? I have found for api test tools on iOS for long time and finally found postwoman. But it have to use with proxy because CORS. Not every one have a server to run proxy.
So I wonder could postwoman support http/socks proxy? Now many vpn apps on iOS support open a socks and http proxy on localhost(usually can access them with "http://127.0.0.1:8888" or "socks://127.0.0.1:8889"), an

[2020-01-04 03:19] liyasthomas commented on #267
We do really want it! @NBTX @AndrewBastin

[2020-01-04 03:56] Kurt-Shiwz commented on #473
failed
![image](https://user-images.githubusercontent.com/7554917/71759513-0c7d0900-2ee9-11ea-8a9e-2cdef9f8d4b6.png)

![image](https://user-images.githubusercontent.com/7554917/71759487-a09aa080-2ee8-11ea-9c0f-e24e11afa5b6.png)

![image](https://user-images.githubusercontent.com/7554917/71759496-cc1d8b00-2ee8-11ea-9b78-d1eb21a8908c.png)

[2020-01-04 04:26] liyasthomas commented on #473
@NBTX

[2020-01-04 13:37] liyasthomas commented on #313
Can we make use of [WebView](https://code.visualstudio.com/api/extension-guides/webview) in VS code extension? @RandomFractals any thoughts?

[2020-01-04 13:41] RandomFractals commented on #313
yes! I would recommend that route as there are no other options to do it for custom editors or views in vscode.

You might need to refactor and retrofit some of your web app parts to reuse them for this effort.

However, keep in mind vscode webviews are your typical node.js web apps and things should work well if they work in a browser. You just get an option to hook up to vscode explorer, do cust

[2020-01-04 13:46] RandomFractals commented on #313
@liyasthomas if you are just starting with vscode ext. dev, a few pointers:

1. don't use that cat demo. It's a really bad webview ext. example.

2. Join this slack workspace where you can ask questions about vscode ext. dev:

https://vscode-dev-community.slack.com/

Good luck!

[2020-01-04 13:48] liyasthomas commented on #313
Lol, i was just going through the cat demo and I was lime.. "how immature this demo is..".

Thanks for the link 🙌🏼👍

[2020-01-04 13:59] RandomFractals commented on #313
haha! yeah, it's done by the cat lovers & it's a shame that most devs starting on vscode extensions get to that page first.

My recommendation is you pick a similar http proxy with webview extension from vscode marketplace and clone it to get started since they don't support paid extensions and pretty much all of them are OSS with links to github repos you can peruse.

[2020-01-04 14:19] Jefwillems opened #474 "Create standalone vue components of the request builder."
**Is your feature request related to a problem? Please describe.**
I'm trying to integrate postwoman in a website i'm building. The website allows users to create a request and use it for later. Part of the functionality is building the request, for which i'd like to integrate postwoman (and save the built request in localStorage or something like that.

**Describe the solution you'd like**
A vue

[2020-01-04 14:21] liyasthomas commented on #474
Possible duplicate of #384

[2020-01-04 14:21] #474 closed

[2020-01-04 14:21] liyasthomas commented on #474
Please consider contributing to the project for resolving this issue 🙌🏼

[2020-01-04 14:25] Jefwillems commented on #474
Hmm now that i read that issue again it seems we want similar things. I'll hook into that thread and try to contribute

[2020-01-04 21:40] ac2epsilon commented on #313
Rather interesting two things: does it technically possible to make "vsce" target in Nuxt AND does it possible to mix contexts of vsc electron and separate vue pwa? I m happy to learn new, do if you can - I cross fingers for yous success

[2020-01-05 00:43] liyasthomas commented on #473
`localhost` support is not implemented yet. This is a security feature imposed by browsers. Please track it's discussion on #274 and hopefully will be solved on #267

Regarding issue while setting up Proxy: Please consider moving the issue to [proxy repo](https://github.com/postwoman-io/postwoman-proxy)

[2020-01-05 00:43] #473 closed

[2020-01-05 10:41] RandomFractals commented on #313
@ac2epsilon you seem to talk a lot about vscode like you know it. have you tried creating an extension for it? I have not seen 1 in your github profile.

As I have mentioned above:

So, you can use next and vue as postwoman does for your custom vscode webview extensions & with proper packaging you can hook into vscode fs, settings, configs, etc. & many extensions have done so.

[2020-01-05 15:49] NBTX commented on #466
I think reqbin and other alternatives are aimed more at being a website that allows you to make requests.

Postwoman is much more than that - whilst our service can be used as a website, it's really a lightweight application and we have a lightweight proxy server (2MB in memory) to facilitate using Postwoman for testing local services.

We also offer WebSocket and GraphQL support which isn't as co

[2020-01-05 18:24] PDanielY commented on #466
Got it!

[2020-01-06 02:24] nickpalenchar commented on #465
This sounds doable, and can we can definitely leverage some work in pre-request hooks from #218  to extend into this.

[2020-01-06 04:10] AndrewBastin commented on #267
Well, I am just back from my holidays. Still catching up on the project.

@axelburks that's an awesome idea actually, and technically it isn't really difficult and it really aligns with the framework in my head for native stuff. So I am pretty sure we could get it absolutely rolling once we figure out getting native rolled out.

[2020-01-06 04:14] AndrewBastin commented on #468
@ac2epsilon thanks for opening this issue. Sorry, for the late response, I was away from Postwoman for the holidays.

Anyways, yeah you are right, the GraphQL UX needs a ton of polish and I will work on getting that properly done in the coming days.

[2020-01-06 04:16] AndrewBastin commented on #467
@liyasthomas Actually I have been thinking of requesting a gradual migration to TypeScript as well, having the static types are really helpful to prevent the tiny mistakes we make while coding stuff up and also with the growing complexity of the app, it makes much more sense to have typings.

[2020-01-06 04:20] liyasthomas commented on #467
I'll add a new branch for Typescript

[2020-01-06 04:21] axelburks commented on #267
We developers have to always use vpn in China, please please consider that condition🤕🙏

[2020-01-06 04:23] AndrewBastin commented on #267
@axelburks I am kinda working on a system for making Postwoman work using the native platform http code instead of the browser one, so stuff like CORS won't matter and since its the platform http client, it will respect the platform integrations like VPNs and stuff out of the box :smile:

[2020-01-06 05:19] liyasthomas commented on #467
Tada! TypeScript branch: https://github.com/liyasthomas/postwoman/tree/typescript
Added Initial configs.
Nuxt Offical Guide: https://typescript.nuxtjs.org/

**Edit: There seems to be a runtime bug.**

[2020-01-06 09:24] reefqi037 commented on #337
Hi 👋 I would like to help with this issue.

Currently, I'm trying to implement additional features to help the process of getting OAuth2 Access Token directly from Postwoman.

There are a 4 types of [OAuth 2.0 flows](https://medium.com/@darutk/diagrams-and-movies-of-all-the-oauth-2-0-flows-194f3c3ade85) to retrieve Access Token, but since Postwoman is a web-based SPA, the recommended way in term o

[2020-01-06 10:44] luixal commented on #147
I guess env management isn't supported yet, is it? is it under development or just "paused"?

[2020-01-06 10:46] liyasthomas commented on #147
Pre-request env management is supported. Fully-fledged Environment management and configuration development is kinda paused.

[2020-01-06 10:52] luixal commented on #147
You mean, by including values here for each request?

![image](https://user-images.githubusercontent.com/615268/71813710-aa540d80-307a-11ea-8462-79602104c256.png)

Maybe I can give a hand in this :)

[2020-01-06 10:54] liyasthomas commented on #147
Well actually yes. But once an env is set, it is stored to app's current state. And meeds to manually change them for another env var. Well this sucks.

[2020-01-06 20:20] luixal commented on #147
I think the approach (UI, mainly) used in Postman is quite good, but I will prefer env values to be global by default but also having the ability to choose en values for each collection.

I think that's better understood by example: let's say I'm working on some request for service `SA`. I store them in collection `CA`. In those request I'm using an env var called `host` for storing host's ip/doma

[2020-01-06 20:29] igorrocha commented on #471
@liyasthomas The issue seems to have returned... Can you please check on your side and see i you can reproduce the bug?

[2020-01-06 20:34] jgroom33 commented on #147
IMO, This should be implemented:
* Allow loading environment vars from file during app launch
* Allow modification of the variables in the UI
* Allow using each variable
* Variable storage should be an object not a string
* Variable access in path uri would be: {{ pw.env.foo | tostring }}
* Variable access in body would be: {{ pw.env.bar }}

 @luixal the first bullet should solve your requirement.

[2020-01-06 20:52] luixal commented on #147
I'm not sure about loading env vars from file. Why if you are you using just a hosted version in browser? Maybe importing vars from file to an environment would be enough.

I agree about storing env vars as an object and allowing nested vars.

Not sure about the _"Allow using each variable"_, what do you mean @jgroom33 ?

[2020-01-06 21:06] jgroom33 commented on #147
updated to include your recommend

[2020-01-07 00:39] liyasthomas commented on #471
I couldn't reproduce the bug, everything seems to be working fine.

[2020-01-07 08:35] DanielRuf opened #475 "move to postwoman org"
This repo should be under the (same) postwoman org for several reasons (truck / bus factor, collaboration, maintainability, ...).

[2020-01-07 13:47] liyasthomas commented on #475
Will consider in near future 👍

[2020-01-07 13:47] #475 closed

[2020-01-07 13:57] #291 closed

[2020-01-07 14:19] #443 closed

[2020-01-07 15:10] nmvjhd opened #477 "import cURL error"
When I click "import cURL" button, input such as
curl -X GET 'https://api.github.com/users/nmvjhd'
, then click import , the page show the "cURL is not formatted property" toast.
Am I operate wrong?help

[2020-01-07 15:21] liyasthomas commented on #477
Fixed in c6f877
Please verify and close this issue.

[2020-01-07 17:11] #477 closed

[2020-01-07 17:21] liyasthomas commented on #477
@nmvjhd

`curl -X GET 'api.github.com/users/nmvjhd'` 👎
won't work unless you add URL `protocol` (https, http etc).
Ex:
`curl -X GET 'https://api.github.com/users/nmvjhd'` 👍

[2020-01-07 22:12] #337 closed

[2020-01-08 02:09] nmvjhd commented on #477
this situation is ok but I find it can't import parameters such as:
curl "https://api.github.com/repos/vmg/redcarpet/issues?state=closed"
or
curl -G -d "state=closed" "https://api.github.com/repos/vmg/redcarpet/issues"
when imported, the parameters panel has nothing

[2020-01-08 02:10] liyasthomas commented on #477
Okay, will fix ASAP.

[2020-01-08 02:16] nmvjhd commented on #477
ok, thanks

[2020-01-08 11:28] Sn005 commented on #467
@liyasthomas
Hi!
I Want to support resolve runtime errors by TypeScript.
If so, what should I do?
Can I create a new branch and send a pull request to the typescript branch?

I look forward to your reply.

[2020-01-08 11:36] liyasthomas commented on #467
Actually, configs have been resolved to start a MVP. Now the remaining process is to compile each methods to `typed` function. Which is a long task.

You can start contributin by:

1. Git clone https://github.com/liyasthomas/postwoman/tree/typescript
2. Install dependencies: `npm i`
3. Start local dev server: `npm run dev`
4. Convert all `*.js` to typed `*.ts` files
4. Convert all `*.vue` files to

[2020-01-08 14:54] Sn005 commented on #467
@liyasthomas

Thank you for your reply.
OK.
I understand how to contribute.
It's a long task, but I'm working on it.

[2020-01-08 15:43] liyasthomas commented on #467
We've Telegram group: https://t.me/postwoman_app
Amd Discord server: https://discord.gg/GAMWxmR
for communication outside GitHub.

[2020-01-08 17:51] stajason opened #478 "Request has no response data"
#### I use java project, which can be accessed normally in other channels, but I can't return response in postwoman.
![image](https://user-images.githubusercontent.com/18157487/72002262-0ccb2a80-3282-11ea-97c4-790ba4297e88.png)

[2020-01-08 17:52] liyasthomas commented on #478
Please tell how to reproduce the bug?

[2020-01-09 01:37] stajason commented on #478
I use Java springboot project and nginx proxy to local domain name.
Should it be a matter of proxy?
[code]
![image](https://user-images.githubusercontent.com/18157487/72030303-86cfd380-32c3-11ea-91be-4a414e16e3de.png)

[2020-01-09 02:52] liyasthomas commented on #478
Were there any errors in the console?

[2020-01-09 06:55] stajason commented on #478
I see, just cross domain problem.

[2020-01-09 07:10] liyasthomas commented on #478
I can't reproduce the issue with any other URL. Please share public share URL (current URL of PW's state).

[2020-01-09 07:18] #478 closed

[2020-01-09 23:55] AndrewBastin commented on #467
@Sn005 if you don't mind, I might also be working on this, I kinda know the typescript toolchain inside out as I usually work on TypeScript (gotta love dem type checks) and I would love to get this done ASAP.

[2020-01-09 23:57] AndrewBastin commented on #467
And also since this issue thread mostly focuses on TypeScript support, I would like this issue renamed.

[2020-01-10 03:38] kenzyyang opened #480 "pages/index.vue 1736"
**Describe the bug**
while this.response.headers is undefined,it will cause a error.
![image](https://user-images.githubusercontent.com/27340803/72123831-9cb1c700-339d-11ea-8219-e5e456117c2f.png)

[2020-01-10 04:15] igorrocha commented on #471
False alarm on my side, my bad! Have a great weekend :)

[2020-01-11 03:29] Sn005 commented on #467
@AndrewBastin
No problem.
I am grateful because my usual work is busy.
However, I'm curious about how to proceed with long tasks.
I also want to commit to this task.
So, It would be helpful if you could share how to proceed with the task each time.

[2020-01-11 20:40] AndrewBastin commented on #480
Well, according to the HTTP spec, you can't exactly have a response without headers, so I don't see why it will become undefined. The only thing is that response can choose to not have a `Content-Type`, but we do handle that case as seen from the above snippet

If you could bring into attention a scenario where that is possible, we will refactor the code.

[2020-01-11 20:44] AndrewBastin commented on #467
@Sn005 sure, well, right now my PR is up on this repo, we could certainly use your help with making the typings more strong as we still have tons of `any`'s in the project still.

[2020-01-12 08:22] kenzyyang commented on #480
now i can't replicate the problem but i'll tell you immediately the next time.
and it's better to handle the situation where this.response and this.response.headers is undefined.
thanks for your reply

[2020-01-13 03:24] #480 closed

[2020-01-13 14:23] pidario commented on #164
Sorry to comment under a closed issue, but in response to the previous comment I tried this Dockerfile:

[code]

I added tini as suggested and I also took the liberty to add ca-certificates.

I usually build this Dockerfile by using two different commands in sequence:
`docker build --target builder -t builder-postwoman:latest .`
This image is used for caching purposes only and is not pushed to doc

[2020-01-14 05:20] alecananian opened #488 "Application contains many hard-coded strings that aren't translatable"
**Describe the bug**
I've found about 150+ unique hard-coded strings in the application code for titles, placeholders, toast messages, etc that are untranslatable because they're not set up to be compatible with `nuxt-i18n`.

**To Reproduce**
Steps to reproduce the behavior:
1. Select any language other than English
2. Observe untranslated strings even on the homepage ("search history", "History i

[2020-01-14 05:42] liyasthomas commented on #488
So sorry for this, `i18n` needs contributors such as you to make it complete. Core devs have been busy with other feature requests and bug fixes and have very little time to work on translations.

If you're willing to take this challenge, we're happy for that. Shall I assign this task to you?

[2020-01-14 05:45] liyasthomas commented on #488
**`i18n` contributuion checklist:**

- [ ] **Pull the latest changes from `i18n` branch**
- [ ] Find `lang/<<your_file>>.js`
- [ ] **Replace existing dummy translations** with actual translated lacale (no need to update `nuxt.config.js` if language is already added once)
- [ ] Save changes, Commit changes, **Push to `i18n` branch only**

Refer English translation file https://github.com/liyasthoma

[2020-01-14 05:46] alecananian commented on #488
Sure! Happy to do it. Does it make sense to do this as a branch off the current `typescript` branch since they both touch many files, or just off `master`?

[2020-01-14 05:46] liyasthomas commented on #488
Let me make `master` and `i18n` branch even and will let you know in 2 mins.

[2020-01-14 05:48] liyasthomas commented on #488
Here you go: https://github.com/liyasthomas/postwoman/tree/i18n

**`i18n` contributuion checklist:**

- [ ] **Pull the latest changes from `i18n` branch**
- [ ] Find `lang/<<your_file>>.js`
- [ ] **Replace existing dummy translations** with actual translated lacale (no need to update `nuxt.config.js` if language is already added once)
- [ ] Save changes, Commit changes, **Push to `i18n` branch onl

[2020-01-14 15:52] alecananian commented on #488
Seems I couldn't commit directly to this repository, so I forked the `i18n` branch. Here are the changes: https://github.com/liyasthomas/postwoman/pull/489

[2020-01-14 17:33] liyasthomas commented on #488
Fixed in #490  #491

[2020-01-14 17:33] #488 closed

[2020-01-14 23:22] Congee commented on #325
This feature is helpful when you reverse-engineer an api. I currently use Fiddler, mitm-proxy, or Charles.

[2020-01-15 02:56] liyasthomas commented on #467
- [x] [TypeScript](https://github.com/liyasthomas/postwoman/tree/typescript)
- [x] SCSS support
- [ ] ~Pug~
- [ ] ~Component Libraries~

Since:
- TypeScript support is added
- Already have SCSS support (SASS is no more preferred)
- Pug support and component libraries such as Vuetify, Vue Material Kit is not essential at this stage of development

I'm closing this issue.

[2020-01-15 02:56] #467 closed

[2020-01-15 03:00] liyasthomas commented on #325
Transferred this issue to https://github.com/postwoman-io/postwoman-proxy/issues/10

[2020-01-15 03:00] #325 closed

[2020-01-16 06:31] wulisensen opened #493 "How to solve cross-domain issues？"
Access to XMLHttpRequest at 'http://127.0.0.1:7001/stat/userSet' from origin 'https://postwoman.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

[2020-01-16 06:47] liyasthomas commented on #493
Possible duplicate of #433 #274 #128

[2020-01-16 06:47] #493 closed

[2020-01-16 16:37] freitzzz opened #495 "Change import/export collection on requests page icon"
**Is your feature request related to a problem? Please describe.**
I'm fairly new to Postwoman and I was wondering how I could export a collection. I've read README.md and noticed that it was possible, yet I've spent approximately 5 minutes browsing through Postwoman figuring out how to export my collection, and the only way I was able to find it was to search by the 'export' word in the source co

[2020-01-16 16:41] liyasthomas commented on #495
Fix coming in next commit :+1:

[2020-01-16 16:42] liyasthomas commented on #495
Fix coming in next commit :+1:

[2020-01-16 17:28] #495 closed

[2020-01-17 09:55] freitzzz commented on #495
Thank you! :)

[2020-01-17 10:20] MichalBednarz opened #497 "GraphQL String variables are null"
**Describe the bug**
String variables provided for GraphQL query have null values.
Besides unquoted input I also tried to wrap String variable value with double and single quotes but result was the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /graphql
2. Provide GraphQL query
3. Provide variables (including String type variable)
4. Click "Run Query"
5. See null variables value

[2020-01-17 10:28] liyasthomas commented on #497
@AndrewBastin @pushrbx

[2020-01-17 10:58] freitzzz opened #498 "Ability to run all requests of a folder/collection"
**Is your feature request related to a problem? Please describe.**
Sending multiple requests of a collection takes to much time due to being necessary to change between requests each time these are to be sent.

**Describe the solution you'd like**
A list-item that allows the to send all requests of a folder/collection.

**Describe alternatives you've considered**
A button that performs this action

[2020-01-17 11:04] liyasthomas commented on #498
Request for "chaining requests" is already raised before on #218

[2020-01-17 11:04] #498 closed

[2020-01-17 11:05] liyasthomas commented on #465
@nickpalenchar ping!

[2020-01-17 11:06] pushrbx commented on #497
Assign this to me @liyasthomas please, I will do it.

[2020-01-17 11:07] liyasthomas commented on #497
Fine. 🚀

[2020-01-17 16:57] nickpalenchar commented on #465
@liyasthomas hi still working but it's been smooth development! Probably can get it merged this weekend.

I only have some weekend time to work on open source these days so progress will look more sporadic than usual for now. But you can check out work for this on [`feature/post-request-tests`](https://github.com/liyasthomas/postwoman/tree/feature/post-request-tests), branch, which I'll keep updat

[2020-01-17 17:40] AndrewBastin commented on #497
Actually, me being busy with cross platform biz, I couldn't catch up on GraphQL updates.

Not gonna sugar coat this, the current implementation for variables sucks. I honestly, can't believe I let it happen.

Variables in GraphQL may not be just some simple values, but can also be complex nested objects (facilitated through stuff like [Input](https://graphql.org/graphql-js/mutations-and-input-type

[2020-01-17 18:18] #497 closed

[2020-01-17 20:51] pushrbx commented on #497
@AndrewBastin Initially when I added this feature I thought I'd add apollo-client as dependency, because it gives you proper errors for invalid variables, and it has type checking. However it seemed too much effort because a major refactor would be required. God bless laziness.

[2020-01-19 00:14] liyasthomas commented on #469
Closing for to inactivity

[2020-01-19 00:14] #469 closed

[2020-01-19 17:30] AdityaAnand1 opened #507 "Sync collection with a cloud storage (e.g: Google drive)"
What is the feature? Postman Teams essentially, without any dedicated backend, we just piggy back off a cloud storage provider.

So, how it would work is basically like:

1. You're using postwoman, making changes
2. You decide to simultaneously share collection with your teams, so both frontend and backend (multiple members) can collaborate and get access to the same - always up-to-date - collecti

[2020-01-19 17:37] liyasthomas commented on #507
@AdityaAnand1 feature suggestion sounds great! Would love to work on it.

And the mention website does the job neatly. Will plan for an MVP, and we would love to add you as a collaborator.

[2020-01-19 17:40] liyasthomas commented on #507
We can certainly make use of Firebase functions, auth, etc for initial prototype. Google sign in seemes to ba piece of cake with Firebase Auth.

[2020-01-20 18:56] Congee commented on #507
Then I can really ditch Postman.

[2020-01-20 19:31] liyasthomas commented on #507
MVP is ready 🎉

checkout `auth` branch for development: https://github.com/liyasthomas/postwoman/tree/auth

- [x] Auth with Google
- [x] Auth with GitHub
- [x] Add data to Firestore
- [ ] Delete data from Firestore
- [ ] UI 50% completed
- [ ] Sync and test all the above

[2020-01-21 11:13] jamesgeorge007 opened #509 "Multiple collections with the same name shouldn't exist"
Assume there is a default collection named 'My Collection'. If he/she makes an attempt to create yet another collection under the same name it just happens which isn't intended.

[2020-01-21 11:16] ZephSibley opened #511 "Request descriptions"
I think it would be great if we could add descriptions to requests in addition to names/labels.

Ideally the description metadata would get included in generated docs. and perhaps the field could support markdown.

[2020-01-21 14:40] #509 closed

[2020-01-23 08:39] bbkgh opened #514 "Support S3 as saving/sharing collections backend-storage"
Hi. I think supporting S3 interface as a storage backend can be very useful feature for storing states server-side and facilitates collection sharing/syncing.

[2020-01-23 08:47] liyasthomas commented on #514
Great suggestion!

Well, we've already working on an Auth + Sync feature and is in beta testing #513 using Firebase Auth and Firestore.

Checkout the deploy preview and see whether it is enough or not: https://deploy-preview-513--postwoman.netlify.com/

[2020-01-23 08:59] jamesgeorge007 opened #515 "Warn the user if name field was left blank while creating a new collection"
As of now, the user can create collection(s) leaving the name field blank which shouldn't be the case.

[2020-01-23 09:04] liyasthomas commented on #511
Well, since already we've label field, it would be an overhead in terms of design space to add another meta field. Anyways, will think about it if further requests come. :+1:

[2020-01-23 09:04] #511 closed

[2020-01-23 09:40] #515 closed

[2020-01-23 12:47] cortopy commented on #204
I'm also experiencing this issue. I just can't make it work so that I update an existing request. I click on the request itself, click on save (nothing happens), refresh and the new details do not appear

[2020-01-23 13:13] liyasthomas commented on #204
@cortopy can you please explain excatly what is not working at your end?

[2020-01-23 14:28] #507 closed

[2020-01-23 14:28] #514 closed

[2020-01-23 14:28] #26 closed

[2020-01-23 14:31] Congee commented on #507
@liyasthomas you da best!

[2020-01-23 14:32] liyasthomas commented on #507
I've also add few bugs to be fixed later 😉

[2020-01-23 14:48] cortopy commented on #204
sure! thanks for the prompt reply @liyasthomas

I'm having a hard time updating saved requests. After reading this issue, this is what I've tried:

1. Save my request
2. Click on the Saved Request to make sure that's the one I'm editing
3. Make some changes
4. Click on the Save button (nothing happens)
5. I refresh browser
6. I get the request as in (1) but the new changes are not there

[2020-01-23 15:01] liyasthomas commented on #204
First of all sorry for the inconveniences. I admit saving request are a bit of cumbersome.

Here's what I did to reproduce the issue:
1. Made a request
2. Saved it to Collection
3. Made few changes to request
4. Clicked on save > choose my previous Collection > (same folder and same request) > Save
5. Imported last saved request by clicking

[2020-01-23 23:58] liyasthomas commented on #465
@nickpalenchar Just a friendly reminder: In the past few days, base branch has been updated with lot of core features. I advise you to keep the https://github.com/liyasthomas/postwoman/tree/feature/post-request-tests branch updated with the `master` branch.

[2020-01-24 03:49] nickpalenchar commented on #465
Ooh thanks for the update. I'll be back on this tomorrow but that’s a good point for my future week hiatuses. Looking to push it out tomorrow either way

On Thu, Jan 23, 2020, at 6:58 PM, Liyas Thomas wrote:

[2020-01-25 09:08] AdityaAnand1 commented on #507
Awesome speed!

Is it now possible for a team to collaborate on the same collection?

[2020-01-25 09:10] liyasthomas commented on #507
Oh no, teams are not yet implemented.
We now have Auth + Sync for a single user account.
Well that's not enough isn't it!
..
..
Okay lets build teams now. ✌️

[2020-01-25 09:22] AdityaAnand1 opened #524 "Allow importing Postman collections"
The feature:
1. Export collection from postman
2. Import into postwoman
3. Collection is converted into postwoman format and saved

Just one more thing to entice more and more postman users to switch over, would make it very easy for postman users to switch.

Would need to build a parser for postman collection format (should be easy, they have a simple, stable JSON structure)

A bunch of [example

[2020-01-25 09:24] AdityaAnand1 commented on #333
Just saw this, I tried to import postman collection here:
![image](https://user-images.githubusercontent.com/13274079/73119040-789bdb80-3f82-11ea-9177-bc24c0c69a5a.png)

It doesn't seem to be working. No new collection is created.

[2020-01-25 09:28] liyasthomas commented on #524
This might seems like a better option, but as we move forward with this feature implementation, we could find there are some edge cases that involves some conflicts. One for them is Postman's Collection parser. I don't think it's an open source module. So, that will require us to go in depth of the architecture of PM and dig out how they store Collections.

Few weeks back I actually tried to parse

[2020-01-25 09:29] liyasthomas commented on #333
That option is for Postwoman Collections.

[2020-01-26 23:09] yubathom commented on #384
Hey @liyasthomas, I made a setup with rollup to publish standalone components:
https://github.com/yubathom/postwoman/tree/feature/library

Take a look at `lib/` folder

As a prove of concept it's exporting `components/logo.vue`.

Everything that is exported at [library/lib/lib-components/index.js](https://github.com/yubathom/postwoman/blob/feature/library/lib/lib-components/index.js) could be publ

[2020-01-26 23:34] liyasthomas commented on #384
I think this approach is okay.

@AndrewBastin @NBTX @jamesgeorge007
What you guys think?

[2020-01-27 00:01] liyasthomas commented on #524
Closing this issue in reference of #333

[2020-01-27 00:01] #524 closed

[2020-01-27 00:13] #465 closed

[2020-01-27 03:32] AdityaAnand1 commented on #333
Strongly recommend re-opening.

Just as an example (my use-case): There are a few things stopping me from using postwoman, the second biggest one is the fact that I already have 10+ collection with on average 20+ requests in each collection on Postman (the biggest one is teams). So, the prospect of manually re-inputting all of my 200 requests is daunting enough that I'll probably never get around

[2020-01-28 00:56] liyasthomas commented on #420
#518 resolves this, hence closing.

[2020-01-28 00:56] #420 closed

[2020-01-28 02:57] KytoSai opened #532 "Add max-height and overflow: auto to "parameter list" textarea"
**Is your feature request related to a problem? Please describe.**
When i try to put on a parameter is too long, then the display of the "parameter list" taking up too much space, which make me have to scroll up/down serveral times very annoying.
(actual situations we might encounter as parameter will be the content of an article)

**Describe the solution you'd like**
I think postwoman should set

[2020-01-28 03:09] liyasthomas commented on #532
Did you tried "Raw input" for parameter list?

1. Turn on "Raw input" toggle.
2. Paste you "lengthy" paramaters
3. Send request

[2020-01-28 03:49] KytoSai commented on #532
Thanks you! it work, i try turn off after turn on, it will show scrollbar

Demo: https://i.imgur.com/AJuHq3H.jpg

[2020-01-28 03:54] liyasthomas commented on #532
Turn on RAW input > Paste parameters > Send.
Text area will expand up to 16 lines and then show vertical scrollbar.

[2020-01-28 03:54] #532 closed

[2020-01-30 08:20] Grayda opened #539 "Feature request: Keyboard shortcuts for folder creation"
**Is your feature request related to a problem? Please describe.**
It's mildly annoying to have the "Create Folder" box not Save & Close when you press Enter, or close when you press Escape.

**Describe the solution you'd like**
I'd like to see the Create New Folder dialog box updated so when you press Enter, it'll create the folder. Additionally, it'd be good to have Escape close out of the box,

[2020-01-30 08:45] Grayda opened #540 "Feature Request: Subfolders"
**Is your feature request related to a problem? Please describe.**
I've got an API I wish to document that has several sub-APIs (e.g. one from a status monitor hosted elsewhere), but I can't create folders deeper than directly under the collection.

**Describe the solution you'd like**
I'd like to create sub-folders within a collection. For example: `api.auroras.live (Collection)` => `v2 (Folder)`

[2020-01-30 15:02] liyasthomas commented on #539
That's a good suggestion! 👍

[2020-01-30 15:05] #539 closed

[2020-01-31 13:46] liyasthomas commented on #540
I don't think this is a required feature. Anyways, will try to implement if anyone else raises this issue again.

[2020-01-31 13:46] #540 closed

[2020-02-03 12:04] jamesgeorge007 opened #547 "Validation for duplicate collection ignores letter case"
**Describe the bug**
Take the case of the default collection, 'My Collection'. Now if the user makes an attempt to create yet another collection under the same name but following different letter casing, it just gets created.
Applicable while editing collections as well.

**To Reproduce**
Steps to reproduce the behavior:
1. Hop on to the collections tab.
2. Click on `New`
3. Give the name as `my c

[2020-02-03 13:17] #547 closed

[2020-02-05 11:11] fazzomurata opened #552 "relative module not found during start"
**Describe the bug**
1. Downloaded latest version.
2. npm install
3. npm run dev
During npm run dev a module was not found:

Failed to compile with 1 errors
This relative module was not found:
* ..**/.postwoman/version.json** in ./node_modules/babel-loader/lib?ref--2-0!./node_modules/vue-loader/lib??vue-loader-options!./layouts/default.vue?vue&type=script&lang=js&

**To Reproduce**
Steps to reprod

[2020-02-05 12:13] liyasthomas commented on #552
#327

[2020-02-06 17:28] AndrewBastin commented on #552
@fazzomurata if the above solution fixed your issue, please close the issue

[2020-02-06 19:49] and7ey opened #557 "Disable SSL cert for websockets"
There should be an option to disable SSL certificates validation for websockets.
Sample python example:
`ws = websocket.WebSocket(sslopt={'cert_reqs': ssl.CERT_NONE}, origin='http://example.com/')`

[2020-02-07 01:39] #552 closed

[2020-02-07 02:21] liyasthomas commented on #557
Are you using a self-signed cert for the purpose?

[2020-02-07 02:38] pz9042 opened #558 "firebase_app__WEBPACK_IMPORTED_MODULE_2___default.a.firestore is not a function"
os : mac 10.13.6
npm:6.13.7
nodejs:v12.14.1
postwoman :master

when run ` npm run dev`，and then open http://192.168.3.94:49420/, js error: firebase_app__WEBPACK_IMPORTED_MODULE_2___default.a.firestore is not a function

[2020-02-07 02:48] liyasthomas commented on #558
Due to security concerns, Firebase functionalities are restricted to the following URLs:
- https://postwoman.io
- `http://localhost` port:3000, 5000 (testing)

Either serve the prohect in mentioned ports or disable Firestore functionalities.

[2020-02-07 02:48] #558 closed

[2020-02-07 06:47] and7ey commented on #557
No.
Use websocket_client python library, https://github.com/websocket-client/websocket-client. FAQ there says that it disables ssl cert verification.
If I try to connect to the same webserver with postwoman, then connection is immediately closed. If I do it with python script and ssl cert verification disabled - it works fine.

[2020-02-07 10:51] erfanium opened #560 "Can't send request to localhost via Chrome extention"
I can't send request to my localhost server. I get Network Error message.

**Screenshots**
![Link to Screenshot from 2020-02-07 13 49 24](https://user-images.githubusercontent.com/47688578/74023457-f1545c00-49b4-11ea-8c23-e755b5a582e0.jpeg)

![Screenshot from 2020-02-07 13 54 21](https://user-images.githubusercontent.com/47688578/74023492-05985900-49b5-11ea-9eb9-00a1f1741f46.jpeg)

![Screenshot fr

[2020-02-07 14:32] AndrewBastin commented on #560
Thanks for opening up the issue, I will look into this ASAP.

[2020-02-08 00:53] liyasthomas commented on #468
Since GraphQL section has improved tremendously ovee the past few week, I think this issue is stale now.

[2020-02-08 00:53] #468 closed

[2020-02-08 00:55] liyasthomas commented on #434
#555 resolved this issue hence closing

[2020-02-08 00:55] #434 closed

[2020-02-08 00:58] liyasthomas commented on #557
This seems to be a subset of #392 . And both implementation have same scope. Closing this issue temporarily for tracking the previously requested feature.

[2020-02-08 00:58] #557 closed

[2020-02-09 00:34] AndrewBastin commented on #560
Okay, I have uploaded the patch to Chrome Web Store. It will take a couple of days to go through reviews (have some updated permissions), I will close this issue when the new version is live on the Chrome Web Store.

[2020-02-09 04:33] AndrewBastin commented on #560
Okay the update is up.

Closing issue.

[2020-02-09 04:33] #560 closed

[2020-02-09 05:07] AndrewBastin commented on #327
Closing this issue as it seems to be fixed.

[2020-02-09 05:07] #327 closed

[2020-02-09 05:12] AndrewBastin commented on #402
Well, I have stumbled across Protobufs and GRPC a while ago and wanted an easy to use GUI to document. The Implementation of gRPC in Postwoman is fairly trivial and can be done, but the task of implementation is daunting.

If there is enough support for this feature, I will get around implementing it.

[2020-02-09 05:16] liyasthomas commented on #402
Initially I went with an MVP implementation of CRUD operations on gRPC with node client, but had to head out since there were any more discussion on this. I think this enhancement will definitely benefit us.

[2020-02-09 05:18] liyasthomas commented on #386
I think this issue is stale now and should be closed. @AndrewBastin what do you say?

[2020-02-09 05:19] AndrewBastin opened #563 "Auto Theme Selection is kinda difficult to see"
**Describe the bug**
In Postwoman's Settings, the Auto theming mode is usually difficult to spot and usually takes the background color of the selected theme. Especially in the Just Black theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings
2. Try changing the themes

[2020-02-09 05:20] liyasthomas commented on #218
This issue is resolved. (decoupling request-chaining feature from this issue).

[2020-02-09 05:20] #218 closed

[2020-02-09 05:21] AndrewBastin commented on #386
Yeah sure, I don't think IE support is something that is in immediate need. Or actually in a need ever at all :sweat_smile: (thank god)

[2020-02-09 05:21] #386 closed

[2020-02-09 05:22] liyasthomas commented on #563
Yeah, just saw that. Will fix it with default "prefered color theme"

[2020-02-09 05:29] liyasthomas commented on #333
Considering the backward compatibility for this feature, I think its not possible to implement "Postman' s collection import" feature. I'll investigate more into this and already synced Collections and its practical integration.

[2020-02-09 05:32] guiguan commented on #402
You can make use of [grpc-web](https://github.com/grpc/grpc-web)

[2020-02-09 05:42] kittiphan2405 commented on #333
ในข้อความดังต้นนัน.. ทีมgoogle ได้ตัดสินใจเอาเพราะมีการเข้าระบบบันชีจริง..
จับได้คือสองจุด... จะให้ตอบบไหนอีก.. สนุกเหรอหัวเราะ

กิตติพันธ์

ในวันที่ อา. 9 ก.พ. 2020 12:29 น. Liyas Thomas <notifications@github.com>
เขียนว่า:

[2020-02-09 10:44] AdityaAnand1 commented on #333
How about a simple one-to-one converter for postman collection format to postwoman collection format?

Input a postman collection, it internally reformats it to the same format as a normal postwoman collection and then uses that.

To lower the effort required when dealing with backward compatibility, perhaps picking only one format version (say, only the current latest v2.1 postman collection form

[2020-02-13 18:45] ChrisGarrett23 commented on #470
It would definitely be great to have this. Right now Postman can import them, but their values are pretty wonky. Would be great to import something from testing and have it set values like "<integer>" as something that can be edited for testing. Right now Postman reads them in a way where this isn't possible.

[2020-02-15 22:38] JacobAnavisca commented on #333
Just created a PR for this https://github.com/liyasthomas/postwoman/pull/574 and also added an import check

[2020-02-16 04:31] ishowman opened #575 "Get correct response data but occurs with error "Cannot read property 'value' of undefined""
**Describe the bug**
After send the request, and get the error info "Cannot read property 'value' of undefined", while the request shows that it get data success when I check  the api in devtool Network
**To Reproduce**
Steps to reproduce the behavior:
1. Fill with `Method: Get, Url: 'https://dxhdyy.ga.sz.gov.cn',  Path: '/2019ncov/js/home.js?v=202002132300'`
2. Click on 'Send'
3. Scroll down to '

[2020-02-16 15:53] liyasthomas commented on #575
Can you give the sharable link of your request setup?
Does this setup meets your mentioned setup? https://postwoman.io/?method=GET&url=https://dxhdyy.ga.sz.gov.cn&path=/2019ncov/js/home.js?v=202002132300&params=%5B%7B%22key%22:%22v%22,%22value%22:%22202002132300%22%7D%5D

[2020-02-16 23:30] #575 closed

[2020-02-17 09:11] liyasthomas commented on #333
Resolved in #574 huge thanks to @JacobAnavisca

Postwoman now supports importing [Postman Collections `v2.1.0`](https://schema.getpostman.com/json/collection/latest/docs/index.html)

[2020-02-17 09:11] #333 closed

[2020-02-17 20:36] erfanium commented on #560
@AndrewBastin
I still have that problem using chrome extension version 0.3.

[2020-02-18 08:38] alterem opened #577 "don't run"
✖ Client
  Compiled with some errors in 6.20s

 WARN  Compiled with 1 warnings                                                                                                                                               friendly-errors 16:36:37

 WARN  in ./node_modules/yargs-parser/index.js

[2020-02-18 10:09] liyasthomas commented on #577
Instead of downloading the zip and starting the server, try cloning with `https://github.com/liyasthomas/postwoman.git`.

#327

[2020-02-18 10:09] #577 closed

[2020-02-18 18:27] liyasthomas commented on #563
Fixed in 0b6671d538221b27c46aa36c32c9bcea152d4026

[2020-02-18 18:27] #563 closed

[2020-02-20 11:54] AdityaAnand1 opened #580 "Add support for teams"
Postman teams for postwoman.

More details in #507 (which is sort of a prequel for this issue)

[2020-02-20 11:56] AdityaAnand1 commented on #507
Do check out the draw.io website @liyasthomas.

Since the current implementation uses firebase storage, the draw.io approach (originally described here as above) might offer significant benefits, including not having to maintain your own backend. And it'd make implementing collaboration (#580) way easier.

[2020-02-20 15:05] Cedric4real commented on #327
Cloning definetely solves the issue, thank you.

[2020-02-20 16:24] geongeorge opened #581 "Bigger URL and/or Path input field"
I'm working on a project and I'm dealing with similar URLs of an API.
Postwoman only provides a small input field to add in the URL

![image](https://user-images.githubusercontent.com/29296982/74955841-3ce21d80-542b-11ea-97e0-de6686a68970.png)

I cannot properly see what URL I'm sending the request to.

Even the history section shows a small excerpt of the entire URL.

### Possible Solution

This

[2020-02-20 16:44] liyasthomas commented on #580
Noted. Currently we have support for for individual account and sync. Teams is next priority :rocket:

[2020-02-20 16:46] liyasthomas commented on #581
Thanks for the suggestion, will update UI to support larger URLs.

[2020-02-21 22:07] its-tayo commented on #581
Hi @liyasthomas can I work on this please?

[2020-02-21 23:01] liyasthomas commented on #581
@its-tayo hi there! You're free to work on this :tada:

[2020-02-22 01:45] AndrewBastin commented on #581
@liyasthomas @its-tayo

I think the best implementation for the URL field is that we can have it be like it can collapse into one field, without needing separate URL and Path fields (I usually only use the URL field, mostly because I usually copy paste URLs).

In case the user needs the split view, we can have a sorta a collapsible thingy, to like expand the URL input into the separate Host and Pa

[2020-02-22 13:55] its-tayo commented on #581
Hi, @liyasthomas I'm sorry I wouldn't be able to work on this, I thought this project was built with React.

[2020-02-23 16:43] JacobAnavisca commented on #147
Just created a PR for environment management https://github.com/liyasthomas/postwoman/pull/591
Import, export, editing, adding, deleting, and selecting are all supported. I set it as a tab next to collections and when an environment file is selected it is added to the preRequestScript and showPreRequestScript gets set to true. Hope everyone likes how it works.

[2020-02-23 23:02] dmitryyankowski opened #592 "Add setting to disable scroll animations"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like the ability to disable the scroll animation. For example when I use the GraphQL feature of the site and click `Get Schema` and the play button `Run Query`, it auto scrolls (**which I personally don't like**). It would be nice to have a setting to disable this :)

**Describe alt

[2020-02-24 00:29] AndrewBastin commented on #592
@dmitryyankowski I handle the GraphQL section of Postwoman.

So, like do you want to disable the smooth autoscroll animation or just disable autoscrolling alltogether

[2020-02-24 00:41] dmitryyankowski commented on #592
I'd like to disable autoscrolling all together @AndrewBastin :)

[2020-02-24 03:44] AndrewBastin commented on #592
Well, I will tackle this issue on Tuesday. Because I am currently a bit busy with the GraphQL features, and the auto scrolling stuff is a general feature.

It seems to be a pretty easy issue to tackle for beginners.
So, if anyone wants to tackle this by Tuesday. Please do (although, don't forget to report here, so other people will know you are tackling this issue).

[2020-02-24 13:08] liyasthomas commented on #147
#591 solves this, hence closing

[2020-02-24 13:08] #147 closed

[2020-02-24 14:36] dmitryyankowski commented on #592
Going to try and add this today for you @AndrewBastin I think I can handle it :)

[2020-02-24 14:38] AndrewBastin commented on #592
Cool, have fun!

Assigning this issue to you.

[2020-02-24 17:53] #592 closed

[2020-02-24 20:32] dmitryyankowski commented on #62
This seems to have been implemented. Can this be /closed? @NBTX @liyasthomas

[2020-02-24 20:58] leomp12 opened #597 "Parameter list not showing JSON object fields (force raw?)"
**Describe the bug**
JSON body is not being properly parsed to _parameter list_, when _raw input_ is disabled the body seems to be empty even with a valid object set.

I can give a try if you agree :bowtie:

**To Reproduce**
Steps to reproduce the behavior:
1. As example, go to [this request](https://postwoman.io/?method=POST&url=https://api.e-com.plus/v1&path=/applications.json&contentType=applic

[2020-02-24 22:36] liyasthomas commented on #62
I afraid, this feature was incomplete and branch became stale. Lemme run some tests.

[2020-02-24 22:49] liyasthomas commented on #597
well, the raw parameter feature for payload enables us to send nested arrays, import JSON file contents etc. So I afraid we can't directly map the raw parameter objects to key -value pairs.

And regarding forcing whether key-value pair or raw parameters toggle, well this seems like a better option since even though the provided example request had raw parameters enabled, I was served with the defa

[2020-02-24 23:15] leomp12 commented on #597
@liyasthomas great! You want me to give a try? If so, you can assign me to the issue.

[2020-02-24 23:39] liyasthomas commented on #597
sure! We'd love to have you onabroad! Assigning this to you.

[2020-02-25 01:53] liyasthomas commented on #62
#591 resolve this hence closing

[2020-02-25 01:55] liyasthomas commented on #190
#591 resolves this, hence closing.

[2020-02-25 01:55] #190 closed

[2020-02-25 06:37] JacobAnavisca commented on #62
Heyo! Just made a PR for this https://github.com/liyasthomas/postwoman/pull/603
used a regex and I did some testing but might be good for others to try it out as well

[2020-02-25 10:41] notfound945 opened #604 "Why does the URL input field display only one line"
When I was debugging the API interface, I found a very unfriendly experience.
When I type in a long URL, I often need to scroll through the URL field to see the URL I typed in, because it only displays on one line, which is inconvenient.
So, I wonder if there is a way to cope?

**Thank you !**

[2020-02-25 12:12] liyasthomas commented on #604
Thanks for the bug report! The issue has been identified. Sorry for the bad UX, we're working on it as we speak.

Please follow the initial issue ticket: #62 and #581
PR to fix the issue: #603

Closing this issue in favor of #62 and #581

[2020-02-25 12:12] #604 closed

[2020-02-26 17:03] #62 closed

[2020-02-26 17:03] #581 closed

[2020-02-26 19:12] taksumaki opened #607 "Can't login on Brave Browser"
**Describe the bug**
I try to log in from the PC with Google or with Github but I only get an error that the action has been denied.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Sign in options'
2. Click on 'Google or Github options'
3. Scroll down to 'Nothing'
4. See error

**Expected behavior**
I was hoping to be able to log in as well to be able to synchronize all my requests.

[2020-02-26 19:23] dmitryyankowski commented on #607
Thanks for starting an issue thread for this @taksumaki We'll make sure we get this sorted out ASAP! Thanks for your patience :)

[2020-02-26 19:32] dmitryyankowski commented on #607
I'm wondering if this was a temporary thing? Can you reset the application cache and then right click -> `Inspect Element > Application > Clear site data` and then refresh and try again @taksumaki ? I can login with Github and Google just fine, at the moment.

If not, this could also be an issue with Firebase not set to allow multiple accounts with the same email address. I know that I already sig

[2020-02-26 20:29] taksumaki commented on #607
No, my Github account and my Google account have totally different emails.

Also try the steps of deleting the site data as you said, and the same result.

Attached video of the page.
![2020-02-26 14-18-21](https://user-images.githubusercontent.com/56084970/75384828-3c6eda00-58a4-11ea-957a-a030f9fe189b.gif)

[2020-02-26 20:32] dmitryyankowski commented on #607
I see you're using the Brave browser. Can you use the regular Chrome browser, and tell me if it works then? @taksumaki

[2020-02-26 20:35] taksumaki commented on #607
With Google Chrome it seems to work perfect, I can log in normally. I don't understand why with **Brave Browser** you can't.

[2020-02-26 20:37] dmitryyankowski commented on #607
Hmm yeah interesting! Atleast we found the root of the issue :) Thanks for the troubleshooting steps. @liyasthomas

[2020-02-26 20:57] taksumaki opened #608 "Requests to local API returning error response"
**Describe the bug**
I try to make the "POST" request (the same goes for the other types) and I don't get an answer, just an error message that says there was an error in the connection, I even tried it with Postman and it works perfect. In the attached Gif video you can see the problem with better clarity.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Make a new request'
2. Click o

[2020-02-26 21:11] dmitryyankowski commented on #608
Thanks for the report! My fellow contributors should be able to assist you more than I can at the moment :) @NBTX @jamesgeorge007 @liyasthomas

[2020-02-26 21:50] liyasthomas commented on #608
You need to install our official Browser Extension to support `localhost`. Link can be found in `readme`.

#433 #274 #56

[2020-02-26 21:50] #608 closed

[2020-02-26 22:03] liyasthomas commented on #607
There'll be a 3rd party extension or prolly an in-built feature that restrict access to store cookies.

Track issue ticket on Brave community: https://community.brave.com/t/cant-sign-in-to-any-website-using-google-sign-in/38109

[2020-02-26 22:03] #607 closed

[2020-02-27 00:27] ilomon10 opened #611 "Support SocketIO connections on Realtime page"
**Is your feature request related to a problem? Please describe.**
I need to test my socketio server

And then install postwoman to test but i dont know how to config connection to server.
I ever test with `ws://localhost:3001` or `wss://localhost:3001`

**Describe the solution you'd like**
Maybe you can add option socketio client with minimal config.

**Additional context**
![image](https://user-

[2020-02-27 15:21] dmitryyankowski commented on #611
I believe @NBTX was going to be working on some Realtime page improvements! It would definitely be great to have an option for testing SocketIO! Great suggestion @ilomon10 :)

[2020-02-27 19:54] gromovadarya90 opened #613 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 20:09] #613 closed

[2020-02-27 20:13] dmitryyankowski commented on #613
Reported as spam 👎

[2020-02-27 22:04] renata2216 opened #614 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:24] renata7738 opened #615 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:28] NBTX commented on #615
No.

[2020-02-27 22:28] #615 closed

[2020-02-28 03:28] mzch opened #621 "[HELP] Auth permission denied"
**Describe the bug**
I set up firebase and Github Oauth, but authentication fails because of permission denied.
How can I fix this issue?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to homepage
2. Click on Github
3. See error: `PERMISSION DENIED`

**Expected behavior**
Login successfully.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please

[2020-02-28 03:43] dmitryyankowski commented on #621
Are you running the repo locally or are you on the live site https://postwoman.io? More info is appreciated @mzch thanks!

[2020-02-28 04:05] mzch commented on #621
Sorry, I'm running locally, https://postfellow.com

[2020-02-28 04:09] dmitryyankowski commented on #621
I see you are running MacOS and I can confirm there is an issue when I just tried to login on a Mac w/ Chrome. (I was logging in with 2Factor auth as well; Not sure if that matters)

![image](https://user-images.githubusercontent.com/20114263/75509591-349f5a80-59b6-11ea-96f5-28b144dafb02.png)

@liyasthomas @NBTX @jamesgeorge007 @AndrewBastin

[2020-02-28 04:26] mzch commented on #621
I tried to login via Postwoman (Postwoman is running on Debian 10.3)...

<img width="1736" alt="ScreenShot 2020-02-28 13 23 27" src="https://user-images.githubusercontent.com/621178/75510300-d615c300-5a2d-11ea-9012-252637832611.png">

I have already added `postfellow.com` to authorized domains in the console of Firebase.

[2020-02-28 04:34] dmitryyankowski commented on #621
@liyasthomas

[2020-02-28 05:08] liyasthomas commented on #621
Auth + sync is only tailored to postwoman.io

[2020-02-28 05:08] #621 closed

[2020-02-28 05:37] mzch commented on #621
@liyasthomas
Is it impossible to auth Google/Github by modifing functions/fb.js?

[2020-02-28 05:55] mzch commented on #621
Oh, when rerunning `npm run build`, then fixed. Thanks!

[2020-02-29 12:08] liuyibo123 opened #630 "How to debug localhost (cors)"
How to debug localhost api?

[2020-02-29 12:55] dmitryyankowski commented on #630
Click the dropdown at the top right and click extensions. And install the Postwoman extension for your browser! This will allow development to your localhost address :) @liuyibo123

[2020-02-29 12:57] #630 closed

[2020-02-29 13:00] liuyibo123 commented on #630
Thank you for your answer ,but my really question is that I deployed postwoman on my own server and I want use it to debug localhost. Is there a solution？

[2020-02-29 13:01] liuyibo123 commented on #630
@dmitryyankowski
Thank you for your answer ,but my really question is that I deployed postwoman on my own server and I want use it to debug localhost. Is there a solution？

[2020-02-29 13:19] dmitryyankowski commented on #630
@liuyibo123 we don't formally have support for hosts other than https://postwoman.io and http://localhost:3000, at this time!

[2020-02-29 13:23] liuyibo123 commented on #630
@dmitryyankowski Okay . Thank you  all the same

[2020-03-02 06:31] McRaeAlex opened #634 "How to use postwoman for local development and testing"
I am trying to use postwoman to test an API I have built. I have installed the PWA but I still get CORS issues.

My understanding is that since the PWA is just a browser I will continue to have this issue.

Has this problem been solved already? Is there a build of postwoman I can run that will allow me to run with localhost:port as the domain?

[2020-03-02 07:20] liyasthomas commented on #634
Use Browser extensions to resolve `CORS` issues.

 - [Firefox](https://addons.mozilla.org/en-US/firefox/addon/postwoman/)
 - [Chrome](https://chrome.google.com/webstore/detail/postwoman-browser-extensi/amknoiejhlmhancpahfcfcfhllgkpbld)

#433 #274

[2020-03-02 07:20] #634 closed

[2020-03-02 17:33] erfanium opened #635 "A suggestion for UI"
![Screenshot from 2020-03-02 20-53-04](https://user-images.githubusercontent.com/47688578/75701075-59524580-5cc8-11ea-9dbc-e27930ab79af.png)

Hi
As you see, Parts of Contents like Status, connection, content-length, content-type & date are too much big, They aren't that important either, And they can take up much less space.
Also for right panel

Better to have more space for more important parts,

[2020-03-02 21:25] NBTX commented on #611
As at @dmitryyankowski has mentioned, I do intend to revamp the Realtime page.

[2020-03-03 00:27] liyasthomas commented on #635
Noted 📝

Thanks for the suggestions, we'll consider these tweaks in next major UI revamp.

[2020-03-03 00:27] #635 closed

[2020-03-03 00:55] dmitryyankowski commented on #635
Definitely agree with @erfanium here! I've been trying to work on that, on the GraphQL page. Things need to be compressed down in size, and only have the more important aspects larger.

[2020-03-03 15:26] Allakazan opened #637 "Info: The current domain is not authorized for OAuth operations Error"
I'm trying to deploy Postwoman in my server and i'm getting this error: "Info: The current domain is not authorized for OAuth operations".
Apparently the Firebase just let me login with localhost or postwoman.io domain. How can i bypass it ?

[2020-03-03 15:32] liyasthomas commented on #637
Current Auth logic is tailored only for postwoman.io and localhost:3000. To configure custom domains, create your own Firebase app and change configs on `functions/fb.js`

[2020-03-03 15:32] #637 closed

[2020-03-03 19:05] codeasashu commented on #470
I was trying to attempt to do the same by converting postman to openapi schema myself. Repo: https://github.com/codeasashu/openman

However, I wanted something like postman which had web support, self hosted solution so that I can be assured it won't change overtime (or atleast I can know about it).

This project has given me a hope in right direction and I can now focus on working on this. Will g

[2020-03-04 03:12] moonrailgun commented on #611
@NBTX  Hi , i am a deep user of socketio. And i am glad to postwoman can support socketio soon.

Can i join it? Hopes to contribute my power to this work.

[2020-03-04 03:14] liyasthomas commented on #611
@moonrailgun Welcome to the team! We're busy with other improvements, can I assign this to you?

[2020-03-04 03:19] moonrailgun commented on #611
@liyasthomas Of course. I am glad to add this feature.

[2020-03-04 10:13] #611 closed

[2020-03-04 10:19] Bettelstab opened #641 "Environment variable in path won't update"
I would like to test different environments with the same set of requests. So I create an environment variable `root` (via environment management or pre-request) and use it in the request's path:
```<<root>>/public/blogger```
That works as expected, however, when I change `root` later on, the path is not updated. I would expect it to update.

Video: https://fashiontale.org/index.php/s/njZSJDrnj6qQ

[2020-03-04 10:23] Bettelstab opened #642 "Environment variables in collections"
I have a request with path ```<<root>>/public/blogger```, which I want to run against different environments. I save this request in a collection. I would expect to be able to change the environment (and, hence, `root`) again later. But when I load the saved request, `root` is already replaced with the value it had when I saved the request.

Video: https://fashiontale.org/index.php/s/Aaz77P7breqAe

[2020-03-04 10:38] Bettelstab commented on #641
I just figured out that everything (including saving to collections) works as expected, if `root` is not set before it's used. Still unexpected ;)

[2020-03-04 10:43] liyasthomas commented on #642
Thanks for reporting the issue.

[2020-03-04 10:47] liyasthomas commented on #641
I think this issue could be solved as #642 gets fixed. Closing this to track the issue #642.

[2020-03-04 10:47] #641 closed

[2020-03-04 13:02] Bettelstab opened #643 "Tests should be saved together with requests"
When saving / loading a request, the test script should be saved / loaded as well.

Typically, you'll want to test different things depending on the request, e.g. test for a specific response.

[2020-03-04 13:13] Bettelstab opened #644 "Test script is not run after failing request"
I run an unauthenticated request against an endpoint requiring authentication, so I get a 401 response. In the test script, I want to test for that response:
[code]
But the test script is not executed, as it seems.

Edit:

Steps to reproduce:
1. Put `https://api-staging.fashiontale.de/protected/address` as URL
2. Click 'Add test script' and uncomment the example code
3. Click 'Send'.
4. 401 respon

[2020-03-04 13:14] liyasthomas commented on #644
Please explain steps to reproduce the issue

[2020-03-04 14:51] #644 closed

[2020-03-05 05:44] codeasashu opened #649 "Failed to execute 'setRequestHeader' on 'XMLHttpRequest': '' is not a valid HTTP header field name."
**Describe the bug**
Unable to set `application/x-www-form-urlencoded` as `Content-Type` header. Setting this header gives me HTTP status code 500, however cUrl is working for the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home'
2. Enter 'application/x-www-form-urlencoded' in 'Content-Type' header section
3. Send the `POST` request to `https://httpbin.org/post`
4. Response

[2020-03-05 06:24] liyasthomas commented on #649
I couldn't reproduce the issue.

# **Set up 1: Set `Content-Type` in request section itself**

## **Request**
![postwoman io__method=POST url=https___httpbin org path=_post contentType=application_x-www-form-urlencoded](https://user-images.githubusercontent.com/10395817/75953415-50838e80-5ed7-11ea-8a7b-8df0afbd7cef.png)

## **Response**
![postwoman io__method=POST url=https___httpbin org path=_pos

[2020-03-05 06:24] #649 closed

[2020-03-05 11:29] codeasashu commented on #649
Ok weird, it works now. Don't know why it happended but seems to be fixed now. I will make sure to check for anything else I might have done to cause this issue. Thanks for taking your time to reply.

[2020-03-06 17:29] MuckT opened #651 "Running app from downloaded zip fails to compile"
**Reproduction Steps:**

1. Download the zip form github
2. Extract the contents
3. Navigate to the folder
4. run npm install
5. npm run dev

**Expected Results:**

- Application Runs

**Actual Results:**

- Build Error:

[code]
**Work around:**

- Cloning the repository is working fine.

[2020-03-06 21:45] liyasthomas commented on #651
#327 #444

[2020-03-06 21:45] #651 closed

[2020-03-08 09:01] rahulnpadalkar commented on #342
I would like to contribute.

[2020-03-08 09:07] liyasthomas commented on #342
This is an Vue example with MQTT server. We can clone this.

[2020-03-08 09:21] rahulnpadalkar commented on #342
Yes sure!

[2020-03-08 15:41] Byron4j opened #656 "An unknown error occurred whilst the proxy was processing your request."
When I use postwoman to access local tomcat server: http://localhost:8080，and enable proxy；
I get a 500 error， and tips like :  An unknown error occurred whilst the proxy was processing your request.
![image](https://user-images.githubusercontent.com/18253211/76166004-3d521680-6196-11ea-95d4-504e91844faa.png)

[2020-03-08 16:12] AndrewBastin commented on #656
@NBTX

[2020-03-08 18:27] AndrewBastin commented on #656
Umm, I just now read the issue description fully 😅

The proxy cannot connect to local servers. Please use the Postwoman browser extensions ([Chrome](https://chrome.google.com/webstore/detail/postwoman-extension-for-c/amknoiejhlmhancpahfcfcfhllgkpbld) or [Firefox](https://addons.mozilla.org/en-US/firefox/addon/postwoman/)) to be able to send requests to local servers.

Thanks for trying Postwoman!

[2020-03-08 18:48] gasbi commented on #656
I'm experiencing the same problem, and is certainly when trying to connect to localhost.

I have proxy enabled and chrome extension installed, and still getting the same error:
[code]

Am I missing something here to be able to connect to localhost?

Thanks!!

[2020-03-08 19:43] MuckT commented on #651
Possible root cause of this issue:

[2020-03-08 20:11] AndrewBastin commented on #656
Well, the Proxy cannot talk to your local server because the proxy is in the internet and your local server isn't 😅 . Use the browser extension with the proxy disabled to access your local server.

Cheers! 😄

[2020-03-08 20:15] AndrewBastin commented on #656
@NBTX is the proxy supposed to a message like this on failing to resolve a url, can we like get a proper axios like error thingy with error codes and stuff maybe ?

[2020-03-09 16:58] AndrewBastin commented on #656
If the issue persists, feel free to message below.

Closing the issue meanwhile.

[2020-03-09 16:58] #656 closed

[2020-03-09 17:25] AndrewBastin commented on #267
Since this is a big feature request and there hasn't been a big talk about this. I just want to revive the discussion.

Basing on @liyasthomas 's [main ideas](https://dev.to/liyasthomas/i-created-postwoman-an-online-open-source-api-request-builder-41md) behind creating Postwoman, we have taken certain decisions on how a native postwoman app should work.

* So as Liyas described in the issue, we ar

[2020-03-09 17:37] liyasthomas commented on #267
I second @AndrewBastin
The very request for Native build came from the necessity for `localhost` support, `CORS` issues etc. Since most of them are solved with extension, I think there's no more need for a native build.

[2020-03-09 17:44] liyasthomas commented on #204
Closing due to inactivity

[2020-03-09 17:44] #204 closed

[2020-03-09 19:48] NBTX commented on #267
@AndrewBastin For Windows we can now consider WebView2 SDK (based on the Chromium Edge rendering engine) - _At the moment it requires Chromium Edge to be installed along with the WebView2 SDK, however I believe in future the requirement will be only the Chromium Edge browser and I imagine it will be provided in Windows by default_.

It's currently in a developer alpha preview, but we can start exp

[2020-03-11 03:09] liyasthomas commented on #267
Since there's no activity towars this feature request, I think we could close this issue. After all Postwoman PWA + Browser extension could fill the gap for a native wrapper for PW.

[2020-03-11 03:09] #267 closed

[2020-03-11 03:12] liyasthomas commented on #402
@AndrewBastin do you think we could implement this on PW? What do you say?

[2020-03-11 03:17] liyasthomas commented on #597
@leomp12 how's the progress on this issue?

[2020-03-11 08:56] VKingi opened #658 "A question that has been raised but not resolved"
Linux: CentOS Linux release 7.7.1908 (Core), nodejs: v12.16.1
windows:10.0.14393,nodejs: v12.13.1

### The specific error is as follows
#### Text:
[code]
#### IMG:
![image](https://user-images.githubusercontent.com/16144561/76398636-2db21800-63b8-11ea-8be8-b436d7581ebe.png)
Ask the community to help me,thanks

[2020-03-11 09:08] liyasthomas commented on #658
#651

Possible root cause of this issue:

Solution: Instead of downloading the zip and starting the server, try cloning `https://github.com/liyasthomas/postwoman.git`. Now the version number is correctly fetching from package.json and release tag, so I think I should this issue.

Feel free to close this issue if you were able to fix this.

[2020-03-11 11:54] Olyno opened #661 "[Bug] - Can't login to Github and Google"
**Describe the bug**
Using PWA or just the website, with cookies available, postwoman can't log me using Github connection method.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the key icon top right
2. Click on it to deploy connections methods
3. Click on Github
4. The popup opens and closes itself instantly, without get any connection

**Expected behavior**
Be connected using Googl

[2020-03-11 14:35] leomp12 commented on #597
Hey @liyasthomas ,
I haven't had time yet, sorry :disappointed:
I was planning to do it next week, probably on Monday or Tuesday, it's ok for you to wait?

[2020-03-11 14:35] liyasthomas commented on #597
yeah sure! ✌️💯

[2020-03-11 17:22] liyasthomas commented on #661
This is clearly an issue with Browser itself.

[2020-03-11 17:35] #661 closed

[2020-03-11 17:36] #658 closed

[2020-03-11 20:10] AndrewBastin commented on #402
I don't have much experience with gRPC, but I will try reading up on it and try to get some implementation done. Just don't expect something soon, because I am currently busy with personal and university work.

[2020-03-11 20:15] #342 closed

[2020-03-12 15:20] mattbailey commented on #402
To be clear, this is functionally different than gRPC. Serving grpc-web is good (since browsers can't actually do full gRPC), but does require special tooling, and limits some functionality (see: https://grpc.io/blog/state-of-grpc-web/). It is, though, probably the easiest way to start support in an app like this (maintainers might want to consider this a different issue to track, though).

Also,

[2020-03-14 06:40] wuyish opened #673 "Error: Network Error. Check console for details."
![run](https://user-images.githubusercontent.com/1539167/76680076-a4e9e500-6620-11ea-909a-2932f63ca732.gif)
When sended "get url https://www.qq.com",response:**Error: Network Error. Check console for details.**
But it was normal when enabled official proxy.
![test](https://user-images.githubusercontent.com/1539167/76680086-b92de200-6620-11ea-8919-d3d48c47a55b.gif)

I think it wasn't have to enable

[2020-03-14 07:35] liyasthomas commented on #673
@wuyish please tell how to reproduce the issue.

[2020-03-14 10:27] wuyish commented on #673
I tried again，but it didn't work when enabled the proxy  now.

[2020-03-14 10:52] liyasthomas commented on #673
The mentioned endpoint: `www.qq.com` seems to be blocking requests from https://postwoman.io

For these kinda situations, we implemented Proxy. Enable Proxy to intercept such request endpoints.

[2020-03-14 10:52] #673 closed

[2020-03-17 06:38] liuyang001 opened #675 "Looking forward to that the postwoman Compatible 'swagger ' at next version"
1

[2020-03-17 06:49] liyasthomas commented on #675
Hiya!

Due to the current corona crisis, development and next major version release PW is postponed until further notice. Please stay indoors, stay safe.

[2020-03-17 09:44] Olyno opened #676 "[bug] - Can't make a request to HTTP"
**Describe the bug**

When trying a request to a link with no http**s**, it throws this error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to make a request to ``http://edu2.shareyourtime.fr/apijs/messages``
2. Press F12 and See console

**Expected behavior**

Get result of request.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (pleas

[2020-03-17 09:47] Olyno commented on #676
To note: I tested with Postman, it works fine. Should be able to work with Postwoman too.

[2020-03-17 09:47] liyasthomas commented on #676
Enable proxy to access `non-https` endpoints.

[2020-03-17 09:47] #676 closed

[2020-03-17 10:19] zibber2015 opened #677 "websocket url to long browser got stuck"
**Desktop**
 - OS: mac10.14.6
 - Browser: chrome
 - Version:docker 1.9.0

[code]

[2020-03-17 11:02] liyasthomas commented on #677
How to reproduce the issue?
Possible duplicate of #471

[2020-03-17 15:26] #597 closed

[2020-03-17 16:01] leomp12 opened #679 "Save collections on account sync turn on"
**Describe the bug**
Already saved collections are not uploaded on sync turn on.

**To Reproduce**
Steps to reproduce the behavior:
1. Save some request to collection;
2. Login first time;
3. Go to _Settings_;
4. Click to turn on sync;
5. Login again in another browser or private tab;
6. Saved collection will not be there;

**Expected behavior**
Upload the collection :stuck_out_tongue_closed_eyes:

[2020-03-17 16:13] leomp12 opened #680 "Public account data"
**Is your feature request related to a problem? Please describe.**
Imo will be great to be able to share account data, specially collections.
I saw team support planning (https://github.com/liyasthomas/postwoman/issues/580), it will be awesome, but in some cases (at least on mine :smile: ) public collections is the best solution, without login required to read.

**Describe the solution you'd like*

[2020-03-17 16:19] leomp12 commented on #680
@liyasthomas I can give a try if you agree and can wait a while again (I'm still kind of busy :stuck_out_tongue: )

[2020-03-17 16:21] leomp12 commented on #680
Additionally, for this purpose will be good to provide URLs for each collection request (another issue?).

[2020-03-17 21:25] liyasthomas commented on #679
Currently, collections are uploaded whenever a change (such as adding/deleting/moving/renaming a request or colection) happens in the Collections sections.

[2020-03-17 21:28] liyasthomas commented on #680
I planned Teams support to be a customizable read-only collections with a sharable ID.

[2020-03-17 22:29] #677 closed

[2020-03-18 07:59] liyasthomas commented on #675
I just ran few swagger endpoints (`https://petstore.swagger.io/v2/store/inventory`) and it seem to be working fine.

What we're lacking is an UI for selecting requests from swagger Definition file (`https://petstore.swagger.io/v2/swagger.json`)

[2020-03-18 14:56] leomp12 commented on #679
@liyasthomas yup, but you don't think it should be uploaded when sync is toggled?

[2020-03-18 14:57] liyasthomas commented on #679
yes indeed. Should be synced on toggle.

[2020-03-18 14:59] leomp12 commented on #680
I'm not sure if I understand, will team support work as I described here?
I imagined that the teams would be composed of invited (authenticated) users only, and possibly with write permission, not?

[2020-03-18 15:07] liyasthomas commented on #680
I thought of a public/authenticated Collections. Need some refining on it. Will update progress here. Anyways, let this issue stay untill then.

[2020-03-19 14:50] neverendingqs opened #686 "Docs request: how to prevent secrets from leaving local storage wrt. sync."
**Is your feature request related to a problem? Please describe.**
I am not sure how I should set up sync to prevent secrets (e.g. OAuth 2.0 access tokens) from leaving local storage.

**Describe the solution you'd like**
Help text or documentation describing what exactly is synced and/or suggestions for how to manage secrets and syncing.

**Describe alternatives you've considered**
I think using

[2020-03-19 15:25] liyasthomas commented on #686
Synced sections are:
- History
- Collections
- Environments
- Notes

Secrets including 0Auth key or access tokens are synced with `localStorage` only.

[2020-03-19 15:25] #686 closed

[2020-03-19 16:20] erfanium commented on #560
@liyasthomas  @AndrewBastin
This problem is found again in the new version 1.9.0 + chrome extension 0.5.0
![Screenshot from 2020-03-19 19-49-30](https://user-images.githubusercontent.com/47688578/77089320-ee6c7280-6a1a-11ea-874b-441ae3e6fc24.png)

[2020-03-20 01:53] AndrewBastin commented on #560
@erfanium The latest version of the Chrome Extension is Version 0.5. Please update your Postwoman Extension and report back if the issue still persists.

[2020-03-20 04:50] #675 closed

[2020-03-20 07:44] anragab opened #690 "[feature]: Tabs/Projects/Workspaces support"
**Is your feature request related to a problem? Please describe.**
When you have multiple projects added to the collections the environment tab get cluttered easily as you would either create an environment per project/environment or you will prefix environment variables with project name

**Describe the solution you'd like**
I would like to have postwomen segmented per "project"/"workspace" where

[2020-03-20 07:47] liyasthomas commented on #690
Tabbed instances of workspaces are in our roadmap. You can simultaneously access multiple workspaces (tabs) isolated from one another.

[2020-03-20 10:53] deepakbandela opened #691 "Report Portal integration"
**Is your feature request related to a problem? Please describe.**
I would like to see integration with the report portal (reportportal.io) when I run the tests on my postwoman.

**Describe the solution you'd like**
Customising the existing report portal agents to postwoman so that they will be able to report all the tests ran in PW

**Describe alternatives you've considered**
No alternatives yet

[2020-03-20 10:59] liyasthomas commented on #691
Currently we've post-request hooks in which tests are carried out within the request section.

As of now, we do not have a plan to support 3rd party interrogations.

[2020-03-20 10:59] #691 closed

[2020-03-20 18:28] allthesignals commented on #634
I do not understand how to use Postwoman for local development. I can't get localhost:3000 to point to my locally-running API. I

[2020-03-20 18:30] allthesignals commented on #634
I have the chrome extension and the proxy setting enabled but i cannot get it to access localhost:3000

[2020-03-20 23:36] AndrewBastin commented on #634
@allthesignals

If you want use Postwoman for a local API, do not use the proxy, proxy routes your request through a separate server which means it can't connect to your local server.

Just use the browser extension and disable the proxy, thank you 😁

Please report back even if disabling proxy didn't work.

@liyasthomas, this is becoming a common occurance. Should we discuss about adding a warning

[2020-03-21 00:01] liyasthomas commented on #634
I think the "Enable Proxy" toast on every failed request is what makes users to enable proxy. Shall we open extensions modal instead of it? since all exceptions of Proxy is covered with extension and those who wanna turn on proxy can enable that by going to settings > proxy.

[2020-03-21 00:19] allthesignals commented on #634
Ah, thank you about that and sorry for not reading closely enough. I believe when it asked about the proxy, I gave that a shot.

Amazing project, by the way.

[2020-03-21 00:20] liyasthomas commented on #634
Thanks for replying. If there's anything you'd like to know, ping us.

[2020-03-21 00:33] allthesignals commented on #634
The only thing is that for some reason, this endpoint gives a blank response body. Note the content-type is application/vnd.api+json: https://applicantmaps-api.herokuapp.com/projects

![image](https://user-images.githubusercontent.com/5004319/77215288-b1bb7c80-6ae9-11ea-966a-5dbe7453d610.png)

[2020-03-21 00:44] allthesignals commented on #634
Oh, interesting: when I hit the "copy response," I see this:

`[object Object]`

Going to open an issue... would love to dig in and help! I _love_ this app (PWA!)

[2020-03-21 00:51] allthesignals opened #694 "Support preview of JSON:API's "application/vnd.api+json" Content-Type"
**Describe the bug**
When I issue a GET request to an endpoint responding with the [content type "application/vnd.api+json"](https://jsonapi.org/format/#content-negotiation-clients), I see a 200 success response, but the reponse field is blank (see screenshot).

When I click "copy response", and paste the value in a text editor, I see:

`[object Object]`

This leads me to believe that it isn't rec

[2020-03-21 02:01] AndrewBastin commented on #694
Thanks for opening the issue!

We will get into fixing that right away!

[2020-03-21 02:02] allthesignals commented on #694
You bet! I'm taking a look right now fwiw...

[2020-03-21 02:38] #694 closed

[2020-03-21 23:42] Olyno opened #696 "[UI/UX] - Change place of Send button"
**Is your feature request related to a problem? Please describe.**

Sometimes, I need to do again the same request to see if my server receives this request, and to continue to work. Currently, ``send`` button has a big issue when we scroll down: it hiddes other buttons on the right side top right (see screen below).

**Describe the solution you'd like**

We could simply move it from right side to

[2020-03-22 00:50] liyasthomas commented on #696
If we place the end button at bottom, the toasts will overlaps it in mobile view :(

[2020-03-22 01:11] Olyno commented on #696
We can put the button just here (see image below). User can scroll down a little more to show button, without toasts overlap it
![](https://i.imgur.com/MFK926c.png)

So the send button could be at the right side top, it should fix the main issue which is the overlap of the navigation bar at the right side.

[2020-03-22 01:15] liyasthomas commented on #696
![localhost_3000_](https://user-images.githubusercontent.com/10395817/77240142-88454280-6c08-11ea-9bc8-2479b3a43127.png)

send button being positioned fixed for easy access, we should align it horizontally center to view port. Lemme find a workaround on it.

[2020-03-22 05:36] #696 closed

[2020-03-22 13:19] jackflyer commented on #558
How to disable Firestore functionalities, while using ports than 3000?

[2020-03-22 13:29] liyasthomas commented on #558
You've to manually disable those.

[2020-03-22 17:07] rizkyarlin commented on #679
If I may ask, where does postwoman store the collection for syncing purposes?

[2020-03-22 20:36] leomp12 commented on #679
@rizkyarlin Firestore I think, take a look here https://github.com/liyasthomas/postwoman/blob/master/functions/fb.js

[2020-03-23 08:15] Aswathprabhu opened #699 "Broken "proxy privacy policy" link"
The link for Apollo Software private policy is a bad link.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'settings'
2. Scroll down to 'Proxy module'
3. Click on 'Apollo Software privacy policy'

**Expected behavior**
A redirection to a valid link.

**Screenshots**
<img width="1336" alt="image" src="https://user-images.githubusercontent.com/25875367/77295398-e60e8300-6d0b-11ea-97d9-32

[2020-03-23 08:22] liyasthomas commented on #699
Will update ASAP.  Thanks for noticing that.

[2020-03-23 12:57] DiegoMGar commented on #175
Not done yet?

[2020-03-23 17:02] allthesignals commented on #333
How do you use this?

[2020-03-23 21:30] liyasthomas commented on #333
@allthesignals
Navigate to Collection tab on right side bar.
Click "Import/Export"
Click "Import from JSON"
Select any Postman_collection.json file

[2020-03-23 21:59] liyasthomas commented on #699
@NBTX It seems like the server is down :(

[2020-03-24 12:48] CNzhou97 opened #704 "Error: Network Error. Check console for details"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Open Postwoman
2. Click on Send
3. Scroll down to console
4. See error

**Expected behavior**
response OK

**Screenshots**
![image](https://user-images.githubusercontent.com/31788525/77426905-68806b00-6e10-11ea-9e3b-b18c1f1d8c15.png)

**Desktop (please complete the following information):**
 - OS: Win10
 - Browser chrome, s

[2020-03-24 12:50] liyasthomas commented on #704
If your endpoint is in `localhost`, please install official extensions to support `localhost` endpoints.

[2020-03-24 13:00] CNzhou97 commented on #704
It's the same effect if I use ip
![image](https://user-images.githubusercontent.com/31788525/77427876-1e988480-6e12-11ea-99af-d521f2c4ba70.png)

[2020-03-24 13:02] liyasthomas commented on #704
Are you sure the requested endpoint have CROS disabled?

[2020-03-24 16:30] jackflyer commented on #443
Is there any option to set withCredentials from front side? or guide on where to set that option.

[2020-03-24 17:58] liyasthomas commented on #443
https://github.com/nuxt-community/axios-module/issues/168#issuecomment-471670927

[2020-03-25 16:02] taksumaki opened #706 "Add a description to the request or collection when saving it"
**Is your feature request related to a problem? Please describe.**
It would solve the problem of better understanding what "X" request or "X" collection does by adding a description of what it does and what it is for.

**Describe the solution you'd like**
Add a "Description" field in the save request or collection form and thus be able to determine in a better way what each thing does.

**Describe

[2020-03-25 20:29] phantompepper opened #707 "CORS issue when hosting"
Hello! I have been working on a project that uses Postwoman, and while working local, using the proxy works fine. However, when hosting, i am unable to use the proxy. I get this notorious error:

```Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at https://postwoman.apollosoftware.xyz/. (Reason: CORS header ‘Access-Control-Allow-Origin’ missing).```

[2020-03-26 00:39] liyasthomas commented on #707
Proxy mode is only available for Official https://postwoman.io domain. You'll have to host your own server for proxy.

[2020-03-26 00:39] #707 closed

[2020-03-26 00:42] liyasthomas commented on #706
You can label a request. To distinguish multiple requests, please consider assigning relevant name to requests and collections.

[2020-03-26 00:42] #706 closed

[2020-03-26 02:02] CodeMokee opened #708 "Postwoman raiase a connection error when communicate with localhost."
**Description**
Console print an "net::ERR_CONNECTION_REFUSED" when I try to access my nginx welcome page on my localhost.  But the interface work nomarly request by chrome or postman.

**Reproduce**
Steps to reproduce the behavior:
1. Start nginx service on my local env, and welcome page could be access by chrome and postman. url: http://localhost:80
Get the welcome page:
![image](https://user-im

[2020-03-26 02:23] #643 closed

[2020-03-26 02:27] liyasthomas commented on #708
https://github.com/liyasthomas/postwoman/issues/704#issuecomment-603219828

[2020-03-26 02:27] #708 closed

[2020-03-26 09:35] DrakeXiang opened #709 "Theme lacks of contrast"
All the themes has low color contrast, makes it hard to see input fields, even on my mac laptop screen, it feels tired to just look at the UI.

[2020-03-26 10:36] #709 closed

[2020-03-26 10:38] liyasthomas commented on #709
Do share you experience on updated theme colors.

[2020-03-27 02:08] DrakeXiang commented on #709
Much better! Thanks!

[2020-03-27 12:11] cn-src opened #714 "Provide post-build resources and default setting files"
1. Provide pure static resources to facilitate rapid deployment.
2. Provide a settings file to initialize the default settings. such as: settings.json
3. Support import from with url.

[2020-03-27 12:18] liyasthomas commented on #714
1. Please go through the README.md to view how to [develop](https://github.com/liyasthomas/postwoman/blob/master/README.md#developing-) and [build](https://github.com/liyasthomas/postwoman/blob/master/README.md#releasing-%EF%B8%8F) the project.
2. As of now, there's no strictly dependent environment variables. Feel free to edit `nuxt.config.js` for global variables and environment variables
3. (I

[2020-03-27 12:30] cn-src commented on #714
1. If there are pure static resources, it is convenient to deploy postwoman offline for people who are not familiar with node.js technology.

2. "settings" refers to the postwoman's ui settings.A default settings.json file can change the default appearance during pure static deployment.

3. "Import from with URL",  "Postwoman -> Collections -> Import " function.

Forgive me for bad english.

[2020-03-27 12:38] cn-src commented on #714
Because postwoman only needs pure static resources to deploy, I want to package it into a jar file, just like "webjars". It can be easily integrated with java web projects.

[2020-03-27 13:12] liyasthomas commented on #714
Will think about this and add to our roadmap. Feel free to contribute 🙌

[2020-03-27 13:39] Slaviusz commented on #704
Can we reopen this? I have the same issue, with/without the extension. I cannot open any connection to localhost.

[2020-03-27 13:40] liyasthomas commented on #704
@AndrewBastin

[2020-03-27 13:45] Slaviusz commented on #704
Thanks.
Basically, my symptoms are exactly the same. Trying to call rest API endpoint on localhost results in :

`Access to XMLHttpRequest at 'http://127.0.0.1:9000/api/auth/login' from origin 'http://localhost:3000' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

I tri

[2020-03-27 13:49] liyasthomas commented on #704
Please check these hotfixes:
1. Check you've installed the latest version of browser extension. Kindly go through the extension's link (in readme) and verify the installed version number.
2. Check Postwoman is allowed to use extensions. Navigate to Settings > Extensions section. Make sure "Use extension" toggle switch is turned on.
3. Check endpoints don't have CROS restrictions.

[2020-03-27 14:32] Slaviusz commented on #704
1. compiled Postwoman 30 minutes ago from latest git commit. Installed the extension 15 minutes ago from official link provided within Postwoman. The version reported is 0.5. I also tried manual update in browser's extensions config page.
2. Extension is allowed, active and configured with access to URLs and in Incognito.
3. CORS is NOT enabled on this app (I'm the developer)

However when I expli

[2020-03-27 15:00] liyasthomas commented on #704
If that's the case, we'll have to look further into it. Huge thanks for the debugging and reporting the issue.

[2020-03-27 15:01] Slaviusz commented on #704
You're welcome. Thanks for having a look.

[2020-03-27 16:16] AndrewBastin commented on #704
Hi there,

Sorry for the late response, I am really swamped with personal stuff and end of the semester university work.

Due to security concerns of allowing open access to the extension hooks, the Postwoman Extension only hooks into the following domains

[code]

If you are using localhost, you will need to make your own build of the extension (more info on that [here](https://github.com/AndrewB

[2020-03-27 16:21] #704 closed

[2020-03-27 17:33] dmitryyankowski commented on #714
If only we used NextJS instead of Nuxt 😅

[2020-03-27 17:36] dmitryyankowski commented on #699
We should really consider deploying our own proxy to either Netlify or Cloudflare Workers. We've had alot of issues thus far with proxy stuff 🤔

[2020-03-28 00:42] liyasthomas commented on #714
Oh! I guess there's such a `settings.json` on NextJS right? Sounds exciting. I'll look into it and see if there's any available implementations

[2020-03-29 03:52] liyasthomas commented on #392
@HobaiRiku can you test the client certificate feature?
steps:
1. visit: https://deploy-preview-720--postwoman.netlify.com/
2. choose method: `post`
3. upload `.pem` certificate by clicking "Certs" icon right next to "Raw input" toggle

![image](https://user-images.githubusercontent.com/10395817/77839862-687cc400-719e-11ea-9258-f729db148401.png)
4. send request

and see if it works.

[2020-03-29 03:55] HobaiRiku commented on #392
<div></div><div>@HobaiRiku can you test the client certificate feature?
<br/>steps:
<br/>1. visit: https://deploy-preview-720--postwoman.netlify.com/
<br/>2. choose method: `post`
<br/>3. upload `.pem` certificate by clicking "Certs" icon right next to "Raw input" toggle
<br/>
<br/>![image](https://user-images.githubusercontent.com/10395817/77839862-687cc400-719e-11ea-9258-f729db148401.png)
<br/>4

[2020-03-29 04:34] HobaiRiku commented on #392
I have tested using the chinanet IoT platform's key and cert, but the chrome show `ERR_CERT_COMMON_NAME_INVALID` error.
In postman, the key and cert can be set  like this :
![image](https://user-images.githubusercontent.com/26238803/77840339-f2d22180-71b8-11ea-89bb-85144db06cda.png)
so, I convert them to a *.pem file and upload it to postwomen's cert file.
By the way, It needs to skip the verifica

[2020-03-30 14:21] JanoschDeurer opened #722 "Add docker Images for all Tags"
**Is your feature request related to a problem? Please describe.**
I try to always use version pinning in docker-compose for all docker images. This ensures that when a problem occurs I can go back by playing back my backup.

**Describe the solution you'd like**
It would be great to have docker tags for all the git tags.

[2020-03-30 15:28] liyasthomas commented on #722
@JanoschDeurer I'm a noob at docker stuffs. Can you help me resolve this issue?

[2020-03-30 16:15] JanoschDeurer commented on #722
Yes, gladly, actually Dockerhub has a rather nice integration for this. If you click on your Docker repository and then on the `Builds` tab you can click on `Configure Automated Builds`. In the section for Build Rules you can configure additional rules. In your case the rule would be:

- Source Type: `Tag`
- Source: `/^v[0-9.]+$/`
- Docker Tag: `{sourceref}`
- Dockerfile location: `Dockerfile`
- B

[2020-03-31 00:57] liyasthomas commented on #722
Done! Thanks for the help.

[2020-03-31 00:57] #722 closed

[2020-03-31 15:59] JanoschDeurer commented on #722
Nice, thanks :) If you ever need any other help with Docker just let me know.

[2020-04-02 00:36] liyasthomas commented on #714
I afraid default settings file is not supported by Nuxt.
For static build files, kindly follow instructions in README.
Importing Collections from URL has been added to future development road map.

[2020-04-02 00:36] #714 closed

[2020-04-02 00:40] liyasthomas commented on #313
Closing due to inactivity.
VS code extension for PW is not in development road map.

[2020-04-02 00:40] #313 closed

[2020-04-03 05:34] aashutoshrathi opened #731 "Getting cannot read value of undefined"
**Describe the bug**
All my request imported from cURL are getting this error
![image](https://user-images.githubusercontent.com/21199234/78327482-9dbc5400-759a-11ea-912f-484d2fbcd12f.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Click on import from cURL
2. import a get curl
3. send request
4. See error

**Expected behavior**
The request should be sent as the curl is valid.

**Screen

[2020-04-03 05:37] liyasthomas commented on #731
@aashutoshrathi Can you please share the masked cURL to reproduce the bug at our side.

[2020-04-03 06:16] aashutoshrathi commented on #731
Sure.
[code]

Also, @liyasthomas I tried on Chrome as well as PWA.

[2020-04-03 06:59] liyasthomas commented on #731
Make sure you've installed Browser Extension to access `localhost` endpoints.

[2020-04-03 12:58] aashutoshrathi commented on #731
Yeah. It worked.

[2020-04-03 14:33] AndrewBastin commented on #731
@liyasthomas even if this is a browser extension issue, the app shouldn't be doing that.

Definitely a bug.

[2020-04-03 14:45] liyasthomas commented on #731
@AndrewBastin yes, you're right. reopening issue to track it.

[2020-04-03 14:47] liyasthomas commented on #731
@aashutoshrathi can you please explain in which instance/action you had the mentioned console errors as in the screenshot.

[2020-04-04 05:56] aashutoshrathi commented on #731
The cURL above was not working, but some other cURL worked later.
Also, the import isn't working properly for me, the URL doesn't change for some reason.

![2020-04-04 11 24 49](https://user-images.githubusercontent.com/21199234/78419831-2274a400-7667-11ea-86e3-06b38f5a3d06.gif)

[2020-04-04 14:41] gugacavalieri opened #737 "Broken link to translations branch"
**Describe the bug**
* The link to the translations branch is broken on Readme
* Is there still a translations branch? How can people contribute with translations?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://github.com/liyasthomas/postwoman/blob/master/README.md](https://github.com/liyasthomas/postwoman/blob/master/README.md)
2. Click on the link that says: **All i18n cont

[2020-04-04 14:44] liyasthomas commented on #737
Hi there, sorry for the broken link. Fixed it.

[2020-04-04 14:44] #737 closed

[2020-04-04 14:46] gugacavalieri commented on #737
Thanks @liyasthomas ! :+1:

[2020-04-04 15:22] liyasthomas commented on #737
Not protected at all. Can't you make the PR?

[2020-04-04 15:25] gugacavalieri commented on #737
actually you can do it only if you are one of the `admins` of the repo by going to `Settings > Branches`.

Here is the full guide:
[https://help.github.com/en/enterprise/2.15/admin/developer-workflow/configuring-protected-branches-and-required-status-checks](https://help.github.com/en/enterprise/2.15/admin/developer-workflow/configuring-protected-branches-and-required-status-checks)

:smile:

[2020-04-04 15:26] liyasthomas commented on #737
yes it is. You can make the PR to `i18n` branch.

[2020-04-04 15:26] gugacavalieri commented on #737
ah, cool! I will try then! Thanks @liyasthomas :+1:

[2020-04-05 15:46] danilofuchs opened #741 "Add GraphQL syntax highlighting"
**Is your feature request related to a problem? Please describe.**

GraphQL view does not have any syntax highlighting on queries

![image](https://user-images.githubusercontent.com/17657014/78503032-8f0ca300-773a-11ea-9d0a-cfe0161432a3.png)

**Describe the solution you'd like**

Something like GraphiQL or other editors have

![image](https://user-images.githubusercontent.com/17657014/78503095-e3b

[2020-04-05 15:59] danilofuchs opened #742 "Improve documentation on how to use environments"
**Is your feature request related to a problem? Please describe.**

Immediately after opening Postwoman and adding Environments, it is not clear how I should reference them in my requests.

Can I use `{{ variable_name }}`?

**Describe the solution you'd like**

Postman has [great documentation about it](https://learning.postman.com/docs/postman/variables-and-environments/variables/).

I think the

[2020-04-05 16:03] liyasthomas commented on #742
Sorry for the incomplete Wiki. We're working on it.
By the way, here's the Wiki regarding Pre-request scripts and environments: https://github.com/liyasthomas/postwoman/wiki/Pre-Request-Scripts
 This link is visible on pre-request script section.

Feel free to contribute to Wiki if you find any issues.

[2020-04-05 16:03] #742 closed

[2020-04-07 14:57] AFRI4N opened #746 "Add compatibility for postman collections & environments"
**Is your feature request related to a problem? Please describe.**
My team is working with postman. Therefore, I have to work with collections and environment variables that are created and optimized for postman. However, to use them in postwoman I have to replace `{{variable}}` to `<<variable>>` for postwoman as well as it dosn't set the requestUrls correct. For example the requestUrl `{{variable

[2020-04-10 03:20] se7en-eeen opened #749 "click install not reponse. can't install pwa."
OS: win10 1909 18363.720
Browser chrome 81.0.4044.92

[2020-04-10 05:23] flystarfly opened #750 "I used it to post test,but response network error"
![image](https://user-images.githubusercontent.com/20432934/78964965-3ff5b200-7b2e-11ea-90ba-c2c0b5659721.png)
![image](https://user-images.githubusercontent.com/20432934/78964977-4a17b080-7b2e-11ea-9da8-fa4e7f949dbe.png)
I use same way in postman to test api, and it worked. but I try to send request by postwoman. it reponsed newwork error! why

[2020-04-10 05:25] liyasthomas commented on #750
To test endpoints in `localhost`, install browser extension. Links can be found in readme.

[2020-04-10 05:25] #750 closed

[2020-04-10 05:41] bee22193 opened #751 "GO to"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-10 05:42] #751 closed

[2020-04-10 05:44] flystarfly commented on #750
I hava  installed,browser extension,andI also open use the browser extension in Settings. but it's response network error too.

[2020-04-10 13:36] bilencekic opened #752 "Request headers kept same after changing request type"
**Describe the bug**
I have 2 request get and post. GET is using X-CSRF-TOKEN =  FETCH parameter to get token from server and POST is using X-CSRF-TOKEN = <TOKEN_VALUE> .
Due to header values kept same, i can't have GET and POST with different parameters, i need to change manually everytime.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to URL bar and simply call a GET request with a cu

[2020-04-10 17:17] bee22193 opened #753 "Report abuse: liyasthomas/postwoman (Contact Links)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-10 17:17] #753 closed

[2020-04-10 17:18] bee22193 opened #754 "Report abuse: liyasthomas/postwoman (Contact Links)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-10 17:19] bee22193 commented on #751
Report abuse: liyasthomas/postwoman (Contact Links)

[2020-04-10 17:20] liyasthomas commented on #754
Feel free to contact me via email: liyascthomas@gmail.com

[2020-04-10 17:20] #754 closed

[2020-04-10 17:36] liyasthomas commented on #749
I couldn't reproduce the issue.
Please try again once again.

[2020-04-10 17:37] #749 closed

[2020-04-10 21:36] Moshe-Dror commented on #524
I was not able to import my postman collection/ env. from json . can you please assist?

[2020-04-10 22:40] AdityaAnand1 commented on #524
@Moshe-Dror I don't think this is supported yet.

@liyasthomas How about adding environment support (along with importing postman environment files)? 😁 💪 🚀

[2020-04-11 01:03] liyasthomas commented on #524
Postwoman now supports importing Postman Collections v2.1.0 abd above.

Navigate to Collection tab on right side bar.
Click "Import/Export"
Click "Import from JSON"
Select any collection.json file

[2020-04-11 04:30] AndrewBastin commented on #741
Ace Editor (which powers Postwoman's code editors) doesn't come with a graphql query highlighting mode, hence the query editor just used the json mode to get as much similar editor characteristics down as possible.

I am looking into implementing a editor mode for it myself.

Thanks for opening the issue  ^_^

[2020-04-11 10:10] AdityaAnand1 opened #759 "Allow importing environment variables via Postman environment json files"

[2020-04-11 13:12] yoav-lavi opened #760 "Mobile responsiveness issues"
- On iPhone XS Max both on Safari and the PWA, the notes button and the end of the history view are outside the viewport width, expanding the view and adding horizontal scroll. See [here](https://imgur.com/F18xrhR)

[2020-04-11 14:00] liyasthomas commented on #760
Thanks for reporting the issue. Will look into it ASAP.

[2020-04-11 14:01] heavenkiller2018 opened #761 "why does the graphql case can't be saved?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-11 17:20] yoav-lavi opened #762 "The accordion (expand) labels are out of place on mobile"
Device: iPhone XS max
See "Request" label [here](https://imgur.com/W5WYXg1)

[2020-04-11 17:28] #762 closed

[2020-04-12 05:37] Moshe-Dror commented on #524
Hi again, I tried the steps you provided but still nothing was added.. Kind Regards, Moshe DrorQA LeadTestProject.io   From: Liyas ThomasSent: Saturday, 11 April 2020 4:03To: liyasthomas/postwomanCc: Moshe-Dror; MentionSubject: Re: [liyasthomas/postwoman] Allow importing Postman collections (#524) Postwoman now supports importing Postman Collections v2.1.0 abd above.Navigate to Collection tab on r

[2020-04-12 17:31] rdhar opened #763 "Request : Copy response headers"
**Is your feature request related to a problem? Please describe.**
Honestly, not really a problem as much as an improvement suggestion. Love this project and the ease-of-use brought about by it!

**Describe the solution you'd like**
Often, I compare response headers of different requests. Despite the clear display of headers information, there's no way to select all of the data together, let alone

[2020-04-12 17:41] liyasthomas commented on #763
There's already a "copy response" button that lets you to copy the entire response to clipboard, alog with download as `JSON`. If you insist, we can add a seperate _copy button for headers_ even though it doesn't seems like an enhancement.

![Screenshot_20200412-230709](https://user-images.githubusercontent.com/10395817/79075851-e8fd0200-7d12-11ea-9096-0ac540649abd.png)

[2020-04-12 17:55] rdhar commented on #763
Thanks so much for your prompt response, @liyasthomas, I really appreciate it!

That's pretty curious because I don't seem have any of the headers available within the response panel, otherwise this would be complete non-issue. Could this be an API specific thing? For reference, I'm using [PagerDuty API](https://developer.pagerduty.com/api-reference/) and this is what I see:

![image](https://user

[2020-04-12 17:58] liyasthomas commented on #763
can you share the endpoint without creds/token so that I could reproduce the issue at my end?

[2020-04-12 18:07] rdhar commented on #763
Certainly, I should've shared it earlier: [LINK](https://postwoman.io/?method=GET&url=https://api.pagerduty.com&path=/incidents&headers=%5B%7B%22key%22:%22Accept%22,%22value%22:%22application/vnd.pagerduty+json;version=2%22%7D,%7B%22key%22:%22Authorization%22,%22value%22:%22Token%20token=obfuscated%22%7D,%7B%22key%22:%22%22,%22value%22:%22%22%7D%5D).

The accompanying cURL looks like:
[code]

Than

[2020-04-12 18:26] liyasthomas commented on #763
Let me look into it. The response data surely plays an important role on how headers and other response fields are displayed. I'll update once I figure out a way to tackle this issue.

[2020-04-12 18:56] rdhar commented on #763
Sounds good, just glad I hadn't overlooked a button that does this already!

It is kinda curious that the response headers are [clearly found and parsed by Postwoman](https://postwoman.io/?method=GET&url=https%3A%2F%2Fapi.newrelic.com&path=%2Fv2%2Falerts_events.json&headers=%5B%7B%22key%22%3A%22Accept%22,%22value%22%3A%22application%2Fjson%22%7D,%7B%22key%22%3A%22X-Api-Key%22,%22value%22%3A%22obfu

[2020-04-13 00:00] lastlink opened #764 "text.match is not a function"
**Describe the bug**
Similar error to https://stackoverflow.com/questions/59061937/postwoman-api-tester-response-is-always-empty.
I keep getting a 500 text.match is not a function when I run a get api request

[2020-04-13 00:50] liyasthomas commented on #764
Please share the steps to reproduce the issue

[2020-04-13 00:59] liyasthomas commented on #91
Closing due to inactivity

[2020-04-13 00:59] #91 closed

[2020-04-13 01:00] liyasthomas commented on #234
Closing due to inactivity

[2020-04-13 01:00] #234 closed

[2020-04-13 01:02] liyasthomas commented on #384
Closing due to inactivity

[2020-04-13 01:02] #384 closed

[2020-04-13 01:07] liyasthomas commented on #752
The current state is preserved for easy reference to request configuration. Please manually save the `GET` and `POST` request once and click the saved request to restore it.

[2020-04-13 01:07] #752 closed

[2020-04-13 01:09] liyasthomas commented on #746
Duplicate of #759

[2020-04-13 01:09] #746 closed

[2020-04-13 01:11] bilencekic commented on #752
Sorry i think my bad. After saving parameters, i noticed parameters were kept same but it was a glitch i think. I can save request with different header parameters now (somehow strange).
Thanks

[2020-04-13 04:57] vadistic opened #765 "Empty header in headers list results in SyntaxError: Failed to execute 'setRequestHeader'"
**Describe the bug**
When the empty header is present in headers list in graphql tab any call results in syntaxt error.

[code]

[code]

**To Reproduce**
1. Go to https://postwoman.io/graphql
2. Add some valid query + header (eg. Authorization)
3. Click "Add new" to add empty header
4. Smash green execute button
5. See error

**Expected behavior**
I would expect empty headers to be ignored.

I thi

[2020-04-13 09:13] nainardev opened #766 "Body scroll after modal is open"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. In mobile
2. Click 3 dots menu
3. Click Shortcuts
4. Now body is scrollable after the modal is open

**Expected behavior**
Scroll should be locked

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inform

[2020-04-13 09:17] liyasthomas commented on #766
Scroll on "modal opened state" is a good thing.
Allows you to check data on body without closing modal.

[2020-04-13 09:17] #766 closed

[2020-04-13 09:20] nainardev commented on #766
Upgrading to vue 3 soon or after its stable release?

[2020-04-13 09:21] liyasthomas commented on #766
Hahaha. Only after stable release. And only if it's possible. All our codebase is spaghetti sauce 🤣

[2020-04-13 09:28] nainardev commented on #766
Off topic but are to using a ui framework, the design is ❤️

[2020-04-13 14:44] liyasthomas commented on #766
No UI frameworks used. Each styles are written by ne ✌️

[2020-04-13 16:09] aashutoshrathi opened #767 "Add Format Body option"
**Is your feature request related to a problem? Please describe.**
Generally, the imported cURLs have a body, but the body (mostly in JSON) is not formatted, there should a single button to format the body so that it can be edited easily further.

**Describe the solution you'd like**
I think there should be one button inside the body input box, which onClick prettify body.

**Additional context**

[2020-04-13 23:17] dmitryyankowski commented on #761
@heavenkiller2018 the issue template is there for a reason. Can you please elaborate on your question?

[2020-04-14 07:53] yoav-lavi commented on #760
I'm seeing that the accordion buttons look the same on desktop so that specifically is probably not an issue

[2020-04-14 13:36] flystarfly opened #770 "I have question by #750, it's closed,but my problem is still...."
I hava installed,browser extension,andI also open use the browser extension in Settings. but it's response network error too.

[2020-04-14 13:40] liyasthomas commented on #770
Already there's lot of duplicate issues, please track the issue on #750.

Please tell steps to reproduce issue on #750.

[2020-04-14 13:40] #770 closed

[2020-04-15 01:28] car520120 commented on #580
request non ajax url is ok?  Submit url to get results? For example get url: http://www.yandex.com

[2020-04-16 00:20] danilofuchs commented on #741
Maybe these help:
https://github.com/ajaxorg/ace/blob/master/lib/ace/mode/graphqlschema.js
https://github.com/ajaxorg/ace/blob/master/lib/ace/mode/graphqlschema_highlight_rules.js

[2020-04-16 21:55] skar404 opened #780 "You send data my request to Google"
You send data my request to Google

Is correct  work?

<img width="1680" alt="Screenshot 2020-04-17 at 00 50 33" src="https://user-images.githubusercontent.com/8483941/79510346-e3baf280-8045-11ea-8778-0ffe02d64d9c.png">

[code]

OS: Firefox

[2020-04-17 02:33] liyasthomas commented on #780
For those enable "sync" feature (only for signed in users), following fields are saved to Firestore database:
- History
- Collections
- Environments
- Notes

Each of these can be toggled on/off from setting > account.
Read, write access is only allowed for authenticated users.

[2020-04-17 02:33] #780 closed

[2020-04-17 14:10] frankli0324 commented on #175
need help？

[2020-04-17 14:12] liyasthomas commented on #175
@frankli0324 we would love to have this feature implemented. do contribute.

[2020-04-18 16:46] frankli0324 commented on #175
will take a look next week... got some schedules this weekend

[2020-04-18 23:38] Pau1fitz opened #786 "Unresolved merge conflict in index.vue.orig"
https://github.com/liyasthomas/postwoman/blob/05cd1fd0a830d47f5b1b534ccd276bdaea1ca1b2/pages/index.vue.orig#L40

It was added as part of this [PR](https://github.com/liyasthomas/postwoman/pull/603).

[2020-04-18 23:51] #760 closed

[2020-04-18 23:53] liyasthomas commented on #786
Thanks for noticing the issue. Actually that file is stale now. Will delete innext commit.

[2020-04-18 23:53] #786 closed

[2020-04-19 00:01] #699 closed

[2020-04-19 00:21] liyasthomas commented on #763
seperate copy button for headers are not required.

[2020-04-19 00:21] #763 closed

[2020-04-19 00:21] liyasthomas commented on #764
Closing due to inactivity.

[2020-04-19 00:21] #764 closed

[2020-04-19 00:22] liyasthomas commented on #761
Closing due to inactivity.

[2020-04-19 00:22] #761 closed

[2020-04-20 03:29] interfacekun commented on #175
Not done yet?

[2020-04-20 10:16] yp199618 opened #792 "I cant login"
I cant login

[2020-04-20 10:18] yp199618 commented on #792
What should I do? I want to login and save my api

[2020-04-20 11:23] liyasthomas commented on #792
@yp199618  Please use the issue template.

[2020-04-20 11:48] liyasthomas commented on #792
Please refer to #607 and #661

[2020-04-20 11:48] #792 closed

[2020-04-20 12:52] MarcelPa opened #793 "Set Custom OAuth Provider to the Postwoman App"
**Is your feature request related to a problem? Please describe.**
Logging in to postwoman is currently possible with GitHub and Google. While this is perfectly suitable for a public instance such as postwoman.io, on a "private" instance, supplying other OAuth2 Identity Providers would be cool.

**Describe the solution you'd like**
Allowing me to set custom OAuth2 providers in a config or somethin

[2020-04-20 13:35] kobeumut opened #794 "How can I synchronize my data on local?"
**Describe the bug**
Using local, with cookies available, postwoman can't log me using Github connection method.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the key icon top right
2. Click on it to deploy connections methods
3. Click on Github
4. The popup opens and closes itself instantly, without get any connection

**Expected behavior**
Open github or google auth window

**Deskt

[2020-04-20 14:01] liyasthomas commented on #794
sync with Firebase on local development is disabled intentionally to minimise unwanted write / read to Firestore, we're currently operating on free plan :)

When signed out on web app, we sync with `localstorage` and once user signs in, we syncs with Firebase.
In local development, only sync with `localstorage`is available. As we grow further, we'll consider allowing Auth on local development. Tha

[2020-04-20 14:01] #794 closed

[2020-04-20 14:07] liyasthomas commented on #793
Postwoman is written in Javascript.

Currently we use [Firebase Auth](https://firebase.google.com/docs/auth) for authentication. As of now, we've implemented Google and GitHub sign in. Many other providers are available including OAuth.

Kindly checkout Firebase [config file](https://github.com/liyasthomas/postwoman/blob/master/functions/fb.js) and play with it.

[2020-04-20 14:12] MarcelPa commented on #793
Obviously, I mixed that up with the proxy server. My bad :see_no_evil:

Thanks for the hint, will do! I guess this requires me to set up a firebase project and configure our custom OAuth provider in it. But I'll see where I land messing around with `fb.js`.

[2020-04-20 17:38] konradkalemba commented on #611
Hey @moonrailgun, great work with adding socket.io support. One thing I noticed is the lack of ability to listen to all events, not only `message`.

I believe [this package](https://github.com/hden/socketio-wildcard) can solve the problem.

[2020-04-20 18:52] konradkalemba commented on #611
I went ahead and created a PR which resolves the problem. Any feedback is welcome.

[2020-04-20 20:14] konradkalemba opened #796 "Ability to join and leave rooms in Socket.IO connection"
**Is your feature request related to a problem? Please describe.**
Current implementation doesn't support [rooms feature](https://socket.io/docs/rooms-and-namespaces) of socket.io, which creates a problem when your server uses it and therefore you won't be able see any events sent in rooms.

**Describe the solution you'd like**
The ideal solution would be adding an ability to join and leave rooms

[2020-04-21 06:55] levrik commented on #741
@AndrewBastin @liyasthomas I just wonder if integrating https://github.com/microsoft/monaco-editor, the editor component that powers VS Code, would be also an idea. I think it has by far better support for stuff like this. If this sounds interesting to you, I'm also willing to work on a PR and/or do some research on this.

[2020-04-21 13:25] AndrewBastin commented on #741
@levrik Yes, I have indeed thought about Monaco. We could get it implemented, which is fine, but the problem is that Monaco doesn't work on mobile devices. Which I am not really sure about with going through with.

[2020-04-21 15:21] konradkalemba commented on #796
Never mind. I just realized that rooms feature is completely server-side and there is no way to join them from client. Therefore the feature I proposed cannot be implemented. My bad!

[Reference](https://stackoverflow.com/questions/40367765/joining-socket-io-room-on-connect/40367826#40367826)

[2020-04-21 15:21] #796 closed

[2020-04-22 06:47] xiaobaxiang opened #801 "socket binnery support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I can't send binary protocol packets in realtime

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternati

[2020-04-22 11:36] liyasthomas commented on #801
As of now, transfering binaries on websocket is not implemented, stay tuned to future updates.

[2020-04-22 11:36] #801 closed

[2020-04-23 05:48] yp199618 commented on #792
thanks. It is the problem of my network in chia. I find information in the console.
how can we login?
[code]

[2020-04-23 05:53] liyasthomas commented on #792
`ERR_PROXY_CONNECTION_FAILED` is a browser-based error, which can occur on any Windows OS version when there are some problems with proxy settings.

Proxy server is a medium that connects the home network or IP with the online service / external sites.

Proxy does not create a direct connection to the Internet but rather establishes a connection through several servers and, therefore, disguise peo

[2020-04-23 05:57] yp199618 commented on #792
It is chinese government firewall. We can connect with google.We often login whit QQ or WeChat

[2020-04-23 06:57] liyasthomas commented on #792
We've login with GitHub. Use that.

[2020-04-23 14:23] funcfoo opened #805 "support response json array"
**Describe the bug**
![](https://i.imgur.com/dN126Sg.png)
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'response'
2. If response is JSON array
3. See error

**Expected behavior**
support JSON array

**Desktop (please complete the following information):**
 - OS: OSX10.15.4
 - Browser: Chrome81.0.4044.113

[2020-04-23 14:32] liyasthomas commented on #805
Please use the issue template for god's sake.
Can you at least provide a test endpoint so that we could replicate issue at our end.

[2020-04-23 15:22] funcfoo commented on #805
sorry about that.

To Reproduce
Steps to reproduce the behavior:
1. import this curl:
[code]
2. Go to 'response'
3. See error

[2020-04-24 01:18] tonycody opened #810 "feature"
Support for LAN deployment and support for multiple collaborative management would be perfect, similar to hitchhiker

[2020-04-24 01:24] tonycody opened #811 "Call local support"
Calling local api is too much trouble

[2020-04-24 01:26] tonycody commented on #690
It is recommended to refer to hitchhiker
https://github.com/brookshi/Hitchhiker

[2020-04-24 01:29] tonycody commented on #580
https://github.com/brookshi/Hitchhiker

Teamwork
Personally feel the best, the postman environment does not distinguish between collections

[2020-04-24 01:37] liyasthomas commented on #811
Use browser extensiion

[2020-04-24 01:37] #811 closed

[2020-04-24 01:39] liyasthomas commented on #810
Not in roadmap.

[2020-04-24 01:39] #810 closed

[2020-04-25 16:18] IamIpanda opened #812 "How to run postwoman under reverse proxy"
1. As a service, I hope to run postwoman under https. I use nginx to make https work, what should I set except proxy_pass?
2. Is it possible to run postwoman under subdomain like /postwoman? I found env TRAVIS_REPO_SLUG && DEPLOY_ENV in code, but that is obviously not an official parameter.

[2020-04-25 16:34] liyasthomas commented on #812
1. `HTTPS` support is given out of the box. Please host the build directory `dist` to any protocol you want.
2. The current build process make use of environment variables in build config to host in subdomain. For ex: `TRAVIS_REPO_SLUG` is used to host PW in GitHub pages which is available in `your_username.github.io/postwoman`.

[2020-04-25 16:34] #812 closed

[2020-04-26 04:32] shtakai commented on #805
Hello. :sushi:

The type it seems `{}` as `Object` by `this.response.body.constructor.name`.
But in this case, it seems `[]` as `Array` by  `this.response.body.constructor.name`.

I tried changing `lang` on Editor component's prop.
- `json` => displays error `x`.
- `json5` => displays no errors.

So I modified by using `json5` when the response body is `Array`.
(`json` when is is `Object`)

![Scre

[2020-04-26 04:54] #805 closed

[2020-04-26 10:13] #765 closed

[2020-04-27 01:51] Noorullah-Ahmadzai opened #815 "Body in Request"
There is no way I could manage to send a body attached to the request for testing RESTFUL API.
If I want to login, I need to submit an email and password in request body in a Post Request.

[2020-04-27 03:23] liyasthomas commented on #815
1. select method type post
2. either choose key-value pair/raw json or formData
3. send request

![pw](https://user-images.githubusercontent.com/10395817/80330871-0e862180-8864-11ea-89ef-b5fd3f8982b9.png)

[2020-04-27 03:23] #815 closed

[2020-04-28 05:45] frankli0324 commented on #175
what I've done so far:

I tried to create a single nginx server configuration for everyone who wants to build up their own proxy server:
[code]

and made a little change
[code]

still trying to adopt the original version of http proxy server so we could use a single proxy for both types of requests

[2020-04-28 06:22] frankli0324 commented on #175
demo： https://proxy.frankli.site

[2020-04-28 09:52] YongShuaiJi opened #817 "Docker Cannot log in normally in the container"
Started a container, and then logged in with GitHub or Google, it was terminated and logged out, and the login failed

[2020-04-28 09:56] liyasthomas commented on #817
Auth + Sync is only restricted on URLs other than official postwoman.io. Kindly create your own Firebase instance to enable Sign-in feature in container.

[2020-04-28 09:56] #817 closed

[2020-04-28 17:35] jahirfiquitiva opened #818 "Add an option to hide and/or collapse the right panel"
Hello

I'm enjoying postwoman so far, but I don't find the right panel (`History | Collections | Environments | Notes`) necessary to be shown all the time, so I wanted to ask for an option to hide, collapse it, or maybe even move it to the left menu maybe

Thanks in advance

[2020-04-28 17:41] jahirfiquitiva opened #819 "Improve contrast of UI components in all themes"
Hello

I'm having a hard time trying to pick a theme because none of them is easy enough for me.

It's hard for me to differentiate between background, container and field colors, because they almost look the same for me.

I'd appreciate if you improved that or added some borders or something that could help differentiate them.

Thanks in advance

[2020-04-28 17:43] jahirfiquitiva commented on #818
Another option would be moving `Authentication | Headers | Parameters` to the right side

[2020-04-28 23:55] liyasthomas commented on #818
sorry for the clutter in the current design. As of now, the right sidebar contains secondary actions and main view contains primary actions.

Let's see if anybody else raise you concerns.  Then we'll act on it.

[2020-04-28 23:55] #818 closed

[2020-04-29 00:01] liyasthomas commented on #819
The current themes are revised by the community over the past few months for better readability - but we're open for suggestions. Kindly go through https://github.com/liyasthomas/postwoman/blob/master/assets/css/themes.scss and perhaps contribute a PR to fix current issues you're having regarding the contrast?

since this is not an issue regarding the core functionalities - I'm closing it.

[2020-04-29 00:01] #819 closed

[2020-04-29 14:13] ragouel opened #824 "Postwoman won't build, produces 'FATAL Nuxt build error'"
Postwoman fails to build.

**To Reproduce**
1. Download [1.9.5](https://github.com/liyasthomas/postwoman/archive/v1.9.5.tar.gz)
2. extract, cd into and execute:

  `npm install --cache "path-to-/npm-cache"`
  `npm run build --cache "path-to/npm-cache" `

 - OS: Arch Linux 4.20.13-arch1-1-ARCH
 - npm version 6.5.0
- nodejs version 14.0.0
 - Version 1.9.5

 <pre><code>ERROR in ./.nuxt/client.js
Modu

[2020-04-29 14:32] liyasthomas commented on #824
PW being a spa, please use `nuxt generate` or `npm run generate` to build web app.

[2020-04-29 14:32] #824 closed

[2020-04-29 14:45] ragouel commented on #824
Fails with the same error.

[2020-04-29 15:04] liyasthomas commented on #824
I can't reproduce the issue here at my end. Kindly follow the below steps:
1. Download and extract repo
2. `npm i`
3. `npm run generate`

[2020-04-29 21:07] mrchief opened #825 "The UI could use some improvements"
**Is your feature request related to a problem? Please describe.**

- It is very hard to find anything in the UI because of the layout and color combination. Everything looks kinda the same.
- The response area doesn't need to be laid out linearly - it eats up real estate and forces a scroll to see the response

![image](https://user-images.githubusercontent.com/781818/80646684-311e6300-8a3b-11ea-

[2020-04-29 23:55] liyasthomas commented on #825
fyi, PW passes accessibility test by Lighthouse. Hope this settles the readability of the color contrast. However, you can switch themes from settings > themes to choose one that looks good in your monitor.

![image](https://user-images.githubusercontent.com/10395817/80657735-0f0bfb80-8aa2-11ea-9dd3-4e3b1bc98b1b.png)

Will work on tweaking the response area to optimise long scrolling issues 👍

[2020-04-30 00:08] #825 closed

[2020-04-30 02:05] DGKSK8LIFE opened #826 "'Documentation Generated' response stacking past top of page if submit clicked enough times/fast enough"
**Describe the bug**
On the `/doc` route, if one clicks on generate documentation fast enough, the response oval shaped "tab" can stack almost infinitely, and clears over time; ie: there is no limit to how much it can stack.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/doc`
2. Click on 'Generate Documentation` rapidly with an empty array in import collections
3. Response "tabs" wi

[2020-04-30 02:32] #826 closed

[2020-04-30 02:32] liyasthomas commented on #826
Quick fix: Don't do that

[2020-04-30 02:55] bloodzer0 opened #827 "Error: Network Error. Check console for details."
I use docker to deploy postman, and there is an error in requesting https://www.baidu.com. I confirm that my docker can access the domain name.
![1](https://user-images.githubusercontent.com/17638514/80667188-067ee980-8ad1-11ea-8838-f9c62bcdc807.png)
![2](https://user-images.githubusercontent.com/17638514/80667215-18f92300-8ad1-11ea-92f2-1d3ab825c562.png)

[2020-04-30 03:02] liyasthomas commented on #827
It's not an issue with PW. The endpoint: `https://www.baidu.com` doesn't allow Postwoman to fetch data. Servers can restrict specific URL based on different criterias such as geography.

Enable Proxy Mode (Settings > Proxy) to access such restricted endpoints. Proxy mode seems to be working.

[2020-04-30 03:02] #827 closed

[2020-04-30 12:28] DGKSK8LIFE commented on #826
Why not just implement a stacking limit?

[2020-04-30 14:04] DGKSK8LIFE commented on #826
Ok! Is it merged to master branch/deployed yet or?

[2020-04-30 16:28] liyasthomas commented on #826
Merged to master 14 hours ago.

[2020-04-30 17:28] DGKSK8LIFE commented on #826
Thanks!

[2020-04-30 18:20] mrchief commented on #825
Thanks.

LOL, wish Lighthouse was a real person.

[2020-05-01 09:39] sboulema opened #834 "URL Path Parameters"
**Is your feature request related to a problem? Please describe.**
I am trying to convert from Postman to Postwoman. I love that I have a proper API testing tool that I can use on my laptop and on my phone and keep everything in sync!
I do however miss the easy way of setting url path parameters as is possible in Postman.

**Describe the solution you'd like**
More info on how path parameters work

[2020-05-01 10:52] liyasthomas commented on #834
Hi @sboulema, Glad you're making use of PW.

1. To add path parameters, simply choose "Parameters tab" under request section and add parameters.

![image](https://user-images.githubusercontent.com/10395817/80800536-5b9d2700-8bc7-11ea-988f-3460de20210b.png)

2. There's also another way to append parameters that is to append parameters along the URL itself. Ex: `https://httpbin.org/get?param1=true&p

[2020-05-01 10:52] #834 closed

[2020-05-01 10:58] sboulema commented on #834
Thanks for the quick response!

Those parameters are added as query parameters though. I am looking for adding a parameter as part of the url path.

/petstore/pet/:petId

With a parameter petId defined as 42 for example.

Would lead to: /petstore/pet/42 as url.

The current parameters would give me:

/petstore/pet?petId=42 as url.

[2020-05-01 11:02] liyasthomas commented on #834
Yep, that's why we've `Pre-request scripts` which can be use to set environment variable. Check Environments Tab in right sidebar to add/export/import envs.

Read more on `Pre-request scripts`: https://github.com/liyasthomas/postwoman/wiki/Pre-Request-Scripts

![image](https://user-images.githubusercontent.com/10395817/80801120-0b26c900-8bc9-11ea-8114-1df1e69bc36f.png)

[2020-05-01 11:05] sboulema commented on #834
Ah, missed that! Thank you very much 😃

[2020-05-01 11:08] liyasthomas commented on #834
Disclaimer: I'm too busy living my life I fairly have no enough time to improve the Environment flow. 😄

There'll be bugs. Let me know if you stumbled upon any bugs.

[2020-05-01 11:52] sboulema commented on #834
Have a problem I am running into...

I set my petId as an env variable using the prerequest script. But now I can't select an env from the list to set other variables cause it would overwrite my request specific env variable.

Production environment:
<<PetstoreHost>>

Request env variable:
<<PetId>>

So either I end up with an environment with all path variables for all endpoints, or an environmen

[2020-05-01 15:31] liyasthomas commented on #834
Do you believe overwriting current env should be the default action? It's easily possible to append vars to current env - but I suspect everybody should be expecting that behaviour.

[2020-05-02 17:46] sboulema commented on #834
That was a fun saturday!

I wrote a possible solution to the problem: https://github.com/sboulema/postwoman/commit/25f014ef3b34216068193bad5b2e899cea39fda2

[![PathParameter](https://i.imgur.com/teJ3MiD.png)](https://i.imgur.com/teJ3MiD.png)

It adds a type dropdown to the current parameter list. Based on the type, the parameter either gets included as a query parameter or gets added as an environ

[2020-05-03 00:33] liyasthomas commented on #834
@sboulema implementation looks good to me. shoot the PR 🚀

[2020-05-03 00:44] #741 closed

[2020-05-05 12:53] nabsha commented on #524
Trying this feature now in latest docker build by import PM collection in 2.1 format but the import button is not importing anything. Is this still working?

[2020-05-05 13:15] liyasthomas commented on #524
May I know which Postman collection version you tried?

[2020-05-06 19:28] sboulema commented on #767
Added a PR for this:
https://github.com/liyasthomas/postwoman/pull/847

[2020-05-07 00:45] nabsha commented on #524
I guess its to do with the if its 2+ levels deep
`{
	"info": {
		"_postman_id": "c664f176-bf44-4da3-bc00-78b708e7a316",
		"name": "parent-folder-3",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "sub-folder",
			"item": [
				{
					"name": "sub-sub-folder",
					"item": [
						{
							"name": "foobar-request",
							"request":

[2020-05-07 07:19] #767 closed

[2020-05-07 10:13] Xiphin opened #849 "Access to nonexistent routes will not be redirect to page 404"
As the title:
https://postwoman.io/en
https://postwoman.io/xxx
![image](https://user-images.githubusercontent.com/3348428/81282679-175dcb00-908e-11ea-8979-9cf2a39b69df.png)
Console log:
![image](https://user-images.githubusercontent.com/3348428/81282843-50963b00-908e-11ea-9ef3-a26eebc3cd24.png)

[2020-05-07 10:26] liyasthomas commented on #849
Issue have been identified. Will roll out a fix asap. Thanks for reporting.

[2020-05-07 10:37] Xiphin commented on #849
It seems a vue-router problem:
https://github.com/vuejs/vue-router/issues/2881
But I'm not sure...

[2020-05-07 15:31] nabsha opened #850 "Import of Postman collection with Nested folders is failing"
**Describe the bug**
If there are more than 1 level of sub folders in postman collection, then import fails without errors.
[parent-folder-3.postman_collection.txt](https://github.com/liyasthomas/postwoman/files/4593909/parent-folder-3.postman_collection.txt)

**To Reproduce**
Steps to reproduce the behavior:
1. Import the attached file which is in postman format 2.1 version
2. See error

**Expect

[2020-05-07 15:32] nabsha commented on #524
Raised https://github.com/liyasthomas/postwoman/issues/850 to address this issue

[2020-05-08 08:50] ruruiye commented on #470
can't wait for this feature.

[2020-05-08 15:15] liyasthomas commented on #679
Fixed on #854

[2020-05-08 15:15] #679 closed

[2020-05-09 00:48] #642 closed

[2020-05-09 23:37] diego-vergara commented on #731
Hi, I get this error when I logged with Github, the request was correct, if I log out works fine.
PS: I'm not sure if is the same error.

![image](https://user-images.githubusercontent.com/16439985/81487511-a81ddd80-922b-11ea-8a8e-478ff2c5749e.png)

[2020-05-10 01:19] liyasthomas commented on #731
@diego-vergara

Well, I can't reproduce the issue at my end. Possible reason for this issue may be a cached build in localstorage.

**Try uninstalling service worker**
Goto Developer Tools (F12) > (might need to click the double right chevron ») Application tab > Service Workers > Unregister and reload the page.

If the issue is still persisting, try clearing app data. Notice: This clears all loca

[2020-05-10 01:43] #731 closed

[2020-05-10 01:44] liyasthomas commented on #731
I've pushed a hotfix, please let me know if the issue still persist.

[2020-05-11 02:54] Xiphin commented on #849
Bumping nuxt-i18n from 6.11.0 to 6.11.1 fixed it.

[2020-05-11 03:00] liyasthomas commented on #849
Already bumped `nuxt-i18n`. We're facing a build deploy error with Netlify for the past 4 builds. Hopefully it will be fixed by EOD. Will close this issue then.

[2020-05-11 09:53] #759 closed

[2020-05-11 09:55] liyasthomas commented on #849
We're currently facing a delayed production deploy issue with Netlify. Kindly be patient while changes are propagated to live site. Hopefully Netlify will fix this technical issue asap. I'll ping once changes are up on live.

[2020-05-11 09:55] #849 closed

[2020-05-11 10:30] Xiphin commented on #849
Visiting postwoman.io in China is too slow, I built a Chinese version:
https://reqres.cn

[2020-05-11 10:48] liyasthomas commented on #849
@Xiphin Good, kindly mention original repo. Also, if you make any enhancements - do shoot a PR.

[2020-05-12 08:38] pr0gramista opened #865 "Proxy privacy policy link"
**Describe the bug**
Link for Privacy Policy of proxy hosted by Apollo Software isn't working. Link appears in README file and settings page.

The link address is:
https://apollosoftware.xyz/legal/postwoman

The page does not exist.

**To Reproduce**
Go to the proxy section of settings or README page.

Click the link for Privacy Policy.

**Expected behavior**
I should be able to know how Apollo So

[2020-05-12 09:43] liyasthomas commented on #865
@NBTX can you look into this real quick?

[2020-05-12 10:47] axeII opened #866 "Unable to use postwoman with latest docker image from docker hub"
**Describe the bug**
Unable to use postwoman with latest docker image from hub. Latest version after visiting site - keeps loading forever. Please see error log.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to hub.docker.com
2. `docker pull liyasthomas/postwoman:latest`
3. Remove old container and start new one `docker run -d --rm  -p 4000:3000 liyasthomas/postwoman:latest`
4. Keeps lo

[2020-05-12 11:19] liyasthomas commented on #866
Hi @axeII , thanks for reporting the issue. From #856 onwards, you'll need an `.env` file in `root` directory to get the Firebase functionalities working. An example `.env.example` file can be found in repo's root. Edit those env variable with your own keys and rename that to `.env`.

This also allows users to create a more independable instance of Postwoman in their containers apart from the publ

[2020-05-12 13:08] tfenster commented on #866
@liyasthomas you write

Are the "Firebase functionalities" optional or mandatory? If they are optional, how can I turn them off and what would I miss?

[2020-05-12 13:27] liyasthomas commented on #866
Firebase functionalities are completely optional. These includes sign-in with Google and GitHub, syncing History, Collections, Environments and Notes.

When not using these functionalities, all are synced in `localstorage`. Once the user sign-in, everything is synced again.

[2020-05-12 13:32] nikoheikkila commented on #866
Just stumbled into this myself, thanks for pinning it. 😉

I find the `.env` requirement a bit problematic since often we want to pass environment variables when starting the container with `-e` flag for `docker run` (or define those in the `docker-compose.yml` file). Containerized applications should not require a particular file to be present on disk for environment variables.

[2020-05-12 13:32] tfenster commented on #866
@liyasthomas thanks for the feedback. As I can't start the Docker container while they are enabled, how can I switch them off?

[2020-05-12 13:35] liyasthomas commented on #866
I think `dotenv` integration is making a lowered traffic. I'm temporarily reverting 😄

[2020-05-12 13:42] screencomuser commented on #866
Hi,

I just stumbled on the same and I'm wondering how to disable the use of Firebase. Since it's optional, how do I disable it?

I tried en empty .env file, but the problem persists. If it's optional, shouldn't it Just Work™️ without one?

It would be helpful to adjust the docs on this :-)

[2020-05-12 13:50] liyasthomas commented on #866
Okay guys. I've made a hotfix to solve evn issues. Please let me know pulling raw container works.

Not let's get back to decoupling Firebase functionalities.
Essential features are solely working with with the auth + sync features. Without Firebase, I afraid this isn't possible. Anyways I'm working on finding a way to turn off Firebase facilities.

[2020-05-12 13:52] manjitkumar opened #867 "Import/Export collections from private github repos to share among teams."
**Is your feature request related to a problem? Please describe.**
I want to make collections version-controlled and shareable among teams from Github. Alternatively, If we can have roles permission and collections on the cloud with postwoman as a service.

**Describe the solution you'd like**
User should be able to sync their collections with another team member, using Github roles/permission on

[2020-05-12 13:57] tfenster commented on #866
yes, works again for me

[2020-05-12 13:59] #866 closed

[2020-05-12 14:02] #867 closed

[2020-05-12 14:03] liyasthomas commented on #867
Possible duplicate of #580 which will also cover roles and permissions for collections.

[2020-05-12 16:50] jack1142 opened #868 "Make docs on self-hosting Postwoman"
Some information on deploying Postwoman on your own would be useful.

Documents I think would be worth adding:
- how to host Postwoman on regular Linux machine
- how to host Postwoman using Netlify
- how to host Postwoman using Github Pages (? - not sure if that's possible but I saw mentions of it in this repo - I'm guessing that if it is, it's done with some CI like Travis or GH Actions)
- how to

[2020-05-13 01:16] liyasthomas commented on #868
Hi @jack1142 , thanks for raising concerns about hosting PW for a beginner. We do lack a quality Docs section. I admit that. But our readme is quite informative. You can find instructions on how to [develop](https://github.com/liyasthomas/postwoman/blob/master/README.md#developing-), serving the [Docker image](https://github.com/liyasthomas/postwoman/blob/master/README.md#docker--), and at last [r

[2020-05-13 02:05] liyasthomas commented on #868
Here you go: https://github.com/liyasthomas/postwoman/wiki/Hosting

[2020-05-13 02:05] #868 closed

[2020-05-13 02:11] jack1142 commented on #868
@liyasthomas what about the firebase functionalities (the login through GH functionality for example)?

[2020-05-13 02:18] liyasthomas commented on #868
Will update in an hour.

[2020-05-13 03:08] BLumia opened #869 "Response content-type as `text/html` with content in `json` cause content area display empty"
**Describe the bug**
When the returend content-type is `text/plain` or `text/html` but the actual content is a json, the preview shows empty.

**To Reproduce**

I did a quick and dirty server side demo implementation in go:

[code]

Do compile it (`go compile main.go`) and run it, then request the following address:

 - `http://127.0.0.1:4000/` : response "text/html" as content-type, preview is em

[2020-05-13 04:42] liyasthomas commented on #869
Is this an actual real-life case or just for testing? I've never seen such an endpoint.

[2020-05-13 05:15] BLumia commented on #869
It's in real life. I just got this issue today with a endpoint return `text/html` with a json content. Since that service is not expode to public usage so I cannot link the real API here, sorry about that.

I agree that endpoint implementation might not do the best practice, but still, I do think the content area in postwoman should at least display the raw content if the content-type is `text/htm

[2020-05-13 05:22] liyasthomas commented on #869
Issue has been acknowledged. I'm working on a fix.

[2020-05-13 08:49] sa- opened #870 "Sync Collections with Git repo"
**Is your feature request related to a problem? Please describe.**
Would be nice to sync storage over git. My team runs into this problem with Postman and any other web request UI out there - that the web request collections are synced differently than our git repos. Why not just make storage git-friendly

**Describe the solution you'd like**
Jupyter notebooks do this well. Their UI is populated b

[2020-05-13 10:18] liyasthomas commented on #870
Syncing with GitHub repo feature is being requested a lot. Pinning this to roadmap :100:

[2020-05-13 18:53] sboulema opened #871 "Show request completion time"
**Is your feature request related to a problem? Please describe.**
Not related to a problem. This is a feature request,

**Describe the solution you'd like**
We get a lot of extra info back when getting a response. Body, status code, etc.
But I would like to see how long the request took to complete. This would help in spotting any performance issues.

**Describe alternatives you've considered**
N

[2020-05-14 00:43] liyasthomas commented on #871
We're already showing a toast with request completion time. This might've been gone unnoticed.
![Screenshot_20200514-061213](https://user-images.githubusercontent.com/10395817/81880061-08a17780-95aa-11ea-8396-8340845b62f5.png)

[2020-05-14 03:24] liyasthomas commented on #871
Feel free to reopen if the current implementation isn't enough.

[2020-05-14 03:24] #871 closed

[2020-05-14 11:16] sa- opened #872 "Can't find Desktop app link anywhere"
All links around the "Desktop App" section lead to the webpage for progressive webapps (which is not super helpful imo) and not an install link.

Where can I download the desktop app?

[2020-05-14 11:29] liyasthomas commented on #872
There's no installable native desktop app yet, you can install PWA in you desktop browser though.

[2020-05-14 11:29] #872 closed

[2020-05-14 14:21] Menda opened #873 "Cannot introduce query parameters in URL for WebSocket"
**Describe the bug**
In `Realtime > WebSocket` section, if I want to connect a URL like `ws://example.com/endpoint?query=%7Bkey%3D%22value%22%7D`, the "Connect" button is disabled.

The query parameter is encoded from the original: `{key="value"}`. I realize that the time I start typing the `%` character, then the "Connect" button disables. I tried as well without success to introduce the URL `ws:

[2020-05-14 14:50] raha1923 opened #874 "Different OAuth-2 grant types"
**Is your feature request related to a problem? Please describe.**
I'm trying to use postWoman in my private project as a standalone API console. The problem is that the APIs that I want to use are using different flows to get the access token, not just code-flow.

**Describe the solution you'd like**
PostWoman OAuth-2 getNewToken would be great if we just let the user choose what grant type wants

[2020-05-14 15:05] liyasthomas commented on #874
@raha1923 letting user to choose what grant type wants to use makes sense. We're open on making the OAuth workflow better. Let's implement this.

[2020-05-14 15:14] raha1923 commented on #874
@liyasthomas it's great.
I'm reading and exploring the project and trying to find out how things are working. I think it would be easy for me to develop its functionality, but I need help to make it's UI better and more user friendly.

[2020-05-14 15:16] liyasthomas commented on #874
Okay, sounds fine. Let me know when the basic mvp is ready. I'll do the UI.

[2020-05-14 20:44] raha1923 commented on #874
@liyasthomas could you please tell me why you have used PKCE?

[2020-05-14 21:01] liyasthomas commented on #874
PKCE was one of the most requested feature regarding OAuth.

[2020-05-14 21:09] raha1923 commented on #874
Well, I'm going to develop the following flows (sorted by priority):
- client credential
- authorization code
- implicit
- password credential

[2020-05-15 14:42] sboulema opened #877 "Environments not synced after edit"
**Describe the bug**
Changes to environments are not synced.

**To Reproduce**
Steps to reproduce the behavior:
1. Be sure to have environment sync enabled
2. Create an environment
3. Add a key/value
4. Move to another device
5. Be sure to have environment sync enabled
6. Go to environments -> Import/export
7. Import from sync
8. Nothing is synced

**Expected behavior**
Environment including value

[2020-05-15 15:25] #873 closed

[2020-05-15 15:57] #877 closed

[2020-05-18 02:14] jack1142 commented on #868
@liyasthomas hi, just wanted to remind you about this issue since it might be easy to forget when it's already closed. If you didn't forget, sorry for bothering 😄