[2021-11-18 05:20] t1 commented on #1960
Yeah, that helped! Thanks a lot. I'm curious what caused it.

[2021-11-18 12:58] #1960 closed

[2021-11-18 13:00] liyasthomas commented on #1960
I've patched this issue. This was due to an editor styling that basically disabled cursor focus/selection in the editor instance, especially in the Safari browser.

[2021-11-18 17:30] freddiN commented on #1817
I am also very much interested in this feature, I would like to set up a self hosted hoppscotch that uses our own gitlab instance for authentication.

I will keep an eye on any news regarding this topic.

[2021-11-18 20:36] JJTech0130 opened #1962 "Feature Request: Disable zooming in mobile PWA"
**Is your feature request related to a problem? Please describe.**
Accidentally zooming in the PWA on iOS is very annoying, and makes it feel less like a native app. It makes it much harder to use.

**Describe the solution you'd like**
`user-scalable=no` or similar. Perhaps a toggle in the experiments section?

[2021-11-18 21:18] deepakprabhakara commented on #1817
@liyasthomas I'd love to integrate SAML for you if you like, please do let me know. We have built an OSS SAML service at BoxyHQ - https://github.com/boxyhq/jackson

[2021-11-18 21:42] ABY123456789ABY opened #1963 "hiiiiii"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-11-18 23:11] barbflwr5 opened #1964 "study"

[2021-11-19 01:04] liyasthomas commented on #1962
Hi @JJTech0130, thanks for reporting this concern, but this is an intended behaviour.

Setting `user-scalable=no` or anything that restrict users from zooming in is an accessibility concern rather than maintaining an app like UI. Problematic for users with low vision who rely on browser zoom to see the contents of a web page.

In reality, Google degrade websites which restrict zooming. [Read more]

[2021-11-19 01:04] #1962 closed

[2021-11-19 13:24] JJTech0130 commented on #1962
That’s fine, just noting that I was only asking for an option in the PWA, which is supposed to act like a native app, and most native apps do not allow zooming. It’s especially annoying on my iPad, which apple suggests is going to become a “laptop” replacement, yet it is incredibly annoying to type when everything zooms in.

[2021-11-22 10:11] devblin opened #1968 "[bug]: Handling request to empty url"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When, I send request to empty url I see below message in response area.
![image](https://user-images.githubusercontent.com/55559527/142842414-d92f2cbf-d0a1-4464-9681-be86107e7ac5.png)

What we should get is a warning message that request url can't be empty.

### Steps to reproduce

1. Go to h

[2021-11-22 10:11] devblin commented on #1968
If the bug is confirmed, I am willing to submit a PR to fix the issue

[2021-11-22 11:31] lalitindoria opened #1969 "[bug]: Unable to send requests without proxy interceptor"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I just tried sending a request to https://www.google.com from https://hoppscotch.io/ and it doesn't work. I went and turned on the proxy interceptor in the settings and that made the request work.****

### Steps to reproduce

Just send a request on hoppscotch.io

![image](https://user-images.

[2021-11-22 11:34] liyasthomas commented on #1969
This is an expected behaviour. Endpoint with CORS are restricted on client sode API calls. To fix this, we introduce a proxy middleware which generates request from server and thus resolves CORS restrictions.

Read more about CORS: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2021-11-22 11:34] #1969 closed

[2021-11-22 11:39] liyasthomas commented on #1968
Hi @devblin, thanks for reporting this behaviour. I can confirm this bug exists in the app. Feel free to pick this up. Do let us know if you've any doubts understanding the codebase.

[2021-11-22 12:01] lalitindoria commented on #1969
Oh wow how could I not guess that, thanks @liyasthomas

[2021-11-22 12:14] devblin commented on #1968
@liyasthomas Yeah, sure I will work on this.

[2021-11-23 03:33] shtakai commented on #1968
Hi. :)

I've captured reproducing.
Captures are followings.

- reproduced with `http://` only

![http](https://user-images.githubusercontent.com/2187465/142967094-3a3926e8-6bb9-4820-a89f-c5326428094f.gif)

- reproduced with `https://` only

![https](https://user-images.githubusercontent.com/2187465/142967414-d09494f2-f4d0-4c77-8d25-8e8c3697302c.gif)

- not reproduced with `empty url`, but returns

[2021-11-23 14:32] #1968 closed

[2021-11-23 14:43] Devesh21700Kumar opened #1974 "[small UI change request]: Placeholder Font and border size of input box"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

While looking at the hoppscotch webapp, I came across some instances

![image](https://user-images.githubusercontent.com/59202075/143044385-5f23bf41-cf7e-42b2-b044-59a67d148b2d.png)

![image](https://user-images.githubusercontent.com/59202075/143044440-09aa5b97-bbf0-4dc1-bef3-e5cee9c5b051.png)

The fo

[2021-11-23 14:53] #1974 closed

[2021-11-23 14:54] liyasthomas commented on #1974
I've updated the placeholders' opacity to improve reliability. This should look fine now.

[2021-11-25 08:58] dsileikaevry opened #1975 "[bug]: FirebaseError: Function setDoc() called with invalid data. Unsupported field value: undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

![bilde](https://user-images.githubusercontent.com/49481646/143410163-0bdbcca3-75fa-47a5-8f8a-842cabe9a91d.png)
Hi, I'm getting this error in console when try run some call of API.

### Steps to reproduce

1. Select Team Collections
2. Select Team
3. Select any API call from collection
5. Cli

[2021-11-25 09:06] liyasthomas commented on #1975
I can't reproduce this error in the production environment. Please be more specific on how to reproduce the error. On the request setup any specific endpoint, parameters, request body etc.

[2021-11-25 13:33] RishabhAgarwal-2001 commented on #1896
Hello!
I was looking to take up the task of refactoring lenses. I am initially planning to create an abstract text-based renderer as per the previous comment.
Can I get this issue assigned to me?

[2021-11-25 14:03] AndrewBastin commented on #1896
@RishabhAgarwal-2001 sure!

But just to make sure you get what I have in mind:

Generally our code is moving to take advantage of Vue 3 Composables and Composition API more along with TypeScript. So abstracting out the lens renderers to a composable we can apply easily.
Second of all, lenses should work for non-text content, for example we have the ImageLensRenderer and maybe in the future we migh

[2021-11-26 08:39] J3m5 commented on #470
I'm was evaluating hoppscotch and it has all we need except openAPI support.
Being able to generate collections and their requests is a must have for us.

[2021-11-26 18:35] BigUIFU opened #1976 "Login with my own Github Oauth"
Can I use my own github login authorization？

[2021-11-27 01:49] liyasthomas commented on #1976
https://github.com/hoppscotch/hoppscotch/issues/1817#issuecomment-932664510

[2021-11-27 01:49] #1976 closed

[2021-11-27 18:37] Shylajhaa commented on #1741
@liyasthomas Apologies for the delayed response. I will start looking into the design suggested by you and would like to work on this feature.

[2021-11-27 19:17] Mrtmarkov1111 opened #1977 "Json"
{
  "method": "PATCH",
  "args": {},
  "data": "",
  "headers": {
    "accept": "application/json, text/plain, */*",
    "accept-encoding": "br, gzip",
    "accept-language": "en-GB,en;q=0.9",
    "client-ip": "100.64.0.215",
    "connection": "keep-alive",
    "content-length": "0",
    "content-type": "application/x-www-form-urlencoded",
    "forwarded": "for=85.187.247.173;proto=https",
    "ho

[2021-11-28 01:34] #1977 closed

[2021-11-28 06:26] anwarulislam opened #1978 "[feature]: Import Insomnia collection to Hoppscotch like Postman"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need a feature for importing the Insomnia collection to Hoppscotch like how we do the Postman collection. Currently, when I try to import the Insomnia collection it says import failed.

### Why should this be worked on?

Many programmers prefer using Insomnia over Postman. When they try switching t

[2021-11-28 08:26] devblin opened #1979 "[bug]: Generate code throws error for some language"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

**Current behavior**
---------------------------
Currently, I am getting following, without any code for **NodeJs Axios** code generator language.
- **PRODUCTION:**
![prod-hoppscotch](https://user-images.githubusercontent.com/55559527/143735020-42046fca-7128-40a4-ad8d-c8ba3a6d1e78.png)

- **D

[2021-11-28 08:28] devblin commented on #1979
@liyasthomas , I have checked the code-base, and found similar error for few more generators. And, I tried fixing **NodeJs Axios** one in local environment, it's working fine. If you can confirm the bug, I would like to submit a PR for this issue.

[2021-11-28 08:30] liyasthomas commented on #1979
Hi @devblin, appreciate your interest in contributing to Hoppscotch. Feel free to open a PR and we'll take a look into it.

[2021-11-28 13:51] devblin commented on #1979
@liyasthomas , For methods other than GET, the **contentType** and **requestBody** could be null, so in **null** cases, can we have placeholders for **contentType** as **"REQUEST_CONTENT_TYPE"** and similar for **requestBody** in the generated code?

[2021-11-28 13:59] liyasthomas commented on #1979
Can we omit attributes such as `body` and `content-type` that has a possible `null` value? And only append to the generated code if it's not a null. A null check would be enough.

[2021-11-28 14:07] devblin commented on #1979
Yeah, sure I will make changes handling nulls and append non-null attributes.

[2021-11-28 17:01] Duck-sri commented on #1953
I am willing to contribute to this, but not sure how to do.
I will try if someone can point me how

[2021-11-28 18:47] andriuspetrauskis opened #1980 "[bug]: Request hangs if the pre-request script is not valid"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I enter pre-request script some invalid javascript code, I expect app to show an error. Instead the request just keeps loading.

### Steps to reproduce

1. Go to https://hoppscotch.io/
2. Click Pre-request Script
3. Enter any random text
4. Press send

### Environment

Production

### Ve

[2021-11-29 07:22] Abeautifulsnow opened #1983 "[bug]: Node 17.1.0 causes some error - digital envelope routines::initialization error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I used `pnpm run dev` command to start the server, some errors occured here:

[code]

I have searched these existing issues and not found any help infos.

### Steps to reproduce

Hmmm, just run `pnpm run dev` on Node.js v17.1.0.

### Environment

Production

### Version

Local

[2021-11-29 08:15] liyasthomas commented on #1983
This is a [known issue in Node v17 and Webpack v4](https://github.com/webpack/webpack/issues/14532).
Downgrading Node to its LTS version / v16 would be the best way the fix this issue.

[2021-11-29 08:15] #1983 closed

[2021-11-29 08:16] #1975 closed

[2021-11-29 12:57] buger commented on #1831
👍🏻

[2021-11-30 02:16] #1979 closed

[2021-11-30 11:11] AntonioRedondo commented on #927
I just came across with this issue. It seems like populating headers from the cURL query works, but not the body payload.

In the below POST HTTP request with content type `multipart/form-data` the two parameters `EmailAddress` and `Entity` of the body payload aren't parsed from the cURL query. And changing `--data-raw` to `--data` doesn't fix the issue:

[code]

[2021-11-30 20:44] punitjain03 opened #1989 "Hoppscotch @ Github Externship Winter Cohort"
### Discussed in https://github.com/hoppscotch/hoppscotch/discussions/1988

<div type='discussions-op-text'>

<sup>Originally posted by **AndrewBastin** December  1, 2021</sup>
# **GitHub Externship @ Hoppscotch**

**We ❤️ open source**

We are super excited to be a Partner Organization of the GitHub Externship Winter Cohort and look forward to supporting all interested students to participate and

[2021-12-01 14:40] ricbermo opened #1990 "[bug]: Imported Postman collections are not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I import a Postman collection, none of the imported requests seems to be working. After sending the request, I'm not getting responses. If I type the endpoint manually it does work.

### Steps to reproduce

1. Import a Postman collection ( you can use this one https://go.postman.co/works

[2021-12-01 16:50] Shylajhaa commented on #1741
@liyasthomas @kaname-png The environment approach will solve the problem, but only seems like a workaround. That might not be an ideal situation given that there could be several API endpoints grouped under individual folders with all of these folders sharing a common environment.

The Global-Local headers solution sounds like a suitable design. Can I start working on the same?

[2021-12-01 16:52] liyasthomas commented on #1741
@AndrewBastin thoughts on this?

[2021-12-01 23:09] AndrewBastin commented on #1741
I think storing metadata within collections regarding headers will work. During the Effective REST Request generation phase we just need to recursively traverse back the tree.

But this interestingly brings into the light some interesting side points we have to clear out.

1. Cascading – How the header fields cascade. (What happens when the headers are defined in multiple levels)

2. A UI represen

[2021-12-02 14:53] liyasthomas commented on #1196
Implemented in #1952.

[2021-12-02 14:54] AndrewBastin commented on #1196
Actually @liyasthomas a quick hotfix so that the Realtime page will remember the last page will be cool.

[2021-12-02 17:04] patricksilvamor commented on #1990
I'm having the same issue.

[2021-12-02 17:44] #1980 closed

[2021-12-03 09:21] MustafaHi opened #1992 "[bug]: body is being changed for multiple collections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I expect it to change only for the current collection(request) and not the rest (unselected ones)

### Steps to reproduce

create request and save it
save as new collection and switch to the new
changing the new will change the old.

### Environment

Release

### Version

Cloud

[2021-12-03 09:28] liyasthomas commented on #1992
create request and save it
save as new collection and switch to the new
changing the new will change the old.

I can't reproduce this at my end, can you produce a screen record to understand the issue accurately.

[2021-12-03 10:10] MustafaHi commented on #1992
![yJKZzlzj4K](https://user-images.githubusercontent.com/5108884/144584944-9f1ef03d-9b30-4bcf-946f-7c96e614a330.gif)

[2021-12-03 10:24] liyasthomas commented on #1992
Thanks for providing the screen record. We were able to reproduce this behavior. Working on a fix now.

[2021-12-03 10:51] VCourdy commented on #1990
Same,
Here's the error when sending a request :
![image](https://user-images.githubusercontent.com/15244542/144590484-a6f68e73-da61-4bb1-aef9-2e30fdd860a4.png)

[2021-12-03 10:58] #1992 closed

[2021-12-03 10:59] AndrewBastin commented on #1992
@MustafaHi please wait for like 5-10 minutes and then let me know if the issue is resolved.

[2021-12-03 11:17] MustafaHi commented on #1992
The issue is Not resolved.
A work around is to refresh after every change/save.

[2021-12-03 12:04] liyasthomas commented on #1992
Seems like the production deployment took a little bit longer than expected. I flushed the cache and redeployed the fix. I can confirm this issue has been solved in production.

Feel free to reopen if the issue still persists. Force reload the application to take effect the latest changes.

[2021-12-03 16:43] mafei007even opened #1993 ""docker-compose up" failed on my arm64 m1 mac"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

i clone this repo with git.
run `docker-compose up`

error message:
[code]

### Steps to reproduce

i clone this repo with git.
run `docker-compose up`
See error

i don't know what environment under the options.  i did't change anything.

Docker images downloaded through this command `docker

[2021-12-03 16:55] Shylajhaa commented on #1741
@liyasthomas @kaname-png Thoughts?

[2021-12-03 17:00] kaname-png commented on #1741
@Shylajhaa I like the idea of being able to store metadata in the request folders, for example: when viewing the folder options there should also be an option called headers and depending on what headers there are, they will be applied to the other requests within the collection folder, and that there is an option in the requests that is to ignore the use of global headers for that folder.

[2021-12-03 20:23] GeneralChauhan commented on #1953
can you tell me how to get started with it?

[2021-12-04 01:53] liyasthomas commented on #1953
[This thread could be a good starting point](https://stackoverflow.com/questions/36788831/authenticating-socket-io-connections-using-jwt)

[2021-12-04 02:56] liyasthomas commented on #1993
@AatroxC can you pull the latest changes, run `docker-compose up` again and see if the issue persists. I can't reproduce this issue at my end. I'm on a mac M1 laptop, Docker: latest version.

[2021-12-06 13:06] dsolay opened #1996 "[bug]: Tests don't run when request fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I make a request and the returned status code is 4.x.x or 5.x.x, the tests are not executed

### Steps to reproduce

1.  Make a request to `https://swapi.dev/api/peoples`
2. Go to the `Tests` tab and paste de following code:
[code]
3. Send the request
4. The returned status code is `404`

[2021-12-06 14:28] twistezo opened #1997 "[improvement]: Too big icon when dock in macOS is resized down"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When macOS dock is resized down from its default height hoppscotch icon is too big.

<img width="228" alt="Screenshot 2021-12-06 at 15 24 11" src="https://user-images.githubusercontent.com/23572157/144863293-87e3b445-b5c0-40f5-a31d-c02c5c0b338d.png">

### Steps to reproduce

Just place app in

[2021-12-06 14:44] liyasthomas commented on #1997
![screely-1638801708058](https://user-images.githubusercontent.com/10395817/144865868-d5c8fadc-785d-4277-b53f-b01bba4752c0.png)

I guess that's a common style applied to all Progressive Web Apps' icons installed on macOS.

I will see if it's possible to shrink the app icon to match the dock icon size on macOS, but most probably it'll cause other operating systems to have an irregular icon size.

[2021-12-06 14:53] AndrewBastin commented on #1996
Hi @dsolay,

I have pushed a patch, should be live in 5-10 minutes, please open Hoppscotch and perform an Update Reload and this issue should be fixed.

But we have noticed a small behavior inconsistency between the different strategies, in which without the extension or the proxy server, Hoppscotch doesn't try to process non-200 responses. We are tracking the issue internally and since we were pl

[2021-12-06 21:11] cloudomatic commented on #1990
Does anyone know if this is a regression?  I have always gotten the above error on a v2.1.0 collection, but never a v1 collection.  I was interested to know if Hoppscotch was previously working with the v2 collections.

[2021-12-07 04:46] rakshit087 commented on #1601
It seems to work for me as well.

![image](https://user-images.githubusercontent.com/50898928/144966471-d1f5ebfa-0066-41d7-84ae-c88c0285e447.png)

I am using the same json file as @kiriti999.

I also found this function
[code]
This function is executed if `importFileObj._postman_variable_scope === "environment" || importFileObj._postman_variable_scope === "globals"` which seems to work for any pos

[2021-12-07 12:23] kritikmodi commented on #1601
Hi @deepto98 , is the issue resolved or are you working towards developing the solution as of now?

[2021-12-07 15:39] mcroissant opened #2000 "[feature]: Api Key based authentication"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hello,

We see many apis and api gateways using api key as a standard authentication mechanism, it would be awesome to support this authentication method in hoppscotch. This would require the ability to specificy the place where to set the api key (header or path) and under which name (different vendo

[2021-12-07 16:55] kritikmodi commented on #1978
Hey @anwarulislam , are you currently working on this feature?

[2021-12-07 17:39] anwarulislam commented on #1978
Hello @kritikmodi, Yes, I'm working on this feature now.

[2021-12-08 02:54] rubabuddin opened #2001 "[feature]: Decrypt credentials and apply in pre-request script for single session"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I'd like to decrypt a credential using an AWS SDK - is it possible to import libraries as a pre-request script before applying at as an environment variable?

Pre-request script as follows
[code]

After Hoppscotch tab is closed, all environment variables from that session should be deleted

### Why sh

[2021-12-09 12:04] widdlepaws commented on #1834
hello :) when can we expect it to be delivered ? really looking forward to it !
Last release got packaged too early :') https://github.com/hoppscotch/hoppscotch/releases/tag/v2.1.0

[2021-12-09 13:23] liyasthomas commented on #1834
This feature is already live on the production deployment: Hoppscotch.io. You can fetch the `latest` tag if you're on Docker or fetch the latest `main` branch from Git to enjoy the latest changes.

[2021-12-09 15:54] nilay1221 commented on #927
@AntonioRedondo I reproduced the issue but it's working fine for me. Attaching video for the same.

https://user-images.githubusercontent.com/44199023/145417888-2a35c501-4882-485c-8bb7-6da0d703f971.mp4

[2021-12-09 20:07] AntonioRedondo commented on #927
Hi @nilay1221, thanks for having a look at this issue.

Did you try to import my cURL command into Hoppscotch and see whether the body parameters were populated?

[2021-12-09 20:55] nilay1221 commented on #927
Yes i did and it didn't populate the multipart/form data. Understood your issue. Thank you

[2021-12-10 02:47] LeCodeCo opened #2004 "[bug]: Importing cURL with --url does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I try and import a cURL request which uses --url, Hoppscotch fails to import it. This format is what's used by Insomnia when copying a request as cURL.

### Steps to reproduce

Import cURL with Send (dropdown) -> Import cURL

[code]

### Environment

Production

### Version

Cloud

[2021-12-10 03:04] LeCodeCo opened #2005 "[feature]: Port "drag and drop requests" feature to "Team collections" and introduce right click context menu for "Collections""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Right now, after a request is saved into a collection there the only way (I believe) to move it into a different folder within the collection is by restoring it and saving it again, which is slow and tedious.

I think dragging and dropping requests into different folders should be possible.

Furthermo

[2021-12-10 03:09] liyasthomas commented on #2005
You can drag-and-drop requests from a collection/folder to another collection/folder. Do let me know/reopen this issue if it doesn't work for you. I can provide a screen record if you need to see a demo.

Right-click context menu is something we'd like to implement platform-wide, not only for the "Collections" section. We'll be adding this in the near future as we've secondary action on the remain

[2021-12-10 03:20] LeCodeCo commented on #2005
Thanks for such a quick response!

I've tried dragging and dropping on a request stored in a team collection and it doesn't seem to work for me. I can't "pickup" the request when I click and drag it. Microsoft Edge on the cloud version, version 2.0 (according to Help & feedback at the bottom).

[2021-12-10 03:25] LeCodeCo opened #2006 "[feature]: Show existing name while renaming collections / folders / requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When trying to rename a request/folder in the collections sidebar, the existing name isn't populated.
![image](https://user-images.githubusercontent.com/20425781/145512074-c35310b2-6a7c-4b56-b039-718c02e164b7.png)

### Steps to reproduce

1. Go to collections sidebar
2. Click `...` and then `

[2021-12-10 03:34] liyasthomas commented on #2005
I acknowledge drag-and-drop isn't implemented in the Teams section. Will be porting the feature set to the Teams section as well as soon as possible.

[2021-12-10 03:35] liyasthomas commented on #2006
This could be a nice enhancement, thank you for the suggestion.

[2021-12-10 05:26] #2006 closed

[2021-12-10 05:58] liyasthomas commented on #2004
Merging this issue with an existing similar issue: #927.

[2021-12-10 05:58] #2004 closed

[2021-12-10 16:46] trbodev opened #2007 "[feature]: Allow connection to WAMP servers"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow connections to WAMP servers via the [WAMP Protocol](https://wamp-proto.org/index.html) in the Realtime section.

### Why should this be worked on?

I am looking into using WAMP for a project and cannot find any online tools/testers for it.

[2021-12-10 19:50] fmiras commented on #690
Is this related to requests tabs as well? My only concern is that I can't see 2 responses at the same time to compare for example (like I do in Postman)

[2021-12-10 19:50] tonycody commented on #690
您的来信我已收到，我会尽快回复您！！！

    ------------------------------------------------------

[2021-12-11 07:44] im-n1 commented on #413
Electron is a bloat. Huge bloat. Don't another great project into that hole. If you want desktop app learn and use appropriate language/tools.

[2021-12-11 11:51] KaKi87 commented on #413
Or, use [Tauri](https://tauri.studio/)

[2021-12-12 06:15] simonsantan opened #2008 "Add file transfer options to hoppscotch for graphql!"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

We need actually a options to transfer file in graphql.

### Why should this be worked on?

When we build a graphql api, it really need to transfer file. As you know apollo studio also provide api playground. But there has no option to transfer file. That's why we have to find another ecosystem or gra

[2021-12-12 06:17] liyasthomas commented on #2008
Duplicate of #1902, hence closing.

[2021-12-12 06:17] #2008 closed

[2021-12-12 11:58] sonaljain067 commented on #1833
I would like to work on this issue.

[2021-12-12 12:03] RishabhAgarwal-2001 commented on #1990
Hello! I was planning to work on this issue. Can I get it assigned to myself, so that I can start working?

[2021-12-12 13:30] liyasthomas commented on #1990
Hi @RishabhAgarwal-2001 you can give this a try. Assigning it to you.

[2021-12-12 15:04] im-n1 commented on #413
No. Less overhead but still the same :hankey:

[2021-12-12 17:12] KaKi87 commented on #413
Tauri apps are very lightweight and much less resource-consuming than Electron apps.

[2021-12-12 18:06] AndrewBastin commented on #413
I am working on a native app, just that it is not a big priority compared to the other features we want to work on and along with extension and PWA, most of the things a native app can do is basically possible.

The native app project worked on internally is based on a subset of Tauri using only parts of it we intend to use.

[2021-12-13 07:01] liyasthomas commented on #2007
We don't have plans to add support to the `WAMP` protocol. Though we'll track this request to discuss more on this feature.

[2021-12-13 07:01] #2007 closed

[2021-12-13 10:18] night2049 opened #2012 "[bug]: add http header token param over remove the header,cookie not remove"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

add http header token=xxxxxxxxxxxxxxxx
request to http server
remove the header "token"
http token is remove
http cookie remove token value
![image](https://user-images.githubusercontent.com/69810127/145793657-80236575-979a-4e7c-8250-353acb8be3f9.png)

### Steps to reproduce

version: v2.0

!

[2021-12-13 11:58] liyasthomas commented on #2012
I can't understand the bug reproduction steps.

As per my current understanding, you were saying that even if you remove the `token` field from headers, it was shown at the server end - right?

**Can you provide a screen record of your specific behavior**

I tried removing the `token` header and it worked properly on our echo server endpoint: `https://echo.hoppscotch.io`.

<sub>You might want to t

[2021-12-13 13:56] night2049 commented on #2012
hello,I want to say,if you remove the header "token", the tool hoppscotch auto add in cookie "token" field,i want cookie not add "token" field,you can see last image,show cookie join "token" field

[2021-12-13 15:56] s-go opened #2013 "[feature]: Team Collections for GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Team collections should be available for GraphQL requests in exactly the same way as for REST requests. Currently, only private collections seem to be available in GraphQL mode.

### Why should this be worked on?

Team collections are just as relevant for GraphQL requests as for REST requests. The cur

[2021-12-14 03:20] liyasthomas commented on #2012
Hoppscotch doesn't add the `Cookie` field to headers automatically. I still can't reproduce the error.

Here's my request setup: https://hopp.sh/r/JzyAMZLDXxrj with a valid `Cookie` field and I've turned off the `token` field - Hoppscotch doesn't set the `Cookie` field to headers automatically.

Please provide a screen record or reproduction link:
1. Click the drop-down menu next to "Save" in the

[2021-12-14 03:20] #2012 closed

[2021-12-14 07:04] liudonghua123 commented on #413
Hi, I have tried to build Windows/Linux/macOS desktop apps using `Tauri`. You can try it on https://github.com/liudonghua123/hoppscotch-app/releases.  Looking forward to any bug reports, feature requests. 😃

[2021-12-14 14:37] liyasthomas commented on #1989
Moved to discussion #1988.

[2021-12-14 14:37] #1989 closed

[2021-12-15 20:51] kahennig commented on #1425
Hi liyasthomas,
this would be a great feature to have, I aws wondering if the setting of env vars from the post-request scripts is nearing arrival?
Thanks,
Andi

[2021-12-16 01:50] EdwinFajardoBarrera commented on #2000
I would like to work in this issue, can you assign it to me?

[2021-12-16 05:23] zlay0701 opened #2015 "[feature]: how to use sha256 in Pre-request Scripts Scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

how to use sha256 in Pre-request Scripts Scripts?

### Why should this be worked on?

Some interfaces need to dynamically generate signatures and initiate requests according to tokens
The signature algorithm uses algorithms such as sha256 and SHA1

[2021-12-16 05:27] liyasthomas commented on #2015
Similar issue: #2001
Adding support to npm packages and SDKs are in our roadmap. Stay tuned for product updates.

[2021-12-16 09:02] Link2Twenty opened #2018 "[feature]: Generate OpenAPI docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I see there is a way to make markdown documentation for an API, it would really awesome if we could also generate OpenAPI documentation.

### Why should this be worked on?

I think it's fair to say OpenAPI docs are used across the whole industry but are a bit of a pain to manage. Making hopscotch the

[2021-12-16 09:07] acolombier opened #2019 "[feature]: Add an Authorization tab on GraphQL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It would be amazing to have an Authorization tab on GraphQL, as it is for REST.

### Why should this be worked on?

Authorization is also a thing in GQL and having automated OAuth mechanism would be :+1:

[2021-12-16 09:54] joshxyzhimself opened #2020 "[feature]: Import collection from URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- allow api providers to link to https://hoppscotch.io/import?url=https://example.com/hoppscotch-collection.json

### Why should this be worked on?

- lets api providers to hotlink their collections easily

[2021-12-17 00:19] EdwinFajardoBarrera commented on #2000
I have some questions about the implementation:

I've implemented the capability of adding API_KEY-based authentication, adding it in the specified header or by query params.

In the first case, I used the `effectiveFinalHeaders` function in `EffectiveURL.ts`

In the second case, I'm pushing a new element to params. I tried many options but those have many issues:

- Adding new param by request.pa

[2021-12-17 00:49] liyasthomas commented on #2000
Hi @EdwinFajardoBarrera, can you open a draft PR so that we can understand the code better.

[2021-12-17 02:18] EdwinFajardoBarrera commented on #2000
@liyasthomas I see, this so is helpful!, I've just created a PR (#2021), I'll wait for your comments to make the changes.

[2021-12-17 06:35] PietechSolution opened #2022 "[bug]: We tried to deploy on our Firebase account but build failing on local machine and Gitlab CI integration both"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

We tried to run the local machine and Gitlab runner but the result same in both places. We tried to 2-3 Version also for nodejs like 16 or 17 and 14 too but their lots error we getting, Please help to find the real cause with this Error log.

`[0KRunning with gitlab-runner 14.4.0 (4b9e985a)

[2021-12-17 07:31] liyasthomas commented on #2022
Seems like it's related to: https://github.com/hoppscotch/hoppscotch/discussions/2014#discussioncomment-1821163

[2021-12-17 16:02] #2000 closed

[2021-12-17 16:09] EdwinFajardoBarrera commented on #2019
I would like to contribute, can you help me with giving background and if necessary expectations?

[2021-12-17 16:13] acolombier commented on #2019
It would be great if it could work like the one in REST - I'm mostly looking after an OIDC integration
It would also be great if could work like [Insomnia](https://docs.insomnia.rest/insomnia/chaining-requests) and so we can chain the token

I'd be very happy to help on that one too in case you think it is worth decoupling in multiple steps :)

[2021-12-17 16:15] acolombier commented on #2013
I would be happy to help on that one. Perhaps for the maintainer - how would you like this work to be done? I can see that the model splits the logic between REST and GraphQL, would you like some refactor to make some generic solution or would you prefer something different?
Perhaps if you have any guidelines, I'd be happy to get started with that one!

[2021-12-18 07:36] AndrewBastin commented on #2013
@acolombier Teams codebase is not open source yet so I don't think you will be able to help with it. But it is something we are focusing on and will be pushing in the coming weeks.

[2021-12-18 07:39] AndrewBastin commented on #2019
@EdwinFajardoBarrera  @acolombier

We are keeping this issue open for students under [Github Externship](https://externship.github.in/) to contribute to.
If this issue isn't assigned to anyone by the end of the month, you can pick this up!

[2021-12-18 07:46] AndrewBastin commented on #2022
@liyasthomas doesn't seem like it's related, at least from the logs.

@PietechSolution I think its related to something like how you have set up submodules or something like that. How does your build system work ? How does your folder structure look like ? Do you use NPM/PNPM workspace or something ?

Also, does a fresh unmodified clone of this repo build on your machine ?

[2021-12-18 08:00] PietechSolution commented on #2022
Ok ,  Yes I have NPM but as suggested in Installation step I use PNPM. I used to deploy on firebase hosting through gitlab CI runner but this issue comes on Local too.

I just close the clone the day I raise issue and run those 2-3 command as suggested.

I will try again the fresh copy and see what happen.

Thanks for your help.

[2021-12-18 08:02] AndrewBastin commented on #2022
@PietechSolution if it fails on your local, the logs from the local build will be helpful.

[2021-12-18 09:56] acolombier commented on #2013
Thanks for the update @AndrewBastin
Is there any plan to make the teams codebase open source too?

[2021-12-18 10:18] AndrewBastin commented on #2013
@acolombier we are working on that. It's just there are many moving pieces we are still figuring out regarding our business goals and such. Hopefully we will figure something out eventually and get an open source backend implementation running by next year.

[2021-12-18 12:03] JosephSanjaya commented on #1990
I'm also got this problem, I fix it by adding default value for param "preRequestScript", "testScript" in json that exported from imported postman json, and reimporting it. I think the problem is with that 2 param empty hoppscotch think its invalid request.

### Possible Fix
Add default empty value for "preRequestScript", "testScript" when importing from postman json.

[2021-12-18 13:39] #2005 closed

[2021-12-18 20:00] PSY27 commented on #2019
I would like to do this issue for externship

[2021-12-18 20:03] PSY27 commented on #1059
As this is implemented on the web I would like to integrate this for the extension as an externship project

[2021-12-19 07:02] apptut commented on #2015
npm packages +1, I want gen sign with params by md5 or sha1

[2021-12-19 13:59] AndrewBastin commented on #2015
Hate to burst the bubble, but I am not planning on getting NPM packages as is to work with Hoppscotch scripting environment.
It's a complicated enough task as is and implementing mechanisms to manage NPM and node_modules and dependency management and Node Module Resolution capabilities (remember, the scripts are executed client side in a sandbox) all within the sandbox is a massive challenge which

[2021-12-19 14:41] danialbehzadi commented on #1915
That would be awesome, since using of firebase is blocker for us.

[2021-12-19 19:53] anwarulislam opened #2030 "[bug]: Error while importing collection from Postman"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Requests with Postman variable can't be imported in Hoppscotch.

### Steps to reproduce

I searched in the project why this is occurring and found this regex. The regex is validating URL and adding URL to Hoppscotch request based on this condition below. Since, URL with variable doesn't have

[2021-12-20 11:53] apptut commented on #2015
I agree with what you said. My purpose is not to import npm, but to get the capabilities of encryption libraries. Many times the interface needs to be signed using md5, or sha1, base64 algorithms, and so on.

[2021-12-20 15:47] anwarulislam commented on #2030
@AndrewBastin can I work on this issue, now?

[2021-12-20 16:10] AndrewBastin commented on #2030
Umm, sure. But not right now. We are doing a refactor to the Import/Export system which should be done in a couple of days. Please wait until then.

[2021-12-20 16:12] EdwinFajardoBarrera commented on #2019
I see, if there is another one to contribute to, let me know @AndrewBastin

[2021-12-20 16:16] anwarulislam commented on #2030
Sounds good you're refactoring the whole import/export system.

Would be great if you bring these features:

- Drag and Drop for importing JSON, YML, or any other format (It would be nice if you parse everything to OpenAPI JSON first and then parse that to Hoppscotch standard)
- Environment Importing and binding to that specific collection
- Export to multiple format including YML, JSON, Insomnia,

[2021-12-20 18:26] anwarulislam opened #2033 "[bug]: Search and Command menu shortcut not working with zen mode"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

If I turn on the zen mode the search and command menu shortcut `/` (slash button to open) not working.

### Steps to reproduce

We should import the `<PowerSearch.vue>` component into the default layout component. And we can open that component only by simulating `/` (slash key).

Here's how

[2021-12-21 01:11] #2033 closed

[2021-12-21 01:18] liyasthomas commented on #2030
We're using #2030 to track "Issues with importing Postman collections" and the upcoming refactor on the import/export system. Hence closing this issue.

[2021-12-21 01:18] #2030 closed

[2021-12-21 01:19] #1978 closed

[2021-12-21 19:46] ziaulrehman40 opened #2035 "[bug]: Teams:: Self hosted instance sending team add request to api.hoppscotch.io/graphql and fails"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

On self hosted custom instance, create team request is sent to `api.hoppscotch.io/graphql` with payload:
[code]

Which fails and gives:
[code]

### Steps to reproduce

1. Configure a custom instance, following official guides, setup all new keys in `.env`, build and deploy
2. Try to create a

[2021-12-21 20:14] AndrewBastin commented on #2035
Hi there,

Teams currently is only available for users of the official Hoppscotch instance ([https://hoppscotch.io](https://hoppscotch.io)). We are working on a fully self hosted solution.

[2021-12-21 20:15] #2035 closed

[2021-12-22 06:36] ziaulrehman40 commented on #2035
Thanks @AndrewBastin , is there any issue or PR i can track, or anyway i can help speed this process up.
BTW, only reason we are not using official instance is to avoid putting a lot of load on it, and we don't know if there are any limits on usage there, as we intend to use it extensively. So if you can help me understand this aspect as well, would be great.

Thanks.

[2021-12-22 06:44] AndrewBastin commented on #2035
@ziaulrehman40 the issue is tracked here #1817.

I don't exactly get by what you meant by not putting more load on it. What do you mean by using it extensively ?

[2021-12-22 06:50] ziaulrehman40 commented on #2035
@AndrewBastin like collection size limits, users in a team limits etc. As we have huge collections we would like to import from postman to hoppscotch.

[2021-12-22 11:25] anwarulislam opened #2036 "[feature]: import request from cURL onpaste in the url field"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we copy cURL from the network and want to import it as a request in Hoppscotch we click on the dropdown and select Import from cURL now. And we paste the cURL hit the confirm button and cURL is importing nicely.

But, it would be nice if we paste the complete string in the default URL field and d

[2021-12-22 11:55] anwarulislam commented on #2036
@liyasthomas I'm working on this.

[2021-12-22 19:59] AndrewBastin commented on #2036
fixed by #2037

[2021-12-22 19:59] #2036 closed

[2021-12-23 06:56] liudonghua123 opened #2038 "[bug]: page style not correct when serve dist of `yarn generate`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I just clone the latest code, following the guidence, then execute `yarn generate` and `serve packages\hoppscotch-app\dist`, open browser to navigate http://localhost:3000/.

![image](https://user-images.githubusercontent.com/2276718/147200595-302bf00b-b7f4-4a70-8efe-603eaf8df83a.png)

![imag

[2021-12-23 07:44] maidou883 opened #2039 "[bug]: 参数无法填写中文 使用搜狗输入法会把拼音和中文都添加上"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current behavior

输入中文时会把拼音也输入上去
![image](https://user-images.githubusercontent.com/48854556/147205733-46666505-919d-4c4d-ac09-00af18359cd2.png)
![image](https://user-images.githubusercontent.com/48854556/147205775-9baaeba8-980f-46df-9511-77398bdb91c6.png)

### Steps to reproduce

1.打开hoppscotch
2.填写参数
3.使用输入法

[2021-12-23 09:24] liyasthomas commented on #2039
@maidou883, what I've understood is: "Parameters cannot be filled in Chinese. Using Sogou input method will add both Pinyin and Chinese."

Since I don't have access to Chinese or Pinyin input tools, I am afraid I can't reproduce this behavior at my end.

Let me know if this behavior true to all input field in Hoppscotch or just for Parameters?

[2021-12-23 09:37] maidou883 commented on #2039
Try to fill in other parameters, you will encounter the same problem.

[2021-12-23 09:39] liyasthomas commented on #2038
Seems like only the sidebar component is broken - not the pages. Can you check if this happens in other browsers (Chrome, Firefox) as well?

cc: @AndrewBastin can you see if this issue persists on IE's latest version?

[2021-12-23 09:40] maidou883 commented on #2039
@liyasthomas Try to fill in other parameters, you will encounter the same problem.

[2021-12-23 10:03] #2022 closed

[2021-12-23 10:06] liyasthomas commented on #2039
May I know if this happens in other input fields like `URL`, `Headers` sections etc?

[2021-12-23 10:15] liyasthomas commented on #2038
@liudonghua123, we tried reproducing the issue but `yarn generate` produced dist folder was working as expected. I suggest you delete the current `dist` folder and re-run `pnpm run build` from the root folder. And see if the issue persists or not.

[2021-12-23 15:14] maidou883 commented on #2039
@liyasthomas
URL, Headers Same error.
All positions that can be entered are this error.

[2021-12-23 15:22] liyasthomas commented on #2039
@maidou883 I can't find any evidence why this is happening. Hoppscotch doesn't have any such functions to auto translate/parse any of user's inputs. Either this got something to do with your browser (any 3rd party extensions maybe?) or your input tool.

I afraid I can't provide any help with a behaviour I cannot reproduce at my end. Moreover, I haven't received any such bug reports from our users.

[2021-12-23 15:27] maidou883 commented on #2039
@liyasthomas
It's OK to enter Chinese in Google and GitHub, but hopscotch can't. I can't input it when I open it on other computers. You can find a Chinese who should help you reproduce your mistakes.

[2021-12-23 15:33] maidou883 commented on #2039
@liyasthomas
![image](https://user-images.githubusercontent.com/48854556/147261293-8d819ec6-6932-4a39-99a1-264158bdac50.png)
The content in the red box is redundant. When I input the content in the green box, I will automatically fill in the content in the red box. I only need the content in the green box, not the content in the red box

[2021-12-23 15:34] maidou883 commented on #2039
@liyasthomas
It's already 11:00 p.m. on my side. I'll have a rest first. If there's a problem, I'll continue to communicate tomorrow

[2021-12-24 01:37] maidou883 commented on #2039
Why use div instead of input here

[2021-12-24 01:42] liyasthomas commented on #2039
Native `input` fields don't support enabling features like style for environments etc.

<img width="1098" alt="Screenshot 2021-12-24 at 7 11 34 AM" src="https://user-images.githubusercontent.com/10395817/147305486-171c47ab-1d76-4659-a58c-2367c8e84aa4.png">

[2021-12-24 01:52] maidou883 commented on #2039
I'll send you an email and a video later. You'll see the recurrence of the error.

[2021-12-24 02:09] maidou883 commented on #2039
@liyasthomas The mail has been sent successfully.
Title Recurrence error.

[2021-12-24 02:38] zsxeee commented on #2039
Reproduced with Microsoft IME with Chinese and Japanese.
![image](https://user-images.githubusercontent.com/18413220/147308834-c68f48f2-3faf-4664-b334-2e6bc10476d5.png)
![image](https://user-images.githubusercontent.com/18413220/147309008-da33ebb9-a1c5-4f30-8802-b6268eecd5fc.png)

[2021-12-24 02:48] liyasthomas commented on #2039
I've not received the mail. You can share the video here in comments or send it to support@hoppscotch.io

[2021-12-24 02:48] liyasthomas commented on #2039
I'd appreciate if you can give proper steps to reproduce it.

[2021-12-24 02:55] maidou883 commented on #2039
Sent successfully support@hoppscotch.io

[2021-12-24 03:01] zsxeee commented on #2039
If you are using Windows, you can add a keyboard with:

[2021-12-24 06:28] #1849 closed

[2021-12-24 06:33] liyasthomas commented on #2039
cc @AndrewBastin can you check if it's reproducible at your end? Refer above steps.

If it's reproducible, then it got something to do with the `EnvInput`comment and the way we parse UTF-8 characters in it.

[2021-12-24 09:35] parthg-wysa commented on #392
Hi. Is this supported on the latest version of Hoppscotch @liyasthomas?

[2021-12-24 09:46] liyasthomas commented on #392
No it's not. Supported at this moment.

[2021-12-24 09:52] parthg-wysa commented on #392
Oh, Thanks. Are there any plans of supporting this in the near future?

[2021-12-25 20:36] rakshit087 commented on #1953
@PortStone can you please share a SocketIO url with bearer I am working on this feature, but unable to test it.

[2021-12-27 01:31] liudonghua123 commented on #2038
@liyasthomas Thanks, I tried to remove all the `node_modules`, `/.pnpm-store`, `packages/hoppscotch-app/dist` and tried `pnpm install`/`pnpm run generate` again, it seemed ok now. Maybe the files in my node_modules are corrupted.

[2021-12-27 01:31] #2038 closed

[2021-12-27 11:39] adityakoushikr11 opened #2043 "[bug]: Team registration is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I logged into the hoppscotch account and went to my profile section and tried to create team, i am getting the below error.
`{
  "errors": [
    {
      "message": "auth/fail",
      "locations": [
        {
          "line": 2,
          "column": 3
        }
      ],
      "path": [

[2021-12-27 11:42] liyasthomas commented on #2043
Teams feature is not available for self hosted instance at the moment, hence closing. Stay tuned for the Hoppscotch self-hostable insurance support is feel free to use the cloud version on Hoppscotch.io.

[2021-12-27 11:42] #2043 closed

[2021-12-27 13:20] adityakoushikr11 commented on #2043
@liyasthomas Where do we get the cloud version of hoppscotch

[2021-12-27 13:22] liyasthomas commented on #2043
On [Hoppscotch.io](https://hoppscotch.io). Sign  up and enjoy the Team features.

[2021-12-27 17:57] PortStone commented on #1953
Yes, I am working on it.

[2021-12-27 17:59] rakshit087 commented on #1953
PR? or Token?

[2021-12-27 22:08] PortStone commented on #1953
Token so you can test it out.

[2021-12-28 02:57] kidonng opened #2044 "[bug]: Pasting URL doesn't work properly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When viewing the page on mobile, pasting the URL and then press the send button immediately doesn't actually change the URL being requested. I have to actually _edit_ the URL once, even if just moving the cursor a bit is enough (obviously, focusing the input does not qualify as pasting will r

[2021-12-28 03:25] #2044 closed

[2021-12-28 03:37] kidonng commented on #2044
Wow, that's fast 🚀
Confirmed it's been fixed. Thanks @liyasthomas!

[2021-12-28 03:55] kidonng opened #2046 "[feature]: trim leading and trailing whitespaces in URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently leading and trailing whitespaces in the URL field are valid and will be included in the request.
It is expected that they are trimmed/removed, at least when sending the request.

### Why should this be worked on?

This does not make sense since they are rarely a part of the URL. What's more

[2021-12-28 04:06] #2046 closed

[2021-12-28 04:47] kidonng commented on #2039
I was about to report the same issue and almost ignored this one due to its title being written in Chinese but for I can read it.
Back to the topic, this seems to be related to the fact that [`<SmartEnvInput>`](https://github.com/hoppscotch/hoppscotch/blob/724e1e4c8f8e60d7e7e381cc0f1f7cb7e8388221/packages/hoppscotch-app/components/smart/EnvInput.vue)

[2021-12-28 04:57] kidonng commented on #2039
FYI, you don't have to use an actual CJK IMEs to reproduce the bug. Regular. IMEs on mobile should trigger it pretty easily.

This is how the prediction/pre-edit/composition should look like normally:

https://user-images.githubusercontent.com/44045911/147529525-37406a43-ce3b-46af-ab78-6f40a72ffd87.mp4

In `<SmartEnvInput>`, the prediction is interruptted and resumed on every keystroke, and it can

[2021-12-28 17:04] AndrewBastin commented on #2039
@kidonng thank you for the detailed info!

The EnvInput system is a bit complex system so this might take a bit of time to get fixed.

Meanwhile will a toggle setting to disable EnvInput suffice for the meantime ? (cc: @liyasthomas)

Also, we would really love help if you are able to fix it as I personally don't have experience working with IMEs.

[2021-12-28 17:48] anwarulislam opened #2047 "[bug]: request payload is missing while import cURL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Request payload does not appear in the request while importing request from cURL

### Steps to reproduce

I checked that there is data-raw for raw request payload which is not parsing currently with the current parser. I've already fixed the bug locally. updating my PR for this bug.

### Envi

[2021-12-28 20:24] PortStone commented on #1953
I have made a simple Node.js server that won't accept your socket connection unless you are authorized. It will work if you send a bearer token: `Authorization: Bearer password`. You should now be able to test it out.

https://github.com/PortStone/socketio-test

[2021-12-29 01:16] #2047 closed

[2021-12-29 06:00] rakshit087 commented on #1953
Great Thank you so much!

[2021-12-29 17:58] rakshit087 opened #2049 "[bug]: Websocket Server is not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I am trying to connect to Websocket connection on
```wss://hoppscotch-websocket.herokuapp.com```
It is giving me error
![image](https://user-images.githubusercontent.com/50898928/147690279-efcd7f39-a07b-494b-807e-50032cebc4b4.png)

### Steps to reproduce

1. Go to [Hoppscotch](https://ho

[2021-12-30 14:54] kai250555 opened #2052 "Current"

[2021-12-30 14:55] #2052 closed

[2021-12-30 15:02] kai250555 opened #2053 "Current"

[2021-12-30 15:03] #2053 closed

[2022-01-01 03:40] liyasthomas commented on #2049
This was possibly due to our Heroku server being idle for a while. This has been resolved now.

[2022-01-01 03:40] #2049 closed

[2022-01-01 08:14] #1953 closed

[2022-01-01 08:17] #1997 closed

[2022-01-01 08:19] liyasthomas commented on #1196
We can track the persistence of the active tab in another issue, hence closing.

[2022-01-01 08:19] #1196 closed

[2022-01-03 17:14] EdwinFajardoBarrera commented on #1583
Is this available? Is it has any progress? I would like to contribute.

[2022-01-04 04:19] liyasthomas commented on #1583
Hi @EdwinFajardoBarrera, seems like this feature request is not assigned to anyone - let me know how you'd approach this feature.

[2022-01-04 19:39] nesar77 opened #2055 "[bug]: Cannot read properties of undefined"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Using the web client I try to send a GET or POST I'm not able to get a response

### Steps to reproduce

1. Open the web client
2. Set an environment
3. Open a collection
4. Create a Request
5. Check settings
6. Send the Request
7. On the browser console I get
Uncaught (in promise) TypeError:

[2022-01-05 00:44] liyasthomas commented on #2055
Can you share your request setup to reproduce this error?

[2022-01-05 06:50] nesar77 commented on #2055
Hi @liyasthomas,
the endpoint value is https://geo.portalecomuni.net/devrest and the request is https://hopp.sh/r/449ETKC8dOdz

[2022-01-05 08:27] ranjit-git opened #2056 "Potential security vulnerability"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

security bug

### Steps to reproduce

@li Hi a potential security vulnerability has been disclosed to huntr against your repo .
Plz validate this report https://huntr.dev/bounties/5135f71a-8acd-4ac2-ba45-52b1c78155bb

### Environment

Production

### Version

Cloud

[2022-01-05 09:07] AndrewBastin commented on #2056
@ranjit-git please give us a little bit of time to triage and resolve the issue before opening up an issue in Github as we do follow huntr.dev reports closely so that we can reduce spam in the repo and also give us a chance to resolve the vulnerability under the hood before a fuilly public disclosure.

Also, I have left a comment on Huntr regarding the validity of this report.

Thank you for your

[2022-01-05 09:07] #2056 closed

[2022-01-05 14:40] AndrewBastin commented on #2055
Should be fixed in https://github.com/hoppscotch/hoppscotch/commit/ac979239e851ce30653e26004833231dde48756c

[2022-01-05 14:40] #2055 closed

[2022-01-05 20:52] EdwinFajardoBarrera commented on #1583
Hi @liyasthomas, sorry for the waiting time, I have some ideas:

I would like to add the kebab menu on the right side of saving options (with a 'tooltip' with configuration meaning). I have the idea of adding inside this menu a number input (with default 1 as count) and adding each response in the result, maybe separated by a visual element.

Another idea is to add another tab, especially for loop

[2022-01-06 12:03] liyasthomas commented on #2039
It would be great if you can test this deploy preview and see if the error persists or not: https://61d6d0188edaf8000885e501--hoppscotch.netlify.app/

cc: @maidou883, @zsxeee, @kidonng

[2022-01-06 13:20] zsxeee commented on #2039
LGTM on Microsoft IMEs

[2022-01-06 15:18] #2039 closed

[2022-01-06 19:22] slifty opened #2058 "[feature]: explicit UI for protocol (e.g. http / https)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Thank you for the wonderful project!

As a new user it took me a little while to figure out why my calls to `localhost` or `127.0.0.1` weren't working, even with the browser extension installed.  I eventually tried typing `http://` before the domain and it worked.

I think of the URL input the same wa

[2022-01-06 23:50] liyasthomas commented on #2058
This seems like a genuine UX improvement though, I'd suggest not to introduce a drop-down for `http` and `https`. Instead, appending `https` by default to URLs without a protocol and or unless it's mentioned `http`. What do you think?

[2022-01-07 01:58] kidonng opened #2059 "[bug]: pasting stops working after repeating several times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Pasting stops working after repeating several times. I can not verify if this only limited to mobile IMEs at the moment.

https://user-images.githubusercontent.com/44045911/148478542-0c48e582-67c2-4ba8-8a2f-c618649ad63a.mp4

### Steps to reproduce

1. Open Hoppscotch
2. Input some text
3. Sel

[2022-01-07 02:12] slifty commented on #2058
That makes sense (I was absolutely just spitballing regarding the drop down)

Regarding default of HTTP vs HTTPS -- phewf this is a tough one.

I appreciate the merit of HTTPS default from a security perspective.  That said if a primary use case is testing development environments I don't know if prepending https by default would address the concern raised by the issue. I think it's a common patte

[2022-01-07 04:14] liyasthomas commented on #2059
This doesn't seem to be an issue directly related to Hoppscotch. I can reproduce this behavior in other websites (fox ex: GitHub's search bar etc). Most probably this had something to do with Gboard or the client-side IMEs.

There's no error while I used another IME on Android. Hence closing.

[2022-01-07 04:14] #2059 closed

[2022-01-07 04:24] kidonng commented on #2059
Thanks for investigating! I just noticed this seems to happen on websites only, not for inputs in native apps. Will try report to Gboard.

[2022-01-07 05:05] kidonng commented on #2039
Late for replying but unfortunately I was busy and didn't got the time to submit a fix myself.

The related PR works great, however one issue still remains: backspace key on IMEs can still be funky:

https://user-images.githubusercontent.com/44045911/148494668-7e0f693d-da80-491f-b5d8-0a1f4897d37d.mp4

[2022-01-07 16:14] leandro-toledo-uux commented on #1667
Hi @liyasthomas , i'm not fluent in frontend (vue), but realized the GTM variables is used in compile client time, right?
In that case, only the firebase parameters will be taken into account, I mean, in a container restart, right?

[2022-01-07 20:15] leandro-toledo-uux commented on #1843
Hi @kani , there is something not clear to me yet... are you hosting only the files generated in "dist" directory? I mean, did you get the files from /dist and moved to another directory (the one which apache point to)? What about firebase configuration? I mean, it is not in the dist folder, how it is supposed to work since it is only serving static files...  thanks

[2022-01-08 05:36] kani commented on #1843
@leandro-toledo-uux

You can follow the steps here for hosting your own version,
https://github.com/hoppscotch/hoppscotch/wiki/Hosting

Update .env.example file found in packages/hoppscotch-app with your own keys and rename it to .env.

Here is the contents of my folder if that helps.

![image](https://user-images.githubusercontent.com/163713/148632940-a2e17889-f3a7-4774-95d6-473073881d22.png)

I

[2022-01-08 07:52] juzhiyuan commented on #2018
Hi @Link2Twenty, would you like to draft a detailed proposal?

[2022-01-08 07:54] juzhiyuan commented on #1831
Hi @liyasthomas, may I know where could I find the Roadmap? 😄

[2022-01-08 08:48] liyasthomas commented on #1831
We have a private roadmap. Hopefully, we'll be able to publish it publically one day.

[2022-01-09 08:11] eaccmk opened #2062 "Unable to load https://hoppscotch.io/ Microsoft Edge"
I am unable to load https://hoppscotch.io/ Microsoft Edge
- MS Edge Version 96.0.1054.62 (Official build) (64-bit) 👎
- On Chrome, it works like a charm 👍

![image](https://user-images.githubusercontent.com/19251569/148632350-60e4b866-110c-45e6-b3b3-3ecf2383f428.png)

[code]

[2022-01-09 08:25] liyasthomas commented on #2062
I can't reproduce this behavior in the latest Edge version `97.0.1072.55 (Official build) (arm64)` on the macOS M1 machine. Try to clean the cache of `hoppscotch.io` and reload again. If the issue persists, try updating the browser to the latest version.

cc: @AndrewBastin is this reproducible in Windows OS at your end?

Screenshot:

<img width="1440" alt="Screenshot 2022-01-09 at 1 52 42 PM" src=

[2022-01-09 08:35] AndrewBastin commented on #2062
This issue is due to the fact that by default Edge's "Secure Mode" disables WebAssembly to the pages.

Hoppscotch uses WebAssembly to implement it's scripting sandbox.

More info and ways to resolve it are documented here: https://github.com/microsoft/vscode/issues/137704

[2022-01-09 09:59] AndrewBastin commented on #2062
@eaccmk if the above solution works for you then we can close this issue.

Although a failsafe for WASM might be cool in the future.

cc: @liyasthomas

[2022-01-09 10:28] eaccmk commented on #2062
Thanks for super fast response 🚀  @AndrewBastin  and @liyasthomas

- It seems like a MS Edge issue for Windows users

- Go to `edge://settings/privacy/secureModeExceptions` on your MS Edge browser (Windows)
- Click **Add a site** button and add `https://hoppscotch.io/` to List of Exceptions

![image](https://user-images.githubusercontent.com/19251569/148678367-eb983c45-7293-4fef-9a7b-a1a2cfa4c34e.

[2022-01-09 10:28] #2062 closed

[2022-01-09 10:45] AndrewBastin commented on #2062
@eaccmk thank you! Means a lot!

But just for letting users know what is the issue and to handle this error more gracefully, we are planning to add support for proper in app errors and a failsafe to let the users know of the issue.

[2022-01-11 02:31] catroll opened #2063 "[feature]: suggest: add tag postwoman for giithub search"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

RT

### Why should this be worked on?

for github search

[2022-01-11 02:35] liyasthomas commented on #2063
I've added the `postwoman` topic to this repo, hence closing.

[2022-01-11 02:35] #2063 closed

[2022-01-11 07:20] zlay0701 commented on #2015
can add https://github.com/brix/crypto-js ?

[2022-01-11 17:01] AndrewBastin commented on #2058
@slifty @liyasthomas

I am not a big fan of things like this being implicit. So what about a behaviour like this:

[The UI has no changes from the current UI]

1) User inputs the URL without a protocol definition
2) User clicks the send button

3) Hoppscotch checks the URL string and looks for the presence of the Protocol Definition
    - Nothing happens if a protocol is already defined
    - If a

[2022-01-11 17:02] liyasthomas commented on #2058
Sounds good to me

[2022-01-11 20:57] sergeidyga commented on #1425
+1. Hi! I also find this feature to be widely used. And it looks like a blocker for our team to migrate from Postman to Hoppscotch.

[2022-01-12 03:23] slifty commented on #2058
Thank you @AndrewBastin that is a perfect improvement (and I appreciate the desire to not touch universal UI without really really good reason; thank you!)

[2022-01-12 21:33] mdbetancourt commented on #874
is this issue abandoned? would love to have client credentials

[2022-01-14 15:11] leandro-toledo-uux commented on #2043
@liyasthomas , is there a plan to have teams feature for self-hosted instance?

[2022-01-14 15:16] liyasthomas commented on #2043
We do have plans to support collaborative features like Teams to our self-hostable instances. Follow the project on GitHub for the product updates.

[2022-01-14 17:00] tomaszkane commented on #1817
I also want to have self hosted hoppscotch without firebase and any third party dependencies.

[2022-01-15 20:30] bartolomej opened #2064 "[bug]: 503 Service Unavailable error for hoppscotch-websocket.herokuapp.com"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current behavior

When I open https://hoppscotch.io/realtime subpage to play around with websockets I get the bellow error in logs:

![Screenshot 2022-01-15 at 21 29 12](https://user-images.githubusercontent.com/36109955/149636778-7de2ef67-61ff-473d-94f1-8a22d996996b.png)

Turns out the websockets server is do

[2022-01-16 11:39] kyteinsky commented on #1833
It is an issue similar to [this one](https://stackoverflow.com/questions/49771811/postman-ordering-of-fields-in-form-data-request/53756457), that was posted for postman originally. So essentially `0` is alphabetically ordered and placed before `map` in the request, which causes the issue here.

It can be a simple fix to work on, just ensuring all file fields come after the `map parameter`.

Do I h

[2022-01-16 11:41] liyasthomas commented on #1833
Hi @kyteinsky, you can give this a try. Do let us know if you've any doubts on the source code.

[2022-01-16 11:41] kyteinsky commented on #1833
Sure thing. Thanks!

[2022-01-17 03:56] liyasthomas commented on #2064
Possible duplicate of #2049.

https://github.com/hoppscotch/hoppscotch/issues/2049#issuecomment-1003496894

[2022-01-17 03:56] #2064 closed

[2022-01-17 06:41] watchingfun opened #2066 "[feature]: curl can't parse the url without the protocol header correctly."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

anwarulislam:bug/body-missing-onimport https://github.com/hoppscotch/hoppscotch/pull/2048
I have cleared the cache and reloaded, but I still can't parse the request body. In addition, I can't parse the url without the protocol header correctly.

### Why should this be worked on?

curl -X PUT "localhos

[2022-01-17 06:53] liyasthomas commented on #2066
I guess you should add a space between `-d` and `'`.

This cURL works for me:
[code]

Keeping this issue open to fix protocol being `null` if empty.

[2022-01-17 06:57] watchingfun commented on #2066
sorry, my bad,miss space

[2022-01-17 14:56] AndrewBastin commented on #2058
@RishabhAgarwal-2001 you can work on this

[2022-01-17 14:56] RishabhAgarwal-2001 commented on #2058
Sure!

[2022-01-18 05:13] shanushawanjha opened #2068 "[bug]: Unable to Create Teams"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I have deployed the Hoppscotch on my server using docker compose, as mentioned I have changed google's credentials in .env file, Created firestore database, and everything else is working fine but when to try to load teams or create a team it not working it is showing "something went wrong" m

[2022-01-18 05:19] liyasthomas commented on #2068
Collaborative feature like Teams is not available for self-hosted instances of Hoppscotch yet. Follow the project on GitHub to get product updates fit the upcoming self-hostable Hoppscotch instances.

[2022-01-18 05:19] #2068 closed

[2022-01-18 10:43] baiy opened #2069 "[bug]: pnpm run generate dist filesize increase"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current behavior

![image](https://user-images.githubusercontent.com/2341581/149922276-5ca8b50c-6643-417a-8349-58f15ad39ac5.png)

dist-git-647c347 => <https://github.com/hoppscotch/hoppscotch/tree/647c347eb143096b162f4cda0a0217c195b3f60c>
dist-git-7f7338fa => <https://github.com/hoppscotch/hoppscotch/tree/7f73

[2022-01-18 15:49] mateusmlo opened #2070 "[bug]: application/x-ww-form-urlencoded body gets an unexpected =undefined appended at its end"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I try to send a POST request that requires an application/x-ww-form-urlencoded body, it gets appended an =undefined at its end, which makes the request fail.
![image](https://user-images.githubusercontent.com/13263031/149969870-fd4f31b1-968b-42a6-97c6-4ff8658efaf0.png)

### Steps to repr

[2022-01-18 17:30] AndrewBastin commented on #2069
@baiy I don't see how this issue is of concern. Hence I am closing this issue for now.

We do not optimize for build sizes, we optimize for size of content transferred over the network by clients, hence Hoppscotch build generation generates a lot of code/assets which may or may not be used by the end user.

For an average user, Hoppscotch has to load about 5MB worth of network resources to be used

[2022-01-18 17:30] #2069 closed

[2022-01-19 20:40] Dhanush-git opened #2072 "Error when I send a api request with Authorization Bearer token [bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

when I make a post request to my server I get an error
![image](https://user-images.githubusercontent.com/26784741/150209679-84527f1d-3c04-41df-8850-d5409e0d87b7.png)

when I send the request using a .rest file it works fine

### Steps to reproduce

Make a post request with an authorization b

[2022-01-19 20:46] #2072 closed

[2022-01-19 20:46] Dhanush-git commented on #2072
solved

[2022-01-20 10:53] urbalazs opened #2075 "[bug]: Untranslated string"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Current behavior

The string "Untitled request" is not marked as translatable. It appears [6 places](https://github.com/hoppscotch/hoppscotch/search?q=%22Untitled+request%22) in the source code.

### Steps to reproduce

On the GUI, click the "Save" button. The default name of the new request is "Untitled reque

[2022-01-20 11:17] Schloemicher opened #2076 "[feature]: use env variables in environments"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

![image](https://user-images.githubusercontent.com/17760063/150327069-15b67398-c86e-499d-b9a8-ca500a95b62c.png)

![image](https://user-images.githubusercontent.com/17760063/150327205-4ca4da4d-7c3f-4636-adb7-7c6b185d3bca.png)

result: `<<base>>` resolves "test.example.org" if environment "Host 1" is ch

[2022-01-20 11:25] liyasthomas commented on #2076
Hi @Schloemicher, thank you for this feature request. This sounds like a good-to-have feature.

[2022-01-20 14:04] rakshit087 commented on #2075
Shall I add the translation under "error" of `en.json`? or something else?

[2022-01-20 16:43] kitch opened #2078 "[feature]: Support exporting single collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today when you do an export it exports JSON for ALL of the requests/collections in hoppscotch. It would be nice to be able to export just a single collection.

### Why should this be worked on?

It's a common use case to share collections between team members. However, it's tedious to export all colle

[2022-01-21 12:22] AndrewBastin commented on #1990
Hi guys,

We have pushed (https://github.com/hoppscotch/hoppscotch/commit/588d1119b5ea98e6fbe404a32330f1f4e636c598) a new importer system with revamped Postman/Insomnia/OpenAPI Spec importers.

Please have a look and see if any issues persist now.

[2022-01-21 12:24] AndrewBastin commented on #1833
@kaname-png does the implementation in the PR #2067 fix the issues for you ?

You can test the implementation using this Deploy Preview URL: https://deploy-preview-2067--hoppscotch.netlify.app/

[2022-01-21 12:27] AndrewBastin commented on #2066
@kyteinsky do you want to pick this issue up ?

[2022-01-21 12:39] kyteinsky commented on #2066
@AndrewBastin

With pleasure.<br>Just to make sure I understand the issue here, the protocol has to be inferred and prepended if not given, right?

If it's
- localhost (and local ip?) => http
- anything else (not mentioned) => https

<br>

And which origin is being talked about here?

[2022-01-21 12:52] AndrewBastin commented on #2066
@kyteinsky

Its: https://developer.mozilla.org/en-US/docs/Web/API/URL/origin

We use the URL API to parse the URL which gets imported from cURL but it seems to not be working correctly.

Also another possible implementation, we could rewrite the entire cURL Importer system under [insomnia-importers](https://www.npmjs.com/package/insomnia-importers) which will be more better overall. We can impleme

[2022-01-21 22:50] Xairoo opened #2079 "[bug]: Tests not updating with faulty code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I add a faulty test condition, it won't get updated.

[code]

Results in an outdated (previous, previous, previous, ...) title and test condition.
For example above code shows me twice `Expected '200' to be '200'` (I had `pw.expect(pw.response.status).toBe(200);` in the second test befor

[2022-01-21 22:54] xairoo opened #2080 "[feature]: Active tab (JSON, Raw, Headers, Test Results) should not reset after sending request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When checking the test results I want to keep this tab active, also after sending the request.
Currently the active tab changes to JSON after sending the request.

The current active tab should stay active ;-)

### Why should this be worked on?

Productivity increase ;-)

[2022-01-22 08:18] Xairoo commented on #2079
That was caused because of a bad written test condition.

This works:
[code]

But having a faulty test will trigger this issue, handling such issues could be improved.

[2022-01-22 17:35] kaname-png commented on #1833
@AndrewBastin I can confirm that the problem has indeed been solved.

[2022-01-22 17:40] AndrewBastin commented on #1833
No worries! Thank you for confirming the fix and your continued contribution to the project! ♥️

[2022-01-22 21:00] #1833 closed

[2022-01-23 10:44] AndrewBastin commented on #2079
Acknowledged, we will be looking into this issue.

[2022-01-23 14:32] Xairoo commented on #1425
100% agree. Makes things so easy.
Also missing `console.log` output for some debugging when writing tests or pre-request scripts.

[2022-01-23 15:26] #1990 closed

[2022-01-23 15:46] #1993 closed

[2022-01-23 15:48] liyasthomas commented on #470
Hoppscotch now supports importing Open API and Swagger specification files.

Goto Collections > Import / Export window > Import Open API

[2022-01-23 15:48] #470 closed

[2022-01-23 15:50] liyasthomas commented on #1068
Closing this issue in favor of #2020.

[2022-01-23 15:50] #1068 closed

[2022-01-23 15:52] #1896 closed

[2022-01-23 15:54] liyasthomas commented on #1544
Refactored the current code generator implementation and released codegen v2: https://github.com/hoppscotch/hoppscotch/commit/2ec401c7662d373bff5432f05a84001dcbdbbd15

[2022-01-23 15:54] #1544 closed

[2022-01-24 05:05] liyasthomas commented on #2070
Fixed in https://github.com/hoppscotch/hoppscotch/commit/10a54d14c220f55874d0d482bfe3a9fd1e3b678d

[2022-01-24 05:05] #2070 closed

[2022-01-24 05:21] uzaxirr commented on #1817
Hey @liyasthomas
Any progress on this one?

[2022-01-24 05:23] liyasthomas commented on #1817
We're deferring self-hostable Hoppscotch instances to Q2-Q3 2022.

[2022-01-24 10:52] #2058 closed

[2022-01-24 12:52] soracoder commented on #470
That's a fantastic feature, but It will be awesome if it can get the OpenAPI json from a URL instead of having to download the file and load it manually.

[2022-01-24 12:54] liyasthomas commented on #470
Track the feature request to import collections from URL here: #2020.

[2022-01-24 16:01] AndrewBastin commented on #2079
@RishabhAgarwal-2001 do you want to pick this up ?

[2022-01-24 16:24] theMasix commented on #1990
I get this error while importing a Postman collection
<img width="632" alt="Screen Shot 2022-01-24 at 7 51 20 PM" src="https://user-images.githubusercontent.com/22872117/150822098-5f811151-507b-40e6-810e-c2733fbae6af.png">

It seems there is a file-size limitation on the server (description of 413 HTTP status code). The postman collection size is ~6MB.

I know it's not probably a bug from the clie

[2022-01-24 16:24] LOG67 opened #2084 "[bug]: ensureMethodInEndpoint does not observe values in environment variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The newly added feature in 20bfd1658a67f42134f68934c04b81ad29e74963 breaks if you have environment variables with values like 'http://localhost' and 'https://staging.com'. It will still add https:// at the beginning of the URL.

### Steps to reproduce

Create environment variables as base URL

[2022-01-24 17:22] #2084 closed

[2022-01-24 19:17] AndrewBastin commented on #1990
@theMasix can you open this as a separate issue and mention this is for Teams ? Thank you!

Also would appreciate if you could give me the count of collections/folders/requests in the Postman Collection you are trying to import.

Thanks!

[2022-01-25 01:22] pedromvu opened #2085 "Import into team collection error "request entity too large""
Hi, I am hoping this might be due to something on my side as I couldn't find anyone else with the problem, but for me this is happening when trying to import collections from as low as 145Kb (haven't tested at what point it starts working)

I can import the files to my collections, but if I want to import be it from my collections, postman, github gist or hoppscotch file it's always the same error

[2022-01-25 05:54] RishabhAgarwal-2001 commented on #2079
Sure! You can assign it to me.

[2022-01-25 09:34] AndrewBastin commented on #2085
This issue happens when you are dealing with Hoppscotch for Teams right ?

Can you also let me know the number of collections/requests/folders which you have in the collection you are trying to import

[2022-01-25 12:39] christopheblin opened #2086 "[feature]: Support for Path Variables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I import the petstore collection and I try to use a method with a path variable inside, the app does not provide an easy way to provide them

![Capture d’écran 2022-01-25 133509](https://user-images.githubusercontent.com/11044877/150978031-33b2b514-3756-49e0-8bb0-45f2c14d11fd.png)

I kno

[2022-01-25 12:46] christopheblin opened #2087 "[bug]: openapi support for post/put does not preload the body"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

After importing an openapi doc, I expect to be able to do post/put request easily but except the path nothing is preloaded !

![Capture d’écran 2022-01-25 134302](https://user-images.githubusercontent.com/11044877/150979035-23753e92-9b9e-44fa-81e0-2a45784f6552.png)

At least, I'd expect to pr

[2022-01-25 18:38] ChadDa3mon opened #2089 "[bug]: Unable to login via GitHub or Google - Selfhosted (Docker)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I have installed a new instance of Hoppscotch using the docker run command in the [documentation](https://github.com/hoppscotch/hoppscotch#docker). When I try to log in with GitHub or Google, it fails. Email also fails, but that is to be expected in this environment.

With GitHub or Google, a

[2022-01-26 00:51] pedromvu commented on #2085
Yes only on Teams,

The smallest file I have failing is just one collection, 9 folders, 43 endpoints, 145Kb in size

[2022-01-26 07:29] lsv opened #2090 "[bug/feature]: Please dont use google translate for translations (fx danish)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Please dont allow google translated translations, google can not translate english to correct danish without context.

As you know, "body" can be multiple things on english, and yes, when google translated it uses body (as in human body), but that doesnt mean the same thing on danish. Actuall

[2022-01-26 08:17] WilliamPeralta opened #2091 "[feature]: DB-less and Declarative Configuration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

DB-less and Declarative Configuration

### Why should this be worked on?

Hi Guys, I was looking through the documentation and I did not find anything, it would be nice to have the possibility through environment variable / config file or other to be able to initialize "hoppscotch" statically without

[2022-01-26 09:36] liyasthomas commented on #2091
We've plans to decouple our DB instances and allow developers to use their own DB and back-end providers on a self-hostable instance. We have an active issue ticket on #1817.
https://github.com/hoppscotch/hoppscotch/issues/1817#issuecomment-1019733192

[2022-01-26 09:36] #2091 closed

[2022-01-26 09:41] liyasthomas commented on #2090
Thank you for noticing the mistakes in our i18n translations. I'd appreciate it if you can help us to translate Hoppscotch into Danish. Please read [TRANSLATIONS guide](https://github.com/hoppscotch/hoppscotch/blob/main/TRANSLATIONS.md) for details on our [CODE OF CONDUCT](https://github.com/hoppscotch/hoppscotch/blob/main/CODE_OF_CONDUCT.md), and the process for submitting pull requests to us.

[

[2022-01-26 09:41] #2090 closed

[2022-01-26 09:45] liyasthomas commented on #2089
As mentioned in our [development guidlines](https://github.com/hoppscotch/hoppscotch#developing), environment variables need to be updated with your own Firebase keys to make the Authentication system work - sample environment variables only work for the production channel.

[Read more about hosting Hoppscotch](https://github.com/hoppscotch/hoppscotch/wiki/Hosting#firebase-dependency).

[2022-01-26 09:45] #2089 closed

[2022-01-26 13:08] Townsheriff commented on #1546
Hey,

I'm wondering why this is closed with no explanation? I'm having same issue. If the logs and test case are missing I can sure provide it.

In my case I have one "Set-Cookie" in the curl and nothing in the headers response in the hoppscotch.

[code]

Maybe this is somewhat related with httponly. httponly is a cookie that is not accessible through javascript and is automatically attached to re

[2022-01-26 19:17] VladBullet opened #2092 "[feature]: Export collections as Postman accepted file (Raml / Curl, OpenApi)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Export collections as Postman accepted file (Raml / Curl, OpenApi/ etc)

### Why should this be worked on?

This would be a good solution for somebody to quickly jump between Postman and Hopscotch.
For example: I spent a lot of time setting up a collection with a lot of requests and only after that I

[2022-01-26 19:22] VladBullet opened #2093 "[feature]: More info from time / duration"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

More info from time / duration of request.
In postman, when you hover over the "time" label you will get a pop-up panel that shows you more details related to the time the request took to finish.
Check bellow picture for more info:

![postman_duration_example](https://user-images.githubusercontent.com

[2022-01-27 12:57] AndrewBastin commented on #2085
@pedromvu  Sorry for the delay. But, on the bright side we believe we have resolved this issue with a recent update.

Please check if your issue still persists.

Meanwhile, I am closing this issue.

[2022-01-27 12:57] #2085 closed

[2022-01-27 13:00] AndrewBastin commented on #927
@kyteinsky can you look into this on your PR as well ?

[2022-01-27 14:44] AndrewBastin commented on #2093
Unlike Postman, Hoppscotch needs to run in the browser and hence we are limited by the platform restrictions that put forth to us. Hence we are not going to be tackling this until the platform allows for it.

[2022-01-27 21:39] pedromvu commented on #2085
I just tried and it worked, thanks a lot

[2022-01-28 11:05] jopijuco opened #2094 "Request body with content type [x-www-form-urlencoded] doesn't read variables as values"
Scenario:
Doing a POST request passing values on the request body and hoppscotch does not accept the variables.

<img width="977" alt="Screenshot 2022-01-28 at 11 01 59" src="https://user-images.githubusercontent.com/25496954/151536077-6192c276-0189-4a20-b4bd-72e5b2531cfd.png">

If I remove the variables and use the values directly the request is made.
Thank you.

[2022-01-28 12:06] #2094 closed

[2022-01-28 12:08] AndrewBastin commented on #2094
@jopijuco this should be fixed in the latest update, let me know if it still persists

[2022-01-28 20:42] KaKi87 opened #2095 "[feature]: Disable redirects"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Disable redirects

### Why should this be worked on?

Disable redirects

[2022-01-29 03:12] pedromvu opened #2096 "[bug]: Importing file into team collections is limited to 10 folders at any given level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I import a collection from any source into my team collections, I noticed that if I have more than 10 folders at any given level, they are cutoff at 10, I included a simple collection to reproduce it, it has 11 folders, importing to my collections is correct, but to teams is missing fold

[2022-01-29 03:28] pedromvu opened #2097 "[bug]: Search not working on team collections"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I have the same collection as My Collections and Team Collections, but when I type any letter in Team Collections everything is filtered out, as opposed to the search on My Collections tab

### Steps to reproduce

1. Add some test folder to teams collections
2. Add a test endpoint to the test

[2022-01-29 12:56] AndrewBastin commented on #2096
We have identified this as a bug related to the way Team Collection Adapter works and we are working on fixing this issue. In the coming days.

Acknowledged.

[2022-01-29 15:30] WilliamPeralta commented on #1817
I leave you a little idea of ​​how to start with an openapi file,

I added this function on the "import / export" file where I load a docs.json file and using the "OpenApi" importer I load it and set it on the store.

it's a very crude solution, but just mount the edited file and the doc.json on the docker-compose and it works.

as soon as I have more time I look for a better solution.
Good work a

[2022-01-30 07:23] rakeshkr22 opened #2098 "[bug]: On minimizing, Team Collections are not able to view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

On minimizing, Team Collections are not able to view.

Full view SS :

![image](https://user-images.githubusercontent.com/10681753/151690516-4adb5fb1-fa7a-445d-b5e5-f6e7e61119f1.png)

Minimized view SS 1 :

![image](https://user-images.githubusercontent.com/10681753/151690546-fb129294-aeae-4c

[2022-01-30 07:26] liyasthomas commented on #2098
You should select a Team from the drop down to view it's collections. And on mobile screens you can scroll horizontally to switch to Teams tab completely whenever it's overflowing the UI space.

[2022-01-30 08:04] rakeshkr22 commented on #2098
@liyasthomas Thanks for the response. Yes, we can able to choose the team from drop down. But the case is that, the Team Collection tab name is not able to view on minimizing.

**Steps to reproduce** (with SS)
Working on Team Collection in full view.
![image](https://user-images.githubusercontent.com/10681753/151691533-072beecf-32a4-4d62-a5e3-041182ccae72.png)

Due to XYZ reason, minimized the PWA

[2022-01-30 08:05] liyasthomas commented on #2098
You can horizontally scroll on the tabs section, namely "My collections" and switch to Teams Collections.

[2022-01-30 08:11] rakeshkr22 commented on #2098
@liyasthomas Hope you mentioned below section for a horizontal tab.
![image](https://user-images.githubusercontent.com/10681753/151691910-3348503b-64a8-442e-a433-863d3c7b3c49.png)
But not able to find any horizontal tab there.

[2022-01-30 08:41] liyasthomas commented on #2098
Here's a demo on how to scroll horizontally on tabs:

https://user-images.githubusercontent.com/10395817/151692765-870a2ce6-5e1a-4013-bf8a-4f65cbe34548.mp4

[2022-01-30 08:41] #2098 closed

[2022-01-30 09:04] rakeshkr22 commented on #2098
@liyasthomas Thanks for the response with a video demo.
Closing the bug.

[2022-01-30 19:33] Zaffer opened #2099 "POST body does not allow URL as a parameter [bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I send a POST with a URL encoded parameter the api rejects it as the Hoppscotch encode it a second time.
![image](https://user-images.githubusercontent.com/51871197/151714410-0f142210-a1cb-48c6-8a18-7c714eb78cbc.png)

Given this set of input:

![image](https://user-images.githubuserconte

[2022-01-31 06:20] krishnadevpmelevila opened #2103 "[bug]: XSS TRIGGERED"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I add ```<img src=x onerror=prompt(9)>``` on the [profile page](https://hoppscotch.io/profile) as profile name, It will trigger XSS.

![image](https://user-images.githubusercontent.com/66047990/151747496-ea698a74-0dd8-44ce-ad47-02007a3656c0.png)

![image](https://user-images.githubuserco

[2022-01-31 10:01] #2103 closed

[2022-01-31 10:10] AndrewBastin commented on #2103
Thank you for the report @krishnadevpmelevila !

We have patched it in the latest build which should be live soon.

By the way seeing that you are a security researcher, for vulnerability disclosure it is the best to reach out to us over at [support@hoppscotch.io](mailto:support.hoppscotch.io) so we can resolve this easily and quickly.

[2022-01-31 11:39] krishnadevpmelevila commented on #2103
Sure, Thank you for accepting my report, If I found any more bugs I will directly mail to the above-mentioned mail id

[2022-02-01 08:27] AndrewBastin commented on #2019
Assigning this to @RishabhAgarwal-2001

[2022-02-01 08:59] #2079 closed

[2022-02-01 10:22] RishabhAgarwal-2001 commented on #2019
Sure!

[2022-02-02 16:40] leomp12 opened #2105 "[feature]: Set default env variable value"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Support setting fallback value to env variables with something like `<<baseUri | "https://api.io/v1/">>`.

**Alternative implementation**

It would also be feasible (not so friendly) if we can call `pw.env.get` (as Postman does) on Pre-Request Scripts:

[code]

### Why should this be worked on?

It wo

[2022-02-03 09:18] TeamPIDU opened #2106 "[bug]: teams sections showing just 10 teams"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Team section is creating just 10 teams, more team can be added but only 10 teams are being viewed ? is there any limit on teams for now or is this some unexpected behaviour/bug

### Steps to reproduce

Create Teams, from the 11the team onwards the new teams are hidden, once you delete a team

[2022-02-06 09:22] pkshefi opened #2107 "[bug]: when use paste an url with existing field, and undo it url comes besides the url instead of replacing the existing one"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

![Uploading Screen Shot 2022-02-06 at 12.21.22 PM.png…]()

### Steps to reproduce

1. Got to panel
2. Test with some GET https://www.anapioficeandfire.com/api/books
3. Delete the url and try some other test
4. Undo the current request

### Environment

Production

### Version

Cloud

[2022-02-06 10:12] pkshefi opened #2108 "[feature]: New request button"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a user i will be able to add a new request with a button

### Why should this be worked on?

As a user i will be able to add a new request with a button,
while tapping the button i will get to see cleared fields.
- easy of use
- can have quick query request as fast

[2022-02-06 10:18] liyasthomas commented on #2108
You can reset the current request setup to default state (`GET https:echo.hoppscotch.io`) by clicking the "Clear all" button under "Send options (send drop-down)". Attached is the screenshot.
![Screenshot 2022-02-06 at 3 44 45 PM](https://user-images.githubusercontent.com/10395817/152676270-542b85d5-312b-48f5-b273-a7aee2bffac6.png)

You cal also use the shortcuts:

<kbd>⌘</kbd> + <kbd>I</kbd> in M

[2022-02-06 10:18] #2108 closed

[2022-02-07 07:58] #2096 closed

[2022-02-07 07:58] #2106 closed

[2022-02-07 10:06] dschmucki opened #2113 "env variables not working in Authorization Type OAuth 2.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I try to use env variables to configure the OAuth 2.0 authorization type, the variables will only be recognized for the field "Token".

See:
![image](https://user-images.githubusercontent.com/1675109/152766979-e7167db5-0792-48af-9ae4-f74b9f01f87f.png)

### Steps to reproduce

1. Set up a

[2022-02-07 10:14] liyasthomas commented on #2113
Seems like you have not chosen an environment. Please go to the environments section and click on "No environment" drop-down to choose the environment that contains the `token` variable.

Here's a screenshot:

![Screenshot 2022-02-07 at 3 43 38 PM](https://user-images.githubusercontent.com/10395817/152768369-d10e6e57-c215-4e9a-af92-110ca60731b4.png)

[2022-02-07 10:16] liyasthomas commented on #2107
The screenshot is not visible, and I'm having trouble understanding this issue. Please re-open and describe the issue with a screenshot.

[2022-02-07 10:16] #2107 closed

[2022-02-07 10:19] dschmucki commented on #2113
Same with an active environment:

![image](https://user-images.githubusercontent.com/1675109/152769399-cacce3de-30eb-4c65-8131-0e952e6b8313.png)

[2022-02-08 00:22] liyasthomas commented on #2078
Users can now export and import a single collection. Implemented in https://github.com/hoppscotch/hoppscotch/commit/93ccf5dcf653f59aff69b46d4524cd125aa96768.

Click on the "Options" menu on any Collection / Folder > "Export"

Here's a screenshot:

![localhost_3000_](https://user-images.githubusercontent.com/10395817/152894316-bcc6e1e7-519a-4c65-a332-b7b6ca81012f.png)

[2022-02-08 00:22] #2078 closed

[2022-02-12 13:27] sudongyuer opened #2114 "[feature]: Support rsocket.js"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Support rsocket.js
I write a web devtool to support roskcet.js , but i think this repo to support it is better~
rsocket.js web devtool repo:https://github.com/HaiyaoTec/rsocketMan
![image](https://user-images.githubusercontent.com/76603360/153713126-bdcdc116-bcf4-46c8-a639-bd015fd4622d.png)

### Why s

[2022-02-14 00:28] liyasthomas commented on #2076
Implemented in https://github.com/hoppscotch/hoppscotch/commit/7fc757d79469d7bb72d8737aa87387fc693e4ac5, hence closing.

[2022-02-14 00:28] #2076 closed

[2022-02-14 00:38] liyasthomas commented on #2114
Hi @sudongyuer, your tool looks interesting and seems like a nice utility to debug `rsocket.js` connections. However, we don't have plans to add support to rsocket.js in Hoppscotch. I'll keep an eye out for this issue ticket and see if there are enough requests from the community to start working on this. Meanwhile, I'll close this issue.

[2022-02-14 00:38] #2114 closed

[2022-02-14 15:40] Tommyten commented on #1741
@Shylajhaa Any news on this? This feature would be a great addition, I'm looking forward to

[2022-02-15 13:32] carlreid opened #2120 "[bug]: Unable to import OpenAPI specification (Firefox)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I attempt to "Import from OpenAPI" to create a collection, the collection is not persisted.

Only tested on Firefox 98.0b4, seems to work fine in Chrome.

### Steps to reproduce

1. Go to "Collections"
2. Click the "Import / Export" button
![image](https://user-images.githubusercontent.c

[2022-02-15 13:39] AndrewBastin commented on #2120
@carlreid this is a known tiny issue, we are releasing hotfix in a couple of hours, in the mean time, you can just instead of double clicking on the select file dialog, use the Open button in the select file dialog to do the Import.

Meanwhile, keeping this issue open until the hotfix becomes live.

[2022-02-15 13:41] carlreid commented on #2120
@AndrewBastin Ah, great! I will close this then.

[2022-02-16 10:51] lapo-luchini opened #2121 "[bug]: cannot override Content-Type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I need to send a WSDL request as `text/xml`, but that's not available from the drop-down types, so I chose `application/xml` and tried overriding it in the Headers section. The request is still sent as `application/xml` and not with the header I requested.

### Steps to reproduce

1. create a

[2022-02-17 14:31] liyasthomas commented on #2099
Fixed in https://github.com/hoppscotch/hoppscotch/commit/819b111383b85592aa2cf3dc83f3c41ad851f8eb, hence closing.

[2022-02-17 14:31] #2099 closed

[2022-02-18 00:57] liyasthomas commented on #902
Environments now support nested variables (since  https://github.com/hoppscotch/hoppscotch/commit/7fc757d79469d7bb72d8737aa87387fc693e4ac5), hence closing.

[2022-02-18 00:57] #902 closed

[2022-02-18 07:55] igor-betin opened #2123 "[feature]: template in URL like {{hostname}}"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

It works in postman

### Why should this be worked on?

It's an obvious feature, to change server name with changing environment
It's the only missing feature preventing me from migrating from Postman at the moment

[2022-02-18 08:39] igor-betin commented on #2123
@liyasthomas
Then it's a different issue - when importing collections from postman, such URLs are blank

[2022-02-18 08:40] liyasthomas commented on #2123
Can you provide a sample file and instructions to reproduce the issue?

[2022-02-18 08:42] igor-betin opened #2124 "[bug]: When importing collection from Postman, URLs are lost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I import Postman collection 2.1 into Hoppscotch, all URLs are blank - because in my collection they all are {{hostname}}/...
I expect them to be imported as-is

### Steps to reproduce

1. Create collection in Postman
2. Set URL of a method to {{somevar}}
3. Export it to HS
4. Check URL o

[2022-02-18 08:43] igor-betin commented on #2123
@liyasthomas opened bug for it, will provide sample collection soon

[2022-02-18 08:49] #2123 closed

[2022-02-18 08:51] igor-betin commented on #2124
Sample one request seems to work, my production collection still doesn't, I will try to find absolute minimum to reproduce

[2022-02-22 17:33] #2066 closed

[2022-02-23 09:51] #927 closed

[2022-02-23 22:53] stellarpower commented on #1745
Hi, just checking if the artifacts feature has made any progress recently. Is this something that's made its way into the main branch? Cheers!

[2022-02-24 07:04] samuelj90 commented on #1601
@kritikmodi  This feature is working fine with latest version.
@liyasthomas  I think this issue can be closed.

[2022-02-24 08:11] lapo-luchini opened #2129 "[bug]: Editing environment no longer possible"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Clicking on "edit environment" opens a dialog no longer.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/420454/155484225-db26aa78-1c3d-4495-8882-e54eece95306.png)

### Environment

Production

### Version

Cloud

[2022-02-24 08:19] liyasthomas commented on #2129
Hi @lapo-luchini, can you check if there are any errors on the browser's console? Press <kbd>F12</kbd> to open console logs.

Also what happens when you click on the environment name? It's supposed to bring up the edit environment window. I can't seem to reproduce the issue at my end, would be helpful to see a screen record of bug reproduction with browser's console logs.

[2022-02-24 15:51] #1601 closed

[2022-02-24 15:54] AndrewBastin commented on #1745
@stellarpower This is a low priority issue as of right now, we have plans for a completely revamped `hs` API to replace the current `pw` scripting API with support for more stuff like artifacts and more solid foundation and structures for script authors.

[2022-02-24 17:27] lapo-luchini commented on #2129
Oh, sorry, I checked but I forgot to report: nothing happens in the console.

And I'm using the "installed" PWA (from Chrome Beta for Windows).

…but I can reproduce the problem also on Firefox when visiting the normal website.

[2022-02-24 17:28] lapo-luchini commented on #2129
It seems to be working in an incognito window, so I guess this is depending on my own "cloud sync'ed" data.

[2022-02-24 17:31] lapo-luchini commented on #2129
Everything console related (all appears on PWA reload, nothing more appears when clicking on name clicking or edit menu clicking):
<img width="799" alt="image" src="https://user-images.githubusercontent.com/420454/155576551-6f53861e-279e-4356-96b6-71446426a499.png">

[2022-02-24 18:54] stellarpower commented on #1745
Okay, thanks for the update! I will check back over time. If you're talking about better scripting with this, at a high level sounds like that might tick the boxes for this feature(?)

[2022-02-24 23:15] binamkayastha opened #2130 "[bug]: Team member see team collection if email is not lowercase"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Added my friend to a team collection with an uppercase email, but they couldn't see it until I re-added them with all lowercase values.

### Steps to reproduce

Invite new team member with uppercase email

### Environment

Production

### Version

Cloud

[2022-02-25 06:07] liyasthomas commented on #2130
@AndrewBastin, `GetInviteDetailsQuery` gives `team_invite/not_valid_viewer` error even if email is same but case-sensitive in `join-team.vue`.

[2022-02-25 07:32] AndrewBastin commented on #2130
Fixed in the latest backend patch.

[2022-02-25 07:32] #2130 closed

[2022-02-25 18:03] kyteinsky opened #2132 "[bug]: Save option overrides the request name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

### What I've been going through:

When I have a REST request saved in a collection with a certain name `xyz`, and I change some parameters of the request and then save it again the name of the request inside the collection is changed to `Untitled request`.

### What I expected to happen:

Th

[2022-02-26 07:41] AndrewBastin commented on #2132
Huh, I wasn't able to reproduce this on my end.

@liyasthomas  ?

[2022-02-26 08:11] kyteinsky commented on #2132
Nope, I checked it again and am able to reproduce the issue. This name `Untitled request` comes from `makeRESTRequest` in `curlparser.ts` from the name key.

[2022-02-26 09:52] lapo-luchini commented on #2129
Sync is working, as I just logged in a new Firefox and it did receive the 4 environments I use. But isn't editable here neither, so yes, most definitely something about the content that gets sync'ed.
Looks pretty normal though.
It's just structure like this, repeated 5 times:
[code]
Can I send you the (complete) JSON export to you privately? It doesn't contain anything excessively private, but I'd

[2022-02-26 18:37] AndrewBastin commented on #2129
@lapo-luchini hehe, I expected this to be a translation issue. Yeah, this could have been something that was lost in translation over to the new environments format. We will keep the issue open until we have a formal resolution of it.

Thanks so much for your help and collaboration! ❤️

[2022-02-27 06:35] kyteinsky commented on #2132
https://user-images.githubusercontent.com/20724224/155871257-8a32d5c6-07b2-4b67-b20e-fec41c94eb8d.mp4

[2022-02-27 09:12] AndrewBastin commented on #2132
Oh okay.

Now, to be honest, I have found many issues with the Curl Implementation after the PR was merged. We might have to work on a continuing PR to rethink and reorganize some bits. This time with stronger standards and testing implementation to reinforce things are working properly.

[2022-02-27 14:28] kyteinsky commented on #2132
I did test the curl parser extensively, but this definitely calls for thorough tests to be written.

With that aside, I don't believe this issue has to do anything with that PR. `makeRESTRequest` and `setRESTRequest` are causing this to happen. I need some more time to look through it.

[2022-02-27 15:08] TeamPIDU commented on #2106
Awesome Product and Awesome Team, thanks for the fix @AndrewBastin , keep up the amazing work guys @liyasthomas

[2022-02-28 10:49] etiennea opened #2135 "[feature]: Sync collection from URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Today you can import a swagger file from a URL, but as the swagger file changes the collection does not.

Ideally you would put that url, and it would sync say daily or more and maybe manually with a button.
Sync would keep all the secrets and credentials just add the new routes and remove the ones th

[2022-02-28 11:39] hungryseashell opened #2136 "[bug]: When importing from Postman, raw body is lost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I import a collection from postman with body type raw, it is lost in Hoppscotch.
I tried it with text and json data and the result was the same. There was no body after import.
(form-data type body for example imports just fine)

I expect them appearing in Hoppscotch after import.

### S

[2022-02-28 11:41] zersiax opened #2137 "[bug]: A lot of controls are not labeled for accessibility"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I view hoppscotch.io with a screen reader, a lot of buttons and anchor tags on the page have no discernible text, making it impossible to figure out what these controls are for. I expect these to be properly labeled as per WCAG standards so people who don't rely on their eyesight can mak

[2022-02-28 11:50] liyasthomas commented on #2137
Hi @zersiax, thank you for opening this issue ticket. I'll be trying our max to improve the screen reader experience and increase the overall site accessibility.

[2022-02-28 16:16] kkk669 opened #2138 "[feature]: Add support for PATCH method to OpenAPI importer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The current implementation of the OpenAPI importer seems to ignore PATCH requests when importing collections from an OpenAPI specification file. Please support it.

### Why should this be worked on?

Because the PATCH method is popular. For example, it's used by GitHub REST API, Google Cloud APIs, and

[2022-02-28 18:31] cpvandehey commented on #402
This feature would be a game changer!

[2022-02-28 19:02] micthiesen opened #2139 "[bug]: Downloaded PDF files are malformed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I attempt to download a PDF response, the downloaded PDF cannot be rendered (it is blank). Compare this to downloading the PDF directly from the browser, and it works.

### Steps to reproduce

1. Make a GET request for a PDF file, like `https://www.w3.org/WAI/ER/tests/xhtml/testfiles/res

[2022-02-28 19:32] AndrewBastin commented on #2139
@micthiesen Can you confirm which interceptor are you using ? Are you using None ? Proxy or the Browser Extension ?

[2022-02-28 19:33] micthiesen commented on #2139
I tried with both the Browser Extension (FireFox) and also with it disabled

[2022-02-28 19:37] micthiesen commented on #2139
I also just tested with Chrome (no extension) and it has the same issue. I'm using MacOS

[2022-02-28 20:57] AndrewBastin commented on #2139
Should be fixed in e9dc7769ac5d9e05e8a664ec702958e8726a67e0

@micthiesen please confirm on your end and let me know. <3

Closing the issue.

[2022-02-28 20:57] #2139 closed

[2022-02-28 21:05] micthiesen commented on #2139
@AndrewBastin it works! Thank you very much for the quick fix

[2022-02-28 23:02] frenchtoastbeer opened #2140 "[feature]: Would like access to btoa and atob functions from the pre-request script environment."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Like the title suggests, make base64 encoding and decoding available to the pre-request scripting environment.

### Why should this be worked on?

I confess I am unaware if btoa is in the ecmascript standard or not, but seeing as how its been in every execution environment I ever tried to use it in, I

[2022-03-01 07:48] morfin opened #2141 "Can't login via google, not any other way."
hoppscotch-app@2.2.1
Using node v14.15.5
Mac High Sierra 10.13.6

Hi,

Running hoppscotch with
`pnpm run dev` runs just fine but, I can't login with Google nor any other method. It throws this error:
`
FirebaseError: Firebase: Error (auth/invalid-api-key).
    FirebaseError webpack-internal:///../../node_modules/.pnpm/@firebase+util@1.4.3/node_modules/@firebase/util/dist/index.esm2017.js:850
    c

[2022-03-01 07:58] liyasthomas commented on #2141
Make sure you've followed the [development guidelines in readme](https://github.com/hoppscotch/hoppscotch#developing).

You need to rename [`.env.example`](https://github.com/hoppscotch/hoppscotch/blob/main/packages/hoppscotch-app/.env.example) file found in packages/hoppscotch-app to `.env`

And restart the local server.

Closing this issue, kindly re-open if the issue still persists.

[2022-03-01 07:58] #2141 closed

[2022-03-01 17:13] namantam1 opened #2143 "Error while creating folder with small length (A, v1, etc) inside a team collection"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

A proper message should be shown while creating a folder with small names. But its showing `something went wrong`

https://github.com/hoppscotch/hoppscotch/blob/6e7fab8d4fac298478b2a9e72bd419ff68228886/packages/hoppscotch-app/components/collections/index.vue#L522-L524

## Console logs (After

[2022-03-01 18:40] #2143 closed

[2022-03-01 18:55] namantam1 commented on #2143
Thanks for fixing, It was quick.

[2022-03-02 03:20] Sun-FreePort opened #2144 "[bug]: Chrome page is no response"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Hi, look at:

![147023CC-2E62-452c-98C6-2EE10E655CF9](https://user-images.githubusercontent.com/19473984/156287967-241eddb0-8422-47fb-a3e9-66d02709a03c.png)

The error has occasionally happening.

### Steps to reproduce

Nop, I not find any settled step, has some thread:

1. the error show wh

[2022-03-02 04:42] Sun-FreePort commented on #2144
And if you only choice API and open/close collection, the memory will up.

I restart page, and testing it, now is 330k memory occupy.....

[2022-03-02 06:19] liyasthomas commented on #2144
We're looking into this.

[2022-03-03 00:09] leomp12 commented on #2105
Not sure (not checked yet) if I was wrong when open the issue or the `pw.env.get` was really made available on Pre-Request Scripts as suggested.
Anyway, it's working now so I'm closing the issue 😃
Thanks!

[2022-03-03 00:09] #2105 closed

[2022-03-03 09:20] JacekAndrzejewski opened #2146 "[feature]: Remember selected collection and its state between launches"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Whenever I close PWA and open it again later I must reopen collection and expand all subfolders I'm working with every time.

### Why should this be worked on?

Clicking over multiple tabs (go from History to Collections, go to Team Collections, pick the collection) with every start is quite annoying.

[2022-03-03 21:36] anwarulislam commented on #2146
@AndrewBastin can we implement this?

[2022-03-04 00:21] mogarick commented on #2121
I'm in a similar situation.

I've just discovered Hoppscotch but the first test was for getting an AWS Cognito token.

For that purpose I need to send a `Content-Type: application/x-amz-json-1.1`.
Sadly Hoppsotch overrides my header with the on the Body tab (In my case `Content-Type: application/json` so I get a Cognito error:

[code]

Is this considered a high priority bug to solve or I better ge

[2022-03-04 09:27] nbraun-wolf commented on #392
One of the most basic features is not supported. I am surprised.

[2022-03-04 16:40] AndrewBastin commented on #2146
yup :)

[2022-03-04 16:57] AndrewBastin commented on #2144
@Sun-FreePort If you could take a Performance snapshot and Memory heap snapshot through DevTools and could share it in the given email `support [at] hoppscotch [dot] io`. We can use that info to find the target more easily.

Here is an article on how to create a heap snapshot using DevTools [it is a bit old though]: [https://commandlinefanatic.com/cgi-bin/showarticle.cgi?article=art038](https://co

[2022-03-04 17:21] AndrewBastin commented on #2135
Gotcha. I am just not really sure how the semantics of this will work cleanly in the context of Hoppscotch.

There are numerous cases that we have to think carefully about, for example, what would happen then to requests that have been modified and saved for example, how are we supposed to deal with them, for example. I do not know if it is exactly a great idea to implement it this way.

I am real

[2022-03-04 17:25] AndrewBastin commented on #2124
@igor-betin any updates ?

[2022-03-04 17:33] AndrewBastin commented on #2086
@christopheblin Thank you for opening the issue. We need a mechanism for Path Variables. (Currently we have none).
We will have a look at this soon.

[2022-03-06 20:45] KaviiSuri commented on #1873
Hey, I'd love to contribute to this issue. Is it still available?

[2022-03-07 07:54] AndrewBastin commented on #1873
@KaviiSuri You can take this on if you want!

Assigning to you!

[2022-03-07 07:57] xiaochao opened #2150 "[bug]: can not start via docker"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

 ERR_PNPM_RECURSIVE_RUN_NO_SCRIPT  None of the packages has a "do-prod-start" script

### Steps to reproduce

 docker run --rm --name hoppscotch -p 3000:3000 hoppscotch/hoppscotch:latest

Scope: all 4 workspace projects
 ERR_PNPM_RECURSIVE_RUN_NO_SCRIPT  None of the packages has a "do-prod-st

[2022-03-07 08:05] AndrewBastin commented on #2150
@xiaochao I can't reproduce this in my end, can you list out the platform you are using ?
Can you also try to delete the cache and pull the image again and see if it resolves the issue ?

[2022-03-07 08:58] xiaochao commented on #2150
system: CentOS Linux release 7.9.2009 (Core)
docker: Docker version 1.13.1, build 0be3e21/1.13.1

the error msg is existing after i deleted all cache files.

docker run --rm --name hoppscotch -p 3000:3000 hoppscotch/hoppscotch:latest
Unable to find image 'hoppscotch/hoppscotch:latest' locally
Trying to pull repository docker.io/hoppscotch/hoppscotch ...
latest: Pulling from docker.io/hoppscotch/ho

[2022-03-07 09:48] AndrewBastin commented on #2150
cc: @liyasthomas ?

[2022-03-07 10:50] xiaochao commented on #2150
it's my docker version problem. It's working fine after i upgrade docker to the latest version.

[2022-03-07 11:49] manu-urba opened #2151 "[bug]: Firebase requests return 400"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I'm running hoppscotch via docker-compose in a ubuntu server:
login via github or google doesn't work, although I've set correctly all the enviroment variables for firebase, I notice these network errors when I go on the web app:
![image](https://user-images.githubusercontent.com/39467342/157

[2022-03-07 11:55] liyasthomas commented on #2151
Self-hosting Hoppscotch instances are not supported at the moment. Follow the project on GitHub to stay updated with the product updates. Meanwhile kindly use our production deployment on [hoppscotch.io](https://hoppscotch.io).

Track the progress of self-hosting features on #1817, hence closing this issue.

[2022-03-07 11:55] #2151 closed

[2022-03-08 18:46] KaviiSuri commented on #1873
Thanks @AndrewBastin!

I'll need some guidance as I'm new to opensouce.

I was thinking of solving this by rate limiting the number of messages received (we could make the limits configurable from UI)

Sort of how this library implements it (appears to be for the backend though)
https://github.com/jamen/ws-rate-limit/blob/master/index.js

The gist of it is:
- setup a interval to set `messageCount`

[2022-03-08 19:05] Gunni commented on #1873
Maybe as a first step, but why not just handle the load gracefully?

The [rislive website](https://ris-live.ripe.net/) can do it, with no filtering at all (host = null), i get a ~20 mbit/s flow of messages, and it works fine.

Wireshark can capture all packets my computer is sending/receiving and is only limited by available memory on my computer.

[2022-03-09 07:42] KaviiSuri commented on #1873
I'll look into their website on how they do it.

Do you have any ideas on what the bottleneck might be for us?

[2022-03-09 07:53] AndrewBastin commented on #1873
@KaviiSuri feel free to ask for help, you can also DM me directly on Discord if you want any help or have questions about the codebase and how stuff work (you can find me in the Hoppscotch Discord Server).

@Gunni As for the approach, I actually gave a crack at this issue long back (the branch is really stale now), the main bottleneck with the rapid firing sources on Hoppscotch turns out isn't the

[2022-03-10 02:11] zouliming opened #2154 "[feature]: 希望能支持多个标签"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

希望能支持多个标签页，方便同时使用多个请求。
目前postman是有这个特性的，希望hoppscotch也支持。
Wish supuport Multiple tabs.

### Why should this be worked on?

work in multiple tabs is needed

[2022-03-10 02:40] liyasthomas commented on #2154
Hi @zouliming, thank you for raising this feature request. We already have another issue ticket to track the same feature with more discussions here: #690. Hence closing this issue.

Meanwhile, you can open two tabs in your browser and visit Hoppscotch.io, and access two different instances/requests in Hoppscotch at once.

<img width="1440" alt="Screenshot 2022-03-10 at 8 09 17 AM" src="https://us

[2022-03-10 02:40] #2154 closed

[2022-03-10 04:03] muxueqz opened #2155 "[bug]: Lost URimport cURL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I use 'import cURL' then the URL path is lost

### Steps to reproduce

1. Click to 'import cURL'
2. input: curl 'https://muxueqz.top/skybook.html'
3. URL was truncate to 'https://muxueqz.top', but it should is 'https://muxueqz.top/skybook.html'

### Environment

Production

### Version

[2022-03-10 09:54] AndrewBastin commented on #2155
We are already identified this issue and this will be resolved when #2145 gets merged

[2022-03-10 11:27] TeamPIDU commented on #524
Hi exported a postman collection, and then imported in Hoppscotch, but there is an issue with the body data - that is not being imported in Hoppscotch. All other things are imported but the 'body' -> 'raw' parameter data from postman Json is not being imported

[2022-03-11 07:40] AndrewBastin commented on #524
@TeamPIDU this issue has already been notified and we are tracking the issue on #2136

[2022-03-11 08:26] chaithanyaMarripati opened #2156 "[feature]: Add 'new request' at collection level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

- Add 'new request' at collection.
- Right now only a folder can be created inside of another collection.
- Would be nice have a new feature to add an empty request at collection level.

### Why should this be worked on?

- It is confusing at times while saving the request.
- It would be great if a ne

[2022-03-11 10:34] AndrewBastin commented on #2156
@chaithanyaMarripati

I am a bit confused with this feature request.

You can already do this, you can save a request by clicking on the Save button and on the picker you can select a collection.

Nope, as mentioned above you can save requests inside a collection as well.

I don't exactly understand what you mean by this.

I am not really sure about that, there is a Save button in the request righ

[2022-03-11 10:38] chaithanyaMarripati commented on #2156
yes this is what i mean, just like in postman.

[2022-03-11 13:01] 1ace commented on #218
@liyasthomas Hi! you have closed a number of issues about request chaining/dependencies in favour of this one, which you then closed saying it didn't cover that feature anymore. Is there another issue tracking this? Or has this feature been implemented in the mean time?

I'm currently looking for a tool that does have this feature, and for some reason none of them do, so I'm really hoping this one

[2022-03-11 13:18] liyasthomas commented on #218
As of now, chaining requests feature is not in our priority list. This particular issue ticket was to track pre-request and post-request script enhancements, which we already implemented and hence closed.

I will create another issue to track request chaining feature as we ship our other priority features.

Feel free to contribute to the source code and I'd appreciate if you can create a discussio

[2022-03-11 13:20] liyasthomas commented on #2156
Introducing a "New request" action in collections/folders that save the current request setup to the corresponding location seems like a handy feature to me.

We'll track this issue to implement the same.

[2022-03-11 13:53] 1ace commented on #218
Thanks for the really quick answer!

I have created a [discussion about this feature](https://github.com/hoppscotch/hoppscotch/discussions/2157), and I'll evaluate in the next few weeks using Hoppscotch as a replacement for Postman (that we currently use). If the result is conclusive, I'll dig into the code and see if I can contribute this feature :+1:

Please comment on that discussion if there w

[2022-03-11 18:05] AndrewBastin commented on #2138
Should be fixed in https://github.com/hoppscotch/hoppscotch/commit/fda9f2e84246c0c267621e6ffc5b6862c5fbd10f.

Closing the issue.

@kkk669 can you verify ?

[2022-03-11 18:06] #2138 closed

[2022-03-14 09:45] kkk669 commented on #2138
@AndrewBastin Sorry for the delay in replying. I've confirmed that it was now fixed. Thank you so much!

[2022-03-14 19:14] #2019 closed

[2022-03-15 02:01] arm32x opened #2166 "[bug]: Large numbers are wrong/rounded in JSON response view"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When JSON data containing large numbers is shown in the JSON response view, the numbers are incorrect (rounded).

JSON sent by server:
[code]
Shown in JSON view in Hoppscotch:
[code]
What is expected to be shown:
[code]

### Steps to reproduce

1. Create a JSON file with the following content

[2022-03-15 04:13] liyasthomas commented on #2166
Seems like JavaScript is rounding off large numbers in `JSON.parse()` and `JSON.stringify()` operations. Guess it'd be better to use any libs like [losslesshjson](https://github.com/josdejong/lossless-json) on responses.

cc: @AndrewBastin

[2022-03-15 06:00] muxueqz commented on #2155
Thanks

[2022-03-15 09:09] #2166 closed

[2022-03-15 13:07] leoryu commented on #2121
I also met this issue.

In my case, I want to send with header `Content-Type: application/merge-patch+json`, but this header will be overwritten with the header in `Body` section.

[2022-03-16 18:32] lucie-cupcakes opened #2170 "[bug]: Cannot send request using Brave browser + Chrome extension"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I open the site and try to do a get call against my local [Python's http server](https://docs.python.org/3/library/http.server.html), the request cannot be sent.

![image](https://user-images.githubusercontent.com/16143806/158660786-e88b3aa1-9ec2-4389-9276-22cc3b384bc1.png)

Here is the

[2022-03-16 21:13] AndrewBastin commented on #2170
@lucie-cupcakes I am unable to reproduce this in my end, could be some weird type mismatch issue.

Can you switch to the Headers tab and completely clear all the headers defined in it ?

Or you can click on the Arrow to the side of the Send Icon and click on `Clear all`. This button clears the request configuration to the default one and should fix that in the mean time.

![image](https://user-ima

[2022-03-16 21:28] lucie-cupcakes commented on #2170
@[AndrewBastin](https://github.com/AndrewBastin) Thanks, that fixed my issue!
Maybe it was a bad cache or something.

![image](https://user-images.githubusercontent.com/16143806/158693697-f3f635f8-cddc-4d35-87c8-2d0e99e2088d.png)

[2022-03-16 23:02] #2170 closed

[2022-03-17 10:41] xpol opened #2172 "[feature]: GraphQL environment variables support and should be shared with REST"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add environment variables for GraphQL:
- in the GraphQL endpoint
- In the GraphQL variables editor
- In the GraphQL Headers editor
- In the GraphQL Authorization editor

And the environment variables should be shared with REST tab.

So that I can first request a REST api to get authorization informati

[2022-03-17 11:28] juandl opened #2173 "[bug]: Deployment issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Is not possible to use "docker image hub" because the env is already set on build time, I think the best way to allow users who want to use "docker" in production is to move [nuxt.config.js](https://github.com/hoppscotch/hoppscotch/blob/main/packages/hoppscotch-app/nuxt.config.js) to use env

[2022-03-17 11:53] lallenfrancisl opened #2174 "[feature]: reorder request query parameters"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

<img width="1037" alt="Screenshot 2022-03-17 at 5 21 01 PM" src="https://user-images.githubusercontent.com/21018348/158803099-bebb698a-1cce-4107-9dcc-6193081670b3.png">

It would be nice if you can reorder the request parameters here so that you can put the important parameters on top

### Why should

[2022-03-18 10:26] #2093 closed

[2022-03-18 11:11] TheBeachMaster commented on #2173
I got this to work by manually copying my own `.env` file into `packages/hoppscotch-app` using Docker

[2022-03-18 11:13] juandl commented on #2173
That's great, but I think it should be implemented instead of workaround 😕

[2022-03-18 11:34] TheBeachMaster commented on #1824
Thanks @1-bytes

[2022-03-18 12:47] alexander-paterson opened #2176 "[bug]: browser extension not reported but it's installed"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I'm using Edge Chromium Version 99.0.1150.46 (Official build) (64-bit)

I've been using hoppscotch.io for maybe a month with no issues but a few times this week I've gone to send a request and instead of a response I'm getting the following message:

![image](https://user-images.githubusercon

[2022-03-18 17:47] jopijuco commented on #2172
I would also add that environment variables should be shared with the team like collections. Otherwise, your team collections won't work because the requests are using variables that only you have.

[2022-03-19 01:06] xpol commented on #2172
Yes, we must allow environments to extend other environments.

[2022-03-19 01:45] xpol opened #2177 "[feature]: Allow fire other requests in pre-request scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow run requests before requests.

In pre-request scripts and tests, allow invoking other requests (with their pre-script scripts and tests scripts).

### Why should this be worked on?

So that we can do complex requests flow with advanced features:

[code]

[2022-03-21 04:26] AndrewBastin commented on #2177
@xpol can you provide an example scenario where you might want a feature like this ?

[2022-03-21 04:38] AndrewBastin commented on #2172
We are working on revamping the GraphQL page completely. Should be done by next month hopefully. We will consider this feature at that point.

As for extending, we are brainstorming a UX for request based variables.

[2022-03-21 06:05] xpol commented on #2177
For example,
I want a login request to get the token, then call the other API like get user information.

[2022-03-21 06:16] xpol commented on #2177
I know we can fire requests in the script via requests API, like in postman

[code]

 but I want to reuse existing requests managed by hoppscotch instead of writing scripts like above.

[2022-03-21 09:03] JacekAndrzejewski opened #2181 "[bug]: Folding long JSON response folds only partially at first"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I receive a long JSON response (2000+ lines) and try to fold it then at first only first few hundred lines are folded. If I expand and fold again it folds a bit more. Repeated enough times it folds everything.

### Steps to reproduce

1. Do an API call that returns a long JSON response
2

[2022-03-21 16:34] SeanCassiere opened #2182 "[feature]: Socket.io key-values in the auth object"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently, the socket.io connection in the app only allows for Bearer token authentication into a socket server. However, Socket.io officially supports authentication into a server using the `auth` object with the server using middleware to handle verification.

### Why should this be worked on?

As p

[2022-03-21 22:43] repiatx opened #2184 "[feature]: Workspace feature"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Hi. In postman there is workspace feature. Perhaps people want to use this feature too. Thx for your hard work.

### Why should this be worked on?

Because Lot's of request will be there for the sake of simplicity  ( Dividing env,collection,requests ) would be great.

[2022-03-22 00:50] liyasthomas commented on #2184
Track the discussions and progress of workspace feature in #690.

[2022-03-22 00:50] #2184 closed

[2022-03-22 02:28] kaname-png opened #2185 "[feature]: tabs in code/json editors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Currently when you press the Tab key on the keyboard what hoppscotch does is to jump to another input and then it would be great if instead of doing that it would be like the code editors like VS Code, Sublime, etc. that what they do is add a space and do not select another text input.

Also that you

[2022-03-22 03:20] #2185 closed

[2022-03-22 03:21] liyasthomas commented on #2185
I've added these key press events on editors:

- <kbd>Tab</kbd> = insert tab space
- Selection + <kbd>Tab</kbd> = indent more
- <kbd>Shift</kbd> + <kbd>Tab</kbd> = indent less

[2022-03-22 03:24] kaname-png commented on #2185
@liyasthomas how is it activated?

https://user-images.githubusercontent.com/56084970/159401722-a246d865-8d32-4c8b-9ad5-8f89d0e11e22.mp4

[2022-03-22 03:27] liyasthomas commented on #2185
Hi @kaname-png, please wait a few more minutes to finish our build processes and pipelines that will push the latest code to our production server. 10 mins max.

Here's our ongoing actions: https://github.com/hoppscotch/hoppscotch/actions

[2022-03-22 05:53] LaPoPvLe commented on #1752
same issue
in chrome, this is fine.
but pwa still send double request.like replay all request's header and content is same, not options method in cross domain.

[2022-03-22 07:12] mdbetancourt commented on #874
since this issue isn't moving forward, I've implemented my own "client credential" grant type, tomorrow I'll do a pull request

![image](https://user-images.githubusercontent.com/22435967/159426707-611d9a4b-f505-458c-9289-32b404920966.png)

[2022-03-22 11:31] arnolicious opened #2188 "[feature]: Automatic Header generation"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

In Postman, Headers like Content-Length and others get generated automatically and added to requests.

I couldn't find any such setting or open/closed Issue about this subject.

### Why should this be worked on?

For Endpoints that require a Content-Length Header, this feature would be vital.

[2022-03-22 21:59] sweetkane commented on #2137
Hello. I am a senior studying CS at the University of Michigan. I am supposed to make an open source contribution for my Software Engineering class, and I would love to take care of this issue if it hasn't been fixed already. Could you possibly reassign it to me?

[2022-03-23 00:33] liyasthomas commented on #2137
Hi @sweetkane, you can pick up this issue. Assigning it to you.

[2022-03-23 09:04] mvdkleijn opened #2192 "[feature]: Arm64 / Raspberry Pi build for Docker image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

An ARM64 / Raspberry Pi supporting Docker image.

### Why should this be worked on?

ARM64 is an increasingly common use case. People self host at home using Raspberry Pi which are increasingly more powerfull and with the new ARM based Macs it would only make more sense.

[2022-03-23 10:13] MartThijssenIExperts commented on #2113
Hi, what is the current status of this issue?

[2022-03-23 13:32] melsiir opened #2193 "Don't work with localhost"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I make a request to localhost it just doesn't work

### Steps to reproduce

Just type localhost:3000 and hit send

### Environment

Release

### Version

Local

[2022-03-23 13:34] liyasthomas commented on #2193
Hi @melsiir, please read this discussion thread on how to test API endpoints hosted locally: https://github.com/hoppscotch/hoppscotch/discussions/2051#discussioncomment-1887545

[2022-03-23 13:35] #2193 closed

[2022-03-23 16:12] yijiangchengming opened #2194 "[feature]: the extension support ws"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I try to use webscoket in hoppscotch, but the browser reports an error,
ws is not allowed in case of https, I would like to ask if there is a solution? The extension seems to only support the proxy http protocol and not the ws protocol.
00:01:39 ℹ️ [INFO]: 发生了一些错误
00:01:39 ℹ️ [INFO]: SecurityError: Fa

[2022-03-23 18:11] H4kt opened #2195 "[bug]: selecting text with mouse causes modal to close"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

While selecting text in modal save window if cursor ends up outside of modal before mouse up modal window will close upon mouse up event. Sometimes I really like to select text in inputs using mouse instead of just pressing `CTRL+A`, so this issue is really annoying. [Video](https://user-imag

[2022-03-23 18:32] H4kt opened #2196 "[bug]: settings do not show the name of chosen accent color"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When you change accent color in settings it still appears as "Blue" under the title.

![image](https://user-images.githubusercontent.com/50774419/159771002-0a12aef4-87a1-42bd-bc05-e70445e255ed.png)

### Steps to reproduce

1. Go to settings
2. Set your accent color to anything but blue

### E

[2022-03-23 20:43] #2196 closed

[2022-03-23 20:44] AndrewBastin commented on #2196
@H4kt nice catch, thank you for letting us know.
This should be fixed in the latest update which should roll out in 15-20mins.

[2022-03-23 20:46] AndrewBastin commented on #2195
Thank you for the submission @H4kt. We will look into this.

cc: @liyasthomas

[2022-03-24 00:25] #2195 closed

[2022-03-24 07:37] #2194 closed

[2022-03-24 10:14] H4kt commented on #2195
Just gave it a test. Works fine.
Thank you <3

[2022-03-24 12:50] Phamiliarize opened #2199 "[feature]: MessagePack support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

MessagePack is an alternate serialized format to JSON. It's gaining traction in IoT, Mobile Apps, and other areas. It's especially nice because it can be used as a drop-in for JSON in most languages it's implemented in.

Ideally, this feature would allow the user to write JSON and see JSON, and silent

[2022-03-24 14:17] #2174 closed

[2022-03-24 14:42] justinelliss-coinme commented on #2013
Would really like to get this as we can't implement locally in our corp environment without team collaboration. Otherwise we have to pay for postman.

[2022-03-24 19:56] asitemade4u commented on #2176
Same situation here

[2022-03-25 06:35] AndrewBastin commented on #2176
We can't seem to reproduce this in our end though.

@asitemade4u @alexander-paterson please try removing the extension and installing it again.

And then restart your browser and see if the issue still persists with https://hoppscotch.io (if you are using any other domain, eg. self hosted ones, please make sure to add it to the extension list).

The extension hook takes a second to recognize and c

[2022-03-25 06:39] AndrewBastin commented on #2199
@Phamiliarize if you want to work on this, we are happy to help you with it. You can ping from the Hoppscotch Discord Server.

We are currently a bit busy with other projects to pursue this ourselves for now anyways.

[2022-03-25 08:27] #2136 closed

[2022-03-25 09:41] vichle commented on #1817
Very interested in this feature, can you give some kind of indication of when this will be released?

[2022-03-25 10:02] alcalyn opened #2201 "[bug]: Rquest body is not imported when using OpenApi 3 import"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I import an openapi v3 json collection, requests are imported, but all bodies in POST, PUT... are empty

### Steps to reproduce

1. Download this openapi v3 sample: https://petstore3.swagger.io/api/v3/openapi.json (I get same result with my own collections)
2. Go to hoppscotch > collecti

[2022-03-25 10:06] liyasthomas commented on #2201
This is a known issue, please track the progress on #2087, hence closing.

[2022-03-25 10:06] #2201 closed

[2022-03-25 10:42] bjornkpu commented on #2176
I had the same issue.
Ran hopscotch in docker.

I was fixed when I added the container endpoint to the Hopscotch extention:
![image](https://user-images.githubusercontent.com/31271671/160105890-851f80c6-6f22-4344-8ce5-01157f8decd3.png)

No idea if this is related.

[2022-03-25 11:06] AndrewBastin commented on #2176
@bjornkpu as I mentioned. For security reasons any other domains running Hoppscotch, you have to specify the domain to the extension by clicking on the extension icon on the browser and adding the domain on the popup.

[2022-03-25 18:04] zhzy0077 opened #2203 "[bug]: How to specify the token for self-hosted proxyscotch?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

There's no way to specify a token for proxyscotch.
So I get response:
[code]

### Steps to reproduce

1. Setup a proxyscotch instance by `proxyscotch-server-* --host 0.0.0.0:9159 --token 123456`
2. Connect hoppscotch to the instance by specifying the PROXY URL as 'http://localhost:9159'
3. Ca

[2022-03-25 22:03] greg-vstorm opened #2205 "[feature]: Function to send request from pre-request script"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Postman provides method `sendRequest` to make AJAX request from pre-request script. For example:
[code]
This feature is useful when you need to get for example xsrf-token,

### Why should this be worked on?

Allow testing API's build with Laravel Scout to get xsrf-token. I think it's much more use cas

[2022-03-26 08:57] rakeshkr22 opened #2206 "[bug]: No horizontal scroll on Team Collections folder tree"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When i added around 13 sub folders in teams collection section, the folder tree view is scrollable only vertically. No new sub folder is able to create.

Sample SS :-

<img width="406" alt="image" src="https://user-images.githubusercontent.com/10681753/160232090-8cb8e4f7-a582-4082-af86-07ceb1

[2022-03-27 14:06] AndrewBastin commented on #2205
Thank you for reporting.

We will consider this during the planned revamp of the Scripting System.

[2022-03-27 15:47] kieutuan218 opened #2207 "[feature]: Unsaved changes warning popup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Auto-save or show popup when detect any change of api (paramter, body,...)

### Why should this be worked on?

I am developing my API is evolving. When I edit the parameter, body of the api and mistakenly click to another api, the edited content is lost.
I think it's better if have function auto-save

[2022-03-27 18:44] revosw opened #2208 "[feature]: When importing a postman collection, don't automatically add `http://`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The way we set up our postman routes is like this:
[code]
instead of
[code]

This makes it really easy to switch from plain text `http://localhost:3000` to TLS `https://api.service.com`

### Why should this be worked on?

When importing a postman collection, now we have to manually go through all the

[2022-03-28 08:12] Tobychidi commented on #2172
Yes. Environments should be tied to collections or teams...

[2022-03-28 08:21] Tobychidi commented on #2146
I support this feature as well. I noticed this almost immediately

[2022-03-28 08:23] Tobychidi commented on #2208
This was a problem for me as well. I believe in 3 months I will be uninstalling Postman. 😋. I like green stuff.

[2022-03-28 11:34] #2208 closed

[2022-03-28 11:36] AndrewBastin commented on #2208
@revosw I have pushed a small update (should be live in 10-15 mins) which should fix the issue hopefully. Let me know and reopen this issue if it doesn't.

[2022-03-28 16:35] humbertoarizah commented on #1834
Hi, I know this issue is already closed, but I tried to access to env variables within the body and it has been impossible. I have this notation in the body, for example:
{"account" : {
    "username": "<<new-username>>",
    "email": "<<new-email>>"
}}
And my response is not taking the env variables but the string (<<new-username>>).
I don´t know if I´m doing anything wrong.
I would appreciated a

[2022-03-28 19:52] cloudomatic opened #2211 "[bug]: Graphql query function incorrectly formats proxy payload"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When going to the hoppscotch.io page and selecting "GraphQL", the default query works fine (with proxy disabled), and formats the payload as

[code]

However enabling the proxy causes the payload to be formatted as

[code]

where the "data" attribute is a stringified JSON object, which the se

[2022-03-29 03:19] AndrewBastin commented on #2211
Hi @cloudomatic,

We will look into getting this implemented. Meanwhile, you can use the Hoppscotch Browser Extension as a workaround.

[2022-03-29 04:23] #2121 closed

[2022-03-29 06:24] humbertoarizah commented on #1353
Hi, I have been having problems with the method "toHaveProperty", for any reason I'm getting an error ('unknown property 'toHaveProperty'). Even when I try to replicate the following example, I get the error:

// This test will pass
pw.test("Response is ok", () => {
  pw.expect(pw.response.status).toBe(200);
  pw.expect(pw.response.body).not.toHaveProperty("errors");
});

So, I'm not sure what is

[2022-03-29 11:03] jerbob92 commented on #1817
I'd like to deploy the current version with some minor changes for custom auth through Firebase.
It looks like the only part that's missing right now is the source of `api.hoppscotch.io`. Would it be possible to open-source that?

[2022-03-30 08:06] sheecegardezi commented on #969
having a snap install will be awesome!

[2022-03-30 18:39] balub opened #2215 "[feature]: Multi-line and Multi-cursor editing"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Adding multi-line and multi-cursor features similar to VS code. Hopefully, using keybinding similar to that of VS code too.

### Why should this be worked on?

It would make working with large request/response objects easier.

[2022-03-31 08:42] n-alonso commented on #1834
It looks like highlighting of variables in the body takes the font lettering from the json formatting as opposed to changing it to white like everywhere else, making it difficult to read.
Variables in any other place:
![image](https://user-images.githubusercontent.com/63936366/161014200-98087a34-0954-4b86-884d-3afdb020af40.png)
Variables in the json body:
![image](https://user-images.githubusercon

[2022-03-31 08:47] AndrewBastin commented on #1834
@humbertoarizah you have gotten the syntax wrong. Environment Substituions are represented by using `<<ENV>>` where `ENV` is the desired environment variable.

[2022-03-31 08:49] n-alonso opened #2217 "[bug]: Text color from variables in body/json does not change to white and becomes impossible to read"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

It looks like highlighting of variables in the body takes the font lettering from the json formatting as opposed to changing it to white like everywhere else, making it difficult to read.

Variables in any other place:
![image](https://user-images.githubusercontent.com/63936366/161014200-9808

[2022-03-31 08:52] n-alonso opened #2218 "[feature]: Preview final REST request before sending"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I tried to find in the documentation if this was possible, plus checked the opened issues to see if it was already raised but I could not find, please forgive me if I missed it.

Essentially it becomes a bit difficult to troubleshoot why your request fails if you cannot verify what are you actually se

[2022-03-31 09:08] liyasthomas commented on #2217
The fix should be live in ~10 minutes. Do let us know if the issue still persists even after that.

[2022-03-31 09:14] liyasthomas commented on #2218
Hi @n-alonso, I'd like to know what you meant by "preview of final request". If you're referring to how the request would look like in any languages/frameworks like cURL, JavaScript Fetch, Axios, etc.. we have a feature in Hoppscotch which allows you to preview and generate the source code to make the final request.

**Click on drop-down menu right next to "Send" > "Show code"**

<img width="1440"

[2022-03-31 09:16] n-alonso commented on #2218
Yes, that is exactly what I was looking for.
Sorry for raising an issue for this and thank you for the prompt response!
Feel free to close this.

[2022-03-31 09:16] #2218 closed

[2022-03-31 16:00] wakeupmh opened #2219 "[feature]: Env shared between team workspace"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Share envs for the entire team workspace

### Why should this be worked on?

Can we have a way to share envs between team workspace like postman did?
Because it's very useful for teams

[2022-03-31 16:20] benbagley opened #2220 "[feature]: Reorder folders"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Allow users to re-structure collection folders/sub folders.

### Why should this be worked on?

Having moved from Postman too hoppscotch, one of the things that was really useful was the ability to reorder the collections folder structure. This is a really small feature but something. which seemed to

[2022-03-31 19:36] AndrewBastin commented on #2205
Yup, I am working on a solution for this, stay tuned!

[2022-04-01 00:21] ace-n opened #2221 "[feature]: Add expect().toInclude([string]) method"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a `toInclude()` method to `pw.expect()`

(`toContain()` could work too, but [JS itself](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/includes) uses `includes()`, not `contains()`.)

### Why should this be worked on?

I want to assert that an unstructured

[2022-04-01 03:33] liyasthomas commented on #2221
Hi @ace-n, feel free to pick up this feature request. Do let us know if you've any trouble understanding the source code. Assigning this to you.

[2022-04-01 06:14] #2215 closed

[2022-04-01 13:06] jerbob92 commented on #1817
Since Hoppscotch is not going to release the backend API, and these features will probably be behind a license model in the future, I have decided to make my own implementation of the Hoppscotch Backend API.

It's available here: https://github.com/jerbob92/hoppscotch-backend
All features have been implemented that are currently in use by the frontend.

Some notes:

- The frontend requires some ch

[2022-04-02 06:41] FidalMathew opened #2227 "[feature]: Syncing query parameters in URL and query parameter input"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When we add query parameters in the query parameters input, it does not show any change in URL and visa versa.

**Case 1:**
Parameters in URL but not in Query Parameters:
![image](https://user-images.githubusercontent.com/84982038/161370443-dfa4701d-a096-46b5-b4a6-e4da33ca8a16.png)

**Case 2:**
Key-va

[2022-04-02 07:49] AndrewBastin commented on #2227
This is a design decision we chose to take. We have seen that for long parameter chains, the effect of the parameters being on the URL is detrimental to the readability of the URL compared to the separated parameters.

We will keep the issue for a while to poll opinions on whether we have to rollback though.

[2022-04-02 09:47] #2146 closed

[2022-04-02 12:45] kaname-png opened #2229 "[feature]: multiples tabs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I think it would be great to be able to have multiple tabs for example rest, graphql, etc as it helps to do more things without having to cancel everything you were doing before.

This can help make multiple requests easily.

### Why should this be worked on?

As well as postman tabs.

[2022-04-02 12:48] liyasthomas commented on #2229
Hi @kaname-png, we have a similar issue ticket to track the progress of "Tabs" feature on #690, hence closing this issue. Kindly share your comments on it.

[2022-04-02 12:48] #2229 closed

[2022-04-04 05:15] tkp-richard opened #2233 "[feature] import and show code should be in a separate dropdown"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Import cURL and show code has no relation to "send". It would make more sense if they were put under a separate dropdown. Additionally, the documentation no longer reflects the current UI
https://github.com/hoppscotch/hoppscotch/wiki/Import-cURL

![image](https://user-images.githubusercontent.com/8332

[2022-04-04 06:07] #2113 closed

[2022-04-05 06:38] pys1992 opened #2235 "[feature]: macos Big Sur icon support"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The icon size is too large.
<img width="368" alt="image" src="https://user-images.githubusercontent.com/44765369/161693542-65b6f3dc-9e6a-454a-9f9f-a1d2677928d4.png">

### Why should this be worked on?

update the icon size to fit macos big sur.

[2022-04-05 06:50] liyasthomas commented on #2235
https://github.com/hoppscotch/hoppscotch/issues/1997#issuecomment-986841444

[2022-04-05 06:50] #2235 closed

[2022-04-05 07:46] js182 opened #2236 "[feature]: create custom keybindings"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The default keybindings, e.g. 'Send request', are set constant. It should be possible for me to modify the existing ones and even create new ones to execute macros.

### Why should this be worked on?

To increse productivity I want to set keybindings to my amenity and the way I'm used to. Also, I want

[2022-04-05 10:27] #2221 closed

[2022-04-05 20:08] DanBurkhardt opened #2237 "[bug]: Building locally fails due to hostname error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I have followed all instructions to build the application to run locally without Docker according to the README under section titled "release".

upon running the 2nd to last command `pnpm run generate`, it takes a while and seems to be succeeding, but when it reaches the sitemap generation st

[2022-04-05 22:33] Wils3B commented on #2233
I agree with you, from my point of view, these buttons are not very intuitive when they are put at this place

I suggest moving the import code to the space between the method selection and the URL entry.
The display code can be moved to the right aside split panes as described in the following image:

![hoppscotch-feature-proposition](https://user-images.githubusercontent.com/44102335/161861767-8

[2022-04-06 03:18] liyasthomas commented on #2237
Seems like you missed the `Step: 0` in [local development guide](https://github.com/hoppscotch/hoppscotch#developing).

You should provide the essential environment variables in the `.env` file. Let me know if it doesn't fix your build process.

[2022-04-06 03:18] #2237 closed

[2022-04-06 13:09] drtobbyas opened #2238 "[feature]: Add multi-tab interface"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add tabbed interface so as to enable the ability to keep multiple requests just like in PostMan.

### Why should this be worked on?

This will enable opening of more than one request interface at a time

[2022-04-06 13:11] liyasthomas commented on #2238
Hi @drtobbyas, we have a similar issue ticket to track the progress of "Tabs" feature on #690, hence closing this issue. Kindly share your comments on it.

[2022-04-06 20:23] DanBurkhardt commented on #2237
Perfect, will attempt after updating according to the README, thanks for the quick action!

[2022-04-07 06:42] pantchox opened #2242 "[bug]: test code can't use the "toHaveProperty" function - it does not exist"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I write
[code]
the error indicator shows and hovering says 'Unknown Property' (which is ironic..)

The docs show usage of this method/function and I need to validate in the test that specific property exists or not.

What am i missing?

Using PWA installed from "cloud"

### Steps to repr

[2022-04-07 06:49] pantchox commented on #2242
https://docs.hoppscotch.io/quickstart/tests#response - link for the example using it

[2022-04-07 06:50] pantchox commented on #2242
![image](https://user-images.githubusercontent.com/7011604/162137449-d628fe8c-06d2-47f5-ac23-e4db39194ea8.png)

[2022-04-07 13:16] liyasthomas commented on #2177
Possibly a duplicate of #2205, hence closing.

[2022-04-07 13:16] #2177 closed

[2022-04-08 06:41] tripol commented on #1834
Hi I tried following the `<< ENV >>` syntax and even though the color code confirms it is correct, I don't get the desired result.

![image](https://user-images.githubusercontent.com/27914557/162378960-48a7a06b-2465-4a10-aa4d-7df23d92617e.png)

When I type out the full URL instead (that is without the `<< ENV >>` syntax, I get the correct result.

Any idea why?

[2022-04-08 21:24] sjsadowski opened #2246 "[bug]: HTTP requests are blocked by default and behavior is not documented"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

This is an extension of #1376, however that issue does not properly address the behavior as identified.

By default, the PWA runs as an https-loaded site. Modern browser do not allow mixed content (HTTP/HTTPS). Requests made in the PWA to *any* http:// address fail (as of 2022-04-08) by defau

[2022-04-09 02:35] golavr opened #2247 "[feature]: Add notes @ request/collection level"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Add a new notes tab so users can write some notes about requests.
It can be a plain simple one in phase 1 afterward it can be rich text supporting links and other enhancements.

### Why should this be worked on?

Some APIs calls have multiple parameters w/ multiple options.
Giving the ability to attac

[2022-04-10 07:02] A-childs-encyclopedia opened #2248 "Does the privacy policy apply if I don't use the proxy?"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

Title

### Why should this be worked on?

Idk. Just a question

[2022-04-10 18:22] Eddie-Hartman commented on #2176
@AndrewBastin
I'm totally new to hoppscotch and trying to switch over from Postman.

Your above statement:

hasn't quite been my experience in Chrome Version 100. It's taking 10+ seconds to recognize. It's reproducible by just refershing hoppscotch.io and switching between the Rest and Settings tabs and looking to see when it recognizes the browser extenstion in the Interceptor section of settings

[2022-04-11 00:42] kaname-png opened #2252 "[bug]: synchronize history message keeps showing up"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Every time I log in to hop and use the REST tool, the sync history message keeps popping up. In the video I show the case.

https://user-images.githubusercontent.com/56084970/162647659-9a2995da-34aa-418c-ba9b-83c4207ca991.mp4

### Steps to reproduce

1. Open hoppscotch
2. Go to tool REST
3. S

[2022-04-11 06:44] wpggles commented on #870
Sometimes I'm working in LAN with my teams , so I'm very interested in this feature (like self-hosted authorization and storage) . Any progress on this one ? Have roadmap or plan list ?

[2022-04-11 08:38] Zouxuejun opened #2254 "[bug]: GitHub account login failed, prompting some errors"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

<img width="935" alt="image" src="https://user-images.githubusercontent.com/41265142/162698070-f3eb8f57-0c0f-424b-a759-3ea9ff1cb9cc.png">

### Steps to reproduce

<img width="935" alt="image" src="https://user-images.githubusercontent.com/41265142/162698142-e23cdc8e-673b-4cc2-9f56-1f832efac44

[2022-04-11 09:08] liyasthomas commented on #2254
Authenticated features are not available in the self-hosted Hoppscotch instance at the moment. Please track the issue: #1817 for the progress on this feature, hence closing.

[2022-04-11 09:08] #2254 closed

[2022-04-11 09:32] AyushChothe commented on #2220
Also make Requests Reorderable

[2022-04-11 12:54] dislazy commented on #2203
all in https://firebase.google.cn/  ,include storage  auth and more,set it  packages/hoppscotch-app

[2022-04-12 10:29] eladeyal-intel commented on #392
support will be appreciated

[2022-04-12 13:29] syrm opened #2255 "[bug]: "Could not send request", but request was sent, and a response has been received"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When i do a GET on "https://api.publicapis.org/entriesWRONGPATH"
The Response panel should be shown with detail informations, its a 404 error etc.

Instead I see "Could not send request"

### Steps to reproduce

1. Go to REST
2. Set method to GET
3. Set URL to https://api.publicapis.org/entri

[2022-04-12 13:44] liyasthomas commented on #2255
Seems like you were trying to hit an API endpoint with `CORS` restrictions.

To fix `CORS` restrictions and access responses, goto [Hoppscotch Settings](https://hoppscotch.io/settings) > Interceptor section > Turn on Proxy mode.

Feel free to reopen the issue if issue still persist.

[2022-04-12 13:44] #2255 closed

[2022-04-12 13:48] syrm commented on #2255
Same problem with proxy turned on.
The problem is not related to CORS.

I mean even if CORS block the request, we should see this in Response section

[2022-04-12 14:00] syrm opened #2256 "[bug]: "Could not send request", but request was sent, and a response has been received (reopened)"
Same problem with proxy turned on.
The problem is not related to CORS.

I mean even if CORS block the request, we should see this in Response section

_Originally posted by @syrm in https://github.com/hoppscotch/hoppscotch/issues/2255#issuecomment-1096753779_

[2022-04-12 14:09] liyasthomas commented on #2256
So, I tried the API endpoint you mentioned in the OP comment while the Proxy mode is turned ON. And I was able to get the expected behavior: `404 page not found`.

<img width="1440" alt="Screenshot 2022-04-12 at 7 35 04 PM" src="https://user-images.githubusercontent.com/10395817/162980501-165e1208-9c66-48e2-8668-71da58778a04.png">

Can you make sure the Proxy URL is given in Settings > Interceptor

[2022-04-12 14:13] syrm commented on #2256
The proxy is correctly setup.
But we have a fairly complex infrastructure, let me check if something is blocked (i'll give an answer in few days)

[2022-04-12 16:47] ace-n commented on #2086
Hey @AndrewBastin,

I might have some time to hack on this. 🙂

One question though - do we know what the UI should look like? A few options come to mind:
- A section for **Query Parameters** at the top, _followed by_ a section for **Path Parameters**
- A single parameter section, with a new column that states (via words or an icon) whether something is a `query` or `path` parameter

Side note: for

[2022-04-13 00:05] AndrewBastin commented on #2086
Heyyo @ace-n!

Yeah, I guess, in terms of files you are right.

Although, in terms of UI, I think having them separated as separate lists in the same Parameters Tab makes more sense as it segregates both the Query Params and Params clearly. (@liyasthomas  thoughts ?)

We need to update the REST Request structure to allow for that option though, which it doesn't currently, so you will have to consi

[2022-04-13 04:41] minhnguyen-ew opened #2259 "[feature]: Authorization setting at Collection level"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

In Postman, you can set up an authorization method at the Collection level and all of the requests in that collection will inherit that authorization method (unless you override that in the endpoints themself). We can try to provide a similar mechanism here.

### Why should this be worked on?

This is

[2022-04-13 09:33] o1lab opened #2260 "[feature]: Import Swagger APIs from an URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

### Problem :
- [NocoDB](github.com/nocodb/nocodb) generates collaborative spreadsheets & REST APIs for any database (a lot of them - probably in millions)
- And for these APIs we also [generate](https://www.youtube.com/watch?v=1unQAEGDz8U) - swagger APIs
- Swagger is not the best way to consume APIs.

[2022-04-13 09:59] AndrewBastin commented on #2260
@o1lab This seems to be a bit more expanded version of #2020. (Which we are actually working on right now).
So shall we close this and consolidate this issue to the above mentioned one ?

Btw, we are big fans and supporters of NocoDB here at Hoppscotch! Best wishes! <3
We should have a chat some time ^_^

[2022-04-13 11:15] klesh opened #2261 "[feature]: Can I have my collection sorted alphabetically?"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

![image](https://user-images.githubusercontent.com/61080/163168378-a776efb5-ed36-4c70-807f-5eb903d1eb91.png)

### Why should this be worked on?

It is hard for me to find particular entry that I need, I wish they could be sorted alphabetically.

[2022-04-13 11:57] o1lab commented on #2260
@AndrewBastin : oops missed that issue while searching - I will close it.

We should have a chat - I can expand more on the idea. And likewise, love the work you people have been doing. We look up to hoppscotch.

[2022-04-13 11:57] #2260 closed

[2022-04-13 15:22] #2207 closed

[2022-04-13 21:19] leomp12 opened #2263 "[feature]: Set env vars on request link as URL params"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Support setting fallback value to variables through request link (generated from _copy link_ button) URL params, with something like `https://hopp.sh/r/nOWZfsljckVj?env:storeId=1234&env:cartId=5678`.

### Why should this be worked on?

It would be helpful to share to end users the same request that yo

[2022-04-13 22:15] tormnator commented on #2176
I'm also having the same problem. It was working great last time I used it in February. I'm running a local server on https://localhost:7202, and have added this url (incl the port) to the extension's active origin list. I have also opened it up, along with https://hoppscotch.io, in my server's cors settings. I have remove the extension and reinstalled it, and I have restarted all Chrome instances

[2022-04-13 22:18] tormnator commented on #2176
I forgot to mention that under Settings, Interceptor, Browser extension, it always says "Extension Version: Not Reported".

[2022-04-14 04:57] AndrewBastin commented on #2176
Usually the browser will also send an OPTIONS request as well as part of CORS even on the extension.

Anyways, since there are widespread reports, I will look into the hooking mechanism and see if anything is wrong over there.

[2022-04-14 08:57] js182 opened #2264 "[feature]: Ctrl + Z to revert changes in URL"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Ctrl + Z to revert latest changes in the link field.

### Why should this be worked on?

To test an endpoint I usually copy the URI from the documentation and insert it in the link field in hoppscotch. If I mistakenly insert something incorrect, I want to ctrl+z to revert my insertion instead of manua

[2022-04-14 09:43] syrm commented on #2256
Disabling the proxy and enabling the "Use the browser extension" it works.
Thanks you

[2022-04-14 09:43] #2256 closed

[2022-04-14 11:39] #2156 closed

[2022-04-14 11:52] jvinis opened #2265 "[feature]: Sidebar is not visible when the window size is small"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Sidebar is not visible when the window size is small, it used to work in previous versions work as:
1) when size was enough, display the sidebar on the right
2) when size was not enough, display the sidebar bellow

now work as:
1) when size was enough, display the sidebar on the right
2) when size was

[2022-04-14 12:58] liyasthomas commented on #2265
You can make the sidebar visible on small screens by clicking on the "Options" button in the top header > "Expand Collection Panel".

<table>
<tr>
	<td>Step 1. Click on the "Options" button</td>
	<td>Step 2. Click "Expand Collection Panel"</td>
<tr/>
<tr>
	<td>

![hoppscotch io_](https://user-images.githubusercontent.com/10395817/163394566-3db64e06-2da3-4045-8441-07d1a6168e6a.png)
    </td>
	<td>

[2022-04-14 12:58] #2265 closed

[2022-04-14 13:08] #2264 closed

[2022-04-14 16:32] leomp12 commented on #2263
And... I can give it a try if you want me to

[2022-04-15 10:19] jvinis commented on #2265
Thanks,
my problem was that
1. I work in zen mode and the options icon is tied to zen mode.
2. the support icon button in large screen is transformed to options icon button in small screen !!

Why the options and settings is two different screens?

My suggestion is
1. the support icon button, should remain support icon button
1. combine options and settings into one screen, where can be opened by

[2022-04-16 12:03] A-childs-encyclopedia opened #2269 "[bug]: Hoppscotch can't access the github api"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I try to access the github api and click connect it just keeps loading without connecting

### Steps to reproduce

1. Get yourself a personal access token for your github account and copy it to your clipboard
2. in hoppscotch, go to the graphql tab
3. type api.github.com/graphql
4. in au

[2022-04-17 03:39] sweetkane commented on #2137
Hello. I have made changes for this issue. Can I have access to create a branch and make a pull request?

[2022-04-17 03:51] liyasthomas commented on #2137
Hi @sweetkane, if your changes are in your fork of Hoppscotch, you can directly open a pull request to our `main` branch.

[2022-04-18 04:31] #2137 closed

[2022-04-18 04:33] liyasthomas commented on #2252
We've pushed a patch to fix this issue. Do let us know if this issue still persists.

[2022-04-18 14:15] kaname-png commented on #2252
@liyasthomas the problem persists
https://user-images.githubusercontent.com/56084970/163820889-23be6cee-0be8-4735-92ef-812059684076.mp4

[2022-04-18 16:24] AndrewBastin commented on #2211
Fixed on [62a5beb](https://github.com/hoppscotch/hoppscotch/commit/62a5beb52f1e9fd382bb17de8029988cf56ed6f2).

Closing.

Thank you for reporting @cloudomatic!

[2022-04-18 16:24] #2211 closed

[2022-04-19 01:55] xiaou66 opened #2275 "[bug]: get The get method of passing parameters is de-duplicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

![image](https://user-images.githubusercontent.com/36022022/163904043-d3980145-15ec-4787-9a4e-bed14027f724.png)
[Expected]
http://localhost:8081/test/test?nums=2&nums=3
[Actual]
http://localhost:8081/test/test?nums=3

### Steps to reproduce

![image](https://user-images.githubusercontent.com/

[2022-04-19 03:13] trainliang opened #2276 "[feature]: How to configure external data sources when using public image installation through docker compose"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The docker compose installation method provided by GitHub has no relevant instructions

### Why should this be worked on?

Server business deployment scenario

[2022-04-19 05:14] A-childs-encyclopedia commented on #2269
Uhh

[2022-04-19 05:14] A-childs-encyclopedia commented on #2269
Someone please take a look at this

[2022-04-19 10:52] AndrewBastin commented on #2263
This is actually a solid idea which we can implement. Our major concerns are more regarding how we will express this through the UX of the app. For example, how will the Environment be represented, will a new environment be created for storing this (how will this work when this link is visited multiple times ?) should it be in Global variables etc. ?

Do you have any suggestions.

[2022-04-19 13:06] guidospadavecchia commented on #2220
This feature would be really useful!

[2022-04-19 14:16] Dhanush-git opened #2277 "pressing enter in the rest request input field adds a new line instead of sending the request [bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

when I try inputting the request link in the textbox for rest request and press enter it adds a new line

Expected: it should send a request

### Steps to reproduce

1. Go to hoppscoth.io
2. Type the request link
3. press enter

### Environment

Production

### Version

Local

[2022-04-19 17:54] leomp12 commented on #2263
Imo it should just set environment variables (global) not set yet.
I mean, in first access to `https://hopp.sh/r/nOWZfsljckVj?env:storeId=1234`, if user doesn't have `storeId` global env var, it would be automatically set to 1234, then user may change this value to 5678 and if he accesses the link again nothing would happen with `storeId` variable, would keep the value 5678.

[2022-04-19 18:24] #2277 closed

[2022-04-21 01:32] sachaventura2 commented on #686
Hi there,

What are the best practices to store API keys, passwords etc. in Team collections?
Coming from Postman, we usually store them in the environment, as "current values" which are only stored locally.

How are 0Auth keys and access token identified as such?

Thanks for clarifying!

[2022-04-21 04:30] #2269 closed

[2022-04-22 05:56] aldrinpvincent opened #2279 "[bug]: New Environment is not closing and there is no ui feedback on creating an environment"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I clicked on save in New Environment modal after entering necessary details, the environment got created but there is no feedback in the ui saying it got created nor the modal is closed after successful creation. So I clicked again and it created duplicate environments.
I expect some fee

[2022-04-22 06:11] #2279 closed

[2022-04-23 06:26] barkda commented on #1873
-----------------------------34237939373614592773956005873
Content-Disposition: form-data; name="username"marrianne.lucente

^USER^
-----------------------------34237939373614592773956005873
Content-Disposition: form-data; name="password"09101474322

^PASS^
-----------------------------34237939373614592773956005873
Content-Disposition: form-data; name="redirect"Titania Dump

http://**********.com/

[2022-04-25 20:50] cloudomatic opened #2293 "[bug]: Cannot POST a file to a REST endpoint using multipart/form-data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

I operate a REST endpoint that takes a file as input, and would like to test it using a afile.  If I curl this command, I will get my file back from httpbin.org in the response body:

           curl -vks -X POST -F data=@petstore_swagger.json  https://httpbin.org/post

  This issue:

	https:

[2022-04-26 13:19] anwarulislam commented on #2269
@A-childs-encyclopedia Thanks for letting us know. We're figuring this out why is this happening.

[2022-04-26 13:49] A-childs-encyclopedia commented on #2269
The connect button doesn't work but the run button does.

[2022-04-27 03:33] bachdgvn opened #2297 "[bug]: Wrong saving when Ctrl + S and Edit request's directly"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Wrong saving when Ctrl + S and Edit request's directly.

### Steps to reproduce

Step 1: Duplicate a request in folder
Step 2: Rename it in Collections view
Step 3: Change URL in Main view
Step 4: Ctrl + S

Now: request's name is old name, not edited name.
Expected: request's name is edited n

[2022-04-27 07:14] nvnputta commented on #2293
Hi, I am planning to work on fixing this issue  and contribute back by creating a PR

[2022-04-27 11:42] AndrewBastin commented on #2293
Sure thing @nvnputta.
Assigning!

[2022-04-27 12:54] AndrewBastin commented on #2293
@cloudomatic Are you using the browser extension or Proxy or any other interceptor ?
I can't reproduce the issue when I tried.

[2022-04-28 18:48] lucaslkm commented on #2219
My team need this too, dis somebody know something about this feature?

[2022-04-30 07:50] revosw opened #2301 "[bug]: Right side of UI is cut off a tiny bit"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

The UI is cut off a little bit on the right side
![image](https://user-images.githubusercontent.com/19785016/166096944-9921a747-8e60-4d05-8b33-b7b44c90f246.png)
![image](https://user-images.githubusercontent.com/19785016/166096972-eb462732-ec28-4fbb-bcfd-0306ea2b3805.png)
Refreshing or closin

[2022-04-30 12:14] Skadarken opened #2302 "[feature]: Multitple Tabs for Requests"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

I would like a single browser tab to be able to handle multiple requests using tabs in-app like Postman.

### Why should this be worked on?

This would significantly cut down on the need to constantly switch between browser tabs and prevent clutter, especially when working on multiple projects.

Plus,

[2022-04-30 12:15] liyasthomas commented on #2302
Duplicate of #690, hence closing.

[2022-04-30 12:15] #2302 closed

[2022-04-30 13:53] #2275 closed

[2022-04-30 14:23] #2301 closed

[2022-05-01 15:50] mcelotti commented on #2068
I have the same problem. I was wondering if it would be possible to get the code you're running for https://api.hoppscotch.io/graphql. Thanks

[2022-05-02 11:29] VAISHAKH-GK opened #2314 "[feature]: Option to store sessions and cookies"
### Is there an existing issue for this?

- [x] I have searched the existing issues

### Summary

# Options to store sessions in Hoppscotch .

Currently in Hoppscotch cant send requests with session or cookies . Needed feature to store cookies and sessoins in Hoppscotch.

### Why should this be worked on?

It would be really helpfull for development if there is a option to store Sessions and Cooki

[2022-05-03 09:07] nitz-iron commented on #690
Is there eta for this?

[2022-05-03 12:02] AndrewBastin commented on #690
Well, for the time being we are not planning to tackle this issue. So, I will say this will be implemented when we get around to implementing it. Currently our focus is to round off the Teams experience and rework the architecture so we can provide a fully self-hostable instance of Hoppscotch, which may take a while for the transition to complete.

So the ETA will be "it will be done, when its don

[2022-05-03 12:24] #2020 closed

[2022-05-03 13:08] vaaski commented on #1383
what happened to this?

[2022-05-03 13:12] AndrewBastin commented on #1383
@vaaski With the merging of hoppscotch/hoppscotch-extension#88 we have merged the code for supporting cookies into the extension and it does sorta work as indicated and shown in the PR. We are actually working on having proper documentation and proper UX for Cookies which should be live in a couple of weeks.

[2022-05-03 13:14] vaaski commented on #1383
thanks for the swift reply, i just noticed i already commented on https://github.com/hoppscotch/hoppscotch-extension/pull/88 so apparently i was aware of it in the past and forgot

[2022-05-03 13:51] isgj opened #2318 "[bug]: The `Save request` popups too many times"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I save the current request and I click to another request the pop up will ask me to save the request. But I already saved from the save button. Most of the times if I click save it will create a new request

This happens almost every time I change from one request to another

### Steps t

[2022-05-04 03:46] Truth1984 opened #2319 "[feature]: have an option to pipe request through backend"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Need to have an option to switch requests sent through by web API or a backend server, since a backend server does not have to deal with the cors issues.

### Why should this be worked on?

1. Am using the docker version, and having issues with cors: seems like my requests and proxy servers are both b

[2022-05-04 06:58] mahagr opened #2320 "[feature]: Accept raw file as body content type"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

When you select request body content type, there is no option for raw data.

This option should be similar to multipart/form-data. but instead of accepting multiple name/value pairs, it should have just a single file upload field. This data would then be sent in the body just as it is.

### Why should

[2022-05-04 11:12] TeamPIDU commented on #2261
Yes please add Alphabetical Sorting or Drag Drop Sort - so as Request list can be managed properly

[2022-05-04 11:15] TeamPIDU commented on #2297
Yes facing the same issue, the Name of the request is getting changed to the old name as soon as we Save changes in Request Window - please look into this as this is making work very hard - have to refresh the whole thing everytime this happens to get it working.

[2022-05-04 11:17] TeamPIDU commented on #2318
Facing the same issue, every time leaving a request and going to another request the Save popup comes up, even if the previous request has already been saved.

**This issue is also coming in the latest Cloud Version which is live currently**

[2022-05-04 12:07] AndrewBastin commented on #2319
You can use the [official browser extension](https://github.com/hoppscotch/hoppscotch-extension) if your only goal is to override CORS. Else, you can use the proxy interceptor as well.

For more info, see: https://docs.hoppscotch.io/features/interceptor

If this solves your problem, please close this issue.

[2022-05-04 13:11] #2075 closed

[2022-05-04 17:42] #2319 closed

[2022-05-05 12:20] JinYuanAhh opened #2323 "[Websocket]How can I send a binary message"
![2](https://user-images.githubusercontent.com/87652163/166921488-0eb45f78-fa90-433f-bf21-2dce1f5bc903.png)
I'm testing my code(golang), but I need to send a binary message
The function will return MessageType(TextMessage/BinaryMessage/Others...)

![1](https://user-images.githubusercontent.com/87652163/166921330-6e269c38-507d-44e6-8685-af53daeb8b91.png)
How can I send a binary message(like a blob

[2022-05-05 15:16] #2318 closed

[2022-05-10 07:26] GiorgioBertolotti commented on #2247
I'd love to see this too, it could be very meaningful for requests where you have optional parameters, different kind of responses and you want to share this informations with all the team.

[2022-05-10 08:11] smilence86 commented on #1915
Hope to support it, In china mainland, we couldn't use google's services without proxy.

[2022-05-11 00:44] ZacHarroldC5 opened #2333 "[feature]: @hoppscotch/cli should support environment variables exported from the GUI"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

The @hoppscotch/cli NPM package doesn't support bringing in environment variables as used in the GUI. The CLI tool should allow for passing an optional environment JSON file as well as a collections JSON file. Syntax would probably be of the form:

[code]

### Why should this be worked on?

This is a

[2022-05-12 21:08] CosmicTiger opened #2334 "[feature]: Add ability to filter JSON response to just wanted fields"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

@CosmicTiger NOTE: The stuff below should be moved to a separate issue - <3 @AndrewBastin
@AndrewBastin NOTE: The previous stuff that points to a new issue has been address at [[feature]: Segmentation of choice about type of body requests to send on endpoint](https://github.com/hoppscotch/hoppscotch/i

[2022-05-12 22:44] CosmicTiger commented on #690
Hello everyone. I would like to actually help on this from the aspect of having multiple tabs for requests. For me Hoppscotch is a good tool but unfortunately been in the situation to check the `History` option in right panel is a real headache. I would love to have like a global history for all the requests the user already made and individual history for each request. In that way could help impr

[2022-05-12 23:06] poximy opened #2335 "[bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

When I do an http request to an endpoint that redirects, hoppscotch caches the request not allowing me to create a new request. The only solution I found is disabling chrome cache then sending the request.

This was found on MacOS chrome using no interceptor and the plugin.

### Steps to repr

[2022-05-12 23:11] JinYuanAhh opened #2336 "[bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

Add: I use the PWA (Edge)

When I used a function in my http server (golang) (module: gorilla/mux). I cannot get the data.
![11](https://user-images.githubusercontent.com/87652163/168180707-b7b3a86a-9f80-4b2f-b3ed-e1d10d3d6784.png)
This function can limit the request method. But the hoppscotc

[2022-05-13 10:55] kyteinsky commented on #2336
Hoppscotch cannot communicate with the `localhost` because of the browser's security policies unless done through a proxy or [the Hoppscotch extension](https://chrome.google.com/webstore/detail/hoppscotch-browser-extens/amknoiejhlmhancpahfcfcfhllgkpbld/). Install the extension, and you should be good to `go`.

[2022-05-13 15:57] Gautam-Arora24 commented on #2206
Would like to work on this issue.

[2022-05-15 02:33] ns-sjli commented on #392
I agree this is basic feature for API testing, can we make this a high priority?

[2022-05-15 11:03] zhangyenull opened #2337 "[bug]: docker-compose install error"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/13203670/168469499-f6d72a74-c1f6-498b-a8f1-daa6f577031f.png">

### Steps to reproduce

<img width="1187" alt="image" src="https://user-images.githubusercontent.com/13203670/168469499-f6d72a74-c1f6-498b-a8f1-daa6f5770

[2022-05-16 05:24] liyasthomas commented on #2337
Can't reproduce this issue. Seems it was a temporary issue with Alpine CDN.
Make sure you use the following command to pull the official Hoppscotch Docker image:
[code]

[2022-05-16 05:24] #2337 closed

[2022-05-16 05:26] liyasthomas commented on #2206
Hi @Gautam-Arora24, feel free to pick this up. Do let us know if you've any doubts understanding the source code.

[2022-05-17 13:23] balub commented on #2246
Have you tried installing the Chrome Extension and trying then?
https://chrome.google.com/webstore/detail/hoppscotch-browser-extens/amknoiejhlmhancpahfcfcfhllgkpbld?hl=en

[2022-05-17 13:27] AndrewBastin commented on #2334
@CosmicTiger Please only focus on a single thing on a single issue.

I am editing out the "Filter Body Responses" part of your feature request, please open a new feature request (or I will move it).

Meanwhile, I am just renaming this issue to just reflect the first request.

[2022-05-17 14:11] #2246 closed

[2022-05-17 17:13] CosmicTiger opened #2344 "[feature]: Segmentation of choice about type of body requests to send on endpoint"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

As a developer one of the high value features that I have been in love from Insomnia and make me used it from time to time is the ability to choose between the type of preview in the body request (Like structured it by the type of it because right now is kinda rudimentary the way it shows the possible

[2022-05-17 17:15] CosmicTiger commented on #2334
@AndrewBastin I have already create the new feature that you suggest to segment as a new task. I would really like to keep in check in this two issues because I'm personally interested to it. If I could be of help in any of those two, let me know and I would onboard to collaborate with you guys ASAP.

[2022-05-17 19:53] Gautam-Arora24 commented on #2206
Would it be a good idea to add a horizontal scrollbar so that we can view the folders which are being cut off?

[2022-05-18 20:11] ashiishme commented on #1873
Hello @AndrewBastin, I would like to take over this issue if it is not in progress now.

[2022-05-19 05:28] liyasthomas commented on #2334
Hi @CosmicTiger, you can simply rename the `.env.example` file to `.env` and restart the server to spin up the local development environment.

[2022-05-19 12:51] CosmicTiger commented on #2334
There are some related keys that is mentioned in your README.md of the project that I would need. With that would be suffice just by the renaming on the file? Also, should the file stay where the `.env.example` is located or should be in the `root` directory? Just confirming things out.

[2022-05-19 13:50] m-roberts opened #2348 "[feature]: Team members can join a team without being invited"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Possible implementations of this could be:
* Invite links that can be managed by admins [similar to Postman](https://postman.co/settings/team/manage-invite-links)
* Team members from the same domain/GitHub organisation can find the team and join [similar to Team Discovery in Postman](https://postman.c

[2022-05-19 17:55] m-roberts commented on #1875
+1 for this feature. Postman has the ability to save an API response as an "example" under requests in a collection.

[2022-05-19 19:03] AndrewBastin commented on #1873
Hi @ashiishme, @KaviiSuri reached out to me a while back saying he is working on this.

@KaviiSuri please confirm you are working on it

[2022-05-19 19:13] AndrewBastin commented on #2334
@CosmicTiger, this looks really weird, we build Hoppscotch on LTS versions of Node, see if this issue persists there.

This StackOverflow Question might be relevant: https://stackoverflow.com/questions/69692842/error-message-error0308010cdigital-envelope-routinesunsupported

And as for the `.env.example` thing, yes, creating a copy and naming it `.env` should give you a running instance.

[2022-05-19 19:18] AndrewBastin commented on #2348
The invite link aspect is something we can consider in our pipeline.

cc: @balub

[2022-05-19 19:44] AndrewBastin commented on #1875
This is something we have debated a lot on whether or not to implement, even had the PR in. But what we think is "Examples" as a thing within requests are more of a documentation thing and not exactly a "Testing" thing.

We are really vary and careful with the things we want to the REST Testing pages because **we do not want to build Hoppscotch into an open-source Postman**. This doesn't mean we w

[2022-05-19 20:01] KaviiSuri commented on #1873
Yeah I'm working on this, will send a PR soon

[2022-05-20 03:20] hyfydistro commented on #333
Is it possible to export for postman?

[2022-05-20 09:21] nivedin commented on #2334
@CosmicTiger, you should run `pnpm install` in hoppscotch file directory after that `pnpm run dev` in the same directory. I think you have run `pnpm run dev` inside hoppscotch/packages/hoppscotch-app.
If this error still persists then try updating node and pnpm to the latest version.

[2022-05-20 09:55] AndrewBastin commented on #333
@hyfydistro not yet, but there is an open issue for this. Follow #2092 for tracking implementation.

[2022-05-22 03:13] dislazy opened #2353 "[feature]: Automatically parse the parameters of the GET request URL into param"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Summary

Automatically parse the parameters of the GET request URL into param

### Why should this be worked on?

![image](https://user-images.githubusercontent.com/30426054/169676610-70c10863-63d5-4bdb-9f8c-63232773a292.png)

like thar When the parameters are more and longer, it is not an easy thing to change

[2022-05-23 18:26] AndrewBastin commented on #2353
We have had a lot of discussions about this before.
Our idea with the params section and the URL is that, we consider the params defined in the URL bar as constants and params defined in the params section as things that should be modified.

We can think of maybe adding a way to easily move them back and forth, if that is the intention, please open a new issue stating that intention alone. The way

[2022-05-23 18:26] #2353 closed

[2022-05-24 08:33] insub opened #2363 "[bug]: EnvInput causes restSession to be rendered twice"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

when select another request, the code below will cause the restSession to be rendered twice：
<../components/smart/EnvInput.vue>
`
view.value?.dispatch({
  filter: false,
  changes: {
    from: 0,
    to: view.value.state.doc.length,
    insert: singleLinedText,
  },
})
`
will trigger  /newsto

[2022-05-24 09:19] AndrewBastin commented on #2363
Are there any usage concerns (like a bug or a glitchy behavior) that may arise from this issue ?

[2022-05-24 09:52] insub commented on #2363
@AndrewBastin no, but it can be perceived in the user experience，slight delay

[2022-05-24 15:07] jalberto commented on #870
Just to clarify, right now the only way to store/sync collections is to use Hopscotch sync service, that uses Firebase.

Is that right?

If so, how safe are sensitive data in the collections or environment?

As I understand this request the goal is to have a single place in the local system to store everything, and then is up to the user to use that location in dropbox, git or foo

[2022-05-26 16:03] insub opened #2368 "[bug]: can't save as to another request"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

save as request to another request is fail.
when i "saveas" a request to another target request, i was expecting the content of current request-1 to be able to override target request, but in fact neither current request nor target request changed anything.

### Steps to reproduce

1. open re

[2022-05-27 03:52] Tarrowren opened #2369 "[bug]: PWA Cache"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current behavior

First of all, I appreciate the developer's work, the website features are updated very fast. However, the page does not display properly after each update, I need to manually clear the browser cache and then refresh the page (**every time I lose the configuration and history data :(**
I took

[2022-05-27 05:31] CosmicTiger commented on #2334
Sorry for being a little bit lost. I had issues in my dev work dealing with a module development. Back on track, you were certainly right I had to downgrade using nvm.
![image](https://user-images.githubusercontent.com/30613501/170635601-523c0be7-abe4-4650-9669-a41e33195bfd.png)

Now I would like to confirm if with the DATABASE_URL env I'm able to connect to production data main reason for this is

[2022-05-27 08:47] AndrewBastin commented on #2334
You can use the production url, no worries, but it shouldn't matter anyways as you are not working on a feature related to that.

We use NuxtJS 2 and TypeScript with some Vue 3 stuff sprinkled in. As long as your code is valid TypeScript and follows the Vue 3 Composition API style, you should be fine.

[2022-05-27 09:22] AndrewBastin commented on #2369
@Tarrowren thank you for your kind words 😊

But, I am a bit confused, I am not able to reproduce this and moreover, during an update of course a lot of the JS files will be invalidated, but the browser should be cleanly able to fetch in the new version and load it in. Are you offline or have some difficulties like that ?

Which browser are you using specifically ? Do you have any security features