[2020-05-18 02:35] liyasthomas commented on #868
@jack1142 I've updated the Wiki with basic Firebase integration docs. This is incomplete since Firebase functionalities are deeply coupled with our essential features.  I'll update as we move forward.

[2020-05-18 05:25] AndrewBastin commented on #869
@liyasthomas are you working on this ?

Else I will take it up ^_^

[2020-05-18 05:27] liyasthomas commented on #869
@AndrewBastin Actually I couldn't find why this behaviour happened. The contents passed to the editor seens to be receiving an `object` type.

[2020-05-18 06:35] AndrewBastin commented on #869
I am working on it.

Seems like it is a weird Ace Editor bug.

[2020-05-19 03:31] WafeiBaBa opened #880 "Cannot connect my local websocket server"
![image](https://user-images.githubusercontent.com/34429036/82281551-30d31100-99c4-11ea-839a-84b395b17912.png)

Like this picture above, the connect button is disable.

[2020-05-19 04:23] liyasthomas commented on #880
@WafeiBaBa Thanks for reporting the issue. Will fix it ASAP. Meanwhile you can access your local WebSocket endpoints from `wss://127.0.0.1:8080/ws`

[2020-05-19 06:58] AndrewBastin commented on #869
This bug is caused due to the default behaviour of axios to take string responses and try to parse them to JSON objects even if the content type is not for a JSON response.

So, when a valid returned eventhough it is set to `text/plain`, it will try parsing it and get the JSON object. Then Postwoman can't figure out what to do with JSON object, causing the issue.

This behaviour is overridden on t

[2020-05-19 07:36] #869 closed

[2020-05-19 11:04] GauthierPLM opened #882 "[feature]: Support disabling TLS certificate validation"
**Is your feature request related to a problem? Please describe.**
I want to call an API deployed on localhost which can only be called with HTTPS but does not have any certificate. Postwoman is unable to connect to this address.

cURL has the option `--insecure` to disable TLS certificate verification.
Postman has a setting to disable TLS certificate verification.

**Describe the solution you'd l

[2020-05-19 13:14] L04DB4L4NC3R opened #883 "Nuxt fatal error"
**Describe the bug**
`npm run build` fails

**To Reproduce**
Steps to reproduce the behavior:
1. Download the release
[code]
2. Unzip
[code]
3. `cd` into the created directory and run:

[code]
4. Run build:
[code]

After running these commands, the installation was supposed to complete successfully but it failed with the following error:

![Screenshot 2020-05-19 13:10:32](https://user-images.githu

[2020-05-19 14:20] liyasthomas commented on #883
@L04DB4L4NC3R, issue have been identified. Pushing a permanent fix now. Kindly [download latest zip](https://github.com/liyasthomas/postwoman/archive/master.zip), then unzip and run:
[code]

[2020-05-19 14:21] #883 closed

[2020-05-19 16:28] liyasthomas commented on #882
Hi @GauthierPLM, I made a quick deploy preview with a toggle to Turn off TLS certificate validation. Kindly check whether it works.

1. Goto: https://deploy-preview-884--postwoman.netlify.app
2. Turn off the "Reject Unauthorized" toggle to accept unauthorized requests.

3. Make request and see whether it works

[2020-05-19 17:40] raha1923 commented on #874
hey @liyasthomas
There is an important thing about implementing other flows of oAuth and it's the security issues that may cause a sort of problem. I'm going to add fields like client-credential and client-secret and ask the user to fill them to make that flows works fine and right and let the user choose to accept the risks or not if they accept the feature would be accessible.

Is it ok???

[2020-05-19 17:51] L04DB4L4NC3R commented on #883
It works. Thanks for the quick reply.

[2020-05-19 22:12] liyasthomas commented on #874
@raha1923 it sounds fine to prompt users to enter `credentials`.

[2020-05-20 04:50] AndrewBastin commented on #880
@liyasthomas any progress ? else I will pick it up.

[2020-05-20 07:31] GauthierPLM commented on #882
Thank you for the quick implem !
I tested it and got the following error :

(Cross Origin Request blocked because the Same Origin policy does not allow to retrieve the resource at …
CORS header "Access-Control-Allow-Origin" is missing.

[2020-05-20 07:33] liyasthomas commented on #882
If you're testing endpoints served locally (`localhost`), make sure you've installed Browser extension. Find links to install extension from readme.

[2020-05-20 07:55] piliplaker opened #885 "[feature]: request parameter description & documentation generation"
Sometimes we use postman not only for api testing , but also for documentation generation.

I know there has been a doc generator already, but it is just basicly functional, which is not enough for our daily use. We need the description per parameter and a relatively isolated page to show the doc to the guys we work with.

Also can you improve the experience  of the process when tring to generate

[2020-05-20 07:57] liyasthomas commented on #885
Thanks for raising concerns on current Documentation generator. Current implementation is very basic and needs major improvements. Will work on it as we move forward.

[2020-05-20 08:06] liyasthomas commented on #880
@AndrewBastin sorry for the delay. I caught up with some personal stuffs. The issue is regarding the newly implemented regex for WSS url validation. Port number on localhost isn't passing. Think you can add that to regex.

[2020-05-20 08:50] GauthierPLM commented on #882
I installed it, made sure the extension use is enabled in settings, disabled the verification, but the issue still occurs.

[2020-05-20 08:50] liyasthomas commented on #882
Okay  I'll debug and let you know.

[2020-05-20 11:51] guchongxi opened #886 "When deleting the header, the key is not updated"
**Describe the bug**
A clear and concise description of what the bug is.

When editing multiple headers, one of them is deleted and its key is not updated

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

[postwoman online](https://postwoman.io/?method=GET&url=https://reqres.in&path=/api/users?222222=22222&44444=44444&55555=555555&headers=%5B%7B%22key%22:%22222222%22,%22value%22:%

[2020-05-20 12:06] #886 closed

[2020-05-21 02:55] #880 closed

[2020-05-21 08:10] someshkar opened #891 "Handle JSON Parameter list validation"
**Is your feature request related to a problem? Please describe.**
The ability to add and remove fields when POSTing JSON bodies to an API is only limited to key value pairs. When trying to POST data to a REST API which consumes a JSON array, I don't see a clear way to do this. The JSON body looks like this:

[code]

**Describe the solution you'd like**
I'd like to be able to add an array as the v

[2020-05-21 18:41] AndrewBastin commented on #891
@someshkar Thank you for opening the issue.

We will look into the issue ASAP.

For now, I suggest you use the Raw Input mode to edit the JSON directly.

[2020-05-22 03:10] someshkar commented on #891
@AndrewBastin How exactly do I access the Raw Input mode for editing the JSON directly?

[2020-05-22 03:18] liyasthomas commented on #891
@someshkar toggle "Raw Input"
![InShot_20200522_084334764](https://user-images.githubusercontent.com/10395817/82627758-b941f380-9c08-11ea-9d97-775c2d3350f5.jpg)

[2020-05-22 03:21] someshkar commented on #891
@liyasthomas Alright thanks!

[2020-05-22 23:34] liyasthomas commented on #891
key - value pairs should only be used for string types. For arrays, switch to "Raw input".

[2020-05-22 23:41] AndrewBastin commented on #891
@liyasthomas won't it be nice if there is warning or toast or something about this ?

[2020-05-22 23:45] liyasthomas commented on #891
Okay, a toast should be appropriate.

[2020-05-23 10:44] someshkar commented on #891
Yeah, a toast makes sense for now.

[2020-05-24 07:59] jonasbark opened #894 "TypeError: Cannot read property 'startsWith' of undefined - after getting 401 response"
**Describe the bug**
Javascript error after sending request.

**To Reproduce**
Javascript error:
[code]
Without the extension:
[code]
HTTP Response from the server:
[code]
By default Spring Boot does not send a response body for unauthorized requests - so no content-type is included in the response header I guess.

**Expected behavior**
401 HTTP error message

**Desktop (please complete the follow

[2020-05-24 08:04] liyasthomas commented on #894
Hi @jonasbark ,
can you try force reloading the web app and see whether issue exists or not?

[2020-05-24 08:06] jonasbark commented on #894
Still happens - I only discovered Postwoman yesterday, so it's probably not a cache issue :)

[2020-05-24 08:56] AndrewBastin commented on #894
Oops I get the problem.

I will roll out a patch in an hour or so.

It will take a day or two to get this bug fixed on the extensions though (Chrome Web Store verification takes time)

[2020-05-24 12:34] zahhar opened #896 "Environment variable template (<<foo>>) appears urlencoded (%3C%3Cfoo%3E%3E)"
**Describe the bug**
When a request used from Collection has environment variable interpolated into its URL, that variable appears urlencoded ("<" char replaced with "%3C" and ">" char replaced with "%3E"). No impact on functionality: interpolated variable still works, just looks ugly in URL field.

**To Reproduce**
1. Define pre-request environment variable: `pw.env.set('foo', 'bar');`
2. Use it

[2020-05-24 13:00] zahhar opened #897 "Labels are lost when using requests from collections"
**Describe the bug**
When request from collection is used, its label is not populated into respective form field. This leads to multiply issues with saving edited requests back to collection (duplicated entries in collection can be created, original label value gets lost, etc.)

**To Reproduce**
1. Save request to collection and ensure it has a label (`getWebhookInfo` in my example):
<img width="7

[2020-05-24 13:34] #894 closed

[2020-05-24 16:00] BOZG opened #898 "Add authentication to MQTT"
**Is your feature request related to a problem? Please describe.**
The MQTT function works great but doesn't allow connections to MQTT servers that require authentication.

**Describe the solution you'd like**
The ability to use authentication with the MQTT feature.

**Describe alternatives you've considered**
I haven't considered any as I don't know what's needed to implement this feature!

[2020-05-26 02:21] #896 closed

[2020-05-26 02:22] dhemas opened #900 "Collections & Environments not synced"
**Describe the bug**
My collections & environments not synced, even after toogling sync option in setting. Only my request histories were synced.

**To Reproduce**
Steps to reproduce the behavior:
1. Open postwoman
2. Signin with google
3. Import collections
4. Toggling on sync option
5. Try to open postwoman in incognito and in my smartphone, logged in with google
6. Got blank collections & envir

[2020-05-26 02:29] liyasthomas commented on #900
@dhemas is there any errors in console log?

[2020-05-26 03:10] #891 closed

[2020-05-26 06:48] dhemas commented on #900
Console log is clean, no error or exception whatsoever. If you my help to do something to debug I'll gladly help

[2020-05-26 08:34] maodie opened #901 "Could postman add Sign in with LDAP server？"
Could postman add Sign in with LDAP server？

[2020-05-26 08:45] liyasthomas commented on #901
Not included in roadmap.

[2020-05-26 08:45] #901 closed

[2020-05-26 10:17] rahulnpadalkar commented on #898
Authentication using username and password @BOZG ? Thanks!

[2020-05-26 10:59] BOZG commented on #898
In my case I meant username and password but MQTT also allows for X509 certificate authentication and client ID authentication.

Client ID can be used as a standalone authentication method, as an additional layer to basic auth (so that username, password and client ID must match) or a simple client identifier (which I use it for).

[2020-05-26 12:01] jgroom33 opened #902 "env var objects"
No code should be required to support access to environments

Env vars should allow objects

![image](https://user-images.githubusercontent.com/3970574/82898298-3f667e80-9f16-11ea-8449-dfd0b1238161.png)

[2020-05-26 12:13] jgroom33 opened #903 "Question: What is parsing << >>"
What is parsing the parsing the << >> portions of a request?

[2020-05-26 12:17] liyasthomas commented on #903
<<>> is used to encode and decode env variables in pre-request script.

[2020-05-26 12:17] #903 closed

[2020-05-26 15:11] rahulnpadalkar commented on #898
Postwoman uses paho-mqtt library
Ref doc -  https://www.eclipse.org/paho/files/jsdoc/Paho.MQTT.Client.html

I don't see certificate base authentication option available (Correct me if i am wrong). Any suggestions?

[2020-05-27 01:40] #897 closed

[2020-05-27 11:39] W1M0R commented on #471
I have the same problem. The websocket URL that I am using is: ws://localhost:55560/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJBdXRoTGliIiwic3ViIjoiMmQxN2JhNTYtZGU0Yy00YjBkLWJlOWYtOTg2ODE3MDA4NzY4IiwiZXhwIjoxNTkwNjIxNTE2LjcyNTcxOCwiaWF0IjoxNTkwNTc4MzE2LjcyNTcxOCwianRpIjoiMmRmNmUyOWEtZDYxYS00MzNiLWJkY2EtMTYxNTI1NmM4Yzk2IiwiYXVkIjoiIiwicm9sZSI6ImZkdGZyaWVuZHMiLCJtb2RlIjoicnciLCJjaGFubmVsIjoic3R

[2020-05-27 12:12] W1M0R commented on #471
I had the same problem, but realised that I used an outdated version from DockerHub.

[2020-05-27 14:02] lapo-luchini opened #905 "`pw.response` seems not to work"
**Describe the bug**
Examples from the wiki page seem not to work (yet?).

**To Reproduce**
1. create GET JSON call
2. copy test from wiki: `pw.expect(pw.response.status).toBe(200);`
3. execute call
4. see error: `Expected Cannot read property 'value' of undefined to be 200`

**Expected behavior**
A successful test.

**Screenshots**
![image](https://user-images.githubusercontent.com/420454/8302968

[2020-05-27 14:11] yterletskyi commented on #575
I'm experiencing the same issue, however CORS is working correctly.
For example see the request to a public api:
https://postwoman.io/?method=GET&url=https%3A%2F%2Fworldtimeapi.org
(https://worldtimeapi.org/api/timezone)

![image](https://user-images.githubusercontent.com/11182351/83031370-24daf500-a03d-11ea-8103-e215456fbfb5.png)

Could you please help?

[2020-05-27 14:12] woigl opened #906 "Postwoman Docker Container behind Reverse Proxy"
We want to use the Postwoman Docker container begin an NGINX reverse proxy with a subpath i.e. http://hostname/postwoman

This is an extract of the NGINX config:
[code]

We would expect that the reverse proxy path would be used for the requests, but it seems not to work.
See this image:
![Postwoman-Rever-Proxy-Issue](https://user-images.githubusercontent.com/17859431/83031293-6ec7d900-a045-11ea-8f

[2020-05-27 14:16] liyasthomas commented on #905
@lapo-luchini can you share a reproducible endpoint/link?
I can't reproduce the issue at my end.

[2020-05-27 14:28] liyasthomas commented on #575
@yterletskyi endpoint: `worldtimeapi.org/api/timezone` seems to be working fine at my end.
Open in an incognito tab and test:  https://postwoman.io/?method=GET&url=https://worldtimeapi.org&path=/api/timezone

[2020-05-27 14:34] liyasthomas commented on #906
@JanoschDeurer can you help me to resolve this issue?

[2020-05-27 14:49] yterletskyi commented on #575
@liyasthomas works good in an incognito tab.
Do you think some configurations on browser fail it?

[2020-05-27 14:50] lapo-luchini commented on #905
I seem to be able to reproduce that with any RESP API really (thankfully, because my own is only accessible via private VPN) and even without variables / environments:
URL: `http://dummy.restapiexample.com/api/v1/employees`
Test code:
[code]
Same result:
![image](https://user-images.githubusercontent.com/420454/83035647-01627b00-a03a-11ea-9691-4895d3f0ae09.png)
Application reports itself to be v.1

[2020-05-27 15:02] liyasthomas commented on #575
@yterletskyi no, browser configs may not be an issue. Confirm it is working by clearing the cache and testing on regular tab. Let me know if the issue persists.

[2020-05-27 15:16] liyasthomas commented on #905
The endpoint: `http://dummy.restapiexample.com/api/v1/employees` won't work because it is served with `http` protocol. I tried with `https` but it refused to connect.

Postwoman being hosted in `https` protocol - browser will restrict all non-secure `http` requests.

To test non-https endpoints, please use **Browser extension** (link in readme) or Toggle Proxy mode on from settings > proxy.

And a

[2020-05-27 15:16] #905 closed

[2020-05-27 15:42] yterletskyi commented on #575
Worked by your recipe. I'm not sure what caused it, if you need more details from my end let me know thanks.

[2020-05-27 15:43] AllanOricil opened #907 "Cant Import Postman Global Environment Variables"
I tried to import my global environment variables from postman to postwoman and it did not work. It also did not show any error or warning messages.

How to reproduce:
1 - create global variables in Postman
2 - Export the global variables
3 - Import the file into Postwoman

Expected Behavior:
To have the Global variables available inside Postwoman.

Actual Behavior
Global variables imported from P

[2020-05-27 15:48] liyasthomas commented on #907
@AllanOricil can you share a sample exported json file?

[2020-05-27 16:16] AllanOricil commented on #907
Hi liyasthomas. Follow the json for the Globals.

How can I see the console?

[code]

[2020-05-27 16:42] liyasthomas commented on #907
Found the issue. Pushing a hotfix now :+1:

[2020-05-27 16:47] #907 closed

[2020-05-27 17:38] lapo-luchini commented on #905
But _I am_ using the browser extension, in fact.
And, watching the extension's background page, the request worked correctly too:
![image](https://user-images.githubusercontent.com/420454/83053744-8016e280-a051-11ea-8e35-cb49a0ee29ef.png)

[2020-05-27 21:43] AllanOricil commented on #907
Thanks. Im gonna do another test :)

[2020-05-27 21:44] AllanOricil commented on #907
It worked
![image](https://user-images.githubusercontent.com/55927613/83075343-0e876600-a04a-11ea-92f6-2346b94edbcf.png)

[2020-05-28 00:04] liyasthomas commented on #905
Can you check if there's any errors in console log?

[2020-05-28 03:35] baijingetangzichen opened #908 "How to upload a file with a post request"
does it have a function like postman, "post" to submit a file

[2020-05-28 03:39] liyasthomas commented on #908
Possible duplicate of #298
https://github.com/liyasthomas/postwoman/issues/298#issuecomment-553470110

[2020-05-28 03:39] #908 closed

[2020-05-28 07:32] lapo-luchini commented on #905
Yes there is, I tried debugging but the (internally beautified) code isn't clear to me.
(I tried with a local `git clone` + `npm run serve` but then it's in `http` and doesn't happen)
Do you have an `https` deploy with included SourceMaps?
(I also tried deploying it in `https` on my own, but then it fails connecting to my Chrome extension)

Console error:
[code]

Innermost line:
`null !== F.a.curr

[2020-05-28 07:37] liyasthomas commented on #905
Try clearing all app cache and uninstalling service worker from dev tools.

[2020-05-28 08:28] lewislbr commented on #871
Just to give an idea about this: could the time be saved in the request history, for example next to the HTTP method? So it doesn't get lost after the toast is gone.

[2020-05-28 08:35] liyasthomas commented on #871
@lewislbr we're already saving request completion time to history. Toggle "show more" on history section to view all options.

![image](https://user-images.githubusercontent.com/10395817/83118591-2ca5a280-a0ec-11ea-997b-508d36c0f535.png)

[2020-05-28 08:41] lewislbr commented on #871
@liyasthomas Awesome! Didn't see that, thanks!

[2020-05-28 09:09] bemijonathan opened #909 "Button to cancel requests"
Sometimes wrong requests take forever to get a response and I just want to cancel it but there is no button to cancel it I have to wait for it to error out or refresh the tab

[2020-05-28 09:14] liyasthomas commented on #909
@bemijonathan thanks for the feature request. This should be implemented.

[2020-05-28 10:05] BOZG commented on #898
Sorry for the delay in replying! Unfortunately that side of things is a little beyond me. Certificate authentication is definitely a thing though but maybe it's just not supported by Paho?

[2020-05-28 12:21] JanoschDeurer commented on #906
@liyasthomas Yes, i'll give it a look later today

[2020-05-28 13:21] joeetten-progenity commented on #885
I agree, the documentation needs some help but it is at least semi-useful.

I'd also add that I'd expect that when I click on an object/collection in my collections tab and hit the "Generate Documentation" button, it would show me the documentation for that object/collection.

Currently, it does not appear to do this. It just takes you to a "blank" page where you can import or paste a collection.

[2020-05-28 13:27] liyasthomas commented on #885
@joeetten-progenity separate issue isn't needed - overall improvements are required which covers the mentioned use case

[2020-05-28 21:21] JanoschDeurer commented on #906
I wrote a small test setup and got the same errors.

This doesn't look like a Docker problem to me. I'm not really good with web development, but it looks to me like the paths to the .js files in the head section of the index.html should be relative links instead of absolute ones. @liyasthomas if you give me a hint where these links are generated I'll test it.

Here is my test setup:
[code]

[code

[2020-05-28 21:57] AndrewBastin commented on #906
The `index.html` file is generated by the Nuxt build process and there is no way currently to make Nuxt generate relative URLs (see issue https://github.com/nuxt/nuxt.js/issues/1380).

If you are using subpaths, I am pretty sure you can override the [`router.base`](https://nuxtjs.org/api/configuration-router#base) to generate code based on the subpath.

[2020-05-28 21:59] AndrewBastin commented on #909
Working on this :muscle:

[2020-05-29 08:16] JanoschDeurer commented on #906
I looked into the `nuxt.config.js` file and it seems there is already an evn variable that does exactly what we need:
https://github.com/liyasthomas/postwoman/blob/master/nuxt.config.js#L17
But I think this is only triggered on build time right?

[2020-05-29 08:25] liyasthomas commented on #906
@JanoschDeurer yes you're right - it's only triggered at the build time.

[2020-05-29 09:41] kangzhaotong opened #911 "proxy issue"
Why I can not set proxy as same as postman,the postman is use  the system proxy

[2020-05-29 10:07] liyasthomas commented on #911
Postwoman being a web app, we can't explicitly use system's proxy - but you can still either use custom proxy url (settings > proxy) or configure browser to use system proxy.

Installing postwoman browser extension solves this issue by acting as a middleware between web app and system.

[2020-05-29 10:07] #911 closed

[2020-05-29 13:57] nhidtran opened #912 "typing into headers input fields"
**Describe the bug**
A clear and concise description of what the bug is.
when typing in a header e.g. `SomeHeaderName` it kicks you out of the input field after each character input

**To Reproduce**
Steps to reproduce the behavior:
Header List and type in a header
**Expected behavior**
remaining focused in the input until clicking outside

**Screenshots**
If applicable, add screenshots to help ex

[2020-05-29 14:04] liyasthomas commented on #912
@nhidtran issue has been identified. Will fix asap.

[2020-05-29 17:13] lapo-luchini commented on #905
Cleaned app cache & unregistered worker: **it works now!**
I was logged in with GitHub, yes.
Now I logged again and it seems to be still working.

[2020-05-29 17:17] liyasthomas commented on #898
Adding auth to MQTT broker isn't in roadmap. Hence closing this issue for now.

[2020-05-29 17:17] #898 closed

[2020-05-29 17:20] liyasthomas commented on #900
Please make sure toggles for sync in Settings are turned on. Also try logging out and in once again to check the settings are synced.

[2020-05-29 17:24] liyasthomas commented on #874
@raha1923 just thought I'd ping you to know the status of this issue. are you in need of any help from me?

[2020-05-29 17:45] JanoschDeurer commented on #906
What we can do is add an env variable and then one has to set it in the Dockerfile or pass it to docker build with
[code]
However, I can't get this to work in my local setup, maybe the line I referenced above is not the right one, because I changed that variable and it didn't have any effect for me.

[2020-05-29 23:14] liyasthomas commented on #865
Privacy page is back again - hence closing this issue.

[2020-05-29 23:14] #865 closed

[2020-05-30 01:01] liyasthomas commented on #906
@woigl change the `router.base` value to your desired subpath in https://github.com/liyasthomas/postwoman/blob/master/nuxt.config.js
ie: to serve image in `/pw` subpath, make the following change:

[code]

for convenience, you can set:

[code]

and pass it to docker build with:

[code]

[2020-05-30 01:03] #906 closed

[2020-05-30 05:27] woigl commented on #906
@liyasthomas does this mean, that we have to make a full build or just a build based on your image?

Can you provide me a sample Dockerfile?

[2020-05-30 05:32] liyasthomas commented on #906
Build have to tweaked on nuxt.config.js file. Current docker file works good.

[2020-05-30 11:03] JanoschDeurer commented on #906
@woigl you can set an environment variable in the Dockerfile by adding:
[code]
to your Dockerfile.
If you want to set the variable with:
[code]
use `ARG` instead:
[code]
In any case you always have to run a `docker build` when you change the path. And to your question, yes this build has to be for the container in this project, not one that is based on it.

I know this was not your question, but i

[2020-05-31 02:10] #909 closed

[2020-05-31 17:33] raha1923 commented on #874
@liyasthomas thank you
well I'm trying to find the postwoman useful for our special use case, we are going to use postwoman in a private local network without internet access. so in that case we can't create collections and etc.

I've created a to connect to and send and receive data from. I'm storing data in Mongo with exact schemas. After that, I will start developing the other grant types.

[2020-06-02 09:30] ivpnoida-tj opened #918 "Integrate PostWoman In our Webapp"
Hi,

We have an Web application based ETL tool that comprises a generic UI driven API Runner Component. Our backend is currently in C# as well as java.

We wish to integrate within our API Runner a UI (something like POSTMAN/POSTWOMAN) that provides a variety of features to configure an API run on UI, along with the backend written in C# and Java that would trigger the API.

Would it be possible t

[2020-06-02 15:07] liyasthomas commented on #918
Hi @ivpnoida-tj check out our Wiki on Hosting Postwoman here: https://github.com/liyasthomas/postwoman/wiki/Hosting

Let me know if there's any difficulties following the Wiki.

[2020-06-02 15:07] #918 closed

[2020-06-07 16:38] myussufz commented on #900
I also have the same issue, the environment and collection are not synced when opening in another browser, I realize this happen because of the collection and environment are reading from Vuex state instead of reading from firebase.

[2020-06-07 16:46] myussufz commented on #900
@liyasthomas  I have created a pull request for this fixed, https://github.com/liyasthomas/postwoman/pull/926, you may review this pull request.

[2020-06-08 05:19] #900 closed

[2020-06-08 06:55] mandaputtra opened #927 "[bug] import cURL not working properly"
**Describe the bug**
Import curl with the *Copy as Curl* result on browser network tab doesn't really work.

Broken cURL flags:

- [ ] `--data-raw`
- [x] `--url`
- [x] Importing `x-www-form-urlencoded`
- [ ] Importing `multipart/form-data`

**To Reproduce**
Steps to reproduce the behavior:
1. Make a request on the browser from your application, POST/PUT request, must had `data`
2. Copy the request

[2020-06-10 11:16] pryon opened #929 "Support downloading binary responses"
**Describe the bug**
When a binary file (e.g. an image) is requested, the binary content of the response is properly displayed in the response body window, however if the **Download file** button is clicked, a corrupted blob of data is downloaded instead of the actual binary file that was requested.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to postwoman.io
2. Set `http://tim.org/ima

[2020-06-10 11:40] liyasthomas commented on #929
@pryon Thanks for reporting the issue. We used `Blob()` for generating binary file to download. Actually it was intented for `text/json` formats.

Need to redo how to handle binary files :+1:

[2020-06-10 23:26] JanoschDeurer commented on #906
@W1M0R you can't really. Setting the path variable must happen before `npm build` is run. Maybe you can run the build step again, but I think it would make more sense to just alter the Dockerfile in this project for your purposes.

[2020-06-11 11:23] rvit34 opened #933 "Support header manipulation and pre-request scripting while establishing websocket connection"
**Is your feature request related to a problem? Please describe.**
It would be nice to have an ability to add custom headers (host, api-key, etc.) to pass auth check during establishing websocket connection. Also I need to sign my request, so some pre-request script would be useful as well. Currently your tool does not provide such abilities.

**Describe the solution you'd like**
The Solution is s

[2020-06-12 11:22] raha1923 commented on #874
WIP
![image](https://user-images.githubusercontent.com/18997524/84497810-b21c7b80-acc4-11ea-8417-bc74d8128f63.png)

[2020-06-15 04:38] AndrewBastin commented on #869
@NBTX, I haven't personally tested this with the proxy, but is this an issue on the proxy ?

@liyasthomas ?

[2020-06-16 15:00] prashant1k99 opened #940 "Unable to fetch schema from localhost GraphQL server."
**Describe the bug**
Unable to fetch GraphQL schema or do any query when running on Localhost

![Postwomen Err](https://raw.githubusercontent.com/prashant1k99/testing-graphql/master/postwomen%20err.png)

[2020-06-16 15:01] liyasthomas commented on #940
@prashant1k99 did you install the browser extension?

[2020-06-16 15:02] prashant1k99 commented on #940
No,  i have added the app to home screen. PWA...

[2020-06-16 15:04] liyasthomas commented on #940
You've to install [Browser extension](https://github.com/AndrewBastin/postwoman-extension) to access `localhost`

[2020-06-16 15:10] #940 closed

[2020-06-16 16:57] juan11041970 commented on #524
I see the Collections tab, but I don't see any import option.

[2020-06-16 17:03] liyasthomas commented on #524
@juan11041970 can you share a screenshot of Collections tab?

[2020-06-17 01:02] juan11041970 commented on #524
Here you go. Let me know anything I might be missing.

On Tue, Jun 16, 2020 at 10:03 AM Liyas Thomas <notifications@github.com>
wrote:

--
Juan 'West Coast' Alvarado AKA 'Johnny Sunday' AKA ''Lieutenant Diaz'
Sr. Software Developer

“To those of you who are graduating this afternoon with high honors, awards
and distinctions, I say, ‘Well done.’* And as I like to tell the ‘C’
students: You, too, ca

[2020-06-17 01:06] liyasthomas commented on #524
@juan11041970 can comment here on GitHub. I can't find the screenshot in your reply.

[2020-06-17 01:09] juan11041970 commented on #524
Could it be because it is going to notifications@github.com? Is there any
other email I can send it to?

On Tue, Jun 16, 2020 at 6:06 PM Liyas Thomas <notifications@github.com>
wrote:

--
Juan 'West Coast' Alvarado AKA 'Johnny Sunday' AKA ''Lieutenant Diaz'
Sr. Software Developer

“To those of you who are graduating this afternoon with high honors, awards
and distinctions, I say, ‘Well done.’* And

[2020-06-17 01:10] liyasthomas commented on #524
@juan11041970 kindly send it to liyascthomas@gmail.com

[2020-06-20 10:43] chenyu9390 opened #947 "POST requet error"
POSTWOMAN post request
![TIM截图20200620184246](https://user-images.githubusercontent.com/8199403/85199934-f42d6900-b325-11ea-83ca-c317f8e7fd4e.jpg)
postman post request
![TIM截图20200620184313](https://user-images.githubusercontent.com/8199403/85199938-fabbe080-b325-11ea-8d87-0ec0115d5a0c.jpg)

[2020-06-20 10:55] liyasthomas commented on #947
Kindly install Browser extension (link in readme) to test endpoints served locally

[2020-06-20 10:55] #947 closed

[2020-06-21 02:50] 01010101lzy opened #951 "Enable user-select on websocket and other realtime message logs"
**Is your feature request related to a problem? Please describe.**

It's very often for someone to select and/or copy the log of some websocket communication for debug purposes, so it should be `user-select` = `text` or something similar.

**Describe the solution you'd like**

Make websocket communication log `user-select`-able

**Describe alternatives you've considered**

Directly copy stuff out

[2020-06-21 02:52] AndrewBastin commented on #951
@01010101lzy thank you for opening the issue, I will look into this ^_^

[2020-06-21 03:21] #951 closed

[2020-06-21 03:25] 01010101lzy commented on #951
So fast! Thanks!

[2020-06-25 02:16] imambungo opened #961 "TypeError: Cannot read property 'value' of undefined - when logged in"
**Describe the bug**
Javascript error after sending requests. Only happens when logged in using either GitHub or Google account.

**To Reproduce**
Steps to reproduce the behavior:
1. Login using either GitHub or Google account
2. Do a GET request to https://httpbin.org/get
3. Scroll down to Response
4. See error

**Expected behavior**
Get 200 HTTP response status code, no error.

**Desktop (please

[2020-06-25 02:24] liyasthomas commented on #961
I can't produce issue at my end. Can you please try a force-reload after logging out and logging in again?

[2020-06-25 02:47] imambungo commented on #961
Did that already, still getting the error tho

[2020-06-25 02:49] liyasthomas commented on #961
Can you try another endpoint in which I can reproduce issue at my end. Generally this issue is caused when there's No internet connectivity / web app isn't loaded completely.

[2020-06-29 11:47] ukslim commented on #870
Please don't tie this feature to GitHub specifically. Allow it to use arbitrary git repositories. Some of us use Bitbucket. Some of us run self-hosted git servers.

[2020-06-29 16:43] RickoNoNo3 opened #965 "Textarea display problem in super hi-dpi"
While I was using postwoman in chrome, I found a problem: **all of textareas (with linenumber) undisplayed**.
(only happened in chrome/new edge, no ff/old edge)

You will easily reappear the problem:
make your screen dpi in a super high mode, such as 1920x1080 with 150% scales. And switch to POST method in the postwoman. Then check raw input. you will see that textarea of raw request body has been

[2020-06-30 00:55] liyasthomas commented on #965
@RickoNoNo3 I tried to reproduce the issue at my end but I couldn't. Can you tell a little more about you device. which operating system? Chrome version? etc..
![image](https://user-images.githubusercontent.com/10395817/86070475-76422e00-ba9a-11ea-8ff4-25c117017dfe.png)

[2020-06-30 02:17] Sadomaster opened #967 "Collections and Environment Module"
Collections and Environment module has a menu bar drop-down error and cannot be deleted/edited
![image](https://user-images.githubusercontent.com/58250880/86075557-d648cc80-baba-11ea-83d6-0762c0ad2f67.png)

[2020-06-30 07:17] 188 opened #968 "Do I install NodeJS for my online environment"
Do I install NodeJS for my online environment

[2020-06-30 07:19] liyasthomas commented on #968
Yes you need to install all Node dependencies for online environment.

[2020-06-30 07:19] #968 closed

[2020-06-30 08:45] #967 closed

[2020-06-30 09:00] liyasthomas commented on #850
@JacobAnavisca

[2020-06-30 16:20] RickoNoNo3 commented on #965
@liyasthomas I use Chrome 83.0.4103.116 (latest) on Windows 10 2004. Screen: 1920x1080 (150% as 1280x720)

I tried more about how to make it reappeared and noticed:

-  In 100% default scaling of my Chrome, `document.body.clientWidth` shows `1020`, **with issue**
-  In 90% scaling(`1134`), **with issue**
-  In l/e 80%(`1275`), no issue
-  In g/e 110%(`927`), no issue
-  In media keyword triggered,

[2020-06-30 16:47] RickoNoNo3 commented on #965
nonono, not just page client width, I cannot get it appeared by resizing my browser window to the "problem width". Instead, it still make issue in 90% and 100% scaling no matter how big the window is.
Maybe It is directly related to the total width of the screen? or the dpi?

[2020-07-01 00:13] liyasthomas commented on #965
Noted. Looking into it.

[2020-07-01 00:40] Owez opened #969 "Installing postwoman locally"
**Describe the bug**
I cannot find any documentation to install postwoman as I would like a local install and not have to publish my debugging api publically. It seems like https://github.com/liyasthomas/postwoman/wiki/PWA is all PR for what is suppost to be docs, could anyone lead me to some actual docs?

**To Reproduce**
Steps to reproduce the behavior:
1. Find easy-to-read installation docs

**

[2020-07-01 00:56] liyasthomas commented on #969
https://github.com/liyasthomas/postwoman#local-development-environment

1. Clone this repo with git.
2. Install dependencies by running npm install within the directory that you cloned (probably postwoman).
3. Start the development server with npm run dev.
4. Open development site by going to http://localhost:3000 in your browser.

[2020-07-01 00:56] #969 closed

[2020-07-01 01:36] Owez commented on #969
Ah, I see. Assumed that "developing" was for developing (e.g. contributer setup)

[2020-07-01 07:47] mahoriR commented on #333
I really want to try postwoman as a replacement to postman but inability to import postman collection is a deal breaker. This is the console log on chrome-
[code]

**Note**: I'm able to import the same collection in insomnia.

[2020-07-01 07:49] liyasthomas commented on #333
It's a known issue that Importing Postman Collections fails on nested Collections.
Kindly track this issue: https://github.com/liyasthomas/postwoman/issues/850

[2020-07-01 07:54] mahoriR commented on #850
@liyasthomas  Looks like @JacobAnavisca  is already working on this. I would be happy to contribute. I can work on weekends.

[2020-07-02 12:27] ShahAnuj2610 opened #970 "response content doesn't fit to the text area when resizing"
**To Reproduce**

1. Hit any api (in my case GET: https://api.spacexdata.com/v3/launches)
2. Increase response height by dragging
3. Try scrolling and the response does not fit to the resized window
4. Check [this](https://www.loom.com/share/9b029f8a9d3f4f609572dd0452918234) video for more context

**Expected behavior**

resizing should work properly

[2020-07-02 13:39] liyasthomas commented on #970
Seems like an issue with ace editor in large responses. Will look into it.

[2020-07-02 13:52] ShahAnuj2610 commented on #970
@liyasthomas you can assign to me. I can look into it.

[2020-07-02 14:50] liyasthomas commented on #970
Ahaa.. Great. Assigning this to you.

[2020-07-03 19:13] nathanmargaglio commented on #524
I want to add that it'd be very nice to import AWS API Gateway generated docs into Postwoman.  API Gateway allows you to export docs with Postman plugins so that you can import it as a collection, so I suppose adding Postman collection support might be equivalent.

[2020-07-04 10:53] ShahAnuj2610 commented on #970
@liyasthomas after some debugging, I found this couple of things

## Remove maxLines
We need to remove `maxLines` from here
https://github.com/liyasthomas/postwoman/blob/5d94ac361e8e2a324e6eca845bee311b6536016b/pages/index.vue#L998 and add height to parent div
### Why?
- whenever we resize, the `ace-editor` always sets it's content according to `maxLines`
- If we call `editor.resize`, it would res

[2020-07-04 11:55] liyasthomas commented on #970
suggests to use `maxLines: Infinity` to make editor expand to content height, so how can we remove `maxLines` property?

[2020-07-05 05:38] ShahAnuj2610 commented on #970
A possible sol'n could be to reset `maxLines` when `Collapse Response`, and set it to `Infinity` when `Expand Response`. Although the above SO ans doesn't recommend to use `maxLines: Infinity` as there could be performance issues. Instead we can set the viewport height of the parent to `100vh` and the parent's position would be `relative` and editor's position would be `absolute`

[2020-07-05 06:02] liyasthomas commented on #970
Isn't this the current implementation? Frankly, I guess we can ignore this UI issue since it's only reproducible in such an edge case of large responses. Let me know if you can make a PR.

[2020-07-05 06:02] #970 closed

[2020-07-05 06:05] liyasthomas commented on #965
I guess we can ignore this UI issue since it's only reproducible in such an edge case of super-high dpi. Let me know if you it is reproducible in normal situations.

[2020-07-05 06:05] #965 closed

[2020-07-05 07:19] RickoNoNo3 commented on #965
You are right. It works well to set a different zoom ratio as default of Chrome.

[2020-07-06 07:55] Creedowl commented on #764
I had the same issue. I try to GET https://live.bilibili.com/21403609 with Header: Accept: */*
It'll return 200 but nothing in Postwoman's Response area, and I get a TypeError: text.match is not a function.
I tried curl and postman, both works well, so I guess it's postwoman's issue

[2020-07-06 08:35] liyasthomas commented on #764
There's a known issue with the current published version of Postwoman Chrome extension (v. 012). Latest version is under review. To fix the issue - try disabling extension by going to Settings > Extensions (turn off "Use extensions").

Let me know if the issue is fixed.

[2020-07-06 08:39] Creedowl commented on #764
@liyasthomas The request will be blocked by CORS policy if I turn off extension
[code]

[2020-07-06 08:56] liyasthomas commented on #764
can you try turning on Proxy mode (Settings > Proxy)?

[2020-07-06 09:07] Creedowl commented on #764
@liyasthomas Yes via proxy it works well, the Response shows properly. BTW, I used to think the proxy is socks proxy or http proxy, but I found it's proxywoman

[2020-07-06 11:43] xiaogu-space opened #979 "localhost request error"
![image](https://user-images.githubusercontent.com/8435230/86589817-f4359600-bfc0-11ea-9f40-1d52a1a2ae6d.png)

![image](https://user-images.githubusercontent.com/8435230/86589843-fd266780-bfc0-11ea-8bf4-a7722b9ceff3.png)

![image](https://user-images.githubusercontent.com/8435230/86589802-ebdd5b00-bfc0-11ea-8ff3-eca1bf54bfa4.png)

[2020-07-06 11:57] liyasthomas commented on #979
This is a known issue with the current published Chrome extension (v.0.12). A patched version is under review waiting to be published. Kindly stay tuned for the next update which will be published in upcoming days. Meanwhile use Firefox extension or downgrade chrome extension.

[2020-07-06 14:10] levrik opened #980 "Currently completely broken"
**Describe the bug**

I can't see the response body of any request.
It shows the status correctly but the body is empty.
The developer console is showing this:

![image](https://user-images.githubusercontent.com/9491603/86602399-e3762780-bfa2-11ea-96f6-be96b164f6bf.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Just send a request
2. It shows that the request succeeded with the correc

[2020-07-06 15:15] liyasthomas commented on #980
Possible duplicate of #764 , #979
Try this: https://github.com/liyasthomas/postwoman/issues/764#issuecomment-654096293

or this:

https://github.com/liyasthomas/postwoman/issues/764#issuecomment-654106079

[2020-07-06 15:35] levrik commented on #980
@liyasthomas Sadly I'm not allowed to use the proxy for data security reasons. Looks I'm gonna have to wait for the fix in the extension to get published. Will switch back to Postman in the meantime to get my work done.

[2020-07-06 15:37] liyasthomas commented on #980
You can try in another browser (ex: Firefox).

[2020-07-06 15:38] levrik commented on #980
@liyasthomas Already got my work done with Postman now (although their GraphQL support sucks...)
Will try Postwoman in Firefox the next time if the Chrome extension wasn't updated until then.

[2020-07-06 18:09] AndrewBastin commented on #980
@levrik really sorry about the inconvenience. But we kinda hit a snag with the Chrome Web Store, they are kinda having troubles reviewing extension updates these days due to the whole global situation. I am getting in touch with the Chrome Web Store Dev Support to get it fixed.

[2020-07-07 01:29] xiaogu-space commented on #979
OK,thanks

[2020-07-07 03:00] woshiheima opened #983 "contentType无法使用form-date上传文件"
contentType缺乏form-date，导致无法上传文件

[2020-07-07 03:14] liyasthomas commented on #983
Please use any of the provided issue templates.,

[2020-07-07 14:00] Sensanaty opened #984 "Saving response data in env variable"
Is it possible to save a response into the environmental variables?

I'm building an API where I have to authenticate via a JWT, so first I send the credentials to my `authenticate` endpoint, then after that I included the JWT as a Bearer Token in future requests.

Is there a way to automatically save the response body into a env variable? I know I can do a pre-request script where I do `pw.env.se

[2020-07-07 14:40] liyasthomas commented on #984
At the moment there's no such feature to automatically save response data to environment.

[2020-07-07 19:19] #984 closed

[2020-07-07 19:19] #983 closed

[2020-07-08 07:31] fzyzcjy commented on #175
Any progress? When developing it is very common to deploy on `localhost` with HTTP not HTTPS. Thus this feature is very desired and will be commonly used.

Thanks!

p.s. @franeli0324's site seems to be down.

[2020-07-08 07:35] liyasthomas commented on #175
For localhost endpoints, you should install Browser Extension (link in readme). For other non-https endpoints turn-on Proxy from Settings> Proxy.

*The latest Chrome extension is having a minor bug which has been fixed but is currently under review. Kindly use another browser (Firefox) local endpoints.

[2020-07-08 09:20] fzyzcjy commented on #175
Thanks! I just searched the plugin but find it 404, so I will turn to firefox or wait

[2020-07-08 09:21] liyasthomas commented on #175
Buggy version has been taken down - use Firefox / Proxy mode.

[2020-07-08 10:53] Sensanaty commented on #979
@xiaogu-space As a temporary workaround, you can send requests to an `ngrok` tunnel if you enable Postwoman's default proxy.

[2020-07-08 12:39] fzyzcjy commented on #175
OK thanks!

By the way I find another solution: Disable Chrome's security check for this particular webpage in chrome's setting.

[2020-07-13 03:00] #979 closed

[2020-07-14 05:33] liyasthomas commented on #980
Fixed in latest release of [Chrome extension v0.13](https://chrome.google.com/webstore/detail/postwoman-browser-extensi/amknoiejhlmhancpahfcfcfhllgkpbld).
Extension should update automatically on Chrome, if not do manual update form `chrome://extensions`.

[2020-07-14 05:33] #980 closed

[2020-07-14 05:38] liyasthomas commented on #961
Fixed in latest release of [Chrome extension v0.13](https://chrome.google.com/webstore/detail/postwoman-browser-extensi/amknoiejhlmhancpahfcfcfhllgkpbld).
Extension should update automatically on Chrome, if not do manual update form `chrome://extensions`.

Do let me know if the issue persists.

[2020-07-14 05:38] #961 closed

[2020-07-15 03:35] fxk2006 commented on #750
me too...

[2020-07-15 07:04] perseveringman commented on #885
Is anyone following up on this issue? I really want to participate in optimizing this part.😊😊😊

[2020-07-15 07:07] liyasthomas commented on #885
We're working on #955 which will introduce lot of new improvements in the core structuring. Even though this doesn't effect the Documentation part, we went quite busy with it. If you're interested to help us, do let me know. I can help.

[2020-07-15 15:35] #929 closed

[2020-07-15 17:27] liyasthomas opened #994 "Cannot "Get schema" on GraphQL page"
**Describe the bug**
"Get schema" on GraphQL page has been broken since today.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://postwoman.io/graphql
2. Click on 'Get schema'
3. Scroll down to 'Schema'
4. See error

**Expected behavior**
"Get schema" should produce actual value.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: windows 10
 -

[2020-07-15 17:29] AndrewBastin commented on #994
Yeah, I don't think it's from the binary responses either. I will have a look.

[2020-07-15 17:54] AndrewBastin commented on #994
Nevermind, it is the binary responses :sweat_smile:

Mannn, we need a better test suite :sweat_smile:

[2020-07-15 21:37] liyasthomas commented on #994
Updated description with issue's current state.

- [x] Extension OFF & Poxy OFF
- [ ] Extension ON & Proxy OFF
- [ ] Extension OFF & Proxy ON
- [ ] Extension ON & Poxy ON

[2020-07-16 07:47] levrik commented on #980
@liyasthomas @AndrewBastin The error from this ticket is gone with `0.13` of the extension. But it's still broken. Loading bar is shown endlessly, developer console shows the following.
![image](https://user-images.githubusercontent.com/9491603/87642087-57ee5a80-c749-11ea-93c4-fa5b144a40a1.png)

[2020-07-16 07:48] levrik commented on #994
@liyasthomas Just want to add that this issue is present for a few weeks already now.

[2020-07-16 07:51] liyasthomas commented on #980
Can you try again after a force refresh <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd>

[2020-07-16 07:57] liyasthomas commented on #994
Try disabling extension and proxy from settings for a hotfix.

[2020-07-16 08:15] levrik commented on #980
@liyasthomas Already tried this. Didn't help.

[2020-07-16 16:29] AndrewBastin commented on #994
@NBTX the proxy is giving error on trying to send a binary request.

[2020-07-16 17:06] AndrewBastin commented on #994
And about the extension stuff, extension without proxy works fine for me, I can't seem to reproduce any errors for v0.14. So @levrik , if the issue persists, can you pass more info (console logs for both the extension and postwoman) so I can figure it out.

Extension with proxy had some small code oversight regarding content types, But I have fixed it in AndrewBastin/postwoman@ef17471b4f2189b63c94

[2020-07-17 08:52] tvvignesh opened #1000 "Postman Web is now out. It might be great to find a USP for Postwoman"
Hi. Just read an announcement about Postman for Web: https://web.postman.co/

Like postwoman for its design, being open source and light, but may be its time to find the USP now that postman has released the web version.

[2020-07-17 08:53] liyasthomas commented on #1000
Okay. Cool.

[2020-07-17 08:53] #1000 closed

[2020-07-17 14:50] AndrewBastin commented on #1000
Lol this exactly took ticket 1000 😅😂

[2020-07-18 02:01] liyasthomas opened #1002 "Looking for beta testers 💣💥"
# **Hoppscotch is looking for beta testers 👨‍💻👩‍💻**

Try to install and run new features, if you find bugs, please [open a dedicated issue](https://github.com/hoppscotch/hoppscotch/issues/new).

If you have general feedback, please reply here. In particular we're looking for high level feedback:

## Recommended Setup
There are 3 different builds. The differences between them are:

1. Production: [

[2020-07-18 02:21] NBTX opened #1003 "iOS Home Bar covers content"
**Describe the bug**
Currently on iOS the app content is partially obscured by the bar at the bottom of the screen used for gesture based navigation (known as the ‘Home Bar’).

![77F12CE4-893C-44A3-A8AF-98C8918333E7](https://user-images.githubusercontent.com/43181178/87842513-df9cac00-c8a4-11ea-8ca8-3172ada2cd02.png)

**To Reproduce**
Open the Postwoman PWA on a modern iOS device *without a physic

[2020-07-18 02:25] NBTX commented on #994
The request succeeded for me with `wantsBinary` both enabled and disabled using the link you provided.

[2020-07-18 03:01] AndrewBastin commented on #994
@NBTX at the time it failed, but then later it started working again

[2020-07-19 21:41] AndrewBastin commented on #994
@liyasthomas can you check if the issue persists with the code in my fork [https://github.com/AndrewBastin/postwoman/tree/bug/994](https://github.com/AndrewBastin/postwoman/tree/bug/994)

[2020-07-20 00:47] liyasthomas commented on #994
Issue persists.
[code]

[2020-07-20 01:21] AndrewBastin commented on #994
@liyasthomas, that error is what I described earlier and is associated with the proxy not with the app code. Use the URL in the quote below and you can see it is the issue with the proxy.

@NBTX

[2020-07-20 08:00] Mikolaj98p opened #1006 "Compile error"
**Describe the bug**
On command `npm run dev` I have compile error and in browser display error

**To Reproduce**
Steps to reproduce the behavior:
1. Run `npm install`
2. Run `npm audit fix` (I try with this command and without)
3. Run `npm run dev`
4. See error
In browser
[code]
In cmd
[code]

**Screenshots**
![Zrzut ekranu (3)](https://user-images.githubusercontent.com/20612773/87913590-a06e8680

[2020-07-20 08:17] liyasthomas commented on #1006
**Step 1**
Create a folder named `.postwoman` in root directory.

**Step 2**
Create a file named `version.json` file inside `.postwoman` folder.

**Step 3**
Paste the following line in `version.json` file.
[code]

Detailed explained: `version.json` is dynamically created when we run the `build.js` script.

Let me know if the issue isn't solved.

[2020-07-20 08:17] #1006 closed

[2020-07-21 09:46] JavadHajiani opened #1009 "postwoman google login doesn't work behind ingress or reverse proxy"
**Describe the bug**
Google login doesn't work when you deploy postwoman behind reverse proxy or ingress

**To Reproduce**
Steps to reproduce the behavior:
Easiest way to reproduce is run below docker-compose and login to google by http://localhost:80 (reverse_proxy) instead of http://localhost:3000 (postwoman direct)

https://gist.github.com/javad-hajiani/c604f42e3fc0068ae65b482a3adf8278

**Expec

[2020-07-21 10:40] liyasthomas commented on #1009
Login is disabled for all request URLs except `postwoman.io` due to security concerns. Kindly use [postwoman.io](https://postwoman.io) to make use of sync feature.

[2020-07-21 10:40] #1009 closed

[2020-07-21 10:51] liyasthomas commented on #994
@NBTX proxy is down

[2020-07-21 15:45] schndr commented on #1009
@liyasthomas iyasthomasCan you please elaborate the security concerns in details?

[2020-07-22 04:31] zhangzhaohong opened #1012 "User login is disabled after i run it on our local server."
We hope to run it on our local server so that we can manage our team, at first we hope to login and share the collections and documents to anyone in  our team, so can you help us to make the ability to login by local user in the database, and manage our team in the system?

[2020-07-22 04:37] liyasthomas commented on #1012
- For local development checkout [How to set up local development](https://github.com/liyasthomas/postwoman#developing-)

- Checkout out [Wiki on Hosting](https://github.com/liyasthomas/postwoman/wiki/Hosting)

[2020-07-22 05:04] zhangzhaohong commented on #1012
yeah, we have build it local on our local server, but we cannot login and manage the team, so can you help us to approve the login ability by update the project?

[2020-07-22 05:11] liyasthomas commented on #1012
Step 1:
Set up local development environment. You've completed this step.

Step 2:
Create a Firebase project and obtain app's access keys.

Step 3:
Rename `.env.example` to `.env` and fill it with your own Firebase API keys.

[2020-07-22 05:14] #1012 closed

[2020-07-22 05:14] zhangzhaohong commented on #1012
OK thanks. I will have a try.

[2020-07-22 06:54] zhangzhaohong opened #1013 "I have edit this config, but it is not available to login."
Step 1:
Set up local development environment. You've completed this step.

Step 2:
Create a Firebase project and obtain app's access keys.

Step 3:
Rename `.env.example` to `.env` and fill it with your own Firebase keys.

Make sure you added Sign in with Google / GitHub from Firebase Dashboard.

_Originally posted by @liyasthomas in https://github.com/liyasthomas/postwoman/issues/1012#issuecomment

[2020-07-22 06:56] liyasthomas commented on #1013
Please explain your issue.

[2020-07-22 07:07] zhangzhaohong commented on #1013
I have rename the file to .env. And fill in many keys from the background which i have got after creating our web application. I fond that i can login when use the site like localhost:3000, but when i use ip:port or use the domain name, we still cannot login. Once i click the button, a small window show us for many seconds and dismiss, but we cannot login for any time

[2020-07-22 07:09] liyasthomas commented on #1013
Is there any errors in console?

[2020-07-22 07:18] zhangzhaohong commented on #1013
The project do not run on my machine, so i cannot get the log now. Should i do some operation on the background of our application.

[2020-07-22 07:21] liyasthomas commented on #1013
What? Please check if there's any errors in console when you click the login button.

[2020-07-22 07:29] zhangzhaohong commented on #1013
I have found that there is two request. They are the same, which is start of https://www.googleapis.com/identitytoolkit/v3/relyingparty/getProjectConfig, but one is 200, one is 403.

[2020-07-22 07:32] liyasthomas commented on #1013
Check Firebase Docs on how to enable Auth from localhost. Access denied error is due to not whitelisting the request origin URL to Auth.

Do not create new issue tickets for the same.

[2020-07-22 07:32] #1013 closed

[2020-07-22 09:42] JavadHajiani commented on #1013
I have the same issue, problem is I created .env file and passed all required options but already again it sends request to get permission by your default key "AIzaSyCMsFreESs58-hRxTtiqQrIcimh4i1wbsM"

[2020-07-22 09:46] liyasthomas commented on #1013
Edit Firebase configs directly on `fb.js` file.
https://github.com/liyasthomas/postwoman/blob/42e283feb336e69922fd5de51ec6e81ca35e3697/helpers/fb.js#L6-L15

[2020-07-22 12:41] zhangzhaohong opened #1014 "Shall we have the team management ability and some public documents?"
Do you have the ability to mange one team? So that anyone of the members in the team can read the public documents. We hope to make a group and a public document group, anyone of the group can read the  documents in the public document group.

[2020-07-22 12:47] zhangzhaohong opened #1015 "Why some Chrome do not have the ability to install PWA?"
I have tried so many times, but i found that PWA do not show to the users and let us install it. I only see it when i use the domain name is "localhost", can you give us some solution to  solve this problem.

[2020-07-22 12:50] liyasthomas commented on #1015
Update the browser to it's latest version. Most browsers have option to install PWA. If the option isn't available, try adding the site to Home screen by going to "More options" > "Add to Home Screen" in Chrome.

This issue isn't related to PW hence closing.

[2020-07-22 12:50] #1015 closed

[2020-07-22 12:51] liyasthomas commented on #1014
Please check the current open issues before creating another issue. Duplicate of #580

[2020-07-22 12:51] #1014 closed

[2020-07-22 13:33] zhangzhaohong commented on #580
What time could you merge the code about the ability of creating a team?

[2020-07-22 13:35] liyasthomas commented on #580
Track progress here: https://github.com/liyasthomas/postwoman/pull/879

[2020-07-23 06:12] zhangzhaohong commented on #1015
I have tried it, but PWA is not exist, i found it is available in your demo site.

[2020-07-23 06:47] liyasthomas commented on #1015
PWA will only be available for sites hosted in `HTTPS` thus, `localhost` won't have PWA.

[2020-07-23 07:07] zhangzhaohong commented on #1015
But why it can show to us when i use localhost and dismiss in HTTPS site.

[2020-07-23 07:09] liyasthomas commented on #1015
PWA won't work with localhost. You should deploy the app in a HTTPS site.

[2020-07-23 15:58] abhijeet-pathak commented on #1003
I would like to take this up.

[2020-07-23 15:59] liyasthomas commented on #1003
Great! Assigning this to you.

[2020-07-24 01:42] sdavey opened #1020 "integrate parameters with history"
sadly the API I'm testing using the query string for all calls, even PUT and POST

I'd like to use Collections to switch back and forth between different tests. Currently parameters are not stored in Collections. I'd like the option for parameters to be restored via Collections, including being cleared when there aren't any parameters.

[2020-07-24 01:45] sdavey opened #1021 "change history menu"
this is a request to make using the history faster. currently there is a popup menu with two options, restore and delete.
it would be faster if the options menu were replace with a trashcan button for deleting and making the rest of the history box clickable as a way of restoring the history item. If the whole item box is too much to have clickable, then maybe make the URL path clickable to restor

[2020-07-24 01:47] sdavey opened #1022 "ignore duplicates in history"
please add an option to ignore duplicates in history. I'd like to be able to use this history list as a way of switching back and forth between requests. I'm often testing several endpoints at once and need to repeat tests after making changes. If duplicate requests were not added to the history list then it would be easier to switch around between requests on a shorter history list.

[2020-07-24 01:55] sdavey commented on #1020
I see that Collections are what I should be using instead of the history list. The problem is the same though, parameters are not saved as part of a collection. Please consider saving parameters with collections (and history too, just to be consistent).

[2020-07-24 01:56] sdavey commented on #1022
I see that I should be using Collections instead of History, so I'll close this. Please disregard.

[2020-07-24 01:56] #1022 closed

[2020-07-24 01:56] liyasthomas commented on #1020
I guess parameters are already restored when you "restore a hitoy" item. I just tried and it ok at my end.

[2020-07-24 01:57] sdavey commented on #1021
I see that I should be using Collections instead of History so I'll close this. Please disregard.

[2020-07-24 01:57] #1021 closed

[2020-07-24 02:01] sdavey commented on #1020
I'm glad to hear that. Unfortunately it's not working for me in Safari. I thought I had the latest version of Postwoman but maybe not. I'll see if I can figure it out.

[2020-07-24 02:02] liyasthomas commented on #1020
https://postwoman.io is the live version.

[2020-07-24 02:08] sdavey commented on #1020
thanks, but I'm testing with both postwoman and my service on my local network so I think postwoman.io won't work for me. The one I'm using is version 1.9.7 but looks a little different than the one on postwoman.io.

[2020-07-24 02:12] sdavey commented on #1020
btw, thanks for creating such an awesome tool!! I'll close this issue.

[2020-07-24 02:12] liyasthomas commented on #1020
It would be better if you could use the latest version (postwoman.io). And I appreciate if you could provide some logs / steps to reproduce issue so that I can track it down.

[2020-07-24 02:14] sdavey commented on #1020
ok, I'll give that a try tomorrow.

[2020-07-24 06:53] jaisharx opened #1023 "JSON not showing up in the correct format"
**Describe the bug**
I am trying out the OMDb APIs with postwoman, and with every request there is invalid json message showing up and the json returned although correct isn't nicely formatted, it's all in one liner.

**To Reproduce**
Steps to reproduce the behavior:
1. Make an account on OMDb to get the api keys
2. Make any simple request, like I did https://www.omdbapi.com/?apikey=[your_api]&i=t

[2020-07-24 06:57] jaisharx commented on #1023
Oops. It's working now! idk how but sorry 🙇‍♀️

[2020-07-24 07:15] jaisharx commented on #1023
Actually it's still a problem.

So what's happening is pairs of queries object are being appended sometimes in the fetch request. So for ex:

It's throwing error with url like: https://postwoman.io/?method=GET&url=http://www.omdbapi.com&path=/&params=%5B%7B%22key%22:%22apikey%22,%22value%22:%22[my_key]%22%7D,%7B%22key%22:%22i%22,%22value%22:%22tt1285016%22%7D%5D

Which when put into a url decoder

[2020-07-24 07:18] liyasthomas commented on #1023
Its an issue with the extension. Turn off extension from Settings > extension and try again.

@AndrewBastin

[2020-07-24 14:14] sdavey commented on #1020
good morning. I've updated to the latest version. I may have figured out what's going on. If I type parameters as part of the url, everything seems to work. But if I change the parameters by using "Add new" and the trashcan buttons, those seem to affect other requests in my collection. I haven't figured out the exact pattern. It may be that deleting a parameter deletes parameters of the same name

[2020-07-24 15:32] liyasthomas commented on #1020
Can you produce a screech record of the mentioned behaviour?

[2020-07-24 16:35] #1020 closed

[2020-07-26 09:09] dym-sh opened #1025 "[website] use svg instead of font-icons"
not sure if that's a a bug report or a feature request, but it is existing and has negative impact, so its a bug.

![postwoman font-icons](https://user-images.githubusercontent.com/59403389/88475453-31da6e80-cf30-11ea-833d-d0134e878dfc.png)

not many places still use this technology, and for a good reason

[2020-07-26 09:13] liyasthomas commented on #1025
Oops. I noticed this glitch on very first load of app. From second load onwards, icon font will be used from cache. I guess it's possible to replace icon font with SVGs since we're already using SVGs for some custom icons. But is there any other effective implementations?

[2020-07-27 11:13] Siccity opened #1027 "Error: Proxy Error. Check console for details."
**Describe the bug**
Sent a basic GET request to https://www.google.com/ , got response `Error: Proxy Error. Check console for details.`

![image](https://user-images.githubusercontent.com/6402525/88535909-1abc7f00-d00b-11ea-8bcf-0e836de63c28.png)

Console does not provide much explanation

Tried disabling proxy, gives `Error: Network Error. Check console for details.` instead

**Expected behavior

[2020-07-27 11:27] liyasthomas commented on #1027
The endpoint `google.com` have `CORS` restrictions which why Proxy mode is mandatory for request. Turn on Proxy mode from Settings > Proxy.

It seems proxy server is down right now. Will notify when it's back online. @NBTX

[2020-07-27 19:02] NicOfNoomers opened #1028 "Collections | Request UI Issue"
UI With multiline request title in the collections tab

**To Reproduce**
Create a new Collection
Add A folder
Add a request to the folder with a title bigger than the normal width of the text box, making it multiline

**Expected behavior**
Expected to see the request icon on the  left and the text on the right

**Screenshots**
![image](https://user-images.githubusercontent.com/19762533/88580674-a4

[2020-07-27 19:08] NicOfNoomers opened #1029 "ENV Variables in request highlighting"
**Is your feature request related to a problem? Please describe.**
Trying to use environment variables is pretty difficult, and we never know if a variable is successfully attached to the request

**Describe the solution you'd like**
If there was some kind of checking with underline or changing text color it would be much easier to identify wrong env. variables

**Describe alternatives you've cons

[2020-07-28 00:06] #1028 closed

[2020-07-30 04:09] ushuz opened #1032 "TextDecoder.decode() TypeError hangs the whole app"
**Describe the bug**

Postwomen keeps raising following exception on a failed request, and hanging the app. I have to use browser's task manager to kill it. Screenshot below.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send an empty POST requests to `https://www.feishu.cn/approval/openapi/v2/approval/get`
4. See error

**Expected behavior**

Display the error response without han

[2020-07-30 05:14] liyasthomas commented on #1032
@AndrewBastin

[2020-07-30 07:19] AndrewBastin commented on #1032
This seems to be an issue with the extension. I will open the issue on the extension and I will start working on a fix.

[2020-07-30 07:19] #1032 closed

[2020-07-30 09:36] amireshoon opened #1034 "Details on fail requests"
**Is your feature request related to a problem? Please describe.**
Sometimes we need to see content and status code for request when it even failed.
For example, I have an API that returns `401` when `authentication` failed, It also returns a son content but in postWomen, I only can see my request has been failed!

**Describe the solution you'd like**
I personally like to see status code and the c

[2020-07-31 03:48] AndrewBastin commented on #994
Does this issue still need to stay open ?

[2020-07-31 03:52] AndrewBastin commented on #1034
@amireshoon Browser extension version 0.15 has implemented this feature ^_^

I just pushed the changes so it is still in review for Chrome Web Store, but it is up in Firefox Add-ons!

Will let you know when it becomes live on Chrome!

[2020-07-31 03:59] AndrewBastin commented on #1032
@ushuz the update with the fix is being rolled with the 0.15 browser extension update!

It is live on Firefox right now. Will let you know when it is live on Chrome ^_^

[2020-07-31 03:59] liyasthomas commented on #994
I'm still having issues when Proxy is turned on. Is it just me?

[2020-07-31 04:29] AndrewBastin commented on #994
Well, it is not you, the proxy is down. But I think #1027 is a more suitable issue to be open right now ? As the extension based issues are fixed.

[2020-07-31 04:44] liyasthomas commented on #994
Track this issue further on #1027

[2020-07-31 04:44] #994 closed

[2020-07-31 08:59] amireshoon commented on #1034
Nice work @AndrewBastin .

[2020-07-31 14:25] KoalaMoala opened #1036 "pw.response.body is an ArrayBuffer instead of object"
**Describe the bug**

I was expecting to have an object like described here https://github.com/liyasthomas/postwoman/wiki/Post-Requests-Tests#accessing-response-data but got ArrayBuffer instead

**To Reproduce**
Steps to reproduce the behavior:

1. Import following collection
[code]
2. Run `My first request :)`
3. The second test fails with `Expected object [object ArrayBuffer] to have property ar

[2020-07-31 15:54] liyasthomas commented on #1036
Thanks for reporting the issue. Looking into it.

[2020-07-31 16:37] AndrewBastin commented on #1036
This is due to the recent move to the Binary Responses System. I think we will have to introduce some helper methods to convert the body to JSON object ?

[2020-07-31 16:39] liyasthomas commented on #1036
Yes. Array buffer is served for tests. A helper function to convert response body should work.

[2020-07-31 16:39] AndrewBastin commented on #1034
@amireshoon The new version is live on Chrome Web Store!

Closing the issue.

[2020-07-31 16:39] #1034 closed

[2020-08-02 21:22] davidbarratt opened #1042 "The Web We Want"
I created this want:
https://webwewant.fyi/wants/101/
and thought you might also be interested in it and be willing to vote for it. :)

[2020-08-02 21:30] davidbarratt commented on #1042
For context, I created this want for @chickaree https://chickar.ee/

[2020-08-03 00:32] #1042 closed

[2020-08-03 18:29] #1036 closed

[2020-08-04 00:03] AndrewBastin commented on #1003
@abhijeet-pathak how's it going ?

[2020-08-04 00:58] AndrewBastin commented on #1027
Fixed in ebf7b32 !!!

[2020-08-04 00:58] #1027 closed

[2020-08-07 08:39] Nsbx opened #1056 "Web Socket query string params support"
**Describe the bug**
If you try to connect on one ws url with some query string params the button "connect" is disabled.
But if you edit the source code to remove the "disabled" html attribute and you click on "connect" this work perfectly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Realtime' tab
2. Type an ws url with some query string params
3. See 'connect' button is disabled

[2020-08-07 10:21] liyasthomas commented on #1056
Can you tell which URL produced disable"Connect" button? From my side, it looks okay even if there are multiple query string parameters used.

[2020-08-07 10:35] Reflex-Gravity opened #1057 "Tick icon placement is broken in Theme>Color"
**Describe the bug**
The `tick` icon in Theme > Color is broken, when I enable `multi-color` and change the colors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings>Theme>Color
2. Click on Multi-color-enabled
3. Change to a different color
4. See the tick icon.

**Expected behavior**
The placement of the tick icon should be in the center.

**Screenshots**
Below is the screensho

[2020-08-07 10:36] Reflex-Gravity commented on #1057
Can I take this issue?

[2020-08-07 11:45] Nsbx commented on #1056
I have the problem with an url of this type (this is fake domain and fake access_token)
wss://test.test.fr/?access_token=UQUhIlQ-ZLZlveQLYYmpuUl2U6qrllDGu5LIUUcUDVYg2P6glZotUEGgAlQdx6gO1l1KZoUUKOrl4aQQgelMKQ62aoMx2Umr5hQG2lk2rvuu_UllUAE8GQGU5G4L9pPmQAp77xkZqt7IMzgTlhlHCL4O2lUUQQiclxPayP2

[2020-08-07 11:49] liyasthomas commented on #1056
The last forward slash `/` is what causing the issue.

Try this:

[code]

[2020-08-07 14:30] #1056 closed

[2020-08-07 15:41] AndrewBastin commented on #850
@JacobAnavisca are you still working on this ?

@mahoriR if you are interested, you could take this up!

[2020-08-07 20:06] liyasthomas commented on #1025
@dym-sh Is this feature mandatory? I can't find any hard trouble with the initial 1 second delay for loading the icon font. This delay is not even noticeable after initial load because of pre-fetch and caching. If you insist I can work on a solution with [SVG module](https://github.com/nuxt-community/svg-module).

cc: @AndrewBastin

[2020-08-07 22:07] dym-sh commented on #1025
the problem is when 3rd-party fonts are disabled or unsupported – you'd get the thing on screenshot, no matter the delay

[2020-08-07 22:16] dym-sh commented on #1025
im gonna try to solve this issue now, should not take too long

[2020-08-08 03:09] sameer1001 opened #1058 "Not able to create a collection in chrome"
**Describe the bug**
When I am trying to create a new collection in Chrome, it is not throwing any error, neither the collection getting created. I tried with Edge, it seems to work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://postwoman.io/'
2. Click on 'Collections' on the right side.
3. Click on '+ New'
4. Enter the name of the collection.
5. Click 'Save'

**Expected beh

[2020-08-08 03:35] AndrewBastin commented on #1025
Well, I think if we can get a proper implementation going, SVGs will be better than icon fonts.

Assigning to you @dym-sh !

[2020-08-08 04:13] mnixry opened #1059 "Browser extension is not work with socket.io"
**Describe the bug**
The CORS bypass provided by browser extensions does not work on Socket.io

**To Reproduce**
Steps to reproduce the behavior:
1. Put up a localhost socket.io server with CORS policy
2. Test the socket.io using Postwoman

**Expected behavior**
Postwoman could work fine with socket.io like http request

**Screenshots**
- ![Console](https://user-images.githubusercontent.com/323001

[2020-08-08 04:19] AndrewBastin commented on #1059
Extensions currently only offer it's features to the REST and GraphQL systems.

This would a useful (but a bit difficult) thing to be implemented.

[2020-08-08 21:50] t1m0thyj opened #1061 "Include tests in generated request link"
**Is your feature request related to a problem? Please describe.**
I have created a request that I want to share with others which includes Tests. But I can't do this without sharing the test code separately, as it isn't included in the request link.

**Describe the solution you'd like**
When I click the "Copy Request Link" button, I want all details of my current request to be included in the URL

[2020-08-09 01:54] liyasthomas commented on #1061
Sharable request link is only for quick share among your friends.

[2020-08-09 01:54] #1061 closed

[2020-08-09 06:29] CatchLife opened #1062 "Why not save user language in localstorage"
**Is your feature request related to a problem? Please describe.**
I need to select the language every time when i open postwoman

**Describe the solution you'd like**
Why not save user language in localstorage, or use user browser language as the default language

**Describe alternatives you've considered**
None

**Additional context**
None

[2020-08-09 06:33] liyasthomas commented on #1062
Are you mentioning locales available in `https://postwoman.io/cn`?

[2020-08-09 07:07] #1062 closed

[2020-08-10 10:00] liyasthomas commented on #1058
I can't reproduce the issue here at my end. Can you produce a screenrecord?

[2020-08-10 14:39] btpka3 opened #1065 "Add support for HTTP get method with request body"
There some applications using HTTP get request with request body , such as  elasticSearch [Request Body Search](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/search-request-body.html)

Please discuss to support this case or not. Postwoman at now is not support GET request with HTTP request body.

reference
- stackoverflow: [HTTP GET with request body](https://stackoverflow.com/questi

[2020-08-10 14:54] liyasthomas commented on #1065
We're using Axios for request transactions and I guess that's not possible with Axios. see https://github.com/axios/axios/issues/2400

And as mentioned in elasticSearch [Request Body Search](https://www.elastic.co/guide/en/elasticsearch/reference/7.9/search-request-body.html), we can use query parameters with `GET` request to send data as parameters. Kindly use Parameters section for that.

[2020-08-10 15:17] AndrewBastin commented on #1065
Well, we could implement it if needed. But it is not a supported behavior according to the HTTP spec. So we don't really want to support it in this app as well.

Here is the spec reference defining that [https://tools.ietf.org/html/rfc7231#page-24](https://tools.ietf.org/html/rfc7231#page-24)

[2020-08-10 15:21] #1065 closed

[2020-08-10 15:22] liyasthomas commented on #1058
@AndrewBastin can you reproduce this issue at your end?

[2020-08-10 15:25] AndrewBastin commented on #1058
Nope. Can't reproduce it.

@sameer1001 if the issue is still going on for you, please clear the browser storage for Postwoman through DevTools and try again.

[2020-08-10 16:58] liyasthomas commented on #1058
Feel free to reopen if the issue persist.

[2020-08-10 16:58] #1058 closed

[2020-08-11 03:09] #1057 closed

[2020-08-11 13:12] xaddict opened #1067 "URL bar shows red border when an environment variable is being used"
**Describe the bug**
When you fill in an environment variable in the URL ("<<base_url>>/products") the URL input field shows a red border as if something is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to environments, fill in a variable base_url as "http://httpbin.org"
2. Fill in URL as "<<base_url>>/get"
3. Move your cursor out of the URL field
4. The border is red even though

[2020-08-11 13:32] liyasthomas commented on #1067
Hiya - I tried to repoduce this behaviour in windows 10, Chrome latest. There seems to be no issue in this setup, will try out in macOS later get back to you.

![postwoman io_](https://user-images.githubusercontent.com/10395817/89903351-2c09ac00-dc05-11ea-9181-6cad4f7d5a68.png)

[2020-08-11 19:25] 0x1a0b opened #1068 "(Question) Persist / Preload collections?"
From reading the documentation I understood that collections are saved in the localstorage of the browser. There is also an option to share them via Google/Github.

**Describe the solution you'd like**

Is it also possible to perload / seed collections from the disk or another webserver? I am looking for a way to bake default collections into a container ontop of the installed postwoman container.

[2020-08-13 07:58] mahoriR commented on #850
@AndrewBastin  Sure. Thanks.

[2020-08-13 08:56] se7en-eeen opened #1070 "Spaces in the response caused parsing errors"
**Describe the bug**
Extra spaces cause parsing errors

**Screenshots**
[image](https://ae01.alicdn.com/kf/U1643df3fbf304fb5a09e586dd590b771x.jpg)

**Desktop (please complete the following information):**
 - OS: win10 1909
 - Browser chrome 84.0.4147.125
 - Version 1.9.9

[2020-08-13 09:16] liyasthomas commented on #1070
Can you check whether the extension is turned on from https://postwoman.io/settings > Extension

[2020-08-14 02:40] se7en-eeen commented on #1070
yes, extension installed
[image](https://ae01.alicdn.com/kf/U4951457589a5489395c28afd1b52681fQ.jpg)

[2020-08-14 02:56] liyasthomas commented on #1070
@AndrewBastin I guess there's an issue when extension is turned on — few spaces are appended in response which in turn caused parsing warning.

Sam also had this issue when proxy is turned on after introducing Lenses. He solved it by removing base64 padding. https://github.com/postwoman-io/proxywoman/commit/8c338414a1d826b846f6d9689cbbb8b37e69ed8c

[2020-08-14 18:40] joelcamus opened #1074 "It's a little bug, this text "Create new collection" is not a property"
It's  a little bug, this text "Create new collection" is not a property.

![imagen](https://user-images.githubusercontent.com/8535654/90282267-5611d700-de6e-11ea-89f1-74ccd4ab6101.png)

[2020-08-14 18:42] liyasthomas commented on #1074
No it's not. Its a prompt to "Create a new Collection". Doesn't it makes sense?

[2020-08-14 18:42] sukheja-varun commented on #1029
I totally agree, in Insomnia it hardly took any time to figure out how env variables work but in postwoman, it is a bit difficult.
I have created an env with few variables but still not able to figure out how to make any env active.

[2020-08-14 19:11] joelcamus commented on #1074
This is the change

[2020-08-14 19:13] liyasthomas commented on #1074
Ahha. Got it. Will update tomorrow.

[2020-08-14 19:15] joelcamus commented on #1074
Okey, thanks

[2020-08-15 04:43] liyasthomas commented on #1029
Got it. Since `envs` are used inline inside an input box (`URL` field), it's quite hard to list / highlight registered envs from input. I tried to parse `URL` input with some regex to show registered envs in  a tooltip but had no luck with it. Will try another method. Let me know if there's any UI wise implementation that could tackle this. May be like auto-complete for envs?

[2020-08-15 10:58] joelcamus opened #1076 "It's a little bug, this text "Create new environment" is not a property"
It's a little bug, this text "Create new environment" is not a property.

It's the same that #1074

![imagen](https://user-images.githubusercontent.com/8535654/90310996-eac01780-def6-11ea-8206-39b2b8f30c26.png)

[2020-08-15 11:19] liyasthomas commented on #1076
Duplicate of #1074
Don't spam.

[2020-08-15 11:19] #1076 closed

[2020-08-15 11:19] liyasthomas commented on #1074
Will update in next commit.

[2020-08-15 11:19] #1074 closed

[2020-08-15 12:52] joelcamus opened #1078 "Externalise properties of deletion messages"
The message is static, I think that is a good idea, I send a language file. `en-US.json, es-ES.json ...`

![imagen](https://user-images.githubusercontent.com/8535654/90312708-dedc5180-df06-11ea-9688-670386763f5a.png)

[code]

The same happened in other collections, folders, requests and environments.

New developments:
- [x]  Collection
- [x]  Folder
- [x]  Request
- [x]  Environment

[2020-08-15 13:36] liyasthomas commented on #1078
Good observation. Hoping for a PR soon.

[2020-08-15 14:32] joelcamus commented on #1078
Done PR :ok_hand:

[2020-08-15 14:34] liyasthomas commented on #1078
Will get to it in a jiffy.

[2020-08-15 14:55] joelcamus opened #1080 "show div when deleted Collection, Folder, Request or Environment"
Add div deleted when deleted Collection, Folder, Request or Environment, you can see it in the image:
![imagen](https://user-images.githubusercontent.com/8535654/90314934-b90b7880-df17-11ea-8b03-394a6725860b.png)

This is used in history

New developments:
- [x]  Collection
- [x]  Folder
- [x]  Request
- [x]  Environment

if you want to?

[2020-08-15 15:01] liyasthomas commented on #1078
Fixed in #1079

[2020-08-15 15:01] #1078 closed

[2020-08-16 11:51] joelcamus commented on #1080
Done PR #1081 :ok_hand:

[2020-08-16 11:57] liyasthomas commented on #1080
Huge thanks for all these translations @joelcamus 🎉

Fixed in #1081

[2020-08-16 11:57] #1080 closed

[2020-08-17 02:04] #1070 closed

[2020-08-17 07:39] Siccity opened #1089 "Error: Proxy Error. Check console for details - again"
Almost same issue as #1027 but this time with different errors in the console.
![image](https://user-images.githubusercontent.com/6402525/90370208-52986e80-e06d-11ea-9067-7629db64605b.png)

[2020-08-17 08:56] liyasthomas commented on #1089
We've migrated out site from https://postwoman.io to https://hoppscotch.io. Can you confirm you're having this issue in https://hoppscotch.io ?

_You'll be automatically redirected from https://postwoman.io to https://hoppscotch.io from today onwards._

[2020-08-17 09:19] Siccity commented on #1089
Yes, the new site seems to work.
What is the reason for the sudden name change if I may ask? I always liked postwoman as a juxtaposition to postman

[2020-08-17 09:35] liyasthomas commented on #1089
1. Similarity in name with "Postman" may introduce trademark violations in future.
We don't want to hurt any other project's goodwill.

2. Rather than being an "alternative to Postman", we focus to become the best available testing suite in web.

Our new identity aligns with our new focus — to provide the best open source testing suite in web.

_Here my announcement on changing the name: https://d

[2020-08-17 09:35] #1089 closed

[2020-08-17 16:26] #1025 closed

[2020-08-17 16:28] liyasthomas commented on #1025
@dym-sh if you're interested in working on this feature, I've made a working starting point for you. Checkout https://github.com/hoppscotch/hoppscotch/pull/1091 and follow the steps described in it to change remaining instances for icon font.

Let me know if you've any doubts.

[2020-08-17 16:30] liyasthomas commented on #1067
[code]
@NBTX can you reproduce this issue in above configs?

[2020-08-17 16:46] joelcamus commented on #1067
I try in Firefox and I replicate a bug, With Chromo I don't replicate the bug

![image](https://user-images.githubusercontent.com/8535654/90421113-31f60600-e0b9-11ea-8a80-e7da596fc659.png)
![image](https://user-images.githubusercontent.com/8535654/90421337-8ac59e80-e0b9-11ea-82db-c855bc47a750.png)

Windows 10
Browser Firefox Developer 80.0b8

![image](https://user-images.githubusercontent.com/8535

[2020-08-17 16:53] joelcamus commented on #1067
I look for and I think it's a problem, I change `type="url"` for `type="text"`

https://github.com/hoppscotch/hoppscotch/blob/629ee3e33fb3118719f6b7960a24be21bf75ade1/pages/index.vue#L144-L156

[2020-08-17 16:54] liyasthomas commented on #1067
If `type='text'` then no issues?

[2020-08-17 17:04] joelcamus commented on #1067
Yes, it works

![image](https://user-images.githubusercontent.com/8535654/90423316-83ec5b00-e0bc-11ea-8f90-a84b82e8d2c1.png)

[2020-08-17 17:10] liyasthomas commented on #1067
Fixed

[2020-08-17 17:10] #1067 closed

[2020-08-18 12:19] joelcamus commented on #1067
LGTM

[2020-08-19 12:41] amodmahajan2016 opened #1097 "Linter error is shown for response body if response is a JSON Array"
I hit an API that gives a response in a JSON array.
https://restful-booker.herokuapp.com/booking

Response -
[{"bookingid":7},{"bookingid":4},{"bookingid":5},{"bookingid":6},{"bookingid":10},{"bookingid":9},{"bookingid":1},{"bookingid":12},{"bookingid":2},{"bookingid":3},{"bookingid":8},{"bookingid":11}]

But postWoman gives an error:-
![image](https://user-images.githubusercontent.com/20769876/90

[2020-08-19 22:27] blikblum opened #1098 "Character '%' is not accepted on query parameter value"
**Describe the bug**
Adding a query parameter with character '%' gives an error "URIError: malformed URI sequence"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Request URL and add any valid URL (e.g. http://localhost/people)
2. Click on Parameters > Add new
3. Add a parameter with 'name' as name and value as 'ELIAS%'
4. Click send

**Expected behavior**
A request should be sent with

[2020-08-20 04:41] stray-leone opened #1099 "can't access to postwoman web"
**Describe the bug**
After `docker-compose up` , can't access  the postwoman web with browser

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
`docker-compose up`
[code]
2. check network
[code]
3. request with 'wget'
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your pro

[2020-08-20 05:41] liyasthomas commented on #1098
Must be an issue with `encodeURIComponent()`. Will look into it ASAP.

[2020-08-20 06:00] liyasthomas commented on #1097
Probably an issue with language selector in JSON lens.
https://github.com/hoppscotch/hoppscotch/blob/9734e4d859e46453fcd3ca3366c4f54a81354417/components/lenses/renderers/JSONLensRenderer.vue#L46

Will look into it ASAP.

[2020-08-20 13:32] liyasthomas commented on #1098
This issue seems to be quite weird. I just tested this on my phone's browser and it is working as expected.

@blikblum can try to replicate this from your phone's browser?

[2020-08-20 14:24] #1098 closed

[2020-08-22 01:08] JameEnder opened #1103 "Cannot read property 'value' of undefined. Check console for details."
I can't seem to get hoppscotch working, even when i have the browser extension installed, even when i cleaned up all the workers and stuff.

![2020 srpen 1713](https://user-images.githubusercontent.com/47925045/90945335-92bc7000-e424-11ea-9240-c95793125bb5.png)
![2020 srpen 1714](https://user-images.githubusercontent.com/47925045/90945338-93ed9d00-e424-11ea-88c6-3a335068394e.png)

It seems fine wi

[2020-08-22 01:19] JameEnder opened #1104 "Cannot read property 'value' of undefined. Check console for details."
**Describe the bug**
I can't seem to get hoppscotch working, even when i have the browser extension installed, the site always tells me that "Cannot read property 'value' of undefined. Check console for details."

**To Reproduce**
1. Go to 'hoppscotch.io'
2. Try to make a POST request to localhost that will result in some JSON
3. See error

**Expected behavior**
I would expect it to give me back t

[2020-08-22 01:19] #1103 closed, assigned to nobody

[2020-08-23 01:33] blikblum opened #1105 "Request that returns status code 500 is stuck"
**Describe the bug**
A GET request that returns status code 500 is stuck (no result is displayed and not possible to cancel) when used in Firefox with the browser extension

**To Reproduce**
Steps to reproduce the behavior:
1. Send a request that returns status code 500 (e.g. https://postman-echo.com/status/500)

**Expected behavior**
The returned value should be displayed

**Screenshots**
--

**D

[2020-08-23 01:45] z33212 opened #1106 "Method dropdown is not keyboard navigable"
**Describe the bug**
Currently, there doesn't appear to be any way to change the request method using the keyboard. This seems to be caused by the fact that this dropdown component uses an `<input>` instead of a `<select>`, with a popover used to recreate native functionality. This behavior seems to be unique to this dropdown, since the rest appear to use a native `<select>`.

**To Reproduce**
- O

[2020-08-23 08:08] #1106 closed, assigned to liyasthomas

[2020-08-23 16:52] abc1236762 opened #1108 "Specific language on PWA"
I am using Microsoft Edge (Chromium based) on Windows 10 to browse hoppscotch.
When I set the language of hoppscotch to 繁體中文, the url seems goto https://hoppscotch.io/tw.
And after I install hoppscotch as a PWA app in Microsoft Edge (Chromium based), I pin it to taskbar and close it.
After I clicked the icon that I just pinned to open hoppscotch as a PWA app, I got English interface, not 繁體中文.
It

[2020-08-23 17:38] liyasthomas commented on #1108
Let me look into this.

[2020-08-23 23:52] liyasthomas commented on #1099
Issue has been solved in https://github.com/hoppscotch/hoppscotch/commit/6915ea70cad9469877ebe43dd936521fc0e29093

Added `HOST: 0.0.0.0` to docker-compose.yml`

https://github.com/hoppscotch/hoppscotch/blob/6915ea70cad9469877ebe43dd936521fc0e29093/docker-compose.yml#L21

[2020-08-23 23:52] #1099 closed

[2020-08-24 00:57] blikblum commented on #1105
I did some more tests:

- Firefox 79 Desktop (windows 10): stuck
- Firefox Mobile (Android): works
- MS Edge (Chromium): works

So the issue is specific for Firefox in desktop

[2020-08-24 01:06] blikblum commented on #1105
Found the reason: if i disable the Hoppscotch Browser Extension, it works

[2020-08-24 01:10] liyasthomas commented on #1105
I think it's only a minor browser specific issue with Extension. On both mobile and PC there seems to be no issue. @AndrewBastin

[2020-08-24 01:12] AndrewBastin commented on #1105
@blikblum Thanks for the info, I will look into it.

[2020-08-24 03:07] AndrewBastin commented on #1105
Turns out it is an issue with the Firefox's strong memory ownership system. I have fixed it in the extension with commit https://github.com/hoppscotch/hoppscotch-extension/commit/c760da9ecbe587385ab8706d5c9cc59372f08c68

The fix will be rolled out to Firefox by the end of the day with the 0.17 extension update.

Closing the issue.

[2020-08-24 03:07] #1105 closed

[2020-08-24 03:16] blikblum commented on #1105
Many thanks

[2020-08-24 07:16] JoelJacobStephen opened #1110 "Collapsed Editor can be resized and dragging down doesn't increase code view"
**Describe the bug**
When I pull the resize button of the code editor, it doesn't the resize the code in the editor.

**To Reproduce**
Steps to reproduce the behavior:
1. Click the resize button on the code editor and drag it down
2. The code doesn't resize

**Expected behavior**
I expected the code to resize as I drag down the button.

**Screenshots**
If applicable, add screenshots to help explai

[2020-08-24 08:39] liyasthomas commented on #1110
I'll look into it.

refer: https://jsfiddle.net/6b2tfspe/1/
https://stackoverflow.com/questions/27534263/making-ace-editor-resizable

[2020-08-25 05:28] HerbertChu opened #1114 "Support custom path on socket.io"
**Describe the solution you'd like**
Unable to using specific custom path on socket.io, if server not using default path '/socket.io', need a extra column for user to input with custom path which default with '/socket.io'
![image](https://user-images.githubusercontent.com/2661389/91135482-9e3bbf80-e6e0-11ea-854e-e79e9279ca61.png)

[2020-08-25 05:31] liyasthomas commented on #1114
Can you make use of the issue ticket template to create issue? At least give a clear and concise explanation of the issue you're facing.

[2020-08-25 07:25] #1114 closed

[2020-08-25 16:25] #1108 closed

[2020-08-25 19:06] abc1236762 opened #1116 "Text of send button occupied two lines when language is set to Traditional/Simplified Chinese"
When language is set to Traditional or Simplified Chinese, text of send button "傳送" occupied two lines.

Expected, "傳送" should be one line:
![畫面擷取於 2020-08-26 02 56 45](https://user-images.githubusercontent.com/11353779/91216217-2e611f80-e748-11ea-98c5-90f903593e5c.png)
Actual:
![畫面擷取於 2020-08-26 02 55 39](https://user-images.githubusercontent.com/11353779/91216222-2f924c80-e748-11ea-8a78-73d17fa7

[2020-08-26 02:00] #1116 closed

[2020-08-26 03:51] AndrewBastin commented on #1110
I played around a bit to see what is causing it and found that the `maxLines` property might be relevant

Here is a snippet from JSON Lens Renderer:
https://github.com/hoppscotch/hoppscotch/blob/3cd2a2a0f9c9f507be6736b829f637dba336e10f/components/lenses/renderers/JSONLensRenderer.vue#L43-L57

[2020-08-26 22:24] #1097 closed

[2020-08-26 22:27] AndrewBastin commented on #1097
@amodmahajan2016 it should be fixed now. But please feel free to reopen if it still persists ^_^

[2020-08-26 23:12] liyasthomas commented on #850
Hi @mahoriR is there any updates in this issue? Let me know if you need any help from our side.

[2020-08-26 23:16] liyasthomas commented on #1104
I'm wondering whether this issue still persist. I was never able to reproduce this issue at my end. And no other user has reported this issue.

[2020-08-27 00:53] liyasthomas commented on #1003
@NBTX let me know if this deploy preview fixes the issue.
Deploy preview: https://hoppscotch-8rc2a54tx.vercel.app/

[2020-08-27 09:56] kisscelia opened #1124 "[documentation module]:The collections file won't be imported twice(click the clear button or delete all the content manually)"
**Describe the bug**
The collections file won't be imported twice(click the clear button or delete all the content manually).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'documentation page'
2. Click on 'import collections' and import a file  <---  OK.
3. Click clear button and import the file.   <--- Not imported

**Expected behavior**
File was imported successfully

**Screenshots

[2020-08-27 09:59] liyasthomas commented on #1124
Oops, currently we detect the change in file input box which why selecting the same file doesn't fire import. Looking into it.

[2020-08-27 13:57] #1124 closed

[2020-08-28 08:06] mahoriR commented on #850
I'll be working on this 13th Sept onwards.  Unfortunately blocked with office work till them.

[2020-08-28 13:21] z33212 commented on #1106
Just tried this out -- the keyboard shortcuts work and I was able to change the method with the keyboard alone, awesome! In my opinion it still might be worth revisiting this dropdown to make it behave more like a native select later, since using the arrow keys doesn't appear to work, and a person who is using the keyboard would expect that they can change the options with the arrow keys. The only

[2020-08-28 13:24] liyasthomas commented on #1106
@z33212 I really wanted to implement that native select with last iteration itself. But the component we used isn't supporting key binding. I'll need lil more time to figure out either go with a native select or add key binding feature to that select component. Stay with us - will update as soon as it's implemented. Do drop you valuable comments on anything that need to be implemented.

[2020-08-30 02:27] EinSoldiatGott opened #1129 "Implement HoppScotch on a personal AWS EC2"
Hi, is the project created with the idea of anybody to implement on his own server? can I store locally my collections?

I cloned the repo to my EC2 machine and it's working, I can access with my AWS IP URL, but I think that all my requests are being saved on your database. I think that because I didn't create any DB on my machine.

I opened the .env file but I don't know that to set in the FireBa

[2020-08-30 02:39] AndrewBastin commented on #1129
Hi there,

Right now, Hoppscotch isn't designed to allow for personal instances, we do have docker images and stuff. But the code right now is pretty tied to Firebase and to allow for personal instances requires a lot of reworking on the core code.

If this issue gets enough support though, we can consider it.

Thanks for using Hoppscotch!

[2020-08-30 02:53] AndrewBastin commented on #1110
Another possible option is to restart the efforts for moving to CodeMirror. I had attempted before, just that the only issue was that editor expanded the response panel.

Ace is really difficult to work with and pretty much impossible to test the functionality of due to its weird Webpack Resolution thingy and the codebase feels really legacy.

CodeMirror is pretty modern, supports mobile devices a

[2020-08-30 03:08] EinSoldiatGott commented on #1129
Hi @AndrewBastin so the idea is to use the project in https://hoppscotch.io/ and to keep the request headers and credentials private we should log in using Google?

[2020-08-30 03:11] liyasthomas commented on #1110
Let me check.

[2020-08-30 07:37] liyasthomas commented on #1129
Wiki on Hosting: https://github.com/hoppscotch/hoppscotch/wiki/Hosting#firebase-dependency

Here's how Hoppscotch works.
Front end: Vue / Nuxt
Database: Firebase Firestore
Authentication: Firebase Authentication
Hosting: JAM stack (static)

Basically you can host and use Hoppscotch in any server without any changes — but if you wish to have a private instance, the only required changes are in .env

[2020-08-30 10:18] akshitkr opened #1130 "Website down"
### Website down.

[2020-08-30 10:19] #1130 closed

[2020-08-30 10:20] liyasthomas commented on #1130
Hi there, we've move to hoppscotch.io

https://downforeveryoneorjustme.com/hoppscotch.io?proto=https

[2020-08-30 12:53] akshitkr commented on #1130
thanks a lot

[2020-08-31 02:27] DGKSK8LIFE opened #1131 "Make a Mobile port with vue-native"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I'd like the app to be ported to mobile in a PWA-esque way (perhaps via vue native or ionic)

**Describe alternatives you've considered**
You could write native for better performance and more reliability

[2020-08-31 02:34] liyasthomas commented on #1131
PWA being very lightweight and effective I can't find any advantages for Native app over PWA in case of Hoppscotch. Fee free to discuss over this topic.

[2020-08-31 02:38] liyasthomas commented on #1104
Closing due to inactivity.

[2020-08-31 02:39] #1104 closed

[2020-08-31 13:21] DGKSK8LIFE commented on #1131
Yeah that's fair. Perhaps you wanted AR functionality or just a UI Kit that's native specific. I'd definitely prefer PWA because it would be a lot easier to build/faster. What does the PWA ecosystem look like in vue? (I'm mainly a react person and haven't messed with vue much)

[2020-08-31 14:46] AndrewBastin commented on #1131
@DGKSK8LIFE I am kinda the person working with getting Hoppscotch to be native and we have discussed a lot about what we want from a native app.

We really don't want to maintain a separate codebase for the mobile app as of right now. We have more than enough in the plate with the current codebase 😅.

I am working on a system that allows for Hoppscotch to work on iOS and Android without the extra

[2020-08-31 14:54] #1131 closed

[2020-08-31 15:04] DGKSK8LIFE commented on #1131
Nice. But why not use vue-native? @AndrewBastin

[2020-09-01 03:04] kisscelia commented on #1130
It's time to remove all the keywords: postwoman, pw...etc...  :)

[2020-09-01 03:05] liyasthomas commented on #1130
No need for that  Hoppscotch was formerly Postwoman. Everybody knows that. And for those who don't, keywords helps. Moreover I guess crawlers doesn't give great importance to meta keywords now a days.

[2020-09-04 13:48] exussum12 commented on #850
Hoppscotch doesnt seem to support sub folders like this. Ive got the import working, but the front end stops working.

So its not really a postman import issue, its more a limit of Hoppscotch.

[2020-09-04 13:50] liyasthomas commented on #850
Yes, as of now we don't support nested subfolders. Any idea how we can toggle this issue or will think about adding nested folders.

[2020-09-04 15:10] exussum12 commented on #850
I can't see another ticket for nested sub folders, This ticket would need to be put on hold until that happens. The import completely stops the front end working currently and you need to clear the local storage to continue.

Obviously thats not a great solution, so I think implement nested folders, and then look at this issue again. Whats your thoughts on that ?

[2020-09-04 17:26] liyasthomas commented on #850
Yes, you're right. Nested subfolders should be a feature.

[2020-09-04 20:05] decorahd opened #1143 "Api"

[2020-09-04 23:32] #1143 closed

[2020-09-05 01:57] decorahd opened #1144 "H"

[2020-09-05 01:59] #1144 closed

[2020-09-05 06:20] exussum12 commented on #850
For now, ive started a tool to convert thefolder structure.

The example here looks like this when imported

![image](https://user-images.githubusercontent.com/1102850/92299186-0fcd0680-ef48-11ea-94c1-38b3b869de02.png)

Basically everything is now in the top level prefixed with its path eg

sub1/sub2/sub3/sub4/request

will now be
sub1 sub2 sub3 sub4/request  (so there is only 1 level deep)

Is th

[2020-09-05 06:23] liyasthomas commented on #850
I guess that would somewhat fix current issues. Thanks @exussum12. Feel free to open a PR.

[2020-09-06 13:19] arshxyz opened #1146 "Fix Firefox addon link"
The Firefox addon link in the header points to `https://addons.mozilla.org/en-US/firefox/addon/postwoman/` while I believe the correct addon URL is `https://addons.mozilla.org/en-US/firefox/addon/hoppscotch/` (published by @AndrewBastin )

I'm new to Github so my apologies if I made a mistake. I have a PR ready.

[2020-09-06 13:31] liyasthomas commented on #1146
@arshxyz Thanks for this PR.

cc: @AndrewBastin

[2020-09-06 13:35] #1146 closed

[2020-09-07 06:29] ShenYj commented on #1130
renamed?

[2020-09-07 06:30] liyasthomas commented on #1130
Yes project Postwoman has been renamed to Hoppscotch.

[2020-09-07 08:05] ravieze opened #1148 "hoppscotch empties the collections by itself"
**Describe the bug**

1. create hoppscotch account. multiple users of your team use the same gmail credentials to login to hoppscotch to share the rest api collections
2. import collections from postman
3. Now, refresh the page. The collections are visible. Refresh the page 4-5 times after a few times of refresh the collections are emptied.

**Expected behavior**
The collections should stay as the

[2020-09-07 14:29] liyasthomas commented on #1148
I can't reproduce this issue. Can you check with your team mates that none of them accidently deleted those saved requests?

[2020-09-07 14:32] ravieze commented on #1148
Actually me and 1 more colleague login with same gmail account credentials. After I had imported we both refreshed the pages, the collection entries remained intact for a while and then they all disappeared. we tried this couple of times, and it was consistently reproducible.

1. I add to the collection
2. He des the refresh
3. I do the refresh,
4. after couple of refreshes, the collection is empt

[2020-09-07 14:36] liyasthomas commented on #1148
I tried to reproduce this situation with two incognito windows, but had no issue. Will try more cases now.

[2020-09-07 20:02] ravieze commented on #1148
Make sure that each window has multipe Gmail accounts in it. Not sure if this can be an issue. But in my case we did have multiple gmail accounts. Also, when u import the collection does it happen in background, in async?

[2020-09-07 21:01] AndrewBastin commented on #1023
Yeah, I am reopening this issue because it is something I am working on finding on it.

I haven't pinned down the reason for this yet (maybe some issues with the communication in between), but it seems to only affect certain sites and not others.

[2020-09-08 00:43] liyasthomas commented on #1023
Same issue was there in Proxy mode #1070 after introducing Lenses.
Fix was in this commit: https://github.com/hoppscotch/proxyscotch/commit/8c338414a1d826b846f6d9689cbbb8b37e69ed8c

[2020-09-08 10:26] alireza4050 opened #1149 "Support multiple arguments with socket.io"
Currently socket.io client only accepts one message of type string, array or json (which is automatically identified).
No options to send multiple arguments with event.

[2020-09-08 15:16] liyasthomas commented on #850
Fixed in #1150

[2020-09-08 15:16] #850 closed

[2020-09-08 23:46] liyasthomas commented on #885
@perseveringman shall we optimize doc generator. We could really use your help.

[2020-09-08 23:47] #1129 closed

[2020-09-09 02:39] perseveringman commented on #885
Willing to help！

[2020-09-09 02:40] liyasthomas commented on #885
What features/improvements you'd like to see in current doc generator?

[2020-09-09 02:50] perseveringman commented on #885
Shall we continue the previous progress？Add the params description and optimize the layout of the document page.

[2020-09-09 02:51] perseveringman commented on #885
If you have other ideas, I am willing to help

[2020-09-09 02:55] liyasthomas commented on #885
Can start on adding param description and optimising layout as a first and will iterate then.

[2020-09-09 02:59] perseveringman commented on #885
Okay, I will resubmit a PR.

[2020-09-10 01:19] GucciLady opened #1154 "Gmail hack"

[2020-09-10 01:22] liyasthomas commented on #1154
No thanks

[2020-09-10 01:22] #1154 closed

[2020-09-10 14:34] liyasthomas commented on #1029
That's great input. Visually, this is something I'd in mind. Let me dig deep into this approach. Will ping you in need of any help ;)

[2020-09-10 15:15] AndrewBastin commented on #1029
Umm, I am actually working on the implementation of this. Along with a overhaul of the URL parsing system. Just that all new feature work is paused for a while to work on tests and improving the stability and reliability until the Teams feature has rolled out.

[2020-09-11 07:52] arjun-1 opened #1159 "Import cURL always fails"
## Description
Import cURL always fails (even for cURL produced from 'Generate code')

## To Reproduce
Steps to reproduce the behavior:

1. Go to hoppscotch.io
2. Click on 'import cURL'
3. Paste
[code]
4. Click 'Import'
4. See error 'cURL is not formatted properly

## Expected behavior
Import of valid cURL should succeed

## Desktop
 - OS: Ubuntu 18.04.5 LTS
 - Browser: Chrome
 - Version: 85.0.418

[2020-09-11 08:54] liyasthomas commented on #1159
Thanks for reporting the issue. We're working on a fix.

[2020-09-11 09:38] #1159 closed

[2020-09-11 09:39] liyasthomas commented on #1159
Issue was introduced in the latest `yargs-parser` dependency. I've pushed a fix, it would be great if you could check and verify: https://hoppscotch.io

[2020-09-11 13:40] arjun-1 commented on #1159
The issue was fixed, though there seems to be trouble with other cURL commands. I'll open another issue for that

[2020-09-11 13:40] arjun-1 opened #1160 "Import cURL fails for single line commands"
## Description
Import cURL fails for single line commands
## To Reproduce
Steps to reproduce the behavior:

1. Go to hoppscotch.io
2. Click on 'import cURL'
3. Paste
[code]
4. Click 'Import'
4. See error 'cURL is not formatted properly

## Expected behavior
Import of valid cURL should succeed

## Desktop
 - OS: Ubuntu 18.04.5 LTS
 - Browser: Chrome
 - Version: 85.0.4183.102

[2020-09-11 13:42] liyasthomas commented on #1160
Oops, working on a fix.

Do update this issue for any other issues regarding cURL import feature — no need for seperate issues.

[2020-09-11 14:13] #1160 closed

[2020-09-12 13:31] asirota commented on #470
The ability to import openapi definitions from sites like swagger hub will greatly improves the possibilities for hoppscotch.

To be sure their open source web API tester at [swaggerii](https://swagger.io/tools/swagger-ui/) already is decent but hoppscotch is a lot more handy and pretty.

[2020-09-12 14:04] subins2000 opened #1161 "Easily restore from history"
**Is your feature request related to a problem? Please describe.**
A one-click way to restore item from history

**Describe the solution you'd like**
Click on the item in history and restore it

**Describe alternatives you've considered**
Currently you need to click, then choose "Restore" which is not so quick

**Additional context**
Perhaps a restore button in the history item that when clicked r

[2020-09-12 14:06] liyasthomas commented on #1161
Yes — I agree. Current history restore flow sucks. Thanks for bringing this up. Will work on this.

[2020-09-12 14:08] subins2000 commented on #1161
One more thing, it'd be better if the latest item should be on top in the history list not wayyy below

[2020-09-14 08:01] exussum12 opened #1164 "Global Variables"
**Is your feature request related to a problem? Please describe.**
Postman has a concept of global variables, these variables are added after the enviroment specific ones. So anything which is a variable, but can be used cross environment ends up here

**Describe the solution you'd like**
A global section adding to the variables. This will be merged with the current environment specific one before

[2020-09-14 09:40] #1161 closed

[2020-09-14 10:01] RodolpheGohard commented on #874
Hello @raha1923 , thanks for working on this issue, I would love to see client_credentials implemented. Is the work still ongoing on it ?

[2020-09-15 15:39] WeslyG commented on #1130
it's very interesting to see the tweet that blamed the author and forced him to change the name, but I think I'll live happily ever after)

[2020-09-15 15:39] WeslyG commented on #1130
it's very interesting to see the tweet that blamed the author and forced him to change the name, but I think I'll live happily ever after)

[2020-09-15 16:55] liyasthomas opened #1166 "🚧 Roadmap"
**Bugs:**
- [ ] Refactor `queryString <=> UI` implementation
  status: `planned`

**Features:**
- [ ] Refactor state system
  status: `planned`

- [ ] Refactor Firebase transactions
status: `planned`

- [ ] Request as an object (@AndrewBastin)
  status: `deferred`

**Core:**
- [ ] REST features in GraphQL
  status: `planned`

- [ ] Teams collaboration
  status: `WIP` #879

[2020-09-17 09:07] ninformations commented on #961
This is happening when you have just logged in and not yet enabled your sync in settings page. After enabling sync from setting the error goes away and everything works normally.

[2020-09-18 01:40] AndrewBastin commented on #1023
Well, I added a temporary hacky fix for the issue (explicitly remove the null characters from the end). Will get around with a proper fix once I get around that.

Meanwhile, closing this issue.

[2020-09-18 01:40] #1023 closed

[2020-09-18 05:04] AndrewBastin commented on #1029
Update: Environment variable highlighting is now implemented in the URL field as an Experiment. You can enable the experiment in the settings page. It is not stable yet, but it is on track to be stable soon.

Closing this issue meanwhile.

[2020-09-18 05:04] #1029 closed

[2020-09-18 13:22] subins2000 commented on #1161
Awesome! Much better now

[2020-09-18 13:23] liyasthomas commented on #1161
Let me know if there's any other ways we can improve the History section. Kindly comment in this issue itself.

[2020-09-22 07:17] raha1923 commented on #874
Hi, I'm here and just looking for a proper time to clean the code and commit and push what I have implemented on the project to make it work with other grant types in oAuth 2. just need time to focus on the subject and clean, commit and push, please be patient. It worth it.

[2020-09-23 09:47] Metal-joker opened #1182 "Import OpenAPI yaml/json file as collection"
**Is your feature request related to a problem? Please describe.**
Some framework such as `fastapi` generated a `openapi.json`. I want to import this easily to hoppscotch

**Describe the solution you'd like**
Add a option to make import OpenAPI file possible

**Additional context**
None

[2020-09-23 18:57] IgorMaineti opened #1184 "Requests being replaced inside folder"
**Describe the bug**
Editing a folder path of a request will make it replace any requests inside the folder it was forwarded.

**To Reproduce**
Steps to reproduce the behavior:
Create a collection
Create one folder
Create two requests
Edit the path of the first request to go into the folder created earlier
Now edit the path of the second request to go into the same folder
Now the folder should hav

[2020-09-23 19:06] liyasthomas commented on #1184
Thanks for reporting the issue. Working on a fix now.

[2020-09-25 17:40] Qix- opened #1188 "Add search (live filter?) box for GraphQL schema panel"
**Is your feature request related to a problem? Please describe.**

The schema fetching in Hoppscotch is very helpful and (mostly) well laid-out. However, it appears to be using a virtual list of some sort and thus isn't ctrl+f searchable, making large schemas incredibly hard to traverse.

This, paired with the fact it can't be resized (it's a tiny sliver for me) and that clicking types and whatno

[2020-09-25 19:22] liyasthomas commented on #1188
Thanks for reporting your pain points regarding GraphQL page. We're working on an overhaul on GraphQL page and hoping to bring the best experience. Will use this issue as a base to track it's progress.

[2020-09-27 01:35] AndrewBastin commented on #1188
I think this will be good for Hacktoberfest as I am preoccupied with working on the Teams backend.

The implementation is pretty trivial actually.

[2020-09-27 16:44] liyasthomas opened #1190 "Kick off Hacktoberfest 👩‍💻👨‍💻👌 with the next best thing DEVs will ❤️"
### Are you looking to contribute to an open source project in this Hacktoberfest? or want to get started with latest technologies like VueJS & NuxtJS?

We're developing Hoppscotch, an open source API request builder for the web, and would love to count you as a contributor to improve our components & applications.

Web app: [hoppscotch.io](http://hoppscotch.io)
GitHub: @hoppscotch

_24k+ stars on

[2020-09-27 17:20] liyasthomas commented on #1148
Not reproducible, hence closing.

[2020-09-27 17:20] #1148 closed

[2020-09-28 13:20] dertrockx opened #1193 "Error when requesting a get request to my Strapi API"
**Description**
So whenever I send a get request to my local strapi project (i.e. the default one, localhost:1337), it returns this response
[code]
however when I visit the url, the response is okay. That is, just a normal JSON response

**Screenshots**
Here are screenshots pertaining to this bug.

*Screenshot of web app w/ response*
![Screenshot from 2020-09-28 21-15-29](https://user-images.githu

[2020-09-28 13:30] liyasthomas commented on #1193
Can you sign out and sign in again and try?

[2020-09-28 13:42] dertrockx commented on #1193
I did that, and it worked!
But I dunno why tho. But still, it worked. Thanks!

[2020-09-28 13:42] #1193 closed

[2020-09-28 13:45] liyasthomas commented on #1193
This happens when you initially sign up / log in to Hoppscotch, we check your Sync settings (you can find it on Settings > Account). If there's some network issue while signing in, data sync might've take a bit delay. Which caused this issue. Anyways, feel free to ping me for any doubts.

[2020-09-29 09:50] LuisMayo opened #1195 "Exporting to cURL doesn't include JSON raw data"
**Describe the bug**
When trying to generate cURL of a petition when the JSON has been specified without processing, the cURL-generated code doesn't include said JSON

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hoppscotch.io/
2. Change petition method to POST
3. Enable the "unprocessed data" switch
4. Write a minimum JSON object on the text area. Something like this may wor

[2020-09-29 09:54] liyasthomas commented on #1195
Thanks for reporting the issue. It seems like only key-value pair data is being take in to consideration for code gen. Will fix this ASAp.

[2020-09-29 10:00] LuisMayo opened #1196 "Add session persistence to realtime tabs"
**Describe the solution you'd like**
I'd like for all tabs under "realtime" category to persist when I switch categories, in the same fashion as "Home" and "GraphQL" work.
Example: You change the address of the websocket server you're testing, then you suddenly realize you want to test a simple HTTP request so you go back to "home". When you're done you go back to the websockets section, only to f

[2020-09-29 10:02] LuisMayo commented on #1195
¡Thanks to you for answering so quickly!

[2020-09-29 10:09] LuisMayo opened #1197 "Javascript's code generation not working with body"
**Describe the bug**
When trying to generate JS code for an HTTP method which requires a body (PUT-POST-PATCH) the code generation won't work. It won't change the content of the output generated code text-area.
In case JS was the latest selected method the "generate code" window won't even open

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://hoppscotch.io/
2. Change HTTP method

[2020-09-29 18:11] liyasthomas commented on #1197
This issues was introduced by latest updates in codegen. An utility function import has been skipped by mistake. Pushing a fix now.

[2020-09-29 18:12] #1197 closed

[2020-09-29 18:17] liyasthomas commented on #1195
This issues was a result of a typo in codegen function. Instead of `rawInput` it was `rawInputs`. Pushing a fix now.

[2020-09-29 18:18] #1195 closed

[2020-09-29 20:50] Jg481990 opened #1198 "Help"
Guidance please

[2020-09-30 01:07] liyasthomas commented on #1198
How can I help you?

[2020-09-30 08:05] #1198 closed

[2020-10-02 05:37] levrik opened #1213 "GraphQL support broken (once again)"
**Describe the bug**

GraphQL requests work in general but I can't see the response from server. Neither if the request was successful or not (means contains `errors` or not).
Instead I'm just getting `SyntaxError: Unexpected token   in JSON at position 85. Check console for details.`.
With a different position depending on the actual JSON returned by server.
I think the unexpected token seems to

[2020-10-02 05:40] liyasthomas commented on #1213
I just tried at my end. And it's working fine. Can you produce a screenshot of a errored query/mutations?

[2020-10-02 05:43] levrik commented on #1213
![image](https://user-images.githubusercontent.com/9491603/94891637-e9d14e00-0482-11eb-8fdc-c3c7c4bfae4b.png)

The query/mutation I'm entering doesn't matter. I'm always ending up with this.

[2020-10-02 05:46] levrik commented on #1213
I can even reproduce this error with "Get schema" when using https://rickandmortyapi.com/graphql as endpoint.
For the example above, I've used our own GraphQL API. "Get schema" was working there but I'm hitting this issue on normal requests then.

[2020-10-02 05:59] liyasthomas commented on #1213
Make sure you turned off Proxy mode and Extension mode from Settings.
Make sure you're using latest GraphQL query syntax.

1. Visit https://hoppscotch.io/graphql
2. Endpoint: https://rickandmortyapi.com/graphql
3. Query:

[code]
4. Send

If this doesn't work, try cleaning site's cache. And try again.

[2020-10-02 07:34] levrik commented on #1213
@liyasthomas Yep. This is working fine so the problem is probably the extension.

[2020-10-03 04:55] badsketch commented on #1196
Hey I'd like to contribute and give this a shot 🙂

[2020-10-03 04:57] liyasthomas commented on #1196
@badsketch feel free to contribute. You're welcome. Let me know if you need any help.

[2020-10-03 06:20] lucasqueiroz opened #1214 "Update pt-BR translations"
# Description

The `pt-BR` translation file seem to be missing a lot of new strings included in `en-US`.

[2020-10-03 06:24] liyasthomas commented on #1214
@lucasqueiroz would you like to contribute to `pt-BR` translation? If yes please check [Translation instructions](https://github.com/hoppscotch/hoppscotch/blob/master/TRANSLATIONS.md).

[2020-10-03 07:16] lucasqueiroz commented on #1214
Hi Liyas, I've already opened a Pull Request :)
Thanks!

[2020-10-03 07:24] liyasthomas commented on #1214
Fixed in #1217

[2020-10-03 07:24] #1214 closed

[2020-10-03 14:07] LeoMartinDev commented on #1188
I'll give it a try 👌

[2020-10-03 14:19] LeoMartinDev commented on #1188
I'm wondering, should it filters only on `fieldName` ? Maybe we could also search in the description, not sure about this

[2020-10-03 14:36] Qix- commented on #1188
Being able to fuzzy search for any of the content would be groundbreaking. Some of the schemas that get imported are _massive_ and it's not always clear what the field name will be.

[2020-10-03 14:45] LeoMartinDev commented on #1188
You mean, including mutations args, fields types, etc.. ? Got something workin, filtering on description & field/mutation/type name

[2020-10-03 15:55] tonybatty commented on #1003
I have created a PR to fix this issue on #1221

[2020-10-03 16:07] #1003 closed

[2020-10-03 16:09] LeoMartinDev commented on #933
I'll look into it

[2020-10-03 16:11] liyasthomas commented on #933
@LeoMartinDev great. Let me know if you need any help.

[2020-10-03 16:24] LeoMartinDev commented on #933
Thanks ! IMO we should split this into several PR to minimize diff.
I'm going to add the Headers section in a first PR

[2020-10-03 17:05] LeoMartinDev opened #1222 "HTTP PAGE : Headers suggestions are overlapped by the response section title"
**Describe the bug**
The headers suggestion in the HTTP page are overlapped by the response section title

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Home'
2. Click on 'Headers'
3. Click on 'Add new'
4. Click on the header name field
5. See error

**Screenshots**
![image](https://user-images.githubusercontent.com/7238941/94997421-3a43cb00-05ab-11eb-917d-43cbf4bd513c.png)

**Deskto

[2020-10-03 18:48] tonybatty commented on #1222
I have fixed this issue on PR #1223

[2020-10-03 19:03] Qix- commented on #1188
Yeah, basically any part of the spec that is returned would be searchable in theory - within reason, of course.

[2020-10-03 22:24] LeoMartinDev commented on #1188
For now it only search in `name` and `description` but I made it easy to add more keys to search in

[2020-10-03 23:26] badsketch commented on #1196
By session persistence do we also want to persist the connection? Currently, after successfully connecting, then switching to a different category (for ex. Home), then coming back to realtime, it goes back to `(waiting for connection)`. Do we want to maintain this connection as well or do we just want to persist the url?

[2020-10-04 00:11] #1222 closed

[2020-10-04 10:36] YasiOnFire opened #1225 "Auth does not get passed into codegen"
**Describe the bug**
Since the codegenerator refactor [See commit](https://github.com/hoppscotch/hoppscotch/commit/ee066d7859da2c840cbaba63741b5faebdbf5df5#diff-b19fa22add3de9cd0b98b05366479d92R1793), the auth value does not get passed to the generator, and therefore the authorization headers are not shown in any of the generators.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull latest

[2020-10-04 10:47] #1188 closed

[2020-10-04 12:30] LeoMartinDev commented on #933
That's much bigger than what I thought. I had to make a reusable Parameters Headers component & corresponding entries in the store (new websocket state).

[2020-10-04 12:34] #1225 closed

[2020-10-04 12:47] LeoMartinDev commented on #933
Hmm I don't know if this feature is really useful as Websocket API allows only one header : `Sec-WebSocket-Protocol` https://stackoverflow.com/questions/39853185/custom-headers-for-websocket-js

[2020-10-04 12:51] LeoMartinDev commented on #1110
What about monaco ? It's the VSCode editor https://github.com/egoist/vue-monaco

[2020-10-04 12:56] liyasthomas commented on #933
Oops. @AndrewBastin can you confirm this.

[2020-10-04 13:02] liyasthomas commented on #1110
Hi @JoelJacobStephen ,
@AndrewBastin once implemented a [codemirror port](https://github.com/AndrewBastin/hoppscotch/tree/feat/move-to-codemirror). We refused monaco because it doesn't had mobile responsive support. We can consider it if it is responsive. ANdrew wdyt?

[2020-10-04 13:25] LeoMartinDev opened #1231 "Add a default Socket.io URL"
It would be great to add a default Socket.io endpoint like it's done for the other protocols

[2020-10-04 13:34] LeoMartinDev commented on #1110
Indeed, from their Readme :

[2020-10-04 13:36] LeoMartinDev commented on #1196
Keeping the connection up sounds nice

[2020-10-04 13:38] liyasthomas commented on #1231
Actually I tried to find an open / public echo Socket.IO endpoint, but couldn't find one.

[2020-10-04 13:39] LeoMartinDev commented on #1231
I found one, in the Socket.io documentation, I can open a PR if you want

[2020-10-04 13:40] liyasthomas commented on #1231
Did you test it?

[2020-10-04 13:41] LeoMartinDev commented on #1231
Yup :) From https://socket.io/demos/chat/ `wss://socketio-chat-h9jt.herokuapp.com`

[2020-10-04 13:41] LeoMartinDev commented on #1231
Ew but it's not echoing, my bad

[2020-10-04 17:08] AndrewBastin commented on #1110
To be honest, I prefer Monaco as well as it is a lot more battle tested and advanced compared to CodeMirror, but Monaco doesn't support mobile devices as stated by @LeoMartinDev and we don't exactly have a definite plan to drop mobile devices just yet. But if that happens and we decide to drop mobile support for Hoppscotch, we can choose to move ahead with Monaco.

[2020-10-04 19:13] LeoMartinDev commented on #1149
I've just opened a PR here https://github.com/hoppscotch/hoppscotch/pull/1234

[2020-10-04 19:32] luthrap commented on #1190
I can pick up code generator for python

[2020-10-04 19:50] AndrewBastin commented on #1190
Go for it @luthrap

[2020-10-04 19:59] LeoMartinDev commented on #927
Looks like `--data-raw` is not supported, please use `--data` instead which works

`curl 'http://127.0.0.1:8000/api/admin/crm/brand/4' -X PUT -H 'User-Agent: Mozilla/5.0 (X11; Linux x86_64; rv:78.0) Gecko/20100101 Firefox/78.0' -H 'Accept: application/json, text/plain, */*' -H 'Accept-Language: en' --compressed -H 'Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0

[2020-10-04 23:43] liyasthomas commented on #1149
Fixed in #1234

[2020-10-04 23:43] #1149 closed

[2020-10-05 00:01] liyasthomas commented on #1231
I guess we can add this now. will update once we get an echo endpoint.

[2020-10-05 00:02] #1231 closed

[2020-10-05 00:07] liyasthomas commented on #927
Reopen if there're further issues.

[2020-10-05 11:10] exussum12 opened #1236 "A search bar for collections"
**Is your feature request related to a problem? Please describe.**
Have the search bar which exists in history also work on the collections page

**Describe the solution you'd like**
Type in all or part of a name and see only the requests which match

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2020-10-05 13:28] LeoMartinDev commented on #1196
Hey @badsketch ! Do you need help on that ?

[2020-10-05 14:02] badsketch commented on #1196
Hi @LeoMartinDev, not at the moment. Thank you very much for offering though and for the earlier reply to my question.

[2020-10-05 14:04] LuisMayo commented on #1196
Project maintainers should decide on that, personally I think it'd be cool but I haven't checked the codebase so I don't know whether it's possible or not

[2020-10-05 16:41] LeoMartinDev commented on #1236
If no one wants to / is working on it, I can give it a try

[2020-10-05 16:45] badsketch commented on #1196
Could you weigh in @liyasthomas?

I saw that input fields like request url, graphql editor, are persisted using $store, and `vuex-persist` places the store in local storage. This works well with http (not sure if this is the right word) tabs like REST and graphql tab. But for realtime, because we're maintaining a collection,  I think we might get into a weird state if someone cleared storage?

1.

[2020-10-05 16:45] liyasthomas commented on #1236
You're welcome.

[2020-10-05 16:47] LeoMartinDev commented on #1196
Do not persist `connectionState` and it should work well IMO

[2020-10-06 02:24] badsketch commented on #1196
yeah my main concern was just that we would have connections left over, but when you say the connections close on refresh, then I guess that shouldn't be a problem. thanks for the clarification. I'll keep in mind your suggestions

[2020-10-06 13:18] hibare opened #1243 "Docker image not working"
**Describe the bug**
Nothing loads in UI, continues to show loading cirlces

**To Reproduce**
Steps to reproduce the behavior:
Run followin docker-compose snippet

[code]

**Expected behavior**
Page will load

**Screenshots**
![Screenshot from 2020-10-06 18-47-35](https://user-images.githubusercontent.com/20609766/95206603-85a4e600-0804-11eb-850f-60c5934c3b92.png)

**Desktop (please complete the f

[2020-10-06 13:31] liyasthomas commented on #1243
Can you pul the latest

[2020-10-06 14:16] rytikovroman1994 commented on #1243
I get data too.
![image](https://user-images.githubusercontent.com/42497012/95213548-9b5fde80-07f7-11eb-9eb5-32c1d35e2f5e.png)

[2020-10-06 16:41] liyasthomas commented on #933
@rvit34 can you produce an example of making use of custom headers in WebSocket

[2020-10-06 17:33] liyasthomas commented on #1190
Hi @luthrap , Python Requests codegen has been contributed by @yq314 on #1244. You can look into `Python http.client` codegen. Happy hacking.

[2020-10-07 06:40] luthrap commented on #1190
sure, will pick http.client

[2020-10-07 06:48] hibare commented on #1243
Hi,

Docker by default will be pulling latest image.

[2020-10-07 08:06] zia-devsinc commented on #870
Waiting eagerly for this feature

[2020-10-08 00:09] pnpninja commented on #1236
Can I try?

[2020-10-08 04:00] liyasthomas commented on #1236
Go for it.

[2020-10-08 09:01] Siccity opened #1251 "Error: Network Error"
**Describe the bug**
Sent a basic GET request to https://www.google.com/ , got response Error: Network Error (F12 for details)

Console log:
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/6402525/95437609-7aad9b00-0955-11eb-9138-f3a08ca9d5e2.png)

[2020-10-08 09:07] liyasthomas commented on #1251
URLs such as www.google.com has CORS restrictions. Read more about CORS: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

Not related to Hoppscotch hence closing.

[2020-10-08 09:07] #1251 closed

[2020-10-08 09:11] mittalyashu commented on #870
Maybe we can commit the connections inside the git repository with a dot folder like `.hoppscotch` and store collections inside it.

[2020-10-08 22:02] msenol86 opened #1253 "PWA not working"
I cannot install this on my Linux machine neither by Chrome nor by Firefox.
![image](https://user-images.githubusercontent.com/2547551/95518130-13cac900-09cb-11eb-8640-ab7c9b52efd2.png)

[2020-10-09 00:29] liyasthomas commented on #1253
Clear app data and follow these instructions: https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps/Add_to_home_screen

[2020-10-09 00:29] #1253 closed

[2020-10-09 05:51] duanmq1994 commented on #1243
I met this problem, too.
I also pulled the latest image.

[2020-10-09 07:33] shalika10 commented on #1190
Hey i want to pick code generator for java ,please assign it to me

[2020-10-09 07:34] liyasthomas commented on #1190
@shalika10 go for it 👌

[2020-10-09 08:58] amerireza commented on #1002
Do you need beta testers to simply submit new issues? Don't you want them to consider the roadmap?
How will this issue be closed? What is the definition of done here?

[2020-10-09 09:10] liyasthomas commented on #1002
It's basically an announcement for beta testers with general instructions for testing. Development team follows roadmap and release them of experiments channel. The corresponding feature releases are announced in Discord server too. Discord is used for communication.

[2020-10-09 13:34] piraces commented on #1190
Hey, can I take the `shell` with `wget` generator?

[2020-10-09 13:35] liyasthomas commented on #1190
@piraces yeah sure ✨

[2020-10-09 14:28] exussum12 opened #1257 "Headers not replaced with Variables in the code export view"
**Describe the bug**
Headers not replaced with Variables

**To Reproduce**
add `<<variable>>` as the value of a header, with `<<variable>>` set to something, press the export code button

**Expected behavior**
value should be something instead of `<<variable>>`

[2020-10-09 14:31] liyasthomas commented on #1257
As of now, env variables aren't supported in headers section. Will add to roadmap.

[2020-10-09 20:54] Ldoppea commented on #1190
Hi,

 I would like to try implementing the C# one. Did someone already start to work on it?

[2020-10-09 23:36] liyasthomas commented on #1190
@Ldoppea you can work on C# codegen.

[2020-10-09 23:42] Ldoppea commented on #1190
Great, i'll do it this week end 😃

[2020-10-10 00:42] liyasthomas commented on #1243
Can you guys update docker-compose file with changes from the PR #1258 and confirm it is working?

[2020-10-10 04:43] liyasthomas commented on #1236
@pnpninja do you need any help with this feature? Feel free to ask out here.

[2020-10-10 11:22] #1243 closed

[2020-10-10 20:13] pnpninja commented on #1236
I'll start on it after Tuesday. I have an exam to prep for

On Sat, Oct 10, 2020, 12:43 AM Liyas Thomas <notifications@github.com>
wrote:

[2020-10-11 04:52] #1236 closed

[2020-10-11 04:54] liyasthomas commented on #1236
@pnpninja this feature has been implemented. Do check out other open issues for contribution.

[2020-10-11 21:52] badsketch commented on #1196
I was able to persist everything on tab change and on refresh 🙂. I'm a little concerned about refresh though, because the socket can't listen to "onclose" when the page is refreshed, so there's not much indication that the socket has disconnected. The log doesn't say that there has been a disconnect.
![hoppscotch_realtime](https://user-images.githubusercontent.com/8953212/95691020-dabc6f80-0be9-11

[2020-10-12 01:10] liyasthomas commented on #1196
I guess we should push a "disconnected log" on refresh. That would be the better UX.

[2020-10-12 06:28] florinmirosnicencu commented on #1190
I want to pick up the codegen for pecl_http (PHP)

[2020-10-12 06:37] exussum12 commented on #1257
@liyasthomas  I went to implement this, it actually works as intended. The reason I thought it didn't is the generated code. That doesn't get replaced. Ill update the issue and send a PR to make the code work the same way

[2020-10-12 13:44] rytikovroman1994 commented on #1243
Still not working. I installed the latest version.
It also doesn't work locally. If you clone a project and then knock it down.

[2020-10-12 13:50] rytikovroman1994 opened #1263 "I can't send an xml request. It also doesn't offer the desired title."
**Describe the bug**
I want to send an xml post request. It's not in your headlines. Also, when I write the header myself, the request still fails.

**To Reproduce**
Steps to reproduce the behavior:
Create a post request
Set Content-type to text/xml
To add to the xml body
Send a request

**Expected behavior**
The response should have been xml

**Screenshots**
![image](https://user-images.githubuse

[2020-10-12 14:15] liyasthomas commented on #1263
Please install Browser extension and try again.

Working XML example: https://hoppscotch.io/?method=GET&url=https://dev.to&path=/rss

[2020-10-12 14:15] #1263 closed

[2020-10-14 07:17] liyasthomas commented on #493
@shi-xuning install our browser extension (links are in README) to fix CORS issues.

[2020-10-14 07:23] shi-xuning commented on #493
我已经尝试过安装浏览器扩展并且启用，但是好像并不起作用。 版本是0.17

[2020-10-14 07:29] liyasthomas commented on #493
Please describe the steps to reproduce your current issue.

[2020-10-14 07:38] shi-xuning commented on #493
目前我正在学习了解postwoman，我以下载zip包的方式在win10上安装并启动了它，通过访问http://localhost:3000，进行post请求报错，此时代理是打开状态且浏览器已安装了扩展
![image](https://user-images.githubusercontent.com/72735577/95958111-42b1c680-0e33-11eb-97a8-782e53f785b9.png)
![image](https://user-images.githubusercontent.com/72735577/95957983-0aaa8380-0e33-11eb-8404-d7bf6285ba07.png)
![image](https://user-images.githubusercontent.com/72735577/95958086-388fc80

[2020-10-14 17:04] guptajyoti845 commented on #1190
Hello I want to pick code generator for nodejs unirest, please do assign to me

[2020-10-14 17:05] liyasthomas commented on #1190
@guptajyoti845 go for it 👍

[2020-10-15 02:27] onion-yz opened #1273 "Improve file / formData upload"
When the master is selected, files cannot be uploaded, and the number of files always shows no files. Checking the network payload, it is true that no files have been sent.
When selecting the release version v1.9.9, select application/x-www-form-urlencoded or application/json, the request payload is [object FormData], and the backend receives the string "[object FormData]". After parsing with tool

[2020-10-15 05:44] ChrisB85 opened #1275 "TypeError: Cannot read property 'preference' of undefined"
**Describe the bug**
When trying to open an app, only loading screen appears. There is an error in the console:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to hoppscotch app URL
2. Open console in developer tools
3. See error

**Expected behavior**
An error in console should not appear.

**Screenshots**
![image](https://user-images.githubusercontent.com/792899/96081585-e776e700

[2020-10-15 05:51] liyasthomas commented on #1275
Docker image seems to be having an issue. We're working on finding the root cause.

Investigation shows the color mode module is having an issue with accessing cookies when run via Docker. Kindly stay tuned while we rollout a patch ASAP.

[2020-10-15 05:52] liyasthomas commented on #1243
Track issue on #1275

[2020-10-17 06:41] silentmatt commented on #1190
For HTTP, are you looking for the raw text that would be sent in the request? i.e. something like

    GET /path?parameters HTTP/1.1
    Host: domain.tld
    ...

[2020-10-19 01:51] #1257 closed

[2020-10-19 02:11] #1164 closed

[2020-10-20 16:59] mrkunal commented on #1190
Hello I want to pick code generator for java unirest, please do assign to me
This is my first issue

[2020-10-20 17:00] liyasthomas commented on #1190
@mrkunal go for it 🚀

[2020-10-21 09:00] liyasthomas commented on #1273
I've pushed a fix for this issue. Ability to rename files will be added ASAP.

[2020-10-21 09:05] liyasthomas commented on #1196
@badsketch ready for the PR?

[2020-10-21 12:34] badsketch commented on #1196
Hey really sorry for the delay. I’ll have 3 of the tabs working very soon.
I think I’ll submit a draft PR by tomorrow to get some help on the socketIO
tab because I get mutation errors after placing it in vuex. Is that
alright?

On Wed, Oct 21, 2020 at 5:05 AM Liyas Thomas <notifications@github.com>
wrote:

[2020-10-21 12:35] liyasthomas commented on #1196
Sounds good, glad to help you.

[2020-10-21 13:12] debevv opened #1295 "`npm run build` does not generate the `./dist` folder"
**Describe the bug**
Running `npm run build` does not generate the `./dist` folder, as expected by following the `Releasing` section of the readme.
At the end of the build, this message is shown:
[code]
Running `npx nuxt generate` produces the `./dist` folder.
I attached a log of `npm run build`.
This happens on the current `master` but not on `v1.9.9`

**To Reproduce**
Steps to reproduce the beha

[2020-10-21 13:26] liyasthomas commented on #1295
Sorry for the incorrect command on **Releasing** section in `README`. It should've been `npm run generate`.

I'll be updating the `README` as soon as possible.

Refer: [Nuxt Commands Docs](https://nuxtjs.org/guide/commands)

[2020-10-21 13:26] #1295 closed

[2020-10-21 17:30] ChrisB85 commented on #1275
I have just upgraded my docker installation and it's working again :)

[2020-10-21 17:31] #1275 closed

[2020-10-22 00:44] onion-yz commented on #1273
thx

[2020-10-24 23:23] bolajiscott commented on #1002
is the testing still on?

[2020-10-25 00:59] Hum4n01d commented on #1104
Can confirm, I have the same issue (my account is connected through GitHub) even after signing out and back in, refreshing without cache and making a POST request to `https://httpbin.org/post` I still get this response:
![image](https://user-images.githubusercontent.com/17228477/97096525-9fc32e80-1622-11eb-93b8-54cb4394c36e.png)

[2020-10-25 01:01] liyasthomas commented on #1104
Does it happens only in `POST` request?

[2020-10-25 01:02] Hum4n01d commented on #1104
Nope, same thing with a GET request
![image](https://user-images.githubusercontent.com/17228477/97096558-0cd6c400-1623-11eb-8324-8d8fee8777e5.png)

[2020-10-25 01:02] Hum4n01d commented on #1104
Using the app logged out works fine though 🤔

[2020-10-25 01:05] liyasthomas commented on #1104
Goto hoppscotch.io > Settings > Account

Check if Collections, History and Environments are allowed to sync. If all are turned on, try turning it off and on again.

[2020-10-25 01:07] Hum4n01d commented on #1104
It was disabled for me but after turning it on and then flipping everything on and off again, the app appears to be working when signed in!

[2020-10-25 01:42] liyasthomas commented on #1002
@bolajiscott yes, testing is an ongoing process. Feel free to test em out and report issues.

[2020-10-25 09:33] Spriithy commented on #969
Any way you could bundle this ? It's pretty annoying to have to install something by hand

[2020-10-25 09:35] liyasthomas commented on #969
Do you mean bundle "as a installer"?

[2020-10-26 13:23] Spriithy commented on #969
Yeah, something like that. I'm using the docker image, but maybe a snap, deb package or something would be interesting

[2020-10-27 09:06] Tarrowren opened #1304 "pwa is not working"
This is the browser on my personal computer. Chrome  86.0.4240.111
![屏幕截图 2020-10-27 161819](https://user-images.githubusercontent.com/35626141/97277772-dba10280-1873-11eb-862a-0d0f79748467.png)

on my computer at work. Microsoft Edge 86.0.622.51
This computer used to have hoppscotch installed. I uninstalled the program, cleared the cache, and tried to reinstall, but had the same problem
![屏幕截图 20

[2020-10-27 09:18] liyasthomas commented on #1304
Possible duplicate of #419
Refer: https://github.com/hoppscotch/hoppscotch/issues/419#issuecomment-564321997

[2020-10-27 10:02] Tarrowren commented on #1304
edge works but chrome doesn't work offline

[2020-10-28 06:18] Tarrowren commented on #1304
I have cleaned everything, and tried with other computers, it still doesn't work.

[2020-10-28 06:20] liyasthomas commented on #1304
Seems to be the issue is persisting. Reopening issue to track and fix. Thanks for letting me know.

[2020-10-28 07:33] dgw commented on #1304
Inspecting the app manifest in Chrome's (86) dev tools shows a warning, Hoppscotch doesn't have a service worker. Apparently Chrome requires one, or it won't offer to install as a PWA.

[2020-10-28 11:48] liyasthomas commented on #1304
This issue seems to be raised with disabling Workbox support in commit: https://github.com/hoppscotch/hoppscotch/commit/2ccd053b0a757b0db59299c6e6207236e7f3ed20

[2020-10-28 11:54] liyasthomas commented on #1304
@dgw @Tarrowren can you confirm PWA is working in this deploy preview: https://deploy-preview-1306--hoppscotch.netlify.app
Just open the preview and see if you could install it as PWA.

[2020-10-28 12:16] dgw commented on #1304
@liyasthomas Yep, the install action is present in the deploy preview. Perhaps not super helpful vs. your own confirmation (I'm also testing with Chrome on Win10), but still!

[2020-10-28 12:19] #1304 closed

[2020-10-28 14:24] Tarrowren commented on #1304
Problem solved, thank you.

[2020-10-29 09:21] patidar-jaishree commented on #1190
Hey I want to pick code generator for C (LibCurl) ,please assign it to me

[2020-10-29 13:24] patidar-jaishree commented on #1190
#1307

[2020-10-30 06:39] liyasthomas commented on #1184
This issue has been fixed in #1194

[2020-10-30 06:39] #1184 closed

[2020-10-30 14:54] gigantik commented on #870
I'm wiling to start this feature, it'd be nice if anyone can give more context. On how we're going to track requests in Git repositories. For example; through Oauth2 and third-parties? I quite new to this service so please enlighten me.

Thanks 🥋

[2020-10-30 15:24] liyasthomas commented on #870
As of now, we've Oauth GitHub app used for signing in to Hoppscotch using GitHub. This could be extended to implement Collections sync. But I too haven't done this before. If you could be of help, I'm all in to implement this.

[2020-10-30 15:42] gempir commented on #870
That's not the point of a git integration. There should be zero oauth or authentication in general. The point is storing it in plaintext files that can be added to a git repository.

So ideally not binary blobs but nicely reviewable files something similar to `.rest` or `.http` files maybe https://www.jetbrains.com/help/idea/http-client-in-product-code-editor.html#creating-http-request-files

Alth

[2020-10-30 15:48] liyasthomas commented on #870
I'm seeking a GitHub app starter kit with the basic CRUD implementations on a user/organization repo.

[2020-10-30 15:51] gempir commented on #870
Could be a good feature aswell but not at all what the issue creator was asking for I think. Imagine a corporate environment without any access to github.

[2020-10-30 15:54] liyasthomas commented on #870
Well, almost all platforms (BitBucket, GitLab) etc has Oauth apps. I mentioned GitHub as a starting point for this feature. there's

[2020-10-30 15:57] gempir commented on #870
Yes but why go through all that trouble if storing files in plaintext in a specific folder could already solve most of the issues.

Let the user handle persisting and syncing. They could put it in Google drive or Dropbox if they wanted to. Or like we discussed s for repo.

All the app has to do is detect changes and update the UI accordingly

[2020-10-30 16:02] liyasthomas commented on #870
Got it. So whatever the platform of storage be (Google drive, Dropbox, Git repo etc), it's API access should allow us to sync data upon changes. A feature which sync collections irrespective of the choosen source.

@AndrewBastin wdys?

[2020-10-30 23:41] markusressel opened #1309 "Docker Volume mount to store Data externally"
Hi there,
I really like the project and would like to run it using Docker.
However, I always use volume mounts to store application externally (not inside the docker volume stuff), but there is no example of how to do that anywhere. I have found [this PR](https://github.com/hoppscotch/hoppscotch/pull/340) that claims to add a volume definition, but in fact doesn't.

Where does hoppscotch store its

[2020-10-31 00:36] liyasthomas commented on #1309
As of now, data sync is only available if you've been signed in with Google / GitHub. This is because at the time of writing sync feature, I went with Firebase Firestore DB — since I was using Firebase Auth. But now we're working on decoupling Firebase from the app and support multiple ways to enable users to load and sync collections from a file irrespective of its location (Git repo, Google Driv

[2020-11-01 02:28] AndrewBastin commented on #870
Well, I guess with the plans to update the store and global state system, we can figure out a way to emit a file.

But the actual challenge (Hoppscotch being a web app) is making and editing the files. The current web specs don't really implement a good solution for that. We can make the users download down a file, but not actually update and work with files in the background.

[2020-11-01 02:37] liyasthomas commented on #870
Well, i did a bg check on how apps like draw.io does this. They and lotta other web apps are making use of Native File API for local files. This works well in most browsers now.

https://web.dev/file-system-access
https://wicg.github.io/file-system-access
https://developer.mozilla.org/en-US/docs/Web/API/FileSystem

If there's a emited file, I guess incorporating File system solves saving it to loc

[2020-11-01 02:47] AndrewBastin commented on #870
@liyasthomas, pretty sure you checked the compat info for the `Filesystem` API. That is an old standard. But the new API is under an experiment flag for only Chrome.

https://caniuse.com/native-filesystem-api

[2020-11-01 02:48] liyasthomas commented on #870
I did, and we might need a legacy polyfill too, for implementing it as of now. 😁

[2020-11-02 12:24] liyasthomas commented on #1190
#### Hi hackers,

### Thank you so much for the all #Hacktoberfest contributions 🎃🎉

Keep contributing to open source 👋👋

[2020-11-02 12:24] #1190 closed

[2020-11-03 08:20] liyasthomas commented on #1309
I guess this issues can be addressed further in #870, hence closing.

[2020-11-03 08:20] #1309 closed

[2020-11-03 08:32] liyasthomas opened #1316 "Code snippets for Test scripts"
**Is your feature request related to a problem? Please describe.**
[Post Requests Tests](https://github.com/hoppscotch/hoppscotch/wiki/Post-Requests-Tests) enable us to write and run test scripts after response. As of now, there's no ready-to-use code snippets available for test cases.

**Describe the solution you'd like**
It would be great if there's a pool of code snippets or Test script with ge

[2020-11-05 08:01] vinayakavajiraya commented on #1148
As @ravieze mentioned, collections are emptied when we have a high latency or slow internet connection.

Steps to reproduce issue
1. Open Network in developers tools of a browser and set Good 2G under Thorttling (In Firefox)
2. Load Hoppscotch (user should be logged-in and should have collections synced)
3. Once the UI is loaded, create new collection before appearing of Synced collections.
4. Onl

[2020-11-05 19:19] jreffitt commented on #933
So what about the 'origin' header?  Seems important for security and it looked like I could use this tool to test a socket connection.  This doesn't work and without being able to set the headers in the test it will never work...  I am able to use node's SocketIO library to do this and my web ui example works.

[2020-11-05 23:54] liyasthomas commented on #933
As per [this](https://devcenter.heroku.com/articles/websocket-security#:~:text=The%20WebSocket%20standard%20defines%20an,other%20kind%20of%20network%20client.):

And per [this](https://stackoverflow.com/a/30144314):

So basically the WebSocket protocol doesn’t handle authorization or authentication. Practically, this means that a WebSocket opened from a page behind auth doesn’t “automatically” rec

[2020-11-05 23:54] #933 closed

[2020-11-09 19:49] eliamartani opened #1323 "Other toggles are closing Request toggle"
**Describe the bug**
If you open the toggles in a certain way it starts bugging the Request container and clicking other toggles will automatically open/close (the opposite behavior) the Request container.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on "Request" to close its toggle
2. Click on '"Request" again to open it
3. Click "Response" or "Parameters" toggle to bug it until "R

[2020-11-10 22:13] gigantik commented on #870
https://github.com/char0n/http-request-in-editor

[2020-11-11 19:45] eliamartani commented on #1323
If it helps here's what I did in order to fix it:
https://github.com/eliamartani/hoppscotch/commit/294de6aafc1ebd608761102cbc7157474fa618d4

[2020-11-12 02:02] #1323 closed

[2020-11-12 08:53] duanmq1994 opened #1328 "Inconsistent network status response"
**Describe the bug**
I used the latest hoppscotch run the 'GET' method of self-built JIRA rest api (http://jirahost:port/rest/api/2/issue/issuename), and hoppscotch return a NETWORK ERROR response, while the actually response was 200.
I tried postman and the response was correct.

**Desktop (please complete the following information):**
 - OS: windows 7
 - Browse: chrome
 - Version: 1.9.9

[2020-11-12 09:08] duanmq1994 commented on #1328
I cannot attached screenshots above, so I put them in this comment.
![issue-1](https://user-images.githubusercontent.com/44471341/98919344-a5b57c80-2509-11eb-87ed-d2657d042b2e.png)
![issue-2](https://user-images.githubusercontent.com/44471341/98919372-ac43f400-2509-11eb-9084-b5ad41010029.png)

[2020-11-12 09:15] liyasthomas commented on #1328
Install [Hoppscotch Browser Extension](https://github.com/hoppscotch/hoppscotch-extension) to access `localhost` and non-secured `http` endpoints.

Duplicate of #704 and #979

[2020-11-12 09:15] #1328 closed

[2020-11-15 13:42] levrik opened #1329 "Freeze of application when trying to enter query arguments in WebSocket URL"
**Describe the bug**

Typing `?` or `=` in WebSocket URLs cause freezes or let the whole application hang.

**To Reproduce**

Type a long URL as WebSocket URL. For example `ws://localhost:8000/ws/2f2dffb6-55e0-49b4-a879-8d2470dbed12`.
Now add a `?` to the end, you'll experience a freeze. Type a query argument name and try to enter `=`.
You'll experience a freeze again. I didn't wait this time sinc

[2020-11-17 08:43] arpanbag001 opened #1331 "Authentication not available for Websocket"
**Describe the bug**
Feature to authenticate Websocket connection is missing, even though the Readme file says Basic and Bearer authentications are available for Websocket.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Realtime page
2. Go to "Websocket" tab
3. Can't find any section to use authentication or to add custom headers.

**Expected behavior**
In the Websocket tab, there sho

[2020-11-17 12:01] liyasthomas commented on #1331
https://stackoverflow.com/questions/4361173/http-headers-in-websockets-client-api

WebSocket doesn't support custom headers nor Authorization.

Even though you can use Basic Auth (deprecated) in WebSocket URL input.

Ex:

[code]

[2020-11-17 12:05] #1331 closed

[2020-11-18 07:10] levrik commented on #1329
@liyasthomas Wondering why this is considered minor since I always have to pre-type the URL somewhere else and copy it to Hoppscotch now. And if you forget about this, completely freezing, going to Task Manager and killing the process, restarting, putting URL in again. This costs a lot of time.

[2020-11-20 13:00] yoerriwalstra commented on #1029
I feel a bit dumb for having to ask this, but what is the syntax for using environment variables in your URLs?

I have an environment with variable `base_url` in it, but I can't get my requests to work with it... I couldn't find any examples showcasing this feature, so I had to guess how it should work. I read the discussion in #147 which suggested that Hoppscotch would, like Postman, [support nun

[2020-11-20 13:03] liyasthomas commented on #1029
Ex: `<<variable_name>>`

Use environment variables enclosed in double angular brackets (<<>>) anywhere in request section.

[2020-11-20 13:13] yoerriwalstra commented on #1029
Thanks for the quick reply! And the awesome work you guys are doing :D

[2020-11-21 04:53] camsvn opened #1337 "Failed to load resource: the server responded with a status of 404 ()"
https://hoppscotch.io renders a white screen with the error mentioned below:
Failed to load resource: the server responded with a status of 404 ()

Issue happens only with 'chrome browser'.

Affected device:
Desktop's and Mobiles

![Hoppscotch](https://user-images.githubusercontent.com/39452708/99867797-d28d2200-2be2-11eb-972e-b8a3e4d4ec0e.png)

[2020-11-21 04:56] liyasthomas commented on #1337
Looks like it's an issue with cached URLs.

Try a force reload (Ctrl + Shift + R).

If it doesn't work, try clearing site's cache and do a force relod.

[2020-11-21 04:56] #1337 closed

[2020-11-23 01:57] suzhaoyong opened #1339 "add new Environments have Bug"
**Describe the bug**
I want create new Environments and click save button show Environment added but refresh website is none;

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://hoppscotch.io/'
2. Click on 'Environments -> New'
3. See error

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/26472847/99923799-59243980-2d72-11eb-9356-411265d9e

[2020-11-23 02:08] liyasthomas commented on #1339
Not reproducible here at my end.

Did you allowed Hoppscotch to sync Environments?
Check Settings > Account and see if Sync Environments are turned on.

[2020-11-23 03:05] #1339 closed

[2020-11-23 04:55] liyasthomas commented on #793
Just mentioning some references to a complete solution for this feature.

1. [Authenticate with Firebase in JavaScript Using a Custom Authentication System](https://firebase.google.com/docs/auth/web/custom-auth)
2. [Programmatically configure OAuth identity providers for Firebase Authentication](https://firebase.google.com/docs/projects/provisioning/configure-oauth)
3. [Samples: Sign In Firebase w

[2020-11-23 04:55] #793 closed

[2020-11-26 01:50] x-dongzi opened #1344 "Blocked by firefox if I send a request to an IP address."
When I use the domain name to send the request, it can succeed.
But if I change the domain name to the ip address, there would be a network error.
The browser is firefox 83.
I use F12 to check the console. It seems that the ip address request was blocked with the error message NS_ERROR_DOM_BAD_URI.
How could I send the request with IP address? Because in my local dev environment, I do not have the

[2020-11-26 02:00] liyasthomas commented on #1344
Thanks for reporting the issue. I'm looking into it.

[2020-11-26 02:43] x-dongzi commented on #1344
Sorry. I rechecked the details, and found that it's a CORS problem. After I enabled CORS request in my springboot website, it works very well.
I will close this issue.

[2020-11-26 02:43] #1344 closed

[2020-11-26 03:29] hariaakash opened #1345 "Duplicate request identifier"
**Describe the bug**
There are two keys to identify a request depending on where they are shown. It's called `name` in the collections listing whereas `label` in the request section.

**To Reproduce**
Steps to reproduce the behavior:
1. Simply create a collection with a request.
2. Select the request.
3. Check if the label in the request gets changed or not.

**Expected behavior**
Remove the dupli

[2020-11-26 18:15] hariaakash commented on #1329
This is an issue with the Regex test-taking more time to complete especially with special characters and hanging the tab. There are two ways to solve this IMO. Probably debounce can help the user enter the URL completely. Or when the user clicks on submit then test and throw error.

[2020-11-27 11:42] #1345 closed

[2020-11-29 21:14] carlos-ds opened #1347 "Language support for Dutch (Belgium)"
Hi,

First of all: great project! I currently work as a tester and it's great to see that there are open-source tools being built that can hopefully make my work easier and more effective. I'd like to contribute and have started off by adding a language file for Dutch (my native language) and I will open a pull request here.

Karel

[2020-11-29 21:16] carlos-ds commented on #1347
PR: https://github.com/hoppscotch/hoppscotch/pull/1348

[2020-11-29 21:45] carlos-ds opened #1349 "Number of tests displayed is invalid"
**Describe the bug**
The number of tests for a request, which is displayed in the tab label (after receiving the response), is invalid.

**To Reproduce**
Add following script as a test for a GET request:

`pw.test("Response is ok", () => {
    pw.expect(pw.response.status).toBe(200)
})`

**Expected behavior**
The label for the tests tab displays "Tests • 1"

**Screenshots**
![image](https://user-i

[2020-11-30 00:18] liyasthomas commented on #1349
Thanks for reporting the issue.

[2020-11-30 00:28] liyasthomas commented on #1347
Hi @carlos-ds , you also need to add your `i18n` entry to the `nuxt.config.js` file.

Read [Step #4 in i18n contribution guidlines](https://github.com/hoppscotch/hoppscotch/blob/main/TRANSLATIONS.md)

[2020-11-30 02:09] #1347 closed

[2020-11-30 02:36] liyasthomas commented on #1349
Number of tests makes no sense to me.

It would be better if we show the number of passed / failed test cases. Also there's an option to assert named tests,  nested test functions etc. So currently there's no way to accumulate a proper test case number.

I'm temporarily removing the test case number shown on the tab label. Will look into this is there's a request for this feature.

[2020-11-30 02:45] #1349 closed

[2020-11-30 05:27] connorwang opened #1352 "GraphQL doc search returns error"
TypeError: Cannot read property 'toLowerCase' of null
    at VueComponent.isTextFoundInGraphqlFieldObject (graphql.vue?c4f8:496)
    at eval (graphql.vue?c4f8:506)
    at Array.filter (<anonymous>)
    at VueComponent.getFilteredGraphqlFields (graphql.vue?c4f8:506)
    at VueComponent.filteredQueryFields (graphql.vue?c4f8:376)
    at Watcher.get (vue.runtime.esm.js?2b0e:4479)
    at Watcher.evalua

[2020-11-30 06:06] liyasthomas commented on #1352
Looks like this is an issue with either browser compatibility or service worker cached page.
Try these:

**Fix 1: Force reload.** <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>R</kbd> in Chrome.

**Fix 2: Clean cookies and cache. Reload.**

_If issues still persists, report your browser version, OS build etc. Kindly use the bug template for reporting issue._

[2020-11-30 06:11] connorwang commented on #1352
Tried both incognito mode and with cleared cookie. Still having same issue.
Here is the browser information
CHrome - Version 86.0.4240.198 (Official Build) (64-bit)

[2020-11-30 06:13] liyasthomas commented on #1352
Are you using the `latest ` tag?

[2020-11-30 06:13] connorwang commented on #1352
Here are all the docker-compose logs from the latest deployment

web_1  | > hoppscotch@2.0.0 predev /app
web_1  | > node build.js --dev
web_1  |
web_1  |
web_1  | > hoppscotch@2.0.0 dev /app
web_1  | > nuxt
web_1  |
web_1  | ℹ Using Tailwind CSS from ~/assets/css/tailwind.css
web_1  | ℹ Merging Tailwind config from ~/tailwind.config.js
web_1  | ℹ Listening on: http://172.19.0.2:3000/
web_1  | ℹ Pr

[2020-11-30 06:16] connorwang commented on #1352
We used the Dockerfile comes with the repo. It's a plain vanilla alpine 12.10.0.

[2020-11-30 06:30] connorwang commented on #1329
We're having same issue.

[2020-11-30 14:21] AndrewBastin commented on #1329
Yeah. As @hariaakash pointed out, a good solution for this would be to debounce the check. But it may still freeze out. So I was thinking of a way to run tests asynchronously or atleast in a non-blocking way so the UI doesn't freeze up during the test (web worker ? custom logic which splits test work to smaller tasks ran during free time ? etc.)

But I think debouncing would be a good start. If an

[2020-11-30 14:29] hariaakash commented on #1329
I have fixed this, will make a PR @AndrewBastin

[2020-11-30 16:46] levrik commented on #1329
@AndrewBastin I'm a bit confused why the regex is required at all in this tab. Other tabs don't hang on the same URL so it seems that they don't run this regex. What's the difference between the tabs?

[2020-11-30 17:26] liyasthomas commented on #1352
I can confirm this issue is happening only for endpoints which has `mutations`. Fixing this ASAP.

[2020-11-30 18:15] #1352 closed

[2020-11-30 18:25] liyasthomas commented on #1329
Regex is basically used in all tabs/pages to validate the input URL. In the case of WebSocket, it validates URL for ws/wss.

[2020-11-30 18:32] levrik commented on #1329
@liyasthomas I see but I don't really get why it is slowing down so much. Shouldn't checking for `ws://` or `wss://` at the beginning of the string be enough in this case?

[2020-11-30 19:43] carlos-ds commented on #1316
@liyasthomas I'd like to work on this if that's ok with you. But I'm not sure if you are talking about updating [Post Requests Tests](https://github.com/hoppscotch/hoppscotch/wiki/Post-Requests-Tests) with more examples or whether you are talking about incorporating examples into the application itself?

[2020-11-30 22:11] carlos-ds opened #1353 "Add more test methods"
I'd like to add some more built-in assertion methods to the tests section because that is currently limited to:

- toHaveProperty
- toBe
- toBeLevel2xx
- toBeLevel3xx
- toBeLevel4xx
- toBeLevel5xx

I'm thinking about adding at least:

- toHaveLengthOf
- toBeOfType

I'd also write some tests for both these methods and the currently existing methods.

Let me know if you have more ideas or remarks ab

[2020-11-30 22:27] liyasthomas commented on #1316
I was menrioning about adding ready-made script snippets for general testing purposes so that users don't have to write the testing script by themselves. Also I see you've already opened a gesture request to add more protocols to testing property in #1353 which is really appreciated. That's a good opportunity there.

[2020-11-30 22:30] liyasthomas commented on #1353
Thanks for bringing this up. These are some essential additions. The testing part of Hoppscotch can be increased a lot more and have unmet potentials.

[2020-12-01 08:04] jadczakd commented on #933
I would like to drop my 3 cents on that.
With modern cloud environments ( I am talking about AWS api gateway specifically here) there's exactly the kind of magic necessary happening to pass the headers in.
Besides Authorization is not the only thing the headers can be used for. Imho there should be a way to define custom headers on connection. The other requests don't really need it as it's more o

[2020-12-01 12:15] liyasthomas commented on #1329
@levrik can you confirm this deploy preview solves this issue.

Deploy preview: https://deploy-preview-1354--hoppscotch.netlify.app/realtime

[2020-12-01 15:51] #1329 closed

[2020-12-01 18:07] carlos-ds opened #1356 "Keyboard shortcut for "Reset request" is not working in Chrome"
Current shortcut for "Reset request" is CTRL + L, however that is already an active shortcut in Chrome (on Windows only?) for selecting the address bar. The other shortcuts all seem to work as expected.

![image](https://user-images.githubusercontent.com/20499950/100779212-54adef80-3408-11eb-9cc5-1cecc685356b.png)

[2020-12-01 21:14] carlos-ds commented on #1353
PR: #1357

[2020-12-02 01:27] liyasthomas commented on #1353
Resolved in #1357.

[2020-12-02 01:27] #1353 closed

[2020-12-02 02:09] liyasthomas commented on #1356
Thanks for reporting the issue. We're looking into fixing it ASAP.

[2020-12-02 04:55] #1356 closed

[2020-12-02 04:57] liyasthomas commented on #1356
Reset request shortcut changed to <kbd>Ctrl</kbd> + <kbd>I</kbd>

[2020-12-02 12:50] anunay1 opened #1360 "[Questions]"
Can I use my existing jmx files for testing?
Can the test results be integrated with azure?

[2020-12-02 13:00] liyasthomas commented on #1360
No. You need to write tests tailored for Hoppscotch.

API isn't supported yet. So, no CI/CD pipelines support as of now.

[2020-12-02 13:00] #1360 closed

[2020-12-04 10:27] liuxueyiTest commented on #704
how to do ?

[2020-12-04 10:36] liyasthomas commented on #704
[`CORS`](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS) is a security mechanism imposed on API endpoints. Its easily discoverable from the developers side. You can simple try hitting the endpoint from Hoppscotch.io and if there's no issue, and you got `Okay 200` response, then it doesn't have CORS. If API response got any error, check console to know where it's due to CORS restrictions. Y

[2020-12-04 10:42] liuxueyiTest commented on #704
&nbsp;thank you very much.
Could&nbsp;you tell me how to turn off the cros ？I am is tester。&nbsp;I would appreciate it if you could give me some advice at your convenience.
&nbsp;
------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"Liyas Thomas"<notifications@github.com&gt;;
Date: &nbsp;Fri, Dec 4, 2020 06:36 PM
To: &nbsp;"hoppscotch/hoppscotch"<hoppscotch@noreply.github.com&gt;;

[2020-12-04 10:45] liyasthomas commented on #704
https://stackoverflow.com/questions/3102819/disable-same-origin-policy-in-chrome

[2020-12-04 11:05] liuxueyiTest commented on #708
![image](https://user-images.githubusercontent.com/75476346/101156513-ae5e2600-3663-11eb-994a-1a93a4750673.png)

[2020-12-04 11:11] liyasthomas commented on #708
Install browser extension. Links are in README.

[2020-12-04 11:21] liuxueyiTest commented on #704
Thank you very much for your help.Hoppscotch is installed to my local computer, which is the same computer as my browser.According to your information, There is something wrong with my Browser extension.
&nbsp;
&nbsp;

------------------ Original ------------------
From: &nbsp;"Liyas Thomas"<notifications@github.com&gt;;
Date: &nbsp;Fri, Dec 4, 2020 06:45 PM
To: &nbsp;"hoppscotch/hoppscotch"<hopps

[2020-12-04 12:23] liuxueyiTest commented on #704
Why can't My self-installed server show Extension Version.&nbsp;Could you please tell me where I am wrong? If you are convenient, please guide me.

&nbsp;
&nbsp;
------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"刘学义"<liuxueyi@xsyxsc.com&gt;;
Date: &nbsp;Fri, Dec 4, 2020 07:21 PM
To: &nbsp;"hoppscotch/hoppscotch"<reply@reply.github.com&gt;;

Subject: &nbsp;Re: [hoppscotch/hoppsc

[2020-12-04 13:00] liuxueyiTest commented on #704
如果我访问我本地的自己部署的 hoppscotch 意思我要自己弄个浏览器扩展。

[2020-12-07 05:55] liuxueyiTest commented on #1002
我在的本地安装部署的，点击login 没有任何反应。不能实现接口的共享。

[2020-12-07 06:01] liyasthomas commented on #1002
@liuxueyiTest is there any errors in console logs?

[2020-12-07 06:04] liuxueyiTest commented on #1002
&nbsp;
&nbsp;I click login, and then I pop up a box, and then it's gone.

------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"Liyas Thomas"<notifications@github.com&gt;;
Date: &nbsp;Mon, Dec 7, 2020 02:01 PM
To: &nbsp;"hoppscotch/hoppscotch"<hoppscotch@noreply.github.com&gt;;
Cc: &nbsp;"刘学义"<liuxueyi@xsyxsc.com&gt;; "Mention"<mention@noreply.github.com&gt;;
Subject: &nbsp;Re: [ho

[2020-12-08 20:15] rluvaton opened #1369 "Install in isolated network"
Is there a way to use this in a private network without a connection to the outside world?
I know there is a PWA but I don't think you can install it on another computer cause it's not really an app.

[2020-12-09 00:44] liyasthomas commented on #1369
As of now there's no standalone production app other than PWA. That being said, you can try [Installing in local development environment](https://github.com/hoppscotch/hoppscotch#local-development-environment) or [from Docker](https://github.com/hoppscotch/hoppscotch#docker) to setup a isolated instance of app in development environment.

[2020-12-09 00:44] #1369 closed

[2020-12-09 04:24] liyasthomas commented on #870
Users logged in with `GitHub` can now create secret gist of their Collections and Environments. Also allows importing both from a gist URL.

[2020-12-09 16:03] patrickhuijten opened #1371 "Extra headers on websocket requests"
**Is your feature request related to a problem? Please describe.**
In the project I'm working on we use a reverse proxy to connect to a socket.io server, however this requires a header to be sent. With Hoppscotch I can't send headers along with websocket requests.

**Describe the solution you'd like**
Ability to send headers along with websocket requests, just like the regular REST requests.

**De

[2020-12-09 16:07] liyasthomas commented on #1371
Oh, we had a detailed discussion on this feature in #933 - https://github.com/hoppscotch/hoppscotch/issues/933#issuecomment-722711714 and in #3062

[2020-12-10 08:27] guettli opened #1376 "Better error message for first-time-users: No 'Access-Control-Allow-Origin' header is present"
**Is your feature request related to a problem? Please describe.**

I try to execute my first GET request and get this result:

![image](https://user-images.githubusercontent.com/414336/101740755-89393f80-3ac9-11eb-896b-eca0a7a85013.png)

I think the first-time-user experience could get improved here.

The hint to F12 vanishes soon, and I think accessing the error message via F12 is not a nice sol

[2020-12-10 08:30] liyasthomas commented on #1376
Makes sense. Toast is too small to be noticed. I appreciate if you can suggest a better way to enhance error state ux?

[2020-12-10 10:18] yhnavein opened #1377 "Too much permissions for GitHub Auth"
**Describe the bug**
When you want to authenticate with GitHub there is definitely too much permissions being requested. Giving WRITE access to all of my repositories and gists (public and private) is a big no-no. It's potentially a security issue.

**To Reproduce**
Steps to reproduce the behavior:
1. From the browser: Go to https://hoppscotch.io
2. Click on Login with Github
3. OAuth screen from

[2020-12-10 10:33] liyasthomas commented on #1377
#@yhnavein well, that's certainly not the case. Since #1367 you can now sync collections and environments with your gist. In near future we're also going to add syncing with repositories. And this feature is only active for users who've signed in with GitHub. So that explains why Hoppscotch GitHub OAuth app requires gist and repo permissions. Since you raised this concern, I'll turn off repo permi

[2020-12-10 10:43] #1377 closed

[2020-12-10 14:22] AndrewBastin commented on #1376
Umm, we could improve the error UX. But the problem we are facing is that browsers don't let the full details of the network error to be given to the scripts. As far as the script is concerned, we are only given a "Network Error" message and it is pretty generic and is thrown for every network related issue, not only the one you mentioned as an example.

Since we can't exactly know what went wrong

[2020-12-11 19:20] carlos-ds commented on #1316
@liyasthomas I reviewed and updated the [Wiki page regarding testing](https://github.com/hoppscotch/hoppscotch/wiki/Post-Requests-Tests). I committed the changes directly since I read that pull requests aren't supported for Wiki pages. Could you review and let me know if it's ok?

[2020-12-11 19:25] carlos-ds commented on #1356
@liyasthomas I also updated the [documentation regarding keyboard shortcuts](https://github.com/hoppscotch/hoppscotch/wiki/Shortcuts) to now show Ctrl + I

[2020-12-11 20:19] NBTX commented on #1376
This isn't a general solution for any CORS policy - but it would allow us to figure out perhaps if we need to show a full-page dialog prompting them to install the browser extension or enable the proxy.

We could perhaps set up an API route that works in every way except by having an Access-Control-Allow-Origin policy to a random domain. That way we could test by first requesting a 204 to some dom

[2020-12-11 23:45] liyasthomas commented on #1316
@carlos-ds looks good to me. Thanks.

[2020-12-12 19:40] olsonjeffery opened #1381 "hoppscotch fails on page load with ERROR in ./assets/md/docs.md"
**Describe the bug**
Hoppscotch fails to load/initialize with below error. I'm not doing dev on hoppscotch and have a clean clone of the repo that I run with docker-compose. Previously worked, but stopped after I did a `git pull`. Tried nuking/recloning repo, but get the same results.

**To Reproduce**
Steps to reproduce the behavior:
1. Windows 10, running chrome
2. clean clone of `hoppscotch/hop

[2020-12-12 23:36] liyasthomas commented on #1381
Seems like an issue with installing `raw-loader`.
Cnn you try deleting `node_modules` and run `npm i` before `docker-compose`.

[2020-12-13 05:03] uninstallHahaha opened #1382 "The request is sent correctly, but receive "Error: Network error" on the web page"
**Describe the bug**
The request is sent correctly, but receive "Error: Network error" on the web page

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone [this project]`
2. `npm install`
3. `npm run build`
4. `cd ./dist`
5. `npm run dev`
6. visit `localhost:3000` on the browser
7. open debug mode by F12
7. send test request with URL
8. receive "Error: Network error" on the web page
9

[2020-12-13 05:08] liyasthomas commented on #1382
For development environment steps 3 and 4 isn't required.

[2020-12-13 05:08] #1382 closed

[2020-12-13 17:20] olsonjeffery commented on #1381
I went to the root of my hoppscotch clone and there was no `node_modules`, so I did `npm i` and then brought it back up with `docker-compose up -d`. No change :/

[2020-12-13 21:58] mulka opened #1383 "Support for Cookies"
**Is your feature request related to a problem? Please describe.**
I don't see a way to add cookies to requests. I'm using a session cookie to authenticate to an API, but I don't see a way to add a cookie to a request in Hoppscotch

**Describe the solution you'd like**
I'd like to have a place to put cookies so they can be sent with every request to an API in Hoppscotch

**Describe alternatives yo

[2020-12-13 22:07] AndrewBastin commented on #1383
Umm, we have thought about this.

But the problem we are facing is that since Hoppscotch runs on the browser, we are faced with limitations which are set on the platform. Browsers currently don't provide an API that lets us set cookies for requests for security reasons (we can set for the cookies in a document space ofc, but not for XHRs).

[2020-12-13 22:47] mulka commented on #1383
Gotcha. I wonder how Postman does cookies

[2020-12-14 05:32] #1316 closed

[2020-12-14 21:04] AndrewBastin commented on #1383
Postman can take advantage of the fact that it is running natively (it is an Electron app) which allows it to use the native APIs which do provide cookie support.

[2020-12-14 22:37] cyberfox1 opened #1387 "Hoppscotch does not host under path like /hoppscotch"
Get a bunch of errors about expecting various JS files to be at root level. Why.

[2020-12-14 22:38] liyasthomas commented on #1387
Can you tell a bit more about the issue? May be use the issue template. It might help.

[2020-12-14 22:44] cyberfox1 commented on #1387
What more do you want to know?

[2020-12-15 08:21] guettli commented on #1376
@AndrewBastin this is new to me. The script just gets "NetworkError" without a message? Hmm let's focus on this. How could this be changed? Of course this is not an issue of hoppscotch any more, but on the other hand we could make life easier for thousand developers. Who could help here?

[2020-12-15 09:06] liyasthomas commented on #1387
@cyberfox1

What were the errors?

[2020-12-15 12:11] AndrewBastin commented on #1376
I don't think we have any other ways to get it from a browser request stand point.

The solution provided by @NBTX sounds great. But I don't really encourage it because of security concerns and the user not knowing that request is being ran on the background through a proxy.

[2020-12-16 11:17] #1387 closed

[2020-12-21 16:44] carlos-ds opened #1396 "toBeLevelxxx() test functions are broken"
I was working on writing some more unit tests for the test functions in the application. And in the process of doing so, I discovered that the function for toBeLevel2xx() and similarly toBeLevel3xx(), toBeLevel4xx(), toBeLevel5xx() aren't working as expected.

Sticking to toBeLevel2xx(): given a 200 response status, it's indicating FAIL for the simplest of assertions:

![image](https://user-images

[2020-12-21 16:54] liyasthomas commented on #1396
Thanks for noticing this issue and quick PR 🚀

[2020-12-21 17:12] #1396 closed

[2020-12-21 20:16] AndrewBastin commented on #1396
Also a wonderful reasoning for why tests are important 🙃

[2020-12-23 14:20] MatanAmoyal opened #1399 "CORS header missing"
Hello,

I installed the latest docker version of hoppscotch (release on 22.12.20) and i installed it in my laptop and in k8s.
The UI is working, and the request example (https://httpbin.org/get) is working..

but when i'm trying to do another request to my app, it failed on CORS header missing..

 i tried to add Access-Control-Allow-Origin: * to header without success.
Also tried to installed the

[2020-12-23 14:41] liyasthomas commented on #1399
`Access-Control-Allow-Origin` is a response header, not a request header. You should enable it from your apps side (server side).

[Stack Overflow reference](https://stackoverflow.com/a/10636765)

Under normal circumstances `CORS` issues can be fixed by either browser extension or turning on the `Proxy mode` from [Settings](https://hoppscotch.io/settings).

Let me know if you still have issues wit

[2020-12-23 14:44] #1399 closed

[2020-12-29 03:30] bee22193 commented on #754
#753 #1388

[2020-12-30 12:59] savy-91 commented on #1159
I am experiencing this with the current v1.9.9 version online, both on latest Chrome and Firefox browser. I am unable to import any curl command while it does not show any error.

[2020-12-30 13:01] liyasthomas commented on #1159
Thanks for reporting the issue. We're checking what's causing this behaviour.

[2020-12-30 13:02] savy-91 commented on #1159
I just noticed that I am getting this error in console

![image](https://user-images.githubusercontent.com/6215122/103352864-b2853400-4aa7-11eb-99e6-9169c950e80e.png)

[2020-12-30 13:07] liyasthomas commented on #1159
Looks like this is caused by a recent refactor. I'm pushing a fix now. Fix will be live in about 5 mins.

[2020-12-30 13:18] liyasthomas commented on #1159
Issue has been fixed. Force refresh to take effect.

[2021-01-01 10:33] mnixry opened #1406 "Add import option of OpenAPI json/yaml"
**Is your feature request related to a problem? Please describe.**
Some framework such as `fastapi` generated a `openapi.json`. I want to import this easily to hoppscotch

**Describe the solution you'd like**
Add a option to make import OpenAPI file possible

**Additional context**
related with #1182

[2021-01-01 10:37] liyasthomas commented on #1406
Duplicate of #1182 hence closing.
Don't create duplicates of existing feature request.

[2021-01-01 10:37] #1406 closed

[2021-01-03 18:36] carlos-ds opened #1409 "TypeError is returned when logged in"
When logged in (in my case via Google), clicking on "Send request" returns a type error.

[code]

![image](https://user-images.githubusercontent.com/20499950/103485666-59dfcf00-4df8-11eb-97e0-8970c7042a50.png)

After logging out and making the exact same request, the response is what I expected.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Chrome

[2021-01-03 18:43] carlos-ds commented on #1409
This seems to be pointing at the `if (fb.currentSettings[0].value)` (and [1], [2]) statements, where it can't access `value` since `currentSettings` is undefined. Probably because I don't have any settings yet? I'm not familiar with the Firebase internals.

As an example from collection.vue on line 134:

[code]

I suspect it would be best to change it to:

[code]

I have tested this locally and it

[2021-01-03 22:11] AndrewBastin commented on #1409
I can't find a way to replicate this. Is it happening everytime after you login ?

[2021-01-04 00:33] liyasthomas commented on #1409
@ccarlos-ds this is exactly due to your Settings being empty. This happened when you don't turn on sync in settings. I liked your suggestion on abstracting if statements of helper functions feel free to open a PR — meanwhile I'll just fix this by checking existence of Settings key as you mentioned in the example.

[2021-01-04 01:08] #1409 closed

[2021-01-04 01:10] liyasthomas commented on #1409
@carlos-ds let me know if this issue still persist. Do a force refresh before testing.

[2021-01-04 05:42] carlos-ds commented on #1409
@liyasthomas yes, this seems to be fixed now. I'll have a look at abstracting the if-statements next week.

[2021-01-07 22:01] amaothree opened #1417 "Hope to support STOMP testing."
**Is your feature request related to a problem? Please describe.**
The normal websocket testing can not test the STOMP endpoint/URL.

**Describe the solution you'd like**
just add a subpanel in the websocket page

**Describe alternatives you've considered**
No more useful tools can help me to test STOMP, i am using apic.app but still not easy.

**Additional context**
What is STOMP? http://stomp.gi

[2021-01-08 16:13] liyasthomas commented on #1417
As of now we've not planned to implement `STOMP` endpoint support - since there's no enough requests for this feature. Even though We'll keep an eye out for this request.

[2021-01-08 16:13] #1417 closed

[2021-01-11 04:18] nathanielread opened #1423 "Proxy server works in the url but not if in the settings"
I setup my own docker based proxy server. When I put the proxy server url into the hoppscotch request url, it works. Example:
https://cors.website.com/https://google.com

When I put the proxy server url (https://cors.website.com/) in the proxy config of hoppscotch and leave it out of the request url, it gives me this error:
[code]

I'm running hoppscotch in docker, manually build through the Docke

[2021-01-11 05:01] liyasthomas commented on #1423
In Settings > Proxy, under the hood Hoppscotch uses a [custom proxy server](https://github.com/hoppscotch/proxyscotch). You can build it and host it on your own to use it along with any Hoppscotch instances. Instructions can be found at [hoppscotch/proxyscotch](https://github.com/hoppscotch/proxyscotch). Also there's a docker container available: https://hub.docker.com/r/hoppscotch/proxyscotch.

[2021-01-11 19:46] nathanielread commented on #1423
Yes, I built my own, not based on proxyscotch, though.
I built it based on this one: https://hub.docker.com/r/redocly/cors-anywhere

And when I put that proxy server url in the hoppscotch settings, it doesn't work. Is that because only the proxyscotch server works in that config?

[2021-01-12 00:27] liyasthomas commented on #1423
Yes

Hoppscotch Proxy mode is tailored to work only with Proxyscotch. Alternatively you can install it browser extension to bypass CORS restrictions.

[2021-01-12 00:27] #1423 closed

[2021-01-12 02:52] nathanielread commented on #1423
Thanks! I pulled the docker image, put it behind jwilder nginx-proxy and the proxy settings in hoppscotch works.
Any advice on setting a proxyscotch token in docker-compose? Env variable?

[2021-01-12 03:03] liyasthomas commented on #1423
As per [Proxyscotch Docs](https://github.com/hoppscotch/proxyscotch#servers-),

I'm not a docker expert 🙏 but you can find a way to pass env variables in docker compose from [here](https://docs.docker.com/compose/environment-variables/) and [here](https://stackoverflow.com/questions/29377853/how-to-use-environment-variables-in-docker-compose).

[2021-01-12 14:55] cddm13 opened #1425 "Environment vars not working"
**Describe the bug**
Fails to set a value to env var when using an endpoint.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new environment "Development"
2. Create a new env var called "bearerToken" and set initial value as "initial"
3. In the Test tab of the request `pw.env.set("bearerToken", "aNewToken");` I've also tried with `pw.environment.set("bearerToken", "aNewToken")` and

[2021-01-12 15:20] liyasthomas commented on #1425
You cannot set an environment variable from `Tests` script - this feature is not available.  Tests are for verifying your API responses only - [read how](https://github.com/hoppscotch/hoppscotch/wiki/Post-Request-Tests).

To add environment variables you can either write a [`Pre-request script`](https://github.com/hoppscotch/hoppscotch/wiki/Pre-Request-Scripts) or use "Environments" tab in the sid

[2021-01-12 17:06] cddm13 commented on #1425
In that case, how can I set my environment variable "bearerToken" to = a property of the response (data.token) after this request is completed? because what I want is perform login and then assign that token value into my "barierToken" env that is used in another endpoint on which I need to be authenticated

[2021-01-12 17:11] liyasthomas commented on #1425
Since this involves making two requests, adding token from first response to environment should be a manual process. Also you can make use of Authentication section to mention Bearer token after fetching the token first.

[2021-01-12 22:22] torrayne opened #1426 "Sending same multiple request on send"
**Describe the bug**
Every time I click send it sends 3 requests.

**To Reproduce**
Click send

**Expected behavior**
Only send one request when you click send

**Desktop (please complete the following information):**
 - OS: Pop!_OS 20.10
 - Browser Firefox
 - Version 84.0.2

**Additional context**
It's not just on my local machine. Sending request to public domains sends 3 requests.

[2021-01-12 22:26] AndrewBastin commented on #1426
@djatwood Do you have the extension installed ?

[2021-01-12 22:54] djatwood commented on #1426
Yes

[2021-01-12 22:55] liyasthomas commented on #1426
@djatwood are you mentioning [pre-flight](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request) request?

[2021-01-12 22:57] djatwood commented on #1426
No, it's sending 3 full request. When testing a form it sends 3 POST requests and creates 3 submissions.

[2021-01-13 01:54] liyasthomas commented on #1426
An issue has been identified with our browser extension which is making multiple requests (~3) at once. We're working on a fix. Will update ASAP.

[2021-01-13 02:50] AndrewBastin commented on #1426
Umm, the fix should be live in Firefox!
Please update your extension (it should auto update tho)

And then please ping back if it persists.

[2021-01-13 03:09] djatwood commented on #1426
I done a tiny bit of testing and it looks like it's fixed. I'll do some real testing tomorrow morning.

[2021-01-13 06:57] ziaulrehman40 commented on #580
Following this issue for long time, eagerly waiting for this thing.

[2021-01-13 16:50] #1425 closed

[2021-01-13 16:53] #1381 closed

[2021-01-13 16:56] #1371 closed

[2021-01-14 01:38] AndrewBastin commented on #1426
@djatwood is it fixed ?

Closing meanwhile

[2021-01-14 02:08] djatwood commented on #1426
I haven't had it happen again since the update

[2021-01-16 15:49] yashu2001 commented on #1182
@liyasthomas I'm new here but would like to try my luck on adding this feature could you please guide me on how to get started.
Thanks

[2021-01-16 17:29] liyasthomas commented on #1182
@yashu2001 yes sure. I'd love to help you out with this feature. Feel free to join any one of our communication channel on [Telegram](https://t.me/hoppscotch) or [Discord](https://discord.gg/GAMWxmR) and ping me.

[2021-01-17 08:58] tttao7 commented on #580
Me too !!!

[2021-01-19 08:03] KyyB opened #1429 "CVE API"
Hi Team,

I'm trying to create an api using the Hoppscotch, where it downloads multiple CVEs from various sources (NVD, MITRE etc.), but I was unsuccessful. Is this possible? If yes, then how?

[2021-01-19 08:19] liyasthomas commented on #1429
You can't create APIs using Hoppscotch. Hoppscotch allows you to test your already made APIs.

[2021-01-19 08:19] #1429 closed

[2021-01-20 02:51] liyasthomas commented on #1182
Duplicate of #470 hence closing. Discussions will continue in the original thread.

[2021-01-20 02:51] #1182 closed

[2021-01-21 04:36] liyasthomas opened #1430 "**Teams**"
Allow users to collaborate with their teams through Teams. Using this feature, users can easily collaborate and share collections, environments, history and more.

---

- Front-end: 90%
  - [ ] Create team / member
  - [ ] Edit team / member
  - [ ] Delete team / member
  - [ ] Permissions (read, write)

- Logic and back-end: 10%
  - [ ] API bindings

- Duration: ~60 hours

[2021-01-21 04:36] #1430 closed

[2021-01-22 00:08] kotx opened #1435 "Provide a visual editor for JSON/KV request bodies"
**Is your feature request related to a problem? Please describe.**
Users cannot send JSON to an endpoint if the endpoint requires numbers to be JSON numbers. Currently Hoppscotch serializes all parameters as JSON strings.

**Describe the solution you'd like**
User input:
![image](https://user-images.githubusercontent.com/33439542/105427778-c03f5c80-5c02-11eb-8bb6-17435e08f742.png)
Expected behavio

[2021-01-22 06:26] liyasthomas commented on #1435
This is not a convenient way.

On the other hand, raw request body is especially made to address this issue. Let me know why raw request body is less convenient for you.

[2021-01-22 23:31] kotx commented on #1435
The process would be faster if the parameters were synchronized between raw and normal request bodies. Currently I have to rewrite the JSON entirely, unless that's a bug.
Also, autodetection seems much more convenient than editing a raw request body. There aren't many edge cases where the server only accepts a number (or some other type) as a string AFAIK.

[2021-01-23 17:35] oshhh opened #1437 "Code generation feature encodes parameters twice"
**On entering a parameter containing a space the space is encoded as "%2520" instead of "%20" because of being encoded twice**
On the main page while generating a cURL code for a get request, if a parameter contains a space the code generated contains "%2520" as the encoding of the space instead of "%20" because of being encoded twice (" " => "%20" => "%2520").

**To Reproduce**
Steps to reproduce

[2021-01-23 18:56] oshhh commented on #1437
A small 2 liner fix I propose: https://github.com/oshhh/hoppscotch/commit/1e19bbc51a0fca259a57dee1d87cbc9a63c79b34

[2021-01-24 02:09] liyasthomas commented on #1437
Thanks for noticing this issue. It was not only effecting `cURL` but also all other frameworks / languages in codegen. A fix is on the way.

[2021-01-24 02:13] #1437 closed

[2021-01-25 05:18] liyasthomas opened #1442 "Show response size"
Show response size (in bytes) near response time.

[2021-01-26 04:00] 2Dews commented on #874
@raha1923 would love to have implicit grant type. Any chance you could push your work as a branch, even if its not finished?

[2021-01-28 22:15] LeanKhan opened #1449 "TypeError: Cannot read property 'timeData' of undefined when I try to send a request"
**Describe the bug**
I can't send requests. I am getting "TypeError: Cannot read property 'timeData' of undefined (press f12 for details)" when I hit "send".
I got this from the Console:
TypeError: Cannot read property 'timeData' of undefined
    at b0b09fe.modern.js:1
    at Generator.next (<anonymous>)
    at r (1322bd1.modern.js:2)
    at l (1322bd1.modern.js:2)

**To Reproduce**
Steps to repro

[2021-01-28 23:31] AndrewBastin commented on #1449
@LeanKhan are you using the browser extension ? Have you enabled the proxy ? If you are using the extension, what is the version number.

[2021-01-28 23:39] LeanKhan commented on #1449
No I'm not using the browser extension and not using a proxy. Just plain
website

On Fri, 29 Jan 2021, 00:31 Andrew Bastin, <notifications@github.com> wrote:

[2021-01-29 00:30] AndrewBastin commented on #1449
Hmm interesting.

I can't seem to reproduce the bug from my end.

But I will have a look into what the issue might be

@liyasthomas Axios Strategy issues ?

[2021-01-29 00:39] liyasthomas commented on #1449
I can't reproduce this issue from my end too.

[2021-01-29 02:17] liyasthomas commented on #1449
@LeanKhan
An issue with Proxy mode has been identified. We're working on a fix now. Please turn off Proxy mode from [Settings](https://hoppscotch.io/settings). Let me know if the issue still exists when proxy turned off.

[2021-01-29 20:38] oshhh opened #1450 "Autofill options UI bug"
**Describe the bug**
On autoselecting a parameter value based on previous input, the white div of the selected value remains on the screen.

**To Reproduce**
Steps to reproduce the behavior:
1. Add parameter value 'val'.
2. Erase the parameter value.
3. Type 'v' in the parameter value box
4. From the autofill options select 'val'.
4. See error

**Expected behavior**
The white div should vanish.

*

[2021-01-29 20:45] oshhh opened #1451 ""<<" and ">>" surrounding a path parameter encoded on saving to collection"
**Describe the bug**
On saving a request to a collection, it gets encoded. "<<" and ">>" around path_parameters also get encoded and hence a saved request is not usable directly if it contains path parameters.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request with URL "https://url.com/<<parameter>>" and create a path parameter.
2. Save request to a collection.
3. Now open the

[2021-01-29 21:00] oshhh opened #1452 "On updating the value of a path parameter the API request is not updated."
**Describe the bug**
Un changing the value of the path parameter, the request is not updated and on sending the request, the request goes according to the previous value of the path parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a request containing a path parameter and set the parameter value to val1.
2. Send request.
3. Change the value of the path parameter.
4. Send the

[2021-01-29 21:41] #1450 closed

[2021-01-30 01:08] liyasthomas commented on #1451
Thanks for noticing that issue.